<?php $found = 0; ?>
{{loop $orders $order}}
<?php
if ($status != -1
    && (($status != ORDER_STATUS_SHIPPED && $status != $order['Order']['status'])
        || ($status == ORDER_STATUS_SHIPPED
                && (($order['Order']['status'] != ORDER_STATUS_RECEIVED || $order['Order']['is_comment'] == ORDER_COMMENTED) && $order['Order']['status'] != ORDER_STATUS_SHIPPED)))) {
       continue;
    }
$found ++;
$brand = $brands[$order['Order']['brand_id']];
?>
    {{if !empty($order_carts[$order['Order']['id']])}}
        <div class="order_item_{{$order['Order']['id']}}">
            <dl class="clearfix" style="margin-bottom: 0;">
                <dd class="fl"><a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brand['Brand']['created'])).'/'.$brand['Brand']['slug'].'.html')}}"><img src="{{small_thumb_link($brand['Brand']['coverimg'])}}" /></a></dd>
                <dd class="fl"><a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brand['Brand']['created'])).'/'.$brand['Brand']['slug'].'.html')}}">{{$brand['Brand']['name']}}</a></dd>
                <dd class="fr order-status-{{$order['Order']['id']}}">{{if $order['Order']['status']==0}}等待付款
                    {{elseif $order['Order']['status']==1}}已支付
                    {{elseif $order['Order']['status']==2}}已发货
                    {{elseif $order['Order']['status']==3}}已收货
                    {{elseif $order['Order']['status']==4}}已退款
                    {{elseif $order['Order']['status']==9}}已完成
                    {{elseif $order['Order']['status']==10}}已取消
                    {{elseif $order['Order']['status']==11}}已确认有效
                    {{elseif $order['Order']['status']==12}}已投诉
                    {{elseif $order['Order']['status']==14}}退款中
                    {{/if}}</dd>
            </dl>

            {{loop $order_carts[$order['Order']['id']] $cart}}
            <ul class="clearfix">
                <li class="fl"><a href="/orders/detail/{{$order['Order']['id']}}"><img src="{{small_thumb_link($cart['Cart']['coverimg'])}}" border="0" /></a></li>
                <li style="overflow: hidden; display: block; padding-left: 10px; padding-right: 5em;">
                    <a href="/orders/detail/{{$order['Order']['id']}}">
                        <p>{{$cart['Cart']['name']}}</p>
                        {{if !empty($cart['Cart']['send_date'])}}
                        <s>预计{{date('n月d日', strtotime($cart['Cart']['send_date']))}}({{day_of_week($cart['Cart']['send_date'])}})到货</s>
                        {{/if}}
                    </a>
                </li>
                <li class="fr">￥{{$this->Number->precision($cart['Cart']['price'], 2)}}<br/>x{{$cart['Cart']['num']}}</li>
            </ul>
            {{/loop}}
            <p class="myorder_total">共{{$counts[$order['Order']['id']]}}件商品，合计:<strong>￥{{$this->Number->precision($order['Order']['total_all_price'], 2)}}</strong></p>
            <p class="myorder_operate clearfix order_item_action_{{$order['Order']['id']}}">
                {{if $order['Order']['status']==2}}
                    <a href="javascript:;" onclick="bootbox.confirm('您要确认收货吗？', function(result) {if(result){orders_receive_3g({{$order['Order']['id']}},{{$order['Order']['try_id']}},true)} })" class="btn_skin_orange">确认收货</a>
                    <a class="btn_skin_gary" href="/orders/detail/{{$order['Order']['id']}}#ship">查看物流</a>
                {{elseif $order['Order']['status'] == 10}}
                    <a class="btn_skin_gary" href="javascript:;" onclick="bootbox.confirm('您确认要删除吗？', function(result) {if(result){orders_remove({{$order['Order']['id']}})} })">删除订单</a>
                {{elseif $order['Order']['status']==0}}
                    <a class="btn_skin_orange" href="/orders/detail/{{$order['Order']['id']}}/pay">去支付</a>
                    <a class="btn_skin_gary" href="javascript:;" onclick="bootbox.confirm('您确认要取消吗？', function(result) {if(result){orders_undo({{$order['Order']['id']}},true)} })">取消订单</a>
                {{elseif $order['Order']['status']==1}}
                    <a class="btn_skin_orange" href="javascript:;" name="remind-deliver" data-val="{{$order['Order']['id']}}">提醒发货</a>
                {{elseif $order['Order']['status']==3}}
                    {{if $order['Order']['is_comment'] == ORDER_COMMENTED}}
                        <a class="btn_skin_gary" href="/comments/add_comment/{{$order['Order']['id']}}.html?history={{urlencode('/orders/mine.html?tab=comment')}}">查看评论</a>
                    {{else}}
                        <a class="btn_skin_orange" href="/comments/add_comment/{{$order['Order']['id']}}.html?history={{urlencode('/orders/mine.html?tab=comment')}}">评论赢积分</a>
                    {{/if}}
                {{/if}}
            </p>
        </div>
    {{/if}}
{{/loop}}
{{if $found == 0 }}
<div class="myorder_none">暂无订单</div>
{{/if}}