<?php $coupons = $coupons_of_products[$brandItem->id];?>
{{if !empty($coupons)}}
<div id="hiddenModalContent_{{$brandItem->id}}" style="display:none">
    <div class="classlist_v2">
        <ul class="clearfix">
            <li><a onclick="tb_remove()" class="back"></a></li>
            <li class="line"></li>
            <li><strong>返回</strong></li>
        </ul>
    </div>
    <ul style="padding-top: 60px;">
        {{loop $coupons $coupon}}
        <li style="padding-bottom: 10px;"><a data-coupon_item_id="{{$coupon['CouponItem']['id']}}" data-brandId="{{$brandItem->id}}" class="coupon" href="javascript:"><input type="checkbox" readonly>
            {{$coupon['Coupon']['name']}} <span style="color: red">{{$this->Number->precision($coupon['Coupon']['reduced_price']/100, 2)}}</span> {{if $coupon['Coupon']['type'] == COUPON_TYPE_TYPE_SHARE_OFFER}}(红包券，每件商品可使一张，本单本店共{{$brandItem->total_num()}}件){{/if}}
            <span class="glyphicon glyphicon-ok" style="display: none"></span></a><span class="applied_result"></span>
        </li>
        {{/loop}}
    </ul>
</div>
<a href="#TB_inline?&inlineId=hiddenModalContent_{{$brandItem->id}}&modal=true" class="favor thickbox use-coupon" style="position:relative;">
    <span style="display:block;" class="fl">商品优惠&nbsp;&nbsp;<span class="moreicon" style="right:10px;" href="#X"></span></span>
    <span style="overflow:hidden; display:block; color: #acacac;">您有优惠券可使用({{count($coupons)}})</span>
</a>
{{/if}}
<script>
    $(document).ready(function(){
        var height =  $(window).height() - 40;
        var width = $(window).width();
        var useCouponUrl = $("a.use-coupon").attr("href") + "&height=" + height + "&width=" + width;;
        $("a.use-coupon").attr("href", useCouponUrl);
    });
</script>