<style>
    @charset "utf-8";
        /* CSS Document */

    *{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
    body,h1,h2,p,ul,li{ margin:0; padding:0; font-family:Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;}
    body{ background-color:#ec3925 !important;}
    ul li{ list-style:none;}
    .clearfix{*zoom:1;}
    .clearfix:after{content: ".";display: block;height: 0;clear: both; visibility: hidden;}
    .fl{ float:left;}
    .fr{ float:right;}
    .radius10{
        -moz-border-radius: 0.417em;/* Gecko browsers */-webkit-border-radius: 0.417em;/* Webkit browsers */border-radius:0.417em;/* W3C syntax */
    }
        /*发红包人*/
    .packet1{ text-align:center; position:relative; background-color:#fea501;}
    .packet1 img,.record_title img{ width:100%;}
    .packet1 h2 { width: 100%; text-align: center; font-size: 300%; color: #ffffff; position: absolute; top: 40%; font-weight: normal; }
    .packet1 p {
        position: absolute;
        text-align: center;
        top: 68%;
        width: 100%;
    }
    .packet1 a {
        display: block;
        width: 7em;
        height: 2em;
        text-decoration: none;
        font-size: 1em;
        color: #ffffff;
        display: block;
        margin: 0 auto;
        border: 1px #ffffff solid;
        line-height: 2em;
    }
    .packet1 a:visited{text-decoration: none;  font-size: 1em;  color: #ffffff;  display: block;}
    .packet1 a:hover{text-decoration: none;  font-size: 1em;  color: #ffffff;  display: block;}
    .title_owner{ padding-top:0.8em; text-align:center; background-color:#fea501;}
    .title_owner h2{ font-size:1.25em; color:#ffffff; font-weight:normal; padding-bottom:0.5em; text-align:center;}
    .title_owner p{ font-size:0.833em; color:#feff87; line-height:1.3em; padding:0 1em 1.5em 1em;}
    .title_owner a{ text-decoration:none; font-size:1.417em; width:10em; height:2em; line-height:2em; display:block; margin:0 auto;}
    .title_owner a.disabled{ background-color:#bcbcbc; color:#eaeaea;}
    .title_owner a.usable{ background-color:#ec3925; color:#ffffff;}
    .title_owner a.usable:active{ background-color:#db2400; text-decoration:none;}
    .tips{ background-color:#fea501;}
    .tips p { padding-top: 1em; font-size: 1em; text-align: center; color: #feff87; }
    .count{ color:#ffffff; font-size:1em; text-align:center; padding:0.2em 0 1em 0;}
    .count span{ background-color:#ec3925; -moz-border-radius:0.417em; -webkit-border-radius:0.417em; border-radius:0.417em;}
        /*抢包人*/
    .packet2{ text-align:center; position:relative; background-color:#fea501;}
    .packet2 img,.record_title img{ width:100%;}
    .tips_bg{ background-color:#ec3925;}
    .tips_packet2{ margin:1em 1em 0 1em; background-color:#ffffff; line-height:1.417em; padding:0.5em 1em; color:#666666; text-align:left;}
    .packet2 h1{ width:100%; text-align:center; font-size:5em; color:#ffffff; position:absolute; top:40%; font-weight:normal;}
    .packet2 p{ font-size:0.833em; position:absolute; width:100%; text-align:center; bottom:4.5em; color:#ffffff;}
    .packet2 p a{ color:#feff87; text-decoration:underline;}
    .packet_img{ position:absolute; top:43%; text-align:center; width:100%;}
    .packet_img img{ width:10.167em; height:4.067em;}
        /*抢包记录*/
    .record_title{ position:relative; background-color:#fea501;}
    .record_title h1{ position:absolute; width:100%; text-align:center; bottom:-3px; color:#ffffff; font-size:1em; font-weight:normal;}
    .record{ background-color:#ec3925; padding:1em 1.8em; font-size:1em;}
    .record .name{ color:#ffffff; padding-right:0.5em; line-height:2em;}
    .record .time{ color:#ffafa6; line-height:2em;}
    .record .usebtn{ width:7em;}
    .record .usebtn a { color: #ffffff; display: block; padding: 0.2em 0; width: 5em; text-align: center; text-decoration: none; border: 1px #ffffff solid; }
    .record .usebtn a:active{ background-color:#db2400; border:0; color:#ffffff; text-decoration:none; border:1px #db2400 solid;}
    .record .money{ color:#feff87; line-height:2em;}

    .apple_share {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #000;
    }
    .apple_share.in {
        opacity: .9;
    }

</style>
{{loop $slices $idx $slice}}
{{if $slice['SharedSlice']['accept_user']}}
{{if $slice['SharedSlice']['accept_user'] == $uid}}
    <?php $my_hongbao = $slice['SharedSlice'];
    ?>
{{/if}}
{{/if}}
{{/loop}}
<div id="share_remark_div"></div>
<div class="packet1">
    {{if empty($my_hongbao)}}
        <h2>已抢完</h2>
    <p><a class="radius10" href="/">去秒杀</a></p>
    {{elseif !$expired}}
    <h2>{{$this->Number->precision($my_hongbao['number']/100, 2)}}元</h2>
    <p><a class="radius10" href="/users/my_coupons.html">马上使用</a ></p >
    {{elseif $noMore}}
    <h2>已抢完</h2>
    <p><a class="radius10" href="/">去秒杀</a ></p>
    {{else}}
    <p>已过期</p>
    {{/if}}
    <img id="red_offer_png" src="{{$this->Html->assetUrl('/img/sharing/packet1.png')}}" border="0"/>
</div>

{{if $isOwner}}
    <div class="title_owner">
        <h2>使用红包, 购买{{$sharedOffer['ShareOffer']['name']}}时直接抵现金</h2>
        {{if $expired }}
            <a href="javascript:;" class="usable radius10">红包已过期</a>
        {{elseif $noMore }}
            <a href="javascript:;" class="usable radius10">红包已发完</a>
        {{else}}
            <a href="javascript:;" id="share_to_friend" class="usable radius10">发红包给好友</a>
        {{/if}}
    </div>
{{/if}}

{{if !$isOwner && ($just_accepted || $accepted)}}
    <div class="title_owner">
        <h2>使用红包, 购买{{$sharedOffer['ShareOffer']['name']}}时直接抵现金</h2>
        {{if $noMore}}
        <a href="javascript:;" class="usable radius10">红包已发完</a>
        {{else}}
        <a href="javascript:;" id="share_to_friend" class="usable radius10">转发给朋友</a>
        {{/if}}
    </div>
{{/if}}

<div class="tips">
    {{if !$expired}}
    {{if $just_accepted}}
    <p>恭喜您抢到了一个￥{{$this->Number->precision($just_accepted/100, 2)}}元红包！</p>
    {{elseif $accepted}}
    <p>您已经抢到啦！</p>

    {{elseif $noMore}}
    <p>红包已抢完！下次早早的哇</p>
    {{/if}}
    {{else}}
    <p>红包已过期！下次早早的哇</p>
    {{/if}}

    <div class="count">还有<span>&nbsp;{{$left_slice}}&nbsp;</span>个红包未送出</div>
</div>

<div class="record_title">
    <h1>看看朋友们手气如何</h1>
    <img src="{{$this->Html->assetUrl('/img/sharing/redbg.png')}}" border="0" />
</div>

<div class="record">
    {{if !empty($slices)}}

    {{loop $slices $idx $slice}}
    {{if $slice['SharedSlice']['accept_user']}}
    {{if $slice['SharedSlice']['accept_user'] == $uid}}
    <ul class="clearfix">
        <li class="fl name">{{$nickNames[$slice['SharedSlice']['accept_user']]}}</li>
        <li class="fl time">{{friendlyDateFromStr($slice['SharedSlice']['accept_time'])}}</li>
        <li class="fr usebtn clearfix"><a href="/users/my_coupons.html" class="radius10 fr">马上使用</a></li>
        <li class="fr money">{{$this->Number->precision($slice['SharedSlice']['number']/100, 2)}}元</li>
    </ul>
    {{/if}}
    {{/if}}
    {{/loop}}

    {{loop $slices $idx $slice}}
    {{if $slice['SharedSlice']['accept_user']}}
    {{if $slice['SharedSlice']['accept_user'] != $uid}}
    <ul class="clearfix">
        <li class="fl name">{{$nickNames[$slice['SharedSlice']['accept_user']]}}</li>
        <li class="fl time">{{friendlyDateFromStr($slice['SharedSlice']['accept_time'])}}</li>
        <li class="fr money">{{$this->Number->precision($slice['SharedSlice']['number']/100, 2)}}元</li>
    </ul>
    {{/if}}
    {{/if}}
    {{/loop}}

    {{/if}}
</div>
    <!---->
    <!--<div class="row voffset3">-->
        <!--<h3>红包使用说明</h3>-->
    <!--<ul style="margin-left: 1em" class="list-unstyled">-->
        <!--<li>1、购买指定带红包的商品后即有机会获得红包一个；</li>-->
        <!--<li>2、把红包分享至朋友圈或微信群，就可以和好友一起抢红包；</li>-->
        <!--<li>3、抢到的红包金额直接变为一张优惠券，在购买指定商品时直接抵扣现金；</li>-->
        <!--<li>4、红包和优惠券均有有效期，请在有效期内及时分享和使用。</li>-->
    <!--</ul>-->
    <!--</div>-->
<script>
    var share_png_url = '{{$this->Html->assetUrl("/img/sharing/share.png")}}';
    $(document).ready(function(){
        $share_div = $('<div class="apple_share fade in"><img src="'+share_png_url+'" style="width:95%"></div>')
                .hide().click(function(){
                    $share_div.hide();
                });
        $('#share_remark_div').append($share_div);

        $('#share_to_friend').click(function(){
            $share_div.show();
        });

        var imgUrl = $('#red_offer_png').attr('src');
        var lineLink = '{{WX_HOST}}/sharing/receive/{{$sharedOffer["SharedOffer"]["id"]}}.html';
        var descContent = '{{$sharedOffer["ShareOffer"]["name"]}}给我{{$total_slice}}个红包，分你一个，买【朋友说】最好最放心的特产。';
        var shareTitle = '{{$ownerName}}：我在【朋友说】挣了一个{{$sharedOffer["ShareOffer"]["name"]}}红包，大家快来抢！';
        var appid = '{{WX_APPID}}';

        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
//            WeixinJSBridge.on('menu:share:appmessage', function(argv){
//                utils.wx_to_friend(appid, imgUrl, lineLink, descContent, shareTitle);
//            });
//            WeixinJSBridge.on('menu:share:timeline', function(argv){
//                utils.wx_to_timeline(appid, imgUrl, lineLink, descContent, shareTitle);
//            });
        }, false);
    });
</script>