<hr/>
<h1>团购订单管理</h1>
<hr/>
<form class="form-inline" method="post" action="/manage/admin/tuan/tuan_orders" data-noajax="true">
    <div style="padding-bottom: 10px;">
        <div class="form-group">
            <select class="form-control" name="team_id" id="team_id">
                <option value="-1">请选择团队</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="product_id" id="product_id">
                <option value="-1">选择商品</option>
                <!--<option value="838">草莓</option>-->
                <!--<option value="851">芒果</option>-->
                <!--<option value="862">蛋糕</option>-->
                <!--<option value="863">草莓863</option>-->
                <!--<option value="230">蛋糕230</option>-->
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="time_type" id="time_type">
                <option value="-1">选择时间</option>
                <option value="0">截止时间</option>
                <option value="1">发货时间</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only">时间</label>
            <input type="text" name="post_time" class="form-control" placeholder="输入时间" value="{{$post_time}}">
        </div>
        <div class="form-group">
            <select class="form-control" name="order_type" id="order_type">
                <option value="-1">选择订单状态</option>
                <option value="0">待支付</option>
                <option value="1">待发货</option>
                <option value="2">已发货</option>
                <option value="4">已退款</option>
                <option value="10">已作废</option>
            </select>
        </div>
    </div>

    <div style="padding-bottom: 10px;">
        <div class="form-group">
            <label class="sr-only">收件人姓名</label>
            <input type="text" class="form-control" name="con_name" placeholder="姓名" value="{{$con_name}}">
        </div>
        <div class="form-group">
            <label class="sr-only">收件人手机号</label>
            <input type="text" class="form-control" name="con_phone" placeholder="手机号" value="{{$con_phone}}">
        </div>
        <button type="submit" class="btn btn-default fr">查看订单</button>
    </div>
</form>
<hr/>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>订单号</td><td>用户ID</td><td>订单状态</td><td>商品</td><td>总价</td><td>创建时间</td><td>付款时间</td><td>截单时间</td><td>发货时间</td><td>收件人</td><td>团队名称</td><td>团队收件地址</td><td>电话</td><td>支付方式</td><td>备注</td>
        </tr>
    </thead>
    <tbody>
        {{loop $orders $order}}
            <tr>
                <td>{{$order['Order']['id']}}</td>
                <td>{{$order['Order']['creator']}}</td>
                <td>
                    {{if $order['Order']['status']==0}}
                    待支付
                    {{elseif $order['Order']['status']==1}}
                    待发货
                    {{elseif $order['Order']['status']==2}}已发货
                    {{elseif $order['Order']['status']==3}}已收货
                    {{elseif $order['Order']['status']==4}}已退款
                    {{elseif $order['Order']['status']==10}}已作废
                    {{elseif $order['Order']['status']==11}}待支付
                    {{/if}}
                </td>
                <td>
                    {{loop $order_carts[$order['Order']['id']] $cart}}
                        {{$cart['Cart']['name']}}*{{$cart['Cart']['num']}};
                    {{/loop}}
                </td>
                <td>{{$order['Order']['total_all_price']}}</td>
                <td>{{$order['Order']['created']}}</td>
                <td>{{$order['Order']['pay_time']}}</td>
                <td>
                    {{$tuan_buys[$order['Order']['member_id']]['end_time']}}
                </td>
                <td>
                    {{friendlyDateFromStr($tuan_buys[$order['Order']['member_id']]['consign_time'], FFDATE_CH_MD)}}
                </td>
                <td>{{$order['Order']['consignee_name']}}</td>
                <td>
                    {{$tuans[$tuan_buys[$order['Order']['member_id']]['tuan_id']]['tuan_name']}}
                </td>
                <td>
                    {{$tuans[$tuan_buys[$order['Order']['member_id']]['tuan_id']]['tuan_addr']}}
                </td>

                <td>{{$order['Order']['consignee_mobilephone']}}</td>

                <td>
                    {{if $order['Pay']['trade_type']=='JSAPI'}}
                    微信支付
                    {{elseif $order['Pay']['trade_type']=='ZFB'}}
                    支付宝
                    {{/if}}
                </td>
                <td>
                    {{$order['Order']['remark']}}
                </td>
            </tr>
        {{/loop}}
    </tbody>
</table>

<script>
    $(document).ready(function(){
        var $team_id = $('#team_id');
        var $product_id = $('#product_id');
        var $time_type = $('#time_type');
        var $order_type = $('#order_type');
        $.getJSON('/manage/admin/tuan/api_tuan_teams',function(data){
            $.each(data,function(index,item){
                $('<option value="'+item['id']+'">'+item['tuan_name']+'</option>').appendTo($team_id);
            });
            setVal();
        });
        $.getJSON('/manage/admin/tuan/api_tuan_products',function(data){
            $.each(data,function(index,item){
                $('<option value="'+index+'">'+item+'</option>').appendTo($product_id);
            });
            $product_id.val('{{$product_id}}');
        });
        function setVal(){
            $team_id.val('{{$team_id}}');
            $time_type.val('{{$time_type}}');
            $order_type.val('{{$order_type}}');
        }
    });
</script>
