<style>
    /*我的*/
    .mine_bg{ position: relative;}
    .mine_bg ul li a{ display: block; color: #333333; text-decoration: none;}
    .mine_bg img{ width: 100%;}
    .mine_bg .mine_login{ display: block; border: 1px #ffffff solid; border-radius: 5px; position: absolute; font-size: 1.2em; width: 150px; height: 35px; line-height: 35px; text-align: center; text-decoration: none; color: #ffffff; left: 50%; margin-left: -75px; top: 25%;}
    .mine_bg ul{ position: absolute; bottom: 0; background-color: #ffffff; filter: alpha(opacity=50); opacity: 0.5; height: 50px; line-height: 25px; width: 100%; margin-bottom: 0}
    .mine_bg ul li{ float: left; width: 25%; font-size: 1em; text-align: center; line-height: 1.8em; padding-top: 0.25em; color: #333333;}
    .mine_bg ul li span.mine_ordersum{ border-radius: 20px; background-color: #e01d0e; color: #ffffff; display: block; width: 20px; line-height: 20px; margin: 0 auto;}
    .mine_bg ul li span{ line-height: 20px; display: block}
    .mine {
        margin-top: 10px;
        border-bottom: 1px #eeeeee solid;
    }
    .mine_head{ position: absolute; left: 50%; top: 10%; margin-left: -53px; width: 106px; text-decoration: none; line-height: 20px; display: block; text-align: center; font-size: 1em; color: #555555;}
    .mine_head img{ width: 60%; border-radius: 60%;}
    .mine a {
        text-decoration: none;
        display: block;
        padding: 10px 0.6em 10px 0.833em;
        background-color: #ffffff;
        border-top: 1px #eeeeee solid;
        line-height: 2em;
        font-size: 1.2em;
        color: #333333;
    }
    .mine_order_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -12.292em -14.167em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine_foretaste_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -12.292em -16.667em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine_coupon_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -12.292em -19.167em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine_packet_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -12.292em -21.458em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine_address_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -15.208em -14.167em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine_jifen_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -15.208em -16.667em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine_mer_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -15.208em -19.167em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine_time_icon{ width: 2em; height: 2em; background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -15.208em -21.458em no-repeat; background-size: 25em 25em; margin-right: 0.5em;}
    .mine ul .more{ background: url('http://51daifan.sinaapp.com/img/mobilev1/pyshuo_icon.png') -9.167em -15em no-repeat; background-size: 25em 25em; width: 0.667em; height: 1.333em; margin-top:0.35em; }
    .mine_bg ul li a p, .mine p, .mine label {margin-bottom: 0; font-weight: normal}
    .mine a label span {font-size: 0.8em}
</style>
<div class="mine_bg">
    <!--<a href="#X" class="mine_login" style="display: none;">登录/注册</a>-->
    <a href="{{$this->Html->url('/users/my_profile.html')}}" class="mine_head">
        {{if $result['Shichituan']['status']==1 && !empty($result['Shichituan']['pictures'])}}
        {{$this->Html->image(Router::url($result['Shichituan']['pictures']))}}
        {{else}}
        <img src="{{$this->Html->assetUrl(!empty($CurrentUser['image'])? $CurrentUser['image']:'/img/mine_head.png')}}"/>
        {{/if}}
        <br/>{{$CurrentUser['nickname']}}
    </a>
    <ul class="clearfix">
        <li><a href="/orders/mine.html?tab=waiting_pay"><span {{if $order_count[ORDER_STATUS_WAITING_PAY]>0}}class="mine_ordersum"{{/if}}>{{$order_count[ORDER_STATUS_WAITING_PAY]}}</span><p>待付款</p></a></li>
        <li><a href="/orders/mine.html?tab=paid"><span {{if intval($order_count[ORDER_STATUS_PAID])>0}}class="mine_ordersum"{{/if}}}>{{intval($order_count[ORDER_STATUS_PAID])}}</span><p>待发货</p></a></li>
        <li><a href="/orders/mine.html?tab=shipped"><span {{if intval($order_count[ORDER_STATUS_SHIPPED])>0}}class="mine_ordersum"{{/if}}>{{intval($order_count[ORDER_STATUS_SHIPPED])}}</span><p>待收货</p></a></li>
        <li><a href="/orders/mine.html?tab=comment"><span {{if $order_count[ORDER_STATUS_COMMENT]}}class="mine_ordersum"{{/if}}>{{$order_count[ORDER_STATUS_COMMENT]}}</span><p>待评价</p></a></li>
    </ul>
    <img src="{{$this->Html->assetUrl('/img/mobilev1/mine_bg.jpg')}}" />
</div>
        {{if $received_cnt > 0}}
<a href="/refer/index/{{$CurrentUser['id']}}.html"><img src="{{$this->Html->assetUrl('/img/refer/banner.gif?v6')}}" width="100%"/></a>
        {{/if}}
{{if $CurrentUser['is_business']}}
<div class="mine">
    <a href="{{$this->Html->url(array('controller' => 'orders','action'=>'wait_shipped_orders','plugin' => null ,))}}" class="clearfix">
        <p class="mine_order_icon fl"></p>
        <label class="fl">商家订单</label>
        <i class="more fr"></i>
    </a>
    <a href="{{$this->Html->url(array('controller' => 'products','action'=>'mine','plugin' => null ,))}}" class="clearfix">
        <p class="mine_mer_icon fl"></p>
        <label class="fl">商家商品</label>
        <i class="more fr"></i>
    </a>
    <a href="/products/consignment" class="clearfix">
        <p class="mine_time_icon fl"></p>
        <label class="fl">商家排期</label>
        <i class="more fr"></i>
    </a>
</div>
{{/if}}
<div class="mine">
    <a href="/orders/mine" class="clearfix">
        <p class="mine_order_icon fl"></p>
        <label class="fl">我的订单</label>
        <i class="more fr"></i>
    </a>
    <a href="/order_shichis/my_shichi" class="clearfix">
        <p class="mine_foretaste_icon fl"></p>
        <label class="fl">我的试吃</label>
        <i class="more fr"></i>
    </a>
    <a href="/scores/more_score" class="clearfix">
        <p class="mine_jifen_icon fl"></p>
        <label class="fl">我的积分 <span>({{$total_score}})</span></label>
        <i class="more fr"></i>
    </a>
    <a href="/users/my_coupons" class="clearfix">
        <p class="mine_coupon_icon fl"></p>
        <label class="fl">我的优惠券</label>
        <i class="more fr"></i>
    </a>
</div>
<div class="mine">
    <a href="/users/my_offers" class="clearfix">
        <p class="mine_packet_icon fl"></p>
        <label class="fl">我要发红包</label>
        <i class="more fr"></i>
    </a>
</div>
<div class="mine">
    <a href="/orders/edit_consignee" class="clearfix">
        <p class="mine_address_icon fl"></p>
        <label class="fl">地址管理</label>
        <i class="more fr"></i>
    </a>
</div>
