@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
}

body {
    min-width: 320px;
    font-size: 14px;
}

ul li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.radius10 {
    -moz-border-radius: 0.417em; /* Gecko browsers */
    -webkit-border-radius: 0.417em; /* Webkit browsers */
    border-radius: 0.417em; /* W3C syntax */
}

.radius5 {
    border-radius: 5px;
}

.border_b {
    border-bottom: 1px #dddddd solid;
}

.gray {
    color: #999999;
}

.margin-bottom-12 {
    margin-bottom: 12px !important;
}

.text-center {
    text-align: center;
}

textarea,input{outline:none}

/*返回*/
.classlist {
    height: 44px;
    line-height: 44px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    background-color: #29ac0e;
    position: fixed;
    top: 0;
    z-index: 999;
    overflow: hidden;
}

.classlist a.back {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 1.167em;
    height: 1.133em;
    background: url(http://51daifan-assets.stor.sinaapp.com/static/weshares/images/pyshuo_icon.png) no-repeat -15.667em -5.333em;
    background-size: 20em 20em;
}

.classlist a.home {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1.2em;
    height: 1.133em;
    background: url(http://51daifan-assets.stor.sinaapp.com/static/weshares/images/pyshuo_icon.png) no-repeat -17.667em -5.333em;
    background-size: 20em 20em;
}

.form-group {
    margin-bottom: 12px;
}

.form-group .form-control {
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
    line-height: 1.42857143;
    box-sizing: border-box;
}

.form-group .form-control-no-error {
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
    line-height: 1.42857143;
    box-sizing: border-box;
}

.form-group.has-error .form-control {
    border-color: #a94442;
}

.form-group select.form-control {
    background-color: white;
    height: 38px;
}

.form-group select.form-control-no-error {
    background-color: white;
    height: 38px;
}

.form-group .tips {
    display: none;
    font-size: 12px;
    color: #c62a35;
    line-height: 16px;
    padding-top: 5px;
}

.form-group.has-error .tips {
    display: block;
}

.product-group {
    margin-bottom: 5px;
}

.product-group .tips {
    display: none;
    font-size: 12px;
    color: #c62a35;
    line-height: 16px;
    padding-top: 5px;
}

.product-group.has-error .tips {
    display: block
}

.radio-group {
    clear: none;
    overflow: hidden;
}

.radio-group label {
    float: left;
    clear: none;
    display: block;
    padding: 0 10px;
}

.radio-group input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

.radio-group input.radio-address {
    float: left;
    clear: none;
    margin: 2px 0 10px 2px;
    margin-top: 10px;
}

/*上传信息页面*/
.weshare-add {
    padding: 10px;
    line-height: 30px;
    margin-bottom: 30px;
}

.weshare-add h1 {
    color: #29ac0e;
    font-size: 18px;
}

.weshare-add .images .image {
    float: left;
    margin-right: 15px;
    position: relative;
    width: 50px;
}

.weshare-add .images .image img {
    width: 50px;
    height: 50px;
}

.weshare-add .btn {
    text-align: center;
    line-height: 38px;
}



.weshare-add .upload-btn {
    border: 1px #29AC0E solid;
    display: block;
    font-size: 16px;
    color: #29AC0E;
    text-decoration: none;
}

.weshare-add .delete-btn {
    margin-top: 8px;
    margin-right: 10px;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat 0 0;
    background-size: 100px 100px;
    width: 25px;
    height: 25px;
}

.weshare-add .add-btn {
    margin-top: 8px;
    margin-right: 10px;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat 0 -35px;
    background-size: 100px 100px;
    width: 25px;
    height: 25px;
}

.weshare-add .delete-badge {
    position: absolute;
    top: -7px;
    right: -7px;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat -33px 0;
    background-size: 100px 100px;
    width: 25px;
    height: 25px;
}

.weshare-add .next-btn {
    border: 1px #29AC0E solid;
    display: block;
    font-size: 16px;
    background-color: #29AC0E;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 40px;
}

.weshare-add .back-btn {
    color: #29AC0E;
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-top: -15px;
    margin-bottom: 30px;
}

.weshare-add .checkbox-disable {
    color: #a9a9a9
}

.weshare-add .set-product-tag {
    text-decoration: underline;
    padding-left: 5px;
}

.weshare-add .set-product-tag-group {
    margin-top: 10px;
}

.weshare-add .form-group-inline {
    width: 70%;
    margin-right: 10px;
}

.weshare-add .add-new-product-not-tag {
    position: relative;
    margin-top: -45px;
    margin-right: 3%;
}

.weshare-add .add-new-product-tag {
    position: relative;
    margin-top: 10px;
    margin-right: 3%;
}

.weshare-add .del-new-product-not-tag {
    position: relative;
    margin-top: -45px;
    margin-right: 15%;
}

.weshare-add .del-new-product-tag {
    position: relative;
    margin-top: 10px;
    margin-right: 3%;
}



/*分享参团*/
.weshare-view {
    padding: 10px 10px 60px;
}

.weshare-view a.read-more, a.read-less {
    cursor: pointer;
    color: blue;
}
.weshare-view div.less-text {
    display: block;
}
.weshare-view div.less-text.show{
    display: inline !important
}
.weshare-view div.more-text {
    display: none;
}
.weshare-view div.more-text.show {
    display: inline !important
}

.weshare-view ul img {
    width: 50px;
    border-radius: 50px;
    height: 50px;
    margin-left: 5px;
}

.weshare-view ul li {
    float: left;
}

.weshare-view ul li label {
    font-weight: 700;
    display: block;
    padding-left: 5px;
    color: #333;
    font-size: 1pc;
    line-height: 20px;
    padding-right: 5px;
}

.weshare-view ul li s {
    font-size: 10px;
    color: #999;
    text-decoration: none;
    display: block;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.weshare-view .statistics-btn {
    display: block;
    background-color: #ffa200;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
}

.weshare-view .header-btn-wrap {
    float: right;
}

.weshare-view .order-manage-btn {
    width: 60px;
    margin-top: 5px;
    line-height: 25px;
}

.weshare-view .edit-share-btn {
    width: 60px;
    margin-top: 5px;
    line-height: 25px;
}

.weshare-view .tip-share-btn {
    width: 60px;
    margin-top: 5px;
    line-height: 25px;
}

.weshare-view .tip-create-share-btn {
    width: 65px;
    margin-top: 5px;
    line-height: 25px;
}

.weshare-view .stress-span {
    color: #ffa200
}

.weshare-view .sub-sharer-btn {
    display: block;
    width: 50px;
    line-height: 20px;
    background-color: #ffa200;
    height: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    margin-left: 5px;
}

.weshare-view .un-sub-sharer-btn {
    display: block;
    width: 50px;
    line-height: 20px;
    background-color: #ffa200;
    height: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    margin-left: 5px;
}

.weshare-view .faq-sharer-btn {
    display: block;
    line-height: 20px;
    background-color: #f99d3a;
    height: 20px;
    text-decoration: none;
    text-align: center;
    padding: 1px;
    font-size: 12px;
    color: white;
    margin-left: auto;
    border-radius: 2px;
}

.weshare-view .sharer-nickname-display-inline {
    display: -webkit-inline-box
}

.weshare-view .share-info-item-li {
    margin-bottom: 5px;
    width: 50%
}

.weshare-view .ul-wrap-btn {
    width: 25%;
    float: right;
}

.weshare-view .hlj-icon-img {
    width: 25px;
    height: 25px;
}

.weshare-view .v-icon-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 44px;
    left: 41px;
}

.weshare-view .grouper-mark {
    color: white;
    font-size: 11px;
    font-weight: 700;
    padding: 1px;
    background-color: #29AC0E;
    text-align: center;
    width: 55px;
}

.weshare-view .sharer-mark {
    display: inline-flex;
}

.weshare-view .group-share-mark {
    margin-left: 30px;
    margin-top: -6px;
    width: 60px;
    line-height: 20px;
    background-color: #F2651A;
    font-size: 12px;
}

.weshare-view .want-start-group-share {
    margin-top: 5px;
    width: 70px;
    line-height: 25px;
    font-size: 13px;
}

.ui-common-btn {
    display: block;
    background-color: #ffa200;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    width: 85px;
    line-height: 35px;
    margin-top: 10px;
}

.weshare-view .header {
    margin-bottom: 10px;
}

.weshare-view .recommend {
    width: 55%;
}

.weshare-view .recommend .share-tag {
    float: left;
    font-size: 9pt;
    text-align: center;
    overflow: hidden;
}

.weshare-view .recommend .share-list {
    margin-left: 65px;
}

.weshare-view .recommend .share-list .user-avatar {
    float: left;
    margin-right: 4px;
    margin-bottom: 5px;
}

.weshare-view .recommend .share-list .user-avatar img {
    background-size: cover;
    border: 0;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 0;
}

.weshare-view .recommend .share-list-etc {
    font-size: 15px;
    line-height: 30px;
    color: #ffa200;
    margin-left: 5px;
    font-size: 10px;
    display: inline-block;
}

/*child share join users*/

.weshare-view .group-share-users {
    width: 80%;
    overflow: hidden;
}

.weshare-view .group-share-users .share-tag {
    float: left;
    font-size: 9pt;
    text-align: center;
    overflow: hidden;
}

.weshare-view .group-share-users .share-list {
    margin-left: 10px;
}

.weshare-view .group-share-users .share-list .user-avatar {
    float: left;
    margin-right: 4px;
    margin-bottom: 5px;
}

.weshare-view .group-share-users .share-list .user-avatar img {
    background-size: cover;
    border: 0;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 0;
}

.weshare-view .group-share-users .share-list-etc {
    font-size: 15px;
    line-height: 30px;
    color: #ffa200;
    margin-left: 5px;
    font-size: 10px;
}

.weshare-view .introduction {
    background-color: #ffffff;
    border: 1px #eaeaea solid;
    border-radius: 5px;
    padding: 15px 15px 0px 15px;
    position: relative;
}

.weshare-view .introduction b {
    display: block;
    position: absolute;
    top: -6px;
    left: 15px;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png) no-repeat -25px -25px;
    background-size: 100px 100px;
    width: 12px;
    height: 6px;
}

.weshare-view .introduction .row {
    padding: 0 0 10px;
}

.weshare-view .introduction .status {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    right: -5px;   background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) -62px 0 no-repeat;
    background-size: 75pt 75pt;
    width: 40px;
    height: 23px;
    font-size: 9pt;
    text-align: center;
    color: #fff;
    line-height: 18px;
}

.weshare-view .introduction .title {
    font-size: 18px;
    color: #29AC0E;
    padding-top: 15px;
}

.weshare-view .introduction dl.images {
    margin-top: 10px;
}

.weshare-view .introduction dl dt {
    float: left;
    margin-right: 10px;
    position: relative;
    height: 65px;
}

.weshare-view .introduction dl dt img {
    width: 60px;
    height: 60px;
}

.weshare-view .introduction dl dt a {
    width: 100%;
}

.weshare-view .introduction .send-info {
    color: #999999;
}

.weshare-view .introduction .total-fee {
    display: block;
    color: #ffa200;
    font-size: 16px;
}

.weshare-view .products {
    border: 1px solid #eee;
    padding-top: 5px;
    border-left: none;
    border-right: none;
}

.weshare-view .products .product {
    padding-bottom: 0;
    margin-bottom: 10px;
    border: 0;
}

.weshare-view .products .product dd.fr {
    padding-left: 5px;
}

.weshare-view .products .product .btn {
    display: block;
    margin-top: -4px;
    float: left;
    width: 30px;
    height: 25px;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat;
    background-size: 100px 100px;
}

.weshare-view .products .product .btn.increase-btn {
    background-position: -35px -65px;
}

.weshare-view .products .product .btn.decrease-btn {
    background-position: 0 -65px;
}

.weshare-view .products .product .num {
    display: block;
    margin-top: -4px;
    float: left;
    font-size: 14px;
    color: #333333;
    width: 35px;
    text-align: center;
    line-height: 25px;
}

.weshare-view .orders .order .buyer-image img {
    width: 40px;
    border-radius: 40px;
    height: 40px;
}

.weshare-view .orders .order .buyer-name {
    color: #29AC0E;
}

.weshare-view .orders .order .paid-status {
    color: #5BC0DE;
    float: right;
}

.weshare-view .orders .order .refunding-status {
    color: #5BC0DE;
    float: right;
}

.weshare-view .orders .order .shipped-status {
    color: #29AC0E;
    float: right;
}

.weshare-view .orders .order .done-status {
    float: right;
    color: #E86C27;
}

.weshare-view .orders .order .received-status {
    color: #EC971F;
    float: right;
}

.weshare-view .orders .order .refund-status {
    color: #EC971F;
    float: right;
}

.weshare-view .orders .order .detail {
    width: 80%;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px #eaeaea solid;
    background-color: #ffffff;
    position: relative;
}

.weshare-view .orders .order .detail b {
    display: block;
    width: 6px;
    height: 12px;
    position: absolute;
    left: -6px;
    top: 12px;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png) no-repeat -25px -35px;
    background-size: 100px 100px;
}

.weshare-view .orders .order .detail p {
    padding: 10px;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 14px;
}

.weshare-view .orders .order .detail .display-name {
    display: block;
    padding: 10px 10px 10px 10px;
    line-height: 18px;
    color: #333333;
    font-style: normal;
    word-break: break-all;
}

.weshare-view .orders .order .created-at {
    font-size: 12px;
    color: #bbbbbb;
    padding: 0 10px 10px;
    display: block;
}

.weshare-view .orders .order .small-order-info {
    font-size: 12px;
    color: #bbbbbb;
    padding: 0 0 10px 10px;
    display: block;
}

.weshare-view .orders .order .send-info {
    background-color: #f8f8f8;
    border-top: 1px #eaeaea solid;
    padding: 10px;
}

.weshare-view .orders .order .send-info .confirm-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    border: 1px #29AC0E solid;
    background-color: #ffffff;
    color: #29AC0E;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    width: 80px;
    margin-top: 10px;
}

.weshare-view .orders .order .send-info .order-confirmed-btn {
    display: block;
    text-decoration: none;
    border-radius: 3px;
    border: 1px #eeeeee solid;
    background-color: #eeeeee;
    color: #999999;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    width: 70px;
    margin-top: 10px;
}

.weshare-view .orders .order .commenting-o {
    margin-top: -20px;
    float: right;
    color: #263A40;
}

.weshare-view .orders .order.my-order .buyer-image, .weshare-view .orders .order.my-order .detail {
    float: right;
}

.weshare-view .orders .order.my-order .detail {
    margin-left: 0;
    margin-right: 10px;
    background-color: #c9edc1;
    border: 1px #b3e1aa solid;
}

.weshare-view .orders .order.my-order .detail b {
    background-position: -35px -35px;
    right: -6px;
    left: inherit;
}

.weshare-view .orders .order.my-order .send-info {
    background-color: #a3d997;
    border-top: 1px #a3d997 solid;
}

.weshare-view p.share-description-omit {
    height: 65px;
    overflow-y: hidden
}

.weshare-view div.shippment-info{

}


/*back*/
.refer-back-bg{ background-color: #f9f9f9; border-bottom: 1px #dddddd solid; color: #333333; font-size: 1.3em; line-height: 44px; text-align: center; position: fixed; top: 0; left: 0; width: 100%;}
.refer-back-bg a{ position: absolute; left: 15px; text-decoration: none; color: #333333; width: 4em; height: 44px;}
.refer-back-bg a img,.refer-back-bg a label{ float: left;}
.refer-back-bg a label{ padding-left: 5px; font-size: 0.8em;}
.refer-back-bg a img{ width: 8px;  margin-top: 14px;}

.weshare-add div.shippment-info .ziti{ background-color: #ffffff; margin: 48px 0 5px 0; border: 1px #eeeeee solid; padding: 0 10px;}
.weshare-add div.shippment-info .ziti dl,.expressage dl{ padding: 12px 0 7px 0;}
.weshare-add div.shippment-info .freightmore{ border-top: 1px #eeeeee solid; padding-top: 12px; margin-top: 5px; margin-bottom: 2px;}
.weshare-add div.shippment-info .ziti dl dd,.expressage dl dd{ float: left;}
.weshare-add div.shippment-info .ziti dl dd,.expressage dl dd input,.haolinju dd input,.expressage ul.choice li input{ margin-right: 3px;}
.weshare-add div.shippment-info .sendouttime{ border: 1px #dddddd solid; border-radius: 4px; margin-bottom: 10px; padding: 5px;}
.weshare-add div.shippment-info .sendouttime input,.sendoutsite input{ border: none; border-radius: 0; font-size: 1em; width: 100%;}
.weshare-add div.shippment-info .sendoutsite {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: -1px;
}
.weshare-add div.shippment-info .ziti ul li.fl {
    width: 75%;
}
.weshare-add div.shippment-info .ziti ul li.fr a{ line-height: 35px; border: 1px #49bc6e solid; color: #49bc6e; padding: 0 10px; border-radius: 4px; display: block; text-decoration: none;margin-top: 3px;}
.weshare-add div.shippment-info .ziti ul li.fr a.delete{ border-color: #cccccc; color: #333333;}

.weshare-add div.shippment-info .expressage,.haolinju{ background-color: #ffffff; margin: 0 0 5px 0; border: 1px #eeeeee solid; padding: 0 10px;}
.weshare-add div.shippment-info .pl15{ padding-left: 15px;}
.weshare-add div.shippment-info .freight{ background-color: #f9f9f9; margin-bottom: 10px;}
.weshare-add div.shippment-info .freight h1{ font-size: 1em; font-weight: normal; line-height: 38px; border-bottom: 1px #eeeeee solid; padding: 0 10px; color: #666666;}
.weshare-add div.shippment-info .freightrate{ padding: 0px 10px 10px 10px;}
.weshare-add div.shippment-info .freightrate label{ display: block; float: left; line-height: 36px; color: #666666;}
.weshare-add div.shippment-info .freightrate s{ float: left; margin: 0 8px; border: 1px #dddddd solid; border-radius: 4px; padding: 0px 4px; width: 30px; background-color: #ffffff;}
.weshare-add div.shippment-info .freightrate s input{ font-size: 1em; border: 0; width: 100%; color: #666666;}
.weshare-add div.shippment-info .pt10{ padding-top: 10px;}
.weshare-add div.shippment-info .deletebtn{
    color: #666;
    text-decoration: none;
    padding: 0 10px 10px 10px;
    display: block;
    margin-top: -5px;
}
.weshare-add div.shippment-info .more_city{ display: block; float: right;}
.weshare-add div.shippment-info .more_city img{ width: 9px; height: 16px;}
.weshare-add div.shippment-info .add_freight{ text-decoration: underline; color: #49bc6e; padding-bottom: 10px; display: block; width: 50%;}

.weshare-add div.shippment-info .haolinju{ padding: 5px 10px;}
.weshare-add div.shippment-info .haolinju dd.fr{ font-size: 0.9em; text-align: right;}
.weshare-add div.shippment-info .haolinju dd.fr span{ color: #49bc6e;}
.weshare-add div.shippment-info .haolinju dd.fl{ padding-top: 7px;}

.weshare-add div.shippment-info .submitbtn{ display: block; text-decoration: none; margin: 40px 20px 20px 20px; line-height: 40px; text-align: center; background-color: #49bc6e; color: #ffffff; border-radius: 4px; font-size: 1.2em;}



/*城市选择*/
.citylist{ margin-bottom: 10px; border-bottom: 1px #dddddd solid;}
.citylist ul{ background-color: #ffffff; border-top: 1px #dddddd solid; line-height: 40px; padding-right: 12px;}
.citylist ul li a.show_city{ padding: 9px 5px 9px 12px;}
.citylist ul li a.show_city img{ width: 11px; height:7px;}
.gray{ color: #999999;}
.pl28{ padding-left: 28px;}
.pt44{ padding-top: 44px;}


.offline-address-list {
}

.offline-address-list .offline-address-item {
    padding-left: 10px;
    height: 50px;
}

.offline-address-list .offline-address-item img {
    margin-left: 5px;
    background-size: cover;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
    vertical-align: top;
}

.offline-address-list .offline-address-item span.user-name {
    margin-left: 5px;
    color: #29AC0E;
    font-size: 12px;
}

.offline-address-list .offline-address-item div.wrap-address-info {
    position: relative;
    left: 50px;
    top: -30px;
    width: 85%;
}

.offline-address-list .offline-address-item p.warp-address {
    display: block;
    word-break: break-all;
    line-height: 15px;
    margin-left: 5px;
}

.offline-address-list .offline-address-item span.address-name {
}

.offline-address-list .offline-address-item span.address-order-count {
    margin-left: 3px;
    color: red;
    font-size: 13px;
}

.offline-address-list .offline-address-item span.wrap-order-info {
    font-size: 12px;
    color: #999;
}

.red-packet-dialog {
    border: white;
    position: fixed;
    top: 100px;
    left: 8%;
    z-index: 999;
    padding: 10px 10px 10px;
    width: 80%;
    border-radius: 8px;
    display: block;
    background: #ffa103;
}

.red-packet-dialog .content {
    text-align: center;
}

.red-packet-dialog .nav {
    height: 10px;
    line-height: 10px;
}

.red-packet-dialog .nav .close-btn {
    height: 12px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 12px;
}

.red-packet-dialog .head img {
    width: 50px;
    border-radius: 50px;
    height: 50px;
}

.red-packet-dialog .content .desc {
    line-height: 24px;
}

.red-packet-dialog .content .desc h3 {
    color: #FFFFFF;
    margin-bottom: 5px;
}

.red-packet-dialog .content .desc p {
    color: wheat;
    line-height: normal;
}

.normal-btn {
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: #ffa200;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}

.stop-btn {
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: #cccccc;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}

.tuan_btn {
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: #29AC0E;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}

.starttuan_btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.starttuan_btn a {
    width: 50%;
    float: left;
    display: block;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
}

.clone-share-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.clone-share-btn a {
    width: 50%;
    float: left;
    display: block;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
}



.buying-dialog {
    background-color: #ffffff;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.buying-dialog .title {
    padding: 0px 10px;
    margin-bottom: 15px;
}

.buying-dialog .closebtn {
    margin-top: 3px;
    display: block;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat -70px -65px;
    width: 15px;
    height: 15px;
    background-size: 100px 100px;
}

.buying-dialog label {
    display: block;
    float: left;
    color: #29AC0E;
    font-size: 16px;
    font-weight: bold;
}

.buying-dialog font {
    display: block;
    text-align: center;
    color: #ffa200;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 50px;
}

.price {
    display: block;
    text-align: center;
    color: #ffa200;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 50px;
}

.commenting-dialog {
    background-color: #ffffff;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.commenting-dialog .title {
    padding: 0px 10px;
    margin-bottom: 15px;
}

.commenting-dialog .closebtn {
    margin-top: 3px;
    display: block;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat -70px -65px;
    width: 15px;
    height: 15px;
    background-size: 100px 100px;
}

.commenting-dialog label {
    display: block;
    float: left;
    color: #29AC0E;
    font-size: 16px;
    font-weight: bold;
}

.commenting-dialog font {
    display: block;
    text-align: center;
    color: #ffa200;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 50px;
}

.send-msg-dialog {
    background-color: #ffffff;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.send-msg-dialog .title {
    padding: 0px 10px;
    margin-bottom: 15px;
}

.send-msg-dialog .closebtn {
    margin-top: 3px;
    display: block;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat -70px -65px;
    width: 15px;
    height: 15px;
    background-size: 100px 100px;
}

.send-msg-dialog label {
    display: block;
    float: left;
    color: #29AC0E;
    font-size: 16px;
    font-weight: bold;
}

.send-msg-dialog font {
    display: block;
    text-align: center;
    color: #ffa200;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 50px;
}

.background-layer {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-color: #000000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    opacity: 0.70;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
}

.statistics-dialog {
    color: #ffffff;
    margin: 0 auto;
    font-size: 16px;
    line-height: 35px;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 6;
}

.statistics-dialog ul {
    width: 80%;
    margin: 0 auto;
}

.statistics-dialog ul li strong {
    color: #ffa200;
}

.share-dialog {
    width: 100%;
    background-color: #ffffff;
    color: #c73c3c;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    text-align: center;
    font-weight: bold;
    padding: 40px 0;
}

.comment_list_box {
    height: 80vh;
    overflow-y: scroll;
}

.comment_list-dialog #box_title {
    width: 100%;
    font-weight: bold;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
}

.comment_list-dialog #box_title span {
    color: #ff0000
}

.comment_list-dialog {
    border: white;
    position: fixed;
    top: 20px;
    left: 2%;
    z-index: 999;
    padding: 10px 10px 10px;
    width: 90%;
    border-radius: 4px;
    display: block;
    background: #f5f5f5;
}

.comment_list-dialog .nav {
    height: 10px;
    line-height: 10px;
}

.comment_list-dialog .nav .close-btn {
    height: 12px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 12px;
}

/* con */
.comment_list_box #con {
    margin: 0px auto;
    position: relative;
    border-top: 1px solid #d6d6d6;
    background-color: #FFF;
    overflow: hidden;
}

.comment_list_box #con .bottomcover {
    position: absolute;
    bottom: 0;
    background: url("http://static.tongshijia.com/static/weshares/images/halftransp.png") no-repeat 0 -5px;
    height: 35px;
    width: 394px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.tongshijia.com/static/weshares/images/halftransp.png', sizingMethod='crop');
    pointer-events: none;
}

.comment_list_box #con ul {
    position: relative;
    margin: 0px 10px 0px 10px;
    top: 0;
    left: 0;
    padding: 0;
}

.comment_list_box #con ul li {
    width: 100%;
    border-top: 1px dotted #d6d6d6;
    padding: 10px 0;
    _padding: 8px 0;
    overflow: hidden;
    line-height: 1.5;
}

.comment_list_box #con ul li .div_left {
    float: left;
    width: 15%;
    height: 50px;
}

.comment_list_box #con ul li .div_left img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #333333;
}

.comment_list_box #con ul li .div_right {
    float: right;
    width: 83%;
}

.comment_list_box #con ul li .div_right span {
    color: #6EAFD5;
    padding: 0px;
}

.comment_list_box #con ul li .div_right .twit_item_time {
    color: #999;
    padding: 0px;
}

.notify-dialog {
    background-color: #ffffff;
    padding: 15px 0 0;
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 5;
}

.notify_btn {
    left: 0;
    bottom: 0;
    width: 100%;
}

.notify-dialog .closebtn {
    margin-top: 3px;
    display: block;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat -70px -65px;
    width: 15px;
    height: 15px;
    background-size: 100px 100px;
}

.notify_btn a {
    width: 50%;
    float: left;
    display: block;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
}

.notify-dialog label {
    display: block;
    float: left;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.notify-dialog font {
    display: block;
    text-align: center;
    color: #ffa200;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 50px;
}

.recommend-dialog {
    background-color: #ffffff;
    padding: 15px 0 0;
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 5;
}

.recommend-dialog .title {
    padding: 0px 10px;
    margin-bottom: 15px;
}

.recommend-dialog .closebtn {
    margin-top: 3px;
    display: block;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat -70px -65px;
    width: 15px;
    height: 15px;
    background-size: 100px 100px;
}

.recommend-dialog label {
    display: block;
    float: left;
    color: #29AC0E;
    font-size: 16px;
    font-weight: bold;
}

.recommend-dialog font {
    display: block;
    text-align: center;
    color: #ffa200;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 50px;
}

.recommend-dialog .recommend-btn {
    left: 0;
    bottom: 0;
    width: 100%;
}

.recommend-dialog .recommend-btn a {
    width: 50%;
    float: left;
    display: block;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
}

.group-share-tip-dialog {
    background-color: #ffffff;
    padding: 15px 0 0;
    position: fixed;
    top: 20%;
    left: 5%;
    width: 90%;
    z-index: 5;
}

.group-share-tip-dialog .title {
    padding: 0px 10px;
    margin-bottom: 15px;
}

.group-share-tip-dialog .closebtn {
    margin-top: 3px;
    display: block;
    background: url(http://static.tongshijia.com/static/weshares/images/weifxicon.png?v0.03) no-repeat -70px -65px;
    width: 15px;
    height: 15px;
    background-size: 100px 100px;
}

.group-share-tip-dialog label {
    display: block;
    float: left;
    color: #29AC0E;
    font-size: 16px;
    font-weight: bold;
}

.group-share-tip-dialog font {
    display: block;
    text-align: center;
    color: #ffa200;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 50px;
}

.group-share-tip-dialog .recommend-btn {
    left: 0;
    bottom: 0;
    width: 100%;
}

.group-share-tip-dialog .recommend-btn a {
    width: 50%;
    float: left;
    display: block;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
}

/*progressbar*/
#progressbar {
    margin-bottom: 15px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffa200;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #27AE60;
    color: white;
}

.moreicon {
    position: absolute;
    top: 50%;
    margin-top: -0.7em;
    right: 0.6em;
    display: block;
    width: 0.667em;
    height: 1.334em;
    background: url(http://51daifan-assets.stor.sinaapp.com/static/weshares/images/pyshuo_icon.png) 0 -16.875em no-repeat;
    background-size: 25em 25em;
}

/*自提点详情alice add css 0627*/
.logistics_ziti {
    padding: 44px 10px 10px 10px;
}

.logistics_ziti h1 {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding: 15px 0;
    border-bottom: 1px #eeeeee solid;
}

.logistics_ziti p {
    padding: 15px 0;
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px #eeeeee solid;
}

.logistics_ziti p i {
    display: block;
    color: #999999;
    font-style: normal;
}

.logistics_ziti p em {
    display: block;
    color: #333333;
    font-style: normal;
}

.logistics_ziti p a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #29AC0E;
    margin-top: 5px;
    width: 100px;
}

.logistics_ziti p a b {
    display: block;
    float: left;
    width: 21px;
    height: 21px;
    margin: 0 auto;
}

.logistics_ziti p a b img {
    width: 100%;
}

.logistics_ziti p a label {
    display: block;
    float: left;
    padding-left: 5px;
    line-height: 21px;
}

/*选择自提点alice add css 0627*/
.zitilist {
    padding-right: 10px;
    position: relative;
    padding-top: 44px;
}

.zitilist li.fl {
    background-color: #ffffff;
    position: fixed;
    top: 44px;
    left: 0;
    overflow-x: hidden;
    width: 20%;
}

.zitilist li.fr {
    width: 80%;
}

.zitilist h1 {
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}

.zitilist h1.cur {
    background-color: #f5f5f5;
}

.zitilist h2 {
    padding: 12px 20px 12px 0;
    border-bottom: 1px #eeeeee solid;
    margin-left: 15px;
}

.zitilist h2 a {
    font-size: 14px;
    color: #333333;
    text-align: left;
    text-decoration: none;
}

.dialog-delorder {
    box-shadow: 0 2px 11px #ccc;
    position: absolute;
    width: 80%;
    z-index: 1001;
    left: 10%;
    top: 20%;
    margin-left: auto;
    margin-right: auto;

}

.dialog-delorder .dialog-bar {
    background: #f3f3f3;
    color: #666;
    font-size: 12px;
    font-family: simsun;
    font-weight: 700;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    text-indent: 10px;
}

.dialog-delorder .dialog-close {
    background: url(http://51daifan-assets.stor.sinaapp.com/static/weshares/images/allBtn.png) -357px -1875px no-repeat;
    float: right;
    height: 21px;
    margin-right: 6px;
    margin-top: 5px;
    width: 21px;
}

.dialog-delorder .dialog-content {
    background: #fff;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.dialog-delorder .dialog-console {
    background: #fff;
    overflow: hidden;
    padding: 8px 0 10px;
    text-align: center;
    *zoom: 1;
}

.dialog-delorder .dialog-content p {
    font-size: 14px;
    padding: 10px 0 16px;
    text-align: left;
}

.dialog-delorder .dialog-console a, .dialog-delorder .dialog-console a:link, .dialog-delorder .dialog-console a:hover {
    background: #8ecd1c;
    border: 1px #7ebb48 solid;
    display: inline-block;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    margin-right: 12px;
    text-align: center;
    text-decoration: none;
    width: 118px;
}

.dialog-delorder .dialog-console a.console-btn-confirm {
    color: #fff;
}

.dialog-delorder .dialog-console a.console-btn-cancel, .dialog-delorder .dialog-console a.console-btn-cancel:link, .dialog-delorder .dialog-console a.console-btn-cancel:hover {
    background: #fefefe;
    border-color: #d9d9d9;
    color: #999;
    margin: 0;
}

.form-group.has-warning .form-control {
    border-color: #f99d3a;
}

.product-group.has-warning .tips,
.form-group.has-warning .tips {
    display: block;
    color: #f99d3a;
}



