/* mike zou base styles*/
input{
	font-size: 1rem;
	background: #fff;
}

a{
	text-decoration: none;
	color: #000;
}

em{
	font-style:normal;
}

input,
a{
	outline: none;
}

.clearfix { 
  *zoom: 1; 
} 
.clearfix:before, 
.clearfix:after { 
  display: table; 
  line-height: 0; 
  content: ""; 
} 
 
.clearfix:after { 
  clear: both; 
} 
