html {
	font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
@media screen and (min-width:380px) and (max-width:450px){
	html{
		font-size: 13px;
	}
}
@media screen and (min-width:451px) and (max-width:530px){
	html{
		font-size: 16px;
	}
}
@media screen and (min-width:531px) and (max-width:620px){
	html{
		font-size: 17px;
	}
}
@media screen and (min-width:621px) and (max-width:749px){
	html{
		font-size: 20px;
	}
}
@media screen and (min-width:750px) and (max-width:887px){
	html{
		font-size: 24px;
	}
}
@media screen and (min-width:880px){
	html{
		font-size: 28px;
	}
}