.channel_bottom { height: 49px; z-index: 10; }

footer {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 7px 0 0;
    text-align: center;
    background: #f7f7f9;
    color: #666666;
    border-top:1px #b3b4b6 solid;
}

footer a:visited {
    text-decoration: none;
}

footer a:active {
    text-decoration: none;
}

footer a:link{
    text-decoration: none;
}

.channel_bottom .btm_item:nth-child(1), .channel_bottom .btm_item:nth-child(3) {
    width: 19%;
}

.channel_bottom .btm_item {
    float: left;
}

.channel_bottom .iconfont {
    font-size: 20px;
    line-height: 15px;
    color: #7d7d7d;
}
.channel_bottom .iconfont-active{
    font-size: 20px;
    line-height: 15px;
    color: #49bc6e;
}
.channel_bottom b {
    font-size: 12px;
    color: #888888;
}

.channel_bottom b.active{
    color: #49bc6e;
}

.channel_bottom .buy {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 36px;
    background-color: #ffa200;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff;
}

.channel_bottom .stop {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 36px;
    background-color: #49bc6e;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff;
}
.channel_bottom .stop.processing {
    background-color: #ccc;
}

.channel_bottom .cut-off {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 36px;
    background-color: #cccccc;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff;
}

.channel_bottom .wx-pay {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 36px;
    background-color: #49bc6e;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff;
}
.channel_bottom .ali-pay {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 36px;
    background-color: #ffa200;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff;
}
