<?php $found = 0; ?>
{{loop $orders $order}}
<?php

$found ++;

$orderShichi =$ordershichis[$order['OrderShichi']['order_id']];
$brand = $brands[$orderShichi['Order']['brand_id']];
?>
<div class="voffset3 order_item_{{$order['OrderShichi']['order_id']}}">
    <div class="orderitem" style="background-color: #ffffff">
        <div class="orderitem_top">
            <div style="position: relative">
                <span class="vertical-align"><a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brand['Brand']['created'])).'/'.$brand['Brand']['slug'].'.html')}}">{{$brand['Brand']['name']}}</a></span>
            <span class="vrtical-align order_status_text order-status-{{$order['OrderShichi']['order_id']}}" style="position: absolute; right: 0; bottom: 0;">
                    {{if $order['OrderShichi']['is_comment']==0}}待评价
                    {{elseif $order['OrderShichi']['is_comment']==1}}已评价
                    {{/if}}
            </span>
            </div>
        </div>
        {{if !empty($order_carts[$order['OrderShichi']['order_id']])}}
        <a href="/orders/detail/{{$order['OrderShichi']['order_id']}}">
            {{loop $order_carts[$order['OrderShichi']['order_id']] $cart}}
            <div class="clearfix orderitem_item">
                {{$this->Html->image(small_thumb_link($cart['Cart']['coverimg']), array(
                'class' => 'col-xs-3',
                ));}}
                <p class="col-xs-6">{{$cart['Cart']['name']}}</p>
                <!--<div class="col-xs-3 pull-right">-->
                    <!--<p style="margin-bottom: 0;" class="pull-right">￥{{$this->Number->precision($cart['Cart']['price'], 2)}}</p>-->
                    <!--<br/>-->
                    <!--<small style="margin-bottom: 0" class="pull-right">×{{$cart['Cart']['num']}}</small>-->
                <!--</div>-->
            </div>
            {{/loop}}
            <!--<div class="orderitem_price clearfix">-->
                <!--&lt;!&ndash;<span class="pull-left"> 订单号:{{$order['OrderShichi']['order_id']}} </span>&ndash;&gt;-->
                <!--<span class="pull-right" style="text-align: right;">共{{$counts[$order['OrderShichi']['order_id']]}}件商品 实付：{{$this->Number->precision($order['OrderShichi']['total_price'], 2)}}</span>-->
            <!--</div>-->
        </a>
        <div class="orderitem_actions clearfix pull-right order_item_action_{{$order['OrderShichi']['order_id']}}">

            <a class="btn-sm btn-primary" href="/orders/detail/{{$order['OrderShichi']['order_id']}}">详细</a>
            {{if $orderShichi['Order']['status'] == 2}}
            <a  href="javascript:;" onclick="bootbox.confirm('您要确认收货吗？', function(result) {if(result){orders_receive_3g({{$order['OrderShichi']['order_id']}})} })" class="btn-sm btn-warning">确认收货</a>
            {{/if}}


            {{if $order['OrderShichi']['is_comment'] == 0}}
            <a id ="evaluate_shichi" order_id="{{$order['OrderShichi']['order_id']}}"  class="btn-sm btn-primary"  link ="{{product_link($cart['Cart']['product_id'], '/').'?_pys_add_shichi_comment=1'}}">评价试吃</a>
            {{/if}}

        </div>
        <div class="clearfix"></div>
        {{/if}}
    </div>
</div>
{{/loop}}

{{if $found == 0 }}
<div style="text-align: center;">
    <span class="glyphicon glyphicon-list-alt" style="font-size: 18px; line-height: 1.33;"></span>
    <p>您还没有试吃纪录哦，快去抢试吃吧</p>
</div>
{{/if}}

<script>
    $(document).ready(function(){
        $('a#evaluate_shichi').click(function() {
            var  href = $(this).attr("link");
            var order_id  = $(this).attr("order_id");

            $.ajax({
                type:'get',
                success : function (data) {

                        if (data == 3) {
                           window.location.href = href;
                            return;
                        }
                        utils.alert_one('亲，为保证评价客观性，请确认收货并试吃后再点评哦','知道了');
                        return false;
                },
                data:{},
                url: '/orders/find_order_status/'+order_id,
                dataType: 'json'
            });

        });
    })
</script>