{{literal}}
<a class="clearfix share-goodlist" href="/weshares/view/{{share.id}}">
    <div class="fl"><img lazy-src="{{share.default_image}}" fallback-src="{{vm.staticFilePath}}/static/img/default_product_banner.png" /></div>
    <h1>{{share.title}}</h1>
    <em ng-if="share.status == 0 && share.settlement == 0" style="display: none" ng-class="{'show-b':share.status == 0 && share.settlement == 0}">进行中</em>
    <em ng-if="share.status == 1 && share.settlement == 0" style="display: none" ng-class="{'show-b':share.status == 1 && share.settlement == 0}">已结束</em>
    <em ng-if="share.status == 1 && share.settlement == 1" style="display: none" ng-class="{'show-b':share.status == 1 && share.settlement == 1}">已结算</em>
    <label><span>编号：{{share.id}}</span>，<span>{{share.created}}</span></label>
</a>
<s>待发货订单<span>{{share.order_count}}，</span>交易金额<span>￥{{share.balance_money}}</span></s>
<ul class="clearfix">
    <li ng-if="vm.canManageShareInfo(share)"><a ng-click="vm.delShare(share)">删除</a></li>
    <li ng-if="vm.canManageShareInfo(share)"><a href="/weshares/update/{{share.id}}">修改</a></li>
    <li ng-if="share.status == 0 && vm.canManageShareInfo(share)"><a ng-click="vm.stopShare(share.id)">截止团购</a></li>
    <li ng-if="share.status == 1 && vm.loadShareType == 0 && share.type != 6"><a ng-click="vm.reOpenShare(share.id)">重新开团</a></li>
    <li ng-if="vm.canManageShareOrder(share)"><a href="/weshares/share_order_list/{{share.id}}">订单管理</a></li>
</ul>
{{/literal}}