##sudo a2enmod proxy proxy_http
## vim mods-enabled/proxy.conf, change Deny from all to Allow from all

<VirtualHost *:80>
ServerAdmin webmaster@xiping.me
DocumentRoot "/home/liuzhr/cass/cass/statics/"
ServerName pyshuo.com
ServerAlias www.pyshuo.com www.tongshijia.com linode.pyshuo.com

<Directory />
Options FollowSymLinks
AllowOverride All
Order deny,allow
Allow from all
</Directory>

RequestHeader set Host 51daifan.sinaapp.com
ProxyPass  / http://51daifan.sinaapp.com/ retry=1 timeout=30
ProxyPassReverse / http://51daifan.sinaapp.com/
ProxyPreserveHost On

#With RedirectMatch
#    RedirectMatch ^/(.*) http://www.pyshuo.com/$1
ErrorLog "/var/log/apache2/51daifan.org-error_log"
CustomLog "/var/log/apache2/51daifan.org-access_log" common
</VirtualHost>
