name: ideacms
version: 3

handle:
  - rewrite: if (path ~ "^(js|css|img|files|api|cache|fonts)/(.*)$") goto "webroot/$1/$2"
  - rewrite: if (path ~ "^manage/(js|css|img|files|fonts)/(.*)$") goto "webroot/$1/$2"
  - rewrite: if (!is_file() && !is_dir() && path ~ "^webroot/cache/(.*)$") goto "saekv.php?k=$1"
  
  - rewrite: if (!is_file() && !is_dir() && path ~ "^manage/(.*)$") goto "manage/index.php?%{QUERY_STRING}"
  - rewrite: if (!is_file() && !is_dir() && path ~ "(.*)") goto "index.php?%{QUERY_STRING}"
  - expire: if(path ~ "\.(js|css|png|gif|jpg|jpeg|bmp|ico)") time 31536000
#  - compress: if(path ~ "\.(css|js|html)$") compress
#使用content-type的方式支持js，css，及php输出返回的内容
  - compress: if(out_header["Content-Type"] ~ "(text|javascript|json)") compress
cron:
#	- description: crawl datas
#	  url: /manage/admin/crawls/cronCrawlAll?cron_secret=
#      schedule: 5 6 * * *
#      timezone: Beijing
