<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{$title}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{$title}}记录
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="well">
                    <a class="btn btn-danger" href="/share_manage/wait_balanced_logs.html">待结算分享</a>&nbsp;&nbsp;<a class="btn btn-warning" href="/share_manage/no_order_balance_logs.html">0订单分享</a>&nbsp;&nbsp;<a class="btn btn-success" href="/share_manage/has_balanced_logs.html">已结算分享</a>
                </div>
                <div class="well">
                    <form class="form-inline" method="get" action="/share_manage/{{$action}}">
                        <div class="form-group">
                            <label>分享ID</label>
                            <input type="text" class="form-control" name="shareId" value="{{$shareId}}">
                        </div>
                        <div class="form-group">
                            <label>分享名称</label>
                            <input type="text" class="form-control" name="shareName" value="{{$shareName}}">
                        </div>
                        <div class="form-group">
                            <label>分享人ID</label>
                            <input type="text" class="form-control" name="sharerId" value="{{$sharerId}}">
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label>结算类型</label>-->
                        <!--<select class="form-control" name="balanceType">-->
                        <!--<option value="-1" {{if $balanceType=='-1'}}selected{{/if}}>全部</option>-->
                        <!--<option value="1" {{if $balanceType=='1'}}selected{{/if}}>团长分享</option>-->
                        <!--<option value="2" {{if $balanceType=='2'}}selected{{/if}}>团长代售</option>-->
                        <!--<option value="3" {{if $balanceType=='3'}}selected{{/if}}>产品街</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label>产品渠道</label>
                            <select class="form-control" name="shareType">
                                <option value="0" {{if $shareType==0}}selected{{/if}}>全部</option>
                                <option value="1" {{if $shareType==1}}selected{{/if}}>分享人</option>
                                <option value="2" {{if $shareType==2}}selected{{/if}}>产品街</option>
                            </select>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label>结算状态</label>-->
                            <!--<select class="form-control" name="balanceStatus">-->
                                <!--<option value="-1" {{if $balanceStatus=='-1'}}selected{{/if}}>全部</option>-->
                                <!--<option value="0" {{if $balanceStatus=='0'}}selected{{/if}}>待审核</option>-->
                                <!--<option value="1" {{if $balanceStatus=='1'}}selected{{/if}}>待结算</option>-->
                                <!--<option value="2" {{if $balanceStatus=='2'}}selected{{/if}}>已结算</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label>交易金额</label>-->
                        <!--<select class="form-control" name="balanceFee">-->
                        <!--<option value="0" {{if $balanceFee=='0'}}selected{{/if}}>全部</option>-->
                        <!--<option value="1" {{if $balanceFee=='1'}}selected{{/if}}>大于0</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        {{if $show_time_filter}}
                        <div class="form-group">
                            <label>截团时间</label>
                            <input type="date" class="form-control" name="beginDate" value="{{$beginDate}}"/>
                        </div>
                        <div class="form-group">
                            <label>至</label>
                            <input type="date" class="form-control" name="endDate" value="{{$endDate}}"/>
                        </div>
                        {{/if}}
                        <button type="submit" class="btn btn-success">查询</button>
                    </form>
                </div>
                <hr/>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>分享ID</th>
                            <th>产品<br/>渠道</th>
                            <th width="5%">分享者</th>
                            <th width="8%">名称</th>
                            <th width="7%">截团<br>时间</th>
                            <th width="8%">产品<br/>名称</th>
                            <th width="8%">产品街<br/>名称</th>
                            <th>产品街<br/>价格</th>
                            <th>团长<br/>售价</th>
                            <th>团长<br/>销量</th>
                            <th>产品<br/>金额</th>
                            <th>快递<br/>费用</th>
                            <th>红包<br/>优惠</th>
                            <th>团长<br/>优惠</th>
                            <th>退款<br/>金额</th>
                            <th>推广<br/>佣金</th>
                            <th>余额<br/>支付</th>
                            <th>交易<br/>金额</th>
                            <th>平台<br/>佣金</th>
                            <th>结算<br/>金额</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{loop $weshares $index $weshare_item}}
                        <?php $loop_flag = 0; ?>
                        {{loop $weshare_item['WeshareProduct'] $product_item}}
                        <tr {{if $index%2==0}}class="warning"{{/if}}>
                            {{if $loop_flag==0}}
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}">
                                {{$weshare_item['Weshare']['id']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}">
                                {{if $weshare_item['Weshare']['type'] == SHARE_TYPE_POOL}}
                                <span style="color: red;">产品街</span>
                                {{else}}
                                <span style="color: #0000ff;">团长</span>
                                {{/if}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}">
                                {{$weshare_item['User']['nickname']}}<br>
                                <span style="color: yellowgreen;">{{get_user_level_text($weshare_item['UserLevel']['data_value'])}}</span>
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}">
                                {{$weshare_item['Weshare']['title']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: #800000;">
                                {{date('Y-m-d', strtotime($weshare_item['BalanceLog']['end_datetime']))}}
                            </td>
                            {{/if}}
                            <td>{{$product_item['name']}}</td>
                            <td>
                                {{if $weshare_item['Weshare']['type'] == SHARE_TYPE_POOL}}
                                {{$pool_share_data['pool_products'][$product_item['origin_product_id']]['name']}}
                                {{/if}}
                            </td>
                            <td>
                                {{if $weshare_item['Weshare']['type'] == SHARE_TYPE_POOL}}
                                {{$pool_share_data['pool_products'][$product_item['origin_product_id']]['price']/100}}
                                <br>
                                <span style="color: green;">渠道价： {{$pool_share_data['pool_products'][$product_item['origin_product_id']]['channel_price']/100}}</span>
                                {{/if}}
                            </td>
                            <td>{{$product_item['price']/100}}</td>
                            <td>{{$weshare_product_summary[$product_item['id']]['num']}}</td>
                            <td>{{get_format_number($weshare_product_summary[$product_item['id']]['turnover']/100)}}
                            </td>
                            {{if $loop_flag==0}}
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color:red;">
                                {{$weshare_item['BalanceLog']['ship_fee']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: red;">
                                {{$weshare_item['BalanceLog']['coupon_fee']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: red;">
                                {{$weshare_item['BalanceLog']['proxy_rebate']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color:red;">
                                {{$weshare_item['BalanceLog']['refund_fee']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: red;">
                                {{$weshare_item['BalanceLog']['rebate_fee']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: #0000ff;">
                                {{$weshare_item['BalanceLog']['use_rebate_fee']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: #000088;">
                                {{$weshare_item['BalanceLog']['transaction_fee']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: red;">
                                {{$weshare_item['BalanceLog']['brokerage']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}" style="color: #0000ff;">
                                {{$weshare_item['BalanceLog']['trade_fee']}}
                            </td>
                            <td rowspan="{{count($weshare_item['WeshareProduct'])}}">
                                {{if $weshare_item['BalanceLog']['status']==0}}
                                    <a class="btn btn-link"
                                       href="/share_manage/update_balance_log/{{$weshare_item['BalanceLog']['id']}}"
                                       role="button">
                                        去审核
                                    </a>
                                {{/if}}
                                {{if $weshare_item['BalanceLog']['status']==1}}
                                    <a class="btn btn-link"
                                       href="/share_manage/update_balance_log/{{$weshare_item['BalanceLog']['id']}}"
                                       role="button">
                                        修改
                                    </a>
                                {{/if}}
                            </td>
                            {{/if}}
                        </tr>
                        <?php $loop_flag = $loop_flag + 1; ?>
                        {{/loop}}
                        {{/loop}}
                        </tbody>
                    </table>
                    <div class="inline pull-right page">
                        <?php echo $pager;?>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->