<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        产品街产品
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <!-- /.table-responsive -->
        <div class="well">
          <form method="get" action="/share_manage/pool_products">
            <div class="row">
              <div class="col-sm-2">
                <label>产品名字</label>
                <select class="form-control" name="status">
                  <option value="-1" {{if $status==-1}}selected{{/if}}>全部</option>
                  <option value="0" {{if $status==0}}selected{{/if}}>已截团(下架)</option>
                  <option value="1" {{if $status==1}}selected{{/if}}>进行中</option>
                  <option value="2" {{if $status==2}}selected{{/if}}>未发布</option>
                </select>
              </div>
              <div class="col-sm-1">
                <label>&nbsp;&nbsp;</label>
                <button type="submit" class="form-control btn btn-primary">查询</button>
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="5%">分享ID</th>
                <th width="5%">用户ID</th>
                <th width="20%">分享名称</th>
                <th width="35%">
                    <div class='item-class'>
                        <span class='title'>规格</span>
                        <span class='price'>显示价格</span>
                        <span class='channel_price'>渠道价格</span>
                    </div>
                </th>
                <th width="35%">操作</th>
            </tr>
            </thead>
            <tbody>
              {{loop $index_products $product}}
              <tr class='list-item' status={{$product['PoolProduct']['status']}}>
                <td>
                  {{$product['PoolProduct']['weshare_id']}}
                </td>
                  <td>{{$product['PoolProduct']['user_id']}}</td>
                <td>
                  {{$product['PoolProduct']['share_name']}}
                </td>
                <td>
                {{loop $product['WeshareProducts'] $WeshareProducts}}
                <div class='item-class'>
                  <span class='title'>{{$WeshareProducts['name']}}</span>
                  <span class='price'>{{number_format($WeshareProducts['price'] / 100, 2, '.', '')}}</span>
                  <span class='channel_price'>{{number_format($WeshareProducts['channel_price'] / 100, 2, '.', '')}}</span>
                </div>
                {{/loop}}
                </td>
                <td class='share-btns'>
                  <a class="btn btn-info" href="/shareManage/pool_product_edit/{{$product['PoolProduct']['id']}}.html" role="button">编辑</a>&nbsp;|&nbsp;
                  <a class="btn btn-primary" href="/share_manage/pool_product_order?share_id={{$product['PoolProduct']['weshare_id']}}&q_share_id=-1" role="button">订单管理</a>&nbsp;|&nbsp;
                  <a class="btn btn-danger ban-pool-product" href="javascript:void(0);" data-upid={{$product['PoolProduct']['id']}} role="button">下架</a>&nbsp;|&nbsp;
                  <a class="btn btn-danger delete-pool-product" href="javascript:void(0);" data-upid="{{$product['PoolProduct']['id']}}" role="button">删除</a>&nbsp;|&nbsp;
                  <a class="btn btn-info" href="/shareManage/share_from_pool/{{$product['PoolProduct']['weshare_id']}}.html" role="button">指定人开团</a>
                </td>
              </tr>
              {{/loop}}
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>
<link type="text/css" href="http://static.tongshijia.com/static/manage/css/pool_products.css" rel="stylesheet">
<script type="text/javascript" src="http://static.tongshijia.com/static/manage/js/pool_product.js"></script>