<link href="{{$STATIC_HOST}}/static/manage/css/share_edit.css?v0.0.1" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">分享编辑</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading"> {{$this->data['Weshare']['title']}} </div>
        <div class="panel-body">
          <input type="hidden" id="share-id" value="{{$this->data['Weshare']['id']}}">
          <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
            <div class="panel panel-default">
              <div id="headingOne" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseOne" aria-expanded="false" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" role="button" class="collapsed"> 1. 基本信息 </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse" id="collapseOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <div class="col-md-12" id="share-basic-info-panel">
                    <h3> 基本信息</h3>
                    <input type="hidden" class="share-creator" value="{{$this->data['Weshare']['creator']}}"/>
                    <div class="form-group">
                      <label class="control-label">分享标题</label>
                      <input maxlength="100" type="text" class="form-control" placeholder="分享标题" value="{{$this->data['Weshare']['title']}}" id="share-title"/>
                    </div>
                    <div class="form-group">
                      <label class="control-label">取货信息</label>
                      <input maxlength="100" type="text" class="form-control" placeholder="取货信息" value="{{$this->data['Weshare']['send_info']}}" id="share-send-info"/>
                    </div>
                    <div class="form-group">
                      <input type="hidden" value="{{$this->data['Weshare']['images']}}" id="share-images" autocomplete="off">
                      <label class="control-label">分享图片</label>
                      <?php $tmp_images = explode('|', $this->data['Weshare']['images']);
                        $tmp_images = array_filter($tmp_images);
                        ?>
                      <div class="row">
                          {{loop $tmp_images $img}}
                            <div class="image-area col-sm-2">
                              <img src="{{$img}}">
                              <div class="operator">
                                <a href="javascript:void(0)" src-data="{{$img}}" class="btn btn-primary preview-image">预览</a>
                                <a href="javascript:void(0)" src-data="{{$img}}" class="btn btn-danger delete-image">删除</a>
                              </div>
                            </div>
                          {{/loop}}
                          <div class="image-area col-sm-2" style="display: none;" id="image-area-template">
                              <img src="">
                              <div class="operator">
                                  <a href="javascript:void(0)" src-data="{{$img}}"
                                     class="btn btn-primary preview-image">预览</a>
                                  <a href="javascript:void(0)" src-data="" class="btn btn-danger delete-image">删除</a>
                              </div>
                          </div>
                          <div class="col-sm-12 share-upload-btn">
                          <a class='btn btn-default' href="javascript:void(0)" id='upload-image'> 选择图片 </a>
                          <a class='btn btn-primary' href="javascript:void(0)" id='upload-image-action'> 上传图片 </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">分享描述</label>
                      <textarea class="form-control" rows="15" placeholder="分享描述" id="share-description">{{$this->data['Weshare']['description']}}</textarea>
                    </div>
                    <button class="btn btn-primary btn-lg pull-right" type="button" id="save-share-basic-info">保存 </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingTwo" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" role="button" class="collapsed"> 2. 分享产品 </a>
                </h4>
              </div>
              <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <div class="col-md-12" id="share-product-info">
                    <h3> 分享产品</h3>
                    <button type="button" class="btn btn-success pull-right" id="add-new-product">添加一个</button>
                    <div class='col-md-4 product-item' id="share-product-template" style="display: none;">
                      <div style="margin:0;padding:0;display:inline">
                        <input type="hidden" value="0" name="product-id"/>
                        <div class='form-row'>
                          <div class='col-xs-12 form-group required'>
                            <label class='control-label'>产品名称/规格</label>
                            <input class='form-control' type='text' value="" name="product-name">
                          </div>
                        </div>
                        <div class='form-row'>
                          <div class='col-xs-3 form-group required'>
                            <label class='control-label'>价格</label>
                            <input class='form-control' value="0" name="product-price">
                          </div>
                          <div class='col-xs-3 form-group required'>
                            <label class='control-label'>库存</label>
                            <input class='form-control' type='number' value="0" name="product-store">
                          </div>
                          <div class='col-xs-6 form-group required'>
                            <label class='control-label'>分组</label>
                            <select class="form-control" data-init-val="{{$product['WeshareProduct']['tag_id']}}" name="product-tag">
                              <option value="0">默认分组</option> {{loop $weshare_tags $tag}} <option value="{{$tag['WeshareProductTag']['id']}}"> {{$tag['WeshareProductTag']['name']}} </option> {{/loop}} </select>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class='col-xs-4 form-group required'>
                            <label class="checkbox-inline">
                              <input type="checkbox" value="1" name="product-tbd"> 价格待定 </label>
                          </div>
                          <div class='col-xs-4 form-group required'>
                            <label class="checkbox-inline">
                              <input type="checkbox" value="1" name="product-limit"> 限购一份 </label>
                          </div>
                          <div class='col-xs-4 form-group required'>
                            <label class="checkbox-inline">
                              <input type="checkbox" value="1" name="product-deleted"> 是否下架 </label>
                          </div>
                        </div>
                        <div class='form-row'>
                          <div class='col-md-12 form-group'>
                            <button class='form-control btn btn-warning share-product-rm-btn'>移除</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" id="product-container"> {{loop $weshare_products $product}} <div class='col-md-4 product-item' id="share-product-{{$product['WeshareProduct']['id']}}">
                        <div style="margin:0;padding:0;display:inline">
                          <input type="hidden" value="{{$product['WeshareProduct']['id']}}" name="product-id"/>
                          <div class='form-row'>
                            <div class='col-xs-12 form-group required'>
                              <label class='control-label'>产品名称/规格</label>
                              <input class='form-control' type='text' value="{{$product['WeshareProduct']['name']}}" name="product-name">
                            </div>
                          </div>
                          <div class='form-row'>
                            <div class='col-xs-3 form-group required'>
                              <label class='control-label'>价格</label>
                              <input class='form-control' value="{{number_format($product['WeshareProduct']['price']/100, 2)}}" name="product-price">
                            </div>
                            <div class='col-xs-3 form-group required'>
                              <label class='control-label'>库存</label>
                              <input class='form-control' type='number' value="{{$product['WeshareProduct']['store']}}" name="product-store">
                            </div>
                            <div class='col-xs-6 form-group required'>
                              <label class='control-label'>分组</label>
                              <select class="form-control" data-init-val="{{$product['WeshareProduct']['tag_id']}}" name="product-tag">
                                <option value="0">默认分组</option> {{loop $weshare_tags $tag}} <option value="{{$tag['WeshareProductTag']['id']}}"> {{$tag['WeshareProductTag']['name']}} </option> {{/loop}} </select>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class='col-xs-4 form-group required'>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="1" name="product-tbd" data-init-val="{{$product['WeshareProduct']['tbd']}}"> 价格待定 </label>
                            </div>
                            <div class='col-xs-4 form-group required'>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="1" name="product-limit" data-init-val="{{$product['WeshareProduct']['limit']}}"> 限购一份 </label>
                            </div>
                            <div class='col-xs-4 form-group required'>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="1" name="product-deleted" data-init-val="{{$product['WeshareProduct']['deleted']}}"> 是否下架 </label>
                            </div>
                          </div>
                        </div>
                      </div> {{/loop}} </div>
                      <button class="btn btn-primary btn-lg pull-right" type="button" id="save-share-product">保存</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingThree2" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" role="button" class="collapsed"> 3. 物流设置 </a>
                </h4>
              </div>
              <div aria-labelledby="headingThree2" role="tabpanel" class="panel-collapse collapse" id="collapseThree" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <div class="col-md-12" id="shareShipSettingsInfo">
                      <h3> 物流设置</h3>
                      <div class="row"> {{loop $weshare_ship_settings $ship_setting}} <div class="col-md-3 ship-setting-item" data-name="{{$ship_setting['WeshareShipSetting']['tag']}}" data-id="{{$ship_setting['WeshareShipSetting']['id']}}">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="1" name="ship_status" {{if $ship_setting['WeshareShipSetting']['status'] == '1'}}checked{{/if}} {{if $ship_setting['WeshareShipSetting']['tag'] == SHARE_SHIP_GROUP_TAG}}{{if !$can_use_offline_address}}disabled{{/if}}{{/if}} {{if $ship_setting['WeshareShipSetting']['tag'] == SHARE_SHIP_PYS_ZITI_TAG}}{{if !$offline_store_ship_set}}disabled{{/if}}{{/if}}> {{get_ship_text_from_order_ship_mark($ship_setting['WeshareShipSetting']['tag'])}} </label>
                          </div> {{if $ship_setting['WeshareShipSetting']['tag'] == SHARE_SHIP_PYS_ZITI_TAG}} <div class="alert alert-danger">指定用户开放</div> {{/if}} {{if $ship_setting['WeshareShipSetting']['tag'] == SHARE_SHIP_KUAIDI_TAG}} <div class="form-group">
                            <label>快递费用</label>
                            <input type="number" class="form-control ship-fee" placeholder="快递费用" value="{{$ship_setting['WeshareShipSetting']['ship_fee']/100}}">
                          </div> {{/if}} {{if $ship_setting['WeshareShipSetting']['tag'] == SHARE_SHIP_GROUP_TAG}} <div class="form-group">
                            <label>拼团人数</label>
                            <input type="number" class="form-control pin-tuan-num" placeholder="拼团人数" value="{{$ship_setting['WeshareShipSetting']['limit']}}">
                          </div>
                          <div class="alert alert-danger">对团长开放</div> {{/if}} {{if $ship_setting['WeshareShipSetting']['tag'] == SHARE_SHIP_SELF_ZITI_TAG}} <div class="input-group">
                            <input type="text" class="form-control new-address-val" placeholder="新地址">
                            <span class="input-group-btn">
                              <button class="btn btn-primary add-new-address" type="button">添加地址</button>
                            </span>
                          </div>
                          <!-- /input-group -->
                          <h5>自提地址</h5>
                          <ul name="weshare-addresses"> {{loop $weshare_addresses $address_item}} {{if $address_item['WeshareAddress']['deleted'] == 0}} <li data-deleted="0" data-id="{{$address_item['WeshareAddress']['id']}}">{{$address_item['WeshareAddress']['address']}} <button type="button" class="btn btn-warning btn-circle rm-weshare-address" style="width: 20px;height: 20px;padding: 0px 0;"><i class="fa fa-times fa-lg"></i></button></li> {{/if}} {{/loop}} </ul> {{/if}} </div> {{/loop}} </div>
                      <button class="btn btn-success btn-lg pull-right"  id="save-share-ship-setting" type="button">保存 </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingThree3" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseThree" aria-expanded="false" href="#collapseFour" data-parent="#accordion" data-toggle="collapse" role="button" class="collapsed"> 4. 佣金设置 </a>
                </h4>
              </div>
              <div aria-labelledby="headingThree3" role="tabpanel" class="panel-collapse collapse" id="collapseFour" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <div class="col-md-12" id="shareRebateSettingInfo">
                    <h3> 佣金设置</h3>
                    <div class="form-horizontal">
                      <input type="hidden" value="{{$share_rebate_set['ProxyRebatePercent']['id']}}" name="shareRebateId">
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="shareRebateStatus" data-init-val="{{$share_rebate_set['ProxyRebatePercent']['status']}}"> 启用 </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">佣金百分比</label>
                        <div class="col-sm-2">
                          <div class="input-group">
                            <input type="text" class="form-control" name="shareRebate" value="{{$share_rebate_set['ProxyRebatePercent']['percent']}}">
                            <span class="input-group-addon">%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success btn-lg pull-right" type="button" id="saveShareRebateSetting">保存 </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<div class="modal fade" id="image-preview-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">图片预览</h4>
      </div>
      <div class="modal-body">
        <img id="image-preview" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<form id="file-uploader">
  <input type="file" name='images' class="hidden" id="uploader"  />
  <input type="hidden" name='token' value="PYS_IMAGES_001">
  <input type="hidden" name='category' value="images/index">
</form>
<!-- /.container-fluid -->
<script src="{{$STATIC_HOST}}/static/manage/js/share_edit.js?v0.0.2"></script> {{$this->fetch('bottomscript')}}
