@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; font-family:"微软雅黑"; font-size: 14px;}
img{ border:0;}
ul,li{ list-style:none;}
.clearfix{*zoom:1;}
.clearfix:after{content: ".";display: block;height: 0;clear: both; visibility: hidden;}
.fl{ float:left;}
.fr{ float:right;}
.radius4{
    -moz-border-radius:4px;/* Gecko browsers */-webkit-border-radius: 4px;/* Webkit browsers */border-radius:4px;/* W3C syntax */
}

.apple_share {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000;
}

.apple_share.in {
    opacity: .75;
}


/*摇一摇金币*/
.gold_bg{ background-color: #b82e2e;}
.gold_title img,.gold_sheep img{ width: 100%; text-align: center;}
.gold_count{ text-align: center; font-size: 1.1em; color: #ffffff;}
.gold_count span{ color: #ffea00; font-size: 1.3em;}
.gold_bg ul{ width: 70%; margin: 0 auto;}
.gold_bg ul li{ width: 45%; padding-top: 0.8em;}
.gold_bg ul li a{ display: block;}
.gold_bg ul li a img{ width: 100%;}
.gold_prizelist_btn{display: block; width: 35%; margin:0 auto;}
.gold_prizelist_btn img{ width: 100%;}

/*奖品设置*/
.gold_prizeset{ background-color: #f5f5f5; padding:20px 0 5px 10px;}
.gold_prizeset_title{ width: 35%; margin: 0 auto;}
.gold_prizeset_title img{ width: 100%;}
.gold_prizeset_level_title{ font-weight: bold; font-size: 1.2em; color: #333333; padding: 0.8em 0 0.5em 0;}
.gold_prizeset ul li{ width: 50%; float: left;}
.gold_prizeset ul li div{ margin-right: 10px; background-color: #ffffff; padding-bottom: 1em; margin-bottom: 10px;}
.gold_prizeset ul li img{ width: 100%;}
.gold_prizeset ul li p {
    padding: 0 0.5em;
    margin: 0;
    text-align: center;
    height: 5em;
    padding-bottom: 0.8em;
    line-height: 1.5em;
    font-size: 0.9em;
    color: #333333;
}
.gold_prizeset ul li p a {
    color: #c62a35;
    font-size: 1.2em;
    text-decoration: none;
}
.gold_prizeset_seckill_disabled{ display: block; text-decoration: none; border: 1px #cccccc solid; color: #999999; width: 80%; margin: 0 auto;height: 30px; line-height: 30px; text-align: center; font-size: 1.1em;}
.gold_prizeset_seckill_disabled:hover{color: #999999;text-decoration: none}
.gold_prizeset_seckill_disabled:focus{color: #999999;text-decoration: none}
.gold_prizeset_seckill_usable{ display: block; text-decoration: none; border: 1px #c62a35 solid; color: #c62a35; width: 80%; margin: 0 auto; height: 30px; line-height: 30px; text-align: center; font-size: 1.1em;}
.gold_prizeset_seckill_usable:hover{color: #c62a35;text-decoration: none;}
.gold_prizeset_seckill_usable:focus{color: #c62a35;text-decoration: none;}
.gold_prizeset_seckill_usable span{ font-size: 0.9em;}

/*获奖名单*/
.gold_prizelist{ background-color: #ffffff; padding-bottom: 5px 20px 10px 20px;}
.gold_prizelist_title{ text-align: center; padding-top: 1.3em;}
.gold_prizelist_title img{ width: 65%; text-align: center;}
.gold_prizelist p{ text-align: center; font-size: 1em; color: #999999; padding:0.6em 0;}
.gold_prizelist a{ display: block; height: 26px; line-height: 26px; border: 1px #c62a35 solid; color: #c62a35; width:90px; margin:0 auto; text-align: center; font-size: 1em; text-decoration: none;}
.gold_prizelist ul{ padding:0.8em 20px 0 20px; color: #333333; font-size: 1em;}
.gold_prizelist ul .fl span{ color: #666666;}
.gold_prizelist ul .fr span{ color: #999999;}

/*使用说明*/


/*加机会提示层*/
.gold_chance{ position:fixed; left:50%; margin-left:-45%; width:90%; background-color:#ffffff; color:#555555; text-align:center; padding:1em 0; z-index:999;}
.gold_chance_title{ font-size:1.4em; color:#333333; text-align:center; padding-bottom:0.4em;}
.gold_chance p{ font-size: 1.1em; color: #444444; padding: 0.5em 1em 0.5em 1em;}
.gold_chance ul li a{ display:block; width:75%; height:35px; color:#d50000; text-decoration:none; border:1px #d50000 solid; line-height:35px; font-size:15px; text-align:center; margin:0 auto; margin-bottom: 0.8em;}
.gold_chance dl{width:75%; margin:0 auto;}
.gold_chance dl dt a{ display:block; width:100px; height:35px; color:#d50000; text-decoration:none; border:1px #d50000 solid; line-height:35px; font-size:15px; text-align:center; margin:0 auto; margin-bottom: 0.8em;}

.gold_chance_explain{ line-height:37px; padding-left:0.5em; float:left; font-size:1em;}
.gold_chance_aboutus{ padding-top:2em; margin:0 auto; font-size:12px; line-height:1.5em;}
.gold_chance_aboutus img{ width:4.95em; height:2em;}
.gold_chance_close{ position:fixed; top:6%; right:-2.5%;}
.gold_chance_close img{ width:50%; height:50%;}
#gold_trbg{ width:100%; height:100%; background-color:#000000; background-size:cover; display:block; filter:alpha(opacity=45); opacity:0.45; position:absolute; top:0; left:0; z-index:2;}








