@charset "utf-8";
/* CSS Document */

body{ background-color:#f5f5f5;}
*{ padding:0; margin:0; font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; font-size:14px;}
ul li{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
.img{ border:0;}
.clearfix{ zoom:1;}
.clearfix:after{ content:".";display:block;height:0;clear:both; visibility:hidden;}
a{ outline:none;}
input{ outline:none;}
.radius5{ -moz-border-radius: 5px;/* Gecko browsers */-webkit-border-radius: 5px;/* Webkit browsers */border-radius:5px;/* W3C syntax */}

.tuijian{ border-bottom: 1px #eeeeee solid; background-color: #ffffff; border-top: 1px #eeeeee solid; margin-top: 10px;}
.tuijian_banner img{ width: 100%;}
.tuijian h1{ height: 44px; text-align: center; font-size: 1.5em; line-height: 44px; background: url("/img/refer/bg.gif") repeat; padding: 0; margin: 0;color: #c73c3c;}
.tuijian img{ width: 100%;}
.tuijian dl{ padding: 10px 10px 5px 10px; line-height: 20px; color: #333333;}
.tuijian dl span{ color: #c73c3c;display: block; float: left; line-height: 30px; padding-right: 5px;}
.tuijian dl dd a{ float: left; height: 30px; line-height: 30px; background-color: #c73c3c; text-decoration: none; color: #ffffff; display: block; border-radius: 3px; width: 60px; text-align: center;}
.tuijian dl dd strong{ font-size: 1.1em;}
.tuijian_padding{ padding: 5px 0 10px 0;}
.tuijian ul{ padding:15px 10px; border-bottom: 1px #eeeeee solid;}
.tuijian ul li em{ font-size: 1em; color: #c73c3c; padding-bottom: 3px; font-style: normal; display: block; padding-left: 10px;}
.tuijian ul li p{ padding: 0; margin:0; font-size: 1em; line-height: 18px; color: #333333; margin-bottom: 5px; padding-left: 10px;}
.tuijian_good_img{ padding-left: 10px;}
.tuijian_good_img a{ display: block; float: left; margin-right: 10px; padding-bottom: 8px;width: 28%;}
.tuijian ul li a.tuijian_good{ display: block; background-color: #f3f3f3; padding: 5px; margin-left: 10px; text-decoration: none;}
.tuijian ul li a span{ display: block;}
.tuijian_good img,.tuijian ul li.fl img,.tuijianlist li img{ width:40px; height: 40px;}
.tuijian_good span{ color: #333333; text-decoration: none;}
.tuijian_title{padding-left: 10px;display:table; height: 40px;vertical-align:middle;}
.tuijian_title_style{vertical-align:middle;display:table-cell; color: #333333;}
.tuijian_title_style span{ float: left;}
.tuijian_title_style span.fl{ color: #c73c3c; padding-right: 5px;}
.tuijian_title a{ display: block; width: 50px; background-color: #c73c3c; color: #ffffff; height: 30px; line-height: 30px; border-radius: 3px; text-align: center; text-decoration: none;}
.tuijian_title a.disable{ background-color: #acacac; color: #ffffff;}
.tuijian_comment{ display: block; height: 40px; line-height: 40px; border-bottom: 1px #eeeeee solid; text-align: center; color: #c73c3c; text-decoration: none; font-weight: bold; margin-bottom: 44px;}
.tuijian_friend{ padding: 10px 0;}
.tuijian_friend h1{ padding: 0; margin: 0; text-align: center; font-size: 1.5em; color: #c73c3c; padding-top: 5px;}
.tuijian_memberlist{ padding: 10px 10px 0 10px;}
.tuijian_memberlist ul{ float: left; width: 20%; padding-bottom: 5px; }
.tuijian_memberlist ul li{ line-height: 18px; text-align: center; margin: 0 auto; white-space: nowrap;text-overflow:ellipsis; overflow:hidden; color: #666666;}
.tuijian_memberlist img{ width:70%; border-radius: 5px;}
.tuijian_memberlist_name{width:75%; text-align:center;margin: 0 auto;overflow: hidden; font-size: 0.9em;white-space: nowrap; text-overflow: ellipsis;}
.tuijian_btn{ height: 44px; line-height: 44px; text-align: center; font-size: 1.1em; font-weight: bold; background-color:#c73c3c; width: 100%; text-decoration: none; color: #ffffff; display: block; position: fixed; bottom: 0; left: 0; z-index: 2;}
.tuijian_btn:hover{background-color:#c73c3c;color: #ffffff;text-decoration: none;}
.tuijian_btn:visited{background-color:#c73c3c;color: #ffffff;text-decoration: none;}
.tuijian_login{ font-size: 1em; margin-bottom:10px; font-weight: bold; text-align:center; color: #ffffff; line-height: 20px; padding:15px 10px; background-color: #29ac0e;}
.tuijian_login_a{ display: block; width: 65%; margin: 0 auto; margin-top: 20px; line-height: 40px; text-align: center; background-color: #ffa200; color: #ffffff; border-radius: 3px; text-decoration: none; font-size: 18px; font-weight: bold;}
.tuijian_login_a span{ font-size: 14px;}
.mytuijian_a{ color:#c73c3c; line-height: 24px; text-align: center; padding-top: 10px; display: block;}
.tuijian_bg{ background-color: #c73c3c; color: #ffffff; padding: 5%; font-size: 1em; text-align: center; line-height: 25px; margin-bottom: 10px;}
.tuijian_bg strong{ font-size: 1.4em;}
.tuijian_bg a{ display: block; background-color: #ffffff; line-height: 35px; width: 50%; margin: 0 auto; border-radius: 3px; color: #c73c3c; text-decoration: none; margin-top: 10px; font-weight: bold; font-size: 1.1em;}
.tuijian_hoticon{ display: block; position: absolute; background-color:#c73c3c; color: #ffffff; width: 45px; height: 45px; border-radius: 45px; line-height: 45px; font-weight: bold; font-size: 1em; text-align:center; left: 0; top: 0;}

.tuijian_goodlist{ padding-left: 10px;}
.tuijian_goodlist a{display: block; color: #333333; text-decoration: none; width: 50%; float: left; font-size: 1em; margin-bottom: 10px;}
.tuijian_goodlist a s{ display: block; margin-right: 10px;}
.tuijian_goodlist a s img{ width: 100%;}
.tuijian_goodlist label{font-weight: normal ;margin-bottom: 0;display: block; background-color: #ffffff; padding: 5px 10px; height: 35px; overflow: hidden; line-height: 16px; margin-right: 10px;}
.tuijian_goodlist b{ display: block; background-color: #ffffff; padding: 0 10px 10px 10px; color: #ffa200; margin-right: 10px; padding-top: 3px;}
.good_more{ display: block; color: #CC0000; font-weight: bold; padding: 5px 0 15px 0; text-align: center;}
.good_more:hover{display: block; color: #CC0000; font-weight: bold; padding: 5px 0 15px 0; text-align: center;}
.good_more:visited{display: block; color: #CC0000; font-weight: bold; padding: 5px 0 15px 0; text-align: center;}


/*推荐商品*/
.tuandetail_good{ padding:10px 0 0 10px;}
.tuandetail_good .good{ padding: 0; margin: 0; display:block; text-decoration:none; color:#333333; float:left; width:50%; margin-bottom:10px; position:relative;}
.tuandetail_good .good b,.tuandetail_seckill b{ display:block; border-radius:40px; width:40px; height:40px; line-height:40px; background-color:#EC4E4C; color:#ffffff; font-size:15px; text-align:center; position:absolute; left:1px; top:1px;}
.tuandetail_good .good .tuandetail_img{ margin-right:10px; border:1px #eeeeee solid; border-bottom:0;}
.tuandetail_good .good .tuandetail_img img{ width:100%;}
.tuandetail_title{ background-color:#ffffff; color:#333333; padding:5px 8px 10px 8px; margin-right:10px; border:1px #eeeeee solid; border-top:0;}
.tuandetail_title span{ display:block; line-height:14px; font-size:0.9em; height: 28px; overflow:hidden; text-overflow:ellipsis;}
.tuandetail_title em{ display:block; color:#cccccc; font-style:normal;}
.tuandetail_title em strong{ color:#ff9000;}
.tuandetail_title em font{ font-size:0.9em; text-decoration:line-through;}
.tuandetail_title a{ display: block; text-decoration: none; text-align: center; margin-top: 5px; line-height: 30px; border-radius: 3px;}
.tuandetail_title a.exchangebtn{ background-color: #ffa200; color: #ffffff;}
.tuandetail_title a.disabledbtn{ background-color:#dddddd; color: #ffffff;}
.tuandetail_title s{ color:#c73c3c; text-decoration: none; display: block; padding-top: 3px;}
.tuandetail_exchange{ text-align: center; font-size: 1.4em; color: #333333; font-weight: bold; padding: 15px 0; border-bottom: 1px #eeeeee solid; color: #c73c3c; background-color: #ffffff;}
.tuandetail_usebtn{ display: block; line-height: 35px; text-align: center; background-color: #ffffff; color: #c73c3c; font-size: 1em; font-weight: bold; margin-right: 10px; border: 1px #eeeeee solid; border-top: 0;}

/*我的推荐列表*/
.tuijianlist{ padding-top:10px;}
.tuijianlist_banner{ background-color: #c73c3c; color: #ffffff; padding: 15px 0;}
.tuijianlist_banner h1{ padding:0; margin: 0; text-align: center; font-size: 1.4em; line-height: 30px;}
.tuijianlist_banner h1 span{ font-style: italic; font-size: 1.3em;}
.tuijianlist_banner em{ display: block; text-align: center; padding-top: 10px;}
.tuijianlist li{ padding: 10px; border-bottom: 1px #eeeeee solid; background-color: #ffffff;}
.tuijianlist em{ color: #c73c3c; padding-right: 5px;}
.tuijianlist b{ font-weight: normal;}

/*提示框*/
.tipslayer_bg{ width: 100%; height: 100%; background-attachment: fixed; background-color: #000000;filter:alpha(opacity=25);-moz-opacity:0.25; opacity:0.25; position: fixed; z-index: 4; top: 0; left: 0;}
.tipslayer_share{ width: 100%; background-color: #ffffff; color:#c73c3c; position: fixed; z-index: 5; left: 0; top: 0; text-align: center; font-weight: bold; padding: 40px 0;}

/**/
.layer_close{ font-size: 1em; line-height: 36px; text-align:center; color: #ffffff; text-decoration: none; font-weight: bold; border-radius: 36px; width: 36px; height: 36px; background-color: #FFA200; position: absolute; top: -8px; right: -8px;}

/*代理人样式*/
.agency{ padding: 15px 10px 0 10px; line-height: 20px; color: #333333;}
.agency_red{color: #CC0000;}

.tuijianlist_banner em a{ color: #cccccc; text-decoration: none;}
.tuijianlist_banner em a.cur{ color: #ffffff; text-decoration: underline;}