@charset "utf-8";
/* CSS Document */

body{ background-color:#f5f5f5; line-height: 1.25;}
*{ padding:0; margin:0; font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;}
ul li{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
.img{ border:0;}
.clearfix{ zoom:1;}
.clearfix:after{ content:".";display:block;height:0;clear:both; visibility:hidden;}
.pl12{ padding-left:0.5em;}
.mt12{ margin-top:0.5em;}
.mt24{ margin-top:1em;}
a{ outline:none;}
input{ outline:none;}
p {
    margin:0 0 0 0;
}
.radius5{ -moz-border-radius: 5px;/* Gecko browsers */-webkit-border-radius: 5px;/* Webkit browsers */border-radius:5px;/* W3C syntax */}

ul,ol {
    margin-bottom: 0;
}

/*全部团队*/
.alltuan_add{ display: block; width: 100%; background-color: #fae8b5; height: 30px; line-height: 30px; overflow: hidden; text-align: center; font-size: 1em; color: #ff483a; position: fixed; top: 0;}
.alltuan_border {
    border-top: 1px #eeeeee solid;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-bottom: 1px #eeeeee solid;
}
.alltuan ul{ padding: 10px 10px 5px 10px; background-color: #ffffff;}
.alltuan ul li{ float: left;}
.alltuan ul li img{ border: 1px #dddddd solid; width: 8em;vertical-align:baseline;}
.alltuan ul li p{  font-size: 1.2em; font-weight: bold; color: #333333; padding-left: 10px; padding-bottom: 8px;}


.alltuan ul li s{ font-size: 1em; color: #999999; padding-left: 10px; text-decoration: none; line-height: 20px;}
.alltuan dl{ margin: 0 10px; padding-bottom: 6px;}
.alltuan dl dd{ font-size: 1em; color: #333333; float: left; line-height: 18px;}
.alltuan dl dd img{ width: 0.8em; border: 0; margin-top: 1px; margin-right: 3px;vertical-align:baseline;}

.alltuan_addbtn{ display: block; width: 48%; text-align: center; line-height: 26px; border-radius: 2px; font-size: 14px; color: #ed8600; border: 1px #ed8600 solid; text-decoration: none; margin-left: 13px; margin-top: 7px;}
.alltuan_addbtn:hover{color: #ed8600;}
.alltuan_curbtn{ display: block; width: 48%; text-align: center; line-height: 26px; border-radius: 2px; font-size: 14px; color: #ffffff; background-color: #ed8600; border: 1px #ed8600 solid; text-decoration: none; margin-left: 13px; margin-top: 7px;}
.alltuan_curbtn:hover{color: #ffffff;}

.alltuan_btn{ border-top: 1px #eeeeee solid; margin: 0 10px; padding: 8px 0;}
.alltuan_btn a{ display: block; width: 48%; text-align:center; line-height: 30px; border-radius: 2px; font-size: 14px; color: #ed8600; border: 1px #ed8600 solid; text-decoration: none;}
.conordertuan{ padding: 10px 0;}
.conordertuan ul{ float: left; width: 25%; padding: 0;}
.conordertuan ul li{ float: none;}
.conordertuan ul li a{ display: block; border: 1px #dddddd solid; line-height: 35px; text-align: center; text-decoration: none; color:#333333; font-size: 1em; background-color: #ffffff; margin-top: -1px; margin-left: -1px;}
.conordertuan ul li a.cur{ background-color: #29ac0e; color: #ffffff;}
.conordertuan p{ color: #555555; line-height: 18px; padding: 10px 0; margin: 0;}
.conordertuan p span{ color: #29ac0e; font-weight: bold;}



/*团购详情*/
.tuandetail_banner{ position: relative; padding-top: 43px;}
.tuandetail_banner img{ width: 100%;}
.tuandetail_banner p{ padding: 5px 10px; color: #ffffff; line-height: 20px; font-size: 0.9em; position: absolute; bottom: 0; z-index: 999;}
.tuandetail_banner p span{ font-size: 1.5em;}
.tuandetail_banner .bannerbg{ background-color: #000000; filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4; position: absolute; bottom: 0; width: 100%; z-index: 1; width: 100%; height: 54px;}
.tuandetail_price{ border-bottom: 1px #eeeeee solid; padding:8px 10px; font-size: 1em; color: #999999; background-color: #ffffff; margin-bottom: 10px;}
.tuandetail_price li.fl{ padding-right: 3px;}
.tuandetail_price li.fl span{ color: #ffa200;}
.tuandetail_price li.fl span strong{ font-size: 2em; font-weight: normal;}
.tuandetail_price li.fl s,.tuandetail_price li.fr{ display: block; padding-top: 10px;}
.tuandetail_more{ background-color: #ffffff; border-top: 1px #eeeeee solid; border-bottom: 1px #eeeeee solid; padding:10px 10px 9px 10px; line-height: 22px; font-size: 1em; color: #555555; margin-bottom: 10px;}
.tuandetail_more img{ width: 0.5em; margin-top: 3px;}
.tuandetail_adress{ background-color: #ffffff; border-top: 1px #eeeeee solid; padding-top:10px; margin-bottom: 10px;}
.tuandetail_adress_title{ font-size: 1em; color: #555555; padding:0 10px;}
.tuandetail_adress_title span{ display: block; float: left;}
.tuandetail_adress_title a{ display: block; float: right; color: #ffa200;}
.tuandetail_adress ul{ padding: 10px 10px 5px 10px;}
.tuandetail_adress ul li{ float: left;}
.tuandetail_adress ul li img{ border: 1px #dddddd solid; width: 8em;}
.tuandetail_adress ul li p{  font-size: 1.2em; font-weight: bold; color: #333333; padding-left: 10px; padding-bottom: 5px;}
.tuandetail_adress ul li p span{ color: #999999;}
.tuandetail_adress ul li a{ display: block; text-decoration: none;}
.tuandetail_adress ul li s{ font-size: 1em; color: #999999; padding-left: 10px; text-decoration: none; line-height: 20px;}
.tuandetail_adress dl{ padding-left: 10px; padding-bottom: 8px; border-bottom: 1px #eeeeee solid;margin-bottom:0px;}
.tuandetail_adress dl dd{ font-size: 1em; color: #333333; float: left; line-height: 18px;}
.tuandetail_adress dl dd img{ width: 0.8em; border: 0; margin-top: 1px; margin-right: 3px;vertical-align:baseline;}
.tuandetail_adress dl dd span{ color: #666666;}

.tuandetail_p{ color: #666666; padding: 5px 0 10px 0; line-height: 20px; text-align: center;}
.tuandetail_btn{ width: 220px; margin: 0 auto; margin-bottom: 20px;}
.tuandetail_btn a{ display: block; width: 100px; border: 1px #ffa200 solid; border-radius: 3px; height: 35px; line-height: 35px; text-align: center; color: #ffa200; font-size: 1em; text-decoration: none;}



/*团介绍页面*/
.tuan_intro{ position: fixed; z-index: 10001; left: 0px; top: 0px; height: 100%; width: 100%; }
.tuan_intro_bg { position: relative; width: 100%; height: 100%; max-width: 640px; margin: 0 auto; }
.tuan_introimg { position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; background: #cccccc; text-align: center; overflow: hidden; }
.tuan_intro_masg { position: absolute; width: 100%; top: 20%;}
.tuan_intro_masg b{ display: block; font-size: 2.5em; color: #333333; text-align: center;}
.tuan_intro_masg s{ display: block; text-decoration: none; text-align: center; color: #666666; line-height: 20px; padding-top: 5px;}
.tuan_intro_masg span{ display: block; color: #333333; text-align: center; line-height: 24px; padding-top: 20px; font-size: 1.4em;}
.tuan_intro_masg a.tuanmap_a{ display: block; color: #d50000; text-align: center; line-height: 24px;}
.tuan_intro_masg ul{ width: 230px; margin:0 auto; margin-top: 20px;}
.tuan_intro_masg ul li a{ display: block; opacity: 0.9; padding:0 10px; text-align: center; line-height: 40px; font-size: 1.2em; text-decoration: none; font-size: 14px; background-color: #ffffff; border-radius: 2px; color: #d50000;}

/*如何建团*/
.createtuan{padding: 55px 10px 10px 10px;}
.createtuan p{ text-align:center; font-size: 1.15em; color: #555555; margin-bottom: 20px; line-height: 18px;}
.createtuan p.createtuan_title{ text-align: center; font-size: 1.5em; color: #d50000; line-height: 35px; background-color: #ffffff;}
.createtuan p span{ color: #ed8600; font-weight: bold; font-size: 1em;}

.apple_share {position: fixed;  top: 0;  right: 0;  bottom: 0;  left: 0;  z-index: 1030;  background-color: #000;}
.apple_share.in {opacity: .75; }

/*团购进度条*/
.bar{ width: 100%; background-color: #f1f1f1; height: 10px; position: relative; margin: 3px 0;}
.bar_buy{ background-color: #29ac0e; height: 10px; position: absolute; top: 0; left: 0;}
.tuan_bar{ color: #999999; line-height: 18px;padding:10px;background: #ffffff;}
.tuan_bar span{ color: #ffa200;}

/*全部团购商品*/
.goodlist{ margin: 10px 10px 0 10px; position: relative; background-color: #000000; border: 1px #eeeeee solid;}
.goodlist a{ text-decoration: none; color: #333333;}
.goodlist a p{ margin: 0; padding: 8px 10px 0 10px; line-height: 16px; background-color: #ffffff; color: #666666;}
.goodlist s,.goodlist b{ text-decoration: none; font-size: 1.3em;}
.goodlist img{ width: 100%;}
.tuan_cancel img{ width: 100%; opacity:0.7;}
.tuan_cancel ul,.tuan_cancel p{ opacity:0.7;}
.tuan_cancel_condition{ width: 100%; height: 50px; position: absolute; top: 30%; left: 0; z-index: 999; text-align: center; color: #ffffff; line-height: 25px;}
.goodlist ul {
    background-color: #ffffff;
    padding: 10px;
    color: #555555;
}
.goodlist a p{ margin: 0; padding: 10px 10px 0 10px; line-height: 16px; background-color: #ffffff; color: #666666;}
.goodlist ul{ background-color: #ffffff; padding: 5px 10px 10px 10px; color: #555555; line-height: 20px;}
.goodlist ul li{ font-size: 1em;}
.goodlist ul li.fr{ text-align: right; color: #999999;}
.goodlist ul li.fl span{ color:#acacac; text-decoration: line-through;}
.goodlist ul li.fl strong{ font-size: 1.1em; color: #ffa200;}

/*团成员列表*/
.memberlist{ padding: 15px 10px 0 10px;}
.memberlist ul{float: left;width: 25%;padding-bottom: 15px;}
.memberlist ul li{ line-height: 18px;text-align: center;margin: 0 auto;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #666666;}
.memberlist img{ width:80%; border-radius: 5px;}


/*团详情*/
.tuandetail h1{ font-size: 1.1em; color: #333333; margin: 0; padding: 10px 10px 0 10px;}
.tuandetail p{ margin: 0; padding:0;}
.tuandetail p img{ width: 100%;}
.tuandetail_masg{ background-color: #ffffff; border-bottom: 1px #eeeeee solid;}
.tuandetail_masg dl{ padding: 0 10px 10px 10px;}
.tuandetail_masg dl dd{ font-size: 1em; color: #666666; float: left; line-height: 18px;}
.tuandetail_masg dl dd img{ width: 0.8em; border: 0; margin-top: 1px; margin-right: 3px;}
.tuandetail_masg dl dd span{ color: #666666;}
.tuandetail_masg ul{ padding: 10px; background-color: #ffa200; color: #ffffff; margin-bottom: 10px;}
.tuandetail_masg ul li.tuanname{ font-size: 1.4em; font-weight: bold;}
.tuandetail_masg ul li{ font-size: 1em;}
.tuandetail_masg p{ margin: 0; padding:10px; color: #999999; line-height: 18px;}
.tuandetail_member{ background-color: #ffffff; border-bottom: 1px #eeeeee solid; border-top: 1px #eeeeee solid; margin-top: 10px; padding: 0 10px; line-height: 40px; color: #666666;}
.tuandetail .p_more { margin-top: 11px; margin-left: 7px; display: block; width: 0.667em; height: 1.334em; background: url(/img/mobile/pyshuo_icon.png) 0 -16.875em no-repeat; background-size: 25em 25em;
}
.tuandetail_order{ padding: 10px 10px 0 10px;}
.tuandetail_order li{ width: 50%; float: left;}
.tuandetail_order li a{ display: block; line-height: 36px; border:1px solid #dddddd; color: #333333; border-radius: 3px; background-color: #ffffff; text-align: center; text-decoration: none;}
.mr5{ margin-right: 5px;}
.ml5{ margin-left: 5px;}
.tuandetail_member span{ color: #333333;}
.tuandetail h1{ font-size: 1.1em; color: #333333; margin: 0; padding: 10px 10px 0 10px;}
.tuandetail_btnbg{ background-color: #f1f1f1; border-top: 1px #dddddd solid; padding: 4px 0; height: 45px; position: fixed; bottom: 0; left: 0;  width: 100%; z-index: 999;}
.tuandetail_btnbg dl{ padding: 0 10px;}
.tuandetail_btnbg a{ display: block; text-align: center; line-height: 34px; text-decoration: none; border-radius: 3px; font-size: 1.1em;}
.tuandetail_btnbg dl dt.fl{ width: 29%;}
.tuandetail_btnbg dl dt.fr{ width: 69%;}
.tuandetail_btnbg dl dt.fl a{ background-color: #ff9000; border: 1px #ff9000 solid; color: #ffffff;}
.tuandetail_btnbg dl dt.fr a{ border: 1px #ff9000 solid; color: #ff9000;}


.layer_guanzhu{ width:85%; margin:0 auto; text-align:center; color:#999999; font-size:1em; line-height:1.4em; padding:1em 0.5em; background-color:#ffffff; position:fixed; top:50%; left:50%; margin-left:-42.5%; margin-top:-10%; -webkit-box-shadow:0 0 15px #666666;-moz-box-shadow:0 0 15px #666666;box-shadow:0 0 15px #666666; text-align:center;}
.guanzhu_title{ font-size:1.15em; color:#333333; padding-bottom:0.8em;}
.layer_guanzhu a{ display:block; width:5em; height:2em; line-height:2em; margin:0 auto; margin-top:1em; font-size:1em; color:#ffa200; border:1px #ffa200 solid; text-decoration:none; text-align:center;}

.tuandetail_none{ text-align: center; line-height: 55px; color: #999999;}
.tuandetail_none a{ color: #e01d0e; text-align: none;}


/*底部购买*/
.bottom_bg {
    height: 3.8em;
    background-color: #f1f1f1;
    border-top: 1px #dddddd solid;
    width: 100%;
    font-size: 0.9em;
    color: #666666;
    position: fixed;
    bottom: 0;
    left: 0;
}
.bottom_bg .shopping{
    padding: 0px !important;
}
.bottom_bg ul{width:100% !important;}

.bottom_bg li.love {
    width: 0.8em;
    text-align: center;
}
.bottom_bg li.shopping{ width:17%; text-align:center;}
/*background:url(/img/mobile/pyshuo_icon.png) 0 -15em no-repeat;*/
.love_icon{ width:1.72em; height:1.5em; background-size:25em 25em; display:block; margin:0 auto; margin-top:1.2em;}
.love_visited{ width:1.708em; height:1.5em; background:url(/img/mobile/pyshuo_icon.png) -2.25 -15em no-repeat; background-size:25em 25em;}
.p_visited{ color:#29ac0e;}
.detail_shopping_icon{ width:3em; height:1.917em; background:url(/img/mobile/pyshuo_icon.png) -5em -15em no-repeat; background-size:25em 25em; display:block; margin:0 auto; margin-top:0.5em; text-decoration:none;}
.detail_shopping_count {
    position: absolute;
    right: 2px;
    top: 0px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    border-radius: 10px;
    background-color: #29ac0e;
}
.btn_b {
    width: 100%;
    height: 2.35em;
    font-size: 1.25em;
    line-height: 2.35em;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-top: 0.3em;
}
.pay_bg{ background-color:#ffa531;}
.pay_bg:active{ background-color:#ed8600;}
.shopping_bg{ background-color:#ff483a;}
.shopping_bg:active{ background-color:#e01d0e;}
.bottom_bg a:hover{ color:#ffffff;}





