@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; font-family:Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;}
body{ min-width:320px; font-size:14px;}
ul li{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix{ zoom:1;}
.clearfix:after{ content:".";display:block;height:0;clear:both; visibility:hidden;}

.radius10{
    -moz-border-radius: 0.417em;/* Gecko browsers */-webkit-border-radius: 0.417em;/* Webkit browsers */border-radius:0.417em;/* W3C syntax */
}


/*团购详情*/
.tuandetail_nav{ height:35px; line-height:35px; background-color:#333333; position:fixed; top:0; left:0; width:100%; z-index:999;}
.tuandetail_nav ul{ padding:0 10px;}
.tuandetail_nav ul li.fr a{ display:block; margin-left:15px; text-decoration:none; color:#ffffff;}
.tuandetail_nav img{ width:75%; margin-top:4px;}
.tuandetail_name{ background:#ffa200; padding:20px 0; text-align:center; color:#ffffff; margin-top:35px;}
.tuandetail_name strong{ padding:0; margin:0; font-size:1.8em;}
.tuandetail_name em{ display:block; font-style:normal; padding-top:10px; font-size:1.2em;}
.tuandetail_good{ padding:10px 0 0 10px;}
.tuandetail_good a{ display:block; text-decoration:none; color:#333333; float:left; width:50%; margin-bottom:10px; position:relative;}
.tuandetail_good a b,.tuandetail_seckill b{ display:block; border-radius:40px; width:40px; height:40px; line-height:40px; background-color:#EC4E4C; color:#ffffff; font-size:15px; text-align:center; position:absolute; left:1px; top:1px;}
.tuandetail_good a .tuandetail_img{ margin-right:10px; border:1px #eeeeee solid; border-top:0;}
.tuandetail_good a .tuandetail_img img{ width:100%;}
.tuandetail_title{ background-color:#ffffff; color:#333333; padding:5px 8px; margin-right:10px; border:1px #eeeeee solid; border-top:0;}
.tuandetail_title span{ display:block; line-height:14px; font-size:0.9em;}
.tuandetail_title em{ display:block; color:#cccccc; font-style:normal; padding-top:5px;}
.tuandetail_title em strong{ color:#ff9000;}
.tuandetail_title em font{ font-size:0.9em; text-decoration:line-through;}
.tuandetail_seckill{ margin:10px 10px 5px 10px; background-color:#ffffff; position:relative;}
.tuandetail_seckill span{ display:block;}
.tuandetail_seckill span img{ width:100%; border:0; margin:0; padding:0;}
.tuandetail_seckill span h1{ font-weight:normal; line-height:14px; color:#333333; padding-right:8px; display:block; font-size:1em; font-weight:normal;padding:10px 0 5px 10px;}
.tuandetail_seckill span em{ font-style:normal; color:#999999; display:block;padding-left:10px;}
.tuandetail_seckill span em strong{ color:#ff9000;}
.tuan_bar {color: #999999;line-height: 18px;padding: 10px;background: #ffffff;}
.bar {width: 100%;background-color: #f1f1f1;height: 10px;position: relative;margin: 3px 0;}
.bar_buy {background-color: #29ac0e;height: 10px;position: absolute;top: 0;left: 0;}
.tuan_bar span {color: #ffa200;}
.tuan_bar_btn{ display:block; float:left; background-color:#EC4E4C; border-radius:3px; color:#ffffff; text-decoration:none; line-height:35px; width:45%; text-align:center; margin-top:2px;}
.tuandetail_tips{ padding:10px 10px 20px 10px;}
.tuandetail_tips p{ line-height:20px; font-size:18px; font-weight:bold; color:#EC4E4C; padding:5px 0 5px 10px; border-left:5px #EC4E4C solid;}
.tuandetail_tips span{ display:block; padding:10px 0; line-height:20px; color:#EC4E4C;}
.tuandetail_tips em{ color:#555555; line-height:20px; font-style:normal; display:block; padding-bottom:5px;}
.tuandetail_tips em img{ width:50%;}



