@charset "utf-8";
/* CSS Document */
body {
    background-color: #f5f5f5;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    font-size: 14px;
}

ul li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.img {
    border: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.pl12 {
    padding-left: 0.5em;
}

.mt12 {
    margin-top: 0.5em;
}

.mt24 {
    margin-top: 1em;
}

a {
    outline: none;
}

input {
    outline: none;
}

.radius5 {
    -moz-border-radius: 5px; /* Gecko browsers */
    -webkit-border-radius: 5px; /* Webkit browsers */
    border-radius: 5px; /* W3C syntax */
}

/*团购详情*/
.tuandetail_nav {
    height: 35px;
    line-height: 35px;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.tuandetail_nav ul {
    padding: 0 10px;
}

.tuandetail_nav ul li.fr a {
    display: block;
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff;
}

.tuandetail_nav img {
    width: 75%;
    margin-top: 4px;
}

.tuandetail_name {
    background: #ffa200;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    margin-top: 35px;
}

.tuandetail_name strong {
    padding: 0;
    margin: 0;
    font-size: 1.8em;
}

.tuandetail_name em {
    display: block;
    font-style: normal;
    padding-top: 10px;
    font-size: 1.2em;
}

.tuandetail_good {
    padding: 10px 0 0 10px;
}

.tuandetail_good a {
    display: block;
    text-decoration: none;
    color: #333333;
    float: left;
    width: 50%;
    margin-bottom: 10px;
    position: relative;
}

.tuandetail_good a b, .tuandetail_seckill b {
    display: block;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #EC4E4C;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    position: absolute;
    left: 1px;
    top: 1px;
}

.tuandetail_good a .tuandetail_img {
    margin-right: 10px;
    border: 1px #eeeeee solid;
    border-top: 0;
}

.tuandetail_good a .tuandetail_img img {
    width: 100%;
}

.tuandetail_title {
    background-color: #ffffff;
    color: #333333;
    padding: 5px 8px;
    margin-right: 10px;
    border: 1px #eeeeee solid;
    border-top: 0;
}

.tuandetail_title span {
    display: block;
    line-height: 14px;
    font-size: 0.9em;
    max-height: 28px;
    overflow: hidden;
}

.tuandetail_title em {
    display: block;
    color: #cccccc;
    font-style: normal;
    padding-top: 5px;
}

.tuandetail_title em strong {
    color: #ff9000;
}

.tuandetail_title em font {
    font-size: 0.9em;
    text-decoration: line-through;
}

.tuandetail_seckill {
    margin: 10px 10px 5px 10px;
    background-color: #ffffff;
    position: relative;
}

.tuandetail_seckill span {
    display: block;
}

.tuandetail_seckill span img {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.tuandetail_seckill span h1 {
    font-weight: normal;
    line-height: 14px;
    color: #333333;
    padding-right: 8px;
    display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 10px 0 5px 10px;
    margin: 0;
}

.tuandetail_seckill span em {
    font-style: normal;
    color: #999999;
    display: block;
    padding-left: 10px;
}

.tuandetail_seckill span em strong {
    color: #ff9000;
}

.tuan_bar {
    color: #999999;
    line-height: 18px;
    padding: 10px;
    background: #ffffff;
}

.bar {
    width: 100%;
    background-color: #f1f1f1;
    height: 10px;
    position: relative;
    margin: 3px 0;
}

.bar_buy {
    background-color: #29ac0e;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.tuan_bar span {
    color: #ffa200;
}

.tuan_bar_btn {
    display: block;
    float: left;
    background-color: #EC4E4C;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    line-height: 35px;
    width: 45%;
    text-align: center;
    margin-top: 2px;
}
.tuan_bar_btn:hover{
    color: #ffffff;
}
.tuan_bar_btn:visited{
    color: #ffffff;
}
.tuandetail_tips {
    padding: 10px 10px 20px 10px;
}

.tuandetail_tips p {
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #EC4E4C;
    padding: 5px 0 5px 10px;
    border-left: 5px #EC4E4C solid;
}

.tuandetail_tips span {
    display: block;
    padding: 10px 0;
    line-height: 20px;
    color: #EC4E4C;
}

.tuandetail_tips em {
    color: #555555;
    line-height: 20px;
    font-style: normal;
    display: block;
    padding-bottom: 5px;
}

.tuandetail_tips em img {
    width: 50%;
}

.tuandetail .adress {
    background-color: #ffffff;
    color: #333333;
    line-height: 22px;
    padding: 10px;
    border-bottom: 1px #eeeeee solid;
    display: block;
    text-decoration: none;
}

.tuandetail .adress span {
    display: block;
}

.tuandetail p {
    margin: 0;
    padding: 0;
}

.tuandetail_masg {
    background-color: #29ac0e;
    color: #ffffff;
}

.tuandetail_masg p {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    padding: 15px 0 10px 0;
}

.tuandetail_masg em {
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
    font-style: normal;
    padding-bottom: 15px;
}

.tuandetail_masg dl {
    padding: 0 10px 10px 10px;
}

.tuandetail_masg dl dd {
    font-size: 1em;
    color: #666666;
    float: left;
    line-height: 18px;
}

.tuandetail_masg dl dd img {
    width: 0.8em;
    border: 0;
    margin-top: 1px;
    margin-right: 3px;
}

.tuandetail_masg dl dd span {
    color: #666666;
}

.tuandetail_masg ul {
    padding: 10px;
    background-color: #ffa200;
    color: #ffffff;
    margin-bottom: 10px;
}

.tuandetail_masg ul li.tuanname {
    font-size: 1.4em;
    font-weight: bold;
}

.tuandetail_masg ul li {
    font-size: 1em;
}

.tuandetail_member {
    background-color: #ffffff;
    border-bottom: 1px #eeeeee solid;
    padding: 0 10px;
    line-height: 44px;
    color: #666666;
}

.p_more {
    margin-top: 12px;
    margin-left: 7px;
    display: block;
    width: 0.667em;
    height: 1.334em;
    background: url(/img/mobile/pyshuo_icon.png) 0 -16.875em no-repeat;
    background-size: 25em 25em;
}

.tuandetail_member span {
    color: #333333;
}

.tuandetail_good {
    padding: 10px 0 10px 10px;
}

.tuandetail_good a {
    display: block;
    width: 50%;
    float: left;
    text-decoration: none;
    color: #333333;
}

.tuandetail_good a dl {
    padding: 0 0 5px 5px;
}

.tuandetail_good a dl dd.fl {
    color: #ffa200;
    font-weight: bold;
}

.tuandetail_good a span em {
    font-style: normal;
    display: block;
    font-size: 0.9em;
    color: #333333;
    line-height: 16px;
    padding: 5px 5px 3px 5px;
}

.tuandetail_good a .tuandetail_img {
    margin-right: 10px;
    border: 1px #eee solid;
    border-bottom: 0;
    background: #fff;
}

.tuandetail .adress span img{ width:80%;}

.countdown{ float:left; width:1.083em; height:1.8em; line-height:1.8em; background-color:#4f4544; font-size:1em; color:#ffffff; text-align:center; margin-right:1px; -moz-border-radius:0.3em;/* Gecko browsers */-webkit-border-radius:0.3em;/* Webkit browsers */border-radius:0.3em;/* W3C syntax */}
.colon{ color:#4f4544; height:1.8em; line-height:1em; float:left; margin-right:2px;}


