@CHARSET "UTF-8";
body {color:#333;font-family:'lucida grande',verdana,helvetica,arial,sans-serif;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div{margin:0;padding:0;border:0;}
p,li {	line-height:1.4;} /*当设置line-height为像素,显示大号字时，高度错误。（如22px）。 设置为比例 */
ul,ol,li{list-style-type:none;list-style:none;}
select,input,img,select{vertical-align:middle;}
a {	text-decoration:none;}
a:hover {text-decoration:underline;}
h3,h4 {font-family:"微软雅黑",sans-serif;font-size:16px;font-weight:bold;text-align:left;}
h4 {font-size:12px;line-height: 24px;}
.pagelink{margin:20px 0 10px;text-align:center;line-height:24px;}
.pagelink a{display:inline-block;padding:0 5px;cursor: pointer;background:#FFF;border:#CCC 1px solid;}
.pagelink span{display:inline-block;padding:0 5px;border:#CCC 1px solid;}
.pagelink span.disabled{color:#999;}
.pagelink select{vertical-align: baseline;width:auto;height:auto;padding: 0 0;}
.error-message{clear: both;color: #fff;font-weight: bold;background: #c73e14;}
.red {color:red;font-weight:bold;}
/* 导航 */
.breadcrumb {margin: 0 0;}
/*bootstrap */
.navbar{margin-bottom:5px;}
.nav .dropdown,.nav .dropdown .dropdown-menu{margin-top:0px;}
.navbar .divider-vertical{margin:0px 2px;}
.dropdown-menu .divider{margin:2px 1px;} /*下拉菜单*/
.nav-list .divider{margin:1px -15px 0px;} /*左侧菜单*/
.alert{margin-bottom: 5px;}
.form-horizontal .control-group {margin-bottom: 5px;}
textarea {height: auto;width:auto;}
.btn-small{padding: 2px 4px;}
.btn-group {display: inline-block;margin:5px 5px;}

#auth-login-group li {text-align:left;}
#auth-login-group .dropdown-menu{min-width:120px;left:22px;}
#auth-login-group .dropdown-menu a{padding: 3px 0;}
/*  portlet编辑模板布局相关的开始  */
.ui-portlet-header .ui-icon { float: right; }
.ui-contain-active {background:#AED0EA;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}
.ui-datepicker{display:none;}
/*  portlet区域样式相关*/
.ui-portlet {margin-top:5px;margin-bottom:5px;}
.ui-portlet-header h3{	margin-left:10px;}
.ui-widget-header {line-height: 24px;}
.ui-widget-overlay {opacity:0.5;}
.ui-portlet-header {line-height:30px;font-weight: bold;font-size:14px;border-bottom:0;}
.ui-portlet-content {border: 1px solid #ccc;padding:5px;height:auto; min-height:30px;zoom:1;}
.ui-portlet-tab {padding:5px;}
/* portlet-title-list 为列表区域的样式，为ul li 结构. 标题列表，复杂内容列表（图文等） */
/*.portlet-title-list,.portlet-content-list {
    padding: 0 5px;
}*/

/* 插入模板的列表 */
.regionlist{margin-left:5px;}
.regionlist p{font-size:12px;}
.summarylist{min-height:60px;}
.regionleft {margin-right:10px;}
.regionright {margin-left:70px;margin-right:10px;}
.listauthor {line-height:24px;}
.listauthor span{color:#7E8FA1;font-family:"宋体";font-size:12px;}
.ui-region-list-area .regionlist {margin-left:10px;padding:10px 0;}
.regionlist a:link,.regionlist a:hover{text-decoration:none;}
.regionlist,.regiontitlelist{border-bottom: 1px dashed #C7C8C9;}
.regionlist p{font-size:14px;}
.regionlist h3 {color: #234B9C;line-height:32px;}
.regionleft img,.listsummary img {border:1px solid #CCCCCC;float:left;padding:2px;max-height:100px;max-width:150px;}


.portlet-title-list li a {
    background: url("../img/bg/list-bg-icon.png") repeat scroll 0 -31px transparent;
    display: block;
    line-height: 31px;
    overflow: hidden;
    text-indent: 16px;
    white-space: nowrap;
}
ul.title-list li{
	line-height:28px;margin-left:8px;
}
.portlet-title-list li a:hover, .portlet-content-list li a.active {
    background-position: 0 0;
}
.floatli li {float:left;}
.list-item-photo{
	float:left;
	margin: 0px 11px 14px 0px;
	background-color: #F8F8F8;
    border: 1px solid #E2E2E2;
}
.list-item-photo .photoArea{
	padding: 5px 6px 0;min-height: 62px;
}
.list-item-photo .describe {
    line-height: 18px;
    padding: 6px 11px 0;
    word-break: break-all;
    word-wrap: break-word;
}
.edit-maincontent .row{cursor:move;margin-top:5px;padding-top:5px;}
.edit-maincontent .span24{border:1px solid #CCC;margin-bottom:5px;}
.edit-maincontent .ui-contain{margin-top:5px;min-height:130px;}
.edit-maincontent .ui-contain .ui-portlet-header{cursor:move;z-index:200;}
.edit-maincontent .ui-contain .ui-portlet-content{overflow:hidden;height:80px;}
.edit-maincontent .ui-horizontal-layout {background-color:#FFF}
.ui-row-toolbar{margin-left:10px;}
.ui-row-toolbar li,.ui-inner-horizontal-toolbar li,.portlet-edit-toolbar li{cursor:pointer;float:left;}
.nopadding .ui-portlet-content{padding:0;}
/*  portlet编辑相关的结束 */

/* History Pulldown
----------------------------------*/
.ui-state-error .ui-icon-alert {
	float:left;
}

.ui-accordion .ui-accordion-content {
	padding:5px;min-height:100px;
}

.ui-accordion .ui-accordion-header .ui-icon {
	left:0;
}


.ui-progressbar-value { background-image: url(../img/pbar-ani.gif); }


.ui-buttonset {
	margin-right:0px;
}
.ui-button .ui-button-text {
	display:block;
	line-height:24px;
}

.ui-selectmenu{
	line-height:24px;display:block;padding:5px;
}
.ui-selectmenu-status {
	line-height:24px;
}
.ui-selectmenu-menu li a, .ui-selectmenu-status {
	line-height:24px;
	padding:2px 10px;
}
.ui-float-right {
	float:right;
}
.ui-float-left {
	float:left;
}



.ui-pop-tips .ico{
	float:left;width:29px;height:29px;margin-right:10px;
	background:url(../img/icons/gb_icon.png) no-repeat 0 -700px
}
.ui-pop-tips .ico-error{background-position:0 -740px}
.ui-pop-tips .ico-success{background-position:0 -560px}
.ui-pop-tips .tips-cnt{line-height:29px;width:auto;overflow:hidden;#overflow:visible;#zoom:1;}

/* digg及分享 */
.ui-digg{
	margin:5px;
	padding:5px;
	width:60px;
	float:left;
	background:#DBEDF9;
}
.ui-digg .ui-dig-num{
	line-height:32px;
	text-align:center;
}
.ui-share{
	margin:20px 10px 5px;
 	background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-radius: 4px 4px 0 0;
	border-style: solid;
    border-width: 1px;
    box-shadow: none;
	width:72px;
	line-height:22px;
	text-align:center;
	float:right;
}
.ui-share .btn,.ui-share a{
	display:block;
	border-width: 0px;
	border-bottom-width: 1px;
}
.ui-share .ui-share-num{
	line-height:42px;
	font-size:14px;
	font-weight:bold;
	margin:0;
}
/* 编辑布局工具栏图标按钮右对齐  */
.ui-widget-header .ui-icon ,.ui-portlet-header .ui-icon { float: right; }
.ui-header-login{
	 padding: 17px 0;
}
.ui-login-ways{
	margin: 15px 15px 0 0;
	position:relative;
	width: 150px;
}
.ui-oauth-login-list{	
	width:122px;
	height:24px;
	overflow:hidden;
	background:url(../img/oauth/bg_loginways.png) no-repeat scroll 0 0  #FFFFFF;
}
.ui-oauth-login-list li img{
	width:100px;height:24px;
}
.ui-oauth-login-list li{
	text-align: left;
}

.ui-navi {
	display:inline-block;
	list-style:none;padding:0;
}
.ui-navi li {float:left; }
.ui-navi .ui-drop-menu{display:none;position: absolute;z-index: 2;background-color:#f2f7fb;}
.ui-navi li a { display:inline-block; font:13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; height:36px; line-height:34px; padding:0 30px; text-decoration:none;  }

.dropdown-submenu.dropdown-left>a:after{display:block;content:" ";float:left;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 5px 5px 0;border-right-color:#cccccc;margin-top:5px;margin-left:-15px;}
.dropdown-submenu.dropdown-left > .dropdown-menu {
  top: 0; left:-100%; right: 100%; margin-top: -6px; margin-left: -16px;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}

.ui-search-label {float:left;width:70px;line-height:19px;}
.ui-search-options{margin-bottom:0px}
.ui-search-options li {padding:0 2px;}
.ui-search-options li.divider {padding:0;}
.ui-search-options li:hover .ui-drop-menu{display:block;}
.ui-search-options .ui-drop-menu{display:none;position: absolute;z-index: 2;background-color:#f2f7fb;}
.ui-search-options li a{display:block;padding: 1px 5px;}
.ui-search-options li a:hover{text-decoration:none;} /* background-color: #FF6600; */




/* 文章显示样式 */
.Content-title {
	font-family:"黑体";
	border-bottom:1px solid #C8D8F2;text-align:center;
	font-size:20px;padding-top:10px;
	line-height:35px;
}
.Content-info {padding:10px 0 5px 0;text-align:center;}
.Content-body{padding:0 30px;}
.Content-body p{font-size:14px;line-height:1.4;margin:15px 0;}
.Content-body img{margin:5px 10px;min-width: 100%;
    height: auto !important;}
.Content-body, .Content-body div{font-size:14px;}
/* 对文章的观点的样式 */
.viewpoint_list a {
	background:none repeat scroll 0 0 #C8C8C8;
	color:#FFFFFF;
	float:left;
	font:700 13px/30px simsun;
	margin:0 1px 1px 0;
	padding:0 15px;
	white-space:nowrap;
}
.viewpoint_list a.c6 {
	background:none repeat scroll 0 0 #C85A4D;
}
.viewpoint_list a.c5 {
	background:none repeat scroll 0 0 #B55547;
}
.viewpoint_list a.c4 {
	background:none repeat scroll 0 0 #904943;
}
.viewpoint_list a.c3 {
	background:none repeat scroll 0 0 #8E8E8E;
}
.viewpoint_list a.c2 {
	background:none repeat scroll 0 0 #ACACAC;
}
.viewpoint_list a.c1 {
	background:none repeat scroll 0 0 #C8C8C8;
}

.mod-view-point .ft input {
-moz-border-radius:3px 3px 3px 3px;
-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.098) inset;
border:1px solid #AAAAAA;
color:#999999;
padding:2px;
width:170px;
}

/* 用户登录表单，开始*/
.t_l,.t_c,.t_r,.m_l,.m_r,.b_l,.b_c,.b_r{overflow:hidden;background:#000;opacity:0.2;filter:alpha(opacity=20);}
.t_l,.t_r,.b_l,.b_r{width:8px;height:8px;}
.t_c,.b_c{height:8px;}
.m_l,.m_r{width:8px;}
.t_l{-moz-border-radius:8px 0 0 0;-webkit-border-radius:8px 0 0 0;border-radius:8px 0 0 0;}
.t_r{-moz-border-radius:0 8px 0 0;-webkit-border-radius:0 8px 0 0;border-radius:0 8px 0 0;}
.b_l{-moz-border-radius:0 0 0 8px;-webkit-border-radius:0 0 0 8px;border-radius:0 0 0 8px;}
.b_r{-moz-border-radius:0 0 8px 0;-webkit-border-radius:0 0 8px 0;border-radius:0 0 8px 0;}
.m_c{background:#FFF;}
.m_c .tb{margin:0 0 10px;padding:0 10px;}
.m_c .c{padding:0 10px 10px;}
.m_c .o{padding:8px 10px;height:26px;text-align:right;border-top:1px solid #CCC;background:#F2F2F2;}
.m_c .el{width:420px;}
.m_c .el li{padding:0;border:none;}
.flb{padding:10px 10px 8px;height:20px;line-height:20px;}
.flb em{float:left;font-size:14px;font-weight:700;color:#369;}
.flb em a{text-decoration:none;}
.flb .needverify{float:left;margin-left:8px;padding-left:13px;width:45px;height:21px;line-height:21px;background:url(../../static/image/common/re_unsolved.gif) no-repeat 0 0;font-size:12px;color:#999;font-weight:400;}
.flb .onerror,.flb .onright{padding-left:20px;height:auto;line-height:140%;white-space:nowrap;font-size:12px;font-weight:400;}
.flb .onerror{background:url(../img/common/check_error.gif) no-repeat 0 50%;}
.flb .onright{background:url(../img/common/check_right.gif) no-repeat 0 50%;color:#666;}
.flb span{float:right;color:#999;}
.flb span a,.flb strong{float:left;text-decoration:none;margin-left:8px;font-weight:400;color:#333;}
.flb span a:hover{color:#999;}
.flbc{float:left;width:20px;height:20px;overflow:hidden;text-indent:-9999px;background:url(../img/common/cls.gif) no-repeat 0 0;}
.flbc:hover{background-position:0 -20px;}


.lgfm{font:12px/1.5 Tahoma,Helvetica,SimSun,sans-serif,Hei;float:left;padding:20px 0;width:270px;border-right:1px solid #CCC;}
.rgs{margin-bottom:10px;}
.lgfm,.lgfm label,.lgfm p,.lgfm div,.reginfo{line-height:22px;}
.reginfo label{display:inline;}
.reg_c{float:left;width:200px;}
.lgfm .txt,.lgfm .px{padding:2px 4px;height:16px;border:1px solid;border-color:#CCC #EEE #EEE #CCC;}
.lgfm .txt,.lgfm .px,.lgfm .pt{width:120px;}
.lgfm .ftid a,.lgfm .ftid a:hover{border-color:#FFF;}
.fsb{clear:both;padding:5px;}
.fsb .z{padding-top:5px;}
.m_c .fsb{background:#F2F2F2;border-top:1px solid #CCC;}
.fsb .pns{margin-right:8px;}
.lgfm em,.fsb em{float:left;width:110px;}
.fsb .pnr{*margin-top:4px;}
.nlf .txt{width:230px;}
.brls{overflow:auto;margin-bottom:10px;width:470px;height:240px;}
.sipt{float:none;margin:0 0 10px;width:234px;height:20px;background-color:#FFF;border:1px solid;border-color:#CCC #EEE #EEE #CCC;clear:left;}
.sipt a{float:left;width:54px;border:none;}
.sipt a:hover,.sipt a:focus{border:none;}
.sipt .txt{float:left;width:154px;border:none;outline:none;background:#FFF;}
.sltp{float:none;margin:10px 0;clear:both;}
.sltp a,.sltp a:hover,.sltp a:focus{background-color:transparent;border-color:#EEE;color:#069 !important;}
.lpsw label{float:left;padding-left:4px;width:61px;line-height:150%;}
.clck,.sipt .clck{background:#FFF url(../img/common/clck.gif) no-repeat 98% 50%;}
.lgf{float:left;overflow:visible;}
.lgf h4{margin-bottom:10px;font-weight:400;font-size:14px;}
.lgf a{color:#369;}
.minf{margin-top:20px;margin-left:30px;}
/* 用户登录表单，结束*/

/*  订单部分开始 */
.cydz{overflow:hidden; margin-bottom:7px}

.cydz li{width:148px; padding:5px; line-height:150%; display:block; float:left; margin-right:7px; background:#F8FBFC; border:#B7D2DF dotted 1px; color:#87B4C9; padding-left:2px; margin-bottom:5px; overflow:hidden;}
.cydz li.xz{color:#F8AA27; background:#FFFAEE; border:#F9BA53 dotted 1px}

.cydz{overflow:hidden; margin-bottom:7px;border:#B7D2DF dotted 1px; color:#87B4C9;background:#F8FBFC;padding:5px 0 5px 10px;width:80%}

.cydz li{width:99%;display:block;  margin-right:7px;  border:#F8FBFC dotted 1px; color:#87B4C9; padding-left:2px; overflow:hidden;}
.cydz li.xz{color:#F8AA27; background:#FFFAEE; border:#F9BA53 dotted 1px}
.cydz .remark{color:Gray;}
.cydz td{padding:0px;}

.orderinfo h2 { font-size: 14px; line-height: 150%;font-weight: bold; margin-bottom: 5px;}
.orderinfo .p-list{overflow:hidden;margin-right:-1px;border-left:1px solid #DEDEDE;}
.orderinfo .p-list table{border-collapse:collapse;margin-left:-1px;border:solid #DEDEDE;border-width:0 1px;}
.orderinfo .p-list th{padding:5px;background:#F0F0F0;border-top:1px solid #DEDEDE;border-bottom:1px solid #DEDEDE;border-left:1px solid #F0F0F0;font-weight:normal;}
.orderinfo .p-list td{padding:5px;background:#fff;border-top:1px solid #DEDEDE;border-bottom:1px solid #DEDEDE;border-left:1px solid #F0F0F0;text-align:center;}
.o_show, .o_write {
    border-bottom: 2px dotted #CCCCCC;
    margin: 10px 10px 0;
    text-align: left;
}
.waitInfo {
    background: url("../img/ajax/circle_ball.gif") no-repeat scroll 3px 3px #FFFFFF;
    border: 1px solid #C0C0C0;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    padding: 4px 10px 3px 20px;
}
/*  订单部分结束 */

/* 模板样式编辑顶栏 */
#cms-admin-controls {
    background-color: #2F353D !important;
    line-height:32px;
    opacity: 0.5;
    position: relative;
    z-index: 100;
}
/*ckeditor */
body.cke_editable{margin:20px;}

.cke_reset_all textarea,.cke_reset_all select,.cke_reset_all input[type="text"], .cke_reset_all input[type="password"] {cursor: text;padding:0;height:auto;margin-bottom: 3px;}
.cke_reset_all, .cke_reset_all .form-horizontal .control-label {width: 60px;margin-right: 10px;}
.cke_reset_all, .cke_reset_all object.swfupload{height:24px;}
.cke_reset_all, .cke_reset_all .cke_top{width:auto;display:block;}
.margin-zore,.margin-zore .controls{margin:0 0;}
.cke_dialog_contents_body {overflow:hidden;}

/*index main */

/* CSS Document */
.banner{height:400px; min-width:1028px; margin-bottom:30px;}
.banner .tgtimg a img{text-align: center}
.class_title {
    height: 35px;
    border-bottom: 2px solid;
    color: #ffffff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.orange_border{ border-bottom-color:#FFA200;}
.green_border{ border-bottom-color:#29AC0E;}
.orange_bg{ background-color:#FFA200;}
.green_bg{ background-color:#29AC0E;}
.class_title li.word{ font-size:15px; text-align:center; width:100px; height:35px; line-height:35px;}
.slogan{ padding:9px 0 0 25px;}
.orange_border li a{ line-height:35px; text-decoration:none; color:#FFA200; font-size:14px;}
.orange_border .word a{line-height:35px; text-decoration:none; color:#FFFFFF; font-size:14px;}
.green_border li a{ line-height:35px; text-decoration:none; color:#29AC0E; font-size:14px;}
.green_border .word a{line-height:35px; text-decoration:none; color:#FFFFFF; font-size:14px;}
.class_title li a:hover{ text-decoration:underline;}
.item{ margin-bottom:15px;}
.item a.tuijian{ display:block; float:left; margin-right:15px; border:0; padding:0;}
.item a{ display:block; float:left; width:240px; border:1px #dddddd solid; padding-bottom:15px; text-align:center; text-decoration:none; margin-bottom:15px; margin-right:15px;}
.item a:hover{ border-color:#29AC0E;}
.item a h2{ font-size:14px; color:#333333; font-weight:bold; line-height:30px; padding-top:10px;}
.item a p{ font-weight:bold; color:#EC4E4C; font-size:18px;}
.item a p span{ font-weight:normal; color:#999999; font-size:12px; text-decoration:line-through;}
/*回到顶部和二维码*/
.weixin {
    position: absolute;
    left: 1023px;
    top: 0px;
}
.weixin a{ display:block;}
.returnTop {
    width: 40px;
    height: 40px;
    background-color: #29ac0e;
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 10px;
    z-index: 999;
    cursor: pointer;
}
.returnTop img{ margin-top:1px; margin-left:1px;}
.returnTop:hover{ background-color:#1d8308;}
/*end index main*/
/*product profile*/
* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}
.clearfix{ zoom:1;}
.clearfix:after{ content:".";display:block;height:0;clear:both; visibility:hidden;}
.row .thumb{
    border: 0;
    width: 240px;
    height: 180px;
    overflow: hidden;
    position: relative;
    z-index:1;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    /* Firefox 4 */
    -moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    /* Safari 和 Chrome */
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    /* Opera */
    -o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}
.row .thumb:hover{
    transform: scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2); 	/* IE 9 */
    -moz-transform:scale(1.2, 1.2); 	/* Firefox */
    -webkit-transform:scale(1.2, 1.2); /* Safari 和 Chrome */
    -o-transform:scale(1.2, 1.2); 	/* Opera */
}
.classify_list {
    padding-bottom: 15px;
    margin-left: 0px;
    margin-right: 0;
    width: 1028px;
}
.classify_list h1{ font-size:12px; color:#333333; font-weight:normal;}
.classify_list h1 a{ color:#333333; text-decoration:none; line-height:24px;}
.classify_list h1 a:hover{ color:#29AC0E; text-decoration:underline;}
.classify_list div a {
    display: block;
    float: left;
    width: 242px;
    border: 1px #dddddd solid;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 15px;
    overflow: hidden;
}
.classify_list h1 {
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    padding-bottom: 5px;
    line-height: 14px;
}
.classify_list hr{width: 965px}
.classify_list div a div{overflow: hidden}
.classify_list div a:hover{ border-color:#29AC0E;}
.classify_list div a h2{ font-size:14px; color:#333333; font-weight:bold; line-height:30px; padding-top:10px;font-family: "微软雅黑";}
.classify_list div a p{ font-weight:bold; color:#EC4E4C; font-size:18px;}
.classify_list div a p span{ font-weight:normal; color:#999999; font-size:12px; text-decoration:line-through;}
/*end product profile*/
/*custom hr*/
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    width: 960px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/*end custom hr*/
/*pc front public page css*/
body, button, input, select, textarea {
    font: 14px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
ul li{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
.top *,*:before,*:after{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.clearfix{ zoom:1;}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
img{ border:0;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pr20{ padding-right:20px;}
.pt25{ padding-top:25px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.radius5{
    -moz-border-radius:5px;/* Gecko browsers */-webkit-border-radius:5px;/* Webkit browsers */border-radius:0.417em;/* W3C syntax */
}
.green{ color:#29AC0E;}
.main{ width:1028px; margin:0 auto; padding: 0}
.borderb{ border-bottom:1px #eeeeee solid;}
/*top*/
body.modal-open{margin-right: 0px}
.top{
    padding:15px 0 15px 0;
    background-color: #ffffff;
    width: 1028px;
    margin: 0 auto;
}
.top ul{ height:50px;}
.search_box{ margin-top:8px; margin-left:60px; _margin-left:30px;}
.search_box input{ border:2px #29AC0E solid; border-right:0; height:30px; height:20px; width:320px; padding:5px; line-height:20px; color:#333333; font-size:14px; font-family:"微软雅黑"; outline:none;}
.search_btn{ width:80px; height:34px; line-height:34px; background-color:#29AC0E; color:#ffffff; font-weight:bold; font-size:14px; text-align:center; text-decoration:none;}
.myorder a{ display:block; float:left; height:32px; line-height:32px; border:1px #dddddd solid; background-color:#F7F7F7; padding:0 10px; margin-top:8px; font-size:14px; color:#666666; margin-left:10px; text-decoration:none;}
.myorder a:hover{ background-color:#ffffff;}
.myorder span{ display:block; float:left;}
.myorder a span strong{ color:#EC4E4C;}
.myhead_icon{ width:17px; height:17px; background:url(/img/common/pyspc.png) no-repeat -19px -6px; margin-right:8px; margin-top:7px;}
.cart_icon{ width:20px; height:17px; background:url(/img/common/pyspc.png) no-repeat -38px -6px; margin-right:8px; margin-top:7px;}
.top dl{ padding-right:15px; padding-bottom:10px;margin-bottom: 0px}
.top dl dt{ float:right; color:#666666;}
.top dl dt a{ color:#333333; text-decoration:none;}
.top dl dt a:hover{ color:#29ac0e;}
.top dl dt span{ color:#cccccc;}
/*导航*/
.custom_nav{ height:40px; line-height:40px; background-color:#29AC0E; font-size:14px; font-weight:bold;}
.custom_nav ul{ width:1028px; margin:0 auto; }
.custom_nav ul li{line-height: 40px}
.custom_nav ul li a{ display:block; padding:0 20px; color:#ffffff; text-decoration:none;}
.custom_nav ul li a.cur{ background-color:#1D8308;}
.custom_nav ul li a:hover{ background-color:#1D8308; text-decoration:none;}
.custom_nav ul li a dl dt{ float:left;line-height: 40px}
.class{ width:10px; height:5px; background:url(/img/common/pyspc.png) no-repeat 0 0; margin:17px 0 0 5px;}
.class_up{ width:10px; height:5px; background:url(/img/common/pyspc.png) no-repeat -10px 0;margin:17px 0 0 5px;}
.moreclass{ position:absolute; top:40px; left:0;z-index: 2}
.custom_nav ul li dl dd {
    line-height: 30px;
    padding: 9px 10px 9px 15px;
    border: 2px #1D8308 solid;
    border-top: 0;
    background-color: #ffffff;
    width: 139px;
}
/*.custom_nav ul li dl dd{ line-height:30px; padding:10px 10px 10px 15px; border:2px #1D8308 solid; border-top:0; background-color:#ffffff; width:139px;}*/
.custom_nav ul li dl dd a{ color:#333333; font-weight:normal; font-size:14px; line-height:33px;}
/*.nav ul li dl dd a {*/
    /*color: #333333;*/
    /*font-weight: normal;*/
    /*font-size: 14px;*/
    /*line-height: 33px;*/
/*}*/
.custom_nav ul li dl dd a:hover{ background-color:#ffffff; color:#29AC0E; font-weight:bold;}
.custom_nav ul li a span{ display:block; float:left}
.custom_nav ul li a.head_bg{ background-color:#FFA200; margin-right:15px;}
.custom_nav ul li div.head_bg{ background-color:#FFA200; margin-right:15px;}
.custom_nav ul li div.head_bg a:hover{ background-color:#ff9000;}
.custom_nav ul li span.line{ background-color:#FFA200; display:block; float:left; color:#ffffff; font-weight:normal;}
.custom_nav ul li div.head_bg span{ display:block; float:left;}
.head_icon{ width:17px; height:17px; background:url(/img/common/pyspc.png) no-repeat 0 -6px; margin-top:10px; margin-right:5px;}

/*bottom*/
.bottom{ border-top:1px #dddddd solid; width:100%; padding-top: 20px; font-family:"微软雅黑";margin: auto}
.bottom ul li{ float:left; width:224px;}
.bottom ul li h1 {
    font-size: 18px;
    color: #333333;
    padding-bottom: 10px;
    font-weight: normal;
    padding-top: 5px;
    font-family: 微软雅黑;
}
.bottom ul li p {
    line-height: 20px;
}
.bottom ul li p a{ color:#666666; text-decoration:none;}
.bottom ul li p a:hover{ color:#29ac0e;}
.bottom dl dt{font-weight: normal}
.bottom dl{line-height:20px; color:#cccccc; text-align:center;}
/*end public css*/
/*product deatil  css*/

.details{ padding-bottom:70px;}
.details h1{ font-size:12px; color:#333333; font-weight:normal; padding-bottom:10px;}
.details h1 a{ color:#333333; text-decoration:none; line-height:24px;}
.details h1 a:hover{ color:#29AC0E; text-decoration:none;}
.preview{ width:400px; height:300px; border:1px #DDDDDD solid;}
.spec_list{ width:402px; padding-top:15px;}
.spec_list li{ float:left;}
.name{ padding-left:35px; width:410px;}
.name h1{ font-size:16px; font-weight:bold; padding:0;}
.name p{ font-size:12px; color:#666666; line-height:18px; padding-top:10px; padding-bottom:15px;}
.name ul li{ float:left; line-height:28px; color:#333333;}
.name ul li.title{ width:70px; color:#666666;}
.name ul li .price{ color:#EC4E4C; font-size:16px;}
.mar_price{color:#999999;}
.name ul li.red_packet{ background-color:#EC4E4C; color:#ffffff; font-size:12px; font-family:"微软雅黑"; line-height:22px; padding:0 8px; margin-top:3px;}
.details .text{ width:30px; height:27px; border:1px solid #ccc; padding:2px; text-align:center; float:left;}
/*运费*/
.tb_deliveryAdd{ margin:0 6px 0 0;}
.mui_addr_tri{color: #333;margin-right: -12px;padding-right: 12px;cursor: pointer;background: 0 0;border: 0;position: relative;z-index: 2;}
.yunfei span{ display:block; float:left;}
.yunfei i{ width:10px; height:5px; background:url(/img/common/pyspc.png) no-repeat -15px -60px; display:block;margin-top: 11px;margin-left: 2px;margin-right: 7px;}
.overlay_content{ border:1px #dddddd solid; background-color:#ffffff; position:absolute; left:140px; top:22px; width:340px;}
.mui_addr_Close{background: url(/img/common/pyspc.png) no-repeat 0 -60px;width: 8px;height: 8px;position: absolute;right: 5px;cursor: pointer;overflow: hidden;text-indent: -3em;top: 5px;}
.mui_addr_zxCity{padding: 3px 10px 2px;}
.mui_addr_list{list-style: none;margin:0; padding-left:10px;}
.name h1{font-family:"微软雅黑"}
.name p{font-size: 14px}
.name ul.mui_addr_list li{float: left;cursor: pointer;width: 55px;margin: 12px 0 0;height: 16px;line-height: 16px;}
.mui_addr_list .mui_addr_selected {position: relative;}
.mui_addr_list a{color: #999;padding: 0 5px;float: left;white-space: nowrap;text-decoration: none;}
.mui_addr_list a:hover, .mui_addr_list .mui_addr_selected{background-color: #a18c7c;color: #fff;text-decoration: none;}
/*数量*/
.wrap_input a.btn_reduce{ background-position:0 -30px;}
.wrap_input a.btn_add{ background-position:-32px -30px;}
.wrap_input a{ width:26px; height:27px; float:left; display:block; background:url(/img/common/pyspc.png) no-repeat; cursor:pointer;}
.wrap_input input{ float:left; border:1px #dddddd solid; display:block; border-left:0; border-right:0; width:40px; height:27px; outline:none; text-align:center; color:#333333;}
/*按钮*/
.tb_action{ padding:20px 0 0 70px;}
.tb_action a{ float:left; width:120px; height:40px; line-height:40px; font-size:14px; font-weight:bold; text-align:center; cursor:pointer; color:#ffffff;}
.tb_action .tb_btn_buy{ background-color:#FFA200; margin-right:15px;}
.tb_action .tb_btn_buy:hover{ background-color:#ff9000;text-decoration:none;}
.tb_action .tb_btn_basket{ background-color:#EC4E4C;}
.tb_action .tb_btn_basket:hover{ background-color:#db2321;text-decoration:none;}
.tb_action .cart_btn_soldout{background-color: #AEA698;margin-right:15px;}
.tb_action .cart_btn_soldout:hover{background-color: #AEA698;text-decoration: none}

/*相关推荐*/
.recommend{ border-left:1px #eeeeee solid; margin-left:40px; padding-left:10px; width:155px;}
.recommend h1{ border-bottom:1px #eeeeee dashed; height:8px; padding:0; position:relative; margin-bottom:20px;}
.recommend h1 span{ font-size:12px; width:55px; background-color:#ffffff; color:#666666; text-align:center; left:48px; top:0; position:absolute;}
.recommend a,.browse a{ display:block; text-decoration:none; text-align:center; line-height:20px; font-size:12px; color:#666666; margin-top:10px;}
.recommend a:hover,.browse a:hover{ color:#29AC0E;}
.recommend a span,.browse a span{ display:block;}

/*商家信息*/
.store{ border:1px #dddddd solid; width:198px; background-color:#ffffff; padding:20px 0 15px 0; text-align:center;}
.store strong{ display:block; text-align:center; color:#666666; padding:10px 0 8px 0;}
.store strong span{ color:#29AC0E;}
.store dl{ width:100px; margin:0 auto;}
.store dl dt{ float:left; color:#FFA200;}
.ident_icon{ width:16px; height:16px; background:url(/img/common/pyspc.png) no-repeat -72px 0;}
.store .store_entr{ display:block; width:155px; margin:0 auto; margin-top:15px; text-decoration:none; line-height:30px; background-color:#FFA200; text-align:center; color:#ffffff; font-size:12px;}
.store .store_entr:hover{ background-color:#ff9000;}
.store p{ text-align:center; line-height:20px; padding-top:15px; color:#666666;}
.store_a{ background-color:#fafafa; height:40px; text-align:center; width:215px; font-size:14px; color:#EC4E4C; line-height:40px; border:1px #dddddd solid; position:fixed; top:0; z-index:2; text-decoration:none; display:block; font-weight:bold;}
.store_a:hover{ background-color:#eeeeee;}
/*浏览信息*/
.browse{ border:1px #dddddd solid; width:198px; background-color:#ffffff; padding-bottom:15px; text-align:center; margin-top:15px;}
.browse h1{ font-size:14px; font-weight:bold; text-align:center; height:40px; line-height:40px; background-color:#F5F5F5; color:#333333; padding:0; border-bottom:1px #eeeeee solid;}

/*详情*/
.product_details{ width:798px; margin-left:15px;}
.product_details ul,.comment ul{ height:40px; line-height:40px; border:1px #dddddd solid;}
.product_details ul li a,.comment ul li a{ font-size:14px; color:#333333; text-decoration:none; border-right:1px #dddddd solid; display:block; line-height:40px; padding:0 20px;}
.product_details ul li a:hover{ color:#29AC0E;}
.product_details ul li.tm_selected a,.comment ul li.tm_selected a{ padding:0 20px; background-color:#ffffff; color:#333333; margin-top:-2px; margin-left:-1px; font-weight:bold; color:#29AC0E; border-left:1px #29AC0E solid; border-right:1px #29AC0E solid; border-top:2px #29AC0E solid;}
.product_details ul li.tb_btn_basket a{ background-color:#EC4E4C; color:#ffffff; font-weight:bold;}
.product_details ul li.tb_btn_basket a:hover{ background-color:#db2321;}
.product_details ul.slide{position:fixed; top:0; width:798px; background-color:#FFF; z-index:2;}
.descrip{ border:1px #dddddd solid; padding:20px; line-height:28px; font-size:14px; color:#333333;}
.details_nav{border-bottom: 1px solid #ccc;background-color: #fff;position: fixed;top: 0;left: 0;right: 0;height:41px;z-index: 99;-webkit-box-shadow: rgba(0,0,0,.2) 0 1px 5px 0;-moz-box-shadow: rgba(0,0,0,.2) 0 1px 5px 0;box-shadow: rgba(0,0,0,.2) 0 1px 5px 0; z-index:1;overflow: hidden}
.products_intro{ padding:15px 0;}
/*规格*/
.name ul.guige{ padding-bottom:5px;}
.name ul.guige li span{ display:block; float:left; margin-right:10px; line-height:26px; text-decoration:none; padding:0 10px; background-color:#ffffff; font-size:14px; border:1px #cccccc solid; color:#666666; margin-top:5px;}
.name ul.guige li span.cur{ border:1px #29AC0E solid; color:#29AC0E;}
/*声明*/
.state{ border:1px #dddddd dashed; border-left:0; border-right:0; padding:10px; margin-bottom:20px; margin-top:5px; line-height:28px; color:#333333; font-size:14px;}
.state span{ color:#EC4E4C; font-weight:bold;}
.state label{ color:#999999;}
/*评论*/
.comment dl{ padding-top:20px;}
.comment dl dt{ float:left;}
.comment dl dt.header{ width:90px; text-align:center; color:#666666;}
.comment dl dt.content{ border:1px #dddddd solid; margin-left:10px; position:relative; width:698px; padding:10px 15px;}
.comment dl dt.content b{ width:10px; height:18px; background:url(/img/common/pyspc.png) no-repeat 0 -75px; display:block; position:absolute; left:-10px; top:15px;}
.c_good{background-color: #29AC0E;color: #ffffff;font-size: 12px;font-family: "微软雅黑";line-height: 22px;padding: 0 8px;margin-top: 3px; display:block;}
.c_good{background-color: #29AC0E;color: #ffffff;font-size: 12px;font-family: "微软雅黑";line-height: 22px;padding: 0 8px;margin-top: 3px; display:block;}
.c_middle{background-color: #FFA200;color: #ffffff;font-size: 12px;font-family: "微软雅黑";line-height: 22px;padding: 0 8px;margin-top: 3px; display:block;}
.c_bad{background-color: #cccccc;color: #ffffff;font-size: 12px;font-family: "微软雅黑";line-height: 22px;padding: 0 8px;margin-top: 3px; display:block;}
.c_content span{ display:block;}
.c_content span.time{ color:#999999; padding-top:5px;}
.content p{ line-height:22px; color:#666666; padding-top:5px;}
/**/

/*购物车*/
.cart {
    margin-top: 20px;
    background-color: #eeeeee;
    border: 1px #dddddd solid;
    margin-right: 10px;
}
.cart ul li{ float: left; line-height: 40px; color: #666666;}
.cart ul li input{ float: left; margin:13px 5px 0 0;}
.cart ul li label {
    display: block;
    float: left;
    margin-bottom: 0;
}
.width150 {
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}
.width340 {
    width: 390px;
    padding-right: 50px;
}
.width105 {
    width: 120px;
    text-align: center;
    padding-right: 20px;
}
.cart_merchant {
    margin-top: 20px;
    margin-right: 10px;
}
.cart_merchant dl {
    padding-bottom: 5px;
    border-bottom: 2px #dddddd solid;
    margin-bottom: 0;
}
.cart_merchant dl dd{ float: left; color: #666666;}
.cart_merchant dl dd input {
    margin-top: -1px;
    margin-right: 5px;
}
.cart_merchant dl{ padding-bottom: 5px; border-bottom: 2px #dddddd solid;}
.cart_merchant dl dd a{ color:#666666;}
.cart_commodity {
    background-color: #fff9e2;
    border-bottom: 1px #dddddd solid;
    margin-right: 10px;
}
.cart_commodity dl {
    padding: 15px 0;
    margin-bottom: 0;
}
.cart_commodity dl dd{ float: left;}
.cart_merchant dl dd input {
    margin-top: -1px;
    margin-right: 5px;
    height: auto;
    margin-left: 10px;
}
.cart_commodity dl dd img{ float: left; width: 70%;}
.cart_commodity dl dd.width340{ color: #333333; line-height: 20px;}
.cart_commodity dl dd.width105{ font-size: 14px; line-height: 20px}
.orange{ color: #ffa200;}
.gray{ color: #999999;}
.cart_commodity dl dd a.cart_reduce {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px #dddddd solid;
    text-decoration: none;
    color: #666666;
    background-color: #ffffff;
}
.cart_commodity dl dd input {
    float: left;
    border: 0px;
    border-top: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    margin-right: 0;
    width: 40px;
    text-align: center;
    height: 24px;
    outline: none;
    color: #333333;
}
.cart_num {
    width: 88px;
    margin: 0 auto;
}
.cart_commodity{ margin-top:0;}
.cart_commodity dd.cart_commodity_detele a{ color: #999999; text-decoration: none; width: 50px; background-color: none; border: 0;}
.cart_commodity dd.cart_commodity_detele a:hover{ text-decoration: underline;}
.cart_commodity dd.width150 input {
    width: auto;
    margin-right: 30px;
    height: auto;
}
.cart_commodity dd p{ color: #999999; font-size: 12px;}
.cart_floatbar {
    border: 1px #dddddd solid;
    line-height: 40px;
    color: #666666;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 60px;
}
.cart_floatbar input{ margin-top:0;}
.cart_floatbar ul li.allselect {
    padding: 0 20px 0 10px;
    line-height: 42px;
}
.cart_floatbar ul li a.allselect_delete {
    color: #666666;
    text-decoration: none;
    line-height: 42px;
}
.cart_floatbar ul li a.allselect_delete:hover{ text-decoration: underline;}
.cart_floatbar ul li span{ color: #ffa200; font-weight: bold; font-size: 18px; line-height: 40px;}
.cart_floatbar ul li a.cart_pay{ line-height: 42px; display: block; width: 100px; text-align: center; font-size: 18px; background-color: #ffa200; color: #ffffff; text-decoration: none; margin-left: 15px;}
.allselect label{ margin-bottom:0;}
.cart_none {
    text-align: center;
    font-size: 1em;
    color: #666666;
    padding: 40px 0 80px 0;
}
.cart_none a{ color: #ffa200;}
