<style>
    .october-leaf {
        position: absolute;
        background-color: transparent;
        background-image: url('http://www.pyshuo.com/img/apple201410/leavesv2.png');
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0);
    }
    .apple_share {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #000;
    }

    #apple_tree {
        text-align: center;
    }

    .apple_share.in {
        opacity: .9;
    }

    .apple_numbers {
        color: red;
        font-size: 20px;
        font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    }

    .apple_numbers_normal {
        color: #df1a00;
        padding-left: 3px;
        padding-right: 3px;
    }

    #wrapper {
        background-color: #ffeabc;
        min-height: 720px;
    }

    #link_rules a:visited {
        color: #0072c6;
    }

    h2 {
        color: #df1a00;
    }

    .apple_nav_links {
        text-decoration: underline; line-height: 28px;
        margin:20px 2px 5px 2px;
    }

    .top_links {
        text-decoration: underline; font-size: 12px;
        margin:10px 2px 5px 10px;
    }

    .shaking_tips_pic {
        opacity: .7;
        z-index: 1031;
        background-color: #000;
    }

    h3 {
        color:#333333;
    }

    .badge {
        color:#df1a00;
        background-color: gold;
    }

    .price {
        color:#df1a00;
        background-color: gold;
    }

    body{ padding:0; margin:0; font-family:"微软雅黑";}
    .clearfix{*zoom:1;}
    .clearfix:after{content: ".";display: block;height: 0;clear: both; visibility: hidden;}
    .fl{ float:left;}
    .fr{ float:right;}
    .radius10{
        -moz-border-radius: 0.417em;/* Gecko browsers */-webkit-border-radius: 0.417em;/* Webkit browsers */border-radius:0.417em;/* W3C syntax */
    }
    .bg_green{ background-color:#c8ffd8;}
    .bg_orange{ background-color:#ffeabc;}
    .bg_pink{ background-color:#ffe8e8;}
    .bg_white{ background-color:#ffffff;}
    .red{ color:#df1a00;}
    .pad{ padding:1.5em 1em;}
    .rock_btn{ padding:0 4.167em 1em 4.167em;}
    .rock_btn a{ color:#ffffff; text-decoration:none; font-size:1.417em; padding:0.75em; display:block;}
    .rock_btn a.fl{ background-color:#ff6600;}
    .rock_btn a.fl:active{ background-color:#db2400; text-decoration:none;}
    .rock_btn a.fr{ background-color:#08af37;}
    .rock_btn a.fr:active{ background-color:#008c03; text-decoration:none;}
    .pad .title{ font-size:1.167em; font-weight:bold; color:#333333; padding-bottom:0.6em; text-align:center;}
    .pad .con{ font-size:1em; line-height:1.7em; color:#666666;}
    .pad .con_aboutus{ font-size:1em; line-height:1.7em; color:#666666; text-align:center;}
    .pad a.attention{ color:#df1a00; text-decoration:none;}
    .pad a.draw{ color:#ffffff; text-decoration:none; display:block; background-color:#ff6600; padding:0 0.458em; font-size:1em;}
    .pad a.draw:active{ background-color:#db2400; text-decoration:none;}
    .name{ width:8.3em;}
    .top{ position:fixed; right:0.833em; bottom:0.833em;}
    .top a{ width:2.292em; height:2.292em; background:url(http://www.pyshuo.com/img/top.png) 0 -2.5em; background-size:2.292em 4.792em; display:block;}
    .top a:active{ background:url(http://www.pyshuo.com/img/top.png) 0 0; background-size:2.292em 4.792em; display:block;}
</style>

<div class="container">
    <div class="row">
        <h2 class="text-center">帮助慧艳，带爸爸平安归来</h2> <a name="top"></a>
            <p>河北省张家口市老鸦山镇上小站村是张家口市的一个近郊村，2014年11月7日由于村里城中村改造勒令拆迁事宜，慧艳的父亲，50岁的刘维月由于与村委会意见不一致发生争执，在混乱中从村委三楼摔下，至今仍昏迷医院，生命垂危。</p>

            <p>在同事眼中，慧艳勤勉上进，89年的小姑娘，却始终流露出与年龄不符的老成，让人无法知道这个20出头的小姑娘身上背负着怎样的命运。也是这次事件，大家才得知，慧艳是单亲家庭，家里只有她和父亲、妹妹三人，24岁的她早早扛起了家里的重担，努力上进，省吃俭用，所有的付出，只为了让操劳了半辈子的父亲过得好一些。</p>

            <p>然而，父亲至今仍昏迷不醒，性命垂危，家里只剩她和妹妹，她一年省吃俭用攒下的钱还不敌医院几天的治疗费，一天1万的治疗费对姐妹两简直是天文数字。</p>

            <p>此刻只希望你能伸出援手，为一个鲜活的生命，为一个和谐美满的家庭。</p>
    </div>

    <div class="bg_green pad">
        <div class="title">捐款方式</div>
        <div class="con">1、建行帐号:
            <ul class="list-unstyled"><li>开户行：建行</li>
            <li>卡号： 6227 0000 1117 0820 567</li>
            <li>户名： 刘慧艳</li>
            </ul>
            <br>2、线上捐助：
        <div style="margin-left: 2em">
            <div>
                <label>捐助金额(元)：<input id="number" type="number" value="10.00"></label>
                <a id="support_btn" class="btn btn-warning" href="/support_huiyan/index" style="">捐助慧艳</a>
                <div id="payment" class="panel panel-warning" style="display: none;">
                    <div class="panel-body">
                        {{if $in_weixin}}<a id="wx_btn" class="btn btn-warning" href="javascript:;">微信支付</a>{{/if}}
                        <a id="zfb" class="btn btn-warning" href="javascript:;">支付宝支付</a>
                    </div>
                </div>
                <p><small>线上支付由<a href="http://www.tongshijia.com">[朋友说]</a>平台提供支持。 朋友说的核心团队有两位来自腾讯，分别是荣浩（rtx:MichaelRong）、刘召仁(rtx: zhaorenliu)。朋友说平台将承担线上支付的所有手续费。我们承诺您的每一笔都会详细记录，随时可查，立即汇总转交给慧艳。</small></p>
            </div>
        </div>
        </div>
    </div>

    <div class="bg_orange pad">
        <div class="title">捐助记录</div>
        {{if $helpMe}}
        {{loop $helpMe $key $item}}
        <div class="con clearfix">
            <div class="fl name">{{$item['pay_time']}}</div>，<div class="fl">捐助<strong class="red">{{$item['total_all_price']}}</strong>元</div>
        </div>
        {{/loop}}
        {{else}}您还没有捐助
        {{/if}}
    </div>

    <!--<div class="top"><a class="top" href="#"></a></div>-->

</div>
      <script>
          $(document).ready(function () {
              $('#support_btn').click(function () {
                  var mon = $('#number').val();
                  if (mon && parseFloat(mon) > 0) {
                      $.getJSON('/huiyan/log_num.json?num=' + mon, function (data) {
                          if (data.success) {
                              $('#wx_btn').attr('href', '/wxPay/jsApiPay/' + data.orderId + '.html?showwxpaytitle=1');
                              $('#zfb').attr('href', "/ali_pay/{{$isMobile?'wap_to_alipay':'goto_to_alipay'}}/" + data.orderId);
                              $('#payment').show();
                          }
                      });
                      return false;
                  } else {
                      utils.alert('您忘记填捐助数额了');
                      return false;
                  }
              });
          });
      </script>