/*banner*/
.index-page {
  background-color: #f1f1f1;
  margin-bottom: 50px;
  a {
    text-decoration: none;
    color: black;
  }
  .banners {
    margin-top: 47px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  /*index classification*/
  .class-tab {
    line-height: 44px;
    background-color: #FFFFFF;
    border-bottom: 1px #dddddd solid;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    li {
      float: left;
      text-align: center;
      font-size: 1.2em;
      width: 25%;
      a {
        text-decoration: none;
        color: #000;
      }
    }
    li.focus {
      border-bottom: 2px #ff6485 solid;
      font-weight: bold;
      a {
        color: #ff6485;
      }
    }
  }
}