@charset "utf-8";
/* CSS Document */

.fl{ float: left;}
.clearfix { zoom: 1; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


/*data*/
.data{ margin-top: 54px; font-size: 1.1em;}
.data p{  color: #666666; padding: 5px 12px 10px;}
.data p label{ display: block; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.data p span{ display: block; padding-top: 5px;}
.data a.share-goodlist { position: relative; background-color: #fff; padding: 12px; text-decoration: none; display: block; }
.data a.share-goodlist img{ width: 60px; height: 60px; border: 0;}
.data a.share-goodlist h1 { margin:0; padding-left: 10px; text-decoration: none; margin-right: 50px; line-height: 18px; font-weight: 400; font-size: 1em; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.data a.share-goodlist em { display: block; position: absolute; right: 12px; top: 12px; line-height: 18px; font-style: normal; color: #ff6485; }
.show-b { display: block!important; }
.data a.share-goodlist label { display: block; position: absolute; bottom: 12px; left: 82px; font-style: normal; color: #ccc;}
.data ul li{ margin-bottom: 10px; float: left;width: 50%;}
.data ul li a {display: block; background-color: #FFF;width: 100%; color: #333333; text-decoration: none; border: 1px solid #ddd; margin-left: -1px; line-height: 44px; text-align: center;}


/*read-data*/
.data dl{ border-bottom: 1px #EEEEEE solid; padding: 0 12px; background-color: #FFFFFF; font-size: 1.1em;}
.data dl dd{ line-height: 20px; padding: 12px 0;}
.data dl dd.fl{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 10px;}
.data dl dd.fr{ width: 85px;}
.dataname-width{ width: 110px;}

