/*share masg*/
.weshare-edit-page {
  // 公用
  .shrink-container {
    position: relative;
    .shrink-right {
      display: none;
      width: 40px;
      border: 1px #dddddd solid;
      text-align: center;
      color: #333333;
      background-color: #FFFFFF;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .shrink-container.shrinking {
    padding-right: 40px;
    .shrink-right {
      display: block;
    }
  }
  // 公用
  .add-btn {
    display: block;
    border-radius: 4px;
    line-height: 44px;
    text-align: center;
    border: 1px #dddddd solid;
    background-color: #EEEEEE;
    text-decoration: none;
    span {
      position: relative;
      img {
        width: 21px;
        height: 21px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -4px;
      }
      label {
        font-size: 1.1em;
        color: #333333;
        padding-left: 28px;
      }
    }
  }
  // 公用
  .multi-line-form {
    margin-bottom: 15px;
    .line {
      border-radius: 2px 2px 0 0;
      border: 1px #dddddd solid;
      padding: 12px;
      position: relative;
      label {
        font-size: 1.1em;
        position: absolute;
        left: 12px;
        top: 12px;
      }
      input {
        padding-left: 74px;
        border: 0;
        line-height: 20px;
        font-size: 1.1em;
        outline: none;
        width: 72%;
      }
    }
    .line:not(:first-child) {
      margin-top: -1px;
    }
  }
  //
  .dialog-delorder {
    box-shadow: 0 2px 11px #ccc;
    position: absolute;
    width: 80%;
    z-index: 1001;
    left: 10%;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    .dialog-bar {
      background: #f3f3f3;
      color: #666;
      font-size: 12px;
      font-family: simsun;
      font-weight: 700;
      height: 31px;
      line-height: 31px;
      overflow: hidden;
      text-indent: 10px;
    }
    .dialog-close {
      background: url(http://51daifan-assets.stor.sinaapp.com/static/weshares/images/allBtn.png) -357px -1875px no-repeat;
      float: right;
      height: 21px;
      margin-right: 6px;
      margin-top: 5px;
      width: 21px;
    }
    .dialog-content {
      background: #fff;
      color: #666;
      font-size: 14px;
      line-height: 24px;
      p {
        font-size: 14px;
        padding: 10px 0 16px;
        text-align: left;
      }
    }
    .dialog-console {
      background: #fff;
      overflow: hidden;
      padding: 8px 0 10px;
      text-align: center;
      *zoom: 1;
      a, a:link, a:hover {
        background: #8ecd1c;
        border: 1px #7ebb48 solid;
        display: inline-block;
        font-size: 16px;
        height: 34px;
        line-height: 34px;
        margin-right: 12px;
        text-align: center;
        text-decoration: none;
        width: 118px;
      }
      a.console-btn-confirm {
        color: #fff;
      }
      a.console-btn-cancel, a.console-btn-cancel:link, a.console-btn-cancel:hover {
        background: #fefefe;
        border-color: #d9d9d9;
        color: #999;
        margin: 0;
      }
    }
  }

  //
  .section {
    background-color: #FFF;
    margin: 0 0 10px;
    padding: 5px 12px;
    .section-title {
      font-size: 1.2em;
      padding: 7px 0;
    }
    .section-detail {
      padding-top: 12px;
      padding-bottom: 15px;
      font-size: 1.1em;
    }
  }
  .basic-info {
    .share-bg {
      background-color: #FFFFFF;
      margin-bottom: 10px;
      padding: 15px 12px;
      .shrink-container {
        .shrink-right {
          line-height: 179px;
        }
      }
      h1 {
        font-size: 1.2em;
        color: #333333;
        padding-bottom: 10px;
      }
      .share-name {
        border: 1px #dddddd solid;
        border-radius: 2px;
        padding: 12px;
        color: #333333;
        input {
          border: 0;
          line-height: 20px;
          font-size: 1.1em;
          outline: none;
          width: 100%;
        }
      }
      .share-area {
        border: 1px #dddddd solid;
        border-radius: 2px;
        padding: 12px;
        color: #333333;
        textarea {
          display: block;
          height: 100px;
          line-height: 20px;
          font-size: 1.1em;
          color: #333333;
          border: 0;
          width: 100%;
          resize: none;
          outline: none;
        }
        textarea.after-clicked {
          height: 250px;
        }
      }
    }
    /*share picture*/
    .share-pirture {
      background-color: #FFFFFF;
      margin-bottom: 10px;
      padding: 15px 2px 5px 12px;
      h1 {
        font-size: 1.2em;
        color: #333333;
        padding-bottom: 10px;
      }
      ul {
        width: 100%;
        li {
          float: left;
          margin-bottom: 10px;
          width: 25%;
          div {
            margin-right: 10px;
            position: relative;
            img {
              width: 100%;
              display: block;
              height: 67px;
            }
            .first-img {
              display: block;
              text-decoration: none;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              label {
                color: #FFFFFF;
                text-align: center;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                line-height: 24px;
                z-index: 3;
              }
              s {
                display: block;
                filter: alpha(opacity=50);
                -moz-opacity: 0.5;
                opacity: 0.5;
                background-color: #000000;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 24px;
                z-index: 2;
              }
            }
            .first-img.is-default label {
              color: #BBBBBB;
            }
            .delete-img {
              display: block;
              width: 22px;
              height: 22px;
              border-radius: 22px;
              line-height: 20px;
              background-color: #ff0000;
              color: #FFFFFF;
              text-align: center;
              text-decoration: none;
              position: absolute;
              top: -6px;
              right: -6px;
            }
          }
          div.add-pirture {
            border: 1px #dddddd solid;
            font-size: 4em;
            text-align: center;
          }
        }
      }
    }

    .has-error {
      ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: red;
      }
      :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: red;
        opacity: 1;
      }
      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: red;
        opacity: 1;
      }
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: red;
      }
    }
  }

  .shippment-info {
    display: none;
    .input-type1 {
      margin-right: 3px;
    }
    .section.send-time {
      margin-right: 12px;
      margin-bottom: 10px;
      margin-left: 12px;
      border-radius: 2px;
    }
    .section.ziti {
      .shrink-container {
        .shrink-right {
          line-height: 134px;
        }
      }
      ul {
        margin-bottom: 0 !important;
        padding-bottom: 15px;
        position: relative;
        li.fl {
          width: 75%;
        }
        li.fr {
          a.delete {
            border-color: #ccc;
            color: #333;
            position: absolute;
            top: 0px;
            right: 0;
            line-height: 122px;
            background-color: #fff;
            width: 45px;
            text-align: center;
            border: 1px #ddd solid;
          }
        }
      }
    }
    .section.expressage {
      .shrink-container {
        .shrink-right {
          line-height: 131px;
        }
      }
      .section-detail {
        padding-top: 0px;
        .freight-type{
          border-top: 1px #eee solid;
          padding-bottom: 12px;
          padding-top: 7px;
        }
        .freight {
          background-color: #F1f1f1;
          margin-bottom: 15px;
          margin-top: -5px;
          padding: 0 10px 10px;
          position: relative;
          h1 {
            font-size: 1.1em;
            font-weight: 400;
            line-height: 38px;
            border-bottom: 1px #ddd solid;
            padding: 0 10px;
            color: #666;
          }
          .freightrate {
            padding-top: 10px;
            line-height: 30px;
            label {
              display: block;
              float: left;
              color: #666;
            }
            s {
              float: left;
              margin: 0 5px;
              border: 1px solid #ddd;
              border-radius: 2px;
              padding: 0 4px;
              width: 42px;
              background-color: #fff;
              input {
                font-size: 1.1em;
                border: 0;
                width: 100%;
                color: #666;
                text-align: center;
              }
            }
          }
        }
        .freight.is-default {
          margin-right: 0;
        }
      }
      .more_city {
        display: block;
        float: right;
        img {
          width: 9px;
          height: 16px;
        }
      }
    }
    .section.haolinju {
      dd.fl {
        padding-top: 5px;
      }
      dd.fr {
        font-size: .8em;
        text-align: right;
        line-height: 18px !important;
        span {
          color: #ff6485;
        }
      }
    }
    .section.commission {
      .section-detail {
        margin-bottom: 0;
        .line {
          position: relative;
          padding-right: 48px;
          span {
            position: absolute;
            font-size: 20px;
            top: 12px;
            right: 12px;
            color: #666;
          }
        }
      }
    }
  }

  /*城市选择*/
  .areas-info {
    background-color: #f9f9f9;
    margin-bottom: 50px;
    display: none;
    // 公用
    .checkable-line {
      background-color: #fff;
      border-top: 1px #ddd solid;
      line-height: 40px;
      position: relative;
      padding-left: 28px;
      padding-right: 24px;
      .icon-left {
        width: 11px;
        height: 7px;
        position: absolute;
        top: 17px;
        left: 12px;
      }
      .checkable-btn {
        position: absolute;
        right: 12px;
        top: 14px;
      }
    }

    .areas {
      margin-top: 54px;
      .area {
        border-bottom: 1px #dddddd solid;
        margin-bottom: 10px;
        .area-detail {
          background-color: #ffffff;
          border-top: 1px #dddddd solid;
          line-height: 40px;
          padding-right: 12px;
        }
        .provinces {
        }
      }
    }
  }
}