/*share masg*/
.weshare-edit-page {
  .add-extra-margin-bottom{
    margin-bottom: 100px;
  }
  // 公用
  .shrink-container {
    position: relative;
    .shrink-right {
      display: none;
      width: 40px;
      border: 1px #dddddd solid;
      text-align: center;
      color: #333333;
      background-color: #FFFFFF;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .shrink-container.shrinking {
    padding-right: 40px;
    .shrink-right {
      display: block;
    }
  }
  // 公用
  .add-btn {
    display: block;
    border-radius: 4px;
    line-height: 44px;
    text-align: center;
    border: 1px #dddddd solid;
    background-color: #EEEEEE;
    text-decoration: none;
    margin-bottom: 5px;
    span {
      position: relative;
      img {
        width: 21px;
        height: 21px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -4px;
      }
      label {
        font-size: 1.1em;
        color: #333333;
        padding-left: 28px;
      }
    }
  }
  // 公用
  .multi-line-form {
    margin-bottom: 10px;
    .line-bottom-border{
      border-bottom: 1px solid #ddd;
      padding: 10px;
      position: relative;
      label {
        font-size: 1.1em;
        position: absolute;
        left: 12px;
        top: 12px;
      }
      input:not([type='checkbox']) {
        padding-left: 74px;
        border: 0;
        line-height: 20px;
        font-size: 1.1em;
        outline: none;
        width: 72%;
      }
      input[type='checkbox']{
        width: 20px;
        margin-top: 4px;
      }
      .overwrite-input-left-padding{
        padding-left: 100px !important;
        width: 50% !important;
      }
      ul {
        line-height: 20px;
        font-size: 1.1em;
        li.name {
          width: 95px;
        }
      }
    }
    .line {
      border-radius: 2px 2px 0 0;
      border: 1px #dddddd solid;
      padding: 12px;
      position: relative;
      label {
        font-size: 1.1em;
        position: absolute;
        left: 12px;
        top: 12px;
      }
      input:not([type='checkbox']) {
        padding-left: 74px;
        border: 0;
        line-height: 20px;
        font-size: 1.1em;
        outline: none;
        width: 72%;
      }
      input[type='checkbox']{
        width: 20px;
        margin-top: 2px;
      }
    }
    .line:not(:first-child) {
      margin-top: -1px;
    }
    .line-bottom-border:not(:first-child) {
      margin-top: -1px;
    }
    .add-right-padding{
      padding-right: 20px;
    }
    .nexticon {
      width: 10px;
      margin-top: 2px;
    }
  }

  //
  .section {
    background-color: #FFF;
    margin: 0 0 10px;
    padding: 5px 12px;
    .section-title {
      font-size: 1.2em;
      padding: 7px 0;
    }
    .section-detail {
      padding-top: 12px;
      padding-bottom: 15px;
      font-size: 1.1em;
    }
  }
  .basic-info {
    .add-padding-bottom{
      padding-bottom: 5px;
    }
    .add-padding-top{
      padding-top: 5px;
    }
    .share-bg {
      background-color: #FFF;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 10px;
      .shrink-container {
        .shrink-right {
          line-height: 179px;
        }
      }
      h1 {
        font-size: 1.2em;
        color: #333333;
        padding-bottom: 10px;
      }
      .share-name {
        border-bottom: 1px solid #ddd;
        padding: 12px 0;
        color: #333;
        input {
          border: 0;
          line-height: 20px;
          font-size: 1.1em;
          outline: 0;
          width: 100%;
        }
      }
      .share-area {
        color: #333;
        padding-top: 12px;
        textarea {
          display: block;
          height: 100px;
          line-height: 20px;
          font-size: 1.1em;
          color: #333;
          border: 0;
          width: 100%;
          resize: none;
          outline: 0;
        }
        textarea.after-clicked {
          height: 250px;
        }
      }
    }
    /*share picture*/
    .share-pirture {
      background-color: #FFFFFF;
      h1 {
        font-size: 1.2em;
        color: #333;
        padding-bottom: 10px;
      }
      ul {
        width: 100%;
        li {
          float: left;
          margin-bottom: 5px;
          width: 25%;
          div {
            margin-right: 10px;
            position: relative;
            img {
              width: 100%;
              display: block;
              height: 67px;
            }
            .first-img {
              display: block;
              text-decoration: none;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              label {
                color: #FFF;
                text-align: center;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                line-height: 24px;
                z-index: 3;
              }
              s {
                display: block;
                filter: alpha(opacity=50);
                -moz-opacity: .5;
                opacity: .5;
                background-color: #000;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 24px;
                z-index: 2;
              }
            }
            .first-img.is-default label {
              color: #BBB;
            }
            .delete-img {
              display: block;
              width: 22px;
              height: 22px;
              border-radius: 22px;
              line-height: 20px;
              background-color: red;
              color: #FFF;
              text-align: center;
              text-decoration: none;
              position: absolute;
              top: -6px;
              right: -6px;
            }
          }
          div.add-pirture {
            border: 1px solid #ddd;
            font-size: 4em;
            text-align: center;
          }
        }
      }
    }

    .has-error {
      ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: red;
      }
      :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: red;
        opacity: 1;
      }
      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: red;
        opacity: 1;
      }
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: red;
      }
    }
  }

  .shippment-info {
    display: none;
    .input-type-check {
      margin-right: 5px;
      margin-top: 3px;
    }
    .section.send-time {
      margin-right: 12px;
      margin-bottom: 10px;
      margin-left: 12px;
      border-radius: 2px;
    }
    .section.ziti {
      .shrink-container {
        .shrink-right {
          line-height: 134px;
        }
      }
      ul {
        margin-bottom: 0 !important;
        padding-bottom: 15px;
        position: relative;
        li.fl {
          width: 75%;
        }
        li.fr {
          a.delete {
            border-color: #ccc;
            color: #333;
            position: absolute;
            top: 0px;
            right: 0;
            line-height: 122px;
            background-color: #fff;
            width: 45px;
            text-align: center;
            border: 1px #ddd solid;
          }
        }
      }
    }
    .section.expressage {
      .shrink-container {
        .shrink-right {
          line-height: 131px;
        }
      }
      .section-detail {
        padding-top: 0px;
        .freight-type{
          border-top: 1px #eee solid;
          padding-bottom: 12px;
          padding-top: 7px;
        }
        .freight {
          background-color: #F1f1f1;
          margin-bottom: 15px;
          margin-top: -5px;
          padding: 0 10px 10px;
          position: relative;
          h1 {
            font-size: 1.1em;
            font-weight: 400;
            line-height: 38px;
            border-bottom: 1px #ddd solid;
            padding: 0 10px;
            color: #666;
          }
          .freightrate {
            padding-top: 10px;
            line-height: 30px;
            label {
              display: block;
              float: left;
              color: #666;
            }
            s {
              float: left;
              margin: 0 5px;
              border: 1px solid #ddd;
              border-radius: 2px;
              padding: 0 4px;
              width: 42px;
              background-color: #fff;
              input {
                font-size: 1.1em;
                border: 0;
                width: 100%;
                color: #666;
                text-align: center;
              }
            }
          }
        }
        .freight.is-default {
          margin-right: 0;
        }
      }
      .more_city {
        display: block;
        float: right;
        img {
          width: 9px;
          height: 16px;
        }
      }
    }
    .section.haolinju {
      dd.fl {
        padding-top: 5px;
      }
      dd.fr {
        font-size: .8em;
        text-align: right;
        line-height: 18px !important;
        span {
          color: #ff6485;
        }
      }
    }
    .section.commission {
      .section-detail {
        margin-bottom: 0;
        .line {
          position: relative;
          padding-right: 48px;
          span {
            position: absolute;
            font-size: 20px;
            top: 12px;
            right: 12px;
            color: #666;
          }
        }
      }
    }
  }

  /*城市选择*/
  .areas-info {
    background-color: #f9f9f9;
    margin-bottom: 50px;
    display: none;
    // 公用
    .checkable-line {
      background-color: #fff;
      border-top: 1px #ddd solid;
      line-height: 40px;
      position: relative;
      padding-left: 28px;
      padding-right: 24px;
      .icon-left {
        width: 11px;
        height: 7px;
        position: absolute;
        top: 17px;
        left: 12px;
      }
      .checkable-btn {
        position: absolute;
        right: 12px;
        top: 14px;
      }
      .complete-choose-city {
        right: 15px;
        left: auto;
        width: 2em;
        color: #49bc6e;
      }
    }

    .areas {
      margin-top: 54px;
      .area {
        border-bottom: 1px #dddddd solid;
        margin-bottom: 10px;
        .area-detail {
          background-color: #ffffff;
          border-top: 1px #dddddd solid;
          line-height: 40px;
          padding-right: 12px;
        }
        .provinces {
        }
      }
    }
  }

  .classity {
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-size: 1.1em;
    h1 {
      text-align: center;
      font-size: 1.2em;
      padding: 15px 0 8px;
    }
    p {
      color: #999999;
      text-align: center;
      font-size: 1em;
      margin-bottom: 15px;
    }
    ul {
      background-color: #FFFFFF;
      border-bottom: 1px #eeeeee solid;
      padding: 12px;
      line-height: 20px;
      li {
        input{ margin-right: 5px;}
      }
    }
    span {
      display: block;
      background-color: #FFFFFF;
      padding: 12px;
      border-bottom: 1px #eeeeee solid;
      input {
        line-height: 20px;
        border: 0;
        font-size: 14px;
      }
    }
    a.save {
      display: block;
      background-color: #FFFFFF;
      color: #333333;
      padding: 12px;
      line-height: 20px;
      text-decoration: underline;
      text-align: center;
    }
    dl {
      padding: 30px 12px 0;
      font-size: 1.1em;
      margin-bottom: 15px;
      dd {
        float: left;
        width: 50%;
        a {
          display: block;
          text-align: center;
          line-height: 44px;
          .cancel {
            border-radius: 2px;
            border: 1px #ccc solid;
            margin-left: 5px;
            color: #333;
          }
          .sure {
            border-radius: 2px;
            border: 1px #ff6485 solid;
            margin-right: 5px;
            color: #ff6485;
          }
        }
      }
    }
  }
  .commission {
    line-height: 20px;
    background-color: #FFFFFF;
    padding: 0 12px;
    .name {
      width: 95px;
      font-size: 1.1em;
      margin-left: 12px;
    }
    input {
      line-height: 20px;
      border: 0;
      width: 30px;
      padding-right: 5px;
      font-size: 1.1em;
    }
    dl {
      padding: 12px 0;
      border-bottom: 1px #eeeeee solid;
    }
    p {
      padding: 15px 0;
      margin: 0;
      color: #999999;
    }
    .share-rebate-setting-label{
      line-height: 32px;
      padding-right: 5px;
    }
    .share-rebate-setting {
      padding: 5px 10px;
      width: 80px;
    }
    .share-rebate-setting-input{
      padding-left: 0;
    }
    .share-rebate-setting-percent-label{
      top:5px;
    }
    .share-rebate-tip-info{
      padding: 10px 2px 2px 2px;
      color: #999;
    }
  }
  .haolinju-tip-info {
    padding: 15px 12px;
    font-size: 1.1em;
    color: #333333;
    text-align: center;
    margin-bottom: 60px;
    span {
      text-decoration: underline;
    }
    small {
      line-height: 20px;
    }
  }
  .btn-extra-margin{
    margin-bottom: 40px;
  }
}