<ol class="breadcrumb">
  <li><a href="/manage/admin/tuan/tuan_func_list">团购后台</a></li>
  <li class="active">商品管理</li>
</ol>

<ul class="nav nav-pills pull-right">
    <li role="presentation">
      <a class="btn btn-primary" href="/manage/admin/tuan_products/new">添加团购商品</a>
    </li>
</ul>

<div id="tuan_products">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control search" placeholder="查询商品">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">查询</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <br/>
    <table class="table table-striped table-bordered table-condensed table-hover table-clickable">
        <thead>
        <tr>
            <th>id</th>
            <th>团购别名</th>
            <th>普通商品</th>
            <th>团购价格</th>
            <th>发货类型</th>
            <th>优先级</th>
            <th>列表图片</th>
            <th>详情图片</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="list">
        {{loop $tuan_products $item}}
        <?php
          $tuanProduct = $item['TuanProduct'];
          $product = $products[$tuanProduct['product_id']];
        ?>
        <tr class="tuan-product" data-product-id="{{$tuanProduct['product_id']}}">
            <td class="id">{{$tuanProduct['id']}}</td>
            <td class="alias">
                {{$tuanProduct['alias']}}(
                {{if $tuan_buyings_count[$tuanProduct['product_id']] > 0}}
              <span class="text-success">
                <a href="/manage/admin/tuan_buyings/index?product_id={{$tuanProduct['product_id']}}">{{$tuan_buyings_count[$tuanProduct['product_id']]}}个团购</a>
              </span>
                {{else}}
                <a href="/manage/admin/tuan_buyings/index?product_id={{$tuanProduct['product_id']}}">无进行中的团购</a>
                {{/if}}
                )
            </td>
            <td class="name">{{$tuanProduct['product_id']}}({{$product['name']}},
                {{if $product['published'] == 1}}已下架{{else}}<strong class="text-danger">未下架</strong>{{/if}}
                {{if $product['deleted'] == 1}}, <strong class="text-danger">已删除</strong>{{/if}})
            </td>
            <td>
                <strong class="text-warning">{{$tuanProduct['tuan_price']}}</strong>
                <s class="text-muted">{{$product['price']}}</s>
            </td>
            <td>
                {{if $tuanProduct['consignment_type'] == 0}}
                团满发货
                {{elseif $tuanProduct['consignment_type'] == 1}}
                团满准备发货
                {{elseif $tuanProduct['consignment_type'] == 2}}
                排期
                {{else}}
                {{/if}}
            </td>
            <td>{{$tuanProduct['priority']}}</td>
            <td><img style="max-width: 200px;" src="{{$tuanProduct['list_img']}}"/></td>
            <td><img style="max-height: 90px;" src="{{$tuanProduct['detail_img']}}"/></td>
            <td>
                <a class="btn btn-primary margin-right-10" href="/manage/admin/tuan_products/edit/{{$tuanProduct['id']}}" role="button">编辑</a>
                <a class="btn btn-info" href="/manage/admin/ship_setting/view/{{$tuanProduct['product_id']}}/Product?name={{$tuanProduct['alias']}}" target="_blank" role="button">发货方式</a>
                <a class="btn btn-warning send-wx-msg" data-id="{{$tuanProduct['id']}}" data-type="0">推送消息</a>
                <a class="btn btn-danger" href="/manage/admin/tuan_products/delete/{{$tuanProduct['id']}}" role="button">删除</a>
            </td>
        </tr>
        {{/loop}}
        </tbody>
    </table>
</div>
{{$this->Html->script(array('/js/manage-lib/list.min.js','manage/tuan_products/index.js','/js/manage/wx_msg/push_wx_msg.js'));}}