<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{{$pageTitle}}-{{$site['title']}}</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    {{$this->Html->script(array('http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'));}}
    <script type="text/javascript">
        var BASEURL = "{{APP_SUB_DIR}}";
        var ADMIN_BASEURL = BASEURL+"/manage";
        var _pys_in_weixin = "{{$in_weixin}}";
        var _pys_notify_img_url = '{{$this->Html->assetUrl("/img/progress_notify.gif")}}';
        var wx_follow_url = '{{$wx_follow_url}}';
    </script>
    <script type="text/javascript">
        //<![CDATA[
        // for debugging javascript!
        (function (window) {
            window.onerror = function (msg, url, ln) {
                //transform errors
                if (typeof(msg) === 'object' && msg.srcElement && msg.target) {
                    if (msg.srcElement == '[object HTMLScriptElement]' && msg.target == '[object HTMLScriptElement]') {
                        msg = 'Error loading script';
                    } else {
                        msg = 'Event Error - target:' + msg.target + ' srcElement:' + msg.srcElement;
                    }
                }

                msg = msg.toString();

                //ignore errors
                if (msg.indexOf("Location.toString") > -1) {
                    return;
                }
                if (msg.indexOf("Error loading script") > -1) {
                    return;
                }

                //report errors
                window.onerror = function () {
                };
                (new Image()).src = "/jserror?msg=" + encodeURIComponent(msg) + "&error_url=" + encodeURIComponent(url || document.location.toString().replace(/#.*$/, "")) + "&ln=" + parseInt(ln || 0) + "&r=" + (+new Date());
            };
        })(window);
        //]]>
    </script>
    {{if $jWeixinOn}}
        <script>
            //hide footer bar
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                if (typeof WeixinJSBridge != 'undefined') {
                    WeixinJSBridge.call('hideToolbar');
                }
            });
        </script>
    {{/if}}
    <noscript>
        请开启您浏览器的JavaScript选项
    </noscript>
</head>
<body style="background-color: #F5F5F5">
        {{if !noFlash }}
        <div class="container">
            {{$this->Session->flash()}}
        </div>
        {{/if}}
        {{$content_for_layout}}
        {{template Elements/footer}}
{{$this->fetch('scriptBottom')}}
</body>
</html>