<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1" />
    <meta name="baidu-site-verification" content="mGej7ZzIc1" />
    <meta name="360-site-verification" content="11513c90635fb70282692446172cae58" />
    <meta name="Keywords" content="{{if $seokeywords}}{{$seokeywords}}{{else}}{{$site[seokeywords]}}{{/if}}"/>
    <meta name="Description"
          content="{{if $seodescription}}{{$seodescription}}{{else}}{{$site[seodescription]}}{{/if}}"/>
    <link rel="apple-touch-icon" href="{{$this->Html->assetUrl('/img/logo_mini.png')}}" />
    <title>{{$pageTitle}}-{{$site['title']}}</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    {{$this->Html->css(array('layout_3g.css?ver58.3','thickbox.css?ver1'));}}
    {{$this->Html->css(array('mobile-view.css?v17.7'))}}
    {{$this->Html->script(array(
    'http://libs.baidu.com/jquery/1.9.1/jquery.min.js',
    'jquery/jquery.cookie.js',
    'i18n/language-zh-CN.js',));}}
    <script type="text/javascript">
        var BASEURL = "{{APP_SUB_DIR}}";
        var ADMIN_BASEURL = BASEURL+"/manage";
        var _pys_in_weixin = "{{$in_weixin}}";
        var _pys_notify_img_url = '{{$this->Html->assetUrl("/img/progress_notify.gif")}}';
        var wx_follow_url = '{{$wx_follow_url}}';
    </script>
    <script type="text/javascript">
        //<![CDATA[
        // for debugging javascript!
        (function (window) {
            window.onerror = function (msg, url, ln) {
                //transform errors
                if (typeof(msg) === 'object' && msg.srcElement && msg.target) {
                    if (msg.srcElement == '[object HTMLScriptElement]' && msg.target == '[object HTMLScriptElement]') {
                        msg = 'Error loading script';
                    } else {
                        msg = 'Event Error - target:' + msg.target + ' srcElement:' + msg.srcElement;
                    }
                }

                msg = msg.toString();

                //ignore errors
                if (msg.indexOf("Location.toString") > -1) {
                    return;
                }
                if (msg.indexOf("Error loading script") > -1) {
                    return;
                }

                //report errors
                window.onerror = function () {
                };
                (new Image()).src = "/jserror?msg=" + encodeURIComponent(msg) + "&url=" + encodeURIComponent(url || document.location.toString().replace(/#.*$/, "")) + "&ln=" + parseInt(ln || 0) + "&r=" + (+new Date());
            };
        })(window);
        //]]>
    </script>
    {{if $jWeixinOn}}
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var wx_jssdk_appId = '{{$signPackage["appId"]}}';
        var wx_jssdk_timestamp = {{$signPackage["timestamp"]?$signPackage["timestamp"]:1}};
        var wx_jssdk_nonceStr = '{{$signPackage["nonceStr"]}}';
        var wx_jssdk_signature = '{{$signPackage["signature"]}}';
        var jsApiList = ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'openLocation', 'getLocation'];
        wx.config({
            debug: false,
            appId: wx_jssdk_appId,
            timestamp: wx_jssdk_timestamp,
            nonceStr: wx_jssdk_nonceStr,
            signature: wx_jssdk_signature,
            jsApiList: jsApiList
        });
    </script>
    {{/if}}
    <noscript>
        {{$this->Html->css(array('3g.css',));}}
        请开启您浏览器的JavaScript选项
    </noscript>
</head>
<body style="background-color: #F5F5F5">
{{if !$hideNav }}

{{/if}}
        {{if !noFlash }}
        <div class="container">
            {{$this->Session->flash()}}
        </div>
        {{/if}}
        {{$content_for_layout}}

        {{template Elements/cart}}
        {{template Elements/footer}}
{{$this->fetch('scriptBottom')}}
        <script>
            //hide footer bar
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                if (typeof WeixinJSBridge != 'undefined') {
                    WeixinJSBridge.call('hideToolbar');
                }
            });
        </script>
</body>
</html>