<div class="col-xs-6" style="height:180px;overflow:hidden;">
	<div style="border: 1px solid #DDDDDD;">
	{{if $top_category_id==114 || $top_category_id==124 }}
     <a href="{{$this->Html->url('/'.$category_control_name.'/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html')}}" class="thumbnail {{if date('Y-m-d H:i:s')>$item['end_time'] && $item['end_time']>0}}no-shopping{{else}}no-shopping{{/if}}" style="margin-bottom: 5px;" id="item-{{$item['id']}}" item-id="{{$item['id']}}" item-name="{{$item['name']}}" item-price="{{$item['price']}}">
         {{eval echo $this->Html->image($item['coverimg'], 
			array(
			'alt' => $item['title'],'title' => $item['name'],
			'onerror'=>'this.src="/img/products_nophoto.jpg";',
			)); }}
         <!-- <div class="select-item" style="display: none;">
			<p><span class="glyphicon glyphicon-ok" style="color:#5e8a2f; font-size:22px;"></span>已选</p>
	 	 </div>  -->
     </a>
     <div class="text-left">
     	{{eval echo $this->Html->link(usubstr($item['name'],0,10,''), 
			'/'.$category_control_name.'/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html',
			array('title'=>$item['title'])); 
		}}
     	
     	<div>
     		<div class="food-info pull-right">
             <strong>¥{{$item['price']}}</strong>                                     
     		</div>
     		<a href="/{{$category_control_name}}/{{date('Ymd',strtotime($item['created']))}}/{{$item['slug']}}.html">{{if $item['promote_name']}}{{$item['promote_name']}}{{else}}已售({{$item['saled']}})、评论({{$item['comment_nums']}}){{/if}}</a>
     	</div>
     </div>
     {{else}}
     	<a href="<?php echo '/'.$category_control_name.'/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html'; ?>" class="thumbnail-noclick" style="margin-bottom: 5px;" id="item-{{$item['id']}}" item-id="{{$item['id']}}" item-name="{{$item['name']}}" item-price="{{$item['price']}}">
         {{eval echo $this->Html->image($item['coverimg'], 
			array(
			'alt' => $item['title'],'title' => $item['name'],
			'onerror'=>'this.src="/img/products_nophoto.jpg";',
			)); }}
	     </a>
	     <div class="text-left">
	     	{{eval echo $this->Html->link(usubstr($item['name'],0,10), 
				'/'.$category_control_name.'/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html',
				array('title'=>$item['title'])); 
			}}
	     </div>
     {{/if}}
   </div>
 </div>