<div class="content618" style="background-color:#d74d4d; margin-bottom: 50px;">
    <div class="good" style="margin: 0;">
        <div class="xq" style="position: relative; width: 100%;">
            <div class="coupon10_icon"><a id="get_10_coupon" href="#"><img style="max-width: 100%;" src="{{$this->Html->assetUrl('/img/618/10.png?v1')}}"></a></div>
            <div class="coupon20_icon"><a id="get_20_coupon" href="#"><img style="max-width: 100%;" src="{{$this->Html->assetUrl('/img/618/20.png?v1')}}"></a></div>
            <img style="max-width: 100%;" src="{{$this->Html->assetUrl('/img/618/banner618-2.png?v1')}}">
        </div>
    </div>
    <?PHP if($total>0){ ?>
    <?PHP foreach($data_list as $item) {
	    $full = true;
	    $numbers_per_col = 2;
	    $i++;
		$item['Product']['slug'] = $item['Product']['slug']?$item['Product']['slug']:$item['Product']['id'];
	    ?>
            <div class="good">
                <a href="{{product_link2($item['Product'])}}" class="xq">
                    {{if $item['Product']['limit_area']}}
                    <p>仅限<br/>北京</p>
                    {{/if}}
                    <img src="{{$this->Html->assetUrl($item['Product']['listimg'])}}"/>
                    <div class="title clearfix">
                        <a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brands[$item['Product']['brand_id']]['Brand']['created'])).'/'.$brands[$item['brand_id']]['Brand']['slug'].'.html')}}" class="phead"><img src="{{$this->Html->assetUrl(small_thumb_link($brands[$item['Product']['brand_id']]['Brand']['coverimg']))}}" /></a>
                        <a href="{{product_link2($item['Product'])}}" class="txt"><b>{{$item['Product']['name']}}<i class="manjian_icon">满减</i></b></a>
                    </div>
                </a>
                <ul class="clearfix">
                    <li class="price fl"><strong>￥{{$this->Number->precision($item['Special']['special_price']>=0? $item['Special']['special_price']/100 : $item['Product']['price'], 2)}}</strong>&nbsp;
                        {{if !empty($item['Product']['original_price'])}}
                            <label>¥ {{$this->Number->precision( !empty($item['Product']['original_price']) ? $item['Product']['original_price'] : $item['Product']['price'], 2)}}</label>
                        {{/if}}
                    </li>
                    <li class="fr"><a href="{{product_link2($item['Product'])}}" class="btn radius5">立即购买</a></li>
                </ul>
            </div>
    <?php } ?>
    <?php } ?>
</div>
<script>
    $(document).ready(function(){
        var $get_10_coupon = $('#get_10_coupon');
        var $get_20_coupon = $('#get_20_coupon');
        var $tipInfoPanel = $('<div class="comment_tip_layer radius10" style="width:60%; left:50%; top:30%; margin-left:-30%; display: none;"></div>');
        $('body').append($tipInfoPanel);
        $get_10_coupon.on('click',function(){
            ///shortmessages/get_618_coupons/24385.html
            $.getJSON('/shortmessages/get_618_coupon_json/24385',function(data){
                handleData(data);
            });
        });
        $get_20_coupon.on('click',function(){
            ///shortmessages/get_618_coupons/24384.html
            $.getJSON('/shortmessages/get_618_coupon_json/24384',function(data){
                handleData(data);
            });
        });
        function handleData(data){
            if(data['success']){
                showTipInfo('领取成功');
            }else{
                if(data['reason']=='no_login'){
                    if(!sso.check_userlogin({'referer':'/categories/happy_618.html'})){
                        return false;
                    }
                }else{
                    showTipInfo('领取失败');
                }
            }
        }
        function showTipInfo(msg){
            $tipInfoPanel.text(msg);
            $tipInfoPanel.show();
            setTimeout(function(){
                $tipInfoPanel.hide();
            },2000);
        }
    });
</script>
{{if $in_weixin}}
<script>
    wx.ready(function () {
        var share_string = 'happy_618';
        var to_timeline_title = "朋友说-618年中大促";
        var to_friend_title = "朋友说-618年中大促";
        var to_friend_link = document.URL.split('?')[0]+'?trstr='+ share_string + '&share_type=appMsg';
        var to_timeline_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=timeline';
        var imgUrl = "http://51daifan.sinaapp.com/img/618/1.png";
        var desc = "满30立减10元，满50立减20元";
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            desc: desc,
            link: to_friend_link,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if(share_string != '0'){
                    setTimeout(function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                    }, 500);
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if(share_string != '0'){
                    setTimeout(function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                    }, 500);
                }
            }
        });
    });
</script>
{{/if}}