<div style="background-color:#f5f5f5;">
    <div class="menue">
        <ul>
            <li class="cur" data-id="-1">
                <div>朋友说<br/>爆款</div>
            </li>
            <li data-id="3">
                <div>水果</div>
            </li>
            <li data-id="8">
                <div>甜点</div>
            </li>
            <li data-id="23">
                <div>蛋奶</div>
            </li>
            <li data-id="4">
                <div>肉</div>
            </li>
            <li data-id="12">
                <div>干货</div>
            </li>
            <li data-id="6">
                <div>蜂蜜茶</div>
            </li>
            <li data-id="5">
                <div>零食</div>
            </li>
            <li data-id="6">
                <div>酒水</div>
            </li>
            <li data-id="9">
                <div>粮油</div>
            </li>
            <li data-id="10">
                <div>海鲜</div>
            </li>
            <li data-id="18">
                <div>蔬菜</div>
            </li>
        </ul>
    </div>
    <div class="content" id="products-content" style="margin-bottom: 50px;">

    </div>
    {{if !empty($tryings)}}
    <div class="tuandetail_seckill clearfix">
        <?php $i = 0; foreach($tryings as $trying) {
        if ($i++>=2) {break;} ?>
        <p>秒杀</p>
        <span><img src="{{$this->Html->assetUrl(small_thumb_link($trying['image']))}}" /></span>
        <span>
            <h1>{{$trying['ProductTry']['product_name']}} {{$trying['ProductTry']['spec']}}</h1>
            <em>秒杀价：<strong>¥{{$this->Number->precision(calculate_try_price($trying['ProductTry']['price']),
                2)}}</strong></em>
            <div class="tuan_bar clearfix">
                <?php $limit_num = $trying['ProductTry']['limit_num'];
                        $sold_num = $trying['ProductTry']['sold_num'];
                        if($sold_num >= $limit_num){
                            $sold_num = $limit_num;
                        }
                        if($sold_num >= $limit_num){
                            $sold_percent = 100;
                        }else{
                            $sold_percent = round(($sold_num / $limit_num * 100), 1);
                        }
                ?>
                <div class="fl" style="width:55%;">
                    <div class="bar">
                        <div class="bar_buy" style="width:{{$sold_percent}}%;"></div>
                    </div>
                    <ul class="clearfix">
                        <li class="fl">已秒<span style=" display:inline;">{{$sold_num}}</span>份</li>
                        <li class="fr">共{{$limit_num}}份</li>
                    </ul>
                </div>
                <div>
                    {{if $trying['status'] == 'sec_kill'}}
                    <a class="tuandetail_seckill_btn radius5 fr" data-try-id="{{$trying['ProductTry']['id']}}" data-tuan-id="{{$tuan_id}}"
                       data-pid="{{$trying['Product']['id']}}" data-send-date="{{$trying['ProductTry']['consignment_date']}}">正在秒杀</a>
                    {{elseif $trying['status'] == 'sec_end'}}
                    <a class="seckill_disabled" style="background-color: #cccccc;">已秒完</a>
                    {{else}}
                    <a data-start="{{strtotime($trying['ProductTry']['start_time']) - ($shichi_mem? 30 * 60 : 0)}}"
                       data-pid="{{$trying['Product']['id']}}" href="#X" class="tuandetail_seckill_btn radius5 sec_start">{{friendlyDateFromStr($trying['ProductTry']['start_time'])}}开秒</a>
                    {{/if}}
                </div>
            </div>
        </span>
        <?php } ?>
    </div>
    {{/if}}
</div>
{{$this->Html->script(array('/js/mobile-index.js?v1'), array('block' => 'scriptBottom'));}}