<div style="background-color:#f5f5f5;" style="margin-bottom: 50px;">
    <div class="menue">
        <ul data-id="{{$tagId}}">
            <li name="tag-23" class="cur" data-id="23">
                <div>朋友说<br/>爆款</div>
            </li>
            <li name="tag-3" data-id="3">
                <div>水果</div>
            </li>
            <li name="tag-5" data-id="5">
                <div>零食</div>
            </li>
            <li name="tag-8" data-id="8">
                <div>甜点</div>
            </li>
            <li name="tag-24" data-id="24">
                <div>蛋奶</div>
            </li>
            <li name="tag-4" data-id="4">
                <div>肉</div>
            </li>
            <li name="tag-12" data-id="12">
                <div>干货</div>
            </li>
            <li name="tag-25" data-id="25">
                <div>蜂蜜茶</div>
            </li>
            <li name="tag-6" data-id="6">
                <div>酒水</div>
            </li>
            <li name="tag-9" data-id="9">
                <div>粮油</div>
            </li>
            <li name="tag-10" data-id="10">
                <div>海鲜</div>
            </li>
            <li name="tag-18" data-id="18">
                <div>蔬菜</div>
            </li>
        </ul>
    </div>
    <div class="content" style="margin-bottom: 80px;">
        {{if $received_cnt > 0}}
        <div class="refer_banner"><a href="/refer/index{{$CurrentUser['id']?'/'.$CurrentUser['id']:''}}.html?_sl=mobile_index"><img src="{{$this->Html->assetUrl('/img/refer/banner.gif?v6')}}" width="100%"/></a></div>
        {{/if}}
        {{if !empty($tryings)}}
            <div id="tuandetail_seckill">
                <?php $i = 0; foreach($tryings as $trying) {
                        if ($i++>=2) {break;} ?>
                <div class="tuandetail_seckill clearfix">
                    <p>秒杀</p>
                    <span><a href="/tuan_buyings/sec_detail/{{$trying['ProductTry']['id']}}"><img src="{{$this->Html->assetUrl(medium_thumb_link($trying['Product']['listimg']))}}" /></a></span>
                    <span>
                        <h1>{{$trying['ProductTry']['product_name']}} {{$trying['ProductTry']['spec']}}</h1>
                        <em>秒杀价：<strong>¥{{$this->Number->precision(calculate_try_price($trying['ProductTry']['price']),
                            2)}}</strong></em>
                        <div class="tuan_bar clearfix">
                            <?php $limit_num = $trying['ProductTry']['limit_num'];
                                    $sold_num = $trying['ProductTry']['sold_num'];
                                    if($sold_num >= $limit_num){
                            $sold_num = $limit_num;
                            }
                            if($sold_num >= $limit_num){
                            $sold_percent = 100;
                            }else{
                            $sold_percent = round(($sold_num / $limit_num * 100), 1);
                            }
                            ?>
                            <div class="fl" style="width: 50%;margin-right: 5px;">
                                <div class="bar">
                                    <div class="bar_buy" style="width:{{$sold_percent}}%;"></div>
                                </div>
                                <ul class="clearfix">
                                    <li class="fl">已秒<span style=" display:inline;">{{$sold_num}}</span>份</li>
                                    <li class="fr">共{{$limit_num}}份</li>
                                </ul>
                            </div>
                            <div data-try-id="{{$trying['ProductTry']['id']}}">
                                {{if $trying['status'] == 'sec_kill'}}
                                <a class="tuandetail_seckill_btn radius5 fr" href="/tuan_buyings/sec_detail/{{$trying['ProductTry']['id']}}">正在秒杀</a>
                                {{elseif $trying['status'] == 'sec_end'}}
                                <a class="seckill_disabled radius5 fr" href="/tuan_buyings/sec_detail/{{$trying['ProductTry']['id']}}">已秒完</a>
                                {{else}}
                                <a data-start="{{strtotime($trying['ProductTry']['start_time']) - ($shichi_mem? 30 * 60 : 0)}}"
                                   data-pid="{{$trying['Product']['id']}}" href="#X" class="sec_start">{{friendlyDateFromStr($trying['ProductTry']['start_time'])}}开秒</a>
                                {{/if}}
                            </div>
                        </div>
                    </span>
                </div>
                <?php } ?>
            </div>
        {{/if}}
        <div id="products-content">

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        //var toTimer = $('.sec_start');
        $('.sec_start').each(function(index,item){
            var toTimer = $(item);
            var countDiv = toTimer.parent();
            utils.countDown(toTimer, function () {
            }, function () {
                var parent = countDiv.parent();
                var tryId = countDiv.data('try-id');
                countDiv.remove();
                parent.append('<a class="tuandetail_seckill_btn radius5 fr" href="/tuan_buyings/sec_detail/'+tryId+'">正在秒杀</a>');
            });
        });
    });
</script>
{{$this->Html->script(array('/js/mobile-index.js?v4.5'), array('block' => 'scriptBottom'));}}
{{if $is_weixin}}
 <script>
     wx.ready(function () {
         var share_string = '{{$share_string ? $share_string :"index"}}';
         var to_timeline_title = "{{$to_timeline_title}}";
         var to_friend_title = "{{$to_friend_title}}";
         var to_friend_link = document.URL.split('?')[0]+'?trstr='+ share_string + '&share_type=appMsg';
         var to_timeline_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=timeline';
         var imgUrl = "{{$this->Html->assetUrl($share_imag_url)}}";
         var desc = "{{$share_desc}}！";
         wx.onMenuShareAppMessage({
             title: to_friend_title,
             desc: desc,
             link: to_friend_link,
             imgUrl: imgUrl,
             success: function () {
                 // 用户确认分享后执行的回调函数
                 if(share_string != '0'){
                     setTimeout(function(){
                         $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                     }, 500);
                 }
             }
         });
         wx.onMenuShareTimeline({
             title: to_timeline_title,
             link: to_timeline_link,
             imgUrl: imgUrl,
             success: function () {
                 if(share_string != '0'){
                     setTimeout(function(){
                         $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                     }, 500);
                 }
             }
         });
     });
 </script>
{{/if}}