<style>
    dl {
        margin-bottom: 0;
    }
    /**
 * Grid container
 */
    #tag-product-list {
        list-style-type: none;
        position: relative; /** Needed to ensure items are laid out relative to this container **/
        margin: 0;
        padding: 0;
    }


    #tag-product-list li.inactive {
        visibility: hidden;
        opacity: 0;
    }


</style>
<div class="container clearfix" style="padding: 0;">
    <div class="classlist" style="z-index: 999">
        <a href="/">
        <ul class="clearfix list-unstyled">
            <li class="back"></li>
            <li>{{$sub_title}}</li>
        </ul>
        </a>
    </div>
    <div class="classlist_good row" style="margin:0;margin-top:3em;">
        {{if $tag['banner']}}
        <img src="{{$this->Html->assetUrl($tag['banner'])}}" style="width:100%"/>
        {{/if}}
        <ul class="clearfix list-unstyled" style="padding-left: 10px;position: relative;" id="tag-product-list">
	<?PHP if($total>0){ ?>
	    <?PHP foreach($data_list as $item) {
	    $full = true;
	    $i++;
		$item['slug'] = $item['slug']?$item['slug']:$item['id'];
	    ?>
            <li>
                <a href="{{url_colored(product_link2($item).'?history=/categories/tag/'.$flagTag.'.html', 'h5.cate.list')}}" style="display:block; background-color:#ffffff; margin-right:10px;">
                    <img src="{{$this->Html->assetUrl(small_thumb_link($item['coverimg']))}}" border="0" style="display:block; background-color:#ffffff; padding-bottom:0.5em;"/>
                    <div class="item_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;">{{if $hasOfferBrandIds && array_key_exists($item['brand_id'], $hasOfferBrandIds)}}{{$item['name']}}<span>有红包</span>
                        {{else}}
                            {{$item['name']}}
                        {{/if}}
                    </div>
                </a>
                <dl class="clearfix" style="margin-right: 10px;">
                    <dt style="padding-top: 3px;">
                        <a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brands[$item['brand_id']]['Brand']['created'])).'/'.$brands[$item['brand_id']]['Brand']['slug'].'.html')}}">
                        <img class="radius10" src="{{$this->Html->assetUrl(small_thumb_link($brands[$item['brand_id']]['Brand']['coverimg']))}}" border="0" />
                        </a>
                    </dt>
                    <dt style="display:block;margin-left: 2em; float: none; line-height: 1.2em;">
                        <a href="{{url_colored(product_link2($item).'?history=/categories/tag/'.$flagTag.'.html', 'h5.cate.list')}}">
                            <span class="brand_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;"dl>{{$brands[$item['brand_id']]['Brand']['name']}}</span>
                            <span class="listprice"><span>¥{{$this->Number->precision($item['price'], 2)}}</span>
                                {{if !empty($item['original_price'])}}
                                <span class="original">¥{{$this->Number->precision($item['original_price'], 2)}}</span>
                                {{/if}}
                            </span>
                        </a>
                    </dt>
                </dl>
            </li>
		<?php } ?>
	<?php } ?>

        </ul>
    </div>
</div>
<script>
    $(document).ready(function(){
        var container=$('#tag-product-list');
        var width = container.width();
        var lis = $('#tag-product-list li');
        var itemWidth=(width-6)/2;
        var $footer = $('footer');
        //it can to use imagesLoaded and try to call wookmart two
        utils.progress_notify('页面加载中...');
        $footer.hide();
        $(window).load(function(){
            lis.wookmark({
                itemWidth:itemWidth,
                container:container,
                autoResize: false,
                flexibleWidth: '50%',
                offset: 6,
                align: 'center',
                direction: 'right',
                outerOffset: 0,
                fillEmptySpace: false,
                resizeDelay: 0
            });
            //margin-bottom: 0;margin-top: 0;
            $('div.wookmark-placeholder').remove();
            utils.close_notify();
            $footer.show();
        });
    });
</script>

{{if $jWeixinOn}}
<script>
    function search_source($flag_tag) {
        switch($flag_tag)
        {
            case "{{$mobile_tag[3]['slug']}}" : return "http://51daifan.sinaapp.com/img/mobile/index/c1.jpg";break;
            case "{{$mobile_tag[5]['slug']}}" : return "http://51daifan.sinaapp.com/img/mobile/index/c2.jpg";break;
            case "{{$mobile_tag[8]['slug']}}" : return "http://51daifan.sinaapp.com/img/mobile/index/c3.jpg";break;
            case "{{$mobile_tag[12]['slug']}}": return "http://51daifan.sinaapp.com/img/mobile/index/c4.jpg";break;
            case "{{$mobile_tag[9]['slug']}}" : return "http://51daifan.sinaapp.com/img/mobile/index/c5.jpg";break;
            case "{{$mobile_tag[6]['slug']}}" : return "http://51daifan.sinaapp.com/img/mobile/index/c6.jpg";break;
            case "{{$mobile_tag[4]['slug']}}" : return "http://51daifan.sinaapp.com/img/mobile/index/c7.jpg";break;
            case "{{$mobile_tag[10]['slug']}}": return "http://51daifan.sinaapp.com/img/mobile/index/c8.jpg";break;
        }
    }

    wx.ready(function(){
        var share_string = '{{$share_string ? $share_string :"0"}}';
        var to_timeline_title = "{{$page_title}}";
        var to_friend_title = "{{$page_title}}";
        var to_friend_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=appMsg';
        var to_timeline_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=timeline';
        var flag_tag = "{{$flagTag}}";
        var img_source = search_source(flag_tag);
        var imgUrl = img_source;
        var desc = "快来抢购吧";
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            link: to_friend_link,
            desc: desc,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if(share_string != '0'){
                    setTimeout(500, function(){
                        $.post('/wx_shares/log_share',{trstr: share_string,share_type: "appMsg" });
                    });
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if(share_string != '0'){
                    setTimeout(500, function(){
                        $.post('/wx_shares/log_share',{trstr: share_string,share_type: "timeline" });
                    });
                }
            }
        });
    })
</script>
{{/if}}




