<style>
    dl {
        margin-bottom: 0;
    }
</style>
<div class="container clearfix" style="padding: 0;">
    <div class="classlist">
        <a href="/">
        <ul class="clearfix list-unstyled">
            <li class="back"></li>
            <li>{{$sub_title}}</li>
        </ul>
        </a>
    </div>
    <div class="classlist_good row" style="margin:0;margin-top:3em;">
        {{if $tag['banner']}}
        <img src="{{$this->Html->assetUrl($tag['banner'])}}" style="width:100%"/>
        {{/if}}
        <ul class="clearfix list-unstyled" style="padding-left:10px;">
	<?PHP if($total>0){ ?>
	    <?PHP foreach($data_list as $item) {
	    $full = true;
	    $i++;
		$item['slug'] = $item['slug']?$item['slug']:$item['id'];
	    ?>
            <li class="{{if $i/2 == 1}}last{{/if}}">
                <a href="{{product_link2($item)}}" style="display:block; background-color:#ffffff; margin-right:10px;">
                <img src="{{$this->Html->assetUrl(small_thumb_link($item['coverimg']))}}" border="0" style="display:block; background-color:#ffffff; padding-bottom:0.5em;"/>
                <div class="item_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;">{{if $hasOfferBrandIds && array_key_exists($item['brand_id'], $hasOfferBrandIds)}}{{$item['name']}}<span>有红包</span>
                    {{else}}
                        {{$item['name']}}
                    {{/if}}
                </div>
                </a>
                <dl class="clearfix" style="margin-right: 10px;">
                    <dt>
                        <a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brands[$item['brand_id']]['Brand']['created'])).'/'.$brands[$item['brand_id']]['Brand']['slug'].'.html')}}">
                        <img class="radius10" src="{{$this->Html->assetUrl(small_thumb_link($brands[$item['brand_id']]['Brand']['coverimg']))}}" border="0" />
                        </a>
                    </dt>
                    <dt style="margin-left: 2.3em; float: none;">
                        <a href="{{product_link2($item)}}">
                            <span class="brand_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;"dl>{{$brands[$item['brand_id']]['Brand']['name']}}</span>
                            <span class="listprice"><span>¥{{$this->Number->precision($item['price'], 2)}}</span>
                                {{if !empty($item['original_price'])}}
                                <span class="original">¥{{$this->Number->precision($item['original_price'], 2)}}</span>
                                {{/if}}
                            </span>
                        </a>
                    </dt>
                </dl>
            </li>
		<?php } ?>
	<?php } ?>

            {{if count($data_list) % 2 == 1}}
            <li style="height: 12.4285em"></li>
            {{/if}}
        </ul>
    </div>
</div>



