{{$this->Html->css(array('tuan.css?v2'));}}
<div class="classlist_v2" style="z-index:999;">
    <ul class="clearfix">
        <li><a class="back" href="/tuans/lists/{{$pid}}.html"></a></li>
        <li class="line"></li>
        <li style="text-overflow: ellipsis;"><strong>团购详情</strong></li>
    </ul>
</div>
<div  class="container" style="margin-top: 2.5em; padding: 0">
    <div  class="row" style="margin-left: 0;margin-right: 0;">
        <div  class="col-xs-12" style="padding: 0;">
            <div class="ui-widget ui-portlet " style="position:relative;">
                <div style="display:none;position:absolute;" class="clearfix ui-corner-top ui-widget-header ui-portlet-header">
                    <span class="title"><h3>产品信息展示</h3></span>
                    <span class="edit"></span>
                </div>
                <div class="ui-corner-all ui-widget-content ui-portlet-content">
                    <div class="row voffset1" style="margin-left: 0;margin-right: 0;">
                        <div class="col-xs-12 col-md-6" style="padding: 0;">
                        <div class="p_details_pic">
                            <div class="index_banner swiper-container">
                                <ul class="clearfix list-unstyled">
                                </ul>
                                <div class="swiper-wrapper">
                                </div>
                            </div>
                        </div>
                        {{if $pid == PRODUCT_ID_CAOMEI}}
                            <div class="p_details_title">全北京最新鲜的昌平兴寿红颜草莓，现采现送 400g/盒 20盒成团即送 团即送酸奶</div>
                            <ul class="p_details_price clearfix">
                                <li class="fl price"><span>￥<font>19.00</font></span></li>
                                <li class="fr stat"><a style="color: #666666"><span>送货日期：<b>{{$consign_time}}</b></span></a></li>
                            </ul>
                            <ul class="sales clearfix">
                                <li>
                                <span style="display: block;overflow: hidden;">
                                <span>当天采摘，当天送达，自然熟透，无碰损，科学除虫，无农药，孕妇宝宝水果佳品！<br></span>
                                </span>
                                </li>
                            </ul>
                        {{/if}}
                        {{if $pid == PRODUCT_ID_MANGUO}}
                        <div class="p_details_title">海南空运红金龙芒果 贵妃芒果 10斤装 满50箱从海南果园空运至北京</div>
                        <ul class="p_details_price clearfix">
                            <li class="fl price"><span>￥<font>149.00</font></span></li>
                            <li class="fr stat"><a style="color: #666666"><span>送货日期：<b>{{$consign_time}}</b></span></a></li>
                        </ul>
                        <ul class="sales clearfix">
                            <li>
                                <span style="display: block;overflow: hidden;">
                                <span>【满50箱方可成团，从海南空运】海南红金芒，也叫贵妃芒果，肉厚核薄、多汁少纤、营养丰富，是水果中的极品。<br></span>
                                </span>
                            </li>
                        </ul>
                        {{/if}}

                        <div class="tuan_bar">
                            <div>已团购<span id="sold_num" value="{{$sold_num>0?$sold_num:0}}">{{$sold_num>0?$sold_num:0}}</span>份</div>
                            <div class="bar">
                                <div class="bar_buy" id = "bar_buy"></div>
                            </div>
                            <ul class="clearfix">
                                <li class="fl"><span id="bar_percent"></span></li>
                                {{if $tuan_buy_id==33}}
                                    <li class="fr">目标100份</li>
                                {{elseif $tuan_buy_id==34}}
                                    <li class="fr">目标50份</li>
                                {{elseif $tuan_buy_id==36}}
                                    <li class="fr">目标45份</li>
                                {{else}}
                                    {{if $pid == PRODUCT_ID_CAOMEI}}<li class="fr">目标20份</li>{{/if}}
                                    {{if $pid == PRODUCT_ID_MANGUO}}<li class="fr">目标50份</li>{{/if}}
                                {{/if}}
                            </ul>
                        </div>
                            <div class="clearfix tuanxq">
                                {{$tuan_name}}&nbsp;&nbsp;&nbsp;&nbsp;团长:{{$tuan_leader_name}}<br/>参团请加团长微信，微信号:{{$tuan_leader_weixin}}
                            </div>
                            <div class="clearfix tuanxq" style="margin-top: -1px;">
                                <span class="fl">自提地点：{{$tuan_address}}</span>
                                <a class="fr" href="/tuans/lbs_map/{{$tuan_id}}">
                                    <img src="/img/tuan/locat_icon_xq.gif" border="0" /><s>查看地图</s>
                                </a>
                            </div>
                            <ul class="numbers clearfix b_line">
                            <li class="fl">
                                    <span class="gray title mr12" style="float:left;">数量:</span>
                                <span class="clearfix" style="display: block;overflow: hidden;">
                            <div id="pamount_reduce" class="grew"  item-id="{{$pid}}">-</div>
                            <input id="input_pamount"  item-id="{{$pid}}" size="3" value="1" class="num" name="shoppingnum" type="text"/>
                            <div id="pamount_add" class="grew" item-id="{{$pid}}">+</div>
                            </span>
                            </li>
                            </ul>
                            <ul class="clearfix shop_entrance" style="color: #29AC0E;padding: 4px 0.8em 5px 0.8em;" onclick="to_brand();">
                                <li class="fl"><img src="http://51daifan-images.stor.sinaapp.com/files/201411/thumb_s/0e1309c1731_1119.jpg" border="0"></li>
                                <li class="fl" style="color: #333333;">朋友说</li>
                                <li class="fr" style="margin-top: 0.3em;height: 1.634em;"><a class="p_more"></a></li>
                            </ul>
                            <div class="service">
                                <ul class="clearfix b_line">
                                    <li>
                                        <span class="gray mr12" style="float:left;">快递:</span>
			<span style="display: block;overflow: hidden;">
                <span>自提</span>			</span>
                                    </li>
                                </ul>
                                <ul class="clearfix">
                                    <li>
                                        <span class="gray mr12" style="float:left;">服务:</span>
			<span style="display: block;overflow: hidden;">
				<span>本商品由 朋友说 发货并提供售后服务。</span>
                			</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="all_line">
                                <ul class="clearfix title" style="margin-bottom: 0;" onclick="to_detail();">
                                    <li class="fl"><strong>图文详情</strong></li>
                                    <li class="fr"><a class="p_more"></a></li>
                                </ul>
                            </div>

                            <div class="all_line" id="comment-div">
                                <ul class="clearfix title" style="margin-bottom: 0;">
                                    <li class="fl">口碑评论<span> 评价有积分奖励哦</span></li>
                                </ul>
                                <div id="comment_items" style="margin-top: 8px;">

                                </div>
                                <script>
                                    $(document).ready(function(){
                                        var $limitCommentCount=5;
                                        var $viewAllComments = $('#view_all_comments');
                                        var $commentItems = $('#comment_items');
                                        //load comment
                                        function loadCommentData(){
                                            if(!$limitCommentCount){
                                                utils.progress_notify('评论加载中...');
                                            }
                                            $.ajax({
                                                async:true,
                                                type:'get',
                                                success:function(request, xhr) {
                                                    if(request.length>3){
                                                        $viewAllComments.show();
                                                    }
                                                    for(var i in request){
                                                        processCommentData(request[i]['Comment']);
                                                    }
                                                    if(!$limitCommentCount){
                                                        utils.close_notify();
                                                    }
                                                    //$commentItems.children().slice(0,5).show();
                                                },
                                                url:"/comments/getlist/Product/{{$pid}}.json?pagesize=5",
                                                dataType:'json'
                                            });
                                        }

                                        function processCommentData(item){
                                            var rating = parseInt(item['rating']);
                                            var ratingStr = "差评";
                                            if(rating>3){
                                                ratingStr="好评";
                                            }
                                            if(rating==3||rating==2){
                                                ratingStr="中评";
                                            }
                                            var userPhoto='http://51daifan.sinaapp.com/img/default_user_icon.jpg';
                                            if(item["userPhoto"]&&item["userPhoto"]!='null'){
                                                userPhoto=item["userPhoto"].replace('thumb_s','thumb_m');
                                            }
                                            //TODO buy time
                                            var $comment = '<div style="padding-bottom: 7px;">'+
                                                    '<ul class="clearfix user">'+
                                                    '<li class="fl"><img src="'+userPhoto+'" border="0"/></li>'+
                                                    '<li class="fl">'+item['username']+'</li>'+
                                                    '<li class="fr time">'+item['created']+'</li>'+
                                                    '</ul>'+
                                                    '<div class="evaluate clearfix">'+
                                                    '<span class="evaluate_bg radius10" style="float:left;">'+ratingStr+'</span>'+
                                                    '<span class="con" style="display: block;overflow: hidden;">'+
                                                    '<span>'+item['body']+'</span>'+
                                                    '</span>'+
                                                    '</div>';
                                            if (item.images && item.images.length > 0) {
                                                $comment+='<div class="pic">'+
                                                        '<ul class="clearfix" style="margin-bottom: 3px;margin-left: 35px;">';
                                                $.each(item.images, function(idx, val){
                                                    $comment+='<li><a href="#X"><img src="'+val+'" border="0" /></a></li>';
                                                });
                                                $comment+='</ul>'+
                                                        '</div>';
                                            }
                                            if(item['buy_time']){
                                                $comment+= '<div class="pay_time">购买时间: '+item['buy_time']+'</div>'+
                                                        '</div>';
                                            }

                                            $($comment).appendTo($commentItems);
                                        }
                                        loadCommentData();
                                    });
                                </script>
                            </div>
                            <div class="all_line" style="margin-bottom: 0;">
                                <ul class="clearfix title" style="margin-bottom: 0px;">
                                    <li class="fl">相关推荐</li>
                                </ul>
                                <div class="classlist_good" style="margin-top: 8px;">
                                    <ul class="clearfix list-unstyled" style="padding-left:10px;">
                                        <li class="last">
                                            <a href="/products/20141208/fan_er_shou_gong_niu_rou_gan_50g.html?_sl=h5.product.recom" style="display:block; background-color:#ffffff; margin-right:10px;">
                                                <img src="http://51daifan-images.stor.sinaapp.com/files/201503/thumb_s/aa984d00bd0_0303.jpg" border="0" style="display:block; background-color:#ffffff; padding-bottom:0.5em; height: 136px">
                                                <div class="item_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;">饭二手工牛肉干40g                            </div>
                                            </a>
                                            <dl class="clearfix" style="margin-right: 10px;margin-bottom: 0;">
                                                <dt style="float: none;">
                                                    <a href="/products/20141208/fan_er_shou_gong_niu_rou_gan_50g.html?_sl=h5.product.recom">
                                    <span class="listprice" style="padding-left: 0;">
                                        <span>¥12.00</span>
                                    </span>
                                                    </a>
                                                </dt>
                                            </dl>
                                        </li>
                                        <li class="last">
                                            <a href="/products/20141212/dong_bei_hei_mu_er_chun_er_Kvw0.html?_sl=h5.product.recom" style="display:block; background-color:#ffffff; margin-right:10px;">
                                                <img src="http://51daifan-images.stor.sinaapp.com/files/201501/thumb_s/46084447248_0121.jpg" border="0" style="display:block; background-color:#ffffff; padding-bottom:0.5em; height: 136px">
                                                <div class="item_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;">东北明星家春秋木耳（桶装）286g                            </div>
                                            </a>
                                            <dl class="clearfix" style="margin-right: 10px;margin-bottom: 0;">
                                                <dt style="float: none;">
                                                    <a href="/products/20141212/dong_bei_hei_mu_er_chun_er_Kvw0.html?_sl=h5.product.recom">
                                    <span class="listprice" style="padding-left: 0;">
                                        <span>¥65.00</span>
                                    </span>
                                                    </a>
                                                </dt>
                                            </dl>
                                        </li>
                                        <li class="">
                                            <a href="/products/20141108/qian_xi_ban_li_5jin_zhuang.html?_sl=h5.product.recom" style="display:block; background-color:#ffffff; margin-right:10px;">
                                                <img src="http://51daifan-images.stor.sinaapp.com/files/201503/thumb_s/31e1bb3a62d_0303.jpg" border="0" style="display:block; background-color:#ffffff; padding-bottom:0.5em; height: 136px">
                                                <div class="item_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;">正宗迁西板栗 69元5斤包邮只限100份 抢！                            </div>
                                            </a>
                                            <dl class="clearfix" style="margin-right: 10px;margin-bottom: 0;">
                                                <dt style="float: none;">
                                                    <a href="/products/20141108/qian_xi_ban_li_5jin_zhuang.html?_sl=h5.product.recom">
                                    <span class="listprice" style="padding-left: 0;">
                                        <span>¥69.00</span>
                                    </span>
                                                    </a>
                                                </dt>
                                            </dl>
                                        </li>
                                        <li class="">
                                            <a href="/products/20141212/a_lian_ma_ma_jiu_niang_2ping.html?_sl=h5.product.recom" style="display:block; background-color:#ffffff; margin-right:10px;">
                                                <img src="http://51daifan-images.stor.sinaapp.com/files/201412/thumb_s/87a09e22cc8_1212.jpg" border="0" style="display:block; background-color:#ffffff; padding-bottom:0.5em; height: 136px">
                                                <div class="item_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;">阿莲妈妈酒酿(2瓶）限北京地区                            </div>
                                            </a>
                                            <dl class="clearfix" style="margin-right: 10px;margin-bottom: 0;">
                                                <dt style="float: none;">
                                                    <a href="/products/20141212/a_lian_ma_ma_jiu_niang_2ping.html?_sl=h5.product.recom">
                                    <span class="listprice" style="padding-left: 0;">
                                        <span>¥36.00</span>
                                    </span>
                                                    </a>
                                                </dt>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>

                        function to_brand(){
                            window.location.href="/b/peng_you_shuo";
                        }
                        function to_detail(){
                            window.location.href="/tuans/product_detail/{{$pid}}?tuan_id={{$tuan_id}}&tuan_buy_id={{$tuan_buy_id}}";
                        }

                    </script>

                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<!--底部购买-->
<div class="bottom_bg">
    <ul class="clearfix">
        <li class="love fl" style="width:25%;">
            <a href="#X" class="love_icon"></a>
            <!--<p>关注</p>-->
        </li>
        <li class="fl" style="width:50%;">
            <div style="margin-right:3%;">
                {{if $new_tuan_buy}}
                <a href="/tuans/detail/{{$new_tuan_buy}}" class="btn_b pay_bg radius10">该团已截止</a>
                {{elseif $exceed_time}}
                <a href="javascript:void(0)" class="btn_b cart_btn_soldout radius10">该团已截止</a>
                {{else}}
                <a id="tuan_buy" item-id="{{$pid}}" href="javascript:;" class="btn_b pay_bg radius10">立即购买</a>
                {{/if}}
            </div>
        </li>

        <li class="shopping fr">
            <a href="/carts/listcart.html" style="position:relative; margin-top: 0.2em;" class="shopping_icon" id="cart_link"><div id="item-count" class="shopping_count"></div></a>
            <p>购物车</p>
        </li>
    </ul>
</div>

{{$this->Html->script(array('swiper/idangerous.swiper-2.0.min.js'));}}
        <script>
            $(document).ready(function(){
            $('#tuan_buy').click(function(){
                var href = window.location.href;
                if(!sso.check_userlogin({'referer':href})){
                    return false;
                }else{
                var product_id = $('#tuan_buy').attr('item-id');
                var product_num = $('#input_pamount').val();
                var postdata = {'product_id':product_id,'product_num':product_num};
                utils.progress_notify('正在更新购物车');
                $.ajax({
                    type:'post',
                    data: postdata,
                    url:'/tuans/cart_info/{{CART_ITEM_TYPE_TUAN}}',
                    success:function(data){
                        if(data.success)
                        {
                            window.location.href = '/tuans/join/{{$tuan_buy_id}}';
                        }
                        else
                        {
                            showErrorMessage(data.error);
                        }
                    },
                    dataType:'json'
                });
                }
            });

            })
        </script>
        {{if $pid == PRODUCT_ID_CAOMEI}}
        <script>
            $(document).ready(function(){
                var sold_num = $('#sold_num').attr('value');
                var target_number = 20;
                {{if $tuan_buy_id==33}}
                    target_number = 100;
                {{elseif $tuan_buy_id==34}}
                    target_number = 50;
                {{elseif $tuan_buy_id==36}}
                    target_number = 45;
                {{/if}}

                var sold_percent = Math.round(sold_num / target_number * 100);
                {{if sold_percent > 100 }}
                  sold_percent = 100; 
                {{/if}}
                $('#bar_buy').css("width", sold_percent + "%");
                $('#bar_percent').text(sold_percent + "%");
            });
        </script>
        {{/if}}
        {{if $pid == PRODUCT_ID_MANGUO}}
        <script>
           $(document).ready(function(){
                var sold_num = $('#sold_num').attr('value');
                var sold_percent = (sold_num*2)>100?100:sold_num*2;
                $('#bar_buy').css("width", sold_percent + "%");
                $('#bar_percent').text(sold_percent + "%");

            });
         </script>
        {{/if}}
    {{if $pid == PRODUCT_ID_CAOMEI}}
        <script>

            //<![CDATA[
            $().ready(function(){
                var banners = [];
                var banner_links = [];

                banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/b7294de12a6_0307.jpg');
                banner_links.push('#');banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/646fba8bd46_0307.jpg');
                banner_links.push('#');banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/d94df21975c_0307.jpg');
                banner_links.push('#');banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/4dd65a241cf_0307.jpg');
                banner_links.push('#');

//$(banners).preload();

                var $indexBanner = $('.index_banner');
                var ul = $indexBanner.find('ul');
                var swiper_wrapper = $indexBanner.find('div.swiper-wrapper');

                $.each(banners, function (idx, value) {
                    $('<div class="swiper-slide"><a href="' + banner_links[idx] + '"><img src="' + value + '" border="0" /></a></div>').appendTo(swiper_wrapper);
                    $('<li/>').appendTo(ul);
                });

//setTimeout(function () {
                var mySwiper = $indexBanner.swiper({
                    mode: 'horizontal',
                    loop: banners.length>1,
                    autoplay: 10000,
                    calculateHeight: true,
                    onSlideChangeStart: function (swiper) {
                        ul.find('li').removeClass('cur');
                        ul.find('li:nth-child(' + (swiper.activeLoopIndex % 4 + 1) + ')').toggleClass('cur');
                    }
//etc..
                });
                ul.find('li:first').addClass('cur');
//}, 1000);
            })


            //]]>

        </script>
        {{/if}}
{{if $pid == PRODUCT_ID_MANGUO}}
<script>

    //<![CDATA[
    $().ready(function(){
        var banners = [];
        var banner_links = [];

        banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/cee86ae653c_0316.jpg');
        banner_links.push('#');banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/d653bebe20e_0316.jpg');
        banner_links.push('#');banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/02511317acf_0316.jpg');
        banner_links.push('#');banners.push('http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/76b641e89ee_0316.jpg');
        banner_links.push('#');

//$(banners).preload();

        var $indexBanner = $('.index_banner');
        var ul = $indexBanner.find('ul');
        var swiper_wrapper = $indexBanner.find('div.swiper-wrapper');

        $.each(banners, function (idx, value) {
            $('<div class="swiper-slide"><a href="' + banner_links[idx] + '"><img src="' + value + '" border="0" /></a></div>').appendTo(swiper_wrapper);
            $('<li/>').appendTo(ul);
        });

//setTimeout(function () {
        var mySwiper = $indexBanner.swiper({
            mode: 'horizontal',
            loop: banners.length>1,
            autoplay: 10000,
            calculateHeight: true,
            onSlideChangeStart: function (swiper) {
                ul.find('li').removeClass('cur');
                ul.find('li:nth-child(' + (swiper.activeLoopIndex % 4 + 1) + ')').toggleClass('cur');
            }
//etc..
        });
        ul.find('li:first').addClass('cur');
//}, 1000);
    })


    //]]>

</script>
  {{/if}}


{{if $pid == PRODUCT_ID_CAOMEI && $jWeixinOn }}
<script>
    wx.ready(function () {
        var share_string = '{{$share_string ? $share_string :"0"}}';
        var to_timeline_title = "从采摘到嘴边不超过8小时，19一盒，团还送万得秒酸奶，快来加入！";
        var to_friend_title = "全北京最新鲜的红颜草莓团购-朋友说美食团";
        var to_friend_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=appMsg';
        var to_timeline_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=timeline';
        var imgUrl = "http://51daifan-images.stor.sinaapp.com/files/201503/thumb_s/0e3b03912ce_0309.jpg";
        var desc = "从采摘到嘴边不超过8小时，19一盒，团还送万得秒酸奶，快来加入！";
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            desc: desc,
            link: to_friend_link,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if(share_string != '0'){
                    setTimeout(500, function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                    });
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if(share_string != '0'){
                    setTimeout(500, function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                    });
                }
            }
        });
    })
</script>
 {{/if}}
{{if $pid == PRODUCT_ID_MANGUO &&$jWeixinOn}}
<script>
    wx.ready(function () {
        var share_string = '{{$share_string ? $share_string :"0"}}';
        var to_timeline_title = "海南空运红金龙芒果 贵妃芒果 10斤装 50箱起送，快团起来！";
        var to_friend_title = "海南空运红金龙芒果 贵妃芒果 10斤装 50箱起送，快团起来!";
        var to_friend_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=appMsg';
        var to_timeline_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=timeline';
        var imgUrl = "http://51daifan-images.stor.sinaapp.com/files/201503/thumb_m/d653bebe20e_0316.jpg";
        var desc = "海南空运红金龙芒果 贵妃芒果 10斤装！";
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            desc: desc,
            link: to_friend_link,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if(share_string != '0'){
                    setTimeout(500, function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                    });
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if(share_string != '0'){
                    setTimeout(500, function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                    });
                }
            }
        });
    })
</script>
{{/if}}
