	    <h2 class="Content-title"><?php echo $Article['Article']['name']; ?></h2>
	    <div class="Content-info">
	来源：{{$Article['Article']['origin']}}    阅读次数： <span class="ui-stats-num Stats-Article-{{$Article['Article']['id']}}-view_nums"><?php echo $Article['Article']['views_count']; ?></span>
	    </div>
	    <div class="Content-body">
		    <div class="ui-share">
		    	<div class="ui-state-default"><a href="javasctipt:void(0);" onclick="return addtofavor('Article','{{$Article['Article']['id']}}');">分享</a></div>
		    	<div class="ui-widget-content ui-share-num"><span class="ui-stats-num Stats-Article-{{$Article['Article']['id']}}-favor_nums">{{if $Article['Article']['favor_nums']}}({{$Article['Article']['favor_nums']}}){{else}}0{{/if}}</span></div>
		    </div>
	    	<?php echo $Article['Article']['content']; ?>
	    	{{if $Article['Article']['remoteurl']}}
	    	<p>原文链接：<a href="{{$Article['Article']['remoteurl']}}" style="font-size: 12px;" target="_blank">{{$Article['Article']['remoteurl']}}</a></p>
	    	{{/if}}
		
        {{$this->Hook->call("affterContent",array('Article',$Article['Article']['id']))}}
	</div>
<div id="dialog-share" style="display:none;" title="温馨提示">
	<div class="ui-pop-tips"><span class="ico ico-success" style="float:left;"></span><div class="tips-cnt">发表观点成功，是否也分享给您的好友？</div></div>
</div>
