{{$this->Html->css(array(
'groupon.css',
))}}
<div class="bg">
    <p class="title">{{$team['Team']['title']}} </p>
    <ul class="clearfix tuan_masg">
        <li class="fl"><img src="{{$this->Html->assetUrl($team['Team']['image']);}}" /></li>
        <li class="fl pl12">
            <div class="tuan_price">现价: <span>¥{{$this->Number->precision($balance/100, 2)}}</span>&nbsp;&nbsp;&nbsp;<i>原价: ¥{{$this->Number->precision($team['Team']['market_price']/100, 2)}}</i></div>
            <div class="tip">好友支付<strong>&nbsp;{{$this->Number->precision($team['Team']['unit_pay']/100, 2)}}&nbsp;</strong>元立减<strong>&nbsp;{{$this->Number->precision($team['Team']['unit_val']/100, 2)}}&nbsp;</strong>元</div>
            <div class="people">已有<span>{{$groupon['Groupon']['pay_number']}}</span>人参团, 限<span>{{$team['Team']['min_number']}}</span>人</div>
        </li>
    </ul>
    <ul class="address">
        <li class="clearfix">
            <span class="title fl">发起人: </span>
            <span class="fl">{{$groupon['Groupon']['name']}}</span>
        </li>
        <li class="clearfix">
            <span class="title fl">送货地址: </span>
            <span style="overflow: hidden;">{{$groupon['Groupon']['address']}}</span>
        </li>
    </ul>
</div>
<div class="listbg mt12">
    <a href="javascript:void(0)" id="product_rule">活动细则<span class="moreicon"><img src="{{$this->Html->assetUrl('/img/groupon/more.png')}}" /></span></a>
    <div id="product_rule_content" class="detail" style="display:none;">
        {{$team['Team']['notice']}}
    </div>
</div>
<div class="listbg" style="margin-top:-1px; margin-bottom:1em;">
    <a href="javascript:void(0)" id="product_summary">产品介绍<span class="moreicon"><img src="{{$this->Html->assetUrl('/img/groupon/more.png')}}" /></span></a>
    <div id="product_summary_content" class="detail" style="display:none;">
        {{$team['Team']['summary']}}
    </div>
</div>
{{if $is_organizer}}
<a href="javascript:;" id="share_to_friend" class="share"><img src="{{$this->Html->assetUrl('/img/groupon/share.png')}}" /></a>
        {{if $not_pay}}
<a href="/groupons/go_join/{{$groupon['Groupon']['id']}}" class="newtuanbtn radius10">去支付</a>
        {{elseif ($groupon['Groupon']['status'] != STATUS_GROUP_REACHED)}}
<a href="/groupons/go_join/{{$groupon['Groupon']['id']}}?type=done" class="newtuanbtn radius10">支付{{$balance/100}}元提前成团</a>
        {{/if}}
{{else}}
        {{if $not_pay}}
<a href="/groupons/go_join/{{$groupon['Groupon']['id']}}" class="tuanbtn radius10">支付{{$team['Team']['unit_pay']/100}}元参团</a>
        {{/if}}
<a href="javascript:;" id="share_to_friend2" class="share"><img src="{{$this->Html->assetUrl('/img/groupon/share.png')}}" /></a>
        {{if $not_pay}}
<a href="#X" class="newtuanbtn radius10">不在一起? 发起新团</a>
        {{/if}}
{{/if}}
<div class="listbg mt12">
    <a href="#X" id="event">参团记录<span class="moreicon"><img src="{{$this->Html->assetUrl('/img/groupon/more.png')}}" /></span></a>
    <div id="event_list" style="display:none;">
        <ul class="tuan_list">
            {{loop $join_info $j}}
            <li class="clearfix">
                <span class="title fl">{{$j['nickname']?$j['nickname']:'匿名'}}</span>
                <span class="fl">{{$j['time']}}</span>
            </li>
            {{/loop}}

        </ul>
        <a href="#X" class="more_list">更多记录</a>
    </div>
</div>
<!--弹出层-->
<div style="position:absolute; left:50%; top:30%; margin-left:-8em; display:none;">
    <ul class="layer radius10">
        <li style="display:none;">你已经参加过<span>&nbsp;Alice&nbsp;</span>创建的团!<br />一人只能参加一个团购</li>
        <li><a class="closebtn radius10" href="#X">关闭</a></li>
    </ul>
</div>
<style>
    .apple_share {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #000;
    }
    .apple_share.in {
        opacity: .9;
    }
</style>
<script>
    var share_png_url = '{{$this->Html->assetUrl("/img/groupon/shareicon.png")}}';
    $(document).ready(function(){
       var $share_div = $('<div class="apple_share fade in"><img src="'+share_png_url+'" style="width:95%"></div>')
                .hide().click(function(){
                    $share_div.hide();
                });
        $('body').append($share_div);
        $('#share_to_friend, #share_to_friend2').click(function(){
            $share_div.show();
        });

        var imgUrl = $('#product_img').attr('src');
        var lineLink = 'http://{{WX_HOST}}/groupons/join/{{$groupon["Groupon"]["id"]}}.html?trid={{$trid}}';
        var descContent = '{{($groupon["Groupon"]["pay_number"]>0 ? "已有".$groupon["Groupon"]["pay_number"]."个小伙伴一起团，" : "")}} {{$team["Team"]["share_desc"]}}';
        var shareTitle = '{{$team["Team"]["share_title"]}}';
        var appid = '{{WX_APPID}}';

        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.on('menu:share:appmessage', function(argv){
                utils.wx_to_friend(appid, imgUrl, lineLink, descContent, shareTitle);
            });
            WeixinJSBridge.on('menu:share:timeline', function(argv){
                utils.wx_to_timeline(appid, imgUrl, lineLink, descContent, shareTitle);
            });
        }, false);
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#product_rule').on('click',function(){
            $('#product_rule_content').toggle()
        });
        $('#product_summary').on('click',function(){
            $('#product_summary_content').toggle()
        });
        $('#event').on('click',function(){
            $('#event_list').toggle()
        });
    })
</script>
