{{$this->Html->css(array(
'groupon.css?1',
))}}
    <div style="color:red;background: #ffdcba; border:1px solid #ffb975; padding:2px 10px 2px 10px"><strong>通知</strong>：因春节快递停止接单，2月8日左右起，部分商家将停止发货。</div>
<div class="bg">
    <p class="title">{{$team['Team']['title']}} </p>
    <div class="people" style="border-top: 1px solid #CCCCCC; padding-top:0.5em; margin-top:1.5em">
        本团已有<span>{{$groupon['Groupon']['pay_number'] + 1}}</span>人参团,
        {{if $groupon['Groupon']['status'] != STATUS_GROUP_REACHED}}
            {{if $balance <= $team['Team']['unit_val'] }}
                团满，等待发起者支付
            {{else}}
                还差<span><?php echo ($team['Team']['min_number'] - $groupon['Groupon']['pay_number'] - 1) ?></span>人
            {{/if}}
        {{else}}
            组团成功
        {{/if}}
    </div>
    <div class="people">发起人：{{$groupon['Groupon']['name']}} </div>
    <div class="people">收货地址：{{$groupon['Groupon']['area']}}{{$is_organizer? $groupon['Groupon']['address'] : (special_privacy($groupon['Groupon']['address'], 10).' (<small><i>隐私原因，部分屏蔽</i></small>)')}}</div>
</div>

    <div class="listbg mt12">
    <a id="product_summary" href="javascript:;">图文详情<span class="moreicon"><img src="{{$this->Html->assetUrl('/img/groupon/more.png')}}" /></span></a>
    <a id="product_summary_content" href="{{product_link2($product, '/')}}" style="display: none; border-top: 1px solid #CCCCCC;">
    <ul class="clearfix tuan_masg" style="position: relative">
        <li class="fl"><img src="{{$this->Html->assetUrl($product['Product']['coverimg']);}}" /></li>
        <li class="fl pl12" style="width:12em">
            <div class="tuan_price">原价: <span>¥{{$this->Number->precision($product['Product']['price'], 2)}}</span>&nbsp;&nbsp;&nbsp;</div>
            <div class="tip">{{$team['Team']['intro_sum']}}</div>
            <!--<span class="moreicon"><img src="{{$this->Html->assetUrl('/img/groupon/more.png')}}" /></span>-->
        </li>
    </ul>
    </a>
    </div>
    <div class="listbg mt12">
        <p style="margin-top: 0.5em; margin-bottom: 0">活动规则</p>
        <div id="product_rule_content" style="border-top: 1px solid #CCCCCC; padding-top:0.5em">
            {{$team['Team']['notice']}}
        </div>
    </div>

        {{if !$team_end}}

{{if $is_organizer}}
    {{if $closed}}
<div class="can_paid" style="margin-top:1em">组团成功, 等待收货吧!</div>
    {{/if}}
        {{if $balance > $team['Team']['unit_val']}}
        <a href="javascript:;" id="share_to_friend" class="newtuanbtn radius10" style="margin-top:0.2em">邀请好友一起来团</a>
        {{/if}}
        {{if ($groupon['Groupon']['status'] != STATUS_GROUP_REACHED)}}
            {{if $balance <= $team['Team']['unit_val'] }}
        <a id="organizer_pay_last" href="/groupons/go_join/{{$groupon['Groupon']['id']}}?type=done" class="newtuanbtn radius10">人数凑齐，支付{{ ($balance <= 0? 0 : $team['Team']['unit_pay']) /100}}元结束组团</a>
            {{else}}
        <a id="pay_done" href="/groupons/go_join/{{$groupon['Groupon']['id']}}?type=done" class="newtuanbtn radius10">凑不齐？支付{{$balance/100}}元结束组团</a>
            {{/if}}
        {{/if}}
        {{if $my_join_id}}
        <a href="/groupons/join/{{$my_join_id['GrouponMember']['groupon_id']}}" class="newtuanbtn radius10" style="margin-top:0.2em">我参与的团</a>
        {{/if}}
{{else}}
    {{if $closed}}
        <div class="can_paid" style="margin-top:1em">{{$attend?'组团成功, 等待收货吧!':'该团已满'}}</div>
    {{elseif $will_closed}}
        <div class="can_paid" style="margin-top:1em">{{$attend?'本团已有'.$team['Team']['min_number'].'人， 等待发起人提交成团':'该团已满'}}</div>
    {{elseif !$attend && $joined_exceed}}
        <div class="can_paid">每人只能团一次，您已参过团啦</div>
    {{elseif !$attend}}
            <a href="/groupons/go_join/{{$groupon['Groupon']['id']}}" class="tuanbtn radius10">支付{{$team['Team']['unit_pay']/100}}元参团</a>
    {{/if}}

        {{if $attend && !$will_closed}}
        <a href="javascript:;" id="share_to_friend2" class="newtuanbtn radius10" style="margin-top:0.2em">邀请好友一起来团</a>
        {{/if}}

        {{if $has_organized}}
        <a href="/groupons/view/{{$team['Team']['slug']}}" class="newtuanbtn radius10" style="margin-top:0.5em">看看我组的团</a>
        {{else}}
        <a href="/groupons/organizing.html?team={{$team['Team']['slug']}}" class="newtuanbtn radius10" style="margin-top:0.5em">我要组团</a>
        {{/if}}

        <div style="margin:10px auto; text-align: center">
        <a id="share_to_leader" href="/groupons/join/{{$groupon['Groupon']['id']}}/leader/{{$CurrentUser['id']}}.html" class="newtuanbtn radius10" style="width: 45%; display:inline-block">请领导组团</a>
        <a id="share_to_tuhao" href="/groupons/join/{{$groupon['Groupon']['id']}}/tuhao/{{$CurrentUser['id']}}.html" class="newtuanbtn radius10" style="width: 45%; display:inline-block">请土豪组团</a>
        </div>

{{/if}}

        {{else}}
            <div class="can_paid" style="margin-top:1em">该团已结束{{if $attend || $is_organizer}}，我们将为您退款{{/if}}。</div>
        {{/if}}
<div class="listbg mt12">
    <a href="javascript:;">参团记录</a>
    <div id="event_list">
        <ul class="tuan_list" id="more_record">
            <li class="clearfix">
                <span class="title fl">{{$groupon['Groupon']['name']}}</span>
                <span class="fl">{{friendlyDateFromStr($groupon['Groupon']['created'])}}</span>
            </li>
            {{loop $join_info $j}}
            <li class="clearfix">
                <span class="title fl">{{$j['nickname']?$j['nickname']:'匿名'}}</span>
                <span class="fl">{{friendlyDateFromStr($j['time'])}}</span>
            </li>
            {{/loop}}

        </ul>
    </div>
</div>
{{if $need_attentions}}
<div class="modal fade" id="myModal" role="dialog">
    <div class="comment_tanchubg_layer radius10">
        <div>关注<span>[朋友说]</span>后, 跟踪组团状态!</div>
        <ul class="clearfix">
            <li class="fl"><a class="comment_bingbtn radius10" data-dismiss="modal" href="javascript:void(0)">稍后关注</a></li>
            <li class="fr"><a class="comment_nobingbtn radius10"  id="subscribe" href="javascript:void(0)">关注</a></li>
        </ul>
    </div>
</div>
{{/if}}
<span id="groupId" style="display: none">{{$groupon['Groupon']['id']}}</span>
<script>
    var share_png_url = '{{$this->Html->assetUrl("/img/groupon/shareicon.png")}}';
    var show_alert_tuhao = '{{$share_alert_tuhao}}';
    var show_alert_leader = '{{$share_alert_leader}}';

    $(document).ready(function(){
        if (show_alert_leader || show_alert_tuhao) {
            var $share_div = $('<div class="apple_share fade in"><img src="http://51daifan-images.stor.sinaapp.com/as/normal1/shareiconn.png" style="width:95%"></div>')
                    .hide().click(function(){
                        $share_div.hide();
                    });
            $('body').append($share_div);
            $sel = '#share_to_friend, #share_to_friend2';
            if (show_alert_leader) {
                $sel += ', #share_to_leader';
            }
            if (show_alert_tuhao) {
                $sel += ', #share_to_tuhao';
            }
            $($sel).click(function(e){
                if (show_alert_leader || show_alert_tuhao) {
                    document.title = (show_alert_leader ? '领导':'土豪') + '，请你来组团给大家发福利啦！';
                }
                $share_div.show();
                e.preventDefault();
            });
        } else {
            var $share_div = $('<div class="apple_share fade in"><img src="'+share_png_url+'" style="width:95%"></div>')
                    .hide().click(function(){
                        $share_div.hide();
                    });
            $('body').append($share_div);
            $('#share_to_friend, #share_to_friend2').click(function(){
                $share_div.show();
            });
        }

        var imgUrl = $('#product_img').attr('src');
        var lineLink = 'http://{{WX_HOST}}/groupons/join/{{$groupon["Groupon"]["id"]}}.html?trid={{$trid}}';
        var descContent = '{{($groupon["Groupon"]["pay_number"]>0 ? "已有".$groupon["Groupon"]["pay_number"]."个小伙伴一起团，" : "")}} {{$team["Team"]["share_desc"]}}';
        var shareTitle = '{{$team["Team"]["share_title"]}}';
        if(show_alert_leader || show_alert_tuhao) {
            shareTitle = (show_alert_leader ? '领导':'土豪') + '，请你来组团给大家发福利啦！';
            document.title = shareTitle;
            descContent = '{{$team["Team"]["share_desc"]}}';
            lineLink = window.location.href;

            if (show_alert_leader) {
                $('#share_to_leader').trigger('click');
            } else if (show_alert_tuhao) {
                $('#share_to_tuhao').trigger('click');
            }
        }

        $('#pay_done').click(function(e){

            var href = $(this).attr('href');

            utils.alert_two('您确认要结束组团吗？参团的人越多，结束团购需要支付的金额越少！', '邀人参团', '结束组团', null, function(){
                window.location.href = href;
            });

            e.preventDefault();
            return false;

        });


        var appid = '{{WX_APPID}}';

        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
//            WeixinJSBridge.on('menu:share:appmessage', function(argv){
//                utils.wx_to_friend(appid, imgUrl, lineLink, descContent, shareTitle);
//            });
//            WeixinJSBridge.on('menu:share:timeline', function(argv){
//                utils.wx_to_timeline(appid, imgUrl, lineLink, descContent, shareTitle);
//            });
        }, false);

        $('#product_rule').on('click',function(){
            $('#product_rule_content').toggle()
        });
        $('#product_summary').on('click',function(){
            $('#product_summary_content').toggle()
        });
        $('#event').on('click',function(){
            $('#event_list').toggle();
            $('#front_record').show();
            $('#more_record').hide();
            $('#more_record_show').show();
        });
        $('#more_record_show').on('click',function(){
            $('#front_record').hide();
            $('#more_record').show();
            $('#more_record_show').toggle();
        });
        if($('#myModal').size()>=1){
            $('#subscribe').bind('click', function(){
                var group_id = $('#groupId').text();
                $.get("/weixin/save_subscribe_info?groupId="+group_id, function(data) {
                    window.location.href = wx_follow_url;
                });
            });
            $('#myModal').modal('show');
        }
    })
</script>