{{if !empty($current_orders)}}
{{template Elements/order_collect_data_template}}
<table class="table table-bordered orders" name="order-data-table" id="{{$data_tag}}" data-table-name="{{$data_tag_name}}">
    <thead>
        <tr>
            <td mark-print="no-print"><input type="checkbox" value="0" id="check_all_tb"></td>
            <td>订单号</td>
            <td mark-print="no-print">用户ID</td>
            <td mark-print="no-print">订单状态</td>
            <td mark-print="no-print">店家</td>
            <td>商品</td>
            <td>规格</td>
            <td>份数</td>
            <td>总价</td>
            <td mark-print="no-print">积分</td>
            <td mark-print="no-print">创建时间</td>
            <td mark-print="no-print">类型</td>
            <td mark-print="no-print">自提/快递</td>
            <td mark-print="no-print">发货时间</td>
            <td>收件人</td>
            <td>手机号</td>
            <td>收件地址</td>
            <td>备注地址</td>
            <td mark-print="no-print">支付</td>
            <td mark-print="no-print">交易号</td>
            <td mark-print="no-print">备注</td>
            <td mark-print="no-print">操作</td>
        </tr>
    </thead>
    <tbody>
        {{loop $current_orders $order}}
            <?php
              $has_paid = $order['Order']['status']!=0 && $order['Order']['status']!=10;
              $tuan_buying = $tuan_buys[$order['Order']['member_id']];
              $tuan_team = $tuan_teams[$tuan_buying['tuan_id']];
              $offline_store = array();
              if($order['Order']['type'] == 5 || $order['Order']['type'] == 6 || $order['Order']['ship_mark'] == 'ziti'){
                $offline_store = $offline_stores[$order['Order']['consignee_id']];
              }
            ?>
            {{loop $order_carts[$order['Order']['id']] $index $cart}}
                <?php
                  $date = $consign_dates[$cart['Cart']['consignment_date']];
                  $consign_time = empty($date)?'': date('m-d', strtotime($date));
                  $brand = $brands[$cart['Cart']['product_id']];
                ?>

                <tr data-order-id="{{$order[Order][id]}}" data-order-creator="{{$order['Order']['creator']}}" data-total-price = "{{$order['Order']['total_price']}}" data-offline-store-id="{{$offline_store[OfflineStore][id]}}" class="order" data-mark-tag="{{$cart['Cart']['product_id']}}-{{$cart['Cart']['specId']}}" data-mark-tag-name="{{$cart['Cart']['name']}}" data-mark-tag-spec="{{$cart['Cart']['spec_name']}}" data-mark-tag-num="{{$cart['Cart']['num']}}">
                    <td mark-print="no-print">
                        {{if ($order['Order']['type'] == 5 || $order['Order']['type'] == 6) && ($order['Order']['status']== 1|| $order['Order']['status'] == 2)}}
                        <input type="checkbox" value="{{$order['Order']['id']}}" name="offline_order_ids" {{$offline_store['OfflineStore']['type'] == 1 ? "" : "disabled='disabled'"}}>
                        {{else}}
                        <input type="hidden" value="{{$order['Order']['id']}}" name="offline_order_ids" disabled="disabled">
                        {{/if}}
                    </td>
                    <td>{{$order['Order']['id']}}</td>
                    <td mark-print="no-print"><a href="/manage/admin/tuan/query_by_user?con_creator={{$order['Order']['creator']}}">{{$order['Order']['creator']}}</a></td>
                    <td mark-print="no-print">
                        {{if $order['Order']['status']==0}}
                        待支付
                        {{elseif $order['Order']['status']==1}}
                        待发货
                        {{elseif $order['Order']['status']==2}}已发货
                        {{elseif $order['Order']['status']==3}}已收货
                        {{elseif $order['Order']['status']==4}}已退款
                        {{elseif $order['Order']['status']==9}}已完成
                        {{elseif $order['Order']['status']==10}}已作废
                        {{elseif $order['Order']['status']==11}}待支付
                        {{elseif $order['Order']['status']==14}}退款中
                        {{/if}}
                    </td>
                    <td mark-print="no-print">{{$brand['Brand']['name']}}</td>
                    <td>
                        <a href="/manage/admin/tuan/query_by_product?product_id={{$cart['Cart']['product_id']}}">{{$cart['Cart']['name']}}</a>
                    </td>
                    <td>
                        {{$cart['Cart']['spec_name']}}
                    </td>
                    <td>
                        {{$cart['Cart']['num']}}
                    </td>
                    <td data-value="{{$order['Order']['total_all_price']}}">{{if $index == 0}}{{$order['Order']['total_all_price']}}{{else}}'同上'{{/if}}</td>
                    <td mark-print="no-print">{{$order['Order']['applied_score'] / 100}}</td>
                    <td mark-print="no-print">{{date_format(date_create($order['Order']['created']), 'n月d H:i')}}</td>
                    {{if $order['Order']['type'] == 5 || $order['Order']['type'] == 6}}
                        <td mark-print="no-print" {{if empty($order['Order']['ship_mark']) || ($order['Order']['ship_mark']=='ziti' && empty($offline_store))}}class="danger"{{/if}}>
                        {{if $order['Order']['type'] == 5}}
                            团购
                            {{if $tuan_team['type'] == 1}}
                            (大)
                            {{else}}
                            (<a href="/manage/admin/tuan_buyings/index?team_id={{$tuan_team['id']}}">{{$tuan_team['tuan_name']}}</a>)
                            {{/if}}
                        {{elseif $order['Order']['type'] == 6}}
                            秒杀
                        {{/if}}(
                        {{if $order['Order']['ship_mark']=='ziti'}}
                        自提
                        {{elseif $order['Order']['ship_mark']=='sfby'}}
                        顺丰包邮
                        {{elseif $order['Order']['ship_mark']=='sfdf'}}
                        顺丰到付
                        {{elseif $order['Order']['ship_mark']=='kuaidi'}}
                        快递
                        {{else}}
                        <span class="text-danger">无标注</span>
                        {{/if}})
                        </td>
                        <td mark-print="no-print" {{if ($order['Order']['ship_mark']=='ziti' && empty($offline_store)) || ($order['Order']['ship_mark'] != 'ziti' && empty($order['Order']['consignee_address']))}}class="danger"{{/if}}>
                        {{$offline_store['OfflineStore']['alias']}}
                        </td>
                    {{else}}
                        <td mark-print="no-print" {{if !empty($order['Order']['ship_mark'])}}class='danger'{{/if}}>
                            普通{{if !empty($order['Order']['ship_mark'])}}({{$order['Order']['ship_mark']}}){{/if}}
                        </td>
                        <td mark-print="no-print">{{if $order['Order']['ship_type']}}{{$ship_type[$order['Order']['ship_type']]}}({{$order['Order']['ship_code']}}){{/if}}</td>
                    {{/if}}
                    <td mark-print="no-print" {{if $order['Order']['type'] != 1 && empty($cart['Cart']['send_date'])}}class="danger"{{/if}}>
                    {{$cart['Cart']['send_date']}}
                    <span class="badge hidden" data-id="order-send-out">已发发货提醒</span>
                    <span class="badge hidden" data-id="order-reach">已发到货提醒</span>
                    </td>
                    <td>{{$order['Order']['consignee_name']}}</td>
                    <td>{{$order['Order']['consignee_mobilephone']}}</td>
                    <td {{if $order['Order']['ship_mark'] == 'kuaidi' && empty($order['Order']['consignee_address'])}}class="danger"{{/if}}>
                        {{if $order['Order']['consignee_area']}}{{$order['Order']['consignee_area']}},{{/if}}
                        {{$order['Order']['consignee_address']}}
                    </td>
                    <td {{if !empty($order['Order']['remark_address']) && (empty($offline_store) || ( !empty($offline_store) && !$offline_store['OfflineStore']['can_remark_address']))}} class="danger"{{/if}}>
                        {{$order['Order']['remark_address']}}
                    </td>
                    <td mark-print="no-print" {{if $has_paid && $order['Order']['pay_time']==null}}class="danger"{{/if}}>
                        {{if $order['Pay']['trade_type']=='JSAPI'}}
                        微信支付
                        {{elseif $order['Pay']['trade_type']=='ZFB'}}
                        支付宝
                        {{elseif $order['Pay']['trade_type']=='OFFLINE'}}
                        线下交易
                        {{else}}
                        <span class="text-danger">未知</span>
                        {{/if}}
                        {{date_format(date_create($order['Order']['pay_time']), 'n月d H:i')}}
                    </td>
                    <td mark-print="no-print" {{if $has_paid && $order['Pay']['out_trade_no']==null}}class="danger"{{/if}}>
                        {{$order['Pay']['out_trade_no']}}
                    </td>
                    <td mark-print="no-print">
                        {{$order['Order']['remark']}}
                    </td>
                    <td mark-print="no-print" data-offline-store-type="{{$offline_store['OfflineStore']['type']}}">
                        {{if !empty($offline_store) && $offline_store['OfflineStore']['type'] == 0 && $order['Order']['status']== 1 && ($order['Order']['type']== 5||$order['Order']['type']== 6)}}
                        <button type="button" class="ship-to-haolinju-store btn btn-primary">发提货码</button>
                        {{/if}}
                        {{if empty($offline_store) && ($order['Order']['status']== 1||$order['Order']['status']== 2) && $order['Order']['type'] != 1}}
                        <button type="button" class="input-ship-code btn btn-primary">回填快递单号</button>
                        {{/if}}
                        {{if in_array($order['Order']['status'],array(1,2,3,9,16,4,14))}}
                        <button type="button" class="btn btn-default refund-button"  data-order_id="{{$order['Order']['id']}}" data-order_creator="{{$order['Order']['creator']}}"  data-total_price = "{{$order['Order']['total_all_price']}}">退款</button>
                        {{/if}}
                        <button type="button" class="btn btn-default modify-button">修改订单</button>
                    </td>
                </tr>
            {{/loop}}
        {{/loop}}
  </tbody>
</table>
{{/if}}