{{if !empty($current_orders)}}
{{template Elements/share_order_collect_data_template}}
<table class="table table-bordered orders orders-{{$delivery_type}}" name="order-data-table" id="{{$data_tag}}" data-table-name="{{$data_tag_name}}">
    <thead>
        <tr>
            <td>订单号</td>
            <td mark-print="no-print">用户ID</td>
            <td mark-print="no-print">总价</td>
            <td mark-print="no-print">创建时间</td>
            <td mark-print="no-print">支付</td>
            <td mark-print="no-print">交易号</td>
            <td class="consignee-name">收件人</td>
            <td>手机号</td>
            <td>收件地址</td>
            <td>备注地址</td>
            <td>商品</td>
            <td>份数</td>
            <td mark-print="no-print">发货时间</td>
            <td mark-print="no-print">状态</td>
            <td mark-print="no-print">备注</td>
        </tr>
    </thead>
    <tbody>
        {{loop $current_orders $order}}
        {{if $order['Order']['flag'] != 7 || $flag == 7}}
            <?php
              $has_paid = $order['Order']['status']!=0 && $order['Order']['status']!=10;
              $tuan_buying = $tuan_buys[$order['Order']['member_id']];
              $tuan_team = $tuan_teams[$tuan_buying['tuan_id']];
              $offline_store = array();
              if($order['Order']['ship_mark'] == 'ziti'){
                $offline_store = $offline_stores[$order['Order']['consignee_id']];
              }
            ?>
            {{loop $order_carts[$order['Order']['id']] $index $cart}}
                <?php
                  $date = $consign_dates[$cart['Cart']['consignment_date']];
                  $consign_time = empty($date)?'': date('m-d', strtotime($date));
                  $brand = $brands[$cart['Cart']['product_id']];
                  $is_b2c = is_b2c($brand['Brand']['id']);
                  $product = $products[$cart['Cart']['product_id']];
                ?>
                <tr class="order {{if !$cart['Cart']['matched']}}muted no-print{{/if}}" data-order-id="{{$order[Order][id]}}" data-cart-id="{{$cart[Cart][id]}}" data-order-creator="{{$order['Order']['creator']}}" data-total-price = "{{$order['Order']['total_all_price']}}" data-offline-store-id="{{$offline_store[OfflineStore][id]}}" data-mark-tag="{{$cart['Cart']['product_id']}}-{{$cart['Cart']['specId']}}" data-mark-tag-name="{{$cart['Cart']['name']}}" data-mark-tag-spec="{{$cart['Cart']['spec_name']}}" data-mark-tag-num="{{$cart['Cart']['num']}}" data-order-scores="{{$order['Order']['applied_score']}}">
                    <td>
                        {{$order['Order']['id']}}
                    </td>
                    {{if $index == 0}}
                        <td mark-print="no-print">{{$order['Order']['creator']}}</td>
                        <td mark-print="no-print" data-value="{{$order['Order']['total_all_price']}}">{{$order['Order']['total_all_price']}}</td>
                        <td mark-print="no-print">{{date_format(date_create($order['Order']['created']), 'n月d H:i')}}</td>
                        <td mark-print="no-print" {{if $has_paid && $order['Order']['pay_time']==null}}class="danger"{{/if}} data-pay-time="{{$order['Order']['pay_time']}}">
                            {{if $order['Pay']['trade_type']=='JSAPI'}}
                                微信支付
                            {{elseif $order['Pay']['trade_type']=='ZFB'}}
                                支付宝
                            {{elseif $order['Pay']['trade_type']=='OFFLINE'}}
                                线下交易
                            {{else}}
                                <span class="text-danger">未知</span>
                            {{/if}}
                            {{if !empty($order['Order']['pay_time'])}}{{date_format(date_create($order['Order']['pay_time']), 'n月d H:i')}}{{/if}}
                        </td>
                        <td mark-print="no-print" {{if $has_paid && $order['Pay']['out_trade_no']==null}}class="danger"{{/if}}>
                            {{$order['Pay']['out_trade_no']}}
                        </td>
                    {{else}}
                        <td mark-print="no-print">同上</td>
                        <td mark-print="no-print">同上</td>
                        <td mark-print="no-print" {{if empty($order['Order']['ship_mark']) || ($order['Order']['ship_mark']=='ziti' && empty($offline_store))}}class="danger"{{/if}}>
                            同上
                        </td>
                        <td mark-print="no-print" {{if $has_paid && $order['Order']['pay_time']==null}}class="danger"{{/if}} data-pay-time="{{$order['Order']['pay_time']}}">
                            同上
                        </td>
                        <td mark-print="no-print" {{if $has_paid && $order['Pay']['out_trade_no']==null}}class="danger"{{/if}}>
                            同上
                        </td>
                    {{/if}}
                    <td>{{$order['Order']['consignee_name']}}</td>
                    <td>{{$order['Order']['consignee_mobilephone']}}</td>
                    <td {{if $order['Order']['ship_mark'] == 'kuaidi' && empty($order['Order']['consignee_address'])}}class="danger"{{/if}}>
                        {{$order['Order']['consignee_address']}}
                    </td>
                    <td {{if !empty($order['Order']['remark_address']) && (empty($offline_store) || ( !empty($offline_store) && !$offline_store['OfflineStore']['can_remark_address']))}} class="danger"{{/if}}>
                        {{$order['Order']['remark_address']}}
                    </td>
                    <td>
                        {{$cart['Cart']['name']}}
                    </td>
                    <td>
                        {{$cart['Cart']['num']}}
                    </td>
                    <td mark-print="no-print" {{if $is_b2c && empty($cart['Cart']['send_date'])}}class="danger"{{/if}}>
                        {{$cart['Cart']['send_date']}}
                    </td>
                    <td mark-print="no-print">
                        {{if $cart['Cart']['status']==0}}
                        待支付
                        {{elseif $cart['Cart']['status']==1}}
                        待发货
                        {{elseif $cart['Cart']['status']==2}}已发货
                        {{elseif $cart['Cart']['status']==3}}已收货
                        {{elseif $cart['Cart']['status']==4}}已退款
                        {{elseif $cart['Cart']['status']==9}}已完成
                        {{elseif $cart['Cart']['status']==10}}已作废
                        {{elseif $cart['Cart']['status']==11}}待支付
                        {{elseif $cart['Cart']['status']==14}}退款中
                        {{/if}}
                    </td>
                    <td mark-print="no-print">
                        {{$order['Order']['remark']}}
                    </td>
                </tr>
            {{/loop}}
        {{/if}}
        {{/loop}}
  </tbody>
</table>
{{/if}}