<!--<ol class="breadcrumb">-->
    <!--<li><a href="/manage/admin/tuan/tuan_func_list">团购后台</a></li>-->
    <!--<li><a href="#" onclick="window.history.go(-1); return false;">团购订单</a></li>-->
    <!--<li class="active">编辑订单</li>-->
<!--</ol>-->

<h1>编辑订单</h1>

<?php
  $date = $consign_dates[$cart['Cart']['consignment_date']];
  $consign_time = empty($date)?'': date('m-d', strtotime($date));
  $brand = $brands[$cart['Cart']['product_id']];
?>

<ul>
    <li>订单：{{$order['Order']['id']}}</li>
    <li>用户：{{$order['Order']['creator']}}</li>
    <li>总价：{{$order['Order']['total_all_price']}}</li>
    <li>创建：{{$order['Order']['created']}}</li>
    <li>类型：{{if $order['Order']['type'] == 5}}
        团购
        {{elseif $order['Order']['type'] == 6}}
        秒杀
        {{else}}
        普通
        {{/if}}
    </li>
    <li>
        付款：{{$order['Order']['pay_time']}}
        {{if $order['Order']['status'] != 0 && $order['Order']['status'] != 1}}
        ({{if $order['Pay']['trade_type']=='JSAPI'}}
        微信支付
        {{elseif $order['Pay']['trade_type']=='ZFB'}}
        支付宝
        {{elseif $order['Pay']['trade_type']=='OFFLINE'}}
        线下交易
        {{else}}
        未知
        {{/if}}, {{$order['Pay']['out_trade_no']}})
        {{/if}}
    </li>
    <li>备注：{{$order['Order']['remark']}}</li>
    {{loop $carts $index $cart}}
    <li>商品{{$index + 1}}：{{$cart['Cart']['name']}} * {{$cart['Cart']['num']}}</li>
    {{/loop}}
</ul>

<form action="" class="form-horizontal order-form">
    <input type="hidden" name="order_id" class="order-id" value="{{$order['Order']['id']}}"/>
    <div class="form-group">
        <label class="col-sm-2 control-label">快递方式</label>

        <div class="col-sm-10">
            <select name="ship_mark" data-value="{{$order['Order']['ship_mark']}}" class="form-control ship-mark">
                <option value=""
                        {{if $order['Order']['ship_mark']==''}}selected='selected'{{/if}}>请选择</option>
                <option value="{{SHARE_SHIP_PYS_ZITI_TAG}}"
                        {{if $order['Order']['ship_mark']==SHARE_SHIP_PYS_ZITI_TAG}}selected='selected'{{/if}}>好邻居自提</option>
                <option value="{{SHARE_SHIP_KUAIDI_TAG}}"
                        {{if $order['Order']['ship_mark']==SHARE_SHIP_KUAIDI_TAG}}selected='selected'{{/if}}>快递</option>
                <option value="{{SHARE_SHIP_SELF_ZITI_TAG}}"
                        {{if $order['Order']['ship_mark']==SHARE_SHIP_SELF_ZITI_TAG}}selected='selected'{{/if}}>自己自提点</option>
            </select>

            <div class='help-block with-errors'></div>
        </div>
    </div>
    <div class="form-group hidden">
        <label class="col-sm-2 control-label">自提点</label>

        <div class="col-sm-8">
            <input type="text" name="consignee_id" class="form-control consignee-id"
                   value="{{$order['Order']['consignee_id']}}" data-value="{{$order['Order']['consignee_id']}}"/>
        </div>
        <div class="col-sm-2">
            <a href="/manage/admin/offline_stores/index" target="_blank">查看自提点</a>
        </div>
    </div>
    <div class="form-group hidden">
        <label class="col-sm-2 control-label">备注地址</label>

        <div class="col-sm-10">
            <input type="text" name="remark_address" class="form-control remark-address"
                   value="{{$order['Order']['remark_address']}}" data-value="{{$order['Order']['remark_address']}}" placeholder="如果填备注地址，请确保自提点支持送货上门"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">收货人姓名</label>

        <div class="col-sm-10">
            <input type="text" name="consignee_name" class="form-control consignee-name"
                   value="{{$order['Order']['consignee_name']}}" data-value="{{$order['Order']['consignee_name']}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">收货人手机</label>

        <div class="col-sm-10">
            <input type="text" name="consignee_mobilephone" class="form-control consignee-mobilephone"
                   value="{{$order['Order']['consignee_mobilephone']}}"
                   data-value="{{$order['Order']['consignee_mobilephone']}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">收货人地址</label>

        <div class="col-sm-10">
            <input type="text" name="consignee_address" class="form-control consignee-address"
                   value="{{$order['Order']['consignee_address']}}"
                   data-value="{{$order['Order']['consignee_address']}}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">快递公司</label>

        <div class="col-sm-10">
            <select name="ship_type" class="form-control ship-type" data-value="{{$order['Order']['ship_type']}}">
                <option value="-1">请选择快递公司</option>
                {{loop $ship_types $id $type}}
                <option value="{{$id}}" {{if $order['Order']['ship_type']==$id}}selected='selected'{{/if}}>{{$type}}</option>
                {{/loop}}
            </select>
            <div class='help-block with-errors'></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">快递单号</label>

        <div class="col-sm-10">
            <input type="text" name="ship_code" class="form-control ship-code" value="{{$order['Order']['ship_code']}}" data-value="{{$order['Order']['ship_code']}}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">添加备注</label>

        <div class="col-sm-10">
            <input type="text" name="remark" class="form-control remark"
                   value="" data-value="" placeholder="修改时间、状态，请添加备注"/>

            <div class='help-block with-errors'>修改时间、状态，请添加备注</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">修改人员</label>

        <div class="col-sm-10">
            <input type="text" name="modify_user" class="form-control modify-user"
                   value="" data-value="{{$order['Order']['remark_address']}}" placeholder="请输入修改人"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
                <button type="button" class="btn btn-primary save-btn">保存</button>
            </div>
        </div>
    </div>
</form>
{{$this->Html->script(array('manage/orders/edit.js'))}}