<div>
    <form action="{{$this->Html->url('/admin/orders/list_today')}}"  method="get" onsubmit="valid();">

    起止日期:
    <input name="start_date" type="text" id="datepicker_start" value="{{$start_date}}">
    <input name="end_date" type="text" id="datepicker_end" value="{{$end_date}}">
    商家名称：
    <input type="text" id="brandTxt" value=""/>
    <select id="brnad_list" name="brand_id">
        <option value="0">全部</option>
        {{loop $brands $brand}}
            {{if $brand['Brand']['id'] == $brand_id}}
                <option value="{{$brand['Brand']['id']}}" selected="selected">{{$brand['Brand']['name']}}</option>
            {{else}}
                <option value="{{$brand['Brand']['id']}}">{{$brand['Brand']['name']}}</option>
            {{/if}}
        {{/loop}}
    </select>
    订单状态：
    <select name="order_status" value="{{$order_status}}">
        <option value="-1" {{if $order_status == -1}}selected="selected" {{/if}}>全部</option>
        <option value="0" {{if $order_status == 0}}selected="selected" {{/if}}>待支付</option>
        <option value="1" {{if $order_status == 1}}selected="selected" {{/if}}>待发货</option>
        <option value="2" {{if $order_status == 2}}selected="selected" {{/if}}>已发货</option>
        <option value="3" {{if $order_status == 3}}selected="selected" {{/if}}>已签收</option>
        <option value="10" {{if $order_status == 10}}selected="selected" {{/if}}>已作废</option>
    </select>
    <span style="padding-left:50px">团购订单查询（根据发起人手机号）</span>
    <input name="search_groupon" type="checkbox" value="1" <?php if($_REQUEST['search_groupon'] == 1) echo "checked"  ?> />
    <br/>
    订单号：
        <input name="order_id" type="text" value="{{$order_id}}">
    收件人姓名：
        <input name="consignee_name" type="text" value="{{$consignee_name}}">
    收件人手机：
        <input name="consignee_mobilephone" type="text" value="{{$consignee_mobilephone}}">

    只显示我们发货的商家
        <input name="sent_by_us" type="checkbox" value="1" <?php if($_REQUEST['sent_by_us'] == 1) echo "checked"  ?> />
    产品排期:
        <input name="product_scheduling_date" id="product_scheduling_date" value="{{$product_scheduling_date}}">
    产品ID:
        <input name="product_id" id="product_id" value="{{$product_id}}">

        <input type="submit" value="查询" class="btn">

    </form>
</div>
<div>
    <h1>订单总计<span style="color: red">{{count($orders)}}</span>个，金额<span style="color: red">{{$total_money}}</span> {{if $orders_invalid === 0 || $orders_invalid}}<small>（待支付/已取消：{{$orders_invalid}}个 {{$total_unpaid}}元)</small>{{/if}}</h1>
</div>
<br/>
<table  class="table table-bordered">
    <tr>
        {{if $order_groupon_link}}
        <th>团购ID</th>
        {{/if}}
        <th>订单号</th>
        <th>用户ID</th>
        <th>订单状态</th>
        <th>商家名称</th>
        <th>商品</th>
        <th>规格</th>
        <th>份数</th>
        <th>价格</th>
        <th>运费</th>
        <th>总价</th>
        <th>发货时间</th>
        <th>创建时间</th>
        <th>付款时间</th>
        <th>收件人</th>
        <th>电话</th>
        <th>收件地址</th>
        <th>备注地址</th>
        <th>支付方式</th>
        <th>快递公司</th>
        <th>快递单号</th>
        <th>备注</th>
    </tr>
    <tbody>
    {{loop $orders $order}}
    {{loop  $order_carts[$order['Order']['id']] $index $cart}}
    <tr>
        {{if $order_groupon_link}}
        <td>{{$order_groupon_link[$order['Order']['member_id']]}}</td>
        {{/if}}
        <td>{{$order['Order']['id']}}</td>
        <td>{{$order['Order']['creator']}}</td>
        <td>
            {{if $order['Order']['status']==0}}
            <font color="red">待支付</font>
             {{elseif $order['Order']['status']==1}}
            <font color="red">待发货</font>
            {{elseif $order['Order']['status']==2}}<font color="red">已发货</font>
            {{elseif $order['Order']['status']==3}}<font color="red">已收货</font>
            {{elseif $order['Order']['status']==4}}<font color="red">已退款</font>
            {{elseif $order['Order']['status']==10}}<font color="red">已作废</font>
            {{elseif $order['Order']['status']==11}}<font color="red">待支付</font>
            {{elseif $order['Order']['status']==14}}<font color="red">退款中</font>

            {{/if}}
            {{if $order['Order']['type'] ==ORDER_TYPE_TUAN}}(团购{{$order['Order']['member_id']}}){{/if}}
        </td>
        <td>
            {{loop $brands $brand}}
                {{if $brand['Brand']['id'] == $order['Order']['brand_id']}}
                    {{$brand['Brand']['name']}}
                {{/if}}
            {{/loop}}
        </td>
        <td>
            {{$cart['Cart']['name']}}
        </td>
        <td>{{$spec_groups[$cart['Cart']['specId']]}} </td>
        <td>{{$cart['Cart']['num']}}</td>
        {{if $index > 0}}
            <td></td>
            <td></td>
            <td></td>
        {{else}}
            <td>{{$order['Order']['total_price']}}</td>
            <td>{{$order['Order']['ship_fee']}}</td>
            <td>{{$order['Order']['total_all_price']}}</td>
        {{/if}}
        <td>
            {{if !empty($cart['Cart']['consignment_date'])}}
                <?php
                $date = $consign_dates[$cart['Cart']['consignment_date']];
                $value = empty($date)?'': date('m-d', strtotime($date));
                ?>
                {{$value}}
            {{elseif $order['Order']['type'] == 5}}
            <?php
                $date = $tuan_consign_times[$order['Order']['member_id']];
                $value = empty($date)?'': date('m-d', strtotime($date));
                ?>
            {{$value}}
            {{/if}}
        </td>
        <td>{{$order['Order']['created']}}</td>
        <td>{{$order['Order']['pay_time']}}</td>
        <td>{{$order['Order']['consignee_name']}}</td>
        <td>{{$order['Order']['consignee_mobilephone']}}</td>
        <td>{{$order['Order']['consignee_area']}}{{$order['Order']['consignee_address']}}</td>
        <td>{{$order['Order']['remark_address']}}</td>
        <td>
        {{if $order['Pay']['trade_type']=='JSAPI'}}
        <font color="red">微信支付</font>
        {{elseif $order['Pay']['trade_type']=='ZFB'}}
        <font color="red">支付宝</font>
        {{/if}}
        </td>
        <td>
            {{if $order['Order']['ship_type']}}
                {{$ship_type[$order['Order']['ship_type']]}}
            {{/if}}
        </td>
        <td>{{$order['Order']['ship_code']}}</td>
        <td>{{$order['Order']['remark']}}</td>
    </tr>
    {{/loop}}
    {{/loop}}
    </tbody>
</table>

<script>
    $(function() {
        var start_date=$( "#datepicker_start" ).datepicker({dateFormat: "yy-m-d"});
//        start_date.datepicker("setDate","2013-10-8");

        var end_date=$( "#datepicker_end" ).datepicker({dateFormat: "yy-m-d"});

        var product_scheduling_date = $('#product_scheduling_date').datepicker({dateFormat: "yy-m-d"});
//        end_date.datepicker("setDate","2013-10-8");

    });
</script>
<script language="JavaScript">
    String.prototype.Trim = function() {
        return this.replace(/(^\s*)|(\s*$)/g, "");
    }
    //声明两个全局的变量分别存放左与右侧的数据
    var leftSelectData = [];

    $(document).ready(function () {
        if(navigator.userAgent.indexOf("MSIE")>0){
            document.getElementById('brandTxt').attachEvent("onpropertychange",txChange);
        }else{
            document.getElementById('brandTxt').addEventListener("input",txChange,false);
        }
        //将原来的数据先保存到一个数组里面
        $("select[name='brand_id'] option").each(function(){
            leftSelectData.push({'val':$(this).val(),'name':$(this).text()});
        });
    });

    function txChange(){
        var content = $("#brandTxt").val().Trim();
        //先清空掉原来的数据
        $("#brnad_list").empty();
        //判断如果关键字为空的话就提取全部
        if(content==''){
            $.each(leftSelectData,function(n,value) {
                $("#brnad_list").append('<option value="'+value['val']+'">'+value['name']+'</option>');
            });
        } else {
            //如果不为空就通过关键字重新搜索
            var reg = new RegExp(content,'i');
            $.each(leftSelectData,function(n,value) {
                if(reg.test(value['name'])){
                    $("#brnad_list").append('<option value="'+value['val']+'">'+value['name']+'</option>');
                }
            });
        }
    }
    function txChange2(){
        //alert("testfirefox");
    }

    function valid(){
        var input1=document.getElementById("product_scheduling_date").value;
        var input2=document.getElementById("product_id").value;
        if(input1==""&&input2!=""){
            alert("排期和产品ID必须同时为空或者不为空");
            return false;
        }
        if(input1!=""&&input2==""){
            alert("排期和产品ID必须同时为空或者不为空");
            return false;
        }
        return true;
    }

</script>