<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<title>{{$pageTitle}}-{{$site[title]}}</title>
<META NAME="ROBOTS" CONTENT="INDEX,FOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Keywords" content="{{if $seokeywords}}{{$seokeywords}}{{else}}{{$site[seokeywords]}}{{/if}}" />
<meta name="Description" content="{{if $seodescription}}{{$seodescription}}{{else}}{{$site[seodescription]}}{{/if}}" />
<link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<style>
  .voffset  { margin-top: 2px; }
  .voffset1 { margin-top: 5px; }
  .voffset2 { margin-top: 10px; }
  .voffset3 { margin-top: 15px; }
  .voffset4 { margin-top: 30px; }
  .voffset5 { margin-top: 40px; }
  .voffset6 { margin-top: 60px; }
  .voffset7 { margin-top: 80px; }
  .voffset8 { margin-top: 100px; }
  .voffset9 { margin-top: 150px; }
</style>

<!--[if lt IE 9]>
	{{$this->Html->script(array('html5.js'))}}
<![endif]-->
{{$this->Html->meta('icon')}}

{{$this->Html->css(array('/css/common-lib/bootstrap_2.css',
	'ui-customer.css?v2',))}}
{{$this->Html->script(array(
            'http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js',
            'jquery/jquery.cookie.js',        
            'i18n/language-zh-CN.js',
            'bootstrap.min.js',
            'front.js',
            'common.js?v7',
            //'jquery/jquery-migrate-1.2.1.min.js',
            //'taobao/taobaoke.js','jquery/jquery.masonry.min.js','jquery/jquery.infinitescroll.min.js',
            //'jquery/jquery.jgrowl.min.js'
        ));
}}
<!--[if lte IE 6]>
{{$this->Html->css(array(	
	'bootstrap-ie6.css',
))}}
{{$this->Html->script(array('jquery/jquery-migrate-1.2.1.min.js'))}}
<![endif]-->

<script type="text/javascript">
var BASEURL = "{{APP_SUB_DIR}}";
var ADMIN_BASEURL = BASEURL+"/manage";
</script>
</head>
<body>

{{if !empty($_SESSION['Auth']['Staff']) }}
<!-- 文件上传进度条 -->
<div class="flash ui-wedget" id="fsUploadProgress" style="position:absolute;display:none;width:210px;top:80px;right:30px; z-index: 10000000;">
</div> 
{{/if}}
{{template menus/bootstrap}}
<div id="header-breadcrumb" >
	<div class="container clearfix" >
		{{template Elements/navigation_header}}
	</div>
	<div  class="clear"></div>
</div>

<?php
    $flash_msg =  $this->Session->flash();
	if($flash_msg){
		echo "<div class=\"container\">$flash_msg</div>";
	}
	//注意#maincontent中，只包含一个'.container'，否则无法前台编辑模板可能会走样。多行的使用实现使用<div class="row"></div>。
?>

<div id="maincontent" class="maincontent clearfix">	
    <div class="container">
    	{{$content_for_layout}}
    </div><!-- //end container -->
</div><!-- //end maincontent -->

{{template Elements/footer}}