<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<title>{{$pageTitle}}-{{$site[title]}}</title>
<META NAME="ROBOTS" CONTENT="INDEX,FOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Keywords" content="{{if $seokeywords}}{{$seokeywords}}{{else}}{{$site[seokeywords]}}{{/if}}" />
<meta name="Description" content="{{if $seodescription}}{{$seodescription}}{{else}}{{$site[seodescription]}}{{/if}}" />
<!--[if lt IE 9]>
	{{$this->Html->script(array('html5.js'))}}
<![endif]-->
{{$this->Html->meta('icon')}}

<?PHP echo $this->Combinator->less(); ?>
{{$this->Html->css(array(
	'ui-customer',))}}
{{$this->Html->script(array(
            //'http://lib.sinaapp.com/js/jquery/1.5.2/jquery.min.js',
            'jquery/jquery.min.js',
            'jquery/jquery.cookie.js',        
            'i18n/language-zh-CN.js',
            'bootstrap.min.js',
            'front.js',
            'common.js',
             //'taobao/taobaoke.js','jquery/jquery.masonry.min.js','jquery/jquery.infinitescroll.min.js',
            //'jquery/jquery.jgrowl.min.js'
        ));
}}
<!--[if lte IE 6]>
{{$this->Html->css(array(	
	'bootstrap-ie6.css',
))}}
{{$this->Html->script(array('jquery/jquery-migrate-1.2.1.min.js'))}}
<![endif]-->

{{if !empty($_SESSION['Auth']['Staff']) }}
<!-- 当为后台登陆后，才加载jquery ui，与模板编辑的js -->
{{$this->Html->script(array(
            'jquery/jquery-ui-1.10.3.custom.min.js',           
            'portlet.js',   
            'ckeditor/ckeditor.js',
            'swfupload/swfupload.js',
            'swfupload/swfupload.queue.js',
			'swfupload/swfupload.cookies.js',
            'swfupload/fileprogress.js',
            'swfupload/handlers.js',       
        ));
}}
<script type="text/javascript">
var viewFileName = "{{$viewfile_for_layout}}";
var current_controller = "{{$current_controller}}";
var current_model = "{{$current_model}}";
var current_url = "{{$current_model}}";
var current_action = "{{$current_action}}";
var current_pass = "{{implode('/',$current_pass)}}";
</script>
{{/if}}
<script type="text/javascript">
var BASEURL = "{{APP_SUB_DIR}}";
var ADMIN_BASEURL = BASEURL+"/manage";
</script>
</head>
<body>

{{if !empty($_SESSION['Auth']['Staff']) }}
<!-- 文件上传进度条 -->
<div class="flash ui-wedget" id="fsUploadProgress" style="position:absolute;display:none;width:210px;top:80px;right:30px; z-index: 10000000;">
</div> 
{{/if}}
{{template menus/bootstrap}}
<div id="header" >
 <!-- 
<div class="container clearfix">
 <div class="row">
  <div class="col-md-4">
  <a style="FLOAT: left" href="{{$this->Html->url(Configure::read('Site.logo_url'))}}">{{$this->Html->image($this->Html->url(Configure::read('Site.logo')), array('style'=>'height:45px;margin-top: 30px;','title' => $site[title],'alt' => $site[title]))}}</A>
  </div>
  <div class="col-md-8" style="text-align:right;">
  
      {{if defined('APPEND_LOCALE_BASE')}}
      	{{$this->Html->link('简体','/../')}}, {{$this->Html->link('繁體','/../zh-tw/')}}
      {{else}}
  		{{$this->Html->link('简体','/')}}, {{$this->Html->link('繁體','/zh-tw/')}}
	  {{/if}}
		<div>
		{{$this->Html->link('购物车','/carts/listcart.html')}}
		</div>
	
   {{template users/current_user}}
  </div>
 </div>
</div>-->
	<div class="container clearfix" >
		{{template Elements/navigation_header}}
	</div>
	<div  class="clear"></div>
</div>

<div id="maincontent" class="maincontent clearfix">
   <?php
        echo $this->Session->flash();
    ?>
    {{$content_for_layout}}
</div>

{{template Elements/footer}}