<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="refresh" content="{{$seconds}}; url={{$this->Html->url($url)}}" />
    <title>{{$pageTitle}}</title>
    <?PHP echo $this->Combinator->less(); ?>
</head>
<body>
<div id="header">
</div>
<div id="content" class="container">
    <div class="row text-center">
        <div class="panel panel-warning">
            <div class="panel-body" style="font-size: 2em">
                {{$message}}
            </div>
        </div>
        <a class="btn btn-warning" href="{{$this->Html->url($url)}}"><span id="left_seconds">{{$seconds}}</span>秒后自动跳转...</a>
    </div>
</div>

<script>
    var left = document.getElementById('left_seconds');
    var cal = function () {
        var t = parseInt(left.innerHTML);
        left.innerHTML = t - 1 > 0 ? t - 1 : 0 ;
        setTimeout(cal, 1000);
    };
    setTimeout(cal,  1000);
</script>

<div id="footer">
</div>
</body>
</html>