<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$pageTitle}}</title>
<?PHP echo $this->Combinator->less(); ?>
</head>
<body>
<div id="header">
</div>
<div id="content">
    <div class="panel panel-warning">
        <div class="panel-heading">系统跳转中...</div>
        <div class="panel-body">
            {{$message}}
        </div>
    </div>
	<meta http-equiv="refresh" content="{{$seconds}}; url={{$this->Html->url($url)}}" />
</div>
<div id="footer">
</div>
</body>
</html>