<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">
    <title></title>
    <link href="{{$STATIC_HOST}}/static/weshares/css/site-common.min.css?v2.3.8" media="all" rel="stylesheet"
          type="text/css">
    <link href="{{$STATIC_HOST}}/static/weshares/css/tutorial.min.css?v2.3.8" media="all" rel="stylesheet"
          type="text/css">
</head>

<body class="tutorial-page">
{{$content_for_layout}}
</body>
</html>