<!DOCTYPE html>
<html ng-app='weshares'>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>微分享</title>
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
    <link href="{{$STATIC_HOST}}/static/weshares/css/site-common.css?v2.3.7" media="all" rel="stylesheet" type="text/css">
    <link href="{{$STATIC_HOST}}/static/weshares/css/weshare-edit.min.css?v2.3.7" media="all" rel="stylesheet" type="text/css">
</head>

<body style="background-color:#f5f5f5;">
    {{$content_for_layout}}
    <div class="background-layer" ng-if="loadingPage">
        <div style="position: absolute;top:40%;left: 40%;color: white;">
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
    </div>
    <!--输入错误层-->
    <div class="toast" ng-class="{'show-b': showErrorMessageLayer}" ng-show="showErrorMessageLayer" ng-bind="errorMessage"></div>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=kN2b8fTiCE5Glm1vh8aO9ycl"></script>-->
    <script>
        //Pys common name space
        PYS={};
        //define static file path
        PYS.staticFilePath = '{{$STATIC_HOST}}';
        //PYS.staticFilePath = 'http://51daifan-assets.stor.sinaapp.com';
        PYS.storage = {
            save : function(key, jsonData, expirationHour){
                //if (!Modernizr.localstorage){return false;}
                var expirationMS = expirationHour * 60 * 60 * 1000;
                var record = {value: JSON.stringify(jsonData), timestamp: new Date().getTime() + expirationMS}
                localStorage.setItem(key, JSON.stringify(record));
                return jsonData;
            },
            load : function(key){
                //if (!Modernizr.localstorage){return false;}
                var record = JSON.parse(localStorage.getItem(key));
                if (!record){return false;}
                return (new Date().getTime() < record.timestamp && JSON.parse(record.value));
            },
            clear : function(){
                localStorage.clear();
            }
        }
    </script>
    <script>
        if(wx){
            var wx_jssdk_appId = '{{$signPackage["appId"]}}';
            var wx_jssdk_timestamp = '{{$signPackage["timestamp"]?$signPackage["timestamp"]:1}}';
            var wx_jssdk_nonceStr = '{{$signPackage["nonceStr"]}}';
            var wx_jssdk_signature = '{{$signPackage["signature"]}}';
            var jsApiList = ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'openLocation', 'getLocation'];
            wx.config({
                debug: false,
                appId: wx_jssdk_appId,
                timestamp: wx_jssdk_timestamp,
                nonceStr: wx_jssdk_nonceStr,
                signature: wx_jssdk_signature,
                jsApiList: jsApiList
            });
        }
    </script>
    <script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/ngInfiniteScroll/1.2.0/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="{{$STATIC_HOST}}/static/weshares/js/weshare-edit.min.js?v2.3.7"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?705777ddf53d0d7a074a79a26c8f50cf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
