<!DOCTYPE html>
<html ng-app='weshares'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.1, user-scalable=no, width=device-width">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title><?php echo $this->fetch('title') ?: '微分享'; ?></title>
    <link href="{{$STATIC_HOST}}/static/weshares/css/site-common.min.css?v2.5.19" media="all" rel="stylesheet"
          type="text/css">
    <?php
    echo $this->fetch('css');
    ?>
    <link href="{{$STATIC_HOST}}/static/common/iconfont.css?v0.0.2" media="all" rel="stylesheet"
          type="text/css">
    <link href="http://cdn.bootcss.com/angular-carousel/1.0.1/angular-carousel.min.css" rel="stylesheet">
</head>

<body class="{{if WX_HOST == SH_SITE_HOST}}site-sh{{else}}site-bj{{/if}}">
<div class="{{if $show_footer}}has-channel-bottom{{/if}}">
    {{$content_for_layout}}
</div>

<!-- loading layer-->
<div class="background-layer" ng-show="loadingPage">
    <div style="position: absolute;top:40%;left: 35%;color: white;">
        <div class="spinner spinner--steps icon-spinner" aria-hidden="true"></div>
    </div>
</div>
<!--输入错误层-->
<div class="layer-toast" ng-class="{'show-b': showErrorMessageLayer}" ng-show="showErrorMessageLayer"
     ng-bind="errorMessage"></div>

{{if $show_footer}}
<footer class="channel_bottom" id="share-bottom-nav">
    <a class="btm_item item-index" href="/">
        <p><i class="iconfont icon-home {{if $show_footer=='index'}}active{{/if}}"></i></p>
        <b class="{{if $show_footer=='index'}}active{{/if}}">首页</b>
    </a>
    <a class="btm_item item-opt" href="/share_opt/index.html">
        <i ng-if="showUnReadMark"
           style="background:#f00;border-radius:50%;width:10px;height:10px;top:-5px;right:35%;position:absolute;"></i>

        <p><i class="iconfont icon-search {{if $show_footer=='opt'}}active{{/if}}"></i></p>
        <b class="{{if $show_footer=='opt'}}active{{/if}}">发现</b>
    </a>
    <a class="btm_item item-share" href="/weshares/entrance.html">
        <p><i class="iconfont icon-sharesquareo {{if $show_footer=='share'}}active{{/if}}"></i></p>
        <b class="{{if $show_footer=='share'}}active{{/if}}">分享</b>
    </a>
    <a class="btm_item item-mine" href="/weshares/user_share_info.html">
        <p><i class="iconfont icon-user {{if $show_footer=='mine'}}active{{/if}}"></i></p>
        <b class="{{if $show_footer=='mine'}}active{{/if}}">我的</b>
    </a>
</footer>
{{/if}}

{{if $jWeixinOn}}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var wx_jssdk_appId = '{{$signPackage["appId"]}}';
    var wx_jssdk_timestamp = '{{$signPackage["timestamp"]?$signPackage["timestamp"]:1}}';
    var wx_jssdk_nonceStr = '{{$signPackage["nonceStr"]}}';
    var wx_jssdk_signature = '{{$signPackage["signature"]}}';
    var jsApiList = ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'openLocation', 'getLocation'];
    wx.config({
        debug: false,
        appId: wx_jssdk_appId,
        timestamp: wx_jssdk_timestamp,
        nonceStr: wx_jssdk_nonceStr,
        signature: wx_jssdk_signature,
        jsApiList: jsApiList
    });
    var log_wx_share = function(data){
        var xmlHttp = new XMLHttpRequest();
        var formData = new FormData();
        formData.append('trstr', data['trstr']);
        formData.append('share_type', data['share_type']);
        xmlHttp.open("post", "/wx_shares/log_share");
        xmlHttp.send(formData);
    };
    wx.ready(function () {
        var share_string = '{{$share_string ? $share_string :"0"}}';
        var to_timeline_title = "{{empty($title) ? '朋友说—基于信任关系的分享平台' : $title}}";
        var to_friend_title = "{{empty($title) ? '朋友说—基于信任关系的分享平台' : $title}}";
        var detail_url = "{{$detail_url}}";
        if (!detail_url) {
            detail_url = document.URL.split('?')[0];
        }
        var to_friend_link, to_timeline_link;
        if (detail_url.indexOf("?") > 0) {
            to_friend_link = detail_url + '&trstr=' + share_string + '&share_type=appMsg';
            to_timeline_link = detail_url + '&trstr=' + share_string + '&share_type=timeline';
        } else {
            to_friend_link = detail_url + '?trstr=' + share_string + '&share_type=appMsg';
            to_timeline_link = detail_url + '?trstr=' + share_string + '&share_type=timeline';
        }
        var imgUrl = "{{empty($image) ? 'http://static.tongshijia.com/static/weshares/images/pys-logo.gif' : $this->Html->assetUrl($image)}}";
        var desc = "{{empty($desc) ? '来 [朋友说] 分享好吃的、好玩的、有趣的' : $desc}}";
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            desc: desc,
            link: to_friend_link,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if (share_string != '0') {
                    setTimeout(function () {
                        log_wx_share({trstr: share_string, share_type: "appMsg"});
                    }, 500);
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if (share_string != '0') {
                    setTimeout(function () {
                        log_wx_share({trstr: share_string, share_type: "timeline"});
                    }, 500);
                }
            }
        });
    });
</script>
{{/if}}
<script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.4.1/angular.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/ngInfiniteScroll/1.2.0/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/angular-touch/1.5.6/angular-touch.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/angular-carousel/1.0.1/angular-carousel.min.js"></script>
<script src="{{$STATIC_HOST}}/static/weshares/js/weshare.min.js?v2.5.14"></script>
<?php
    echo $this->fetch('scripts');
?>
<script type="text/javascript" src="http://hm.baidu.com/hm.js?705777ddf53d0d7a074a79a26c8f50cf"></script>
</body>
</html>
