<link rel="stylesheet" type="text/css" href="/css/vote.css?v2.6" />
<div style="background-color:#fff; margin-bottom: 50px;" id="baby_sign_up" ng-controller="VoteSignupCtrl as vm">
    <div class="baby_banner"><img src="{{$this->Html->assetUrl($voteConfig['common_params']['banner'])}}"/></div>
    <div class="apply_bg">
        <ul class="clearfix">
            <li class="fl" style="width: 25%;">作品名称</li>
            <li class="fl" style="width: 75%;"><input type="text" name="" id="candidate_title" ng-model="vm.candidate.title"/></li>
        </ul>
        <ul class="clearfix">
            <li class="fl" style="width: 25%;">联系电话&nbsp;&nbsp;&nbsp;</li>
            <li class="fl" style="width: 75%;"><input type="text" nsame="" id="candidate_mobile_phone" ng-model="vm.candidate.mobileNum"/></li>
        </ul>
        <ul class="clearfix">
            <li class="fl" style="width: 25%;">上传照片&nbsp;&nbsp;&nbsp;</li>
            <li class="fl" style="width: 75%;">
                <a href="#X" name="upload_image" ng-repeat="image in vm.candidate.images"><img name="no_img" src="{{$STATIC_HOST}}/images/"/></a>
                <a name="upload_image" ng-show="vm.candidate.images.length < 10"><img name="no_img" src="{{$this->Html->assetUrl('/img/vote/addpc.png')}}"/></a>
            </li>
        </ul>
        <ul class="clearfix">
            <li class="fl" style="width: 25%;">作品描述&nbsp;&nbsp;&nbsp;</li>
            <li class="fl" style="width: 75%; height: 90px; overflow:hidden;"><textarea id="candidate_description"></textarea></li>
        </ul>
        <!--<a href="#X" class="apply_btn" id="preview_pic">预览图片</a>-->
        <!--<br/><br/>-->
        <a href="#X" class="apply_btn" id="sign_up" ng-click="vm.signup({{$event_id}})">确认报名</a>

        <p>若在线报名失败，可以将报名信息：姓名+联系方式+描述+作品照片(2-3张)发给我们微信号：pyshuo2015</p>
    </div>

    {{template vote/vote_rule_template}}
    {{template vote/baby_bottom_template}}
    {{if $not_login || $not_weixin}}
        <!--弹出层-->
        <div class="tipslayer">
            <a href="#X" class="tipslayer_close"></a>

            <div class="babydetaillayer">
                <h1>如何报名</h1>

                <p>{{$voteConfig['common_params']['reply_tip_info']}}</p>
                <a href="{{$voteConfig['sub_url']}}" class="babydetaillayer_btn">去关注</a>
            </div>
        </div>
        <div class="tipslayer_bg"></div>
    {{/if}}
</div>

<script>
    wx.ready(function () {
        $(document).ready(function () {
            var $el = $('#baby_sign_up');
            var noImgHolder = '{{$this->Html->assetUrl("/img/vote/addpc.png")}}';
            var $candidateTitle = $('#candidate_title', $el);
            var $candidateMobilePhone = $('#candidate_mobile_phone', $el);
            var $candidateDescription = $('#candidate_description', $el);
            //upload file
            var tempImage = {
                localId: [],
                serverId: []
            };
            //post data
            $('#sign_up', $el).on('click', function () {
                var $me = $(this);
                var images = $('img[name="full_img"]', $el);
                if (images.length == 0) {
                    utils.alert('请上传图片');
                    return false;
                }
                var title = $candidateTitle.val();
                var mobileNum = $candidateMobilePhone.val();
                var description = $candidateDescription.val();
                if (isBlank(title)) {
                    utils.alert('请输入作品名字');
                    return false;
                }
                if (!isPhoneNum(mobileNum)) {
                    utils.alert('请输入手机号码');
                    return false;
                }
                if (isBlank(description)) {
                    utils.alert('请输入作品描述');
                    return false;
                }
//                if (description.length < 20) {
//                    utils.alert('宝宝描述要大于20字');
//                    return false;
//                }
                var imageArray = [];
                images.each(function(index,item){
                    imageArray.push($(item).attr('src'));
                });
                if($me.attr('on_post')=='true'){
                    utils.alert('正在提交请稍等');
                    return false;
                }
                $me.attr('on_post','true');
                $.post('/vote/upload_candidate/{{$event_id}}.json', {
                    "title": title,
                    "mobileNum": mobileNum,
                    "description": description,
                    'images': imageArray.join('|')
                }, function (data) {
                    $me.attr('on_post','');
                    if(data['success']){
                        utils.alert('报名成功',function(){window.location.href='/vote/vote_event_view/{{$event_id}}'});
                    }else{
                        if(data['reason']=='not login'){
                            utils.alert('请登录',function(){window.location.href = '/users/login.html?referer=' + encodeURIComponent("/vote/sign_up/{{$event_id}}");},1000);
                        }
                        if(data['reason']=='server error'){
                            utils.alert('上传失败请联系客服');
                        }
                        if(data['reason']=='not subscribed'){
                            utils.alert('请先关注我们微信服务号',window.location.href='http://mp.weixin.qq.com/s?__biz=MjM5MjY5ODAyOA==&mid=209556231&idx=1&sn=2a60e7f060180c9ecd0792f89694defb#rd');
                        }
                        if(data['reason']=='has sign'){
                            var candidateId= data['candidate_id'];
                            utils.alert('已经报过名了',window.location.href='/vote/candidate_detail/'+candidateId+'/{{$event_id}}');
                        }
                    }
                }, 'json');
            });

            $('#preview_pic', $el).on('click', function () {
                var showImages = [];
                $('img[name="full_img"]', $el).each(function (index, item) {
                    showImages.push($(item).attr('src'));
                });
                if (showImages.length > 0) {
                    wx.previewImage({
                        current: showImages[0],
                        urls: showImages
                    });
                }
            });

            //init chose img event
            bindChoseImgEvent();

            function getNoImageHolderLen() {
                return $('img[name="no_img"]', $el).length;
            }

            function getNoImageHolder() {
                return $('img[name="no_img"]', $el);
            }

            function bindChoseImgEvent(){
                $('a[name="upload_image"]', $el).unbind('click');
                $('a[name="upload_image"]', $el).on('click', function () {
                    wx.chooseImage({
                        success: function (res) {
                            tempImage.localId = res.localIds;
                            setTimeout(wxUploadFile, 10);
                        }
                    });
                });
            }

            function bindRemovePicEvent(){
                $('a[name="remove_img"]',$el).unbind('click');
                $('a[name="remove_img"]',$el).on('click',function(){
                    var $me = $(this);
                    $me.html('');
                    $me.append('<img name="no_img" src="'+noImgHolder+'"/>');
                    $me.attr('name','upload_image');
                    bindChoseImgEvent();
                });
            }

            //process upload file
            function wxUploadFile() {
                tempImage.localId = tempImage.localId.slice(0, getNoImageHolderLen());
                var i = 0;
                var len = tempImage.localId.length;
                var failCount = 0;
                //防止上传失败图片显示位置错位
                var toShowIndex = 0;
                var toShowHolder = getNoImageHolder();
                function doUpload(index) {
                    wx.uploadImage({
                        localId: tempImage.localId[index],
                        isShowProgressTips: 1,
                        success: function (res) {
                            //server download and return url
                            tempImage.serverId.push(res.serverId);
                            $.getJSON('/downloads/download_wx_img?media_id=' + res.serverId, function (data) {
                                //download url
                                var imageUrl = data['download_url'];
                                //先显示图片和添加数据
                                if (imageUrl && imageUrl != 'false') {
                                    var $imgDom = $(toShowHolder[toShowIndex]);
                                    $imgDom.attr('src', imageUrl);
                                    $imgDom.attr('name', 'full_img');
                                    $imgDom.parent().attr('name','remove_img');
                                    $imgDom.parent().append('<div class="icon_delete"></div>');
                                    toShowIndex++;
                                } else {
                                    failCount++;
                                }
                                i++;
                                if (i < len) {
                                    doUpload(i);
                                } else {
                                    if (failCount > 0) {
                                        utils.alert(failCount + '张图片上传失败。请重新上传。');
                                    }
                                }
                                bindChoseImgEvent();
                                bindRemovePicEvent();
                            });
                        },
                        fail: function () {
                            failCount++;
                        }
                    });
                }
                doUpload(i);
            }
        });
    });
</script>
{{template vote/wexin_share_template}}