<div class="container" style="margin-bottom: 50px;padding:0;" ng-controller="VoteEventCtrl as vm">
    <div class="baby_banner" style="position: relative;"><img src="{{$this->Html->assetUrl($voteConfig['common_params']['banner'])}}">
        {{if $event_available}}
            {{if !$is_sign_up}}
            <a href="/vote/sign_up/{{$event_id}}" style="position: absolute; line-height: 30px; left: 50%; margin-left: -37px; bottom: 60px; width: 75px; line-height: 27px; background-color: #fff; color: #ff7c6e; text-align: center;">我要报名</a>
            {{else}}
            <a href="/vote/candidate_detail/{{$is_sign_up['CandidateEvent']['candidate_id']}}/{{$event_id}}?vote_num={{$candidator['vote_num']}}&is_vote={{$candidator['is_vote']}}" style="position: absolute; line-height: 30px; left: 50%; margin-left: -37px; bottom: 60px; width: 75px; line-height: 27px; background-color: #fff; color: #ff7c6e; text-align: center;">查看报名</a>
            {{/if}}
        {{else}}
        <a href="#" style="position: absolute; line-height: 30px; left: 50%; margin-left: -37px; bottom: 60px; width: 75px; line-height: 27px; background-color: #fff; color: #ff7c6e; text-align: center;">活动已经结束</a>
        {{/if}}
    </div>
    <!--<div class="babyrule">-->
        <!--<p>活动时间：<br>{{Date('m月d日 H时i分',strtotime($event_info['VoteEvent']['start_time']))}}～{{Date('m月d日 H时i分',strtotime($event_info['VoteEvent']['end_time']))}}</p>-->
    <!--</div>-->
    {{if !empty($candidators_info)}}
    <div class="babylist">
        <div class="clearfix">
            <ul class="fl" style="margin: 0;">
                {{loop $candidators_info $fl $candidator}}
                    {{if !($fl&1)}}
                        <?php
                            $img = array_filter(explode('|',$candidator['Candidate']['images']));
                            $cover_img = $img[0];
                        ?>
                        <li>
                            <b>{{$candidator['Candidate']['id']}}号</b>
                            <a href="/vote/candidate_detail/{{$candidator['Candidate']['id']}}/{{$event_id}}?vote_num={{$candidator['vote_num']}}&is_vote={{$candidator['is_vote']}}"><img src="{{$cover_img}}"></a>
                            <dl class="clearfix">
                                <dd class="fl">{{$candidator['Candidate']['title']}}<br>{{$candidator['Candidate']['vote_num']}}票</dd>
                                {{if $event_available}}
                                {{if $candidator['is_vote']}}
                                <dd class="fr"><a href="#X" class="cur">已投票</a></dd>
                                {{else}}
                                <dd class="fr"><a href="#X" class="vote_baby" ng-click="vm.vote({{$event_id}}, {{$candidator['Candidate']['id']}})" data-candidate_id="{{$candidator['Candidate']['id']}}" data-event_id="{{$event_id}}">&nbsp;投票&nbsp;</a></dd>
                                {{/if}}
                                {{else}}
                                <dd class="fr"><a href="#X" class="cur">已结束</a></dd>
                                {{/if}}
                            </dl>
                            <dl class="clearfix" style="border-top: 1px solid #ddd;">
                                <dd class="fl" style="padding: 0; width: 50px;">
                                    <a href="/weshares/user_share_info/{{$candidators_users[$candidator['Candidate']['user_id']]['id']}}" style="background-color: #FFFFFF;">
                                        <img src="{{get_user_avatar($candidators_users[$candidator['Candidate']['user_id']])}}" style="width: 30px;height: 30px;border-radius: 30px;">
                                    </a>
                                </dd>
                                <dd style="margin-top: 15px;font-size: 12px;">
                                    {{$candidators_users[$candidator['Candidate']['user_id']]['nickname']}}
                                </dd>
                            </dl>
                        </li>
                    {{/if}}
                {{/loop}}
            </ul>
            <ul class="fr" style="margin: 0;">
                {{loop $candidators_info $fr $candidator}}
                    {{if $fr&1}}
                        <?php
                            $img = array_filter(explode('|',$candidator['Candidate']['images']));
                            $cover_img = $img[0];
                        ?>
                        <li>
                            <b>{{$candidator['Candidate']['id']}}号</b>
                            <a href="/vote/candidate_detail/{{$candidator['Candidate']['id']}}/{{$event_id}}?vote_num={{$candidator['vote_num']}}&is_vote={{$candidator['is_vote']}}"><img src="{{$cover_img}}"></a>
                            <dl class="clearfix">
                                <dd class="fl">{{$candidator['Candidate']['title']}}<br>{{$candidator['Candidate']['vote_num']}}票</dd>
                                {{if $event_available}}
                                {{if $candidator['is_vote']}}
                                <dd class="fr"><a href="#X" class="cur">已投票</a></dd>
                                {{else}}
                                <dd class="fr"><a href="#X" ng-class="{'vote_baby': !vm.isVoted({{$candidator['Candidate']['id']}}), 'cur': vm.isVoted({{$candidator['Candidate']['id']}})}" ng-click="vm.vote({{$event_id}}, {{$candidator['Candidate']['id']}})" data-candidate_id="{{$candidator['Candidate']['id']}}" data-event_id="{{$event_id}}" ng-bind="vm.getVoteText({{$candidator['Candidate']['id']}})">&nbsp;投票&nbsp;</a></dd>
                                {{/if}}
                                {{else}}
                                <dd class="fr"><a href="#X" class="cur">已结束</a></dd>
                                {{/if}}
                            </dl>
                            <dl class="clearfix" style="border-top: 1px solid #ddd;">
                                <dd class="fl" style="padding:0; width: 50px;">
                                    <a href="/weshares/user_share_info/{{$candidators_users[$candidator['Candidate']['user_id']]['id']}}" style="background-color: #FFFFFF;">
                                        <img src="{{get_user_avatar($candidators_users[$candidator['Candidate']['user_id']])}}" style="width: 30px;height: 30px;border-radius: 30px;">
                                    </a>
                                </dd>
                                <dd style="margin-top: 15px;font-size: 12px;">
                                    {{$candidators_users[$candidator['Candidate']['user_id']]['nickname']}}
                                </dd>
                            </dl>
                        </li>
                    {{/if}}
                {{/loop}}
            </ul>
        </div>
        {{if $total_count>10}}
        <div class="babylist_page clearfix">
              {{$this->Paginator->prev('&lt;', array( 'tag' => 'span','escape' => false), null, array('class' => 'prev disabled prv' ,'tag' => 'a', 'escape' => false));}}
              {{$this->Paginator->numbers(array('separator' => '', 'tag' => 'span' , 'currentClass' => 'active', 'currentTag' => 'a' , 'escape' => false , 'modulus' => 4));}}
              {{$this->Paginator->next('&gt;', array( 'tag' => 'span','escape' => false), null, array('class' => 'next disabled nxt' ,'tag' => 'a', 'escape' => false));}}
        </div>
        {{/if}}
    </div>
    {{/if}}
    {{template vote/vote_rule_template}}
    {{template vote/baby_bottom_template}}
</div>
<script>
    sub_pys_url = "{{$voteConfig['sub_url']}}";
</script>
{{template vote/wexin_share_template}}