{{template vote/vote_css_template}}
<div class="container" style="background-color:#c54134;">
    <div class="baby_banner"><img src="/img/vote/banner.png"></div>
    {{if $event_available}}
        {{if !$is_sign_up}}
            <a href="/vote/sign_up/{{$event_id}}" class="apply_btn">我要报名</a>
        {{else}}
            <a href="/vote/candidate_detail/{{$is_sign_up['CandidateEvent']['candidate_id']}}/{{$event_id}}?vote_num={{$candidator['vote_num']}}&is_vote={{$candidator['is_vote']}}" class="apply_btn">查看报名信息</a>
        {{/if}}
    {{else}}
        <a href="#" class="apply_btn">活动已经结束</a>
    {{/if}}
    <div class="babylist">
        <div class="clearfix">
            <ul class="fl">
                {{loop $candidators_info $index $candidator}}
                    {{if $index&1}}
                        <?php
                            $img = array_filter(explode('|',$candidator['Candidate']['images']));
                            $cover_img = $img[0];
                        ?>
                        <li>
                            <b>{{$candidator['Candidate']['id']}}号</b>
                            <a href="/vote/candidate_detail/{{$candidator['Candidate']['id']}}/{{$event_id}}?vote_num={{$candidator['vote_num']}}&is_vote={{$candidator['is_vote']}}"><img src="{{$cover_img}}"></a>
                            <dl class="clearfix">
                                <dd class="fl">{{$candidator['Candidate']['title']}}<br>{{$candidator['Candidate']['vote_num']}}票</dd>
                                {{if $event_available}}
                                {{if $candidator['is_vote']}}
                                <dd class="fr"><a href="#X" class="cur">已投票</a></dd>
                                {{else}}
                                <dd class="fr"><a href="#X" class="vote_baby" data-candidate_id="{{$candidator['Candidate']['id']}}" data-event_id="{{$event_id}}">&nbsp;投票&nbsp;</a></dd>
                                {{/if}}
                                {{else}}
                                <dd class="fr"><a href="#X" class="cur">已结束</a></dd>
                                {{/if}}
                            </dl>
                        </li>
                    {{/if}}
                {{/loop}}
            </ul>
            <ul class="fr">
                {{loop $candidators_info $index $candidator}}
                    {{if !$index&1}}
                        <?php
                            $img = array_filter(explode('|',$candidator['Candidate']['images']));
                            $cover_img = $img[0];
                        ?>
                        <li>
                            <b>{{$candidator['Candidate']['id']}}号</b>
                            <a href="/vote/candidate_detail/{{$candidator['Candidate']['id']}}/{{$event_id}}?vote_num={{$candidator['vote_num']}}&is_vote={{$candidator['is_vote']}}"><img src="{{$cover_img}}"></a>
                            <dl class="clearfix">
                                <dd class="fl">{{$candidator['Candidate']['title']}}<br>{{$candidator['Candidate']['vote_num']}}票</dd>
                                {{if $event_available}}
                                {{if $candidator['is_vote']}}
                                <dd class="fr"><a href="#X" class="cur">已投票</a></dd>
                                {{else}}
                                <dd class="fr"><a href="#X" class="vote_baby" data-candidate_id="{{$candidator['Candidate']['id']}}" data-event_id="{{$event_id}}">&nbsp;投票&nbsp;</a></dd>
                                {{/if}}
                                {{else}}
                                <dd class="fr"><a href="#X" class="cur">已结束</a></dd>
                                {{/if}}
                            </dl>
                        </li>
                    {{/if}}
                {{/loop}}
            </ul>
        </div>
        <ul class="clearfix">
            {{loop $candidators_info $candidator}}
            <?php
            $img = array_filter(explode('|',$candidator['Candidate']['images']));
            $cover_img = $img[0];
            ?>
            <li>
                <b>{{$candidator['Candidate']['id']}}号</b>
                <a href="/vote/candidate_detail/{{$candidator['Candidate']['id']}}/{{$event_id}}?vote_num={{$candidator['vote_num']}}&is_vote={{$candidator['is_vote']}}"><img src="{{$cover_img}}"></a>
                <dl class="clearfix">
                    <dd class="fl">{{$candidator['Candidate']['title']}}<br>{{$candidator['Candidate']['vote_num']}}票</dd>
                    {{if $event_available}}
                        {{if $candidator['is_vote']}}
                            <dd class="fr"><a href="#X" class="cur">已投票</a></dd>
                        {{else}}
                            <dd class="fr"><a href="#X" class="vote_baby" data-candidate_id="{{$candidator['Candidate']['id']}}" data-event_id="{{$event_id}}">&nbsp;投票&nbsp;</a></dd>
                        {{/if}}
                    {{else}}
                        <dd class="fr"><a href="#X" class="cur">已结束</a></dd>
                    {{/if}}
                </dl>
            </li>
            {{/loop}}
        </ul>
        {{if count($candidators_info)>10}}
        <div class="babylist_page clearfix">
              {{$this->Paginator->prev('&lt;', array( 'tag' => 'span','escape' => false), null, array('class' => 'prev disabled prv' ,'tag' => 'a', 'escape' => false));}}
              {{$this->Paginator->numbers(array('separator' => '', 'tag' => 'span' , 'currentClass' => 'active', 'currentTag' => 'a' , 'escape' => false , 'modulus' => 2));}}
              {{$this->Paginator->next('&gt;', array( 'tag' => 'span','escape' => false), null, array('class' => 'next disabled nxt' ,'tag' => 'a', 'escape' => false));}}
        </div>
        {{/if}}
    </div>
    <div class="babyrule">
        <h1>活动规则</h1>
        <p>活动时间：{{Date('Y年m月d日',strtotime($event_info['VoteEvent']['start_time']))}}～{{Date('Y年m月d日',strtotime($event_info['VoteEvent']['end_time']))}}</p>
        <p>活动规则：</p>
        <p>1、萌娃的年龄0-10岁；</p>
        <p>2、每个萌娃只能报名一次，每次报名可展示2-3张图片，请慎重选择后发送。本次比赛不可重复参与，如发现重复参与，将视票数最高的那一次参赛为最终比赛结果，重复投票以票数高者为准。</p>
        <p>3、参与活动的朋友们需对自己发送照片的真实性负责，若被举报并证实有虚假照片现象，将被取消资格，票数无效；</p>
        <p>4、每个微信号每天只能投票5次，每天对一个萌娃照片只能投1次票，多投将不计入总票数；投票方式：长按并识别下面二维码关注朋友说，在公众号中回复“投票”之后即可在页面投票。<br><img src="/img/vote/weixin.png"></p>
        <p>5、如果有诋毁他人或用软件恶意刷票的现象，将直接取消参赛资格；</p>
        <p>6、本次活动不设评委，根据票数决出最终名次。</p>
        <p>7、活动奖品：一等奖1名，二等奖3名，三等奖10名，优秀奖15名</p>
    </div>
    <div class="babyrule" style="margin-bottom: 54px;">
        <h1>活动举办方</h1>
        <p>朋友说、XX幼儿园</p>
    </div>
    {{template vote/baby_bottom_template}}
</div>
{{$this->Html->script(array('/js/vote/vote.js','/js/common.js'));}}
{{template vote/wexin_share_template}}