.share-images {
  max-width: 80px;
}
.share-btns > a.btn {
  display: inline;
}
div.item-class {
      width: 440px;
}
div.item-class > span.title {
  display: inline-block;
    width: 300px;
      overflow: hidden;
        text-overflow: ellipsis;
          white-space: nowrap;
}
div.item-class > span.price {
  display: inline-block;
    width: 70px;
}
div.item-class > span.channel_price {
  display: inline-block;
    width: 70px;
}
