.banner-images-list,
.images-list {
  margin: 10px 0;
}
.m-banner-image-area img,
.banner-image-area img,
.image-area img {
  width: 160px;
  height: 160px;
}
.m-banner-image-area .operator,
.banner-image-area .operator,
.image-area .operator {
  margin: 5px 0;
}
.share-upload-btn {
  margin: 0;
  padding: 0;
}
#image-preview {
  max-width: 100%;
  height: 80%;
}
