<style>
    .filterable {
        margin-top: 15px;
    }

    .filterable .panel-heading .pull-right {
        margin-top: -20px;
    }

    .filterable .filters input[disabled] {
        background-color: transparent;
        border: none;
        cursor: auto;
        box-shadow: none;
        padding: 0;
        height: auto;
    }

    .filterable .filters input[disabled]::-webkit-input-placeholder {
        color: #333;
    }

    .filterable .filters input[disabled]::-moz-placeholder {
        color: #333;
    }

    .filterable .filters input[disabled]:-ms-input-placeholder {
        color: #333;
    }
</style>
{{$this->Html->css(array('/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'))}}
<h3>分享用户产生的订单</h3>
<hr>
<div class="row">
    <div class="col-lg-4">
        <a href="#">订单数&nbsp;&nbsp;<span style="color: #ff0000">{{$summery['order_count']}}</span></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">总金额&nbsp;&nbsp;<span style="color: #ff0000">{{$summery['total_all_price']}}</span></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">推荐订单数&nbsp;&nbsp;<span style="color: #ff0000">{{count($rebate_logs)}}</span></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">返利金额&nbsp;&nbsp;<span style="color: #ff0000">{{$all_rebate_money}}</span></a>
        &nbsp;&nbsp;
        <a href="/manage/admin/share_countly/app_statics" target="_blank">系统用户统计</a>
        &nbsp;&nbsp;
        <a href="/manage/admin/ShareCountly/order_statics" target="_blank">60日订单汇总</a>
        &nbsp;&nbsp;
        <a href="/manage/admin/ShareCountly/sharer_statics" target="_blank">团长数据统计</a>
        &nbsp;&nbsp;
        <a href="/manage/admin/share/warn_orders" target="_blank" style="color: #ff0000">未发货订单预警</a>
        &nbsp;&nbsp;
        <a href="/manage/admin/share/share_orders_export" target="_blank" style="color: orangered">团长自己打包分装的订单打印</a>
    </div>
    <div class="col-lg-8 pull-right">
        <form action="/manage/admin/share/share_orders" method="POST" class="form-inline">
            <div class="form-group">
                <label for="order_id">订单编号</label>
                <input type="text" class="form-control" id="order_id" name="order_id" placeholder=""
                       value="{{$order_id}}">
            </div>
            <div class="form-group">
                <label for="mobile_no">手机号码</label>
                <input type="text" class="form-control" id="mobile_no" name="mobile_no" placeholder="手机号码">
            </div>
            <div class="form-group">
                <label for="share_id">分享ID</label>
                <input type="text" class="form-control" id="share_id" name="share_id" placeholder="分享ID"
                       value="{{$share_id}}">
            </div>
            <div class="form-group">
                <label for="start_date">开始日期</label>
                <input type="text" class="form-control" id="start_date" name="start_date" placeholder="2015-07-21"
                       value="{{$start_date}}">
            </div>
            <div class="form-group">
                <label for="end_date">结束日期</label>
                <input type="text" class="form-control" id="end_date" name="end_date" placeholder="2015-07-21"
                       value="{{$end_date}}">
            </div>
            <div class="form-group">
                <label for="order_type">订单类型</label>
                <select class="form-control" id="order_type" name="order_type" value="{{$order_type}}">
                    <option value="0">全部</option>
                    <option value="9">分享订单</option>
                    <option value="12">拼团订单</option>
                </select>
            </div>
            <div class="form-group">
                <label for="order_status">订单状态</label>
                <select class="form-control" id="order_status" name="order_status" value="{{$order_status}}">
                    <option value="0">全部</option>
                    <option value="1">已支付</option>
                    <option value="2">已发货</option>
                    <option value="3">已收货</option>
                    <option value="9">已评价</option>
                    <option value="14">退款中</option>
                    <option value="4">已退款</option>
                </select>
            </div>
            <div class="form-group">
                <label>订单来源</label>
                <select class="form-control" id="order_from_flag" name="order_from_flag" value="{{$order_from_flag}}">
                    <option value="-1">全部</option>
                    <option value="0">直接购买</option>
                    <option value="1">朋友圈</option>
                    <option value="2">群消息</option>
                    <option value="3">模板消息</option>
                    <option value="4">首页</option>
                    <option value="5">APP</option>
                    <option value="6">微信单聊</option>
                    <option value="7">发现页面</option>
                    <option value="8">个人中心</option>
                    <option value="9">系统推荐</option>
                    <option value="19">其他</option>
                </select>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="order_prepaid_status">尾款状态</label>-->
                <!--<select class="form-control" id="order_prepaid_status" name="order_prepaid_status" value="{{$order_prepaid_status}}">-->
                    <!--<option value="0">全部</option>-->
                    <!--<option value="25">待确认价格</option>-->
                    <!--<option value="26">待补款</option>-->
                    <!--<option value="27">补款成功</option>-->
                    <!--<option value="30">待退款</option>-->
                    <!--<option value="29">退款成功</option>-->
                <!--</select>-->
            <!--</div>-->
            <button type="submit" class="btn btn-default">查询</button>
        </form>
    </div>
    <!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">订单</h3>

            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>查找
                </button>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr class="filters">
                <th><input type="text" class="form-control" placeholder="订单ID" disabled></th>
                <th><input type="text" class="form-control" placeholder="用户" disabled></th>
                <th><input type="text" class="form-control" placeholder="收货人" disabled></th>
                <th><input type="text" class="form-control" placeholder="地址" disabled></th>
                <th><input type="text" class="form-control" placeholder="联系方式" disabled></th>
                <th><input type="text" class="form-control" placeholder="分享名称" disabled></th>
                <th><input type="text" class="form-control" placeholder="分享人" disabled></th>
                <th><input type="text" class="form-control" placeholder="商品" disabled></th>
                <th><input type="text" class="form-control" placeholder="订单总价" disabled></th>
                <th><input type="text" class="form-control" placeholder="订单来源" disabled></th>
                <th><input type="text" class="form-control" placeholder="退款金额" disabled></th>
                <th><input type="text" class="form-control" placeholder="创建时间" disabled></th>
                <th><input type="text" class="form-control" placeholder="状态" disabled></th>
                <th><input type="text" class="form-control" placeholder="物流方式" disabled></th>
                <th><input type="text" class="form-control" placeholder="快递单号" disabled></th>
                <th><input type="text" class="form-control" placeholder="交易号" disabled></th>
                <th><input type="text" class="form-control" placeholder="推荐人" disabled></th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{loop $orders $order}}
            <?php
                    $current_order_id = $order['Order']['id'];
                    $current_order_carts = $order_cart_map[$current_order_id];
                    $current_order = $order['Order'];
                    $current_share = $weshares[$current_order['member_id']];
                    $current_share_creator = $all_users[$current_share['creator']];
                    $loop_index=0;
                    ?>
            {{loop $current_order_carts $cart}}
            <tr data-id="{{$current_order['id']}}" {{if $current_order['type'] == 12}}class="danger"{{/if}}>
                <td>{{$current_order['id']}} {{if $current_order['type'] == 12}}{{if $pintuan_tags[$current_order['group_id']]['status']==PIN_TUAN_TAG_EXPIRE_STATUS}}<br><font style="color: red;">拼团失败</font>{{/if}}{{if $pintuan_tags[$current_order['group_id']]['status']==PIN_TUAN_TAG_SUCCESS_STATUS}}<br><font style="color: green;">拼团成功</font>{{/if}}{{if $pintuan_tags[$current_order['group_id']]['status']==PIN_TUAN_TAG_PROGRESS_STATUS}}<br><font style="color: #0000ff;">拼团进行中</font>{{/if}}{{/if}}</td>
                <td>{{$current_order['creator']}} <br/>{{$all_users[$current_order['creator']]['nickname']}}</td>
                <td>{{$current_order['consignee_name']}}</td>
                <td width="6%">{{$current_order['consignee_address']}}</td>
                <td>{{$current_order['consignee_mobilephone']}}</td>
                <td width="6%">{{$current_share['title']}}</td>
                <td width="6%">{{$current_share_creator['nickname']}}<br/>
                    {{$current_share_creator['mobilephone']}}</td>
                <td width="8%">{{$cart['name']}}X{{$cart['num']}}<br/>
                    {{$cart['price']*$cart['num']/100}}<br/>
                </td>
                <td>{{$current_order['total_all_price']}}</td>
                <td class="danger">
                    {{get_order_from_tag_by_flag($current_order['flag']);}}
                </td>
                <td>{{if
                    !empty($refund_logs[$current_order['id']])}}{{$refund_logs[$current_order['id']]/100}}{{else}}0{{/if}}
                </td>
                <td>{{$current_order['created']}}</td>
                <td name="status">
                    {{if $current_order['status']==ORDER_STATUS_PAID}}
                    已付款
                    {{elseif $current_order['status'] == ORDER_STATUS_SHIPPED}}
                    已发货
                    {{elseif $current_order['status'] == ORDER_STATUS_RECEIVED}}
                    已收货
                    {{elseif $current_order['status'] == 5}}
                    价格待定
                    {{elseif $current_order['status'] == 6}}
                    尾款处理
                    {{elseif $current_order['status'] == 14}}
                    退款中
                    {{elseif $current_order['status'] == 4}}
                    已退款
                    {{else}}
                    已完成
                    {{/if}}
                </td>
                <td>
                    {{if $current_order['ship_mark'] == 'pys_ziti'}}
                    朋友说自提
                    {{elseif $current_order['ship_mark'] == 'self_ziti'}}
                    自有自提
                    {{elseif $current_order['ship_mark'] == 'pin_tuan'}}
                    拼团
                    {{else}}
                    快递
                    {{/if}}
                </td>
                <td>
                    {{$current_order['ship_code']}}
                </td>
                <td>
                    {{if !empty($pay_notifies[$current_order['id']])}}
                        {{$pay_notifies[$current_order['id']]}}
                    {{else}}
                        {{$pay_notifies[$current_order['parent_order_id']]}}
                    {{/if}}
                </td>
                <td>
                    {{$all_users[$rebate_logs[$current_order['cate_id']]]['nickname']}}
                </td>
                <td>
                    {{if $loop_index==0}}
                    {{if $current_order['ship_mark']=='pys_ziti'&&$current_order['status']==1}}
                    <button type="button" class="btn btn-danger send-offline-store-msg"
                            data-id="{{$current_order['id']}}" data-toggle="modal">发货
                    </button>
                    {{/if}}
                    {{if $current_order['status']!=4}}
                    <button type="button" class="btn btn-info refund-order"
                            data-share-id="{{$current_order['member_id']}}" data-id="{{$current_order['id']}}">{{if
                        $current_order['status']!=14}}退款{{else}}退款完成{{/if}}
                    </button>
                    {{/if}}
                    {{if $current_order['process_prepaid_status']==ORDER_STATUS_REFUND_TODO}}
                    <button type="button" data-share-id="{{$current_order['member_id']}}"
                            data-id="{{$current_order['id']}}" class="btn btn-danger refund-added-order">退尾款
                    </button>
                    {{/if}}
                    <a href="/manage/admin/orders/edit2/{{$current_order['id']}}"><button type="button" class="btn btn-info">编辑</button></a>
                    {{/if}}
                </td>
            </tr>
            <?php
                $loop_index++;
            ?>
            {{/loop}}
            {{/loop}}
            </tbody>
        </table>
    </div>
</div>
<div class="modal" id="refundModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">订单退款操作</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="refund-money" class="col-sm-2 control-label">退款金额</label>

                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="refund-money" placeholder="金额/元">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="refund-reason" class="col-sm-2 control-label">退款描述</label>

                        <div class="col-sm-10">
                            <textarea id="refund-reason" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">退款状态</label>

                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label class="radio-inline">
                                    <input type="radio" name="refund-status" value="0" checked="checked"> 退款中
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="refund-status" value="1"> 已退款
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary set-order-refund">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="offlineStoreModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">好邻居发送到货提醒</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="offline-store-code" class="control-label">提货码:</label>
                        <input type="text" class="form-control" id="offline-store-code">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary send-offline-store-code-msg">发送</button>
            </div>
        </div>
    </div>
</div>
{{$this->Html->script(array('/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'))}}
<script>
    /*
     Please consider that the JS part isn't production ready at all, I just code it to show the concept of merging filters and titles together !
     */
    $(document).ready(function () {
        $('#start_date').datetimepicker({
            format: "yyyy-mm-dd",
            maxView: "day",
            autoclose: true
        });
        $('#end_date').datetimepicker({
            format: "yyyy-mm-dd",
            maxView: "day",
            autoclose: true
        });
        var order_status = '{{$order_status}}';
        var order_repaid_status = '{{$order_prepaid_status}}';
        var order_type = '{{$order_type}}';
        var order_flag= '{{$order_from_flag}}';
        var $offlineStoreDialog = $('#offlineStoreModal');
        var $offlineCodeInput = $('#offline-store-code');
        var $refundDialog = $('#refundModal');
        var currentOrderId = '';
        var currentRefundOrderId = '';
        var $refundMoney = $('#refund-money');
        var $refundReason = $('#refund-reason');

        function setOption(selectElement, value) {
            var options = selectElement.options;
            for (var i = 0, optionsLength = options.length; i < optionsLength; i++) {
                if (options[i].value == value) {
                    selectElement.selectedIndex = i;
                    return true;
                }
            }
            return false;
        }

        setOption(document.getElementById('order_status'), order_status);

        setOption(document.getElementById('order_prepaid_status'),order_repaid_status);

        setOption(document.getElementById('order_type'), order_type);

        setOption(document.getElementById('order_from_flag'),order_flag);

        $('button.refund-added-order').on('click',function(e){
            e.preventDefault();
           var result =  confirm('确定退款完成？');
            if(result){
                var $me = $(this);
                var orderId = $me.data('id');
                $.getJSON('/manage/admin/orders/process_order_added_refund/' + orderId, function (data) {
                    if (data['success']) {
                        $me.remove();
                    } else {
                        alert('处理失败');
                    }
                });
            }
        });

        //process refund
        $('button.refund-order').on('click', function () {
            var $me = $(this);
            currentRefundOrderId = $me.data('id');
            //load refund data
            $.getJSON('/manage/admin/orders/get_share_refund_log/' + currentRefundOrderId, function (data) {
                $refundDialog.modal('show');
                $('div.modal-backdrop').css('z-index', 99);
                if (data['id']) {
                    $refundMoney.val(data['refund_fee'] / 100);
                    $refundReason.val(data['remark']);
                }
            });
        });

        $('button.set-order-refund').on('click', function () {
            var $refundStatus = $('input[name=refund-status]:checked');
            var refundMoney = $refundMoney.val();
            var refundReason = $refundReason.val();
            var refundStatus = $refundStatus.val();
            $.post('/manage/admin/orders/process_share_refund', {
                orderId: currentRefundOrderId,
                refundMoney: refundMoney,
                refundMark: refundReason,
                refundStatus: refundStatus
            }, function (data) {
                console.log(data);
                $refundDialog.modal('hide');
                var $currentTr = $('tr[data-id="' + currentRefundOrderId + '"]');
                var $statusTd = $('td[name="status"]', $currentTr);
                var $refundBtn = $('button.refund-order', $currentTr);
                if (refundStatus == 0) {
                    $statusTd.text('退款中');
                    $refundBtn.text('退款完成');
                }
                if (refundStatus == 1) {
                    $statusTd.text('已退款');
                    $refundBtn.remove();
                }
            });
        });

        $('button.send-offline-store-code-msg').on('click', function () {
            var offlineStoreCode = $offlineCodeInput.val();
            if (!offlineStoreCode) {
                alert('请输入好邻居提货码');
                return false;
            }
            $.post('/manage/admin/share/set_offline_store_code', {
                order_id: currentOrderId,
                ship_code: offlineStoreCode
            }, function (data) {
                if (data['success']) {
                    $offlineStoreDialog.modal('hide');
                    $('button[data-id="' + currentOrderId + '"]').remove();
                }
            }, 'json');
        });

        $('button.send-offline-store-msg').on('click', function () {
            var $me = $(this);
            currentOrderId = $me.data('id');
            $offlineStoreDialog.modal('show');
            $('div.modal-backdrop').css('z-index', 99);
        });

        $('.filterable .btn-filter').click(function () {
            var $panel = $(this).parents('.filterable'),
                    $filters = $panel.find('.filters input'),
                    $tbody = $panel.find('.table tbody');
            if ($filters.prop('disabled') == true) {
                $filters.prop('disabled', false);
                $filters.first().focus();
            } else {
                $filters.val('').prop('disabled', true);
                $tbody.find('.no-result').remove();
                $tbody.find('tr').show();
            }
        });

        $('.filterable .filters input').keyup(function (e) {
            /* Ignore tab key */
            var code = e.keyCode || e.which;
            if (code == '9') return;
            /* Useful DOM data and selectors */
            var $input = $(this),
                    inputContent = $input.val().toLowerCase(),
                    $panel = $input.parents('.filterable'),
                    column = $panel.find('.filters th').index($input.parents('th')),
                    $table = $panel.find('.table'),
                    $rows = $table.find('tbody tr');
            /* Dirtiest filter function ever ;) */
            var $filteredRows = $rows.filter(function () {
                var value = $(this).find('td').eq(column).text().toLowerCase();
                return value.indexOf(inputContent) === -1;
            });
            /* Clean previous no-result if exist */
            $table.find('tbody .no-result').remove();
            /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
            $rows.show();
            $filteredRows.hide();
            /* Prepend no-result row if all rows are filtered */
            if ($filteredRows.length === $rows.length) {
                $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="' + $table.find('.filters th').length + '">No result found</td></tr>'));
            }
        });
    });
</script>