<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">结算明细</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                打款日志
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="well">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>分享ID</label>
                            <input type="text" class="form-control" name="shareId" value="{{$shareId}}">
                        </div>
                        <div class="form-group">
                            <label>分享名称</label>
                            <input type="text" class="form-control" name="shareName" value="{{$shareName}}">
                        </div>
                        <div class="form-group">
                            <label>结算类型</label>
                            <select class="form-control" name="balanceType">
                                <option value="-1" {{if $balanceType=='-1'}}selected{{/if}}>全部</option>
                                <option value="1" {{if $balanceType=='1'}}selected{{/if}}>团长分享</option>
                                <option value="2" {{if $balanceType=='2'}}selected{{/if}}>团长代售</option>
                                <option value="3" {{if $balanceType=='3'}}selected{{/if}}>产品街</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>产品渠道</label>
                            <select class="form-control" name="shareType">
                                <option value="0" {{if $shareType==0}}selected{{/if}}>全部</option>
                                <option value="1" {{if $shareType==1}}selected{{/if}}>团长</option>
                                <option value="2" {{if $shareType==2}}selected{{/if}}>产品街</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>结算状态</label>
                            <select class="form-control" name="balanceStatus">
                                <option value="-1" {{if $balanceStatus=='-1'}}selected{{/if}}>全部</option>
                                <option value="0" {{if $balanceStatus=='0'}}selected{{/if}}>待审核</option>
                                <option value="1" {{if $balanceStatus=='1'}}selected{{/if}}>待结算</option>
                                <option value="2" {{if $balanceStatus=='2'}}selected{{/if}}>已结算</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>交易金额</label>
                            <select class="form-control" name="balanceFee">
                                <option value="0" {{if $balanceFee=='0'}}selected{{/if}}>全部</option>
                                <option value="1" {{if $balanceFee=='1'}}selected{{/if}}>大于0</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>截团时间</label>
                            <input type="date" class="form-control" name="beginDate" value="{{$beginDate}}"/>
                        </div>
                        <div class="form-group">
                            <label>至</label>
                            <input type="date" class="form-control" name="endDate" value="{{$endDate}}"/>
                        </div>
                        <button type="submit" class="btn btn-success">查询</button>
                    </form>
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="7.5%">#ID</th>
                            <th width="10%">分享</th>
                            <th width="7.5%">用户</th>
                            <th width="7.5%">结算费用</th>
                            <th width="7.5%">交易佣金</th>
                            <th width="7.5%">总交易额</th>
                            <th width="7.5%">类型</th>
                            <th width="7.5%">状态</th>
                            <th width="5%">截团时间</th>
                            <th width="15%">备注</th>
                            <th width="10%">支付方式</th>
                            <th width="7.5%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{loop $logs $log}}
                            <tr>
                                {{if $log['Weshare']['type']==6}}
                                <td class="danger">
                                    {{$log['BalanceLog']['share_id']}}<br/>
                                    产品街
                                </td>
                                {{else}}
                                <td class="active">
                                    {{$log['BalanceLog']['share_id']}}<br/>
                                    正常分享
                                </td>
                                {{/if}}
                                <td>
                                    {{$log['Weshare']['title']}}
                                </td>
                                <td>
                                    {{$log['BalanceLog']['user_id']}}<br/>
                                    {{$log['User']['nickname']}}
                                </td>
                                <td style="color: #000088;">
                                    {{$log['BalanceLog']['trade_fee']}}
                                </td>
                                <td style="color: red;">
                                    {{$log['BalanceLog']['brokerage']}}
                                </td>
                                <td style="color: #003bb3;">
                                    {{$log['BalanceLog']['transaction_fee']}}
                                </td>

                                    {{if $log['BalanceLog']['type']==1}}
                                        <td class="success">分享者销售费用</td>
                                    {{/if}}
                                    {{if $log['BalanceLog']['type']==2}}
                                        <td class="warning">产品街代销费用</td>
                                    {{/if}}
                                    {{if $log['BalanceLog']['type']==3}}
                                        <td class="danger">产品街商家费用</td>
                                    {{/if}}

                                    {{if $log['BalanceLog']['status']==0}}
                                        <td class="warning">待审核</td>
                                    {{/if}}
                                    {{if $log['BalanceLog']['status']==1}}
                                        <td class="danger">待结算</td>
                                    {{/if}}
                                    {{if $log['BalanceLog']['status']==2}}
                                        <td class="info">已结算</td>
                                    {{/if}}

                                <td>
                                    {{get_user_payment_info($log['BalanceLog']['end_datetime'])}}
                                </td>
                                <td>
                                    {{$log['BalanceLog']['remark']}}
                                </td>
                                <td>
                                    {{get_user_payment_info($log['User']['payment'])}}
                                </td>
                                <td>
                                    <a href="/manage/admin/share/balance_log_form/{{$log['BalanceLog']['id']}}.html?refer={{$refer_url}}"
                                       type="button" class="btn btn-outline btn-default">编辑</a>
                                </td>
                            </tr>
                        {{/loop}}
                        </tbody>
                    </table>
                    <div class="inline pull-right page">
                        <?php echo $pager;?>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>