<tr>
    <td>{{$current_share_item['id']}}<br/>
        {{if $current_share_item['type'] == 6}}
        <font style="color: red;">产品街分享</font>
        {{elseif $current_share_item['type'] == 5}}
        <font style="color: red;">拼团分享</font>
        {{else}}
        <font>正常分享</font>
        {{/if}}
    </td>
    <td width="20%">ID:&nbsp;&nbsp;{{$creators[$current_share_item['creator']]['id']}}<br/>昵称:&nbsp;&nbsp;{{$creators[$current_share_item['creator']]['nickname']}}<br/>电话:&nbsp;&nbsp;{{$creators[$current_share_item['creator']]['mobilephone']}}</td>
    <td>{{$current_share_item['title']}}</td>
    <td>{{$current_share_item['created']}}</td>
    <td>{{$current_share_item['close_date']}}</td>
    <?php
        $current_share_repaid_money = $repaid_money_result[$current_share_item['id']];
        if($current_share_repaid_money == 0){
            $current_share_repaid_money = 0;
        }
    ?>
    <td style="color: blue">{{floatval($weshare_summery[$current_share_item['id']]['total_price'])}}</td>
    <td style="color: #ff0000">{{floatval($weshare_summery[$current_share_item['id']]['total_price']) - floatval($weshare_refund_map[$current_share_item['id']]) - floatval($weshare_rebate_map[$current_share_item['id']])+$current_share_repaid_money}}</td>
    <td>{{floatval($weshare_summery[$current_share_item['id']]['product_total_price'])}}</td>
    <td>{{round(floatval($weshare_summery[$current_share_item['id']]['ship_fee']/100),2)}}</td>
    <td>{{round(floatval($weshare_summery[$current_share_item['id']]['coupon_total']/100),2)}}</td>
    {{if floatval($weshare_rebate_map[$current_share_item['id']]) - floatval($weshare_summery[$current_share_item['id']]['child_ship_fee']/100) > 0}}
    <td>{{round(floatval($weshare_rebate_map[$current_share_item['id']]) - floatval($weshare_summery[$current_share_item['id']]['child_ship_fee']/100),2)}}</td>
    {{else}}
    <td>0</td>
    {{/if}}
    <td>{{floatval($weshare_refund_map[$current_share_item['id']])}}</td>
    <td>{{get_user_payment_info($creators[$current_share_item['creator']]['payment'])}}</td>
    <td><!-- Indicates a successful or positive action -->
        <a data-name="{{$current_share_item['title']}}" data-id="{{$current_share_item['id']}}" type="button"
           class="btn btn-success set-share-paid">置为已付款</a>
    </td>
</tr>