<div>
    <div class="classlist">
        <a href="#X" class="back"></a>
        微吉分
        <a href="#X" class="home"></a>
    </div>
    <div class="upload_infor">
        <h1>设置取货信息</h1>

        <div class="tuanname"><input placeholder="填写取货时间" value="{{vm.userId}}"/></div>
        <div class="clearfix">
            <div class="tuanname fl" style="width: 80%; margin-right: 10px;"><input placeholder="填写取货地点，联系人信息"/></div>
            <a href="#X" class="delatebtn fr"></a>
        </div>
        <div class="clearfix">
            <div class="tuanname fl" style="width: 80%; margin-right: 10px;"><input placeholder="填写取货地点，联系人信息"/></div>
            <a href="#X" class="addbtn fr"></a>
        </div>
        <a href="#X" class="next_btn" ng-click="vm.click()">好了，团起来</a>
        <a href="#X" class="back_btn">返回修改</a>
    </div>
</div>
