html, body {
    width: 100%;
    height: 100%;
    background: #FFFFFF url('') no-repeat left top;
    overflow: hidden;
    font-family: STHei,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-size: 100% 100%;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 微软雅黑, 黑体;
}

.t {
    padding: 0 0 0 16px;
    height: 40px;
    margin: 0 0 -1px;
    overflow: hidden;
    line-height: 40px;
    display: block;
    width: 90px;
    cursor: pointer;
    float: left;
}

#maindiv {
    position: relative;
    max-width: 460px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.topheader-patch {
    margin: -6px 6px 0px 6px;
    border-bottom: 2px solid #F5F5F5;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.topheader .controls-patch {
    height: 40px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 6px 0px 0px 0px;
    padding: 0px 8px 0px 8px
}

.reload {
    float: left;
    display: block;
    line-height: 40px;
    font-weight: bold;
}

#newiconbut {
    float: right;
    margin-top: 10px;
}

.t:hover span, .t:hover .ficon_arrow_down {
    color: #eb7350;
}

.t .ficon_arrow_down {
    display: inline-block;
    /* padding: 0 5px; */
    vertical-align: middle;
    font-weight: normal !important;
    font-size: 14px;
    color: #696e78;
    font-family: "wbficonregular" !important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}

.audio_con {
    width: 100%;
    position: relative;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    padding-left: 53px;
    max-width: 135px;
}

.audio_con .photo {
    box-shadow: 1px 1px 1px gray;
    width: 38px;
    height: 38px;
    background-color: #f0f0f1;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.audio_con .photo img {
    width: 100%;
    height: 100%;
}

.audio_con .info {
    zoom: 0.9;
    word-break: break-all;
    word-wrap: break-word;
    z-index: 9;
    padding: 6px;
    height: 38px;
    border: solid 1px #f0f0f1;
    border-radius: 5px;
    background: #f9f9f9;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.audio_con .info:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid #f0f0f1;
    border-top: 1px solid #f0f0f1;
    display: inline-block;
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    top: 12px;
    left: -6px;
    -webkit-transform: rotate(-45deg);
}

.audio_con .redpoint {
    display: none;
}

.audio_con .info.audioplayed .redpoint {
    display: inline-block;
}

.audio_con .info.un_audioplayed .redpoint {
    display: none;
}

::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(217, 217, 217, 1.00);
    -webkit-border-radius: 8px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #999
}

::-webkit-scrollbar-thumb:vertical:window-inactive {
    background-color: transparent
}

.audio_con_square {
    position: relative;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    float: left;
    margin: 0px 3px 3px 0px;
    border: 1px solid transparent;
}

.audio_con_square .bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: rgba(102, 102, 102, 0.6);
    transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -webkit-transition: all 3s linear;
}

.audio_con_square .info {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    cursor: pointer;
}

.audio_con_circle {
    position: relative;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
}

.audio_con_circle .bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 50%;
    background-color: rgba(102, 102, 102, 0.6);
    transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -webkit-transition: all 3s linear;
}

.audio_con_circle.played .bg {
    -webkit-animation: audio_con_circle_spinner 3000ms infinite linear;
    -moz-animation: audio_con_circle_spinner 3000ms infinite linear;
    -ms-animation: audio_con_circle_spinner 3000ms infinite linear;
    -o-animation: audio_con_circle_spinner 3000ms infinite linear;
    animation: audio_con_circle_spinner 3000ms infinite linear;
}

.audio_con_circle .info {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    cursor: pointer;
}

.audio_con_circle .info .contrs {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(67, 67, 67, 0.8);
}

.audio_con_circle .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.4;
    transform: scale(0.5);
    z-index: 1;
    display: none;
}

.audio_con_circle.loading .loading {
    display: block;
    transform: scale(1);
    -webkit-animation: audio_con_circle_spinner 1000ms infinite linear;
    -moz-animation: audio_con_circle_spinner 1000ms infinite linear;
    -ms-animation: audio_con_circle_spinner 1000ms infinite linear;
    -o-animation: audio_con_circle_spinner 1000ms infinite linear;
    animation: audio_con_circle_spinner 1000ms infinite linear;
}

@-webkit-keyframes audio_con_circle_spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* 顶部消息通知 */

.header_notice {
    position: absolute;
    width: 100%;
    height: 32px;
    line-height: 32px;
    top: -40px;
    left: 0;
    z-index: 11;
    background-color: rgba(80, 153, 215, 0.95);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header_notice_show {
    top: 0px;
}

.header_notice_hide {
    top: -40px;
}

.header_notice .header_notice_ok {
    color: #FFFFFF;
    display: inline-block;
    height: 32px;
    padding-right: 23px;
    /*background-image: url("http://51daifan-assets.stor.sinaapp.com/static/opt/images/notice_icon.png");*/
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right 7px;
    cursor: pointer;
    text-decoration: none;
}

.header_notice .header_notice_ok * {
    color: #FFFFFF;
}

.header_notice .header_notice_cancel {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 2px;
    cursor: pointer;
}

.header_notice .header_notice_cancel:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    left: 50%;
    top: 50%;
    width: 1px;
    height: 18px;
    margin-top: -9px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.header_notice .header_notice_cancel:after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    left: 50%;
    top: 50%;
    width: 1px;
    height: 18px;
    margin-top: -9px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.user-is-proxy-tag {
    color: white;
    font-size: 10px;
    font-weight: 700;
    margin-top: 6px;
    background-color: #29AC0E;
    text-align: center;
    line-height: 18px;
}

.user-is-vip-user-tag {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 43px;
    left: 38px
}

.channel_bottom {
    height: 49px;
}

footer {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 7px 0 0;
    text-align: center;
    background: #f7f7f9;
    color: #666666;
    border-top:1px #b3b4b6 solid;
}

footer a:visited {
    text-decoration: none;
}

footer a:active {
    text-decoration: none;
}

footer a:link{
    text-decoration: none;
}

.channel_bottom .btm_item:nth-child(1), .channel_bottom .btm_item:nth-child(3) {
    width: 19%;
}

.channel_bottom .btm_item {
    float: left;
}

.channel_bottom .iconfont {
    font-size: 20px;
    line-height: 15px;
    color: #888888;
}
.channel_bottom .iconfont.active{
    color: #ff6485;
}

.channel_bottom b {
    font-size: 12px;
    color: #888888;
    font-family: "Hiragino Sans GB", "华文细黑", STHeiti, "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

.channel_bottom b.active{
    color: #ff6485;
}

.channel_bottom .new {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 30px;
    background-color: #ffa200;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff;
}

