/*
::-webkit-scrollbar { width: 5px; height: 5px;}
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 5px;}
::-webkit-scrollbar-thumb {
    border-radius: 5px;background: rgba(0,0,0,0.1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(255,0,0,0.4);}
 */ 
.newitemsmain{
 	position:fixed;left:0px;
	top:100%;z-index:100003;
	width:100%;
	height:100%;
	display:block;
	-webkit-transition:top 0.2s ease-in-out;
	background-color:#ffffff;
	overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling: touch;
 }
.newitemsmain .newitems{
	border:1px solid #c7c7c7;
	margin:18px;
	line-height:40px;
	color:#090909;
	padding:0px 12px 0px 12px;
	font-weight:bold;
}
.newitemsmain .newitems img{
	float:right;
	margin-top:9px;	
}
.postinfoctrls{
	border-bottom:1px solid #dfdfdd;
	background-color:#f8f8f8;
	height:30px;
	overflow:hidden;
	margin:0px 6px 2px 6px;
}
.postinfoctrls a{
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	text-decoration:none;
	line-height:30px;display:block;
	width:33.1%;float:left;
	text-align:center;
}
.postinfoctrls div{
	background-color:#c1c1c1;width:1px;float:left;height:22px;margin-top:4px
}
.postinfo a,.link {
	text-decoration: none;
	color: #576b95;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
.postinfo *{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 微软雅黑,黑体;
	color: #000000;
} 
.postinfo {
	margin:0px 6px 0px 6px;
	padding:6px 4px 6px 4px;
	max-width: 520px;
	min-width: 300px;
	border:0px solid #dfdfdd;
	position: relative;
	background-color:#FFFFFF;
}
.postinfo .datetitle{
	font-weight: bold;
	font-size:24px;
	display: block;
	width: 60px;
	height: 40px;
	margin-left:-12px;
}
.postinfo .heada {
	display: block;
	float:left;
	width: 40px;
	height: 40px;
}
.postinfo .heada .headimg {
	width: 40px;
	height: 40px;
}
.postinfo .nickname {
	 margin-left:8px;
	 font-weight:bold;
}
.postinfo .jibie {
	 margin-left:16px;
	 color:#767676;
}
.postinfo .fontcontent{
	margin:-20px 0px 0px 48px; 
	line-height:18px;
	overflow: hidden;
	min-height: 20px;
	word-break: break-all;
}
.postinfo .expcontenta{
	margin:0px 0px 0px 48px; 
	line-height:22px;
	display: none;
}
.postinfo .mediacontent{
	margin:6px 0px 0px 48px;  
	min-height:50px;
}
.postinfo .linkcontent{
	padding:6px 6px 3px 6px;
	overflow:hidden;
	background-color:#f0f1f3;
	display: block;
	word-break:break-all;
	margin-right: 3px;
}
.postinfo .linkfontcontent{
	padding-left:45px;
	margin-top:-38px;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	word-break: break-all;
}
.postinfo .mediacontent .contenta {
	width: 78px;
	height: 78px;
	border: 1px solid transparent;
	background: #FAFAFA url('') no-repeat left top;
	background-size: cover;
	float: left;
	position: relative;
	margin:0px 3px 3px 0px
}

.postinfo .mediacontent .contentb {
	width: 200px;
	height: 150px;
	background: #FAFAFA url('') no-repeat center top;
}

.postinfo .date {
	color: #737373;
	font-size: 12px;
	margin: 6px 0px 0px 48px;
	line-height:20px;
	height: 20px;
	overflow: hidden; 
	float:left; 
}
.postinfo .checkbox{
	margin: 6px 12px 0px 0px;
	line-height:20px;
	height: 20px;
	overflow: hidden; 
	float:right; 
}
.postinfo .controlimg {
	float:right;
	margin:9px 6px 0px 0px;
}
.postinfo .controlimg img{
	max-height:14px;
}
.postinfo .topictitle,.postinfo .yinyongtitle{
	margin: 6px 0px 0px 2px;
	float: left;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	width:130px;
}
.postinfo .topictitle span,.postinfo .yinyongtitle span{
	font-size:12px;color:#737373
}
.postinfo .topictitle a,.postinfo .yinyongtitle a{
	font-size:12px;
}
.postinfo .zancontent{
	margin: 6px 3px 0px 3px;
	background-color: #f1f1f3;
	padding: 6px 0px 4px 26px;
	position: relative;
	display:none;
}
.postinfo .zancontent .zheadimg{
	width:30px;height:30px;
	margin:0px 2px 2px 0px;
	float:left; 
}
.postinfo .zanicon{
	position:absolute;left:6px;top:8px;max-width:14px;
}
.postinfo .zaninfo{
	margin-left:8px;
	line-height:30px;
	font-size:12px;
	color:#a7a7a7;
	float:left;
}
.postinfo .talkcontent{
	border-top:1px solid #ebebeb; 
	margin:0px 3px 0px 3px;
	background-color: #f1f1f3;
	padding: 6px 0px 4px 26px;
	position: relative;
	display:none;
}
.postinfo .talkcontent .talkinfo {
	margin: 0px 0px 3px 0px; 
}
.postinfo .talkcontent .talkinfo .theadimg{
	float:left;width:30px;height:30px
}
.postinfo .talkcontent .talkinfo .talknc{
	max-width:170px;
	float:left;
	overflow:hidden;
	margin-left:6px;
	font-size:14px;
	color:#576b95;
	height:16px;
	line-height: 16px;
	font-size:12px;
}
.postinfo .talkcontent .talkinfo .talkdelctrl{
	float:right;
	margin-right:6px;
	height:16px;
	line-height: 16px;
	font-size:12px;
}
.postinfo .talkcontent .talkinfo .talfontcontent{
	padding:0px 3px 0px 0px;
	margin:-12px 0px 0px 38px;
	text-align:left;
	word-break: break-all;
	font-size: 12px;
}
.postinfo .talkcontent .more {
	border-top: 1px solid #ebebeb;
	overflow: hidden;
	line-height:30px;
	height:30px;
	text-align: left;
	font-size: 12px;
	color: #a7a7a7;
	position: absolute;
	bottom: 0px;
	min-width: 210px;
}
.postinfo .talkcontent .talkicon{
	position:absolute;top:8px;left:6px;max-width:14px;
}

.iframe,#singleinfoifr,#userinfolistifr{
	position:fixed;left:100%;top:0px;z-index:100001;width:100%;height:100%;display:block;
	-webkit-transition:left 0.2s ease-in-out;
}
.newinfo{
	position:fixed;left:0px;
	top:100%;z-index:100003;
	width:100%;
	height:100%;
	display:block;
	-webkit-transition:top 0.2s ease-in-out;
	background-color:#efeff4;
	overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling: touch;
}
.newinfo input[type="file"]{
	-webkit-appearance:initial;
	border:none;
	background:transparent;
	background-image:url(../images/addimg.png);
	color:transparent;
	border-radius:0;
	background-size:cover;
	display:inline-block;
	width:80px;
	height:80px;
	opacity:0;
}
.newinfo .updiv{
	float:left;
	width:80px;
	height:80px;
	background-image:url(../images/addimg.png);
	background-size:cover;
	margin:6px;
}
.newinfo input[type="button"],.newinfo .button,.button1{
	background: #ffffff url('../images/buttonbg.png') no-repeat center center;
	width:280px;
	height:40px;
	background-size:100% 100%;
	border:none;
	color:white;
	margin:10px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
}
.newinfo .cacheimg{
	float:left;
	background-color:#ffffff;
	width:80px;height:76px;
	margin:8px;
	text-align:center;
	position: relative;
/*	
background: #ffffff url('../images/bx_loader.gif') no-repeat center center;
*/
	border:1px solid #CCCCCC;
}
.newinfo .cacheimg .proimg{
	line-height:80px;
	text-align:center;
	width:100%;
	position: absolute;
	z-index:1;
}	
.newinfo .cacheimg img{
	max-width:80px;max-height:76px;
	
}
.newinfo .cacheimg .delfileicon{ position:absolute; width:18px; height:18px; display:inline-block; border-radius:50%; background-color:#666; z-index:10; cursor:pointer; top:-5px; right:-5px;}
.newinfo .cacheimg .delfileicon:before,.newinfo .cacheimg .delfileicon:after{ content:''; position:absolute; width:13px; height:3px; background-color:#FFF;top:7px; left:3px;}

.newinfo .cacheimg .delfileicon:before{transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.newinfo .cacheimg .delfileicon:after{transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}
 
@font-face {
	font-family:'wbficonregular';
	/*src: url("./font/wbficon.woff") format('woff');*/
	font-weight: normal;
	font-style:normal;
}

