
@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0; font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; }
body { min-width: 320px; max-width: 460px; font-size: 13px;}
ul li { list-style: none; }
.fl { float: left; }
.fr { float: right; }
.clearfix { zoom: 1; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.big{width:100%;}




a{color: #000; position: none;}   
.tuijian-top-sousuo{height: 3.167em; background: #fff; border-bottom: 1px solid #ddd; padding:0 1.25em; position:relative;}
.sousuo{padding-top: 0.8em;}
.sousuo img{ width:1.667em;  width:1.667em;}
.tuijian_center{ position: absolute; top:5px; left:50%; margin-left:-6em;}
.bk{width: 4.9em; height: 2.15em; line-height: 2.15em; border: 1px solid #0fc449; text-align: center;}
.bk_green{background: #0fc449; color:#ffffff; border-radius:5px 0 0 5px;}
.bk_white{ background-color: #FFFFFF; color: #0fc449; border-radius: 0 5px 5px 0;}
.fenxiang{color: #0fc449; line-height: 3.167em; padding-right:5px;}
.tuijian{align: center; font-size: 2.333em; color: #fff;}

.bg{height: 8px; background-color: #f1f1f1;}

.biao{background: #fff; height: 5.666em; position: relative;}
.center{position:absolute; top:1em; left:4.083em;line-height:10px;}
.center1{position:absolute; top:1.7em; left:4.083em;line-height:10px;}
.biao-bin{display:inline-block;}
.tupian{width:3.333em; height:3.333em; padding-top:15px; padding-left:1.25em;}
.nicheng{margin-left:1.25em; font-size:1.15em; color:#333;}

.ta{font-size:1.083em; color:#666; text-align:center; line-height:2em;}
.qu{position:absolute; top:2.2em; right:0;}
.bk-balck{width:5em; height:2em; border:1px solid #bbb; border-radius:5px; margin:1.25em 1.25em 1em 0;}
.bk-balck>img{width:1em; height:0.5em; line-height:2.5em;}

.b{width:6em; height:1.2em;position:absolute; top:4.5em; left:6.5em; margin-left:5px; margin-top:-40px; border:1px solid #f99d3a; border-radius:5px; }
.b1{width:6em; height:1.2em; position:absolute; top:-6px; left:6.5em; margin-left:5px; margin-top:2px; border:1px solid #f99d3a; border-radius:5px; }
.jibie{font-size:0.8em; padding-top:2px; color:#f99d3a; text-align:center;line-height:1.2em;}
.time{padding-top:8px ; padding-left:1.4em; font-size:1em; color:#999;}
.urser{margin-left:4px; font-size:1em; color:#999; padding-top:8px;}
.k{width:11.333em; height:4.833em; border:0.5px solid #999; border-radius:5px; padding-top:2em; margin-left:15em;}
.g{margin-left:15em;}

.chanpin>img{height:16.666em; width:100%;}
.text1{font-size:1.15em; color:#333; padding-left:1.25em; padding-top:10px;}

.text2{font-size:1em; color:#999; padding-left:1.25em; padding-right:1em; padding-top:10px;}
.show{padding-top:10px;}

.img{width:1.5em; height:1.5em; padding-top:10px; padding-left:1.25em;}
.fenxian{height:1.5em; color:#666; font-size:1em; padding-left:3px; line-height:3.3em;}
.bm{font-size:1em; color:#666; line-height:3.3em;}
.pl{font-size:1em; color:#666; line-height:3.3em;}
.bin{display:inline-block; padding: 0 1.25em 0 0;}

.test-kuang{width:18em; height:2em; border-radius:5px; border:1px solid #ddd; }

.test{ font-size:1.16em; color:#ccc; margin-left:1.25em; margin-top:1em; line-height:2em;}
.fright{position:absolute; top:1em; right:1.25em;}
.anniu{font-size:1.16em; color:#333; line-height:2em;}