{{$this->Html->css('/css/refer_css.css?v3')}}
{{if !$reg_done}}
    <div class="tuijian_login">
        {{$ref_user['nickname']}}向您推荐了【朋友说】<br/>【朋友说】分享新鲜现摘、产地直供美食的平台<br/>
        {{if !empty($old_refer_name)}}(您已经接受过{{$old_refer_name}}的邀请){{/if}}
        {{if !empty($referred) && $referred['Refer']['from'] != $ref_user['id']}}
            <a href="/" class="tuijian_login_a">去逛逛</a>
        {{else}}
            {{if !$phone_bind}}
                <a href="javascript:;" type="bind" class="tuijian_login_a {{empty($refer)?'accept_done':''}}">{{empty($refer)?'接受邀请':''}}<span>[注册得1000积分]</span></a>
            {{elseif $received_cnt <= 0}}
                <a href="javascript:;" type="order" class="tuijian_login_a {{empty($refer)?'accept_done':''}}">{{empty($refer)?'接受邀请':''}}<span>完成第一单</span></a>
            {{/if}}
        {{/if}}
    </div>
{{else}}
    <div class="tuijian_bg"><strong>推荐好友成功</strong><br/>送10元积分！<br/><a href="/refer/index/{{$CurrentUser['id']}}.html">去推荐</a></div>
{{/if}}
<div class="clearfix tuijian_goodlist">
    <a href="/products/20150428/yue_nan_jin_kou_hong_xin_huo_long_guo_2ge_zhuang.html">
        <s><img src="{{$this->Html->assetUrl('/img/refer/good15.jpg')}}" border="0"/></s>
        <label>越南进口红心火龙果  新鲜水果</label>
        <b>¥14.90</b>
    </a>
    <a href="/products/20150427/Hai_Nan_Kong_Yun_Chu_Kou_Ji_Jin_Bo_Luo_2Tou_Zhuang_Yue_5Jin_Nong_Chang_Zhi_Cai.html">
        <s><img src="{{$this->Html->assetUrl('/img/refer/good16.jpg')}}" border="0"/></s>
        <label>海南空运出口级金菠萝 农场直采摘 新鲜直达！</label>
        <b>¥35.00</b>
    </a>
    <a href="/products/20150429/hai_nan_kong_yun_xin_xian_mang_guo_jin_huang_mang_5jin_zhuang.html">
        <s><img src="{{$this->Html->assetUrl('/img/refer/good17.jpg')}}" border="0"/></s>
        <label>海南空运新鲜芒果-金煌芒</label>
        <b>¥15.80</b>
    </a>
    <a href="/products/20150407/hai_nan_ye_zi_dong.html">
        <s><img src="{{$this->Html->assetUrl('/img/refer/good18.jpg')}}" border="0"/></s>
        <label>海南海口空运 纯天然 无添加 新鲜椰子冻700g/个  [仅限北京] </label>
        <b>¥29.90</b>
    </a>
</div>
<a href="/" class="good_more">查看更多商品</a>
    <div class="tuijian" style="border-bottom: 0; margin-top: 0;">
        <h1>{{$ref_user['nickname']}}买过什么</h1>
        {{loop $product_comments $key $item}}
        <ul class="clearfix">
            <li class="fl"><img src="{{$this->Html->assetUrl(!empty($ref_user['image'])? $ref_user['image']:'/img/mine_head.png')}}"/></li>
            <li style="padding-left: 40px;">
                <em>{{$ref_user['nickname']}}</em>
                <p>{{$item[body]}}</p>
                {{if $item['images']}}
                <div class="clearfix tuijian_good_img">
                    <?PHP foreach($item['images'] as $img) { ?>
                    <a href="#X">{{$this->Html->image($img)}}</a>
                    <?PHP } ?>
                </div>
                {{/if}}
                <a href="{{product_link2($item['prod'])}}" class="clearfix tuijian_good" style="position: relative;">
                    <span class="fl">{{$this->Html->image(small_thumb_link($item['prod']['coverimg']))}}</span>
                    <div class="tuijian_title">
                        <div class="tuijian_title_style">{{$item['prod']['name']}}</div>
                    </div>
                </a>
            </li>
        </ul>
        {{/loop}}
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="999" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <div class="pswp__container">
                <!-- don't modify these 3 pswp__item elements, data is added later on -->
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
    {{$this->Html->css(array('/js/photoswipe/photoswipe.css?v1','/js/photoswipe/default-skin/default-skin.css?v1'))}}
    {{$this->Html->script(array('/js/photoswipe/photoswipe.js?v2','/js/photoswipe/photoswipe-ui-default.min.js'))}}
{{if !$reg_done}}
<div class="tuijian_login">
    {{$ref_user['nickname']}}向您推荐了【朋友说】<br/>【朋友说】分享新鲜现摘、产地直供美食的平台<br/>
    {{if !empty($old_refer_name)}}(您已经接受过{{$old_refer_name}}的邀请){{/if}}
    {{if !empty($referred) && $referred['Refer']['from'] != $ref_user['id']}}
    <a href="/" class="tuijian_login_a">去逛逛</a>
    {{else}}
    {{if !$phone_bind}}
    <a href="javascript:;" type="bind" class="tuijian_login_a {{empty($refer)?'accept_done':''}}">{{empty($refer)?'接受邀请':''}}<span>[注册得100积分]</span></a>
    {{elseif $received_cnt <= 0}}
    <a href="javascript:;" type="order" class="tuijian_login_a {{empty($refer)?'accept_done':''}}">{{empty($refer)?'接受邀请':''}}<span>完成第一单</span></a>
    {{/if}}
    {{/if}}
</div>
{{else}}
<div class="tuijian_bg"><strong>推荐好友下单成功</strong><br/>ipad、小米电视等你抢！<br/><a href="/refer/index/{{$CurrentUser['id']}}.html">去推荐</a></div>
{{/if}}
<script type="text/javascript">

    $(document).ready(function(){
        $('.accept_done').click(function(){
            var $type = $(this).attr('type');
            $.post('/refer/accept.html', {'uid': '{{$ref_user["id"]}}'}, function (data) {
                var $result = JSON.parse(data);
                if ($result['success'] === true) {
                    if ($type == 'bind') {
                        window.location.href = '/users/to_bind_mobile?ref_url=' + encodeURIComponent('/refer/client/{{$ref_user["id"]}}.html') + '&reason=' + encodeURIComponent('绑定手机号完成注册')+'&from=refer';
                    } else if ($type == 'order') {
                        window.location.href = '/';
                    }
                }
            });
        });


        var openPhotoSwipe = function(items) {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            // define options (if needed)
            var options = {
                // history & focus options are disabled on CodePen
                history: false,
                focus: false,
                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                pinchToClose: true,
                closeOnScroll: false,
                closeOnVerticalDrag: true,
                clickToCloseNonZoomable: true,
                tapToClose: true,
                showHideOpacity: true
            };
            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };
        function imgBindClick(){
            $('div.tuijian ul li div.tuijian_good_img').on('click',function(){
                var me = $(this);
                var $images = $('img',me.parent());
                var items = [];
                $.each($images,function(_,item){
                    var data = {};
                    data['src']=$(item).attr('src');
                    data['w']=$(item)[0].naturalWidth;
                    data['h']=$(item)[0].naturalHeight;
                    items.push(data);
                });
                openPhotoSwipe(items);
            });
        }

        $(document).ready(function(){
            imgBindClick();
        });
    });
</script>

{{if $jWeixinOn}}
    {{template Elements/wx_share_template}}
{{/if}}