{{$this->Html->css('/css/refer_css.css')}}
<div class="tuijian_banner">{{$this->Html->image("/img/refer/banner.gif?v1")}}</div>
       {{if $total_refers>0}}<a class="mytuijian_a" href="/refer/my_refer.html">{{$total_refers}}位新用户接受了您的推荐</a>{{/if}}
<div class="tuijian">
    <h1>推荐流程</h1>
    {{$this->Html->image("/img/refer/process1.gif?v1")}}<br/>
    {{$this->Html->image("/img/refer/process2.gif?v1")}}
</div>
<div class="tuijian" id="div_tuijian_rules">
    <h1>推荐规则</h1>
    <div class="tuijian_padding">
        <dl class="clearfix">
            <dd><strong>1. 推荐人满足的条件：</strong><br/>至少一个订单确认收货并评价，方可参加推荐有礼活动</dd>
            {{if count($product_comments) < 1}}
            <dd><span style="display: block; float: left;">您还没有确认收货并评价的订单，</span><a href="/orders/mine.html?tab=comment">去评价</a></dd>
            {{/if}}
        </dl>
        <dl class="clearfix">
            <dd><strong>2. 被推荐人接受邀请绑定手机号，推荐人获得100积分；被推荐人首次在【朋友说】下单完成收货，推荐人获得10元柴鸡蛋/酸奶</strong></dd>
        </dl>
        <dl class="clearfix">
            <dd><strong>3. 被推荐人自提地区：</strong></dd>
            <dd>回龙观、天通苑、北苑、西三旗、昌平县城、沙河、顺义县城等地</dd>
        </dl>
        <dl class="clearfix">
            <dd><strong>4. 邀请被推荐人加入至少一个微信美食群</strong></dd>
        </dl>
    </div>
</div>
<div class="tuijian" style="border-bottom: 0;">
    <h1>您的购买评价</h1>

    {{loop $product_comments $key $item}}
    <ul class="clearfix">
        <li class="fl"><img src="{{$this->Html->assetUrl(!empty($CurrentUser['image'])? $CurrentUser['image']:'/img/mine_head.png')}}"/></li>
        <li style="padding-left: 40px;">
            <em>{{$CurrentUser['nickname']}}</em>
            <p>{{$item[body]}}</p>
            {{if $item['images']}}
            <div class="clearfix tuijian_good_img">
                <?PHP foreach($item['images'] as $img) { ?>
                <a href="#X">{{$this->Html->image($img)}}</a>
                <?PHP } ?>
            </div>
            {{/if}}
            <a href="{{product_link2($item['prod'])}}" class="clearfix tuijian_good" style="position: relative;">
                <span class="fl">{{$this->Html->image(small_thumb_link($item['prod']['coverimg']))}}</span>
                <div class="tuijian_title">
                    <div class="tuijian_title_style">{{$item['prod']['name']}}</div>
                </div>
            </a>
        </li>
    </ul>
    {{/loop}}

    <a href="/orders/mine.html?tab=comment" class="tuijian_comment">去评价赢积分</a>
</div>

{{if count($product_comments) >= 1}}
<a href="javascript:;" class="tuijian_btn">马上邀请</a>
{{/if}}

<!--分享提示层-->
<div class="tipslayer_share" style="display: none;"><div style="width: 90%; margin: 0 auto; font-size: 1.3em;">点击右上角“…”，分享给好友或朋友圈。</div></div>
<div class="tipslayer_bg" style="display: none"></div>

{{$this->Html->css(array('/js/photoswipe/photoswipe.css?v1','/js/photoswipe/default-skin/default-skin.css?v1'))}}
{{$this->Html->script(array('/js/photoswipe/photoswipe.js?v2','/js/photoswipe/photoswipe-ui-default.min.js'))}}
<script>

    $(document).ready(function(){
        $('.tuijian_btn').click(function(){
            var tls = $('.tipslayer_share, .tipslayer_bg');
            tls.show().click(function(){
                tls.hide();
            });
        });
    });

    var openPhotoSwipe = function(items) {
        var pswpElement = document.querySelectorAll('.pswp')[0];

        // define options (if needed)
        var options = {
            // history & focus options are disabled on CodePen
            history: false,
            focus: false,
            showAnimationDuration: 0,
            hideAnimationDuration: 0,
            pinchToClose: true,
            closeOnScroll: false,
            closeOnVerticalDrag: true,
            clickToCloseNonZoomable: true,
            tapToClose: true,
            showHideOpacity: true
        };
        var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };
    function imgBindClick(){
        $('div.tuijian ul li div.tuijian_good_img').on('click',function(){
            var me = $(this);
            var $images = $('img',me.parent());
            var items = [];
            $.each($images,function(_,item){
                var data = {};
                data['src']=$(item).attr('src');
                data['w']=$(item)[0].naturalWidth;
                data['h']=$(item)[0].naturalHeight;
                items.push(data);
            });
            openPhotoSwipe(items);
        });
    }

    $(document).ready(function(){
        imgBindClick();
    });
</script>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="999" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
