{{$this->Html->css('/css/refer_css.css?v1')}}
<div class="tuijianlist_banner">
    <h1>每推荐成功<span>1</span>个好友<br/>可获得<span>1000</span>积分</h1>
    <em>下单购买的时候可以使用喔~~</em>
</div>
<a class="mytuijian_a" href="/refer/index/{{$ref_user['id']}}.html#div_tuijian_rules">
    推荐符合规则的新用户才能获得奖励，点击查看</a>
<ul class="tuijianlist">
    {{loop $refers $k $refer}}
    <li class="clearfix">
        <span class="fl"><img src="{{$this->Html->assetUrl(!empty($m_users[$refer['Refer']['to']]['image'])? $m_users[$refer['Refer']['to']]['image']:'/img/mine_head.png')}}"/></span>
        <div class="tuijian_title">
            <div class="tuijian_title_style clearfix">
                <em class="fl">{{$m_users[$refer['Refer']['to']]['nickname']}}</em>
                <b>
                    {{if $refer['Refer']['bind_done'] && $refer['Refer']['first_order_done']}}
                        完成注册，第一单收货完成
                    {{elseif $refer['Refer']['bind_done']}}
                        完成了注册，等待完成第一单
                    {{elseif $refer['Refer']['first_order_done']}}
                        完成了第一单，还没有完成注册
                    {{else}}
                        等待绑定手机号完成注册
                    {{/if}}
                </b>
            </div>
        </div>
    </li>
    {{/loop}}
</ul>
{{if $jWeixinOn}}
    {{template Elements/wx_share_template}}
{{/if}}