<div class="shop_intro clearfix">
    <div class="shop_head"><img class="radius10" src="{{$Brand['Brand']['coverimg']}}" border="0" /></div>
    <div class="fl">
        <h1>{{$Brand['Brand']['name']}}</h1>
        <h2>微信号: {{$Brand['Brand']['weixin_id']}}</h2>
        <p>{{$Brand['Brand']['notice']}}</p>
    </div>
</div>

<div class="shop_good">
    <?php $i=0;?>
    {{loop $products $p}}

    {{if $i % 2 == 0}}
    <?php $item = $p['Product']; $i++?>
    {{else}}
    <?php $item2 = $p['Product']; $i++?>
    <ul class="clearfix">
        <li class="fl">
            <dl class="img_mr">
                <dt><a href="{{$this->Html->url('/products/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html')}}"><img src="{{$item['coverimg']}}" /></a></dt>
                <dt><a href="{{$this->Html->url('/products/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html')}}" class="title">{{usubstr($item['name'],0,10,'')}}</a></dt>
                <dt>
                    <span class="fl current_price">￥{{$item['price']}}</span>
                    <span class="fl original_price">{{if $item['original_price']}}{{￥.$item['original_price']}}{{/if}}</span>
                </dt>
            </dl>
        </li>
        <li class="fl">
            <dl class="img_mr">
                <dt><a href="{{$this->Html->url('/products/'.date('Ymd',strtotime($item2['created'])).'/'.$item2['slug'].'.html')}}"><img src="{{$item2['coverimg']}}"/></a></dt>
                <dt><a href="{{$this->Html->url('/products/'.date('Ymd',strtotime($item2['created'])).'/'.$item2['slug'].'.html')}}" class="title">{{usubstr($item2['name'],0,10,'')}}</a></dt>
                <dt>
                    <span class="fl current_price">￥{{$item2['price']}}</span>
                    <span class="fl original_price">{{if $item['original_price']}}{{￥.$item['original_price']}}{{/if}}</span>
                </dt>
            </dl>
        </li>
    </ul>
    {{/if}}
    {{/loop}}
    {{if $i%2 == 1}}
    <ul class="clearfix">
        <li class="fl">
            <dl class="img_mr">
                <dt><a href="{{$this->Html->url('/products/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html')}}"><img src="{{$item['coverimg']}}" /></a></dt>
                <dt><a href="{{$this->Html->url('/products/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html')}}" class="title">{{usubstr($item['name'],0,10,'')}}</a></dt>
                <dt>
                    <span class="fl current_price">￥{{$item['price']}}</span>
                    <span class="fl original_price">{{if $item['original_price']}}{{￥.$item['original_price']}}{{/if}}</span>
                </dt>
            </dl>
        </li>
    </ul>

    {{/if}}

</div>
<div class="common_bottom clearfix">
    <a href="/techan.html">
        <span class="pyshuo_logo"></span>
        <span>朋友说</span>
    </a>
    <a href="#X">
        <span class="shop_index_cur"></span>
        <span style="color:#29ac0e;">商铺首页</span>
    </a>
    <a href="{{ $this->Html->url(array('controller'=>'brands','action'=>'introduction', $slug));}}">
        <span class="shop_story"></span>
        <span>我的故事</span>
    </a>
    <a href="/carts/listcart.html">
    	<span class="shopping_cart">
        	<div class="number"><label id="item-count"></label></div>
        </span>
        <span>购物车</span>
    </a>
</div>
