<style>
td {padding:5px 10px;}

a.coupon .glyphicon {
    color: #bbbbbb;
}

a.coupon_applied .glyphicon {
    !important;
    color: darkgreen;
}
</style>
{{if $is_mobile}}
<div class="classlist_v2" style="z-index:1">
    <ul class="clearfix">
        <li><a href="javascript:void(0)" id="return_label" class="back"></a></li>
        <li class="line"></li>
        <li><strong>结算</strong></li>
    </ul>
</div>
{{/if}}
<div  class="container" style="{{if $is_mobile}}margin-top: 2.5em;{{/if}}">

    {{if $flash_msg}}<div class="alert alert-danger" role="alert">{{$flash_msg}}</div>{{/if}}

    <div class="orderinfo voffset3">
        {{if $specialShipPromotionId}}
        <h2>收货人信息</h2>
        {{if !$limit_ship}}<a id="link_use_promotion" href="{{$this->Html->url('/orders/info?ship_promotion=0')}}">[不使用特惠]</a>{{/if}}
        <ul>
            <li>收货人：<span>{{$this->Session->read('OrderConsignee.name')}}</span>
                <span>{{$this->Session->read('OrderConsignee.mobilephone')}}</span>
                <span>{{$this->Session->read('OrderConsignee.area')}}{{$this->Session->read('OrderConsignee.address')}}</span> </li>
        </ul>
        {{elseif $specialShipPromotion && !$limit_ship}}
        您购买的商品中有可以运送到特定地址的优惠。 <button id="specialShipPromotion_btn" class="btn-small btn-warning">使用优惠</button>
        {{/if}}

        {{if $specialShipPromotion }}

        {{if (!$specialShipPromotionId)}}<h2>收货人信息</h2>
        {{if $limit_ship}}
        <p class="text-warning">请选择以下自提点：</p>
        {{/if}}
        {{/if}}
        <div id="specialShipPromotion" style="{{if !$limit_ship || $specialShipPromotionId }}display: none{{/if}}">
            <form method="post" action="{{$this->Html->url(array('action' => 'info', '?' => array('action' => 'savePromo')))}}">
            <ul id="ul_special_promotion" class="list-group">
                {{loop $specialShipPromotion $key $item}}
                    <li item-id="{{$item['id']}}" item-addr-mark="{{!empty($item['need_address_remark'])}}" class="list-group-item {{$specialShipPromotionId == $item['id']? 'active':''}}">
                        {{if isset($item['price'])}}
                        <span class="text-price-small pull-right">{{$this->Number->precision($item['price'], 2)}}</span>{{/if}}
                        <small>{{if $item['time']}}{{$item['time']}}派送到{{/if}}{{$item['address']}}</small></li>
                {{/loop}}
            </ul>
                <input type="text" class="form-control" placeholder="收货人姓名" id="p_consignee_name" name="consignee_name" value="{{$this->Session->read('OrderConsignee.name')}}">
                <input type="text" class="form-control" placeholder="手机号" id="p_consignee_mobile" name="consignee_mobilephone" value="{{$this->Session->read('OrderConsignee.mobilephone')}}" >
                <input type="text" class="form-control" placeholder="详细地址" id="p_consignee_address" style="display: none" name="consignee_address" value="">
                <input type="hidden" id="special_ship_promotion" name="ship_promotion" value="{{$specialShipPromotionId}}">

            <button id="specialShipPromotion_submit" type="submit" class="btn btn-warning">保存</button>
            </form>
        </div>
        {{/if}}

        {{if !$limit_ship}}
		<div id="part_consignee" style="display:{{$specialShipPromotionId ? 'none':''}}">
			{{if $has_chosen_consignee}}
				{{template orders/order_consignee}}
			{{else}}
				{{template orders/edit_consignee}}
			{{/if}}
		</div>
        {{/if}}

		<div id="part_payTypeAndShipType"><!-- template orders/info_shiptype--></div>
		
		<div id="part_invoice"><!-- template orders/order_invoice--></div>
		<hr/>

        <!--<div>-->
            <!--<a class="btn btn-default" href="/carts/listcart.html">返回购物车修改</a>-->
        <!--</div>-->

		<div class="o_show">
            {{loop $cart->brandItems $brandItem}}
		<h4>分享人：{{$brands[$brandItem->id]}}</h4>
		<div class="p-list">
			<table  class="table table-bordered">
			<tbody>
            {{loop $brandItem->items $pid $item}}
			<tr><td>{{$item->name}}</td>
			<td style="width: 80px; font-size: 0.8em">单价：{{$this->Number->precision($item->price, 2)}}</td>
			<td>×{{$item->num}}</td>
			<td>{{$this->Number->precision($item->price*$item->num, 2)}}</td>
			</tr>
			{{/loop}}
			</tbody>
			</table>
            <p>
                <label>给卖家留言：<input type="text" maxlength="50" class="remark" name={{"remark_".$brandItem->id}} /> </label>
            </p>
            <?php $coupons = $coupons_of_products[$brandItem->id]; if(!empty($coupons)){ ?>
            <h4>可用优惠券：</h4>
            <ul>
            <?PHP foreach($coupons as $coupon) {
                $applied =$brandItem->coupon_applied($coupon['CouponItem']['id']); ?>
                <li><a data-coupon_item_id="{{$coupon['CouponItem']['id']}}" data-brandId="{{$brandItem->id}}" class="coupon {{if $applied}}coupon_applied{{/if}}" href="javascript:"><input type="checkbox" {{if $applied}}checked="checked"{{/if}}>
                    {{$coupon['Coupon']['name']}} <span style="color: red">{{$this->Number->precision($coupon['Coupon']['reduced_price']/100, 2)}}</span> {{if $coupon['Coupon']['type'] == COUPON_TYPE_TYPE_SHARE_OFFER}}(红包券，每件商品可使一张，本单本店共{{$brandItem->total_num()}}件){{/if}}
                    <span class="glyphicon glyphicon-ok" style="display: none"></span></a><span class="applied_result"></span>
                    </li>
            <?PHP } ?>
             </ul>
            <?php } ?>
		</div>
        {{/loop}}
        </div>
        <div class="clearfix voffset3">
            {{if $score_usable>0}}
            可用<span id="score_use_avail">{{$score_usable}}</span>个积分抵用<span id="score_money">{{$score_money}}</span>元 <input id="chb_use_score" type="checkbox"/>
            {{else}}
            <span>暂无积分</span> <span class="text-right">收货后评价此单最低可获<span id="score_will_got">{{$score_got}}</span>积分</span>
            {{/if}}
        </div>
        <div class="clearfix voffset3">
            <h2 id="coupon_code_title">我有优惠码<span class="caret"></span></h2>
            <div id="coupon_code_content">
            <p id="coupon_code_msg" style="color:red"></p>
            <input id="coupon_code_text" type="text" value="" name="coupon_code"> <a id="coupon_code_apply" href="javascript:;" class="btn btn-warning">应用</a>
            </div>

            <?php $coupons = $coupons_of_products[0]; if(!empty($coupons)){ ?>
            <h4>可用优惠券：</h4>
            <ul>
                <?PHP foreach($coupons as $coupon) {
                $applied =$brandItem->coupon_applied($coupon['CouponItem']['id']); ?>
                <li><a data-coupon_item_id="{{$coupon['CouponItem']['id']}}" data-brandId="0" class="coupon {{if $applied}}coupon_applied{{/if}}" href="javascript:"><input type="checkbox" {{if $applied}}checked="checked"{{/if}}>
                    {{$coupon['Coupon']['name']}} <span style="color: red">{{$this->Number->precision($coupon['Coupon']['reduced_price']/100, 2)}}</span> {{if $coupon['Coupon']['type'] == COUPON_TYPE_TYPE_SHARE_OFFER}}(红包券，每件商品可使一张，本单本店共{{$brandItem->total_num()}}件){{/if}}
                    <span class="glyphicon glyphicon-ok" style="display: none"></span></a><span class="applied_result"></span>
                </li>
                <?PHP } ?>
            </ul>
            <?php } ?>
        </div>
        <div>
		    <ul class="pull-right list-unstyled">
                    <li>已优惠：<span id="total_reduced_span">{{$this->Number->precision($total_reduced, 2)}}</span></li>
                    <li>运费：{{$this->Number->precision($shipFee, 2)}}</li>
                    <li>总价<small>(含运费)</small>：<span id="total_price_span">{{$this->Number->precision($cart->total_price() + $shipFee, 2)}}</span></li>
                <li><a id="submit-button" class="btn btn-warning" onclick="return checkAddress();"
                   href="{{$this->Html->url('/orders/balance/'.($specialShipPromotionId?'?ship_promotion='.$specialShipPromotionId:''))}}">提交订单</a></li>
            </ul>
        </div>

	</div>
</div>
<script>

    $(document).ready(function () {

        var $scoreUseAvail = $('#score_use_avail');

        function update_price(data) {
            $('#total_price_span').text(utils.toFixed(data.total_price, 2));
            $('#total_reduced_span').text(utils.toFixed(data.total_reduced, 2));
            $scoreUseAvail.text(data.score_usable);
            $('#score_money').text(data.score_money);
            $('#score_will_got').text(utils.toFixed(data.total_price * 100));
            $('#chb_use_score').prop('checked', data.score_used);
        }

        (function() {
            var couponCodeMsg = $('#coupon_code_msg');
            $('#coupon_code_title').click(function () {
                $('#coupon_code_content').toggle();
            });
            $('#coupon_code_apply').click(function () {
                $code = $.trim($('#coupon_code_text').val());
                if ($code) {
                    $.post('/orders/apply_coupon_code.json', {'code': $code}, function (data) {
                        if (data && data.success) {
                            couponCodeMsg.text('成功应用了优惠码:' + $code + ", 优惠:" + utils.toFixed(data.reduced, 2));
                        } else if (data && data.error) {
                            couponCodeMsg.text(data.error);
                        }
                        update_price(data);
                    }, 'json');
                } else {
                    couponCodeMsg.text('您输入的优惠码为空');
                    return false;
                }
            });

            $('#chb_use_score').click(function(){
                var This = $(this);
                $.post('/orders/apply_score.json', {'use' : This.is(":checked"), 'score':$scoreUseAvail.text()}, function(data){
                    if (data && data.success) {
                        update_price(data);
                    } else {
                        utils.alert('使用积分失败', function(){}, 1000);
                    }
                }, 'json');
            });

            $('input[type="checkbox"]').on('click', function (e) {
                e.preventDefault();
            });

            $('li > a.coupon').click(function () {
                var $this = $(this);
                var brandId = $this.attr('data-brandId');
                var coupon_item_id = $this.attr('data-coupon_item_id');
                var action = $this.hasClass('coupon_applied') ? 'unapply' : 'apply';
//            var $notifyDlg = utils.progress_notify('');
                $.post('/orders/apply_coupon.json', {'brand_id': brandId, 'coupon_item_id': coupon_item_id, 'action': action}, function (data) {
//                $notifyDlg.modal('close');
                    if (data) {
                        if (data.changed) {
                            var $checked = $("[data-coupon_item_id='" + coupon_item_id + "'] > input[type=checkbox]");
                            $checked.prop("checked", !$checked.prop("checked"));

                            $("[data-coupon_item_id='" + coupon_item_id + "']").toggleClass('coupon_applied');
                            update_price(data);
                        } else {
                            if (data.reason == 'not_login') {
                                utils.alert('您长时间未操作，请重新登录', function () {
                                    window.location.href = '/users/login?refer=' + encodeURIComponent('/carts/listcart');
                                });
                            } else if (data.reason == 'share_type_coupon_exceed') {
                                utils.alert('优惠券使用超出限制');
                            }
                        }
                    }
                }, 'json');
            });
        })();


        var $specialShipPromotion = $('#specialShipPromotion');
        var $btnSubmit = $('#specialShipPromotion_submit');
        var $linkUsePromotion = $('#link_use_promotion');
        var lists = $specialShipPromotion.find('li');
        lists.click(function (e) {
            lists.filter('.active').removeClass('active');
            var $this = $(this);
            $this.toggleClass('active');
            var $pConsigneeAddress = $('#p_consignee_address');
            if($this.attr('item-addr-mark') == '1') {
                $pConsigneeAddress.show();
            }  else {
                $pConsigneeAddress.hide();
            }
        });

        $btnSubmit.click(function (e) {
            var activeLi = $specialShipPromotion.find('li.active');
            if (activeLi.length == 1) {

                if(activeLi.attr('item-addr-mark') == '1') {
                    var $pConsigneeAddress = $('#p_consignee_address');
                    if ($pConsigneeAddress.val() == '') {
                        utils.alert('请输入详细地址');
                        $pConsigneeAddress.focus();
                        e.preventDefault();
                        return false;
                    }
                }

                var $itemId = activeLi.attr('item-id');
                $('#special_ship_promotion').val($itemId);
            } else {
                utils.alert('请选择特惠信息运送的时间地点');
                e.preventDefault();
                return false;
            }

            if ($('#p_consignee_name').val() == '') {
                utils.alert('请输入收货人姓名');
                e.preventDefault();
                return false;
            }

            if ($('#p_consignee_mobile').val() == '') {
                utils.alert('请输入收货人手机号码');
                e.preventDefault();
                return false;
            }
        });

        $('#specialShipPromotion_btn').click(function () {
            $specialShipPromotion.toggle();
            if ($specialShipPromotion.is(":visible")) {
                $('#part_consignee').hide();
                $(this).text("不使用特惠");
            } else {
                $('#part_consignee').show();
                $(this).text("使用特惠");
            }
        });

        {{if $is_mobile}}
            var referurl = document.referrer;
            var host = referurl.split('/',3);
            if(host[2] == '{{WX_HOST}}'){
                $('#return_label').on('click',function(){
                    window.location.href = referurl;
                })
            }else{
                $('#return_label').on('click',function(){
                    window.location.href = '/carts/listcart.html';
                })
            }
        {{/if}}
    });

    function checkAddress(){
        if ($('input[name="data[OrderConsignee][ship_promotion]"]').val() == "") {
            if ($('input[name="data[OrderConsignee][id]"]:radio').size() > 0) {
                if ($('input[name="data[OrderConsignee][id]"]:checked').val() == "") {
                    alert("请先点击“保存收货人信息”");
                    return false;
                }
            }
        }

        if ($('#special_ship_promotion').size() > 0) {
            var val = $('#special_ship_promotion').val();
            if (val == '' || val == '0' ) {
                alert("请先保存收货人信息!");
                return false;
            }
        }

        var $saveConsigneeSbt = $('#save_consignee_sbt');
        if ($saveConsigneeSbt.size() > 0) {
            utils.alert_one('请先保存收货人信息', '好的', function () {
                $('html, body').animate({
                    scrollTop: $('#part_consignee').offset().top
                }, 200)
            });
            return false;
        }

        var link = $("#submit-button").attr("href");
        var params = (link.indexOf("?")>-1)?"&":"?";
        $(".remark").each(function(){
            var input_name=$(this).attr("name");
            var input_value=$(this).val();
            if(input_value!=""){
                params = params+input_name+"="+input_value+"&";
            }
        });
        params=params.substring(0,params.length-1);
        $("#submit-button").attr("href",link+params);
        return true;
    }
</script>