{{$this->Html->script(array('trace/tracekit.min.report.js', 'shake/shake.js', 'howler/howler.min.js', '3dfalling/rotate3Di.min.js', '3dfalling/3d-falling-leaves.js'), array('block' => 'scriptBottom'));}}
{{$this->Html->css(array('apple_game.css',));}}
<div class="container">
    <div class="row text-center">
        <h2>摇下50个，nana家大米免费兑</h2> <a name="top"></a>
        <div class="col-xs-16">剩余机会<span class="apple_numbers" id="apple_times_left">{{$total_times}}</span>次 &nbsp; 已摇下<span class="apple_numbers" id="apple_got_cnt">{{$total_apple}}</span>个
            = <span class="apple_numbers" id="rice_got_cnt">{{$total_apple*10}}</span>g大米
            <a href="#get_coupons" class="btn btn-warning">兑换</a>
        </div>
    </div>
    <div id="apple_tree" class="row voffset3">
        <div style="position: relative; left: 0; top: 0;">
      <img id="apple_tree_img" src="{{$this->Html->assetUrl('/img/apple201410/apple_tree.gif')}}" style="position: relative; top: 0; left: 0;"/>
      <img id="shaking_tips_pic" class="shaking_tips_pic" src="{{$this->Html->assetUrl('/img/apple201410/rock.png')}}" style="position: absolute; top: 0; left: 0; display:none"/>
        </div>
    </div>
    <div class="row voffset3 text-center">
        <div>
        <button id="shake_btn" class="btn btn-warning" type="button" style="display:{{$total_times <= 0 ? 'none' : ''}}">手机摇一摇<small><em>(iPhone请调大音量)</em></small></button>
        <button id="share_btn" class="btn btn-warning" type="button" style="display:{{$total_times > 0 ? 'none' : ''}}">朋友帮我摇</button>
        <button id="assignWXSubscribeTimes_2" type="button" class="btn btn-warning" style="display:{{$total_times > 0 ? 'none' : ''}}">关注加机会</button>
        </div>
        <div class="voffset3">
            <!--<a href="#award_names" class="apple_nav_links"><small>获奖名单</small></a>-->
            <a href="/users/my_coupons.html" class="apple_nav_links"><small>我的粮票</small></a>
            <a href="#friends" class="apple_nav_links"><small>谁帮我了</small></a>
            <a href="#friendsIhelped" class="apple_nav_links"><small>我帮过谁</small></a>
            <a href="/?from=game_home" class="apple_nav_links"><small>美食特产</small></a>
            <br>
            <a class="apple_nav_links" href="#more_chances"><small>如何获得更多机会</small></a>
            <!--<a href="#about_apple" class="apple_nav_links"><small>QA妹子分享富士</small></a>-->
        </div>
    </div>

    <div id="get_coupons" class="bg_green pad">
        <div class="title">兑换规则</div>
        <div class="con">1、让小伙伴点击分享的苹果游戏链接获机会, 摇苹果可以换稻花香大米喔~<br />
            2、500g大米起兑(50个苹果=500g、100个苹果=1000g大米)；<br />
            3、大米券在<a href="/categories/special_list/special_for_rice_coupons.html">特惠专场</a>结账时直接抵现金使用，使用期限11月15号前。</div>
        <button id="get_coupons_button" type="button" class="btn-sm btn-warning">我要兑换</button>
        <a class="btn-sm" href="/users/my_coupons.html" >查看我的优惠券</a>
    </div>
    <div class="bg_white pad">
        <div class="title"><img src="{{$this->Html->assetUrl('/img/logo.png')}}" border="0" /></div>
        <div class="con_aboutus">[朋友说]同事间互相分享家乡特产的创业网站,<br />我们都是城市里的乡下人。<br /><strong>
            <a class="attention" href="http://mp.weixin.qq.com/s?__biz=MjM5MjY5ODAyOA==&mid=200769784&idx=1&sn=8cce5a47e8a6123028169065877446b9#rd">点击关注</a></strong>
        </div>
    </div>
    <div class="bg_orange pad">
        <div id="more_chances" class="title">如何获得更多摇一摇机会</div>
        <div class="con clearfix">
            <div class="fl">1、关注我们的服务号, <strong class="red">每天</strong>都可以领取<strong class="red">5</strong>次机会。</div>
            <div class="fl"><a id="assignWXSubscribeTimes" href="javascript:;" class="draw radius10">领取</a></div>
        </div>
        <div class="con clearfix">
            <div class="fl">2、分享给你的朋友们,每个朋友点击过来就增加<strong class="red">1</strong>次机会。</div>
            <div class="fl"><a id="share_btn_2" href="javascript:;" class="draw radius10">立即分享</a></div>
        </div>
    </div>
    <div  id="friends" class="bg_green pad">
        <div class="title"><strong class="red">{{count($helpMe)}}</strong>个朋友帮了我</div>
            {{if $helpMe}}
            {{loop $helpMe $key $item}}
                <div class="con clearfix">
                    <div class="fl name">{{$item['nickname']}}</div>，<div class="fl">摇到了<strong class="red">{{$item['got']*10}}</strong>g大米</div>
                </div>
            {{/loop}}
            {{else}}
                <div class="con clearfix">还没有朋友帮过你啊，马上分享给朋友们吧！</div>
            {{/if}}
    </div>

    <div id="friendsIhelped" class="bg_orange pad">
        <div class="title">我帮过<strong class="red">{{count($meHelp)}}</strong>个朋友</div>
        {{if $meHelp}}
        {{loop $meHelp $key $item}}
        <div class="con clearfix">
            <div class="fl name">{{$item['nickname']}}</div>，<div class="fl">摇到了<strong class="red">{{$item['got']*10}}</strong>g大米</div>
        </div>
        {{/loop}}
        {{else}}
        <div class="con clearfix">你竟然还没有帮过朋友！</div>
        {{/if}}
    </div>

    <div class="top"><a class="top" href="#"></a></div>

    </div>
<script>
    var $got_wx_sub_times = "{{$got_wx_sub_times}}";
    var shake_pic_url = '{{$this->Html->assetUrl("/img/apple201410/apple_shakev1.gif")}}';
    var sound_url = 'http://51daifan-images.stor.sinaapp.com/tree_shake.mp3';
    var share_png_url = '{{$this->Html->assetUrl("/img/apple201410/share.png")}}';
</script>
{{$this->Html->script(array('apple_game.js?v2'));}}