{{$this->Html->script(array('trace/tracekit.min.report.js', 'shake/shake.js', 'howler/howler.min.js', '3dfalling/rotate3Di.min.js', '3dfalling/3d-falling-leaves.js', 'jquery/jquery.fullPage.min.js'), array('block' => 'scriptBottom'));}}
<style>
    #yao_jp_div > span {
        border: 1px solid darkkhaki;
        margin-bottom: 2px;
        text-align: center;
        display: block;
    }
    .selected {
        background-color: lightgreen;
    }

    .bootbox-body {
        text-align: left;
    }
    .modal-footer {
        text-align: center;
    }

    *{ margin:0; padding:0; font-family:"微软雅黑";}
    img{ border:0;}
    ul,li{ list-style:none;}
    .clearfix{*zoom:1;}
    .clearfix:after{content: ".";display: block;height: 0;clear: both; visibility: hidden;}
    .fl{ float:left;}
    .fr{ float:right;}
    .radius10{
        -moz-border-radius: 0.417em;/* Gecko browsers */-webkit-border-radius: 0.417em;/* Webkit browsers */border-radius:0.417em;/* W3C syntax */
    }

    .bg{ width:100%; /*position:absolute; top:0; left:0;*/ z-index:0;}
    .bg img,.index_bottom img,.index_title img,.tree img{ width:100%;}

    /*index*/
    .index_bottom{ width:100%; position:absolute; bottom:0; left:0; z-index:1;}
    .index_title{ width:100%; position:absolute; top:1.3em; left:0; z-index:2;}
    .tree{ width:100%; position:absolute; top:4.5em; left:0; z-index:2;}
    .rock_num{ margin:2em 1.2em 0 1.2em; background-color:#ffffff; font-size:0.8em; color:#333333; padding:0.6em 0.5em 0.6em 0.917em; height: 3em; line-height:2em;}
    .rock_num .fl a{ color:#ff483a; text-decoration:none; text-align:center; width:100%;}
    .rock_num .fr a{ display:block; color:#ffffff; text-decoration:none; background-color:#ff483a; font-size:1.1em; padding:0 0.625em;}
    .help{ display:block; margin:0.8em 1.2em 0 1.2em; text-align:center; margin-bottom:0; background-color:#ff483a; font-size:1em; color:#ffffff; padding:0.4em 0.5em 0.4em 0.917em;  line-height:2em; text-decoration:none;}
    .seckill{ display:block; margin:0.8em 1.2em 0 1.2em; text-align:center; margin-bottom:0; background-color:#cccccc; font-size:1em; color:#ff483a; padding:0.4em 0.5em 0.4em 0.917em;  line-height:2em; text-decoration:none;}
    .word_link{ text-align:center; font-size:1em; margin-top:1em;}
    .word_link a{ text-decoration:none; color:#333333;}
    .next{ display:block; text-align:center; position:absolute; bottom:0.3em; width:100%; z-index:2;}
    .next img{ width:1.2em; height:0.875em;}

    /*产品故事*/
    .viewport {min-width:300px; max-width:640px; margin:0 auto;}
    .viewport img{max-width: 640px;min-width: 320px;width: 100%;}
    .viewport ul{ /*position:absolute; bottom:0.3em;*/ width:30%; margin: 0 auto; /*left:35%;*/}
    .viewport ul li img{ width:1.2em; height:0.875em;max-width:1.2em;min-width:1.2em;}


    /*排行榜*/
    /*.ranking{ *//*position:absolute; z-index:2;*//* top:1.2em; left:0; width:100%;}*/
    .ranking img{ width:100%;}
    .ranking_notice{ margin:1em 1.2em 1.5em 1.2em; background-color:#ffffff; font-size:0.8em; color:#333333; text-align:center; padding:0.3em;  line-height:2em;}
    .ranking ul{ font-size:0.8em; color:#ffffff; width:50%; float:left;}
    .ranking ul li span{ float:left; display:block; line-height:1.8em;}

    /*关于我们加关注*/
    .guanzhu{ /*position:absolute;*/ z-index:2; padding-top:1.5em; left:0; width:100%;}
    .guanzhu ul{ padding-top:1.5em;}
    .guanzhu ul li{ color:#666666; font-size:1em; padding:0.5em 1.2em 0 1.2em; line-height:1.3em;}
    .attention{ display:block; margin:2em 1.2em 0 1.2em; text-align:center; margin-bottom:0; background-color:#ff483a; font-size:1em; color:#ffffff; padding:0.4em 0.5em 0.4em 0.917em; line-height:2em; text-decoration:none;}
    .pyshuo{ display:block; margin:0.8em 1.2em 0 1.2em; text-align:center; margin-bottom:0; background-color:#ffa531; font-size:1em; color:#ffffff; padding:0.4em 0.5em 0.4em 0.917em;  line-height:2em; text-decoration:none;}
    .aboutus{ margin-top:2em; text-align:center; font-size:0.8em; color:#666666; line-height:1.3em;}
    .aboutus img{ width:4.125em; height:1.667em;}

    /*游戏规则*/
    .rule{ /*position:absolute;*/ z-index:2; margin-top:5em; left:0; width:100%;}
    .rule ul{ margin:0 1.2em;}
    .rule ul li{ float:left; font-size:0.9em;}
    .rule ul li.title{ background-color:#75b3bc; color:#ffffff; height:2.083em; line-height:2.083em; text-align:center;}
    .rule ul li.con{ border-bottom:1px #c1e2e5 solid; text-align:center; height:2.083em; line-height:2.083em; color:#333333;}
    .rule p{ padding:0.2em 1.2em 0.3em 1.2em;; line-height:1.8em; font-size:0.9em; color:#333333;}
    .rule_bottom{ /*position:absolute;*/ bottom:0; left:0; z-index:1;}
</style>
<div id="fullpage">
    <div class="section">
        <div class="index_title"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/index/title.png')}}" /></div>
        <div class="tree">
            <img id="apple_tree_img" src="{{$this->Html->assetUrl('/img/apple201410/btc/index/tree.png')}}"/>
            <div class="rock_num radius10">
                <div class="fl">已经摇下<span id="apple_got_cnt">{{$total_apple}}</span>个, 还有<span id="apple_times_left">{{$total_times}}</span>次机会!&nbsp;<a href="#X">[加机会]</a></div>
                <div class="fr"><a class="radius10" href="#get_coupons">兑换</a></div>
            </div>
            <a id="share_btn"  href="javascript:;" class="help radius10" style="display:{{$total_times > 0 ? 'none' : ''}}">找人帮忙</a>
            <a href="javascript:;" class="seckill radius10">秒杀一箱 <span>12月10日八点开始</span></a>
            <div class="word_link">
                <a href="#get_coupons">[游戏规则]</a>&nbsp;&nbsp;&nbsp;
                <a href="#top_list">[排行榜]</a>&nbsp;&nbsp;&nbsp;
                <a href="#product_story">[产品故事]</a>
            </div>
        </div>
        <a class="next" href="#X"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/index/next.gif')}}" /></a>
        <div class="index_bottom"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/index/bottom.jpg')}}" /></div>
        <div class="bg"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/index/bg1.jpg')}}" /></div>
    </div>

    <div class="section">
        <div id="product_story" class="viewport">
            <a href="/b/qian_yang_wan_cheng.html">
            <img src="{{$this->Html->assetUrl('/img/apple201410/btc/story/img01.jpg')}}" />
            <img src="{{$this->Html->assetUrl('/img/apple201410/btc/story/img02.jpg')}}" />
            <img src="{{$this->Html->assetUrl('/img/apple201410/btc/story/img03.jpg')}}" />
            <img src="{{$this->Html->assetUrl('/img/apple201410/btc/story/img04.jpg')}}" />
            </a>
            <ul class="clearfix">
                <li class="fl"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/story/next.gif')}}" /></li>
                <li class="fr"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/story/top.gif')}}" /></li>
            </ul>
        </div>
    </div>

    <div class="section">
    <div class="ranking" style="background-image: url({{$this->Html->assetUrl('/img/apple201410/btc/ranking/bg.jpg')}}); min-height: 100%">
        <img src="{{$this->Html->assetUrl('/img/apple201410/btc/ranking/title.png')}}" />
        <div class="ranking_notice radius10">你当前摇到了10个,还没有进入排名,要多多努力哦!</div>
        <div style="margin:0 1.2em;">
            <ul>
                <li class="clearfix">
                    <span style="width:40%;">1、H***y</span>
                    <span style="width:60%;">摇到了98个</span>
                </li>
                <li class="clearfix">
                    <span style="width:40%;">1、H***y</span>
                    <span style="width:60%;">摇到了98个</span>
                </li>
                <li class="clearfix">
                    <span style="width:40%;">1、H***y</span>
                    <span style="width:60%;">摇到了98个</span>
                </li>
            </ul>
            <ul>
                <li class="clearfix">
                    <span style="width:40%;">1、H***y</span>
                    <span style="width:60%;">摇到了98个</span>
                </li>
                <li class="clearfix">
                    <span style="width:40%;">1、H***y</span>
                    <span style="width:60%;">摇到了98个</span>
                </li>
                <li class="clearfix">
                    <span style="width:40%;">1、H***y</span>
                    <span style="width:60%;">摇到了98个</span>
                </li>
            </ul>
        </div>
    </div>
    </div>

    <div id="get_coupons" class="section">
        <div style="background-image: url({{$this->Html->assetUrl('/img/apple201410/btc/rule/bg.jpg')}}); height: 100%">
    <div class="rule">
        <ul class="clearfix">
            <li class="title" style="width:30%;">摇下数量</li>
            <li class="title" style="width:70%;">购买折扣</li>
        </ul>
        <ul class="clearfix">
            <li class="con" style="width:30%;">30个</li>
            <li class="con" style="width:70%;">5元优惠券</li>
        </ul>
        <ul class="clearfix">
            <li class="con" style="width:30%;">50个</li>
            <li class="con" style="width:70%;">10元优惠券</li>
        </ul>
        <ul class="clearfix">
            <li class="con" style="width:30%;">80个</li>
            <li class="con" style="width:70%;">15元优惠券</li>
        </ul>
        <ul class="clearfix">
            <li class="con" style="width:30%;">100个</li>
            <li class="con" style="width:70%;">30元优惠券或参加免费秒杀</li>
        </ul>
        <br />
        <p>1、摇下100个，即参加每天8点开始的免费万橙秒杀活动，每天100箱，送完即止；</p>
        <p>2、活动结束时摇下橙子数量前20名，每人获得价值268元礼品装一箱；</p>
        <p>3、活动结束日期12月18号23点59分，活动最终解释权归朋友说所有。</p>
        <a id="get_coupons_button" href="javascript:;" class="pyshuo radius10">马上兑换</a>
    </div>
    <ul class="clearfix iconlink_ul">
        <li class="fl"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/index/next.gif')}}" /></li>
        <li class="fr"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/aboutus/top.gif')}}" /></li>
    </ul>
    <div class="rule_bottom"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/rule/bottom.png')}}" /></div>
            </div>
    </div>

    <div class="section">
        <div style="background-image: url({{$this->Html->assetUrl('/img/apple201410/btc/aboutus/bg.jpg')}}); height: 100%">
    <div class="guanzhu">
        <img src="{{$this->Html->assetUrl('/img/apple201410/btc/aboutus/title.png')}}" style="width:100%"/><br />
        <ul>
            <li>1、关注朋友说，每天可领取5次游戏机会；</li>
            <li>2、活动期间每购买1件商品增加10次游戏机会;</li>
            <li>3、小伙伴点击分享的摇一摇游戏链接增加1次游戏机会。</li>
        </ul>
        <a id="assignWXSubscribeTimes" href="javascript:;" class="attention radius10">关注加机会</a>
        <a href="/" class="pyshuo radius10">去朋友说看看</a>
        <div class="aboutus">
            <img src="{{$this->Html->assetUrl('/img/apple201410/btc/aboutus/logo.png')}}" /><br /><br />
            [朋友说]同事间互相分享家乡特产的创业网站,<br />
            我们都是城市里的乡下人。
        </div>
    </div>
    <a class="next" href="#X"><img src="{{$this->Html->assetUrl('/img/apple201410/btc/aboutus/top.gif')}}" /></a>
   </div>
        </div>
    </div>

    <?php /*
    <div  id="friends" class="bg_green pad section">
        <div class="title"><strong id="helpme_cnt" class="red">{{count($helpMe)}}</strong>个朋友帮了我</div>
            {{if $helpMe}}
            {{loop $helpMe $key $item}}
                <div class="con clearfix">
                    <div class="fl name">{{$item['nickname']}}</div>，<div class="fl">摇到了<strong class="red">
                    {{if $game_type == 'rice201411'}}
                    {{$item['got']*10}}</strong>g大米
                    {{else}}
                    {{ $item['got'] }}</strong>个
                    {{/if}}
                </div>
                </div>
            {{/loop}}
            {{else}}
                <div class="con clearfix">还没有朋友帮过你啊，马上分享给朋友们吧！</div>
            {{/if}}
    </div>

    <div id="friendsIhelped" class="bg_orange pad section">
        <div class="title">我帮过<strong class="red">{{count($meHelp)}}</strong>个朋友</div>
        {{if $meHelp}}
        {{loop $meHelp $key $item}}
        <div class="con clearfix">
            <div class="fl name">{{$item['nickname']}}</div>，<div class="fl">摇到了<strong class="red">
            {{if $game_type == 'rice201411'}}
            {{$item['got']*10}}</strong>g大米
            {{else}}
            {{ $item['got'] }}</strong>个
            {{/if}}
         </div>
        </div>
        {{/loop}}
        {{else}}
        <div class="con clearfix">你竟然还没有帮过朋友！</div>
        {{/if}}
    </div>
    */ ?>
    {{if $game_type == 'qinyBTC1412'}}
    <div id="top_list" class="bg_green pad section">
        <div class="title">排行榜<small id="top_list_update"></small></div>
        <div id="top_list_contents">
        </div>
    </div>
    {{/if}}
</div>

<span id="helpme_cnt_n" class="hide">{{count($helpMe)}}</span>

<script>
    var $got_wx_sub_times = "{{$got_wx_sub_times}}";
    var shake_pic_url = '{{$this->Html->assetUrl("/img/apple201410/btc/index/tree.gif")}}';
    var sound_url = 'http://51daifan-images.stor.sinaapp.com/tree_shake.mp3';
    var share_png_url = '{{$this->Html->assetUrl("/img/apple201410/btc/index/share.png")}}';
    var game_type = '{{$game_type}}';
    var game_page_title = {{if !empty($title_func)}}function(total){ return {{$title_func}};} {{else}} null {{/if}};
    var game_obj_name = '{{$game_obj_name}}';
    var game_least_change = '{{$game_least_change}}';

        $(document).ready(function(){
            $('#fullpage').fullpage();

            {{if $game_type == 'mihoutao1411'}}
            $('#yao_jp').click(function(){
                function getRandomInt(min, max) {
                    return Math.floor(Math.random() * (max - min)) + min;
                }

                var finish = false;

                setTimeout(function() {
                    $.getJSON('/apple_201410/jp/{{$game_type}}', {}, function (data) {
                        finish = true;
                        if (data.success) {
                            setTimeout(function () {
                                $items.removeClass('selected');
                                var jp = $("#jp_mihoutao_" + data.award_type);
                                jp.addClass('selected');
                                if (data.award_type != 0) {
                                    utils.alert("恭喜您摇到" + jp.text() + ", <a href='/users/my_coupons.html' class='apple_medium_links'>查看我的优惠券</a>!");
                                } else {
                                    var msg = '手气不太好啊, 过一会儿再试试！';
                                    if (data.msg == 'not_enough_100'){ msg = '累计已摇下' + data.total + '个，还不满100个，请继续努力~';}
                                    else if (data.msg == 'game_end') {
                                        msg = '活动已结束';
                                    }
                                    utils.alert(msg);
                                }
                            }, 1000);
                        } else {
                            $items.removeClass('selected');
                            $("#jp_mihoutao_0").addClass('selected');
                        }

                    });
                }, 2000);

                var $items = $('#yao_jp_div').find('span');
                var interval = 200;
                function jumping() {
                    $items.removeClass('selected');
                    $($items.get(getRandomInt(1, 1000) % $items.length)).addClass('selected');
                    if (!finish) {
                        setTimeout(jumping, interval);
                    }
                }

                setTimeout(jumping, interval);
            });
            {{/if}}

                {{if $game_type == 'qinyBTC1412'}}

                    var in_top_list = 100;
                    var imgUrl = $('#apple_tree_img').attr('src');
                    var lineLink = '{{WX_HOST}}/t/ag/{{$game_type}}.html?{{if $trid}}trid={{urlencode($trid)}}{{/if}}';
                    function descContent() {
                        var total = $.trim($('#apple_got_cnt').text());
                        total = total != '' ? parseInt(total) : 0;
                        var helpme_cnt_txt = $.trim($('#helpme_cnt_n').text());
                        var helpme_cnt = (helpme_cnt_txt == '' ? 0 : parseInt(helpme_cnt_txt));
                        return '万橙，比褚橙不止甜了一点，'+helpme_cnt+'个好基友帮忙，我已经摇下'+total+'个万橙，排名第xx名 -- 朋友说';
                    }
                    var shareTitle = '摇下100个，1箱万橙免费领';
                    var appid = '{{WX_APPID}}';

                    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
                    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                        WeixinJSBridge.on('menu:share:appmessage', function(argv){
                            utils.wx_to_friend(appid, imgUrl, lineLink, descContent(), shareTitle);
                        });
                        WeixinJSBridge.on('menu:share:timeline', function(argv){
                            utils.wx_to_timeline(appid, imgUrl, lineLink, '', descContent());
                        });
                    }, false);
                    {{/if}}
        });

    function showAfterGotCallback(times, total){}
    function update_top_list(list, update_time) {
        if(list) {
            var $list_div = $('#top_list_contents');
            $list_div.html('');
            $('#top_list_update').html('更新时间:' + update_time);
            for(var i = 0; i < list.length; i++) {
                var item = list[i];
                $list_div.append('<div class="con clearfix"><div class="fl name">'+item[0]+
                '</div>，<div class="fl">摇到了<strong class="red">'+item[1]+
                '</strong>个</div></div>');
            }
        }
    }
</script>
{{$this->Html->script(array('apple_game.js?v17'));}}