{{$this->Html->script(array('trace/tracekit.min.report.js', 'shake/shake.js', 'howler/howler.min.js', '3dfalling/rotate3Di.min.js', '3dfalling/3d-falling-leaves.js', 'jquery/jquery.fullPage.min.js'), array('block' => 'scriptBottom'));}}
<style>
    #yao_jp_div > span {
        border: 1px solid darkkhaki;
        margin-bottom: 2px;
        text-align: center;
        display: block;
    }
    .selected {
        background-color: lightgreen;
    }

    .modal-footer { margin-top:0 }
    .modal-body {padding-bottom:10px}

    .bootbox-body {
        text-align: left;
    }
    .modal-footer {
        text-align: center;
    }

    .october-leaf {
        position: absolute;
        background-color: transparent;
        background-image: url('http://51daifan.sinaapp.com/img/apple201410/leavesv2.png');
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0);
    }
    .apple_share {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #000;
    }

    .apple_share.in {
        opacity: .9;
    }

    img {
        max-width: 100%;
    }

    a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }

    .apple_numbers {
        color: red;
        font-size: 20px;
    }


    *{ margin:0; padding:0; font-family:"微软雅黑";}
    img{ border:0;}
    ul,li{ list-style:none;}
    .clearfix{*zoom:1;}
    .clearfix:after{content: ".";display: block;height: 0;clear: both; visibility: hidden;}
    .fl{ float:left;}
    .fr{ float:right;}
    .radius10{
        -moz-border-radius: 0.417em;/* Gecko browsers */-webkit-border-radius: 0.417em;/* Webkit browsers */border-radius:0.417em;/* W3C syntax */
    }

    /*index*/
    .index_title{ width:100%; text-align:center; padding:0.8em 0 0.5em 0; color:#ff4a49; font-size:1.2em;}
    .tree{ width:100%; border-bottom:2px #b1d649 solid; text-align:center;}
    .tree img{ width:16em;}
    .rock_num{ width:92%; margin:0 auto; margin-top:1.2em; background-color:#ffffff; font-size:0.9em; color:#666666; height:2em; line-height:2em; border:1px #ff4a49 solid; overflow:hidden;}
    .rock_num .fl span{ color:#ff4a49; font-size:1.3em; font-weight:bold;}
    .rock_num .fr a{ display:block; color:#ffffff; text-decoration:none; background-color:#ff483a; font-size:1.1em; padding:0 0.9em; height:2em;}
    .share{ text-align:center; padding-top:0.8em; display:block;}
    .share img{ width:92%;}
    .word_link{ text-align:center; font-size:0.9em; margin-top:1em;}
    .word_link a{ text-decoration:none; color:#ff4a49;}
    /*层提示*/
    .tip{ width:70%; margin:0 auto; background-color:#474747; line-height:2.5em; height:2.5em; color:#ffffff; font-size:0.9em; text-align:center;}
    .tip_bg{ background-color:#ffffff; width:90%; padding:1.5em; border:1px #dddddd solid; text-align:center;}
    .tip_bg a.close img{ width:2em; height:2em; position:absolute; right:-1em; top:-1em;}
    .tip_bg p img{ width:5.3em; height:5em;}
    .tip_bg span{ display:block; padding:1em 0; font-size:1em; color:#666666;}
    .tip_bg span label{ font-size:0.8em; color:#999999;}
    .tip_bg span strong{ color:#ff4a49;}
    .cjbtn{ display:block; margin:0 auto; width:6em; height:2em; background-color:#ff4a49; color:#ffffff; text-decoration:none; text-align:center; line-height:2em; font-size:1em;}

    /*谁帮了我*/
    .help_title{ background-color:#fab53c; text-align:center; height:2.5em; line-height:2.5em; font-size:1.5em; color:#ffffff;}
    .help_list{ padding:0.9em 0 0 0.5em;}
    .help_list ul{ float:left; padding-left:0.8em; line-height:1.5em; color:#666666; font-size:0.9em; width:45%;}
    .help_list ul span{ color:#ff4a49;}

    /*加机会*/
    .chance_title{ background-color:#ff4a49; text-align:center; height:2.5em; line-height:2.5em; font-size:1.5em; color:#ffffff;}
    .chance_tip{ color:#666666; font-size:0.9em; line-height:1.8em; padding:1em 0.5em 0 0.7em;}
    .chancebtn{ display:block; text-align:center; text-decoration:none; width:92%; margin:0 auto; margin-top:1.2em; background-color:#ffa93a; font-size:0.9em; color:#ffffff; height:2.2em; line-height:2.2em; overflow:hidden; font-size:1.1em;}
    .sharebtn{ margin:0 auto; margin-top:0.8em; display:block; text-align:center; text-decoration:none; width:92%; font-size:0.9em; color:#ff4a49; border:1px #ff4a49 solid; height:2.2em; line-height:2.2em; overflow:hidden; font-size:1.1em;}

    /*游戏规则*/
    .rule_a{ color:#ff4a49; text-decoration:none; font-size:1.1em;}
    .rule_bg{ background-color:#ffffff; line-height:1.6em; color:#666666; font-size:0.9em; width:80%; padding:1.2em;}
    .rule_bg a.close img{ width:2em; height:2em; position:absolute; right:-1em; top:-1em;}
    .rule_bg .title{ font-size:1.2em; text-align:center; color:#ff4a49; padding-bottom:0.5em;}
    .rule_bg span,.chance_tip span{ color:#ff4a49;}

    /*米的故事*/
    .story img{ width:100%;}

    /*抽奖*/
    .cj{ text-align:center; margin-top:1.2em; position:relative;}
    .cj img{ width:18em; height:18em;}
    .cj a img{ width:6em; height:7em; position:absolute; top:50%; left:50%; margin-left:-3em; margin-top:-4em;}
    /*抽奖提示层*/
    .cj_tip{ border-top:1px #dddddd solid; padding-top:0.8em; font-size:0.9em; color:#666666; text-align:left; color:#666666; line-height:1.7em;}
    .cj_tip label{ color:#ff4a49;}
    .cj_tip i{ text-decoration:underline;}
</style>
<div id="fullpage">
    <div class="section">
        <div class="index_title">摇下20粒，西瑞东北珍珠米免费抢</div>
        <div class="tree"><img id="apple_tree_img"  src="http://51daifan-images.stor.sinaapp.com/as/rice_xirui/index/mi.gif" /></div>
        <div class="rock_num radius10">
            <div class="fl" style="padding-left:0.9em;">已摇下<span id="apple_got_cnt">{{$total_apple}}</span>个, 还有<span id="apple_times_left">{{$total_times}}</span>次机会!</div>
            <div class="fr"><a href="#about_us">加机会</a></div>
        </div>
        <a id="share_btn" href="javascript:;" class="share"><img src="http://51daifan-images.stor.sinaapp.com/as/rice_xirui/index/shareicon.png" /></a>
        <div class="word_link">
            <a href="#get_coupons">游戏规则</a>&nbsp;&nbsp;&nbsp;
            <a href="#product_story">米的故事</a>&nbsp;&nbsp;&nbsp;
            <a id="show_help_btn" href="#friends">谁帮了我</a>&nbsp;&nbsp;&nbsp;
            <a href="#my_award">我的奖品</a>
        </div>
        <!--摇大米提示-->
        <div class="tip radius10" style="display:none;">你摇到了&nbsp;<strong>2</strong>&nbsp;粒大米</div>
        <!--抽奖提示-->
        <div style="display:none;">
            <div style="position:relative;" class="tip_bg radius10">
                <a class="close" href="#X"><img src="http://51daifan-images.stor.sinaapp.com/as/rice_xirui/index/close.png" /></a>
                <p><img src="http://51daifan-images.stor.sinaapp.com/as/rice_xirui/index/lipin.png" /></p>
                <span>恭喜你, 摇到&nbsp;<strong>20</strong>&nbsp;粒, 可以参与抽奖了</span>
                <a href="#X" class="cjbtn radius10">去抽奖</a>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="story">
            <a href="/b/xi_rui_ji_tuan.html"><img src="http://51daifan-images.stor.sinaapp.com/as/rice_xirui/story/story.jpg" /></a>
        </div>
        <ul class="clearfix">
            <li class="to_top"><a href="#firstPage"><img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/btc/story/top.gif')}}" /></a></li>
        </ul>
    </div>

    <div class="section">

        <div class="chance_title">游戏规则</div>
        <div class="chance_tip">
            <ul>
                <li>1、摇下20颗有机会抽奖，抽奖之后摇下的数量清零；清零后可以继续摇参与抽奖；</li>
                <li>2、活动结束时间：12月28日23:59:59；</li>
                <li>3、发货时间：兑换后下单就发货，活动最终解释权归朋友说所有。</li>
            </ul>
            <ul>
                <li><span>西瑞奖品</span></li>
                <li>一等奖：西瑞东北珍珠米2.5kg </li>
                <li>二等奖：西瑞谷物圈100g</li>
                <li>三等奖：红包5元/3元（仅限朋友说西瑞店铺所有产品使用）</li>
                <li>参与奖：红包1元（仅限朋友说西瑞店铺所有产品使用）</li>
            </ul>
            <div style=" text-align:center; padding-top:0.2em;"><a href="javascript:;" class="rule_a radius10" onclick="$('#view_get_jiang_pin').show();">查看奖品领取方式</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="view_my_coupons" href="/users/my_coupons.html" class="rule_a radius10">我的优惠券</a></div>
        </div>
        <ul class="clearfix" style="width: 30%; margin: 0 auto; margin-top: 0.5em;">
            <li class="to_top"><a href="#firstPage"><img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/btc/story/top.gif')}}" /></a></li>
        </ul>
    </div>

    <div class="section">
        <div class="ranking" style="background-image: url({{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/rice_xirui/award/bg.jpg')}}); min-height: 100%; padding: 0.5em 0.5em 0.2em 0.5em">
            <img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/rice_xirui/award/title.png')}}" />
            <a href="#firstPage" class="help radius10">去秒杀</a>
            <div class="ranking_notice radius10">今日已秒出 <span id="award_list_total"></span>箱 <span style="padding-left: 2em" id="award_list_update">正在更新...</span></div>
            <div id="award_contents" style="margin:0 1.2em; height: 100%; overflow-y: hidden; overflow-x:hidden;">
            </div>
            <ul class="clearfix" style="width: 30%; margin: 0 auto; float: none">
                <li class="to_top"><a href="#firstPage"><img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/btc/story/top.gif')}}" /></a></li>
            </ul>
        </div>
    </div>

    <div class="section">
        <div class="ranking" style="background-image: url({{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/rice_xirui/ranking/bg.jpg')}}); min-height: 100%">
            <img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/rice_xirui/ranking/title.png')}}" />
            <div class="ranking_notice radius10">我的排名：<span id="top_list_mine"></span><span style="padding-left: 2em">活动已结束，前20名请拨打<a href="tel:13693655401">13693655401</a>领取奖品</span><!--你当前摇到了10个,还没有进入排名,要多多努力哦!--></div>
            <div style="margin:0 1.2em; height: 100%; overflow-y: hidden; overflow-x:hidden;">
                <ul id="top_list_contents_left"></ul>
                <ul id="top_list_contents_right"></ul>
            </div>
            <ul class="clearfix" style="width: 30%; margin: 0 auto; float: none">
                <li class="to_top"><a href="#firstPage"><img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/btc/story/top.gif')}}" /></a></li>
            </ul>
        </div>
    </div>

    <div class="section">

        <div class="chance_title">摇一摇加机会秘诀</div>
        <div class="chance_tip">
            <ul>
                <li>1、关注朋友说，每天可领取2次游戏机会；</li>
                <li>2、活动期间每购买1件商品增加2次游戏机会;</li>
                <li>3、小伙伴点击分享的摇一摇游戏链接增加1次游戏机会。</li>
            </ul>
            <a id="assignWXSubscribeTimes" href="javascript:;" class="chancebtn radius10">关注加机会</a>
            <a href="/?from=game_{{$game_type}}" class="sharebtn radius10">购物加机会</a>
            <a id="share_btn_2"  href="javascript:;" class="sharebtn radius10">分享好友求点</a>
        </div>
        <ul class="clearfix" style="width: 30%; margin: 0 auto; float: none; padding-top: 0">
            <li class="to_top"><a href="#firstPage"><img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/btc/story/top.gif')}}" /></a></li>
        </ul>

    </div>

    <div class="bg_green pad section">
        <div class="title"><span id="helpme_cnt_n" class="red ">{{count($helpMe)}}</span>个朋友帮了我</div>
        {{if $helpMe}}
        <ul>
        <?php $i=0; foreach($helpMe as $key => $item) { $i++; if($i >=60){break;} ?>
        <li class="con clearfix">
            {{$item['nickname']}}<strong class="red gots">{{ $item['got'] }}</strong>个
        </li>
        <?php } ?>
        </ul>
        {{else}}
        <div class="con clearfix">还没有朋友帮过你啊，马上分享给朋友们吧！
            <a id="share_btn_3" href="javascript:;" class="help">分享好友求助</a>
        </div>
        {{/if}}
        <ul class="clearfix" style="width: 30%; margin: 0 auto; float: none">
            <li class="to_top"><a href="#firstPage"><img src="{{$this->Html->assetUrl('http://51daifan-images.stor.sinaapp.com/as/btc/story/top.gif')}}" /></a></li>
        </ul>
    </div>
    </div>

    <?php /*
    <div  id="friends" class="bg_green pad section">
        <div class="title"><strong id="helpme_cnt" class="red">{{count($helpMe)}}</strong>个朋友帮了我</div>
            {{if $helpMe}}
            {{loop $helpMe $key $item}}
                <div class="con clearfix">
                    <div class="fl name">{{$item['nickname']}}</div>，<div class="fl">摇到了<strong class="red">
                    {{if $game_type == 'rice201411'}}
                    {{$item['got']*10}}</strong>g大米
                    {{else}}
                    {{ $item['got'] }}</strong>个
                    {{/if}}
                </div>
                </div>
            {{/loop}}
            {{else}}
                <div class="con clearfix">还没有朋友帮过你啊，马上分享给朋友们吧！</div>
            {{/if}}
    </div>

    <div id="friendsIhelped" class="bg_orange pad section">
        <div class="title">我帮过<strong class="red">{{count($meHelp)}}</strong>个朋友</div>
        {{if $meHelp}}
        {{loop $meHelp $key $item}}
        <div class="con clearfix">
            <div class="fl name">{{$item['nickname']}}</div>，<div class="fl">摇到了<strong class="red">
            {{if $game_type == 'rice201411'}}
            {{$item['got']*10}}</strong>g大米
            {{else}}
            {{ $item['got'] }}</strong>个
            {{/if}}
         </div>
        </div>
        {{/loop}}
        {{else}}
        <div class="con clearfix">你竟然还没有帮过朋友！</div>
        {{/if}}
    </div>
    */ ?>
</div>
<!--领奖方式层-->
<div id="view_get_jiang_pin" class="apple_share in modal" style="display:none;margin-top: 40px; margin-left: auto; margin-right: auto;" onclick="$(this).hide();">
    <ul class="rule_bg radius10" style="position:relative;">
        <li class="title">一等奖和二等奖领奖方式</li>
        <li>在电脑上登录天猫网站<span>www.tianmao.com</span>，搜索<span>”西瑞食品旗舰店”</span>,进入店铺，找客服回复以下文字：</li>
        <li><span>一等奖回复: </span></li>
        <li style="text-decoration:underline;"><i>您好！我是朋友说用户，通过摇一摇游戏，获得西瑞集团提供的2.5kg西瑞东北珍珠米，我的兑换码是XXXXXX，感谢西瑞集团！</i></li>
        <li><span>二等奖回复: </span></li>
        <li style="text-decoration:underline;"><i>您好！我是朋友说用户，通过摇一摇游戏，获得西瑞集团提供的100g西瑞谷物圈，我的兑换码是XXXXXX，感谢西瑞集团！</i></li>
        <li><a class="close" href="javascript:;" onclick="$('#view_get_jiang_pin').hide()"><img src="http://51daifan-images.stor.sinaapp.com/as/rice_xirui/index/close.png" /></a></li>
    </ul>
</div>

<script>
    var $today_got_wx = "{{$today_got_wx}}";
    var shake_pic_url = '{{$this->Html->assetUrl("http://51daifan-images.stor.sinaapp.com/as/rice_xirui/index/migif.gif?1")}}';
    var sound_url = 'http://51daifan-images.stor.sinaapp.com/tree_shake.mp3';
    var share_png_url = '{{$this->Html->assetUrl("http://51daifan-images.stor.sinaapp.com/as/rice_xirui/index/share.png")}}';
    var yao_tips_png = '{{$this->Html->assetUrl("http://51daifan-images.stor.sinaapp.com/as/btc/index/yao.png")}}';
    var game_type = '{{$game_type}}';
    var game_page_title = {{if !empty($title_func)}}function(total){ return {{$title_func}};} {{else}} null {{/if}};
    var game_obj_name = '{{$game_obj_name}}';
    var game_least_change = '{{$game_least_change}}';
    var awarded = '{{$awarded}}';
    var game_user_total = '{{$game_user_total}}'; //loading by update_top_list
    var $shaking_tips_png;

    var $share_before_coupon = '{{$share_before_coupon}}';
    var share_coupon_msg = '';
    var share_coupon_title = '';
    var $share_div;

    $(document).ready(function(){
        $('#fullpage').fullpage({
            touchSensitivity: 15,
            css3: true,
            loopBottom: true,
            loopTop: true,
            anchors: ['firstPage', 'product_story', 'get_coupons', 'award_list', 'top_list', 'about_us', 'friends']
        });

        var today_sold_out = '{{$today_sold_out}}';

        var miaosha_hour = function(){
            var now = new Date();
            return now.getHours();
        };
        function can_miaosha() {
            var now = new Date;
            return (!today_sold_out && now.getHours() >= 8 && now.getHours() < 23);
        }

        var friendGots = $('.gots').map(function () {
            var v = $.trim($(this).text());
            return v ? parseInt(v) : 0;
        }).get();


        var miaosha_span = $('#miaosha_time_desc');
        var miaosha_btn = $('#miaosha_btn');

        miaosha_btn.click(function(){

            if (can_miaosha()) {
                var lefttime = 60;
                utils.progress_notify('正在秒杀...(<span id="miaosha_left">'+lefttime+'</span>)');
                setTimeout( function() {
                    $.getJSON('/apple_201410/jp/{{$game_type}}?' + Math.random(), {}, function (data) {
                        utils.close_notify();
                        if (data.success) {
                            if (data.award_type != 0) {
                                var tips = '恭喜您秒中价值'+data.award_type+'元的优惠券，可兑一箱冰糖橙！<b>分享到朋友圈就能领取啦～</b>';
                                utils.alert_one(tips, '分享到朋友圈', function(){
                                    if($shaking_tips_png){
                                        $share_before_coupon = true;
                                        awarded = true;
                                        $share_div.show();
                                    }
                                });
                            } else {
                                var msg = '';
                                if (data.msg == 'not_enough_100') {
                                    msg = '秒杀失败！摇下越多机会越大，您摇下的橙子还不够多，请继续努力';
                                }
                                else if (data.msg == 'no_more') {
                                    msg = '本时段秒杀商品已经全部抢完。 <a href="#award_list">查看中奖名单</a>';
                                    miaosha_btn.removeClass('help').addClass('seckill');
                                    today_sold_out = true;
                                    checking_miaosha();
                                }
                                else if (data.msg == 'game_end') {
                                    msg = '活动已结束';
                                } else {
                                    msg = '手气不太好啊, 请重试！';
                                }
                                utils.alert(msg, null);
                            }
                        } else {
                        }
                    });
                }, 1000);

                var timespan = $('#miaosha_left');
                function decreaseTime() {
                    lefttime--;
                     timespan.text(lefttime);
                    if (lefttime > 0) {
                        setTimeout(decreaseTime, 1000);
                    }
                }
                setTimeout(decreaseTime, 1000);
            } else {
                utils.alert( today_sold_out ? '本时段已经全部抢完，请等待下一时段开秒，<a href="#award_list">查看中奖名单</a>。 您也可以选择兑换优惠券。' : '整点开秒，还差'+format_left(calculate_left(), ''), function(){ checking_miaosha(); });
            }
        });

        function azero(v) {
            return  (v < 10) ?  ('0'+''+v) : v;
        }

        function calculate_left() {
            var now = new Date;
            if (now.getHours() >= miaosha_hour()) {
                if (now.getHours() >= 22) {
                    now.setDate(now.getDate() + 1);
                    now.setHours(8);
                } else if (now.getHours() < 8) {
                    now.setHours(8);
                } else {
                    now.setHours(now.getHours() + 1);
                }
            }
            now.setMinutes(0);
            now.setSeconds(0);
            return (now.getTime() - new Date()) / 1000;
        }

        function format_left(dif, gap) {
            var hour = Math.floor(dif / 3600);
            var left = Math.floor(dif % 3600);
            var min = Math.floor(left / 60);
            var seconds = Math.floor(left % 60);
            return azero(hour) + (gap ? gap : '小时') + azero(min) + (gap ? gap : '分') + azero(seconds) + (gap ? '' : '秒');
        }


        var timer_intervalId = null;
        function checking_miaosha() {
            if (can_miaosha()) {
                miaosha_btn.removeClass('seckill').addClass('help');
                miaosha_span.text('立即秒杀');
            } else {
                var dif = calculate_left();
                if (timer_intervalId) {
                    clearInterval(timer_intervalId);
                    timer_intervalId = null;
                }
                timer_intervalId = setInterval(function () {

                    if (dif < 1) {
                        clearInterval(timer_intervalId);
                        timer_intervalId = null;
                        today_sold_out = false;
                        checking_miaosha();
                        return;
                    }

                    miaosha_span.text('倒计时 ' + format_left(dif, ':'));
                    dif--;
                }, 1000);
            }
        }

        function total_not_spent() {
            var total = $.trim($('#apple_got_cnt').text());
            total = total != '' ? parseInt(total) : 0;
            return total;
        }

        function get_total() {
            var total = total_not_spent();
            return (total < game_user_total ? game_user_total : total);
        }

        function show_got_coupon() {
            utils.alert_one('恭喜您秒杀成功，请注意在有效期结束前使用。还可以抢268元终极大奖哦', '查看我的优惠券', function(){ window.location.href = '/users/my_coupons.html';});
        }

        var imgUrl = $('#apple_tree_img').attr('src');
        var lineLink = '{{WX_HOST}}/t/ag/{{$game_type}}.html?{{if $trid}}trid={{urlencode($trid)}}{{/if}}&from=awarded';
        var appid = '{{WX_APPID}}';
        share_coupon_msg = '基友们太给力！我已领取1箱冰糖橙，赶紧点还有268元终极大奖，兄弟们，继续摇起！';
        share_coupon_title = '妈呀，我终于获奖了，1箱冰糖橙到手！';

        function share_before_coupon_msg() {
            utils.wx_to_friend(appid, imgUrl, lineLink, share_coupon_msg, share_coupon_title);
            show_got_coupon();
        }

        function share_before_coupon_tl() {
            utils.wx_to_timeline(appid, imgUrl, lineLink, '', share_coupon_msg);
            show_got_coupon();
        }

        function help_me_cnt() {
            var helpme_cnt_txt = $.trim($('#helpme_cnt_n').text());
            return (helpme_cnt_txt == '' ? 0 : parseInt(helpme_cnt_txt));
        }

        function dabai_percent() {
            var total = get_total();

            var win = 0;
            for(var x in friendGots) {
                if (total > friendGots[x]) {
                    win++;
                }
            }
            return (win == friendGots.length) ? 100 : utils.toFixed(win*100/friendGots.length, 0)
        }

        function desc_cmp_friends() {
            var desc = '摇一摇，一千箱冰糖橙免费送! 我已摇下' + get_total() + '个';
            if (friendGots && friendGots.length > 0) {
                var dabaiPercent = dabai_percent();
                desc += (dabaiPercent == 100 ? ', 打败了所有好友，哈哈' : (dabaiPercent == 0 ? ', 朋友圈里垫底 ^_^， 快点我吧' : ', 打败了' + dabaiPercent + '%的好友！'));
            } else {
                desc += ', 还没人帮过我！快来帮我吧';
            }
            return desc;
        }

        checking_miaosha();

        function desc_normal() {
            var total = get_total();
            var my_list = parseInt($.trim($('#top_list_mine').text()));
            return '万橙，比褚橙不只甜了一点点，'+ help_me_cnt() +'个好基友帮忙，我已经摇下'+total+'个万橙' + (my_list > 0 && my_list<1000 ? '，排名第' + my_list + '名' : '') + '－ 朋友说';
        }
        var shareTitle = '摇下100个，1箱万橙免费领';

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        function can_exchange_desc() {
            var total = total_not_spent();
            if (total >= 100) {
                return '2张30元优惠券';
            } else if (total >= 80) {
                return '1张20元＋1张15元优惠券';
            } else if (total >= 50) {
                return '1张20元优惠券';
            } else if (total >= 30) {
                return '1张15元优惠券';
            } else {
                return false;
            }
        }

        function exchane_coupon_click() {
            var canExchangeDesc = can_exchange_desc();
            var msg = '<div class="alert alert-danger" style="margin-bottom: 0.5em; margin-top:0.5em">'+ (canExchangeDesc? '恭喜，您可以兑换' + canExchangeDesc : '亲，再摇'+(30 - total_not_spent())+'个就可以兑换啦^_^')+'</div>' +
                    '<div class="panel panel-warning"><div class = "panel-heading">兑换规则</div>' +
                    '<table class="table  table-condensed">' +
                    '<tr><td>30个</td><td>15元优惠券(7.4折)</td></tr>' +
                    '<tr><td>50个</td><td>20元优惠券(6.5折)</td></tr>' +
                    '<tr><td>100个</td><td>2张30元优惠券(4.8折)</td></tr>' +
                    '</table></div>'
                    ;
            if (game_user_total > total_not_spent()) {
                msg += '<div class="text-right"><a href="/users/my_coupons.html">查看我的优惠券</a></div>';
            }
            if (canExchangeDesc) {
                utils.alert_two(msg, '去兑换', '继续摇', function () {
                    $.fn.fullpage.moveTo('get_coupons');
                }, null, {top:'5%', 'margin-top':'0'});
            } else {
                utils.alert_one(msg, '继续摇', null, {top:'5%', 'margin-top':'0'});
            }
        }

        $('#go_exchange_btn').click(function(){
            exchane_coupon_click();
        });

        $('#view_my_coupons').click(function(e){
            if (game_user_total <= total_not_spent()) {
                e.preventDefault();
                utils.alert_one('您还没摇到优惠券', '关闭');
                return false;
            }
        });

        function share_timeline(){
            var $r = getRandomInt(1, 10);
            var sh_src = 'def';
            if ($r >= 8) {
                sh_src = 'jj1';
            } else if ($r >= 5) {
                sh_src = 'zr';
            }
            lineLink += '&src=tl';

            var desc;
//                    if (sh_src == 'jj1') {
//                        desc = '药不能停，出门不吃（摇）怎行？有' + help_me_cnt() + '个好基友给我送药了！已基本治愈！领药请点击';
//                    } else if(sh_src == 'zr') {
//                        desc = '摇一摇，一千箱冰糖橙免费送！我已摇下' + get_total() + '个，你也来试试吧';
//                    } else {
                desc = desc_cmp_friends();
//                    }
            utils.wx_to_timeline(appid, imgUrl, lineLink, '', desc);
        }

        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            if (typeof(WeixinJSBridge) != 'undefined') {
                WeixinJSBridge.on('menu:share:appmessage', function (argv) {
                    if ($share_before_coupon) {
                        share_before_coupon_msg();
                        $share_before_coupon = false;
                    } else if (awarded) {
                        utils.wx_to_friend(appid, imgUrl, lineLink, share_coupon_msg, share_coupon_title);
                    } else {
                        utils.wx_to_friend(appid, imgUrl, lineLink, desc_cmp_friends(), shareTitle);
                    }

                });
                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    if ($share_before_coupon) {
                        share_before_coupon_tl();
                        $share_before_coupon = false;
                    } else if (awarded) {
                        utils.wx_to_timeline(appid, imgUrl, lineLink, '', share_coupon_msg);
                    } else {
                        share_timeline();
                    }
                });
            }
        }, false);

        var top_list = {{if $top_list}}{{$top_list}} {{else}}''{{/if}};
        if (top_list && top_list.top_list){update_top_list(top_list.top_list); }

        var award_list = {{if $award_list}} {{$award_list}} {{else}}''{{/if}};
        if (award_list && award_list.award_list){update_award_list(award_list.award_list); }
    });

    function game_coupon_message(times, total) {
        if (total < 30)  { return '<br/><small>差<span class="apple_numbers">' + (30 - total) + '</span>个就能兑换<span class="apple_numbers">15</span>元优惠券</small>'; }
        else if (total < 50) {return '<br/><small>差<span class="apple_numbers">' + (50 - total) + '</span>个就能兑换<span class="apple_numbers">30</span>元优惠券</small>';}
        else if (total < 100) {return '<br/><small>差<span class="apple_numbers">' + (100 - total) + '</span>个就可以参加一箱免费秒杀</small>';}
        else return '';
    }

    function showAfterGotCallback(times, total, got){
    }

    function update_top_list(top_list) {
        var uid = '{{$CurrentUser["id"]}}';
        var list = top_list['list'],  update_time = top_list['update_time'], user_pos = top_list['user_pos'];
        if (user_pos && user_pos[uid]) {
            $('#top_list_mine').text(user_pos[uid] > 0 ? user_pos[uid] : '1000名以后');
        }
        if (top_list['user_total'] && top_list['user_total'][uid]) {
            game_user_total = top_list['user_total'][uid];
        }
        if(list) {
            $('#top_list_update').html('更新时间:' + update_time);
            var uls = [$('#top_list_contents_left'), $('#top_list_contents_right')];
            uls[0].html(''); uls[1].html('');

            var mid = Math.round(list.length/2);
            for(var i = 0; i < list.length; i++) {
                var item = list[i];
                uls[ i >= mid ? 1 : 0 ].append('<li class="clearfix"><span style="width:75%;">'+(i+1)+'、'+item[0]+'</span> <span style="width:25%;">'+item[1]+'个</span> </li>');
            }
        }
    }

    function update_award_list(award_list) {
        var list = award_list['list'],  update_time = award_list['update_time'], today_awarded = award_list['today_awarded'];
        $('#award_list_total').text(today_awarded ? today_awarded : 0);
        if(list) {
            $('#award_list_update').html('更新时间:' + update_time);
            var $awardContents = $('#award_contents');
            $awardContents.html('<ul></ul><ul></ul><ul></ul>');

            var uls = [];
            uls.push($awardContents.find('ul:nth-child(1)'));
            uls.push($awardContents.find('ul:nth-child(2)'));
            uls.push($awardContents.find('ul:nth-child(3)'));
//            uls.push($awardContents.find('ul:nth-child(4)'));

            for(var i = 0; i < list.length; i++) {
                var item = list[i];
                uls[ i % uls.length ].append('<li>'+item+'</li>');
            }
        }
    }
</script>
{{$this->Html->script(array('apple_game.js?v24'));}}