<h2 class="Content-title" id="item-detail-title"><?php echo $Product['Product']['name']; ?></h2>
{{if $top_category_id ==114}}
<p>单价：<strong> ￥<?php echo $Product['Product']['price']; ?></strong></p>
<div  id="productinfo" class="clearfix" style="padding-bottom:10px;">	    
    <div class="input-group" style="float:left;width:120px;">
	  <span class="reduce input-group-addon"  item-id="{{$Product['Product']['id']}}" >-</span>
	  <input id="pamount-{{$Product['Product']['id']}}" size="3" value="1" class="form-control" name="shoppingnum" type="text" readonly="readonly">
	  <span class="add input-group-addon"  item-id="{{$Product['Product']['id']}}">+</span>
	</div>
	<a aria-disabled="false" style="float:left;margin-left:20px;" class="btn btn-primary shopping" id="single-item-{{$Product['Product']['id']}}" item-id="{{$Product['Product']['id']}}" item-name="{{$Product['Product']['name']}}" item-price="{{$Product['Product']['price']}}"
href="javascript:void(0);">添加到购物车 </a>
	
</div>
<div>
	<a style="color:red;" href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($Product['Brand']['created'])).'/'.$Product['Product']['brand_id'])}}">查看商家更多商品 </a>
</div>
{{/if}}
<div class="row">
	<div class="col-xs-12 col-md-6">	
		<img src="{{$this->Html->url($Product['Product']['coverimg'])}}" style="width:100%;"
		onerror="this.src='{{$this->Html->url('/img/nophoto.gif')}}'">
	</div>
</div>
<div class="tabs">
	<div  class="tab-content">
		<div id="product-description">
		    <div class="Content-body">
	        <div class="clear"></div>
		    <?php echo $Product['Product']['content']; ?>
		    </div>
		</div>
		<div id="product-reviews">
			{{template comments/add}}
		</div>
	</div>
	
</div>