<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" style="height: 66px">
                <span>头像:</span>
                <img class="pull-right" height="46px" src="{{$this->Html->url('/img/default_user_icon.jpg')}}"/></li>
            </li>
            <li class="list-group-item">
                <span>昵称:</span>
                <span class="text-right pull-right">{{$profile['nickname']}}</span>
            </li>
            <li class="list-group-item">
                <span>性别:</span>
                <span class="text-right pull-right"><?php  if ($profile['sex'] === 0 ){ echo '男';} else if ($profile['sex'] === 1){ echo '女';} else { echo '-';} ?></span>
            </li>
            <li class="list-group-item">
                <span>单位:</span>
                <span class="text-right pull-right">{{if $profile['companies']}}{{$profile['companies']}}{{else}}暂无{{/if}}</span>
            </li>
            <li class="list-group-item">
                <span>个性签名:</span>
                <span class="text-right pull-right">
                    {{if $profile['bio']}}$profile['bio']{{else}}暂无{{/if}}
                </span>
            </li>
        </ul>
    </div>

    <!-- 绑定账号和电子邮件 -->
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <span>用户ID:</span>
                <span class="text-right pull-right">{{$profile['id']}}</span>
            </li>
        </ul>
    </div>
</div>
{{template footer}}