<div style="margin-top: 44px;">
    <div class="classlist">
        <a href="javascript:history.go(-1)" class="back"></a>
        {{$group_buy_info['name']}}
        <a href="/" class="home"></a>
    </div>
    <div class="group_buying">
        <img src="{{$product_info['Product']['listimg']}}" border="0"/>
    <span>
        <div><em>团购</em>&nbsp;{{$product_info['Product']['name']}}</div>
        <b>满{{$group_buy_info['group_buy_num']}}人团购价：¥{{$group_buy_info['group_price']}}</b>
        <ul class="clearfix">
            <li class="fl">售价: ¥{{$product_info['Product']['price']}}<i>(市场价¥{{$group_buy_info['market_price']}})</i></li>
            <li class="fr">预计{{$consignment_date}}发货</li>
        </ul>
        {{if !empty($group_tag)&&!empty($group_members)}}
        <div class="group_buying_num">已有{{count($group_members)}}/{{$group_buy_info['group_buy_num']}}人参团</div>
        <dl class="clearfix">
            {{loop $group_members $member}}
                <dd class="fl">{{$member['User']['nickname']}}已参团</dd>
            {{/loop}}
        </dl>
        {{/if}}
        <div class="group_buying_operate">
            {{if empty($group_tag)}}
                <a href="#" class="group_buying_btn" id="originate_group_buy">发起我的团购</a>
            {{else}}
                {{if $invite}}
                    <a href="#" class="group_buying_btn" id="invite_friend_buy">邀请好友参团</a>
                {{else}}
                    <a href="#" class="group_buying_btn" id="join_group_buy">立即参团</a>
                {{/if}}
            {{/if}}
            <a href="/group_buy/group_buy_rules/{{$group_buy_info['id']}}" class="detailed_rules">活动细则</a>
        </div>
    </span>
    </div>
</div>

<div class="tipslayer_share" style="display: none;"><div style="width: 90%; margin: 0 auto; font-size: 1.3em;">点击右上角“…”，分享给好友或朋友圈。</div></div>
<div class="tipslayer" style="display: none;">
    <h1 class="tipslayer_h1">温馨提示</h1>
    <p class="tipslayer_content">参团时按售价支付，参团人数达到上限，为您返现，如不满团无法取消订单，快呼朋唤友参团吧！详见活动细则</p>
    <div class="clearfix paybtn">
        <a href="#X" class="fl" id="cancel_join_group">取消</a>
        {{if empty($group_tag)}}
            <a href="/group_buy/group_buy/{{$group_buy_info['id']}}" class="fr">继续支付</a>
        {{else}}
            {{if !$invite}}
                <a href="/group_buy/group_buy/{{$group_buy_info['id']}}/{{$group_tag}}" class="fr">继续支付</a>
            {{/if}}
        {{/if}}
    </div>
</div>
<div class="tipslayer_bg" style="display: none;"></div>

<script>
    $(document).ready(function () {
        var $originateGroupBuy = $('#originate_group_buy');
        var $inviteFriendBuy = $('#invite_friend_buy');
        var $joinGroupBuy = $('#join_group_buy');
        var $cancelJoinGroup = $('#cancel_join_group');
        var $tipslayerBg = $('div.tipslayer_bg');
        var $tipslayer = $('div.tipslayer');
        var $tipslayerShare = $('div.tipslayer_share');

        $inviteFriendBuy.on('click',function(){
            $tipslayerBg.show();
            $tipslayerShare.show();
        });

        $tipslayerBg.on('click', function () {
            hide_layer();
        });

        $cancelJoinGroup.on('click', function () {
            hide_layer();
        });

        $originateGroupBuy.on('click', function () {
            join_group();
        });

        $joinGroupBuy.on('click', function () {
            join_group();
        });

        function hide_layer() {
            $tipslayerBg.hide();
            $tipslayer.hide();
            $tipslayerShare.hide();
        }

        function join_group() {
            $tipslayerBg.show();
            $tipslayer.show();
        }
    });
</script>

{{if $is_weixin}}
<script>
    wx.ready(function () {
        var share_string = '{{$share_string ? $share_string :"1"}}';
        var to_timeline_title = '{{$group_buy_info["name"]}}';
        var to_friend_title = '{{$group_buy_info["name"]}}';
        var to_friend_link = document.URL.split('?')[0]+'?trstr='+ share_string + '&share_type=appMsg';
        var to_timeline_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=timeline';
        var imgUrl = "{{$this->Html->assetUrl($product_info['Product']['listimg'])}}";
        var desc = '{{$group_buy_info["desc"]}}！';
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            desc: desc,
            link: to_friend_link,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if(share_string != '0'){
                    setTimeout(function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                    }, 500);
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if(share_string != '0'){
                    setTimeout(function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                    }, 500);
                }
            }
        });
    });
</script>
{{/if}}