<link href="/static/weshares/css/order-list.css?v0.0.3" rel="stylesheet">
<div class="row">
    <div class="classlist">
        <a href="/weshares/view/{{$weshareId}}" class="back"></a>
        订单统计
        <a href="/weshares/user_share_info/{{$user_id}}" class="home"></a>
    </div>
</div>
<br><br>
{{if !empty($summery['details'])}}
<div class="row">
    <h4>总计</h4>
    <table class="table">
        <thead>
            <tr>
                <td>商品</td>
                <td>数量</td>
                <td>金额</td>
            </tr>
        </thead>
        <tbody>
            {{loop $summery['details'] $item_summery}}
            <tr>
                <td>{{$item_summery['name']}}</td>
                <td>{{$item_summery['num']}}</td>
                <td>{{$item_summery['total_price']/100}}</td>
            </tr>
            {{/loop}}
        </tbody>
        <tr>
            <td colspan="3">总金额:&nbsp;<font color="red">{{$summery['real_total_price']}}</font>{{if $summery['real_total_price']!=($summery['all_total_price']/100)}}&nbsp;&nbsp;红包金额:&nbsp;<font color="red">{{($summery['all_total_price']/100)-$summery['real_total_price']}}</font>{{/if}}&nbsp;&nbsp;&nbsp;总购买人数:&nbsp;<font color="red">{{$summery['all_buy_user_count']}}</font></td>
        </tr>
    </table>
</div>
{{/if}}
<div class="row">
    <h4>订单列表</h4>

    <div class="col-md-12">
        <!-- Nav tabs category -->
        <ul class="nav nav-tabs">
            {{if count($orders[SHARE_SHIP_SELF_ZITI_TAG]) > 0}}
                <li class="active"><a href="#self-ziti-orders" data-toggle="tab" data-order-type="self_ziti">自提&nbsp;&nbsp;<font color="red">{{count($orders[SHARE_SHIP_SELF_ZITI_TAG])}}</font></a></li>
            {{/if}}
            {{if count($orders[SHARE_SHIP_KUAIDI_TAG]) > 0}}
                <li><a href="#kuaidi-orders" data-toggle="tab" data-order-type="kuaidi">快递&nbsp;&nbsp;<font color="red">{{count($orders[SHARE_SHIP_KUAIDI_TAG])}}</font></a></li>
            {{/if}}
            {{if count($orders[SHARE_SHIP_PYS_ZITI_TAG]) > 0}}
                <li><a href="#pys-ziti-orders" data-toggle="tab" data-order-type="pys_ziti">好邻居&nbsp;&nbsp;<font color="red">{{count($orders[SHARE_SHIP_PYS_ZITI_TAG])}}</font></a></li>
            {{/if}}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {{if count($orders[SHARE_SHIP_SELF_ZITI_TAG]) > 0}}
                <div class="tab-pane fade" id="self-ziti-orders">
                    <div class="panel-group">
                        <?php $current_orders=$orders[SHARE_SHIP_SELF_ZITI_TAG]; $current_tag = SHARE_SHIP_SELF_ZITI_TAG; ?>
                        {{template weshares/share_order_list_template}}
                    </div>
                </div>
            {{/if}}
            {{if count($orders[SHARE_SHIP_KUAIDI_TAG]) > 0}}
                <div class="tab-pane fade" id="kuaidi-orders">
                    <div class="panel-group">
                        <?php $current_orders=$orders[SHARE_SHIP_KUAIDI_TAG]; $current_tag = SHARE_SHIP_KUAIDI_TAG; ?>
                        {{template weshares/share_order_list_template}}
                    </div>
                </div>
            {{/if}}
            {{if count($orders[SHARE_SHIP_PYS_ZITI_TAG]) > 0}}
                <div class="tab-pane fade" id="pys-ziti-orders">
                    <div class="panel-group">
                        <?php $current_orders=$orders[SHARE_SHIP_PYS_ZITI_TAG]; $current_tag = SHARE_SHIP_PYS_ZITI_TAG; ?>
                        {{template weshares/share_order_list_template}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 30px;">

</div>
<div class="row" style="position: fixed;height: 46px;bottom: 0;width: 100%;">
    <div class="modal fade bs-example-modal-sm send-msg-dialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">发送到货提醒</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="arrival_msg" class="col-sm-2 control-label">到货提示</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="arrival_msg">我们团的产品已经到啦，速度来取哈。</textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-id="{{$weshareId}}" name="send_product_arrival_msg">发送</button>
                </div>
            </div>
        </div>
    </div>
    <button data-toggle="modal" data-target=".send-msg-dialog" type="button" class="btn btn-warning btn-lg btn-block" id="send_product_arrive_msg" style="border-radius:0px; display: none;">取货提醒</button>
</div>
<script>
    $(document).ready(function(){
        var orderType = '';
        $('ul.nav li:first a').trigger('click');
        $('ul.nav li a').on('click', function(){
            var  $me = $(this);
            orderType = $me.data('order-type');
            if(orderType=='self_ziti'){
                $('#send_product_arrive_msg').show();
            }else{
                $('#send_product_arrive_msg').hide();
            }
        });
        $('button.set-order-ship-code').on('click', function () {
            var $me = $(this);
            var $parent = $me.parentsUntil('div.col-xs-12');
            var $from = $me.parent('div');
            var $shipCompany = $('select[name=ship_company_code]', $from);
            var $shipCode = $('input[name=ship_code]', $from);
            var orderId = $me.data('order-id');
            var shipCompayId = $shipCompany.val();
            var shipCode = $shipCode.val();
            $.post('/weshares/set_order_ship_code', {
                order_id: orderId,
                company_id: shipCompayId,
                ship_code: shipCode,
                weshare_id:'{{$weshareId}}'
            }, function (data) {
                if(data['success']){
                    $parent.removeClass('offer-success').addClass('offer-warning');
                    $('div.shape-text', $parent).text('已发货');
                    $from.remove();
                }
            }, 'json');
        });
        $('button[name="set_order_shipped"]').on('click', function (e) {
            e.preventDefault();
            var $me = $(this);
            bootbox.confirm("确定已发货?", function (result) {
                if (!result) {
                    return;
                }
                var order_id = $me.data('id');
                var $parent = $me.parentsUntil('div.col-xs-12');
                $.getJSON('/weshares/confirmReceived/' + order_id, function (data) {
                    if (data['success']) {
                        $parent.removeClass('offer-success').addClass('offer-warning');
                        $('div.shape-text', $parent).text('已发货');
                        $me.next().remove();
                        $me.remove();
                    } else {
                        alert('修改失败');
                    }
                });
            });
        });
        $('button[name="send_product_arrival_msg"]').on('click', function (e) {
            e.preventDefault();
            var $msgInput = $('#arrival_msg');
            var msg = $msgInput.val();
            if(!msg||!msg.trim()){
                return;
            }
            var id = $(this).data('id');
            var postData = {msg: msg, share_id: id};
            $.ajax({
                type: 'POST',
                url: '/weshares/send_arrival_msg',
                data: JSON.stringify(postData), // or JSON.stringify ({name: 'jonas'}),
                success: function (data) {
                    $('div.send-msg-dialog').modal('hide');
//                    if(data['success']){
//                        alert('发送成功');
//                    }else{
//                        alert('发送失败,检查是否截单，是否登录');
//                    }
                },
                contentType: "application/json",
                dataType: 'json'
            });
        });
    });
</script>