<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>微分享</title>
    <!-- Bootstrap -->
    <link href="/static/weshares/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/weshares/css/share-info.css?v0.0.1" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row" style="background: #EAEAEA;">
        <div class="col-sm-4 col-md-4 user-details">
            <div class="user-image">
                <img style="width: 100px;height: 100px;" onerror="this.src='/img/default_user_icon.jpg'" src="{{$current_user['image']}}" alt="{{$current_user['nickname']}}" title="{{$current_user['nickname']}}" class="img-circle">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>{{$current_user['nickname']}}</h3>
                    <span class="help-block">分享 <span class="badge">{{$share_count}}</span> &nbsp;&nbsp;&nbsp;&nbsp; 粉丝 <span class="badge">{{$follower_count}}</span></span>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/>
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">{{if $is_me}}我发起的分享{{else}}他发起的分享{{/if}}</a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">{{if $is_me}}我参加的分享{{else}}他参加的分享{{/if}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="comments-list">
                                        {{loop $my_create_shares $share}}
                                            {{template weshares/user_share_item_template}}
                                        {{/loop}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_default_2">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="comments-list">
                                        {{loop $my_join_shares $share}}
                                            {{template weshares/user_share_item_template}}
                                        {{/loop}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>