<!-- topbar starts -->
<header  role="banner" id="header" class="navbar  navbar-inverse ui-layout-north" style="visibility: visible; display: block; height: 42px;">
	<div class="col-lg-12">
   		<div class="navbar-header">
			<a class="navbar-brand" style="padding:10px 40px;" href="{{Router::url('/')}}">Miao CMS</a>
   		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<!-- user dropdown starts -->
				<div class="btn-group pull-right" >
				
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="icon icon-color icon-user"></span><span class="hidden-phone">{{$this->Session->read('Auth.Staff.name')}}</span>
						<span class="caret"></span>
					</a>
				
					<ul class="dropdown-menu">
						<li><a href="#">{{__('Profile')}}</a></li>
						<li class="divider"></li>
						<li>{{$this->Html->link(__('Default Mode'), '/?theme=default')}}</li>
						<li>{{$this->Html->link(__('Desktop Mode'), '/?theme=desktop')}}</li>
						<li>{{$this->Html->link(__("File Manage"), '/admin/ace/editors/index')}}</li>
						<li class="divider"></li>
						  {{loop $selectlans $lan $native}}        	 
				          <li>
				          {{if defined('APPEND_LOCALE_BASE')}}
				          	{{if $lan=='zh-cn'}}<a href="{{Router::url('/../')}}">{{$native}}</a> {{else}}	<a href="{{Router::url('/../'.$lan)}}">{{$native}}</a>{{/if}}
				          {{else}}
				            {{if $lan=='zh-cn'}}<a href="{{Router::url('/')}}">{{$native}}</a>{{else}}<a href="{{Router::url('/'.$lan)}}">{{$native}}</a>{{/if}}
				          {{/if}}
				          </li>
				          {{/loop}}
						<li class="divider"></li>
						<li><a href="{{Router::url('/admin/staffs/logout')}}">{{__('Logout')}}</a></li>
					</ul>
				</div>
				<!-- user dropdown ends -->
				<ul class="nav navbar-nav navbar-right">
					<li>
				  	{{if defined('APPEND_LOCALE_BASE')}}
				  		{{$this->Html->link(__('Visit website'), '/../../',array('target'=>'_blank'))}}
				    {{else}}
				        {{$this->Html->link(__('Visit website'), '/../',array('target'=>'_blank'))}}
				    {{/if}}
				  	</li>
				</ul>
				<?php if(!isset($menuid)) $menuid=1; ?>
				{{$this->Section->getNavMenu('Menu',array(
					'selectedid'=> $top_category_id,
					'preli'=>'', 'ulAttributes'=>array('id'=>'top-navbar','class'=>'nav navbar-nav'),
					'maxdepth' => 1,
					'sufli'=>'',
				),$menuid,false)}}
		</nav>
	</div>
</header>
<!-- topbar ends -->
	<script>
	$(function(){
		
		$('#leftmenucontent').find('a').addClass('ajax-link');
		
		$("#top-navbar a").on('click',function(e){
			var ref = $(this).attr('ref');
			$('#top-navbar').find('.active').removeClass('active');
			$(this).blur().parent('li:first').addClass('active');
			$('#leftmenucontent').find('.leftmenu').hide();
			$('#leftmenucontent').find('#leftmenu_'+ref).show();
			e.preventDefault();
			/*点击时，打开子菜单的第一项对应的页面*/
			var obj = $('#leftmenucontent').find('#leftmenu_'+ref).find('.nav a').eq(0);
			if(obj.attr('href').substr(0,1)=='#'){
				return false;
			}
			else if(obj.attr('rel')=='ajaxAction'){
				ajaxAction(obj.attr('href'));
				return false;
			}
			else if(obj.attr('href').match(/javascript:/) || typeof(obj.attr('onclick'))!='undefined'){
				obj.trigger('click');
				return false;
			}
			else{
				History.pushState(null, null, obj.attr('href'));
				obj.parent('ul').removeClass('active');
				obj.parent('li').addClass('active');	
			}
			return false;
		});
		$('#leftmenucontent').find('a').click(function(){
			if($(this).attr('rel')=='ajaxAction'){
				ajaxAction($(this).attr('href'));
				return false;
			}				
		});
		
	})	
	</script>