<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta charset="UTF-8">
    <title>{{$conf['share_label']}}</title>
    {{$this->Html->css(array($STATIC_FILE_PATH.'/static/pintuan/css/btc.css?v0.03'))}}
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="btc_banner"><img src="{{$conf['banner_img']}}" /></div>
<div class="btc_head"><img src="{{$conf['sharer_avatar']}}" /></div>
<div class="btc_title">
    <h1>{{$conf['share_title']}}</h1>
    <label>{{$conf['share_label']}}</label>
</div>
<div class="btc_baoming">
    <div><label>若24小时内报名数不足，在7个工作日内为您退款。<br/>2016年1月5日24点截止报名，1月6日统一发货<br/><a href="/pintuan/rule.html">玩法规则</a></label></div>
    {{if !empty($tag_id)}}'
        {{if $order_count > 0}}
        <ul class="clearfix">
            <!--一开始只有两个，先这样搞-->
            {{if $order_count >=2}}
            <li class="fl"><img src="{{$records[0]['PintuanRecord']['user_info']['image']}}" /></li>
            <li class="fr"><img src="{{$records[1]['PintuanRecord']['user_info']['image']}}" /></li>
            {{else}}
            <li class="fl"><img src="{{$records[0]['PintuanRecord']['user_info']['image']}}" /></li>
            <li class="fr"><img src="{{$STATIC_FILE_PATH}}/static/pintuan/images/head_default.png" /></li>
            {{/if}}
        </ul>
        {{/if}}
        <div class="btc_status" {{if $tag['PintuanTag']['status'] != PIN_TUAN_TAG_EXPIRE_STATUS}}style="display: none;"{{/if}}><img src="{{$STATIC_FILE_PATH}}/static/pintuan/images/bm_defeated.png" /></div>
        {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_SUCCESS_STATUS}}<div class="btc_status"><img src="{{$STATIC_FILE_PATH}}/static/pintuan/images/bm_succeed.png" /></div>{{/if}}
        {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_PROGRESS_STATUS || $tag['PintuanTag']['status'] == PIN_TUAN_TAG_EXPIRE_STATUS}}
        <div class="btc_countdown">
            <input type="hidden" id="tag-expire-date" value="{{$tag['PintuanTag']['expire_date']}}">
            <ul class="clearfix">
                <li>剩余&nbsp;</li>
                <li class="time" id="leave-hour"></li>
                <li>：</li>
                <li class="time" id="leave-mini"></li>
                <li>：</li>
                <li class="time" id="leave-sec"></li>
                <li>&nbsp;结束</li>
            </ul>
        </div>
        {{/if}}
    {{/if}}
</div>
<div class="btc_pic"><div><img src="{{$STATIC_FILE_PATH}}/static/pintuan/images/detail01.jpg" /></div><div><img src="{{$STATIC_FILE_PATH}}/static/pintuan/images/detail02.jpg" /></div><div><img src="{{$STATIC_FILE_PATH}}/static/pintuan/images/detail03.jpg" /></div></div>
<div class="btc_logo"><img src="{{$STATIC_FILE_PATH}}/static/pintuan/images/logo.png" /></div>
{{if empty($tag_id) || ($tag['PintuanTag']['status'] != PIN_TUAN_TAG_PROGRESS_STATUS)}}
<!--报名-->
<div class="btc_operation">
    <a href="/pintuan/balance/{{$share_id}}?create=1" class="fl">
        <label class="fl">2人报名</label>
        <label class="fr">¥<span>{{$conf['product']['pintuan_price']}}</span></label>
    </a>
    <a href="/pintuan/balance/{{$share_id}}" class="fr">
        <label class="fl">自己报名</label>
        <label class="fr">¥<span>{{$conf['product']['normal_price']}}</span></label>
    </a>
</div>
{{else}}
    <!--拼团进行中-->
    {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_PROGRESS_STATUS}}
        <!--如果是发起拼团者进来-->
        <!--邀请分享-->
        <div class="btc_invitation">
            <a href="#X" class="fl">
                <i class="fa fa-home fa-2x"></i>
                <br>
                <span>朋友说</span>
            </a>
            {{if $tag['PintuanTag']['creator'] == $uid}}
                <a class="fr" id="prompt-invitation-layer-btn">还差{{$tag['PintuanTag']['num'] - $order_count}}个朋友，赶快邀请</a>
            {{else}}
                <a href="/pintuan/balance/{{$share_id}}?tag_id={{$tag_id}}" class="fr">就差你了,赶快报名</a>
            {{/if}}
        </div>
    {{/if}}
{{/if}}
<!--分享弹出层-->
<div style="display: none;" class="layer_invitation" id="layer-invitation"><img src="/static/pintuan/images/invitation.png" /></div>
<div style="display: none;" class="layer_bg" id="mask-bg-layer"></div>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="{{$STATIC_FILE_PATH}}/static/pintuan/js/detail.js"></script>
{{if $jWeixinOn}}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    if(wx){
        var wx_jssdk_appId = '{{$signPackage["appId"]}}';
        var wx_jssdk_timestamp = '{{$signPackage["timestamp"]?$signPackage["timestamp"]:1}}';
        var wx_jssdk_nonceStr = '{{$signPackage["nonceStr"]}}';
        var wx_jssdk_signature = '{{$signPackage["signature"]}}';
        var jsApiList = ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'openLocation', 'getLocation'];
        wx.config({
            debug: false,
            appId: wx_jssdk_appId,
            timestamp: wx_jssdk_timestamp,
            nonceStr: wx_jssdk_nonceStr,
            signature: wx_jssdk_signature,
            jsApiList: jsApiList
        });

        wx.ready(function () {
            var share_string = '{{$share_string ? $share_string :"0"}}';
            var to_timeline_title = "{{$title}}";
            var to_friend_title = "{{$title}}";
            var detail_url =  document.URL;
            var to_friend_link = detail_url + '?trstr='+ share_string + '&share_type=appMsg';
            var to_timeline_link = detail_url + '?trstr='+ share_string + '&share_type=timeline';
            var imgUrl = "{{$this->Html->assetUrl($image)}}";
            var desc = "{{$desc}}";
            wx.onMenuShareAppMessage({
                title: to_friend_title,
                desc: desc,
                link: to_friend_link,
                imgUrl: imgUrl,
                success: function () {
                    // 用户确认分享后执行的回调函数
                    if(share_string != '0'){
                        setTimeout(function(){
                            $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                        }, 500);
                    }
                }
            });
            wx.onMenuShareTimeline({
                title: to_timeline_title,
                link: to_timeline_link,
                imgUrl: imgUrl,
                success: function () {
                    if(share_string != '0'){
                        setTimeout(function(){
                            $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                        }, 500);
                    }
                }
            });
        });
    }
</script>
{{/if}}
</body>
</html>