<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta charset="UTF-8">
    <title>{{$conf['share_label']}}</title>
    {{$this->Html->css(array($STATIC_HOST.'/static/pintuan/css/btc.css?v0.14'))}}
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="btc_banner"><img src="{{$conf['banner_img']}}" /></div>
<div class="btc_head"><img src="{{$conf['sharer_avatar']}}" /></div>
<div class="btc_title">
    <h1>{{$conf['share_title']}}</h1>
    <label>{{$conf['share_label']}}</label>
</div>

<div class="btc_baoming">
    {{if empty($tag_id)}}
    <h1>已有{{$all_buy_count}}人拼团成功</h1>
    {{else}}
        {{if in_array($uid, $record_uids)}}
            {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_EXPIRE_STATUS}}<h1>时间超出24小时，拼团失败</h1>{{/if}}
            {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_SUCCESS_STATUS}}<h1>您已拼团成功，{{$product_conf['send_date']}}为您发货</h1>{{/if}}
            {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_PROGRESS_STATUS}}<h1>已有{{$all_buy_count}}人拼团成功，24小时内邀请到好友则拼团成功</h1>{{/if}}
        {{else}}
            <h1>已有{{$all_buy_count}}人拼团成功</h1>
        {{/if}}
    {{/if}}
    {{if !empty($tag_id)}}
    <div class="btc_baoming_head">

            {{if $order_count > 0}}
            <ul class="clearfix">
                <!--一开始只有两个，先这样搞-->
                {{if $order_count >=2}}
                    {{if in_array($uid, $record_uids)}}
                        {{loop $records $idx $record}}
                            {{if $record['PintuanRecord']['user_id'] == $uid}}
                                <li class="fl"><img src="{{$record['PintuanRecord']['user_info']['image']}}" /></li>
                                <?php unset($records[$idx]) ?>
                            {{/if}}
                        {{/loop}}
                        <?php $second_record = array_shift($records) ?>
                        <li class="fr"><img src="{{$second_record['PintuanRecord']['user_info']['image']}}" /></li>
                    {{else}}
                        <li class="fl"><img src="{{$records[0]['PintuanRecord']['user_info']['image']}}" /></li>
                        <li class="fr"><img src="{{$records[1]['PintuanRecord']['user_info']['image']}}" /></li>
                    {{/if}}
                {{else}}
                    <li class="fl"><img src="{{$records[0]['PintuanRecord']['user_info']['image']}}" /></li>
                    <li class="fr"><img src="{{$STATIC_HOST}}/static/pintuan/images/head_default.png" /></li>
                {{/if}}
            </ul>
            {{/if}}
        {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_EXPIRE_STATUS}} <div class="btc_status"><img src="{{$STATIC_HOST}}/static/pintuan/images/bm_defeated.png" /></div>{{/if}}
        {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_SUCCESS_STATUS}}<div class="btc_status"><img src="{{$STATIC_HOST}}/static/pintuan/images/bm_succeed.png" /></div>{{/if}}
        {{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_PROGRESS_STATUS || $tag['PintuanTag']['status'] == PIN_TUAN_TAG_EXPIRE_STATUS}}
        <div class="btc_countdown">
            <input type="hidden" id="tag-expire-date" value="{{$tag['PintuanTag']['expire_date']}}">
            <ul class="clearfix">
                <li>剩余&nbsp;</li>
                <li class="time" id="leave-hour"></li>
                <li>：</li>
                <li class="time" id="leave-mini"></li>
                <li>：</li>
                <li class="time" id="leave-sec"></li>
                <li>&nbsp;结束</li>
            </ul>
        </div>
        {{/if}}
    </div>
    {{/if}}
    <h2><a href="/pintuan/rule">拼团玩法［限北京］</a></h2>
    <div class="btc_path"><img src="{{$STATIC_HOST}}/static/pintuan/images/path.gif" width="100%" /></div>
    <div><label>若24小时内拼团人数不足，在7个工作日内为您自动退款<br/>{{$product_conf['send_info']}}</label></div>
</div>
<div class="btc_pic">
    {{loop $product_conf['detail_img'] $img}}
        <div><img src="{{$STATIC_HOST}}{{$img}}"/></div>
    {{/loop}}
</div>
<div class="btc_logo"><a href="/"><img src="{{$STATIC_HOST}}/static/pintuan/images/logo.png?v0.0.1" /></a></div>
{{if $conf['published']==0}}
<div class="btc_invitation">
    <a href="/share_opt/index.html" class="fl">
        <i style="background: #f00;border-radius: 50%;width: 10px;height: 10px;top: 3px;left: 10%;position: absolute; display: none;" id="mark-has-unread"></i>
        <i class="fa fa-search fa-2x"></i>
        <br>
        <span>发现</span>
    </a>
    <a class="invitation_btn" style="background-color:#cccccc;color:#ffffff;width: 80%;">拼团结束</a>
</div>
{{else}}
{{if empty($tag_id) || ($tag['PintuanTag']['status'] != PIN_TUAN_TAG_PROGRESS_STATUS)}}
<!--报名-->
<div class="btc_invitation">
    <a href="/share_opt/index.html" class="fl">
        <i style="background: #f00;border-radius: 50%;width: 10px;height: 10px;top: 3px;left: 10%;position: absolute; display: none;" id="mark-has-unread"></i>
        <i class="fa fa-search fa-2x"></i>
        <br>
        <span>发现</span>
    </a>
    <div class="btc_buy fl">
        <a href="/pintuan/balance/{{$share_id}}?create=1" class="fl">2人拼团&nbsp;¥<span>{{$conf['product']['pintuan_price']}}</span></a>
        <a href="/pintuan/balance/{{$share_id}}" class="fr">自己买&nbsp;¥<span>{{$conf['product']['normal_price']}}</span></a>
    </div>
    <a class="fl" name="notify-fans" data-id="{{$share_id}}">
        <i class="fa fa-bell fa-2x"></i>
        <br>
        <span>拼团提醒</span>
    </a>
</div>
{{else}}
<!--拼团进行中-->
{{if $tag['PintuanTag']['status'] == PIN_TUAN_TAG_PROGRESS_STATUS}}
<!--如果是发起拼团者进来-->
<!--邀请分享-->
<div class="btc_invitation">
    <a href="/share_opt/index.html" class="fl">
        <i style="background: #f00;border-radius: 50%;width: 10px;height: 10px;top: 3px;left: 10%;position: absolute; display: none;" id="mark-has-unread"></i>
        <i class="fa fa-search fa-2x"></i>
        <br>
        <span>发现</span>
    </a>
    {{if $tag['PintuanTag']['creator'] == $uid}}
    <a class="invitation_btn" id="prompt-invitation-layer-btn">还差{{$tag['PintuanTag']['num'] - $order_count}}个朋友，赶快邀请</a>
    {{else}}
    <a href="/pintuan/balance/{{$share_id}}?tag_id={{$tag_id}}" class="invitation_btn">就差你了,赶快拼团 ¥{{$conf['product']['pintuan_price']}}</a>
    {{/if}}
    <a class="fl" name="notify-fans" data-id="{{$share_id}}" data-tag-id="{{$tag_id}}">
        <i class="fa fa-bell fa-2x"></i>
        <br>
        <span>拼团提醒</span>
    </a>
</div>
{{/if}}
{{/if}}
{{/if}}
<!--分享弹出层-->
<div style="display: none;" class="layer_invitation" id="layer-invitation"><img src="{{$STATIC_HOST}}/static/pintuan/images/invitation.png" /></div>
<div style="display: none;" class="layer_bg" id="mask-bg-layer"></div>
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="{{$STATIC_HOST}}/static/pintuan/js/detail.js?v0.09"></script>
<script src="{{$STATIC_HOST}}/static/common/no-angular-common.js?v0.09"></script>
<script>
    Pyshuo.share.utils.init();
    Pyshuo.share.utils.checkHasUnreadInfo();
</script>
{{if $jWeixinOn}}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    if(wx){
        var wx_jssdk_appId = '{{$signPackage["appId"]}}';
        var wx_jssdk_timestamp = '{{$signPackage["timestamp"]?$signPackage["timestamp"]:1}}';
        var wx_jssdk_nonceStr = '{{$signPackage["nonceStr"]}}';
        var wx_jssdk_signature = '{{$signPackage["signature"]}}';
        var jsApiList = ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'openLocation', 'getLocation'];
        wx.config({
            debug: false,
            appId: wx_jssdk_appId,
            timestamp: wx_jssdk_timestamp,
            nonceStr: wx_jssdk_nonceStr,
            signature: wx_jssdk_signature,
            jsApiList: jsApiList
        });

        wx.ready(function () {
            var share_string = '{{$share_string ? $share_string :"0"}}';
            var to_timeline_title = "{{$title}}";
            var to_friend_title = "{{$title}}";
            var detail_url =  "{{$wx_url}}";
            var to_friend_link = detail_url + '?trstr='+ share_string + '&share_type=appMsg';
            var to_timeline_link = detail_url + '?trstr='+ share_string + '&share_type=timeline';
            var imgUrl = "{{$this->Html->assetUrl($image)}}";
            var desc = "{{$desc}}";
            wx.onMenuShareAppMessage({
                title: to_friend_title,
                desc: desc,
                link: to_friend_link,
                imgUrl: imgUrl,
                success: function () {
                    // 用户确认分享后执行的回调函数
                    if(share_string != '0'){
                        setTimeout(function(){
                            $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                        }, 500);
                    }
                }
            });
            wx.onMenuShareTimeline({
                title: to_timeline_title,
                link: to_timeline_link,
                imgUrl: imgUrl,
                success: function () {
                    if(share_string != '0'){
                        setTimeout(function(){
                            $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                        }, 500);
                    }
                }
            });
        });
    }
</script>
{{/if}}
</body>
</html>