<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{$tuan_team['TuanTeam']['tuan_name']}}</title>
    {{$this->Html->css(array('tuan-detail.css?v3'))}}
</head>
<body style="background-color:#f5f5f5;">
<div class="tuandetail_nav">
    <ul class="clearfix">
        <li class="fl"><a href="/"><img src="{{$this->Html->assetUrl('/img/tuan/detail/logo.png')}}"/></a></li>
        <!--<li class="fr"><a href="#X">收藏</a></li>-->
        <li class="fr"><a href="/orders/mine">我的订单</a></li>
        <li class="fr"><a href="/scores/more_score">领积分</a></li>
    </ul>
</div>
<?php $location = $tuan_team['TuanTeam']['location_long'].','.$tuan_team['TuanTeam']['location_lat'];
?>
<div class="tuandetail">
    <div class="tuandetail_name">
        <strong>{{$tuan_team['TuanTeam']['tuan_name']}}</strong>
        <em>健康&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;营养&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;实惠</em>
    </div>
    <ul class="clearfix tuandetail_member">
        <li class="fl"><span>团长:{{$tuan_team['TuanTeam']['leader_name']}}</span></li>
        <li class="fl">&nbsp;&nbsp;微信号:{{$tuan_team['TuanTeam']['leader_weixin']}}</li>
        <li class="fr"><a class="p_more" href="/tuan_teams/memberlist/{{$tuan_team['TuanTeam']['id']}}"></a></li>
        <li class="fr">{{$tuan_team['TuanTeam']['member_num']}}人</li>
    </ul>
    <a class="clearfix adress" href="/tuan_teams/lbs_map?location={{$location}}&name={{$tuan_team['TuanTeam']['tuan_name']}}&addr={{$tuan_team['TuanTeam']['tuan_addr']}}">
        <span class="fl"><img src="{{$this->Html->assetUrl('/img/tuan/detail/locat_icon.gif')}}" border="0" /></span>
        <span style="float: none; padding-left: 20px;line-height: 18px;">配送至: {{$tuan_team['TuanTeam']['tuan_addr']}}</span>
    </a>
</div>
{{if !empty($tryings)}}
<div class="tuandetail_seckill clearfix">
    <?php $i = 0; foreach($tryings as $trying) { if ($i++>2) {break;} ?>
        <span><img src="{{$this->Html->assetUrl(small_thumb_link($trying['image']))}}"/></span>
        <span>
            <h1>{{$trying['ProductTry']['product_name']}} {{$trying['ProductTry']['spec']}}</h1>
            <em>秒杀价：<strong>¥{{$this->Number->precision(calculate_try_price($trying['ProductTry']['price']), 2)}}</strong></em>
            <div class="tuan_bar clearfix" style="padding:5px 10px 12px 10px;">
                {{if $trying['status'] == 'sec_kill'}}
                    <a  href="/shichi/list_pai.html?tuan_id={{$tuan_id}}" class="tuan_bar_btn" data-pid="{{$trying['Product']['id']}}">正在秒杀</a>
                {{elseif $trying['status'] == 'sec_end'}}
                    <a class="tuan_bar_btn">已秒完</a>
                {{else}}
                    <a data-start="{{strtotime($trying['ProductTry']['start_time']) - ($shichi_mem? 30 * 60 : 0)}}" data-pid="{{$trying['Product']['id']}}" href="#X" class="tuan_bar_btn sec_start">{{friendlyDateFromStr($trying['ProductTry']['start_time'])}}开秒</a>
                {{/if}}
                <div class="fr" style="width:48%; margin-top:4px;">
                    <?php $limit_num = $trying['ProductTry']['limit_num'];
                        $sold_num = $trying['ProductTry']['sold_num'];
                        if($sold_num >= $limit_num){
                            $sold_num = $limit_num;
                        }
                        if($sold_num >= $limit_num){
                            $sold_percent = 100;
                        }else{
                            $sold_percent = round(($sold_num / $target_num * 100), 1);
                        }
                    ?>
                    <div class="bar">
                        <div class="bar_buy" id="bar_buy" style="width:{{$sold_percent}}%;"></div>
                    </div>
                    <ul class="clearfix">
                        <li class="fl">已秒<span style="display:inline;">{{$sold_num}}</span>份</li>
                        <li class="fr">共{{$limit_num}}份</li>
                    </ul>
                </div>
                <b>秒杀</b>
            </div>
        </span>
    <?php } ?>
</div>
{{/if}}
<div class="clearfix tuandetail_good">
    {{loop $product_infos $pid $product}}
        <?php
            $t_product = $tuan_product_infos[$pid];
            $t_buying = $tb_product_map[$pid];
            $price = $product['price'];
            if($t_product['price']>0){
                $price = $t_product['price'];
            }
            if($t_buying['tuan_price']>0){
                $price = $t_buying['tuan_price'];
            }
        ?>
        <a href="/tuan_buyings/detail/{{$t_buying['id']}}">
            <div class="tuandetail_img"><img src="{{$this->Html->assetUrl(small_thumb_link($product['coverimg']))}}"/></div>
            <div class="tuandetail_title">
                <span>{{$product['name']}}</span>
                <em><strong>¥{{$price}}</strong>&nbsp;{{if !empty($product['original_price'])}}<font>¥{{$this->Number->precision($product['original_price'], 2)}}</font>{{/if}}</em>
            </div>
            {{if $t_buying['consignment_type']!=2}}
                <b>团购</b>
            {{/if}}
        </a>
    {{/loop}}
</div>
<div class="tuandetail_tips">
    <p>Tips:小贴士</p>
    <span>1、统一配送至：{{$tuan_team['TuanTeam']['tuan_addr']}}</span>
    <em>统一配送是为了保证商品的品质、降低物流成本，让利给您！</em>
    <span>2、贴心小管家</span>
    <em>如您有任何问题可随时招呼【朋友说小妹】，小妹微信二维码如下</em>
    <em><img src="{{$this->Html->assetUrl('/img/tuan/detail/xiaomei.jpg')}}"/></em>
</div>
{{$this->Html->script(array('http://libs.baidu.com/jquery/1.9.1/jquery.min.js','jquery/jquery.cookie.js','i18n/language-zh-CN.js','/js/common.js'));}}
<script>
    $(document).ready(function(){
        var timerParentStyle = {'margin-top': '1em'};
        var toTimer = $('.sec_start').first();
        var countDiv = toTimer.parent();
        var pid = toTimer.attr('data-pid');
        utils.countDown(toTimer, function(){
            countDiv.css(timerParentStyle);
        }, function(){
            var parent = countDiv.parent();
            countDiv.remove();
            parent.append('<a href="/shichi/list_pai.html?tuan_id={{$tuan_id}}" class="tuan_bar_btn" data-pid='+pid+'>正在秒杀</a>');
        });
    });
</script>
{{if $jWeixinOn}}
<script>
    wx.ready(function () {
        var share_string = '{{$share_string ? $share_string :"0"}}';
        var to_timeline_title = "寻找最纯粹的美味，让生活多点快乐的色彩！";
        var to_friend_title = "{{$tuan_team['TuanTeam']['tuan_name']}}" + "-朋友说美食团";
        var to_friend_link = document.URL.split('?')[0] + '?trstr=' + share_string + '&share_type=appMsg';
        var to_timeline_link = document.URL.split('?')[0] + '?trstr=' + share_string + '&share_type=timeline';
        var imgUrl = "http://api.map.baidu.com/staticimage?width=200&height=150&center={{$location}}&zoom=18&markers={{$location}}&&markerStyles=l";
        var desc = "{{$tuan_team['TuanTeam']['tuan_name']}}, 找寻最纯粹的美味，让生活多点快乐的色彩！";
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            desc: desc,
            link: to_friend_link,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if (share_string != '0') {
                    setTimeout(function () {
                        $.post('/wx_shares/log_share', {trstr: share_string, share_type: "appMsg"});
                    }, 500);
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if (share_string != '0') {
                    setTimeout(function () {
                        $.post('/wx_shares/log_share', {trstr: share_string, share_type: "timeline"});
                    }, 500);
                }
            }
        });
    })
</script>
{{/if}}
</body>
</html>


