{{$this->Html->css(array('tuan.css?v7'))}}
<?php $location = $tuan_team['TuanTeam']['location_long'].','.$tuan_team['TuanTeam']['location_lat'];
    $referer_link .= '&scope=userinfo&referer='.urlencode($referer.'?has_joined=success');
?>
<div class="alltuan" style="position: relative;">
    <a href="/tuan_teams/create" class="alltuan_add">没有附近的团，申请创建自己的团队</a>
    <div style="margin-top: 40px;">
        <div class="clearfix conordertuan" style="padding:0;border-bottom: 0;">
        </div>
        <div class="tuan-teams" data-county-id="tuan_teams"><input type="hidden" value="{{$area_id}}" id="area_id">
        {{if !empty($my_tuan_ids)}}
            {{loop $my_tuan_ids $id}}
                <?php
                    $tuan = $tuan_teams[$id];
                    $tuan_link = '/tuan_teams/info/'. $tuan['id'];
                    $location_1 = $tuan['location_long'].','. $tuan['location_lat'];
                    $location_2 = $tuan['offline_store_location_long'].','. $tuan['offline_store_location_lat'];
                    $location = $location_2 == ','?$location_1:$location_2;
                ?>
                {{if !empty($tuan)}}
                    <div class="alltuan_border tuan-team" data-county-id="{{$tuan['county_id']}}">
                        <ul class="clearfix">
                            <li><a href="{{$tuan_link}}"><img src="http://api.map.baidu.com/staticimage?width=200&height=150&center={{$location}}&zoom=18&markers={{$location}}&&markerStyles=l" border="0" /></a></li>
                            <li style=" float: none; padding-left: 8em;">
                                <a href="{{$tuan_link}}">
                                    <p>{{$tuan['tuan_name'] }}</p>
                                    <s>团长:<span>{{$tuan['leader_name']}}</span>&nbsp;&nbsp;成员:<span name="member_num">{{$tuan['member_num']-1}}</span>人</s><br/>
                                    <a href="#X" class="alltuan_curbtn">已加入</a><br/>
                                </a>
                            </li>
                        </ul>
                        <dl class="clearfix">
                            <a href="/tuan_teams/lbs_map?location={{$location}}&name={{$tuan['tuan_name']}}&addr={{$tuan['offline_store_name']}}">
                                <dd><img src="/img/tuan/locat_icon.gif" border="0" /></dd>
                                <dd style="float: none">{{$tuan['offline_store_name']}}</dd>
                            </a>
                        </dl>
                    </div>
                {{/if}}
            {{/loop}}
        {{/if}}
        {{loop $left_tuan_ids $id}}
                <?php
                    $tuan = $tuan_teams[$id];
                    $tuan_link = '/tuan_teams/info/'. $tuan['id'];
                    $location_1 = $tuan['location_long'].','. $tuan['location_lat'];
                    $location_2 = $tuan['offline_store_location_long'].','. $tuan['offline_store_location_lat'];
                    $location = $location_2 == ','?$location_1:$location_2;
                ?>
            <div class="alltuan_border tuan-team" data-county-id="{{$tuan['county_id']}}">
                <ul class="clearfix">
                    <li><a href="{{$tuan_link}}"><img src="http://api.map.baidu.com/staticimage?width=200&height=150&center={{$location}}&zoom=18&markers={{$location}}&&markerStyles=l" border="0" /></a></li>
                    <li style=" float: none; padding-left: 8em;">
                        <a href="{{$tuan_link}}">
                            <p>{{$tuan['tuan_name']}}</p>
                            <s>团长:<span>{{$tuan['leader_name']}}</span>&nbsp;&nbsp;成员:<span>{{$tuan['member_num']}}</span>人</s><br/>
                            <a href="#X" class="alltuan_addbtn" name="join_tuan" data-tuan-id="{{$id}}">我要加入</a><br/>
                        </a>
                    </li>
                </ul>
                <dl class="clearfix">
                    <a href="/tuan_teams/lbs_map?location={{$location}}&name={{$tuan['tuan_name']}}&addr={{$tuan['offline_store_name']}}">
                        <dd><img src="/img/tuan/locat_icon.gif" border="0" /></dd>
                        <dd style="float: none">{{$tuan['offline_store_name']}}</dd>
                    </a>
                </dl>
            </div>
        {{/loop}}
        </div>
    </div>
</div>

{{$this->Html->script(array('/js/tuan-area.js?v2','tuanteams/mei-shi-tuan.js?v6',))}}
