<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>发现</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{$STATIC_HOST}}/static/new_find/css/category.css?v=0.101" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class='container'>
      <header>
        <div class="row">
          <div class="col-xs-4">
            <a href="/share_opt/home">
              <h3 class="back-btn">
                <i class="fa fa-angle-left"></i>
                返回
              </h3>
            </a>
          </div>
          <div class="col-xs-4">
            <h3 class="text-center">
              {{$category_name}}
            </h3>
          </div>
        </div>
      </header>

      <main>
      {{loop $products $key $product}}
        <div class="row product-item">
          <div class="product-item-header clearfix">
            <div class="col-xs-6 proxy-info">
              <a href="/weshares/user_share_info/{{$product['share_user_id']}}">
                <img src="{{$product['share_user_img']}}">
              </a>
              <div class="name-level">
                <a href="/weshares/user_share_info/{{$product['share_user_id']}}">
                  <h3 class="proxy-title">
                    {{$product['share_user_nickname']}}
                  </h3>
                </a>
                <span class="proxy-level">{{$product['share_user_level']}}</span>
              </div>
            </div>
            <div class="col-xs-2 col-xs-offset-4 follow-block-area clearfix">
              <div class="follow-block {{if ($product['check_user_relation'])}}followed{{else}}follow-ta{{/if}}"
                data-me="{{$product['my_id']}}" data-ta="{{$product['share_user_id']}}">
                {{if ($product['check_user_relation'])}}
                已关注
                <i class="fa fa-angle-down"></i>
                {{else}}
                关注TA
                {{/if}}
              </div>
              <div class="follow-block unfollow" data-me="{{$product['my_id']}}" data-ta="{{$product['share_user_id']}}">
                取消关注
              </div>
            </div>
          </div>
          <div class="product-item-body">
            <a href="/weshares/view/{{$product['share_id']}}">
              <img src="{{$product['share_img']}}">
            </a>
            <a href="/weshares/view/{{$product['share_id']}}">
              <h2 class="product-title">{{$product['share_name']}}</h2>
            </a>
            <a href="/weshares/view/{{$product['share_id']}}">
              <p class="description">
                  {{$product['share_description']}}
                  {{if ($product['description_more'])}}...更多&gt;&gt;{{/if}}
              </p>
            </a>
          </div>
          <div class="product-item-footer clearfix">
            <p class="icon-item">浏览({{$product['liulan']}})</p>
            <p class="icon-item">报名({{$product['baoming']}})</p>
          </div>
        </div>
        {{/loop}}
      </main>
    </div>
    <script type='text/javascript' src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js'></script>
    <script type='text/javascript' src='http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='{{$STATIC_HOST}}/static/new_find/js/category.js'></script>
  </body>
</html>

