<!DOCTYPE html>
<html lang="en">
<head>
<link href="/favicon.ico" type="image/x-icon" rel="icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>System error</title>
<?php
        echo $this->Html->css(array(
            '/css/reset', 
			'/css/admin',
        ));
       
?>
<script type="text/javascript">
var BASEURL = "{{APP_SUB_DIR}}";
</script>
</head>

<body>

<div style="text-align:center;margin:50px;"></div>

<h1>请使用火狐或者谷歌浏览器访问后台管理系统。</h1>

</body>

</html>