<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$pageTitle}</title>
{eval echo $this->Html->meta('icon');}
{eval echo $this->Html->css(array(
            'base',
        ));
     }
</head>
<body>
<div id="header">
	
	
</div>
<div id="content">
	您需要通过微博OAuth用户认证才能网站本网站，网站将在3秒内<a href="$url">跳转到认证页面</a>...
	<meta http-equiv="refresh" content="$seconds; url={eval echo $this->Html->url($url);}" />
</div>
<div id="footer">
</div>
</body>
</html>