<style>
    img {
        max-width: 100% !important;
    }
</style>
<div class="index_banner swiper-container">
    <ul class="clearfix list-unstyled">
    </ul>
    <div class="swiper-wrapper">
    </div>
</div>
<div class="index_good">
    <?PHP
    $colors = array('#ea1e79', '#9ab300', '#a00f12', '#b07406', '#772617', '#ae950e', '#e74e01', '#cb5604', '#883f0d');
    $i = 0;
    foreach($tagsWithProducts as $tagWithProduct) {
    if ($tagWithProduct['ProductTag']['id'] == 1) continue;
    if(count($tagWithProduct['Products'])>0){ ?>
    <ul class="clearfix list-unstyled">
        <li class="border_r class_bg">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $tagWithProduct['ProductTag']['slug'] ))}}" class="clearfix">
                <img src="{{$this->Html->url('/img/class/classn'.$tagWithProduct['ProductTag']['id'].'.png')}}" border="0" />
            </a>
        </li>
    <?PHP
        $showed = $max_show;
        foreach($tagWithProduct['Products'] as $item) {
		$item['slug'] = $item['slug']?$item['slug']:$item['id'];
		if ($showed-- <= 0) {
		    $showed = $max_show;
		    break;
		}
		$i++;
		$color = $colors[$i%count($colors)];
	    ?>
        {{if count($tagWithProduct['Products']) > 1}}
        <li class="{{if $showed == $max_show -1 }}border_r{{/if}}">
            <a href="{{'/'.$category_control_name.'/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html'}}">
            <div class="title" style="color:{{$color}};">{{usubstr($item['name'],0, 8,'')}}</div>
            <p>{{$brands[$item['brand_id']]['Brand']['name']}}</p>
            <img src="{{$this->Html->url(small_thumb_link($item['coverimg']))}}" border="0" />
            </a>
        </li>
        {{else}}
        <li class="single" style="background: url({{small_thumb_link($this->Html->url($item['coverimg']))}}) no-repeat right">
            <a href="{{'/'.$category_control_name.'/'.date('Ymd',strtotime($item['created'])).'/'.$item['slug'].'.html'}}">
            <div class="pl1">
                <div class="title" style="color:{{$color}};">{{usubstr($item['name'],0, 12,'')}}</div>
                <p>{{$brands[$item['brand_id']]['Brand']['name']}}</p>
                <p style="color:#e74e01; padding-top:4.5em;">{{$Product['Product']['promote_name']}}</p>
            </div>
            </a>
        </li>
        {{/if}}
    <?php } ?>
    </ul>
    <?php } ?>
    <?php } ?>
</div>

{{$this->Html->scriptStart(array('block' => 'scriptBottom'));}}
    $().ready(function(){

        var banners = ['{{$this->Html->assetUrl("/img/banner/banner01.jpg"); }}'
            , '{{$this->Html->assetUrl("/img/banner/banner02.jpg"); }}'
            , '{{$this->Html->assetUrl("/img/banner/banner03.jpg"); }}'
            //, '{{$this->Html->assetUrl("/img/banner/pyshuo_banner_meixian_mihoutao.jpg"); }}'
        ];
        var banner_links = ['{{$this->Html->url("/products/20141117/dong_bei_hong_song_zi_1jin_zhuang.html"); }}'
            , '{{$this->Html->url("/products/20141117/xin_jiang_hui_zao.html"); }}'
            , '{{$this->Html->url("/products/20141013/he_nan_xing_yang_he_yin_ruan_zi_shi_liu_8liang.html"); }}'
            //, '{{$this->Html->url("/products/20141109/shan_xi_mei_xian_jiao_su_mi_hou_tao.html"); }}'
        ];

        //$(banners).preload();

        var $indexBanner = $('.index_banner');
        var ul = $indexBanner.find('ul');
        var swiper_wrapper = $indexBanner.find('div.swiper-wrapper');

        $.each(banners, function (idx, value) {
        $('<div class="swiper-slide"><a href="' + banner_links[idx] + '"><img src="' + value + '" border="0" /></a></div>').appendTo(swiper_wrapper);
        $('<li/>').appendTo(ul);
        });

        //setTimeout(function () {
            var mySwiper = $indexBanner.swiper({
                mode: 'horizontal',
                loop: true,
                autoplay: 3000,
                calculateHeight: true,
                onSlideChangeStart: function (swiper) {
                    ul.find('li').removeClass('cur');
                    console.log(swiper.activeLoopIndex + "," + swiper.activeLoopIndex % 4);
                    ul.find('li:nth-child(' + (swiper.activeLoopIndex % 4 + 1) + ')').toggleClass('cur');
                }
                //etc..
            });
            ul.find('li:first').addClass('cur');
        //}, 100);
    })
{{$this->Html->scriptEnd();}}
{{$this->Html->script(array('swiper/idangerous.swiper-2.0.min.js'), array('block' => 'scriptBottom'));}}
