<style>
    body{
       background-color:#f5f5f5;
    }
    img {
        max-width: 100% !important;
    }

    /*秒杀*/
    .seckill{ margin-top:0.625em; background-color:#ffffff; border-bottom:1px #dddddd solid; border-top:1px #dddddd solid;}
    .seckill ul {margin-bottom: 0}
    .seckill ul li.title{ padding:0 0.6em 0 0.7em; border-bottom:1px #eeeeee solid; color:#29ac0e; font-size:1.25em;}
    .seckill ul li dl{ margin-bottom: 0; padding:0.5em 0 0.5em 0; text-align:center; width:100%;}
    .seckill ul li dl dt{ width:50%; float:left; position:relative;}
    .seckill ul li dl dt img{ width:6em; height:4.5em;}
    .seckill ul li dl dt span{ display:block; padding-top:0.6em; line-height:1.35em; width:3.75em; height:3.15em; right:0.625em; top:1.3em; position:absolute; background-color:#ff483a; text-align:center; color:#ffffff; -moz-border-radius:3.75em;/* Gecko browsers */-webkit-border-radius:3.75em;/* Webkit browsers */border-radius:3.75em;/* W3C syntax */}
    .seckill ul li dl dt .tbtn{ display:block; width:7.917em; height:1.8em; line-height:1.8em; text-decoration:none; font-size:1em; text-align:center; margin:0 auto; margin-top:1em;}
    .seckill ul li dl dt .seckill_btn{ background-color:#ffa531; color:#ffffff;}
    .seckill ul li dl dt .end_btn{ background-color:#cccccc; color:#999999;}
    .seckill ul li dl dt .sec_start{ background-color:#cccccc; color:#999999; font-size:0.9em}
</style>
<div class="index_banner swiper-container">
    <ul class="clearfix list-unstyled">
    </ul>
    <div class="swiper-wrapper">
    </div>
</div>
<!--<a href="/categories/special_list/special_for_double_12.html">-->
<!--<img src="{{$this->Html->assetUrl('/img/banner/special_double12.jpg')}}" style="margin-top: 0.1em"/>-->
<!--</a>-->
<!--<a href="/categories/tag/hottest.html">-->
<!--<img src="{{$this->Html->assetUrl('/img/banner/special_recomm.jpg')}}" style="width:100%; margin-top: 0.3em"/>-->
<!--</a>-->
{{if !empty($tryings)}}
<div class="seckill" style="margin-top: 0.3em">
    <ul>
        <a href="/shichi/list_pai.html"><li class="title">试吃秒杀</li></a>
        <li>
            <dl class="clearfix"><?php $i = 0; foreach($tryings as $trying) { if ($i++>2) {break;} ?>
                <dt><a href="/shichi/list_pai.html">
                    <img src="{{$this->Html->assetUrl(small_thumb_link($trying['Product']['coverimg']))}}" />
                    <span>秒杀价<br/>{{$this->Number->precision(calculate_try_price($trying['ProductTry']['price']), 2)}}</span>
                    {{if $trying['status'] == 'sec_kill'}}
                    <a  href="/shichi/list_pai.html" class="tbtn seckill_btn radius10" data-pid="{{$trying['Product']['id']}}">正在秒杀</a>
                    {{elseif $trying['status'] == 'sec_end'}}<a class="tbtn end_btn radius10">已秒完</a>
                    {{else}}<div class="clearfix" style="width:8.4em; margin:0 auto; ">
                        <a data-start="{{strtotime($trying['ProductTry']['start_time']) - ($shichi_mem? 30 * 60 : 0)}}" data-pid="{{$trying['Product']['id']}}" class="tbtn radius10 sec_start">{{friendlyDateFromStr($trying['ProductTry']['start_time'])}}开秒</a>
                    </div>{{/if}}
                 </a>
                </dt>
                <?php } ?>
            </dl>
        </li>
    </ul>
</div>
{{/if}}
<div class="index_pt">
    {{if empty($daily_special)}}<div class="price"><span>¥</span><strong>12.00</strong>起</div>{{/if}}
    <ul class="clearfix" style="list-style-type: none">
        <li class="fl">
            {{if $daily_special}}
            <a href="{{url_colored(product_link($daily_special['ProductSpecial']['product_id'], '/'), 'h5.home.dailyspecial')}}" style="display:block;"><img src="{{'http://s.tongshijia.com/img/u/dailyspecials/'.$daily_special['ProductSpecial']['show_day'].'.jpg';}}" /></a>
            {{else}}
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $spec_tags[13]['slug'] ))}}" style="display:block;"><img src="{{$this->Html->assetUrl('/img/mobile/index/p1.jpg');}}" /></a>
            {{/if}}
        </li>
        <li class="fl"><a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $spec_tags[22]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/p2.jpg?v1');}}" /></a><br />
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'specCategoryList', $spec_tags[15]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/p3.jpg');}}" /></a></li>
    </ul>
</div>

<div class="index_class_title">
    <strong>
        朋友说的爆款
    </strong>
</div>
<div class="index_bao">
    <a href="{{url_colored('/products/20150209/Bei_Jing_San.html', 'h5.home.recom')}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/d1.jpg?v5')}}" /></a>
    <a href="{{url_colored('/products/20150302/Dong_Bei_Wu_Chang_Dao_Hua_Xiang_Da_Mi_Wu_Chang_Dang_Di_Mi_Chang_Zhuan_Gong_Yue.html', 'h5.home.recom')}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/d2.jpg?v6')}}" /></a>
    <a href="{{url_colored('/products/20141110/qi_xia_ping_guo_10jin_zhuang.html', 'h5.home.recom')}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/d3.jpg?v5')}}" /></a>
    <a href="{{url_colored('/products/20150131/mi_yun_shui_ku_ye_sheng_gong_yu_man_zi.html', 'h5.home.recom')}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/d4.jpg?v5')}}" /></a>
    <a href="{{url_colored('/products/20141205/dong_bei_te_ji_qiu_mu_er.html', 'h5.home.recom')}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/d5.jpg?v6')}}" /></a>
</div>

<div class="index_bao_title">
    朋友的推荐
</div>
<div class="index_class">
    <ul class="clearfix" style="list-style-type: none">
        <li class="fl">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $mobile_tag[3]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c1.jpg')}}" /></a>
        </li>
        <li class="fr" style="text-align: right;">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $mobile_tag[5]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c2.jpg')}}" /></a>
        </li>
    </ul>
    <ul class="clearfix" style="list-style-type: none">
        <li class="fl">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $mobile_tag[8]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c3.jpg')}}" /></a>
        </li>
        <li class="fr" style="text-align: right;">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $mobile_tag[12]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c4.jpg')}}" /></a>
        </li>
    </ul>
    <ul class="clearfix" style="list-style-type: none">
        <li class="fl">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $mobile_tag[9]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c5.jpg')}}" /></a>
        </li>
        <li class="fr" style="text-align: right;">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $mobile_tag[6]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c6.jpg')}}" /></a>
        </li>
    </ul>
    <ul class="clearfix" style="list-style-type: none">
        <li class="fl">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag',  $mobile_tag[4]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c7.jpg')}}" /></a>
        </li>
        <li class="fr" style="text-align: right;">
            <a href="{{$this->Html->url(array('controller' => 'categories', 'action' => 'tag', $mobile_tag[10]['slug'] ))}}"><img src="{{$this->Html->assetUrl('/img/mobile/index/c8.jpg')}}" /></a>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function(){
        var timerParentStyle = {'margin-top': '1em'};
        var toTimer = $('.sec_start').first();
        var countDiv = toTimer.parent();
        var pid = toTimer.attr('data-pid');
        utils.countDown(toTimer, function(){
            countDiv.css(timerParentStyle);
        }, function(){
            var parent = countDiv.parent();
            countDiv.remove();
            parent.append('<a  href="/shichi/list_pai.html" class="tbtn seckill_btn radius10" data-pid='+pid+'>正在秒杀</a>');
        });
    });
</script>
{{$this->Html->scriptStart(array('block' => 'scriptBottom'));}}
    $().ready(function(){

        var banners = [];
        var banner_links = [];
        {{loop $bannerItems $key $banner}}
            banners.push('{{$this->Html->assetUrl($banner['mobile_image'])}}');
            banner_links.push('{{url_colored($this->Html->url($banner['detail_url']), "h5.home.banner")}}');
        {{/loop}}

        //$(banners).preload();

        var $indexBanner = $('.index_banner');
        var ul = $indexBanner.find('ul');
        var swiper_wrapper = $indexBanner.find('div.swiper-wrapper');

        $.each(banners, function (idx, value) {
        $('<div class="swiper-slide"><a href="' + banner_links[idx] + '"><img src="' + value + '" border="0" /></a></div>').appendTo(swiper_wrapper);
        $('<li/>').appendTo(ul);
        });

        //setTimeout(function () {
            var mySwiper = $indexBanner.swiper({
                mode: 'horizontal',
                loop: true,
                autoplay: 10000,
                calculateHeight: true,
                onSlideChangeStart: function (swiper) {
                    ul.find('li').removeClass('cur');
                    ul.find('li:nth-child(' + (swiper.activeLoopIndex % 4 + 1) + ')').toggleClass('cur');
                }
                //etc..
            });
            ul.find('li:first').addClass('cur');
        //}, 100);
    })
{{$this->Html->scriptEnd();}}
{{$this->Html->script(array('swiper/idangerous.swiper-2.0.min.js'), array('block' => 'scriptBottom'));}}
