<style>
    dl {
        margin-bottom: 0;
    }
</style>
<div class="container clearfix">
    <div class="classlist">
        <a href="/">
            <ul class="clearfix list-unstyled" style="display: inline-block; float:left">
                <li class="back"></li>
                <li id="ul_title">{{$sub_title}}</li>
            </ul>
        </a>
        <span class="special_time">
        {{if $special_list['SpecialList']['show_timer']}}
            {{if $special_list['SpecialList']['start'] && date(FORMAT_DATETIME, $special_list['SpecialList']['start']) < time()}}
                {{friendlyDateFromStr($special_list['SpecialList']['start'])}}开始
            {{elseif $special_list['SpecialList']['end'] && date(FORMAT_DATETIME, $special_list['SpecialList']['end']) > time() }}
                {{friendlyDateFromStr($special_list['SpecialList']['end'])}}结束
            {{/if}}
        {{/if}}
            </span>
    </div>
    <div class="classlist_good row special">
        {{if $special_list['SpecialList']['headimg']}}
        <img id="img_head" src="{{$this->Html->assetUrl($special_list['SpecialList']['headimg'])}}" style="margin-bottom: .3em; margin-top: .3em; width: 100% "/>
        {{/if}}
        <ul class="clearfix list-unstyled" style="{{if $special_list['SpecialList']['headimg']}}border-top: 1px #dddddd solid;{{/if}}">
            <?PHP if($total>0){ ?>
            <?PHP foreach($data_list as $item) {
	    $full = true;
	    $numbers_per_col = 2;
	    $i++;
		$item['Product']['slug'] = $item['Product']['slug']?$item['Product']['slug']:$item['Product']['id'];
	    ?>
            <li class="{{if $i % $numbers_per_col == ($numbers_per_col)}}last{{/if}}"> <a href="{{product_link2($item['Product'])}}">
                <img src="{{$this->Html->assetUrl(small_thumb_link($item['Product']['coverimg']))}}" border="0" />
                <div class="item_name">{{usubstr($item['Product']['name'],0, 9,'')}}</div>
            </a>
                <dl class="clearfix">

                     <dt>
                         <a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brands[$item['Product']['brand_id']]['Brand']['created'])).'/'.$brands[$item['brand_id']]['Brand']['slug'].'.html')}}">
                             <img class="radius10" src="{{$this->Html->assetUrl(small_thumb_link($brands[$item['Product']['brand_id']]['Brand']['coverimg']))}}" border="0" />
                         </a>
                    </dt>
                            <dt><a href="{{product_link2($item['Product'])}}">
                                <span class="price">&nbsp;¥{{$this->Number->precision($item['Special']['special_price']>=0? $item['Special']['special_price']/100 : $item['Product']['price'], 2)}}</span>
                                {{if !empty($item['Product']['original_price'])}}
                                <span class="original">¥{{$this->Number->precision( !empty($item['Product']['original_price']) ? $item['Product']['original_price'] : $item['Product']['price'], 2)}}</span>
                                {{/if}}
                                <span class="limit">&nbsp;{{if $item['Special']['limit_total']}}剩余{{$item['Special']['total_left']}}份{{/if}}&nbsp;
                                {{if $item['Special']['limit_per_user']}}每人{{$item['Special']['limit_per_user']}}份{{/if}}</span>
                            </a>
                            </dt>

                </dl>
            </li>
            <?php } ?>
            <?php } ?>

            {{if count($data_list) % 2 == 1}}
            <li style="height: 12.4285em"></li>
            {{/if}}
        </ul>
    </div>
</div>
<script>
    var shareTitle = '{{$sub_title}} - 朋友说';
    var appid = '{{WX_APPID}}';
    var imgUrl = "{{$this->Html->assetUrl($special_list['SpecialList']['share_img']?$special_list['SpecialList']['share_img'] : '/img/logo.png')}}";
    var lineLink = "{{WX_HOST}}{{special_link($special_list['SpecialList']['slug'])}}";
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
//        WeixinJSBridge.on('menu:share:appmessage', function(argv){
//            utils.wx_to_friend(appid, imgUrl, lineLink, shareTitle, '');
//        });
//        WeixinJSBridge.on('menu:share:timeline', function(argv){
//            utils.wx_to_timeline(appid, imgUrl, lineLink, '', shareTitle);
//        });
    }, false);
</script>




