{{template Elements/bar_header_template}}
<a href="#X" class="conordertuan_tel">客服热线：010-56245991</a>
<div class="conordertuan">
    <h1>请选择自提点地址</h1>
    <div class="clearfix conordertuan_adress"></div>
    <P><span>已选自提点：<span id="chose_address" data-can-remark-address="{{$ziti_consignee_info['can_remark_address']}}" data-shop-id="{{$ziti_consignee_info['ziti_id']}}" data-area-id="{{$ziti_consignee_info['area']}}" style="color:#333333">{{$ziti_consignee_info['address']}}</span></span></P>
</div>
<div class="tuan_balance" data-ship-way="ziti" data-tuan-sec="true" data-try-id="{{$try_id}}" data-global-sec="true" style="margin-bottom: 50px;">
    {{template tuan_buyings/ziti_contact_info_template}}
    <div class="cart" style="margin-top: 0; padding-top: 0;">
        {{template Elements/sec_order_cart_template}}
    </div>
    <div class="cart_pay">
        <ul class="clearfix">
            <li class="fl" style="font-size: 90%">总金额
                <strong data-total-price="{{$total_price}}">￥{{$this->Number->precision($total_price, 2)}}</strong>
            </li>
            <li class="fr"><a id="confirm_next" href="#X" data-disable="false">提交订单</a></li>
        </ul>
    </div>
</div>
<div id="hiddenModalContent" style="display:none" data-ziti-type="{{$ship_type}}">
    <div class="classlist_v2">
        <ul class="clearfix">
            <li><a onclick="tb_remove()" class="back"></a></li>
            <li class="line"></li>
            <li><strong>下单</strong></li>
        </ul>
    </div>
    <div id="area_list" class="tuanadresslist"></div>
</div>

{{$this->Html->script(array('/js/tuan/balance.js?v16.6'));}}
<script>
    $(document).ready(function () {
        var bigBuy = zitiObj(zitiAddressData.getBeijingAreas,$(window).height() + 5, $(window).width());
        var elements = bigBuy.generateZitiArea();
        $(".conordertuan_adress").html(elements);
        bigBuy.bindThickbox();
        bigBuy.bindChildAddress();
        var $chose_address = $('#chose_address');
        var $area_id = $chose_address.data('areaId');
        if ($area_id) {
            $('div.conordertuan_adress ul li a[area-id="' + $area_id + '"]').addClass('cur');
        }
    });
</script>