{{template Elements/bar_header_template}}
<div class="tuan_balance" data-ship-way="{{$way_type}}" data-tuanteam-id="{{$tuan_id}}" data-try-id="{{$try_id}}" {{if empty($ship_setting_id)}}data-tuan-sec="true"{{else}}data-global-sec="true" {{/if}} data-way-id="{{$ship_setting_id}}">
    {{template tuan_buyings/contact_info_template}}
    <div class="cart" style="margin-top: 0; padding-top: 0;">
        {{template Elements/sec_order_cart_template}}
    </div>

    <div class="cart_pay">
        <ul class="clearfix">
            <li class="fl">总金额
                <strong data-total-price="{{$total_price}}">￥{{$this->Number->precision($total_price, 2)}}</strong>
            </li>
            <li class="fr"><a id="confirm_next"  href="javascript:void(0)" data-disable="false">提交订单</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/js/tuan/balance.js?v16.6" async="async"></script>



