<div class="classlist_v2" style="z-index:1">
    <ul class="clearfix" onclick="window.history.back();">
        <li><a class="back"></a></li>
        <li class="line"></li>
        <li style="text-overflow: ellipsis;"><strong>订单</strong></li>
    </ul>
</div>
<div class="tuan_balance" data-ship-way="{{$way_type}}" data-tuanbuy-id="{{$tuan_buy_id}}" data-tuanteam-id="{{$tuan_id}}" data-way-id="{{$way_id}}" data-way-type="{{$way_type}}" data-way-fee="{{$ship_fee}}">
    {{template tuan_buyings/contact_info_template}}
    <div class="cart" style="margin-top: 0; padding-top: 0;">
        <div style="margin-bottom: 10px;">
            <dl class="clearfix">
                <dd class="fl">{{$brand['name']}}</dd>
            </dl>
            <ul class="clearfix">
                <li class="fl"><a href="/tuan_buyings/detail/{{$tuan_buy_id}}"><img src="{{$this->Html->assetUrl(small_thumb_link($cart_info['Cart']['coverimg']))}}" border="0" /></a></li>
                <li style="overflow: hidden; display: block; padding-left: 10px;">
                    <a href="#X">
                        <p>{{$cart_info['Cart']['name']}}</p>
                        <s>单价:￥{{$this->Number->precision($cart_info['Cart']['price'],2)}}</s>
                        <input type="hidden" value="{{$least_num}}" id="ship_least_num">
                        <div class="clearfix">
                            <a  class="cartnumreduce fl"></a>
                            <input type="text" value="{{$buy_count}}" id="pamount-{{$cart_info['Cart']['id']}}" data-id="{{$cart_info['Cart']['id']}}" disabled="disabled"
                                   data-price="{{$cart_info['Cart']['price']}}" name="shopCart"/>
                            <a  class="cartnumadd fl"></a>
                        </div>
                    </a>
                </li>
            </ul>
            <p class="conordertuan_total">{{if $ship_fee != 0}}运费：￥<span class="ship_fee" data-ship-fee="{{$ship_fee}}">{{$this->Number->precision($ship_fee, 2)}}</span>，{{/if}}共<span data-count="{{$buy_count}}">{{$buy_count}}</span>件商品，合计:
                <strong data-goods-price="{{$cart_info['Cart']['price']*$buy_count}}">￥{{$this->Number->precision($cart_info['Cart']['price']*$buy_count, 2)}}</strong>
            </p>
        </div>
    </div>
    {{template Elements/tuan_coupon_template}}
    <!--pid=229-->
    <!--<div class="shop_jifen leave_words clearfix">-->
        <!--<input class="fl" id="promotion_code" style="width: 40%;" name="" type="text" placeholder="请输入优惠码" />-->
        <!--<a href="javascript:void(0);" id="use_promotion_code" class="order_code fl">使用</a>-->
    <!--</div>-->
    <div class="shop_jifen" style="margin-bottom: 44px; margin-top: 10px;">
        <ul class="clearfix" style=" border: 0;">
            <li class="fl" data-score="{{$score_usable}}">可用<span class="balance_use_score">{{$score_usable}}</span>积分抵用<span>{{$this->Number->precision($score_usable/100, 2)}}</span>元</li>
            <li class="fr shop_jifen_used radius10"></li>
        </ul>
    </div>
    <div class="cart_pay">
        <ul class="clearfix">
            <li class="fl">共<span data-count="{{$buy_count}}">{{$buy_count}}</span>件商品，总金额
                <strong data-total-price="{{$total_price}}">￥{{$this->Number->precision($total_price, 2)}}</strong>
            </li>
            <li class="fr"><a id="confirm_next"  href="javascript:void(0)" data-disable="false">提交订单</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="/js/tuan/balance.js?v16" async="async"></script>



