{{$this->Html->css(array('tuan.css?v6.1'));}}
<?php   $current_model = 'Product';
    $location = $tuan_team['TuanTeam']['location_long'].','.$tuan_team['TuanTeam']['location_lat'];
    if($sold_num >= $target_num){
        $sold_percent = 100;
    }else{
        $sold_percent = round(($sold_num / $target_num * 100), 1);
    }
?>
<div class="classlist_v2" style="z-index:4;">
    <ul class="clearfix">
        <li><a class="back" onclick="goBack()"></a></li>
        <li class="line"></li>
        <li style="text-overflow: ellipsis;"><strong>团购详情</strong></li>
    </ul>
</div>

<div  class="container" style="margin-top: 2.5em; padding: 0">
    <div  class="row" style="margin-left: 0;margin-right: 0;">
        <div  class="col-xs-12" style="padding: 0;">
            <div class="row voffset1" style="margin-left: 0;margin-right: 0;">
                <div class="col-xs-12 col-md-6" style="padding: 0;">
                {{template Elements/product_img_sild}}
                    <div class="p_details_title">{{$Product['Product']['name']}}</div>
                    <ul class="p_details_price clearfix">
                        <li class="fl price"><span>{{if $current_data_id==874}}尝鲜价 {{/if}}￥<font {{if !$tuan_price}}id="product_price"{{/if}}>{{if $tuan_price}}{{$this->Number->precision($tuan_price,2)}}{{elseif $tuan_product_price}}{{$this->Number->precision($tuan_product_price,2)}}{{else}}{{$this->Number->precision($Product['Product']['price'],2)}}{{/if}}</font></span></li>
                        <li class="fl original-price"><s style="margin-top: 7px;display: block;">{{if $original_price>0}}￥{{$this->Number->precision($original_price,2)}}{{/if}}</s></li>
                        {{if $tuan_buy_type!=2}}
                          <li class="fr stat"><a style="color: #666666"><span>送货日期：<b>{{$consign_time_text}}</b></span></a></li>
                        {{/if}}
                    </ul>
                    <ul class="sales clearfix">
                        <li>
                            <span style="display: block;overflow: hidden;">
                                <span>{{$Product['Product']['promote_name']}}<br></span>
                            </span>
                        </li>
                    </ul>
                    {{if $tuan_buy_type!=2}}
                    <div class="tuan_bar">
                        <div>已团购<span  value="{{$sold_num}}">{{$sold_num}}</span>份</div>
                        <div class="bar">
                            <div class="bar_buy" id = "bar_buy" style={{"width:".$sold_percent."%;"}}></div>
                        </div>
                        <ul class="clearfix">
                            <li class="fl"><span id="bar_percent">{{$sold_percent}}%</span></li>
                            <li class="fr">目标{{$target_num}}份</li>
                        </ul>
                    </div>
                    {{/if}}

                    <a href="#X" class="standard_bg clearfix">
                        <span class="fl"><strong>选择口味、规格</strong></span>
                        <span class="fr p_more"></span>
                    </a>
                    {{if !$big_tuan}}
                    <div class="detail_tuan_bg">
                        <strong>{{$tuan_team['TuanTeam']['tuan_name']}}</strong><br>
                        <strong>团长: </strong>{{$tuan_team['TuanTeam']['leader_name']}}，
                        <strong>微信号: </strong>{{$tuan_team['TuanTeam']['leader_weixin']}}<br>
                        {{if $tuan_buy_type!=2}}
                        <strong>截止日期：<b>{{$end_time}}</b></strong><br>
                        {{/if}}
                        <strong>自提地址：</strong>{{$tuan_address}}<a href="/tuan_teams/lbs_map?location={{$location}}&name={{$tuan_team['TuanTeam']['tuan_name']}}&addr={{$tuan_team['TuanTeam']['tuan_addr']}}">查看地图</a>
                    </div>
                    {{/if}}
                    <div class="all_line">
                        <ul class="clearfix title">
                            <li class="fl cur_border" style="width: 50%;" id="product-detail">图文详情</li>
                            <li class="fl" style="width: 50%;" id="product-comment"{{if $comment_count>5}}{{/if}}>口碑评论<span>{{$comment_count}}</span></li>
                        </ul>
                        <div id="product-content" style="height: 300px; overflow:scroll; border-bottom: 1px #eeeeee solid;"></div>
                        <div class="more"><a href="#">查看更多详情</a></div>
                    </div>
                    <div class="shop_entrance_bg" style="margin-bottom: 0px;">
                        <ul class="clearfix shop_entrance" onclick="to_brand();">
                            <li class="fl head"><img src="{{$this->Html->assetUrl(small_thumb_link($brand['Brand']['coverimg']))}}" border="0"></li>
                            <li class="fl name">{{$brand['Brand']['name']}}</li>
                            <li class="fr"><a href="#X" class="p_more"></a></li>
                        </ul>
                        <div class="shop_service">本商品由[<strong>{{$brand['Brand']['name']}}</strong>]发货并提供售后服务。</div>
                    </div>

                    <div class="all_line" style="margin-bottom: 0;">
                        <ul class="clearfix title">
                            <li class="fl">相关推荐</li>
                        </ul>
                        <div class="classlist_good" style="margin-top: 0;">
                            <ul class="clearfix list-unstyled" style="padding-left:10px;">
                                <?PHP foreach($items as $index=>$item) {
                                $item['slug'] = $item['slug']?$item['slug']:$item['id'];
                                ?>
                                <li class="{{if $index%2 !=0}}last{{/if}}">
                                    <a href="{{product_link2($item)}}" style="display:block; background-color:#ffffff; margin-right:10px;">
                                        <img  src="{{$this->Html->assetUrl(small_thumb_link($item['coverimg']))}}" border="0" style="display:block; background-color:#ffffff; padding-bottom:0.5em; height: 136px"/>
                                        <div class="item_name" style="text-overflow:ellipsis; display: block;white-space: nowrap;overflow: hidden;">{{if $hasOfferBrandIds && array_key_exists($item['brand_id'], $hasOfferBrandIds)}}{{$item['name']}}<span>有红包</span>
                                            {{else}}
                                            {{$item['name']}}
                                            {{/if}}
                                        </div>
                                    </a>
                                    <dl class="clearfix" style="margin-right: 10px;margin-bottom: 0;">
                                        <dt style="float: none;">
                                            <a href="{{product_link2($item)}}">
                                    <span class="listprice" style="padding-left: 0;">
                                        <span>¥{{$this->Number->precision($item['price'], 2)}}</span>
                                    </span>
                                            </a>
                                        </dt>
                                    </dl>
                                </li>
                                <?php } ?>
                                {{if count($data_list) % 2 == 1}}
                                <li style="height: 12.4285em"></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div class="xq_standard_layer" style="display: none">
                        <a href="#X" class="close_btn">x</a>
                        <dl class="clearfix">
                            <dt class="fl"><img src="{{small_thumb_link($Product['Product']['coverimg'])}}"></dt>
                            <dt class="good_title">
                                <span><strong></strong>{{$Product['Product']['name']}}</span>
                                <label><strong>{{if $current_data_id==874}}尝鲜价 {{/if}}￥<font{{if !$tuan_price}} id="product_price_dialog"{{/if}}>{{if $tuan_price}}{{$this->Number->precision($tuan_price,2)}}{{elseif $tuan_product_price}}{{$this->Number->precision($tuan_product_price,2)}}{{else}}{{$this->Number->precision($Product['Product']['price'],2)}}{{/if}}</font><s>{{if $original_price>0}}￥{{$this->Number->precision($original_price,2)}}{{/if}}</s></strong></label>
                            </dt>
                        </dl>
                        {{if $product_spec_map}}
                        {{$product_spec_map}}
                        <div class="p_bg">
                            {{if $specs_map && !empty($specs_map['choices'])}}
                            {{loop $specs_map['choices'] $label $values}}
                            {{if !empty($label) && !empty($values)}}
                            <ul class="standard clearfix">
                                <li>
                                <span class="fl title mr12 spec_label">{{$label}}:</span>
                            <span class="border" style="display: block;overflow: hidden;">
                                {{loop $values $index $vaLabel}}
                                <span class="border mr12 spec_item {{if $index == 0}}spec_item_selected cur{{/if}}"" item-label="{{$label}}">{{$vaLabel}}
                                    <div class="focus"></div>
                                </span>
                                {{/loop}}
                            </span>
                                </li>
                            </ul>
                            {{/if}}
                            {{/loop}}
                        </div>
                        {{/if}}
                        {{/if}}
                        <div class="p_bg">
                        {{if $tuan_buy_type == 2}}
                        {{if !empty($consignment_dates)}}
                            <ul class="standard clearfix">
                                <li>
                                    <span class="fl title mr12">送货:</span>
                                    <span class="border" style="display:block;overflow: hidden;">
                                        {{loop $consignment_dates $index $date}}
                                        <span class="mr12 border spec_item {{if $index == 0}}spec_item_selected cur{{/if}}" item-label="SD" data-val="{{$data['id']}}" data-send-date="{{$date['send_date']}}">
                                           {{$date['date']}}
                                            <div class="focus"></div>
                                        </span>
                                        {{/loop}}
                                    </span>
                                </li>
                            </ul>
                        {{/if}}
                        {{/if}}
                           <ul class="standard clearfix">
                               <li>
                                   <span class="fl title mr12">物流:</span>
                                   <span class="border" style="display:block;overflow: hidden;">
                                      {{if $big_tuan}}
                                      {{if $ship_settings}}
                                       {{loop $ship_settings $index $ship_set}}
                                       <span class="mr12 border {{if $index==0}}cur tuan_way_selected{{/if}}" way-label="{{$ship_set['ProductShipSetting']['code']}}" way-id="{{$ship_set['ProductShipSetting']['id']}}">
                                           {{$ship_set['ProductShipSetting']['name']}}
                                                {{if $ship_set['ProductShipSetting']['ship_type']!=1}}
                                                    {{if $ship_set['ProductShipSetting']['ship_val'] > 0}}
                                                        ({{$ship_set['ProductShipSetting']['ship_val']}}元)
                                                    {{elseif $ship_set['ProductShipSetting']['ship_val'] == 0}}
                                                        {{if $ship_set['ProductShipSetting']['least_num']>0}}
                                                            ({{$ship_set['ProductShipSetting']['least_num']}}份起送)
                                                        {{else}}
                                                            (包邮)
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                                <div class="focus"></div>
                                       </span>
                                       {{/loop}}
                                       {{else}}
                                        <span class="mr12 border cur tuan_way_selected" way-label="ziti" way-fee="0" way-id="0">自提
                                           <div class="focus"></div>
                                       </span>
                                       {{/if}}
                                       {{else}}
                                        <span class="mr12 border cur tuan_way_selected" way-label="ziti" way-fee="0" way-id="0">自提
                                           <div class="focus"></div>
                                       </span>
                                       {{/if}}
                                   </span>
                               </li>
                           </ul>
                        </div>
                        <div class="p_bg">
                            <ul class="numbers clearfix">
                                <li class="fl">
                                    <span class="fl title mr12">数量:</span>
                                    <span class="clearfix" style="display: block;overflow: hidden;">
                                    <a {{if $is_limit_num}} id="pamount_not_r"{{else}}id="pamount_reduce"{{/if}} class="grew" item-id="{{$pid}}">-</a>
                                    <input id="input_pamount"  item-id="{{$pid}}" size="3" value="1" class="num" name="shoppingnum" type="text" {{if $is_limit_num}}readonly{{/if}}/>
                                    <a {{if $is_limit_num}}id="pamount_not_a"{{else}}id="pamount_add"{{/if}} class="grew" item-id="{{$pid}}">+</a>
                                   </span>
                                </li>
                            </ul>
                        </div>
                        <a href="#X" class="sure_btn">确定</a>
                    </div>
                <div class="tipslayer_bg" style=" display: none;"></div>
                </div>
            </div>
            <script>
                function to_brand(){
                    window.location.href="/b/{{$brand['Brand']['slug']}}";
                }
                function to_detail(){
                    window.location.href="/tuan_buyings/product_detail/{{$pid}}?tuan_id={{$tuan_id}}&tuan_buy_id={{$tuan_buy_id}}";
                }
                function to_comment(){
                    window.location.href="/products/product_comments/{{$Product['Product']['slug']}}.html?from=tuan&tuan_buy_id={{$tuan_buy_id}}";
                }
                $(document).ready(function(){
                    $('#view_all_comments').on('click',function(){
                        to_comment();
                    });
                    var comment_href ="/products/product_comments/{{$Product['Product']['slug']}}.html?from=tuan&tuan_buy_id={{$tuan_buy_id}}";
                    var detail_href = "/tuan_buyings/product_detail/{{$pid}}?tuan_id={{$tuan_id}}&tuan_buy_id={{$tuan_buy_id}}";
                    var comment_html = $.ajax({url:comment_href,async:false}).responseText;
                    var detail_html = $.ajax({url:detail_href,async:false}).responseText;
                    $('#product-content').append(detail_html);
                    $('.more a').attr('href',detail_href);
                    set_container();
                    $('#product-detail').on('click',function(){
                        set_cur_border($(this));
                        set_content_href(detail_html,detail_href,'查看更多详情');
                        set_container();
                    });
                    $('#product-comment').on('click',function(){
                        set_cur_border($(this));
                        set_content_href(comment_html,comment_href,'查看更多评论');
                        set_container();
                    });
                    function set_cur_border(element){
                        $('li').removeClass('cur_border');
                        element.addClass('cur_border');
                    }
                    function set_content_href(element,href,string){
                        $('#product-content').empty().append(element);
                        $('.more a').attr('href',href).empty().append(string)
                    }
                    function set_container(){
                        $('.container-detail,.container-comment').css('margin-top',0);
                    }
                    function set_dialog_show(){
                        $('.xq_standard_layer,.tipslayer_bg').show();
                    }
                    function set_dialog_hide(){
                        $('.xq_standard_layer,.tipslayer_bg').hide();
                    }
                    $('.standard_bg').on('click',function(){
                       set_dialog_show();
                    });
                    $('.close_btn').on('click',function(){
                       set_dialog_hide();
                    });
                    $('.sure_btn').on('click',function(){
                        $(this).attr('value','true');
                       set_dialog_hide();
                    });
                });
            </script>
        </div>
        <hr>
    </div>
</div>

<!--底部购买-->
<div class="bottom_bg">
    <ul class="clearfix">
        <li class="love fl">
            <a href="#X" class="love_icon"></a>
            <!--<p>关注</p>-->
        </li>
        <li class="fl" style="width:78%;">
            <div>
                {{if $is_limit}}
                    <a href="javascript:void(0)" class="btn_b cart_btn_soldout radius10">该团已截止</a>
                {{else}}
                    {{if $tuan_buy_status == 2 || $tuan_buy_status == 21}}
                    <a href="javascript:void(0)" class="btn_b cart_btn_soldout radius10">该团已取消</a>
                    {{elseif $tuan_buy_status == 1 || $tuan_buy_status == 11}}
                    <a href="javascript:void(0)" class="btn_b cart_btn_soldout radius10">该团已完成</a>
                    {{elseif $exceed_time}}
                    <a href="javascript:void(0)" class="btn_b cart_btn_soldout radius10">该团已截止</a>
                    {{elseif $tuan_buy_status == 0}}
                    <a id="tuan_buy" item-id="{{$pid}}" href="javascript:;" class="btn_b pay_bg radius10" data-send-date="{{$consign_time}}">立即购买</a>
                    {{/if}}
                {{/if}}
            </div>
        </li>

        <li class="shopping fr">
            <a href="/carts/listcart.html" style="position:relative; margin-top: 0.2em;" class="shopping_icon" id="cart_link"><div id="item-count" class="shopping_count"></div></a>
            <p>购物车</p>
        </li>
    </ul>
</div>

{{$this->Html->script(array('swiper/idangerous.swiper-2.0.min.js'));}}

<script>
    $(document).ready(function(){
        $('#pamount_not_r').on('click',function(e){
            e.preventDefault();
            utils.alert('每人限购一份。');
        });
        $('#pamount_not_a').on('click',function(e){
            e.preventDefault();
            utils.alert('每人限购一份。');
        });
    });

    function goBack(){
        {{if $tagId}}
            window.location.href = '/?tagId={{$tagId}}';
        {{else}}
            var refer = document.referrer;
            var href_1 = "/tuan_buyings/goods_tuans/";
            var href_2 = "/tuan_teams/info/";
            var href_3 = "/refer/client/";
            if (refer.indexOf(href_1)<0&&refer.indexOf(href_2)<0&&refer.indexOf(href_3)<0){
                //window.location.href = '/tuan_teams/mei_shi_tuan.html';
                window.location.href = '/';
            }else{
                window.history.back();
            }
        {{/if}}
    }
</script>

<script>
    var product_spec_group = JSON.parse('{{$product_spec_group}}');
</script>

<script>
    $(document).ready(function(){

        function get_spec_group(){
            var $selected_spec = $('span.spec_item_selected[item-label!="SD"]');
            var all_spec = [];
            $.each($selected_spec,function(index,item){
                all_spec.push(($(item).text()).trim());
            });
            var spec_group_data = null;
            $.each(product_spec_group,function(key,val){
                var keyArray = key.split(',');
                //规格组合是否一样
                if($(keyArray).not(all_spec).length === 0 && $(all_spec).not(keyArray).length === 0){
                    spec_group_data = val;
                    return false;
                }
            });
            return spec_group_data;
        }

        $('#tuan_buy').click(function(){
            var href = window.location.href;
            if(!sso.check_userlogin({'referer':href})){
                return false;
            }else{
                if (!$('.sure_btn').attr('value')){
                    $('.xq_standard_layer,.tipslayer_bg').show();
                    return;
                }
                var specId = '';
                if (typeof(_p_spec_m) != 'undefined') {
                    if (_p_spec_m) {
                        var spec_labels = $('span.spec_label');
                        if(spec_labels.length===0){
                            spec_labels = $('li.spec_label');
                        }
                        if (spec_labels.size() > 0) {
                            $.each(spec_labels, function (idx, val) {
                                var itemLabel = $(val).text().replace(":","");
                                var spec_item_selected = $('span.spec_item_selected[item-label="' + itemLabel + '"]');
                                if (spec_item_selected.size() < 1) {
                                    utils.alert("请选择" + itemLabel);
                                    $('.xq_standard_layer,.tipslayer_bg').show();
                                    return false;
                                }
                            });
                        }
                    }
                    var spec_group_data = get_spec_group();
                    if(spec_group_data){
                        specId = spec_group_data['id']||0;
                    }
                    if (!specId) {
                        return false;
                    }
                }
                if ($('span.spec_item[item-label="SD"]').size()>0) {
                    var cake_date_selected = $('span.spec_item_selected[item-label="SD"]');
                    if (cake_date_selected.size() < 1) {
                        utils.alert("请选择送货日期");
                        $('.xq_standard_layer,.tipslayer_bg').show();
                        return false;
                    }
                }

                var send_date = $(this).data('send-date');
                var consignment_date_id = 0;
                if ($('span.spec_item[item-label="SD"]').size()>0) {
                    var cake_date_selected = $('span.spec_item_selected[item-label="SD"]');
                    if (cake_date_selected.size() >= 1) {
                        consignment_date_id = cake_date_selected.data('val');
                        send_date = cake_date_selected.data('send-date');
                    }
                }

                var product_id = $('#tuan_buy').attr('item-id');
                var product_num = $('#input_pamount').val();
                var way_type = 'normal';
                {{if $big_tuan}}
                    var select_way = $('.cur.tuan_way_selected');
                    if(select_way.length>0){
                        way_type = $('.cur.tuan_way_selected').attr('way-label');
                    }else{
                        utils.alert('请选择送货方式');
                        $('.xq_standard_layer,.tipslayer_bg').show();
                        return false;
                    }
                {{/if}}
                var way_id =  $('.cur.tuan_way_selected').attr('way-id')||0;
                var postdata = {"product_id":product_id,"product_num":product_num, "spec_id":specId, "send_date": send_date,"consignment_date_id":consignment_date_id,"tuan_buy_id":'{{$tuan_buy_id}}',"way_id":way_id,"way_type":way_type};
                utils.progress_notify('正在更新购物车');
                $.ajax({
                    type:'post',
                    data: postdata,
                    url:'/tuan_buyings/cart_info',
                    success:function(data){
                        utils.close_notify();
                        if(data.success) {
                            var way_id = data['way_id'];
                            if(data.direct == 'big_tuan_list'){
                                window.location.href = '/tuan_buyings/big_tuan_balance/{{$tuan_buy_id}}/' + data.cart_id + '/'+way_id;
                            }else{
                                window.location.href = '/tuan_buyings/balance/{{$tuan_buy_id}}/' + data.cart_id + '/'+way_id;
                            }
                        } else {
                            utils.alert(data.error,function(){
                                window.location.reload();
                            });
                        }
                    },
                    dataType:'json'
                });
            }
        });
        $("[way-label]").click(function(){
            var that = $(this);
            that.toggleClass('cur').toggleClass('tuan_way_selected');
            $("[way-label]").not(that).removeClass('cur').removeClass('tuan_way_selected');
            var select_way = $('.cur.tuan_way_selected');
            $('#consign_way').text(select_way.text());
        });
    });

</script>

{{if $jWeixinOn}}
<script>
    wx.ready(function () {
        var share_string = '{{$share_string ? $share_string :"0"}}';
        var to_timeline_title = "{{$Product['Product']['name']}}"+"--{{$tuan_team['TuanTeam']['tuan_name']}}"+"@朋友说";
        var to_friend_title = "{{$Product['Product']['name']}}"+"--{{$tuan_team['TuanTeam']['tuan_name']}}"+"@朋友说";
        var to_friend_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=appMsg';
        var to_timeline_link = document.URL.split('?')[0] + '?trstr='+ share_string + '&share_type=timeline';
        var imgUrl = "{{$Product['Product']['coverimg']}}";
        var desc = "{{$Product['Product']['promote_name']}}！";
        wx.onMenuShareAppMessage({
            title: to_friend_title,
            desc: desc,
            link: to_friend_link,
            imgUrl: imgUrl,
            success: function () {
                // 用户确认分享后执行的回调函数
                if(share_string != '0'){
                    setTimeout(function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "appMsg" });
                    }, 500);
                }
            }
        });
        wx.onMenuShareTimeline({
            title: to_timeline_title,
            link: to_timeline_link,
            imgUrl: imgUrl,
            success: function () {
                if(share_string != '0'){
                    setTimeout(function(){
                        $.post('/wx_shares/log_share',{ trstr: share_string, share_type: "timeline" });
                    }, 500);
                }
            }
        });
    });
</script>
{{/if}}