<div class="classlist_v2">
    <ul class="clearfix">
        <li><a href="/categories/mobileIndex" class="back"></a></li>
        <li class="line"></li>
        <li>返回</li>
    </ul>
</div>
  <div  style="margin-top: 50px;margin-bottom: 10px;">
      {{loop $tuan_product_ids $pid}}
          <div class="goodlist {{if $tuan_products_info[$pid]['status'] == DELETED_YES}}tuan_cancel{{/if}}">
              <a href="/tuan_buyings/goods_tuans/{{$pid}}">
                  {{if $tuan_products_info[$pid]['status']}}<s>团购已结束</s>{{/if}}
                  <div><img src="{{$tuan_products_info[$pid]['list_img']}}"></div>
                  <p>{{$tuan_products_info[$pid]['name']}}</p>
                  <ul class="clearfix">
                      <li class="fl"><strong>￥{{$this->Number->precision($tuan_products_info[$pid]['price'],2)}}</strong>&nbsp;&nbsp;<span>{{if $tuan_products_info[$pid]['original_price']>0}}￥{{$this->Number->precision($tuan_products_info[$pid]['original_price'],2)}}{{/if}}</span></li>
                      <li class="fr">{{$tuan_products_info[$pid][0][0]['sold_number']}}人参团</li>
                  </ul>
              </a>
          </div>
      {{/loop}}
  </div>

