{{$this->Html->css(array('/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'))}}
<ol class="breadcrumb">
    <li><a href="/manage/admin/tuan/tuan_func_list">团购后台</a></li>
    <li><a href="/manage/admin/tuanSecKill/index">秒杀管理</a></li>
    <li class="active">编辑秒杀</li>
</ol>

<div class="container">
    <div class="row">
        <?php
          $productTry = $this->data['ProductTry'];
        ?>

        <form class="form-horizontal sec-kill-form" method="post" action="/manage/admin/tuanSecKill/update/{{$id}}" data-noajax="true" novalidate="novalidate">
            <div class="form-group">
                <label for="product_id" class="col-sm-2 control-label">商品ID</label>
                <div class="col-sm-9">
                    <input type="number" name="data[ProductTry][product_id]" value="{{$productTry['product_id']}}" class="form-control" id="product_id" placeholder="产品编号">
                    <div class="text-warning">该商品价格为：TODO元</div>
                </div>
            </div>
            <div class="form-group">
                <label for="spec" class="col-sm-2 control-label">商品名称</label>
                <div class="col-sm-9">
                    <input type="text" name="data[ProductTry][product_name]" value="{{$productTry['product_name']}}" class="form-control" id="pro_name" placeholder="商品名称">
                    <div class="text-warning">示例：草莓</div>
                </div>
            </div>
            <div class="form-group">
                <label for="spec" class="col-sm-2 control-label">商品规格</label>
                <div class="col-sm-9">
                    <input type="text" name="data[ProductTry][spec]" value="{{$productTry['spec']}}" class="form-control" id="spec" placeholder="商品规格">
                </div>
            </div>
            <div class="form-group">
                <label for="start_time" class="col-sm-2 control-label">秒杀时间</label>
                <div class="col-sm-9">
                    <input type="text" name="data[ProductTry][start_time]" value="{{$productTry['start_time']}}" class="form-control datetime" id="start_time" placeholder="秒杀时间">
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">秒杀价格</label>
                <div class="col-sm-9">
                    <input type="number" name="data[ProductTry][price]" value="{{$productTry['price']}}" class="form-control" id="price" placeholder="秒杀价格">
                    <div class="text-warning">单位是分</div>
                </div>
            </div>
            <div class="form-group">
                <label for="limit_num" class="col-sm-2 control-label">秒杀份数</label>
                <div class="col-sm-9">
                    <input type="number" name="data[ProductTry][limit_num]" value="{{$productTry['limit_num']}}" class="form-control" id="limit_num" placeholder="秒杀份数">
                </div>
            </div>
            <div class="form-group">
                <label for="sold_num" class="col-sm-2 control-label">售出份数</label>
                <div class="col-sm-9">
                    <input type="number" name="data[ProductTry][sold_num]" value="{{$productTry['sold_num']}}" class="form-control" id="sold_num" placeholder="售出份数" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label for="buy_multiple" class="col-sm-2 control-label">购买倍数</label>
                <div class="col-sm-9">
                    <input type="number" name="data[ProductTry][buy_multiple]" value="{{$productTry['buy_multiple']}}" class="form-control" id="buy_multiple" placeholder="购买倍数">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="tuan_id" class="col-sm-2 control-label">团队ID</label>-->
                <!--<div class="col-sm-9">-->
                    <!--<input type="text" name="data[ProductTry][tuan_id]" value="{{$productTry['tuan_id']}}" class="form-control" id="tuan_id" placeholder="团队ID">-->
                    <!--<div class="text-warning">有团队ID时，该秒杀只在该团队进行；否则在全部团队显示</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group" id="tuan-team">
                <label class="col-sm-2 control-label">团队</label>
                <div class="col-sm-9 controls tuan-teams-list">
                </div>
                <input type="hidden" name="team_ids" id="team_ids">
                <input type="hidden" name="teamIds" id="teamIds" value="{{$teamIds}}">
            </div>
            <div class="form-group">
                <label for="consignment_date" class="col-sm-2 control-label">发货日期</label>
                <div class="col-sm-9">
                    <input type="text" name="data[ProductTry][consignment_date]" value="{{$productTry['consignment_date']}}" class="form-control datetime" id="consignment_date" placeholder="发货日期">
                    <div class="text-danger">!!!非常重要，为了统计订单方便，请务必设置发货日期!!!</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="data[ProductTry][status]" value="1" {{if $productTry['status']==1}}checked="checked"{{/if}}> 可用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="data[ProductTry][status]" value="0" {{if $productTry['status']==0}}checked="checked"{{/if}}> 不可用
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">全局秒杀</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="data[ProductTry][global_show]" value="1" {{if $productTry['global_show']==1}}checked="checked"{{/if}}> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="data[ProductTry][global_show]" value="0" {{if $productTry['global_show']==0}}checked="checked"{{/if}}> 否
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <a href="/manage/admin/tuanSecKill/index" class="btn btn-default">取消</a>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{$this->Html->script(array(
'/js/manage/tuan_sec_kill/edit.js?V2.1',
'/js/tuan-area.js',
))}}
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/2.1.30/js/bootstrap-datetimepicker.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/2.1.30/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
