<style>
    /*试吃秒杀列表*/
    .seckill_banner img{ min-width:320px; max-width:640px; width:100%;}
    .seckill_tip{ text-align:center; padding-top:0.6em; padding-bottom:0.6em; font-size:0.9em; color:#ff6600; border-bottom:1px #eeeeee solid;}
    .seckill_tip a{ color:#29ac0e; text-decoration:none;}
    .seckill_list { border-bottom:1px #dddddd solid; padding:1em;}
    .seckill_list ul { margin-bottom: 0 }
    .seckill_list ul li.pic{ border:1px #eeeeee solid; margin:0}
    .seckill_list ul li.pic img{ width:6.667em; height:5em;}
    /*.seckill_list ul li .title{ padding-left:1em; padding-bottom:0.3em;}*/
    /*.seckill_list ul li .title a{ font-size:1.083em; color:#333333;  line-height:1em;}*/
    .seckill_list ul li .title a{ font-size:1.083em; color:#333333; padding-left:0.8em; padding-bottom:0.3em; line-height:1.3em;}
    .seckill_list ul li .price{ font-size:1em; color:#999999; line-height:1.4em; padding-left:1em; padding-top:0.4em;}
    .seckill_list ul li .price span{ color:#ffa531;}
    .seckill_list ul li .price label{ font-size: 0.8em;display: block; }
    .seckill_list ul li .buy_div a{float:left; display:block; width:5em; height:3.3em; text-decoration:none; font-size:1em; text-align:center; margin-left:1em; margin-top:0.4em;}
    .seckill_list ul li .countdown_div a{float:left; display:block; width:5em; height:3.3em; text-decoration:none; font-size:1em; text-align:center; margin-left:1em; margin-top:0.4em;}
    /*.seckill_list ul li .tbtn { float:left; display:block; width:7.917em; height:2em; line-height:2em; text-decoration:none; font-size:1em; text-align:center; margin-left:1em; margin-top:0.4em;}*/

    .seckill_list ul li a.end_btn{ line-height:2em; background-color:#ffffff; color:#cccccc; border:1px #dddddd solid; height:2.083em; display:block; position:absolute; right:0; bottom:0;}
    .seckill_list ul li .sec_start{ background-color:#cccccc; color:#999999; margin-top: 0}
    .grade{ display:block; text-align:center; font-size:1em; background-color:#ffffff; color:#666666; line-height:1.667em;}
    .grade strong{color:#ffa531;}
    .seckill_btn{ display:block; position:absolute; right:0; bottom:0; border:1px #ffa531 solid; width:7.917em; height:2em; background-color:#ffa531; overflow:hidden;}
    .seckill_btn span.btn{display:block; width:100%; height:1.8em; line-height:1.8em; color:#ffffff; text-align:center; font-size:1.1em;padding:0px 0px;}
    .seckill_list ul li a.presale_btn{ position:absolute; right:0; bottom:0; border:1px #29ac0e solid; color:#29ac0e; text-align:center; background-color:#ffffff; font-size:1em; line-height:1.2em; padding-top:0.3em; height:2.6em;}
    .colon {line-height:1em;}
    .countdown {width:5px !important;height:auto;line-height:1.0em;background-color:#ffffff;color: green;margin-left: 1px;}

    /*秒杀规则*/
    .seckill_rule{ background-color:#ffffff; width:70%; padding:1.5em; font-size:1em; color:#666666; line-height:1.5em; position:relative; top:50px;}
    .seckill_rule .title{ font-size:1.25em; color:#29ac0e; padding-bottom:0.7em; text-align:center;}
    .seckill_rule .close{ display:block; background:url(/img/mobilev1/pyshuo_icon.png) 0 -20.25em no-repeat; background-size:25em 25em; width:2.5em; height:2.6em; position:absolute; right:-0.7em; top:-0.7em;}
</style>
<div class="seckill_banner"><img src="{{$this->Html->assetUrl('/img/mobilev1/flash_shichi_banner.jpg')}}" /></div>
{{if empty($tuan_id)}}
<div class="seckill_tip">请设置好默认收货地址, 以便更快秒杀!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--a href="#X">秒杀规则</a--></div>
{{/if}}
{{loop $tryings $key $trying}}
<div class="seckill_list">
    <ul class="clearfix list-unstyled" style="position:relative;">
        <li class="pic fl"><a class="_product_link" href="{{product_link2($trying)}}"><img src="{{$this->Html->assetUrl(small_thumb_link($trying['Product']['coverimg']))}}" /></a></li>
        <li style="display:block;overflow: hidden;">
            <div class="title"><a class="_product_link" href="{{product_link2($trying)}}">{{usubstr($trying['Product']['name'], 0, 19, '')}}</a></div>
            <div class="price">秒杀价: <span>￥{{$this->Number->precision(calculate_try_price($trying['ProductTry']['price'], 0), 2)}}</span>
                <label>({{$trying['ProductTry']['spec']}})</label>
            </div>
            <div class="clearfix buy_div {{if $trying['status'] == 'sec_unstarted' }} hide {{/if}}">
                <a href="javascript:;" data-tuan-id="{{$tuan_id}}" data-global-show="{{$trying['ProductTry']['global_show']}}" data-tryid="{{$trying['ProductTry']['id']}}" data-pid="{{$trying['Product']['id']}}" class="clearfix {{if $trying['status'] == 'sec_kill'}}seckill_btn{{elseif $trying['status'] =='sec_end'}}end_btn{{/if}} radius10">
                    {{if $trying['status'] =='sec_end'}}
                    <span>抢完了</span>
                    {{else}}
                    <span class="grade">剩余<strong>{{$trying['ProductTry']['limit_num']-$trying['ProductTry']['sold_num']}}</strong>份</span>
                    <span class="btn">立即秒杀</span>
                    {{/if}}
                </a>
            </div>
            {{if $trying['status'] == 'sec_unstarted' }}
            <div class="clearfix countdown_div">
                <a class=" clearfix radius10 presale_btn">
                    <span>还剩{{date('d',strtotime($trying['ProductTry']['start_time']))- date('d',time())}}天</span><br>
                    <span class="radius10 sec_start" data-start="{{strtotime($trying['ProductTry']['start_time']) - ($shichi_mem? 30 * 60 : 0)}}" data-pid="{{$trying['Product']['id']}} ">{{friendlyDateFromStr($trying['ProductTry']['start_time'])}}</span>
                </a>
            </div>
            {{/if}}

        </li>
    </ul>
</div>
{{/loop}}
<!--秒杀规则弹出层-->
<div class="seckill_rule radius10" style="display:none;">
    <div class="title">秒杀规则</div>
    <div>1、有一次评价的用户可以参加试吃秒杀; <br />2、被该不该把</div>
    <a href="#X" class="close"></a>
</div>
<script>
    $(document).ready(function(){

        var cartType = 'try';

        var timerParentStyle = {'margin-left': '1em'};
        var toTimer = $('.sec_start').first();
        var countDiv = toTimer.parent();
        var buyDiv = countDiv.parent().find('.buy_div');

        utils.countDown(toTimer, function(){
            toTimer.parent().css(timerParentStyle);
        }, function(){
            toTimer.parent().remove();
            var buyBtn = buyDiv.find('a');
            buyBtn.addClass('seckill_btn');
            buyBtn.click(function(){
                buyBtnClicked($(this));
            });
            buyDiv.removeClass('hide').show();
            countDiv.hide();
        });

        var link_notified = false;
        $('._product_link').click(function(ev){
            if (link_notified == false) {
                var prod_link = $(this).attr('href');
                utils.alert_two('提醒：试吃秒杀请回到本页进行操作', '留在本页', '查看商品', null, function () {
                    window.location.href = prod_link;
                });
                link_notified = true;
                return false;
            }
        });

        function buyBtnClicked(buyBtn) {
            if (buyBtn.hasClass('sec_end')){
                return false;
            }
            var pid = buyBtn.attr('data-pid');
            var tryId = buyBtn.attr('data-tryId');
            var globalShow = buyBtn.attr('data-global-show');
            var tuanId = buyBtn.attr('data-tuan-id');
            quick_buy_try(pid, 1, 0, tryId, cartType, function(){
                buyBtn.removeClass('seckill_btn').addClass('sec_end');
            }, function(){
                if(tuanId){
                    window.location.href = '/tuan_buyings/balance_tuan_sec_kill?from=tuan_sec&pid_list='+data.id+'&try='+tryId+'&tuan_id={{$tuan_id}}';
                    return;
                }
                if(globalShow){
                    window.location.href = '/tuan_buyings/balance_global_sec_kill?from=tuan_sec&pid_list=' + data.id + '&try=' + tryId;
                    return;
                }
                window.location.href = '/orders/info?from=try&pid_list='+data.id+'&try='+tryId;
                return;
            });
        }

        $('.seckill_btn').click(function(){
            buyBtnClicked($(this));
        });
    });
</script>
