<style>
    /*试吃秒杀列表*/
    .seckill_banner img{ min-width:320px; max-width:640px; width:100%;}
    .seckill_tip{ text-align:center; padding-top:0.6em; padding-bottom:0.6em; font-size:0.9em; color:#ff6600; border-bottom:1px #eeeeee solid;}
    .seckill_tip a{ color:#29ac0e; text-decoration:none;}
    .seckill_list { border-bottom:1px #dddddd solid; padding:1em;}
    .seckill_list ul { margin-bottom: 0 }
    .seckill_list ul li.pic{ border:1px #eeeeee solid; margin:0}
    .seckill_list ul li.pic img{ width:6.667em; height:5em;}
    .seckill_list ul li .title{ padding-left:1em; padding-bottom:0.3em;}
    .seckill_list ul li .title a{ font-size:1.083em; color:#333333;  line-height:1em;}
    .seckill_list ul li .title{ font-size:1.083em; color:#333333; padding-left:1em; padding-bottom:0.3em; line-height:1em;}
    .seckill_list ul li .price{ font-size:1em; color:#999999; line-height:1.4em; padding-left:1em; padding-top:0.4em;}
    .seckill_list ul li .price span{ color:#ffa531;}
    .seckill_list ul li .price label{ font-size: 0.8em; }
    .seckill_list ul li .tbtn { float:left; display:block; width:7.917em; height:2em; line-height:2em; text-decoration:none; font-size:1em; text-align:center; margin-left:1em; margin-top:0.4em;}
    .seckill_list ul li .seckill_btn{ background-color:#ffa531; color:#ffffff;}
    .seckill_list ul li .end_btn{ background-color:#cccccc; color:#999999;}
    .seckill_list ul li .sec_start{ background-color:#cccccc; color:#999999; margin-top: 0}
    .grade{ padding:0.8em 0 0 0.3em; color:#666666;}
    /*秒杀规则*/
    .seckill_rule{ background-color:#ffffff; width:70%; padding:1.5em; font-size:1em; color:#666666; line-height:1.5em; position:relative; top:50px;}
    .seckill_rule .title{ font-size:1.25em; color:#29ac0e; padding-bottom:0.7em; text-align:center;}
    .seckill_rule .close{ display:block; background:url(/img/mobilev1/pyshuo_icon.png) 0 -20.25em no-repeat; background-size:25em 25em; width:2.5em; height:2.6em; position:absolute; right:-0.7em; top:-0.7em;}
</style>
<div class="seckill_banner"><img src="{{$this->Html->assetUrl('/img/mobilev1/flash_shichi_banner.jpg')}}" /></div>
<div class="seckill_tip">请设置好默认收货地址, 以便更快秒杀!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--a href="#X">秒杀规则</a--></div>
{{loop $tryings $key $trying}}
<div class="seckill_list">
    <ul class="clearfix list-unstyled" style="position:relative;">
        <li class="pic fl"><a class="_product_link" href="{{product_link2($trying)}}"><img src="{{$this->Html->assetUrl(small_thumb_link($trying['Product']['coverimg']))}}" /></a></li>
        <li class="fl">
            <div class="title"><a class="_product_link" href="{{product_link2($trying)}}">{{usubstr($trying['Product']['name'], 0, 10, '')}}</a></div>
            <div class="price">秒杀价: <span>￥{{$this->Number->precision($trying['ProductTry']['price']/100, 2)}}</span><label>({{$trying['ProductTry']['spec']}})</label></div>
            <div class="clearfix buy_div {{if $trying['status'] == 'sec_unstarted' }} hide {{/if}}">
                <a href="javascript:;" data-tryid="{{$trying['ProductTry']['id']}}" data-pid="{{$trying['Product']['id']}}" class="tbtn {{if $trying['status'] == 'sec_kill'}}seckill_btn{{elseif $trying['status'] =='sec_end'}}end_btn{{/if}} radius10">{{$trying['status'] =='sec_end'?'已秒完':'立即秒杀'}}</a>
                <div class="fl grade">限<span id="limit_num_{{$trying['ProductTry']['id']}}">{{$trying['ProductTry']['limit_num']}}</span>份</div>
            </div>
            {{if $trying['status'] == 'sec_unstarted' }}
            <div class="clearfix countdown_div">
                <a class="tbtn radius10 sec_start" data-start="{{strtotime($trying['ProductTry']['start_time']) - ($shichi_mem? 30 * 60 : 0)}}" data-pid="{{$trying['Product']['id']}}">{{friendlyDateFromStr($trying['ProductTry']['start_time'])}}开秒</a>
                <div class="fl grade" style="padding-top:0.3em;">限{{$trying['ProductTry']['limit_num']}}份</div>
            </div>
            {{/if}}
        </li>
    </ul>
</div>
{{/loop}}
<!--秒杀规则弹出层-->
<div class="seckill_rule radius10" style="display:none;">
    <div class="title">秒杀规则</div>
    <div>1、有一次评价的用户可以参加试吃秒杀; <br />2、被该不该把</div>
    <a href="#X" class="close"></a>
</div>
<script>
    $(document).ready(function(){
        var timerParentStyle = {'margin-left': '1em'};
        var toTimer = $('.sec_start').first();
        var buyDiv = toTimer.parent().parent().find('.buy_div');

        utils.countDown(toTimer, function(parentJ){
            parentJ.css(timerParentStyle);
        }, function(){
            toTimer.parent().remove();
            var buyBtn = buyDiv.find('a');
            buyBtn.addClass('seckill_btn');
            buyBtn.click(function(){
                buyBtnClicked($(this));
            });
            buyDiv.show();
        });

        var link_notified = false;
        $('._product_link').click(function(ev){
            if (link_notified == false) {
                var prod_link = $(this).attr('href');
                utils.alert_two('提醒：试吃秒杀请回到本页进行操作', '留在本页', '查看商品', null, function () {
                    window.location.href = prod_link;
                });
                link_notified = true;
                return false;
            }
        });

        function buyBtnClicked(buyBtn) {
            if (buyBtn.hasClass('sec_end')){
                return false;
            }
            var $pid = buyBtn.attr('data-pid');
            var tryId = buyBtn.attr('data-tryId');
            quick_buy_try($pid, 1, 0, tryId, 'try', function(){
                buyBtn.removeClass('seckill_btn').addClass('sec_end');
            }, function(){
                //
            });
        }

        $('.seckill_btn').click(function(){
            buyBtnClicked($(this));
        });


        /**
         * 添加到快速购买试吃秒杀
         * @param id 产品编号
         * @param num 产品数量
         * @param spec 产品规格
         * @param tryId 试吃id
         * @param type
         * @param soldOutCallback
         * @param addedCallback
         * @return
         */
        function quick_buy_try(id, num, spec, tryId, type, soldOutCallback, addedCallback)
        {
            type = type || 'normal';
            var url = BASEURL + '/carts/add';
            var postdata = {'data[Cart][num]': num, 'data[Cart][product_id]': id, 'data[Cart][spec]': spec, 'data[Cart][type]': type, 'try_id': tryId};
            ajaxAction(url, postdata, null, function(data){
                if (data.success == false) {
                    if (data.reason == 'not_login') {
                        window.location.href = '/shichi/list_pai.html';
                        return false;
                    } else if (data.reason == 'sold_out') {
                        utils.alert_one('抱歉：已经被秒完', '关闭', function(){ if (typeof(soldOutCallback) == 'function'){ soldOutCallback()} });
                    } else if (data.reason == 'already_buy') {
                        utils.alert_one('抱歉：您已经秒过啦', '关闭', function(){ });
                    }
                } else {
                    utils.alert_one('您好，下单支付完成才算秒杀完成, 立即跳转结算', '去结算', function(){
                        addedCallback();
                        window.location.href = '/orders/info?from=try&pid_list='+id+'&try='+tryId;
                    });
                }
            });
            return false;
        }
    });
</script>
