@import "common";

header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;

    a {
        &:hover {
            text-decoration: none;
        }
        .back-btn {
            color: #666;
            font-size: 1em;
            margin: 0;
            line-height: 38px;
            margin-left: 12px;
        }
    }
    .text-center {
        font-size: 1.333em;
        margin: 0;
        line-height: 38px;
        color: #666;
        font-weight: normal;
    }
}

main {

    .product-item-header {
        padding: 10px 12px;
        background-color: #ffffff;

        .proxy-info {
            a img {
                max-width: 3.333em;
                max-height: 3.333em;
                border-radius: 3.333em;
                float: left;
            }

            .name-level {
                float: left;
                margin-left: 10px;

                > {
                    a h3.proxy-title {
                        margin: 4px 0;
                        font-size: 14px;
                    }

                    span.proxy-level {
                        border: 1px solid #f99d3a;
                        border-radius: 5px;
                        width: 6em;
                        height: 1.2em;
                        line-height: 1.2em;
                        color: #f99d3a;
                        text-align: center;
                        padding: 1px 3px;
                        font-size: 0.8em;
                    }
                }
            }
        }

        .follow-block-area {
            margin-top: 9px;
            float: right;
            position: relative;

            .follow-block {
                border: 1px solid #bbb;
                border-radius: 5px;
                font-size: 1em;
                width: 5em;
                line-height: 2em;
                color: #666;
                text-align: center;
                float: right;

                &.unfollow {
                    display: none;
                    background-color: #fff;
                    border: 1px solid #bbb;
                    border-radius: 5px;
                    position: absolute;
                    top: 29px;
                    right: 0;
                }
            }
        }
    }

    .product-item-body {
        h2.product-title {
            font-size: 1.15em;
            font-weight: normal;
            background-color: #ffffff;
            margin: 0;
            padding: 12px 12px 0 12px;
        }

        p.description {
            font-size: 14px;
            color: #999;
            background-color: #ffffff;
            padding: 12px 12px 0 12px;
            margin: 0;
        }
    }

    .product-item-footer {
        background-color: #ffffff;
        margin-bottom: 10px;
        line-height: 3.3em;
        font-size: 1em;

        .icon-item {
            float: right;
            display: inline-block;
            margin: 0;
            padding-right: 12px;
        }
    }
}
