@charset "UTF-8";
/* line 1, _common.scss */
body {
  background-color: #f1f1f1;
  font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial; }

/* line 6, _common.scss */
footer {
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 7px 0 0;
  background: #f7f7f9;
  color: #666;
  border-top: 1px #b3b4b6 solid; }
  /* line 19, _common.scss */
  footer a:active, footer a:link, footer a:visited {
    text-decoration: none; }

/* line 25, _common.scss */
.channel_bottom {
  height: 49px; }
  /* line 28, _common.scss */
  .channel_bottom .btm_item {
    float: left; }
    /* line 31, _common.scss */
    .channel_bottom .btm_item:nth-child(1), .channel_bottom .btm_item:nth-child(3) {
      width: 19%; }
  /* line 36, _common.scss */
  .channel_bottom .iconfont {
    font-size: 20px;
    line-height: 15px;
    color: #888;
    margin-bottom: 0; }
  /* line 43, _common.scss */
  .channel_bottom .iconfont-active {
    font-size: 20px;
    line-height: 15px;
    color: #ff6485;
    margin-bottom: 0; }
  /* line 50, _common.scss */
  .channel_bottom b {
    font-size: 12px;
    color: #888;
    font-family: Hiragino Sans GB, 华文细黑, STHeiti, 微软雅黑, Microsoft YaHei, SimHei, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-weight: 400; }
    /* line 56, _common.scss */
    .channel_bottom b.active {
      color: #ff6485; }
  /* line 61, _common.scss */
  .channel_bottom .new {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 30px;
    background-color: #ffa200;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff; }

/* line 74, _common.scss */
.row {
  margin-left: 0;
  margin-right: 0; }

/* line 79, _common.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;
  padding-right: 0; }

/* line 84, _common.scss */
img {
  max-width: 100%;
  max-height: 100%; }

/* line 89, _common.scss */
a {
  color: #000; }
  /* line 91, _common.scss */
  a:hover {
    color: #000;
    text-decoration: none; }

/* line 97, _common.scss */
.container {
  max-width: 645px !important;
  padding-left: 0;
  padding-right: 0; }

/* line 3, category.scss */
header {
  border-bottom: 1px solid #ddd;
  background-color: #fff; }
  /* line 8, category.scss */
  header a:hover {
    text-decoration: none; }
  /* line 11, category.scss */
  header a .back-btn {
    color: #666;
    font-size: 1em;
    margin: 0;
    line-height: 38px;
    margin-left: 12px; }
  /* line 19, category.scss */
  header .text-center {
    font-size: 1.333em;
    margin: 0;
    line-height: 38px;
    color: #666;
    font-weight: normal; }

/* line 30, category.scss */
main .product-item-header {
  padding: 10px 12px;
  background-color: #ffffff; }
  /* line 35, category.scss */
  main .product-item-header .proxy-info a img {
    max-width: 3.333em;
    max-height: 3.333em;
    border-radius: 3.333em;
    float: left; }
  /* line 42, category.scss */
  main .product-item-header .proxy-info .name-level {
    float: left;
    margin-left: 10px; }
    /* line 47, category.scss */
    main .product-item-header .proxy-info .name-level > a h3.proxy-title {
      margin: 4px 0;
      font-size: 14px; }
    /* line 52, category.scss */
    main .product-item-header .proxy-info .name-level > span.proxy-level {
      border: 1px solid #f99d3a;
      border-radius: 5px;
      width: 6em;
      height: 1.2em;
      line-height: 1.2em;
      color: #f99d3a;
      text-align: center;
      padding: 1px 3px;
      font-size: 0.8em; }
  /* line 67, category.scss */
  main .product-item-header .follow-block-area {
    margin-top: 9px;
    float: right;
    position: relative; }
    /* line 72, category.scss */
    main .product-item-header .follow-block-area .follow-block {
      border: 1px solid #bbb;
      border-radius: 5px;
      font-size: 1em;
      width: 5em;
      line-height: 2em;
      color: #666;
      text-align: center;
      float: right; }
      /* line 82, category.scss */
      main .product-item-header .follow-block-area .follow-block.unfollow {
        display: none;
        background-color: #fff;
        border: 1px solid #bbb;
        border-radius: 5px;
        position: absolute;
        top: 29px;
        right: 0; }
/* line 96, category.scss */
main .product-item-body h2.product-title {
  font-size: 1.15em;
  font-weight: normal;
  background-color: #ffffff;
  margin: 0;
  padding: 12px 12px 0 12px; }
/* line 104, category.scss */
main .product-item-body p.description {
  font-size: 14px;
  color: #999;
  background-color: #ffffff;
  padding: 12px 12px 0 12px;
  margin: 0; }
/* line 113, category.scss */
main .product-item-footer {
  background-color: #ffffff;
  margin-bottom: 10px;
  line-height: 3.3em;
  font-size: 1em; }
  /* line 119, category.scss */
  main .product-item-footer .icon-item {
    float: right;
    display: inline-block;
    margin: 0;
    padding-right: 12px; }

/*# sourceMappingURL=category.css.map */
