@charset "UTF-8";
/* line 1, _common.scss */
body {
  background-color: #f1f1f1;
  font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial; }

/* line 6, _common.scss */
footer {
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 7px 0 0;
  background: #f7f7f9;
  color: #666;
  border-top: 1px #b3b4b6 solid; }
  /* line 19, _common.scss */
  footer a:active, footer a:link, footer a:visited {
    text-decoration: none; }

/* line 25, _common.scss */
.channel_bottom {
  height: 49px; }
  /* line 28, _common.scss */
  .channel_bottom .btm_item {
    float: left; }
    /* line 31, _common.scss */
    .channel_bottom .btm_item:nth-child(1), .channel_bottom .btm_item:nth-child(3) {
      width: 19%; }
  /* line 36, _common.scss */
  .channel_bottom .iconfont {
    font-size: 20px;
    line-height: 15px;
    color: #888;
    margin-bottom: 0; }
  /* line 43, _common.scss */
  .channel_bottom .iconfont-active {
    font-size: 20px;
    line-height: 15px;
    color: #ff6485;
    margin-bottom: 0; }
  /* line 50, _common.scss */
  .channel_bottom b {
    font-size: 12px;
    color: #888;
    font-family: Hiragino Sans GB, 华文细黑, STHeiti, 微软雅黑, Microsoft YaHei, SimHei, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-weight: 400; }
    /* line 56, _common.scss */
    .channel_bottom b.active {
      color: #ff6485; }
  /* line 61, _common.scss */
  .channel_bottom .new {
    position: relative;
    width: 56%;
    margin: 0 2%;
    line-height: 30px;
    background-color: #ffa200;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    color: #fff; }

/* line 74, _common.scss */
.row {
  margin-left: 0;
  margin-right: 0; }

/* line 79, _common.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;
  padding-right: 0; }

/* line 84, _common.scss */
img {
  max-width: 100%;
  max-height: 100%; }

/* line 89, _common.scss */
a {
  color: #000; }
  /* line 91, _common.scss */
  a:hover {
    color: #000;
    text-decoration: none; }

/* line 97, _common.scss */
.container {
  max-width: 645px !important;
  padding-left: 0;
  padding-right: 0; }

/* line 6, home.scss */
body {
  background-color: #f1f1f1; }

/* line 12, home.scss */
.carousel .carousel-inner .item > img, .carousel .carousel-inner .item > a > img {
  width: 100%; }
/* line 16, home.scss */
.carousel .carousel-inner .item > .carousel-caption {
  display: none; }
/* line 22, home.scss */
.carousel .carousel-control .glyphicon-chevron-left, .carousel .carousel-control .icon-prev, .carousel .carousel-control .glyphicon-chevron-right, .carousel .carousel-control .icon-next {
  display: none; }
/* line 28, home.scss */
.carousel .carousel-indicators {
  bottom: -10px; }
  /* line 30, home.scss */
  .carousel .carousel-indicators li {
    margin: 1px 4px;
    height: 8px;
    width: 8px;
    border-radius: 8px; }
    /* line 36, home.scss */
    .carousel .carousel-indicators li.active {
      margin: 1px 5px;
      height: 8px;
      width: 8px;
      border-radius: 8px; }

/* line 46, home.scss */
#quality-life h2,
#top-range h2 {
  font-size: 1.2em;
  margin-top: 15px;
  padding-left: 12px; }

/* line 53, home.scss */
#quality-life .category-block {
  position: relative; }
  /* line 56, home.scss */
  #quality-life .category-block h3 {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    display: none; }
  /* line 63, home.scss */
  #quality-life .category-block.left-side {
    border-right: 1px solid #eee; }
    /* line 65, home.scss */
    #quality-life .category-block.left-side h3 {
      width: 100%;
      margin-top: 40px;
      margin-left: 0;
      text-align: center;
      left: 0;
      right: 0; }
      /* line 73, home.scss */
      #quality-life .category-block.left-side h3 span {
        display: block;
        font-size: 12px;
        font-weight: normal; }
  /* line 81, home.scss */
  #quality-life .category-block.cate-a, #quality-life .category-block.cate-b {
    border-bottom: 1px solid #eee; }
  /* line 90, home.scss */
  #quality-life .category-block.cate-a:nth-child(odd), #quality-life .category-block.cate-b:nth-child(odd), #quality-life .category-block.cate-c:nth-child(odd), #quality-life .category-block.cate-d:nth-child(odd) {
    border-right: 1px solid #eee; }
  /* line 93, home.scss */
  #quality-life .category-block.cate-a:nth-child(even), #quality-life .category-block.cate-b:nth-child(even), #quality-life .category-block.cate-c:nth-child(even), #quality-life .category-block.cate-d:nth-child(even) {
    border-right: 1px solid #f1f1f1; }
  /* line 98, home.scss */
  #quality-life .category-block.cate-d {
    text-align: center;
    /*
     *img {
     *  border-radius: 100%;
     *  max-width: 70%;
     *  max-height: 70%;
     *}
     */ }
    /* line 101, home.scss */
    #quality-life .category-block.cate-d h3 {
      width: 100%;
      margin-top: 50px;
      margin-left: 0;
      left: 0;
      right: 0;
      text-align: center; }
  /* line 119, home.scss */
  #quality-life .category-block .category-title {
    position: absolute; }

/* line 124, home.scss */
#top-range {
  margin-bottom: 59px; }
  /* line 127, home.scss */
  #top-range .top-range-items {
    position: relative;
    border-bottom: 1px solid #eee; }
    /* line 131, home.scss */
    #top-range .top-range-items .range-title {
      position: absolute;
      display: none; }
  /* line 138, home.scss */
  #top-range .small-items:nth-child(3n+0) {
    border-right: 1px solid #eee; }
  /* line 141, home.scss */
  #top-range .small-items:nth-child(3n+1) {
    border-right: 1px solid #f1f1f1; }
  /* line 144, home.scss */
  #top-range .small-items:nth-child(3n+2) {
    border-right: 1px solid #eee; }
  /* line 149, home.scss */
  #top-range .top-range-first .range-title {
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    bottom: 20px;
    display: block; }

/*# sourceMappingURL=home.css.map */
