<div class="get-user-info" ng-controller="GetUserInfoCtr as vm" data-sub="{{$sub_status}}" data-uid="{{$uid}}" ng-init="vm.username='{{$user_info['User']['nickname']}}';vm.show_desc=false;vm.shareNextPage();vm.attendNextPage();">
    <div class="mine-bg">
        <div class="attention-btn">
            <a class="attention" href="javascript:;" style="display: none" ng-class="{'show-b':vm.isSub == 0}"
               ng-click="vm.sub();">关注TA</a>
            <a href="javascript:;" class="clearfix attention-already" style="display: none"
               ng-class="{'show-b':vm.isSub==1}">
                <span ng-click="vm.showUnSubButton();">已关注</span>
                <label>
                    <i></i>
                    <em></em>
                </label>
            </a>
            <a class="unfollow" ng-class="{'show-b':vm.isShowUnSubButton}" style="display: none" ng-click="vm.unSub()">取消关注</a>
        </div>
        <img lazy-src="{{$user_info['User']['avatar']}}" fallback-src="{{$STATIC_HOST}}/static/img/default_product_banner.png"/>
        <h1>{{$user_info['User']['nickname']}}</h1>
        <p>{{$user_info['User']['description']}}</p>
        <a ng-click="vm.show_desc=true;" class="more-information">完整故事</a>
        <ul class="clearfix">
            <li><strong>{{$user_summary['comment_count']}}</strong><br/>爱心评价</li>
            <li class="mine-line"></li>
            <li><strong>{{$user_summary['follower_count']}}</strong><br/>粉丝</li>
            <li class="mine-line"></li>
            <li><strong>{{$user_summary['focus_count']}}</strong><br/>关注</li>
        </ul>
    </div>
        <div class="other-share">
            <ul class="clearfix">
                <li ng-class="{'other-share_focus':vm.focus == 'share'}" ng-click="vm.focus = 'share';">TA分享的</li>
                <li ng-class="{'other-share_focus':vm.focus == 'attend'}" ng-click="vm.focus = 'attend';">TA报名的</li>
            </ul>
            {{if $user_info['User']['id'] == 701201}}
                <a href="/vote/vote_event_view/11.html?from=osu"><img style="width: 100%;margin-top: 5px;margin-bottom: 10px;" src="{{STATIC_HOST}}/static/weshares/images/spec/spec-vote.jpg"/></a>
            {{/if}}
            {{literal}}
            <div class="shares-container hide" ng-class="{'show-b':vm.focus == 'share'}" infinite-scroll='vm.shareNextPage()'
                 infinite-scroll-disabled='vm.sharesOver||vm.loading'
                 infinite-scroll-distance='0'>
                <div class="share show-summary" ng-repeat="share in vm.shares.list">
                    <a class="image-container" href="/weshares/view/{{share.id}}.html?from=userInfo">
                        <img class="image" lazy-src="{{share.default_image}}"
                             fallback-src="vm.staticFilePath+'/static/img/default_product_banner.png'">
                    </a>
                    <a class="share-content" href="/weshares/view/{{share.id}}.html?from=userInfo">
                        <h1 class="share-title" ng-bind="share.title"></h1>

                        <p class="share-description" ng-if="!_.isEmpty(share.description)">
                            <span class="text-danger" ng-bind="vm.username+'说:'"> </span>
                            <span ng-bind-html="share.description | unsafe"></span>
                        </p>
                    </a>
                    <dl class="share-summary clearfix ">
                        <dd class="order-count clearfix">
                            <img class="avatar radius50" ng-repeat="buyer in share.summary.orders_and_creators | limitTo: 4"
                                 lazy-src="{{buyer.avatar}}"
                                 fallback-src="{{vm.staticFilePath}}/avatar/s/default.jpg"/>
                            <label class="fl">已<span>{{share.summary.order_count}}</span>个人报名</label>
                        </dd>
                        <dd class="view-count">浏览{{share.summary.view_count}}</dd>
                    </dl>
                </div>
            </div>
            <div class="hide" ng-class="{'show-b':vm.focus == 'attend'}" infinite-scroll='vm.attendNextPage()'
                 infinite-scroll-disabled='vm.attendOver||vm.loading'
                 infinite-scroll-distance='0'>
                <div class="mine_order" ng-repeat="attend in vm.attends.list">
                    <a class="clearfix share-goodlist" ng-click="vm.goToShare(attend.id);">
                        <div class="fl"><img lazy-src="{{attend.default_image}}" fallback-src="{{vm.staticFilePath}}/static/img/default_product_banner.png"/></div>
                        <h1>{{attend.title}}</h1>
                        <em>进行中</em>
                        <label><span>{{attend.created}}</span></label>
                    </a>
                </div>
            </div>
            {{/literal}}
        </div>
    <div class="mine-story-more" style="display: none" ng-class="{'show-b':vm.show_desc}">
        <p>{{$user_info['User']['description']}}</p>
    </div>
    <a style="display: none" ng-class="{'show-b':vm.show_desc}" ng-click="vm.show_desc=false;" class="mine-story-close">取消</a>
    <div ng-class="{'show-b':vm.show_desc}" class="mine-story-bg" style="display: none"></div>
</div>
<div style="margin-bottom: 60px;"></div>
<?php
$this->assign('title','微分享');
$this->set('show_footer', 'none');
$this->Html->css(array(
$STATIC_HOST.'/static/weshares/css/get-user-info.min.css?v2.5.12'
), null, array('inline' => false));

$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/get-user-info.min.js?v2.5.15'
), array('block' => 'scripts'))
?>
