<div class="get-user-info" ng-controller="GetUserInfoCtr as vm" data-sub="{{$sub_status}}" data-uid="{{$uid}}" ng-init="vm.username='{{$user_info['User']['nickname']}}';vm.show_desc=false;vm.shareNextPage();vm.attendNextPage();">
    <div class="mine-bg">
        <div class="attention-btn">
            <a class="attention" href="javascript:;" style="display: none" ng-class="{'show-b':vm.isSub == 0}"
               ng-click="vm.sub();">关注TA</a>
            <a href="javascript:;" class="clearfix attention-already" style="display: none"
               ng-class="{'show-b':vm.isSub==1}">
                <span ng-click="vm.showUnSubButton();">已关注</span>
                <label>
                    <i></i>
                    <em></em>
                </label>
            </a>
            <a class="unfollow" ng-class="{'show-b':vm.isShowUnSubButton}" style="display: none" ng-click="vm.unSub()">取消关注</a>
        </div>
        <img lazy-src="{{$user_info['User']['avatar']}}" fallback-src="{{$STATIC_HOST}}/static/img/default_product_banner.png"/>
        <h1>{{$user_info['User']['nickname']}}</h1>
        <p>{{$user_info['User']['description']}}</p>
        <a ng-click="vm.show_desc=true;" class="more-information">完整故事</a>
        <ul class="clearfix">
            <li ng-click="vm.goToComment();"><strong>{{$user_summary['comment_count']}}</strong><br/>评论</li>
            <li class="mine-line"></li>
            <li><strong>{{$user_summary['follower_count']}}</strong><br/>粉丝</li>
            <li class="mine-line"></li>
            <li><strong>{{$user_summary['focus_count']}}</strong><br/>关注</li>
        </ul>
    </div>
    <div ng-include="'{{$STATIC_HOST}}/static/weshares/templates/get-other-info.html?v1.8.8'"></div>
    <div class="mine-story-more" style="display: none" ng-class="{'show-b':vm.show_desc}">
        <p>{{$user_info['User']['description']}}</p>
    </div>
    <a style="display: none" ng-class="{'show-b':vm.show_desc}" ng-click="vm.show_desc=false;" class="mine-story-close">取消</a>
    <div ng-class="{'show-b':vm.show_desc}" class="mine-story-bg" style="display: none"></div>
</div>
<?php
$this->assign('title','微分享');
$this->set('show_footer', 'mine');

$this->Html->css(array(
$STATIC_HOST.'/static/weshares/css/get-user-info.min.css?v2.4.8'
), null, array('inline' => false));

$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/get-user-info.min.js?v2.4.8'
), array('block' => 'scripts'))
?>
