<div class="index-page" ng-controller="IndexCtrl as vm" ng-click="clickPage();" data-tag="{{$tag}}">
    <ul class="clearfix menu-top" style="display: none;">
        <li {{if $tag==0}}class="focus"{{/if}}><a href="/weshares/index.html" ng-click="vm.addPageClickLog({page:'index', position:'nav-bar', value: '0'});">新品爆款</a>
        </li>
        <li {{if $tag==1}}class="focus"{{/if}}><a href="/weshares/index/1.html" ng-click="vm.addPageClickLog({page:'index', position:'nav-bar', value: '1'});">水果蔬菜</a>
        </li>
        <li {{if $tag==2}}class="focus"{{/if}}><a href="/weshares/index/2.html" ng-click="vm.addPageClickLog({page:'index', position:'nav-bar', value: '2'});">肉蛋粮油</a>
        </li>
        <li {{if $tag==3}}class="focus"{{/if}}><a href="/weshares/index/3.html" ng-click="vm.addPageClickLog({page:'index', position:'nav-bar', value: '3'});">零食其他</a>
        </li>
    </ul>
    <!--has-menu-top-->
    <div class="banners">
        {{if !empty($banners)}}
        <ul rn-carousel class="image-container" rn-carousel-index="carouselIndex">
            {{loop $banners $index $banner_item}}
                <li class="image-cover">
                    <a  href="{{$banner_item['link']}}?from=banner" ng-click="vm.addPageClickLog({page:'index', position:'banner', value: '{{$index}}'});">
                        <img class="image" src="{{$banner_item['banner']}}" alt="{{$banner_item['title']}}"/>
                    </a>
                </li>
            {{/loop}}
        </ul>
        <div rn-carousel-indicators slides="{{json_encode(range(0, count($banners)-1))}}" rn-carousel-index="carouselIndex"></div>
        {{/if}}
    </div>

    <ul class="new-potoshop clearfix">
        <li>
            <a href="#" ng-click="vm.viewMyScore({{$need_bind_mobile}})">
                <img src="{{$STATIC_HOST}}/static/img/index/jifen.png">
                {{if $need_bind_mobile}}
                    <label>领现金喽</label>
                {{else}}
                    <label>我的积分</label>
                {{/if}}
            </a>
        </li>
        <li>
            {{if $owner}}
                <a href="/weshares/get_other_info/{{$owner}}.html?from=_u_center" ng-click="vm.addPageClickLog({page:'index', position:'userFunc', value: '1'});">
                    <img src="{{$STATIC_HOST}}/static/img/index/apple.png">
                    <label>我的关注</label>
                </a>
            {{else}}
                <a href="/weshares/get_other_info/711503.html?from=_u_center" ng-click="vm.addPageClickLog({page:'index', position:'userFunc', value: '1'});">
                    <img src="{{$STATIC_HOST}}/static/img/index/apple.png">
                    <label>我的关注</label>
                </a>
            {{/if}}
        </li>
        <li>
            <a href="/weshares/coupons.html" ng-click="vm.addPageClickLog({page:'index', position:'userFunc', value: '2'});">
                <div style="position: relative; width: 37px; margin: 0 auto;">
                    {{if $coupon_count > 0}}
                    <div class="packet">{{$coupon_count ? $coupon_count : 0}}</div>
                    {{/if}}
                    <img src="{{$STATIC_HOST}}/static/img/index/money.png">
                </div>
                <label>我的红包</label>
            </a>
        </li>
        <li>
            <a href="/weshares/my_order_list.html" ng-click="vm.addPageClickLog({page:'index', position:'userFunc', value: '3'});">
                <img src="{{$STATIC_HOST}}/static/img/index/orange.png">
                <label>我的订单</label>
            </a>
        </li>
    </ul>
    <!--<ul class="new-activity clearfix">-->
        <!--{{loop $promotions $promotion}}-->
            <!--{{if $promotion['type'] == 1}}-->
                <!--<li><a href="/weshares/view/{{$promotion['data']}}.html?from=index" ng-click="vm.addPageClickLog({page:'index', position:'promotion', value: '0'});"><img src="{{$promotion['banner_img']}}"></a></li>-->
            <!--{{/if}}-->
            <!--{{if $promotion['type'] == 0}}-->
                <!--<li><a href="{{$promotion['data']}}?from=index" ng-click="vm.addPageClickLog({page:'index', position:'promotion', value: '1'});"><img src="{{$promotion['banner_img']}}"></a></li>-->
            <!--{{/if}}-->
        <!--{{/loop}}-->
    <!--</ul>-->

    <div class="shares-container">
        {{loop $index_products $key $index_product}}

        {{if $tag==0&&$key==1}}
            <a href="/weshares/index/2.html" class="class-banner"><img src="{{$STATIC_HOST}}/static/img/container-banner-1.jpg"/></a>
        {{/if}}

        {{if $tag==0&&$key==3}}
            <a href="/weshares/index/3.html" class="class-banner"><img src="{{$STATIC_HOST}}/static/img/container-banner-2.jpg"/></a>
        {{/if}}

        <?php
                $product = $index_product['IndexProduct'];
                $user = $index_product['User'];
                $user_level = $index_product['UserLevel'];
            ?>

        <div class="share show-summary">
            <a class="image-container" href="/weshares/view/{{$product['share_id']}}.html?from=index">
                <div class="image-cover">
                    <img class="image" data-current="0" src="{{$this->Html->assetUrl($product['share_img'])}}">
                </div>
                <span class="product-price-bg">
                    <label>￥</label><em>{{$product['share_price']}}</em>
                    {{if strlen($product['specification'])>0}}
                    <label>/{{$product['specification']}}</label>
                    {{/if}}
                </span>
            </a>
            <a class="share-content" href="/weshares/view/{{$product['share_id']}}.html?from=index">
                <h1 class="share-title">{{$product['share_name']}}</h1>

                {{if strlen($product['description'])>0}}
                <p class="share-description digest">
                    {{$product['description']}}
                </p>
                {{/if}}
            </a>

            <dl class="share-summary clearfix"
                ng-class="{'show-b': vm.getSummary({{$product['share_id']}}).view_count > 0}">
                <dd class="order-count clearfix">
                    <img class="avatar radius50"
                         ng-repeat="creator in vm.getSummary({{$product['share_id']}}).orders_and_creators | limitTo: 4"
                         lazy-src="&#123;&#123;creator.avatar&#125;&#125;"
                         fallback-src="&#123;&#123;vm.staticFilePath + '/avatar/s/default.jpg'&#125;&#125;"/>
                    <label class="fl">
                        <span style="display: none;"
                              ng-class="{'show-ib':vm.getSummary({{$product['share_id']}}).orders_and_creators.length > 4}">...</span>已<span
                            ng-bind="vm.getSummary({{$product['share_id']}}).order_count || 0">0</span>人报名
                    </label>
                </dd>
                <dd class="view-count">
                    浏览<span ng-bind="vm.getSummary({{$product['share_id']}}).view_count || 0">0</span>
                </dd>
            </dl>
        </div>
        {{/loop}}
    </div>
</div>
{{include 'Elements/bind_mobile_element'}}

<?php
    $this->assign('title','分享圈');
if($hide_nav){
$this->set('show_footer', false);
}else{
$this->set('show_footer', 'index');
}
$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/tutorial.min.js?v2.6.1',
$STATIC_HOST.'/static/weshares/js/index.min.js?v2.6.2'
), array('block' => 'scripts'))
?>
