<!DOCTYPE html>
<html lang="zh" ng-app='weshares'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{$STATIC_HOST}}/static/weshares/css/site-common.css?v2.3.4" media="all" rel="stylesheet"
          type="text/css">
    <link href="{{$STATIC_HOST}}/static/weshares/css/index.min.css?v2.3.7" rel="stylesheet" type="text/css">
    <title>分享圈</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.1, user-scalable=no, width=device-width">
</head>
<body class="" cz-shortcut-listen="true">
<div class="index-page" ng-controller="IndexCtrl as vm" ng-click="vm.clickPage();" data-tag="{{$tag}}">

    <ul class="clearfix class-tab">
        <li {{if $tag==0}}class="focus"{{/if}}><a href="/weshares/index.html">新品爆款</a>
        </li>
        <li {{if $tag==1}}class="focus"{{/if}}><a href="/weshares/index/1.html">水果蔬菜</a>
        </li>
        <li {{if $tag==2}}class="focus"{{/if}}><a href="/weshares/index/2.html">肉蛋粮油</a>
        </li>
        <li {{if $tag==3}}class="focus"{{/if}}><a href="/weshares/index/3.html">零食其他</a>
        </li>
    </ul>

    <div class="outer-listings-container row-space-3">
        <div class="listings-container">
            {{loop $index_products $index_product}}
            <?php
                $product = $index_product['IndexProduct'];
                $user = $index_product['User'];
                $user_level = $index_product['UserLevel'];
                $weshare = $index_product['Weshare'];
                if($product['type'] == 1){
                    $product_detail_url = '/pintuan/detail/'.$product['share_id'].'?from=index_view';
                }else{
                    $product_detail_url = '/weshares/view/'.$product['share_id'].'?from=index_view';
                }
            ?>
            <div class="share-good" data-id="">
                <ul class="sharer clearfix">
                    <li class="fl">
                        <a href="/weshares/user_share_info/{{$product['share_user_id']}}">
                            <img itemprop="image" class="sharer-header lazy rounded-50"
                                 lazy-src="{{$this->Html->assetUrl($product['share_user_img'])}}"
                                 onerror="this.src='{{$STATIC_HOST}}/avatar/s/default.jpg'">
                        </a>
                    </li>
                    <li class="sharer-label">{{"L".$user_level['data_value']}}</li>
                    <li class="fl">
                        <label>
                            <a class="nickname" href="/weshares/user_share_info/{{$product['share_user_id']}}">
                                {{$user['nickname']}}
                            </a>
                        </label>
                        <dl class="clearfix sharer-tag">
                            <dd class="fl">
                                {{$user['label'] ? : "吃货向标"}}
                            </dd>
                        </dl>
                    </li>
                    <li class="fr ta" ng-class="{'un-subscribed': !vm.isSubscribed({{$product['share_user_id']}})}"
                        ng-click="vm.subscribe({{$product['share_user_id']}})">关注TA
                    </li>
                    <li class="fr ta" style="position: relative;"
                        ng-class="{'subscribed': vm.isSubscribed({{$product['share_user_id']}})}"
                        ng-click="vm.clickSubscribedBtn({{$product['share_user_id']}}, $event)">
                        <a href="#X" class="clearfix">
                            <span>已关注</span>
                            <label>
                                <i></i>
                                <em></em>
                            </label>
                        </a>
                        <a class="unfollow" ng-show="vm.showUnSubscribeBtn({{$product['share_user_id']}})"
                           ng-click="vm.unSubscribe({{$product['share_user_id']}})">取消关注</a>
                    </li>
                </ul>
                <a href="{{$product_detail_url}}">
                    <div class="image-container">
                        <div class="image-cover">
                            <img itemprop="image" data-current="0"
                                 lazy-src="{{$this->Html->assetUrl($product['share_img'])}}"
                                 class="product-image lazy">
                        </div>
                        <span class="product-price-bg">
                            <label>￥</label><em>{{$product['share_price']}}</em>
                            {{if strlen($product['specification'])>0}}
                            <label>/{{$product['specification']}}</label>
                            {{/if}}
                        </span>
                    </div>

                    <div class="share-content">
                        <h1 class="share-title">{{$product['share_name']}}</h1>

                        {{if strlen($product['description'])>0}}
                        <p>
                            <span>{{$user['nickname']}}说: </span>
                            {{$product['description']}}
                        </p>
                        {{/if}}
                    </div>
                </a>
                <dl class="clearfix share-data">
                    <dd class="clearfix" style="padding-right: 66px;">
                        <img ng-src="&#123;&#123;vm.staticFilePath + '/' + creator.avatar | thumb: 's'&#125;&#125;" fallback-src="&#123;&#123;vm.staticFilePath + '/avatar/s/default.jpg'&#125;&#125;" ng-repeat="creator in vm.getOrdersAndCreators({{$product['share_id']}}) | limitTo: 4"/>
                        <label><span ng-if="vm.getOrdersAndCreators({{$product['share_id']}}).length > 4">...</span>已<span ng-bind="0">0</span>人报名</label></dd>
                    <dd class="browse">浏览{{$weshare['view_count'] ? : 0}}</dd>
                </dl>
            </div>
            {{/loop}}
        </div>
    </div>
</div>

<footer class="channel_bottom" id="share-bottom-nav">
    <a class="btm_item" href="/" style="width: 25%;">
        <p class="iconfont-active"><i class="fa fa-home"></i></p>
        <b class="active">首页</b>
    </a>
    <a class="btm_item" href="/share_opt/index.html" style="width: 25%; position: relative;">
        <i ng-if="showUnReadMark" style="background:#f00;border-radius:50%;width:10px;height:10px;top:-5px;right:35%;position:absolute;"></i>
        <p class="iconfont"><i class="fa fa-search"></i></p>
        <b>发现</b>
    </a>
    <a class="btm_item" href="/weshares/add" style="width: 25%;">
        <p class="iconfont"><i class="fa fa-share-square-o"></i></p>
        <b>我要分享</b>
    </a>
    <a class="btm_item" href="/weshares/user_share_info/{{$uid}}" style="width: 25%;">
        <p class="iconfont"><i class="fa fa-user"></i></p>
        <b>我的</b>
    </a>
</footer>

<script>
    //Pys common name space
    PYS = {};
    //define static file path
    PYS.staticFilePath = '{{$STATIC_HOST}}';
    //PYS.staticFilePath = 'http://51daifan-assets.stor.sinaapp.com';
    PYS.storage = {
        save: function (key, jsonData, expirationHour) {
            //if (!Modernizr.localstorage){return false;}
            var expirationMS = expirationHour * 60 * 60 * 1000;
            var record = {value: JSON.stringify(jsonData), timestamp: new Date().getTime() + expirationMS}
            localStorage.setItem(key, JSON.stringify(record));
            return jsonData;
        },
        load: function (key) {
            //if (!Modernizr.localstorage){return false;}
            var record = JSON.parse(localStorage.getItem(key));
            if (!record) {
                return false;
            }
            return (new Date().getTime() < record.timestamp && JSON.parse(record.value));
        },
        clear: function () {
            localStorage.clear();
        }
    }
</script>
<script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.4.1/angular.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/ngInfiniteScroll/1.2.0/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="{{$STATIC_HOST}}/static/weshares/js/index.min.js?v2.3.7"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?705777ddf53d0d7a074a79a26c8f50cf";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{{template Elements/weshare_wx_share}}
</body>
</html>
