<div class="index-page" ng-controller="IndexCtrl as vm" ng-click="vm.clickPage();" data-tag="{{$tag}}">
    <ul class="clearfix class-tab">
        <li {{if $tag==0}}class="focus"{{/if}}><a href="/weshares/index.html">新品爆款</a>
        </li>
        <li {{if $tag==1}}class="focus"{{/if}}><a href="/weshares/index/1.html">水果蔬菜</a>
        </li>
        <li {{if $tag==2}}class="focus"{{/if}}><a href="/weshares/index/2.html">肉蛋粮油</a>
        </li>
        <li {{if $tag==3}}class="focus"{{/if}}><a href="/weshares/index/3.html">零食其他</a>
        </li>
    </ul>
    <div class="banners">
        <a href="https://mp.weixin.qq.com/s?__biz=MjM5MjY5ODAyOA==&mid=506221314&idx=1&sn=2663e4f5bc62e4e7f74832b3becc541c&scene=1&srcid=0429UZm13HgWc3Sd92hkJoUy&key=b28b03434249256b8b7379a2c1622980b6cd4c51a8ccdc72f73aca602e9fce5f89b7ad49fe139f682cc567f789294923&ascene=0&uin=MjE0MzExNjMyMA%3D%3D&devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.11.1+build(15B42)&version=11020201&pass_ticket=JW%2FdYWDtxtPv8N9klBYu8sIjJyb61OgCXy09R9UiClFAJlBVsqqm%2FC7hG5t4jrrz" onclick="_hmt.push(['_trackEvent', 'weshares', 'click', 'banner001'])">
            <img src="{{$STATIC_HOST}}/static/img/banner001.jpg?v2.3.9" alt="国家地理读物-千千妈妈"/>
        </a>
    </div>
    <div class="outer-listings-container row-space-3">
        <div class="listings-container">
            {{loop $index_products $index_product}}
            <?php
                $product = $index_product['IndexProduct'];
                $user = $index_product['User'];
                $user_level = $index_product['UserLevel'];
                if($product['type'] == 1){
                    $product_detail_url = '/pintuan/detail/'.$product['share_id'].'?from=index_view';
                }else{
                    $product_detail_url = '/weshares/view/'.$product['share_id'].'?from=index_view';
                }
            ?>
            <div class="share-good" data-id="">
                <ul class="sharer clearfix">
                    <li class="fl">
                        <a href="/weshares/user_share_info/{{$product['share_user_id']}}">
                            <img itemprop="image" class="sharer-header lazy rounded-50"
                                 lazy-src="{{$this->Html->assetUrl($product['share_user_img'])}}"
                                 onerror="this.src='{{$STATIC_HOST}}/avatar/s/default.jpg'">
                        </a>
                    </li>
                    <li class="sharer-label">{{"L".$user_level['data_value']}}</li>
                    <li class="fl">
                        <label>
                            <a class="nickname" href="/weshares/user_share_info/{{$product['share_user_id']}}">
                                {{$user['nickname']}}
                            </a>
                        </label>
                        <dl class="clearfix sharer-tag">
                            <dd class="fl">
                                {{$user['label'] ? : "吃货向标"}}
                            </dd>
                        </dl>
                    </li>
                    <li class="fr ta" ng-class="{'un-subscribed': !vm.isSubscribed({{$product['share_user_id']}})}"
                        ng-click="vm.subscribe({{$product['share_user_id']}})">关注TA
                    </li>
                    <li class="fr ta" style="position: relative;"
                        ng-class="{'subscribed': vm.isSubscribed({{$product['share_user_id']}})}"
                        ng-click="vm.clickSubscribedBtn({{$product['share_user_id']}}, $event)">
                        <a href="#X" class="clearfix">
                            <span>已关注</span>
                            <label>
                                <i></i>
                                <em></em>
                            </label>
                        </a>
                        <a class="unfollow" ng-show="vm.showUnSubscribeBtn({{$product['share_user_id']}})"
                           ng-click="vm.unSubscribe({{$product['share_user_id']}})">取消关注</a>
                    </li>
                </ul>
                <a href="{{$product_detail_url}}">
                    <div class="image-container">
                        <div class="image-cover">
                            <img itemprop="image" data-current="0"
                                 lazy-src="{{$this->Html->assetUrl($product['share_img'])}}"
                                 class="product-image lazy">
                        </div>
                        <span class="product-price-bg">
                            <label>￥</label><em>{{$product['share_price']}}</em>
                            {{if strlen($product['specification'])>0}}
                            <label>/{{$product['specification']}}</label>
                            {{/if}}
                        </span>
                    </div>

                    <div class="share-content">
                        <h1 class="share-title">{{$product['share_name']}}</h1>

                        {{if strlen($product['description'])>0}}
                        <p>
                            <span>{{$user['nickname']}}说: </span>
                            {{$product['description']}}
                        </p>
                        {{/if}}
                    </div>
                </a>
                <dl class="clearfix share-data" style="display: none;"
                    ng-class="{'show-b': vm.getSummary({{$product['share_id']}}).view_count > 0}">
                    <dd class="clearfix" style="padding-right: 66px;">
                        <img style="display: none;" class="rounded-50" ng-class="{'show-ib': true}"
                             lazy-src="&#123;&#123;creator.avatar&#125;&#125;"
                             fallback-src="&#123;&#123;vm.staticFilePath + '/avatar/s/default.jpg'&#125;&#125;"
                             ng-repeat="creator in vm.getSummary({{$product['share_id']}}).orders_and_creators | limitTo: 4"/>
                        <label>
                            <span style="display: none;"
                                  ng-class="{'show-ib':vm.getSummary({{$product['share_id']}}).orders_and_creators.length > 4}">...</span>已<span
                                ng-bind="vm.getSummary({{$product['share_id']}}).order_count || 0">0</span>人报名
                        </label>
                    </dd>
                    <dd class="browse">浏览<span
                            ng-bind="vm.getSummary({{$product['share_id']}}).view_count || 0">0</span></dd>
                </dl>
            </div>
            {{/loop}}
        </div>
    </div>
</div>

<?php
    $this->assign('title','分享圈');
   $this->set('show_footer', true);

$this->Html->css(array(
$STATIC_HOST.'/static/weshares/css/index.min.css?v2.4.8'
), null, array('inline' => false));

$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/index.min.js?v2.4.8'
), array('block' => 'scripts'))
?>
