<div class="get-user-info" ng-controller="GetUserProvideShareCtr as vm">
    <div class="refer-back-bg menu-top">
        {{$title}}
        <a href="/weshares/entrance">
            <img src="{{$STATIC_HOST}}/static/img/back.png"/>
            <label>返回</label>
        </a>
    </div>

    <ul class="clearfix share-search has-menu-top extra-margin">
        <!--<li class="share-search-input"><input type="text" ng-model="vm.searchText" placeholder="输入分享名称搜索"></li>-->
        <!--<li class="share-search-btn">-->
            <!--<button type="button" ng-click="vm.doSearch()">查询</button>-->
        <!--</li>-->
    </ul>

    {{literal}}
    <div style="padding-top: 10px;">
        <div class="mine_order" ng-repeat="share in vm.shares">
            <a class="clearfix share-goodlist" href="/weshares/view/{{share.id}}">
                <div class="fl"><img lazy-src="{{share.m_share_img}}" fallback-src="{{$STATIC_HOST}}/static/img/default_product_banner.png" /></div>
                <h1>{{share.m_share_name}}</h1>
                <em ng-if="!share.deleted">上架</em>
                <em ng-if="share.deleted">下架</em>
                <label><span>编号：{{share.id}}</span>，<span>{{share.created}}</span></label>
            </a>
            <s>待发货订单<span>{{share.wait_ship_order_count}}</span></s>
            <ul class="clearfix">
                <li><a href="/weshares/share_order_list/{{share.id}}">订单管理</a></li>
            </ul>
        </div>
        <div align="center"
             style="margin:0px 6px;background-color:#FFFFFF;height:40px;line-height:40px;color: #f99d3a;" ng-show="vm.loading">
            <div>加载中...</div>
        </div>
    </div>
    {{/literal}}

</div>

<?php
$this->assign('title','朋友说-'.$title);
$this->set('show_footer', false);
$this->Html->css(array(
$STATIC_HOST.'/static/weshares/css/get-user-info.min.css?v2.5.12'
), null, array('inline' => false));

$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/user-provide-share-list.min.js?v0.0.1'
), array('block' => 'scripts'))
?>