<div class="get-user-info" ng-controller="GetUserInfoCtr as vm" ng-init="vm.focus='left';vm.loadShareType='{{$type}}';vm.myShareNextPage();">
    <div class="refer-back-bg menu-top">
        {{$title}}
        <a ng-click="vm.doBack()">
            <img src="{{$STATIC_HOST}}/static/img/back.png"/>
            <label>返回</label>
        </a>
    </div>

    <ul class="clearfix share-search has-menu-top extra-margin">
        <li class="share-search-input"><input type="text" ng-model="vm.searchText" placeholder="输入分享名称搜索"></li>
        <li class="share-search-btn">
            <button type="button" ng-click="vm.doSearch()">查询</button>
        </li>
    </ul>

    <div ng-if="vm.inNormalShareView">
        <ul class="mine-share-tab clearfix">
            <li class="left-tab" ng-class="{'current':vm.focus == 'left'}" ng-click="vm.myShareNextPage('left');">进行中</li>
            <li class="middle-tab" ng-class="{'current':vm.focus == 'middle'}" ng-click="vm.myShareNextPage('middle');">已结束</li>
            <li class="right-tab" ng-class="{'current':vm.focus == 'right'}" ng-click="vm.myShareNextPage('right');">已结算</li>
        </ul>
        <div style="padding-top: 10px;">
            <div class="mine_order" ng-repeat="share in vm.mine.tmpShares" infinite-scroll='vm.myShareNextPage();'
                 infinite-scroll-disabled='vm.mine.tmpSharesOver || vm.loading'
                 infinite-scroll-distance='0'>
                {{template Elements/my_share_list_item}}
            </div>
            <div align="center"
                 style="margin:0px 6px;background-color:#FFFFFF;height:40px;line-height:40px;color: #f99d3a;" ng-show="vm.loading">
                <div>加载中...</div>
            </div>
        </div>
    </div>

    <div ng-if="vm.inSearchShare">
        <div style="padding-top: 10px;">
            <div class="mine_order" ng-repeat="share in vm.mine.searchShares" infinite-scroll='vm.mySearchShareNextPage();'
                 infinite-scroll-disabled='vm.mine.searchSharesOver || vm.loading'
                 infinite-scroll-distance='0'>
                {{template Elements/my_share_list_item}}
            </div>
            <div align="center"
                 style="margin:0px 6px;background-color:#FFFFFF;height:40px;line-height:40px;color: #f99d3a;" ng-show="vm.loading">
                <div>加载中...</div>
            </div>
        </div>
    </div>

    <!--提示是否删除-->
    <div style="display: none;" ng-class="{'show-b' : true}" class="delete-share-dialog delete-share" ng-show="vm.inDeleteShare">
        <h1 ng-bind="vm.deleteShareTipInfo"></h1>
        <dl class="clearfix">
            <dt><a class="btn-cur" ng-click="vm.doDeleteShare()">确定</a></dt>
            <dt><a ng-click="vm.inDeleteShare=false;vm.showLayer=false;vm.prepareDeleteShare=null;">取消</a></dt>
        </dl>
    </div>
    <div style="display: none;" ng-class="{'show-b' : true}" class="layer-bg" ng-show="vm.showLayer" ng-click="vm.showLayer=false;vm.inDeleteShare=false;"></div>
</div>

<?php
$this->assign('title','朋友说-'.$title);
$this->set('show_footer', false);
$this->Html->css(array(
$STATIC_HOST.'/static/weshares/css/get-user-info.min.css?v2.5.8'
), null, array('inline' => false));

$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/get-user-info.min.js?v2.5.8'
), array('block' => 'scripts'))
?>