<div class="user-list-page" ng-controller="UserListCtrl as vm" id="userListView" data-uid="{{$uid}}" data-me="{{$me}}" data-type="{{$type}}" ng-click="clickPage();">
    <div class="menu-top refer-back-bg">
        {{$title}}
        <a href="/users/tutorial">
            <img src="{{$STATIC_HOST}}/static/weshares/images/back.png"/>
            <label>返回</label>
        </a>
    </div>

    <div class="fans_search has-menu-top">
        <input type="text" placeholder="请输入昵称搜索" ng-model="vm.searchWord"/>
        <a ng-click="vm.search()"><img src="{{$STATIC_HOST}}/static/weshares/images/searchicon.png" /></a>
    </div>
    <div ng-include="'{{$STATIC_HOST}}/static/weshares/templates/u-list-place.html?v0.0.2'"></div>
</div>

<?php
    $this->assign('title','朋友说-'.$title);
?>

<?php
$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/user-info.min.js?v2.4.9'
), array('block' => 'scripts'))
?>