<?php
    if($share['Weshare']['type'] == POOL_SHARE_BUY_TYPE && !$is_me){
        continue;
    }
?>
<div class="media">
    <p class="pull-right">
        <small>{{friendlyDateFromStr($share['Weshare']['created'], FFDATE_CH_MD)}}</small>
        {{if $parsing_join_share}}
            <?php $current_share_id = $share['Weshare']['id']; ?>
            {{if $join_share_order_status[$current_share_id]['status']==ORDER_STATUS_PAID}}
                <span class="label label-info">待发货</span>
            {{elseif $join_share_order_status[$current_share_id]['status']==ORDER_STATUS_SHIPPED}}
                <span class="label label-warning">已发货</span>
            {{elseif $join_share_order_status[$current_share_id]['status']==ORDER_STATUS_RECEIVED}}
                <span class="label label-danger">待评价</span>
            {{elseif $join_share_order_status[$current_share_id]['status']==ORDER_STATUS_DONE}}
                <span class="label label-success">已评价</span>
            {{elseif $join_share_order_status[$current_share_id]['status']==ORDER_STATUS_RETURNING_MONEY}}
                <span class="label label-success">退款中</span>
            {{elseif $join_share_order_status[$current_share_id]['status']==ORDER_STATUS_RETURN_MONEY}}
                <span class="label label-success">已退款</span>
            {{else}}
                {{if $share['Weshare']['status']==0}}
                <span class="label label-info">进行中</span>
                {{else}}
                <span class="label label-danger">已结束</span>
                {{/if}}
            {{/if}}
        {{else}}
            {{if $share['Weshare']['status']==0}}
                <span class="label label-info">进行中</span>
            {{else}}
                <span class="label label-danger">已结束</span>
            {{/if}}
        {{/if}}
    </p>
    <?php
        $show_img = $share['Weshare']['images'][0];
        if(!$show_img){
            $show_img = $creators[$share['Weshare']['creator']]['image'];
        }
    ?>
    <a class="media-left" href="#">
        <img onerror="this.src='/img/default_user_icon.jpg'" src="{{$show_img}}" style="width: 40px;height: 40px;">
    </a>

    <div class="media-body" data-id="{{$share['Weshare']['id']}}" name="share_item">
        <h4 class="media-heading user_name">{{get_limit_string($share['Weshare']['title'], 10)}}</h4>
        <div style="width:150px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;">
            {{if $join_share_order_status[$current_share_id]['status']==ORDER_STATUS_DONE}}
                {{$joinShareComments[$join_share_order_status[$current_share_id]['id']]['body']}}
            {{else}}
                {{strip_tags($share['Weshare']['description'])}}
            {{/if}}
        </div>
    </div>
    {{if !$parsing_join_share&&$is_me}}<span class="pull-right" style="margin-top: -15px;">编号:<small style="color: #ff0000;">{{$share['Weshare']['id']}}</small></span>{{/if}}
</div>