<link href="{{$STATIC_HOST}}/static/weshares/css/share-info.min.css?v0.1.4" rel="stylesheet">
<div class="row" style="background: #EAEAEA;">
    <div class="col-md-12 user-details">
        <div class="user-image">
            {{if $is_me}}
            <a href="/users/change_avatar?ref=/weshares/user_share_info"><img style="width: 80px;height: 80px;left: 5%;" onerror="this.src='{{$STATIC_HOST}}/avatar/s/default.jpg'"
                                                                              data-original="{{get_user_avatar($share_user)}}" alt="{{$share_user['nickname']}}" title="{{$share_user['nickname']}}"
                    class="img-circle lazy"><i style="position: relative;top: 35px;left: -15px;display: inline-block;" class="fa fa-camera fa-2x"></i></a>
            {{else}}
            <img style="width: 80px;height: 80px;" onerror="this.src='{{$STATIC_HOST}}/avatar/s/default.jpg'"
                 data-original="{{get_user_avatar($share_user)}}" alt="{{$share_user['nickname']}}" title="{{$share_user['nickname']}}"
                 class="img-circle lazy">
            {{/if}}
        </div>
        <div class="user-info-block">
            <div class="user-heading">
                <div>
                    <span style="font-size: 14px;font-weight: bold;">{{$share_user['nickname']}}</span>
                    {{if !empty($user_level)}}
                        <span style="color: #49bc6e;font-size: 12px;">{{$user_level['level_name']}}</span>
                    {{/if}}
                </div>
                {{if !$is_me}}
                <div style="padding: 5px;" id="sub-div-content">
                    <button id="sub-sharer" class="btn btn-warning btn-sm btn-sub-sharer" {{if $sub_status}}style="display:none;"{{else}}style="background: #f99d3a;border:0;"{{/if}} data-sharer-id="{{$share_user['id']}}" data-user-id="{{$visitor}}">+关注</button>
                    <!-- Single button -->
                    <div id="unsub-sharer" class="btn-group" {{if !$sub_status}}style="display:none;"{{/if}}>
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            已关注 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu btn-sm" style="min-width: 60px;">
                            <li><a class="btn-unsub-sharer" data-sharer-id="{{$share_user['id']}}" data-user-id="{{$visitor}}">取消关注</a></li>
                        </ul>
                    </div>
                </div>
                {{/if}}
                {{if $is_me&&$is_proxy}}
                    <div style="padding: 5px;">
                        <a href="/share_product_pool/share_products_index.html" class="btn btn-danger btn-sm" style="background: #f99d3a;border:0;">产品街</a>
                    </div>
                {{/if}}
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <ul style="height: 40px;overflow: hidden;font-size: 18px;display: block;padding: 0;">
                        <li style="display:inline-block;width: 65px;text-align: center;border-right-width: 1px;border-right-style: solid;border-color: #d9d9d9;">
                            <a style="display: block;color: #333;text-decoration: none;" href="/weshares/u_comment/{{$share_user['id']}}">
                                <strong style="display: block;font-weight: bold;line-height: 18px;width: 65px;overflow: hidden;color: #449D44;">{{$u_comment_count}}</strong>
                                <span style="display: block;font-size: 12px;color: #808080;text-decoration: none;">爱心评价</span>
                            </a>
                        </li>
                        <li id="show-fans-modal-dialog" style="display:inline-block;width: 65px;text-align: center;border-right-width: 1px;border-right-style: solid;border-color: #d9d9d9;">
                            <a style="display: block;color: #333;text-decoration: none;" {{if $is_me}}href="/weshares/fans_list/{{$share_user['id']}}"{{/if}}>
                                <strong style="display: block;font-weight: bold;line-height: 18px;width: 65px;overflow: hidden;color: #449D44;">{{$follower_count}}</strong>
                                <span style="display: block;font-size: 12px;color: #808080;text-decoration: none;">粉丝</span>
                            </a>
                        </li>
                        <li style="display:inline-block;width: 65px;text-align: center;">
                            <a style="display: block;color: #333;text-decoration: none;" {{if $is_me}}href="/weshares/sub_list/{{$share_user['id']}}"{{/if}}>
                                <strong style="display: block;font-weight: bold;line-height: 18px;width: 65px;overflow: hidden;color: #449D44;">{{if empty($focus_count)}}0{{else}}{{$focus_count}}{{/if}}</strong>
                                <span style="display: block;font-size: 12px;color: #808080;text-decoration: none;">关注</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr style="margin-top: 5px;margin-bottom: 1px;">
                <div style="text-align: left;">
                    <h4 style="font-size: 14px;padding-left: 15px;">关于{{$share_user['nickname']}} {{if $is_me}}&nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm" id="open-update-user-info-dialog">修改</button>&nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm" id="open-update-user-password-dialog">修改登录密码</button>{{/if}}</h4>
                    {{if $share_user['description']}}
                    <div class="testimonials">
                        <div class="active item">
                            <p style="padding-left: 15px;padding-right: 15px;font-size: 13px;" id="user-info-placeholder">{{mb_substr($share_user['description'],0,500)}}</p>
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{if $show_rebate_money}}
                <hr style="margin-top: 5px;margin-bottom: 1px;">
                <div style="text-align: left;">
                    <h4 style="font-size: 14px;padding-left: 15px;">我的余额 ￥{{$rebate_money}}</h4>
                </div>
                {{/if}}
            </div>
        </div>
        {{if $is_me&&!empty($user_level)}}
        <div class="mine_order_total">本月您已完成{{$order_count}}个订单，加油哦！</div>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs" id="share-nav-tab">
                    {{if !empty($my_create_shares)}}
                    <li>
                        <a href="#tab_default_1" data-toggle="tab" style="padding: 5px 10px;">{{if $is_me}}我发起的{{else}}TA发起的{{/if}}</a>
                    </li>
                    {{/if}}
                    {{if !empty($authority_shares) && $is_me}}
                    <li>
                        <a href="#tab_default_2" data-toggle="tab" style="padding: 5px 10px;">被授权的</a>
                    </li>
                    {{/if}}
                    {{if !empty($my_join_shares)}}
                    <li>
                        <a href="#tab_default_3" data-toggle="tab" style="padding: 5px 10px;">{{if $is_me}}我参加的{{else}}TA参加的{{/if}}</a>
                    </li>
                    {{/if}}
                    {{if !empty($pintuan_data)}}
                    <li>
                        <a href="#tab_default_4" data-toggle="tab" style="padding: 5px 10px;">{{if $is_me}}我拼团的{{else}}TA拼团的{{/if}}</a>
                    </li>
                    {{/if}}
                </ul>
                <div class="tab-content">
                    <!-- 我发起的-->
                    {{if !empty($my_create_shares)}}
                    <div class="tab-pane" id="tab_default_1">
                        <div class="comments-list">
                            <?php $process_my_create_share = true; ?>
                            {{loop $my_create_shares $share}}
                            {{template weshares/user_share_item_template}}
                            {{/loop}}
                            <?php $process_my_create_share = false;  ?>
                        </div>
                    </div>
                    {{/if}}
                    <!-- -->
                    {{if !empty($authority_shares) && $is_me}}
                    <div class="tab-pane" id="tab_default_2">
                        <div class="comments-list">
                            <?php $parsing_authority_shares = true; ?>
                            {{loop $authority_shares $share}}
                            {{template weshares/user_share_item_template}}
                            {{/loop}}
                            <?php $parsing_authority_shares = false; ?>
                        </div>
                    </div>
                    {{/if}}
                    <!-- 我参加的-->
                    {{if !empty($my_join_shares)}}
                    <div class="tab-pane" id="tab_default_3">
                        <div class="comments-list">
                            <?php $parsing_join_share = true; ?>
                            {{loop $my_join_shares $share}}
                            {{template weshares/user_share_item_template}}
                            {{/loop}}
                            <?php $parsing_join_share = false; ?>
                        </div>
                    </div>
                    {{/if}}
                    {{if !empty($pintuan_data)}}
                    <div class="tab-pane" id="tab_default_4">
                        <div class="comments-list">
                            <?php $pintuan_orders = $pintuan_data['orders']; ?>
                            <?php $pintuan_shares = $pintuan_data['shares']; ?>
                            <?php $pintuan_tags = $pintuan_data['tags']; ?>
                            {{loop $pintuan_orders $order_item}}
                            {{template weshares/user_pintuan_item_template}}
                            {{/loop}}
                        </div>
                    <div>
                    {{/if}}
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
<!--update user info -->
<div class="modal fade" id="updateUserInfo">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改个人资料</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="user-nickname">昵称</label>
                            <input class="form-control" type="text" id="user-nickname" value="{{$share_user['nickname']}}">
                        </div>
                        <div class="form-group">
                            <label for="user-info-textarea">简介</label>
                            <input type="hidden" id="user-id" value="{{$current_uid}}">
                            <textarea class="form-control" id="user-info-textarea" style="height: 100px;">{{$share_user['description']}}</textarea>
                            <p class="help-block">不要超过500字.</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="save-user-intro">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateUserPassword">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">设置登录密码</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="user-nickname">密码</label>
                            <input class="form-control" type="password" id="user-password" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="user-nickname">确认密码</label>
                            <input class="form-control" type="password" id="re-user-password" value="" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="save-user-password">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{$STATIC_HOST}}/static/weshares/js/user-share-info.min.js?v0.1.1" type="text/javascript"></script>
