<div class="weshare-view-page" ng-controller="WesharesViewCtrl as vm" id='weshareView' data-uid="{{$uid}}"  data-weshare-id="{{$weshare_id}}"
     data-from-type="{{$from}}" data-shared-offer="{{$shared_offer_id}}" data-rebate-log-id="{{$rebateLogId}}"
     data-recommend-id="{{$recommend_id}}" data-comment-order-id="{{$comment_order_id}}"
     data-replay-comment-id="{{$reply_comment_id}}"
     data-from="{{$click_from}}"
     ng-click="clickPage();">
    <div id="sharedOfferResult" style="display: none;" data-shared-offer="{{$follow_shared_offer_id}}"
         data-shared-type="{{$get_coupon_type}}" data-shared-coupon-num="{{$couponNum}}"></div>
    {{literal}}
    <div ng-if="vm.showShareDetailView" ng-click="vm.showUnSubscribe=false;"
         ng-class="{'has-channel-bottom': vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6}">
        <a href="{{vm.getBannerLink()}}" class="banners">
            <img ng-src="{{vm.getBannerImage()}}"/>
        </a>

        <div>
            <div class="share show-detail" ng-init="vm.showUnSubscribe=false;">
                <ul class="share-header clearfix">
                    <li class="fl">
                        <a href="/weshares/user_share_info/{{vm.weshare.creator.id}}">
                            <img class="avatar radius50" lazy-src="{{vm.weshare.creator.image}}"/>
                        </a>
                    </li>
                    <li class="proxy-level" ng-bind='"L"+vm.weshare.creator.level.data_value'>L0</li>
                    <li class="fl">
                        <a class="nickname" href="/weshares/user_share_info/{{vm.weshare.creator.id}}"
                           ng-bind="::vm.weshare.creator.nickname"></a>
                        <dl class="label-container clearfix">
                            <dd class="fl label">
                                <span ng-bind="vm.weshare.creator.label" ng-if="!_.isEmpty(vm.weshare.creator.label)"></span>
                                <span ng-if="_.isEmpty(vm.weshare.creator.label)">吃货向标</span>
                            </dd>
                        </dl>
                    </li>
                    <li class="fr simple-btn" ng-if="vm.currentUser">
                        <a class="faq-sharer-btn" ng-click="vm.redirectFaq()" ng-bind="::vm.faqTipText">私信TA</a>
                    </li>
                    <li class="fr simple-btn" ng-if="vm.isCreator()||vm.canEditShare||vm.isManage">
                        <a ng-click="vm.showShareControl=true;vm.showLayer=true;">分享管理</a>
                    </li>
                    <li class="fr subscription" ng-if="!vm.isCreator()" ng-controller="SubscriptionController as sub">
                        <div class="simple-btn subscribed" ng-class="{'no': !sub.isSubscribed(vm.weshare.creator.id)}"
                             ng-click="sub.subscribe(vm.weshare.creator.id)">关注TA
                        </div>

                        <div class="simple-btn subscribed" ng-class="{'yes': sub.isSubscribed(vm.weshare.creator.id)}"
                             ng-click="sub.clickSubscribedBtn(vm.weshare.creator.id, $event)">
                            <a href="#X" class="clearfix">
                                    <span class="fl">
                                        已关注
                                        <i class="iconfont icon-angledown" style="font-size: 12px;"></i>
                                    </span>
                            </a>
                            <a class="simple-btn unfollow" ng-show="sub.showUnSubscribeBtn"
                               ng-click="sub.unSubscribe(vm.weshare.creator.id)">取消关注</a>
                        </div>
                    </li>
                </ul>
                <div class="image-container"
                     ng-if="vm.weshare.images.length > 0 && vm.weshare.refer_share_id!=3814 && vm.weshare.id!=3814 && vm.weshare.refer_share_id!=3822 && vm.weshare.id!=3822 && vm.weshare.refer_share_id!=4008 && vm.weshare.id!=4008">
                    <img class="image" lazy-src="{{vm.weshare.images[0]}}"
                         fallback-src="&#123;&#123;vm.staticFilePath&#125;&#125;/static/img/default_product_banner.png">
                </div>
                <div ng-if="vm.weshare.refer_share_id==3814 || vm.weshare.id==3814">
                    <iframe frameborder="0" width="100%"
                            ng-src="http://v.qq.com/iframe/player.html?vid=t01719wisq4&tiny=0&auto=0"
                            allowfullscreen></iframe>
                </div>
                <div ng-if="vm.weshare.refer_share_id==3822 || vm.weshare.id==3822">
                    <iframe frameborder="0" width="100%"
                            ng-src="http://v.qq.com/iframe/player.html?vid=f0194qcpnvt&tiny=0&auto=0"
                            allowfullscreen></iframe>
                </div>
                <div ng-if="vm.weshare.refer_share_id==4008 || vm.weshare.id==4008">
                    <iframe frameborder="0" width="100%"
                            ng-src="http://v.qq.com/iframe/player.html?vid=e0195mejuea&tiny=0&auto=0"
                            allowfullscreen></iframe>
                </div>
                <div class="share-content">
                    <h1 class="share-title" ng-bind="vm.weshare.title"></h1>
                    <dl class="share-summary clearfix" style="padding-left:0;">
                        <dd class="fl" style="padding-right: 10px;">
                            报名(<span ng-bind="vm.weshare.summary.order_count">0</span>)
                        </dd>
                        <dd class="fl">浏览(<span ng-bind="vm.weshare.summary.view_count">0</span>)</dd>
                    </dl>

                    <div ng-if="vm.weshare.refer_share_id==3335 || vm.weshare.id==3335">
                        <iframe height="36" width="100%"
                                ng-src="http://www.ximalaya.com/swf/sound/orange.swf?id=14670988" frameborder=0
                                allowfullscreen></iframe>
                        <iframe height="36" width="100%"
                                ng-src="http://www.ximalaya.com/swf/sound/orange.swf?id=14670911" frameborder=0
                                allowfullscreen></iframe>
                        <iframe height="36" width="100%"
                                ng-src="http://www.ximalaya.com/swf/sound/orange.swf?id=14670822" frameborder=0
                                allowfullscreen></iframe>
                    </div>

                    <p class="share-description" ng-hide='_.isEmpty(vm.weshare.description)'>
                        <span ng-bind-html="vm.weshare.description | unsafe"></span>
                    </p>

                    <dl class="share-images clearfix" ng-if="vm.weshare.images.length > 1">
                        <a class="share-image fl" ng-click="vm.viewImage(image)" ng-repeat="image in vm.weshare.images">
                            <img lazy-src="{{image | thumb: 's'}}" alt="{{vm.weshare.title}}" fallback-src="{{image}}"/>
                        </a>
                    </dl>
                </div>

                <ul class="share-take-time clearfix ">
                    <li>
                        取货时间：<span ng-bind='vm.weshare.send_info'></span>
                    </li>
                </ul>
            </div>

            <ul class="section share-recommends clearfix" ng-if="vm.isProxy()">
                <li class="clearfix">
                        <span class="fl proxy" ng-repeat="recommend in vm.recommendData" data-uid="recommend.id">
                            <img ng-click="vm.toUserShareInfo(recommend.id)" lazy-src="{{recommend.image}}"
                                 alt="{{recommend.nickname}}">
                        </span>
                    <span class="tz-recommend fl" ng-if="vm.recommendData.length > 0"><span
                            ng-bind="vm.recommendData.length">0</span>位团长推荐</span>
                </li>
                <li class="me-introduce fl"
                    ng-if="!vm.isCreator()&&vm.isProxy()&&vm.weshare.status == 0 && vm.weshare.type!=4">
                    <span class="introduce" ng-click="vm.showRecommendDialog=true;vm.showLayer=true;">我要推荐</span>
                </li>
                <li class="introduce-money fl"
                    ng-if="(vm.isProxy()||vm.isCreator())&&vm.weshare.proxy_rebate_percent.status==1&&vm.weshare.proxy_rebate_percent.percent>0">
                    推荐佣金<span ng-bind="::vm.weshare.proxy_rebate_percent.percent+'%'" class="stress-span">0%</span>
                </li>
            </ul>
            <div class="section">
                <p class="product-title" id="share-product-list">产品列表</p>

                <div class="product" ng-repeat="product in vm.weshare.products">
                    <ul class="clearfix">
                        <li class="fl">
                            <div class="product-name">
                                <span ng-bind="$index+1"></span>：<span ng-bind="product.name"></span>
                            </div>

                            <div class="product-price" ng-bind="product.price/100 | currency:'￥'">
                            </div>
                        </li>
                    </ul>

                    <dl class="clearfix" ng-if="!vm.checkProductNum(product)">
                        <dd class="fr sold-out">已抢光</dd>
                    </dl>
                    <dl class="clearfix" ng-if="vm.checkProductNum(product)">
                        <dd class="fr add-subtract" ng-click="vm.increaseProductNum(product)"><i class="iconfont icon-jiahao"></i>
                        </dd>
                        <dd class="fr amount" ng-bind="product.num||0">0</dd>
                        <dd class="fr add-subtract" ng-click="vm.decreaseProductNum(product)"><i
                                class="iconfont icon-minus"></i></dd>
                        <dd class="fr limit-score" ng-if="vm.checkProductNum(product)&&product.store>0">仅剩<span
                                ng-bind="vm.getProductLeftNum(product)"></span>份
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="section">
                <p class="product-title">报名列表</p>
                <ul class="clearfix apply">
                    <li><span ng-click="vm.showCommentedOrders=false;" class="line-right"
                              ng-class="{'focus-apply':!vm.showCommentedOrders}">报名(<span
                            ng-bind="vm.weshare.summary.order_count">0</span>)</span>
                    </li>
                    <li><span ng-click="vm.showCommentedOrders=true;" ng-class="{'focus-apply':vm.showCommentedOrders}">评价(<span
                            ng-bind="vm.weshare.summary.comment_count"></span>)</span></li>
                </ul>
                <div class="apply-list clearfix" ng-if="vm.weshare.summary.order_count>0">
                    <div style="position: relative;" ng-repeat="order in vm.ordersDetail.orders"
                         ng-show="!vm.showCommentedOrders || order.status==9" data-id="{{order.id}}">
                        <div class="apply-details" ng-class="{'self-details': vm.isOwner(order)}">
                            <ul class="clearfix">
                                <li class="self fl"
                                    ng-bind="vm.isOwner(order) ? '我':vm.ordersDetail.users[order.creator]['nickname']"></li>
                                <li class="description fl">已经报名</li>
                                <li class="status fr">
                                    <span ng-if="order.status==9" class="done-status"><i class="iconfont icon-heart icon-lg"></i></span>
                                    <span ng-if="order.status==21" class="paid-status">待发货</span>
                                    <span ng-if="order.status==14" class="refunding-status">退款中</span>
                                    <span ng-if="order.status==4" class="refund-status">已退款</span>
                                    <span ng-if="order.status==2" class="shipped-status"
                                          ng-bind="vm.getStatusName(order.status, order.ship_mark)"></span>
                                    <span ng-if="order.status==3" class="received-status"
                                          ng-bind="vm.getStatusName(order.status, order.ship_mark)"></span>
                                    <span ng-if="order.status==1" class="paid-status"
                                          ng-bind="vm.getStatusName(order.status, order.ship_mark)"></span>
                                </li>
                            </ul>

                            <ul class="clearfix self-massage"
                                ng-if="order.status == 9 && !_.isEmpty(vm.getOrderComment(order.id).body)">
                                <li ng-bind="::vm.getOrderComment(order.id).body">
                                </li>
                                <li ng-repeat="reply in vm.getReplyComments(vm.getOrderComment(order.id).id)">
                                    <strong ng-bind="::reply.username"
                                            ng-click="vm.toUserShareInfo(reply.user_id)"></strong>
                                    <span>回复</span>
                                    <span ng-if="reply.is_reply==1">
                                        <strong ng-bind="::reply.reply_username"
                                                ng-click="vm.toUserShareInfo(reply.reply_user_id)"></strong>
                                    </span>
                                    <span>:&nbsp;</span>
                                    <span ng-bind="::reply.body" ng-click="vm.showCommentDialog(order,reply)"></span>
                                    <span style="float: right;" ng-if="vm.isCreator() && $last"
                                          ng-click="vm.showCommentDialog(order,vm.getOrderComment(order.id))">
                                        <div class="commenting-o"><i class="iconfont icon-commentingo icon-lg"></i></div>
                                    </span>
                                </li>
                            </ul>

                            <ul class="clearfix self-massage product-much" ng-if="vm.isOwner(order)">
                                <li><span ng-bind="order.consignee_name"></span>&nbsp <span
                                        ng-bind="order.consignee_mobilephone"></span></li>
                                <li ng-bind="order.consignee_address"></li>
                            </ul>

                            <ul class="clearfix">
                                <li class="product-much" ng-hide="_.isEmpty(vm.getOrderDisplayName(order.id))"
                                    ng-bind="::vm.getOrderDisplayName(order.id)"></li>
                            </ul>

                            <ul class="clearfix self-massage product-much"
                                ng-if="vm.isOwner(order) && vm.isShowShipCode(order);">
                                <li ng-bind="::vm.getShipCode(order);"></li>
                            </ul>

                            <ul class="clearfix operations" ng-if="vm.isOwner(order)">
                                <li class="pass fl" ng-if='vm.isShowExpressInfoBtn(order)' ng-show="order.status==2">
                                    <a class="status-btn" ng-click="vm.showOrderExpressInfo(order)">
                                        来这看货到哪了
                                    </a>
                                </li>
                                <li class="pass fl" ng-show="order.status==2">
                                    <a class="status-btn" ng-click="vm.confirmReceived(order)">
                                        <span ng-if="order.ship_mark=='pys_ziti' || order.ship_mark=='self_ziti' || order.ship_mark=='pin_tuan'">点此收货</span>
                                        <span ng-if="order.ship_mark=='kuai_di'">点此签收</span>
                                    </a>
                                </li>
                                <li class="pass fl" ng-show="order.status==3">
                                    <a class="status-btn" ng-click="vm.showCommentDialog(order)">
                                        小主说两句评价呗
                                    </a>
                                </li>
                            </ul>

                            <ul class="clearfix">
                                <li class="pay-time " ng-bind="::vm.getFormatDate(order.created)"></li>
                            </ul>
                            <div class="triangle-self triangle-white-self"></div>
                            <div class="triangle-self triangle-orange-self"></div>
                        </div>
                        <div class="apply-head self-head" ng-click="vm.toUserShareInfo(order.creator)">
                            <img lazy-src="{{vm.ordersDetail.users[order.creator]['image'] | thumb: 's'}}"
                                 fallback-src="{{vm.staticFilePath + '/avatar/s/default.jpg'}}">
                        </div>
                    </div>

                    <div infinite-scroll='vm.shareOrder.nextPage()'
                         infinite-scroll-disabled='vm.shareOrder.noMore||vm.shareOrder.busy'
                         infinite-scroll-distance='1'>
                        <div style=" position: relative;" ng-repeat="order in vm.shareOrder.orders"
                             ng-show="!vm.showCommentedOrders || order.status==9">
                            <div class="apply-details">
                                <ul class="clearfix">
                                    <li class="self fl" ng-bind="vm.shareOrder.users[order.creator]['nickname']"></li>
                                    <li class="description fl">已经报名</li>
                                    <li class="status fr">
                                        <span ng-if="order.status==9" class="done-status"><i
                                                class="iconfont icon-heart icon-lg"></i></span>
                                        <span ng-if="order.status==21" class="paid-status">待发货</span>
                                        <span ng-if="order.status==14" class="refunding-status">退款中</span>
                                        <span ng-if="order.status==4" class="refund-status">已退款</span>
                                        <span ng-if="order.status==2" class="shipped-status"
                                              ng-bind="vm.getStatusName(order.status, order.ship_mark)"></span>
                                        <span ng-if="order.status==3" class="received-status"
                                              ng-bind="vm.getStatusName(order.status, order.ship_mark)"></span>
                                        <span ng-if="order.status==1" class="paid-status"
                                              ng-bind="vm.getStatusName(order.status, order.ship_mark)"></span>
                                    </li>
                                </ul>

                                <ul class="clearfix massage"
                                    ng-if="order.status == 9 && !_.isEmpty(vm.getOrderComment(order.id).body)">
                                    <li ng-bind="::vm.getOrderComment(order.id).body">
                                    </li>
                                    <li ng-repeat="reply in vm.getReplyComments(vm.getOrderComment(order.id).id)">
                                        <strong ng-bind="::reply.username"
                                                ng-click="vm.toUserShareInfo(reply.user_id)"></strong>
                                        <span>回复</span>
                                        <span ng-if="reply.is_reply==1">
                                            <strong ng-bind="::reply.reply_username"
                                                    ng-click="vm.toUserShareInfo(reply.reply_user_id)"></strong>
                                        </span>
                                        <span>:&nbsp;</span>
                                        <span ng-bind="::reply.body"
                                              ng-click="vm.showCommentDialog(order,reply)"></span>
                                    </li>
                                </ul>

                                <ul class="clearfix">
                                    <li class="product-much" ng-hide="_.isEmpty(vm.getOrderDisplayName(order.id))"
                                        ng-bind="::vm.getOrderDisplayName(order.id)">
                                    </li>
                                </ul>
                                <ul class="clearfix">
                                    <li class="pay-time" ng-bind="::vm.getFormatDate(order.created)"></li>
                                </ul>
                                <div class="triangle triangle-white"></div>
                                <div class="triangle triangle-gray"></div>
                            </div>
                            <div class="apply-head" ng-click="vm.toUserShareInfo(order.creator)">
                                <img lazy-src="{{vm.shareOrder.users[order.creator]['image'] | thumb: 's'}}"
                                     fallback-src="{{vm.staticFilePath + '/avatar/s/default.jpg'}}">
                            </div>
                        </div>
                        <div style="text-align: center;color: #ffa200;margin-bottom: 10px;"
                             ng-show='vm.shareOrder.busy'>加载中...
                        </div>
                    </div>
                </div>
                <div class="apply-list empty-list clearfix" ng-if="vm.weshare.summary.order_count==0"
                     ng-show="!vm.showCommentedOrders">
                    <p>还没有人报名呢~</p>
                </div>
                <div class="apply-list empty-list  clearfix" ng-if="vm.weshare.summary.comment_count==0"
                     ng-show="vm.showCommentedOrders">
                    <p>还没有人评价呢~</p>
                </div>
            </div>
        </div>

        <div class="hide" ng-class="{'show-b': vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6}" ng-if="vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6">
            <footer class="channel_bottom" ng-if="{'show-b':!vm.isShareManager()}">
                <a class="btm_item item-opt small-item" href="/share_opt/index.html">
                    <i ng-if="vm.showUnReadMark" style="background:#f00;border-radius:50%;width:10px;height:10px;top:0px;left:60%;position:absolute; display: block;"></i>
                    <p class="iconfont" style="height: 20px;"><i class="iconfont icon-search"></i></p>
                    <b>发现</b>
                </a>
                <a class="btm_item item-buy large-item" ng-if="!vm.supportGroupBuy()&&vm.weshare.status == 0" ng-click="vm.buyProducts()">我要报名</a>
                <a class="btm_item item-buy middle-item" ng-if="vm.supportGroupBuy()&&vm.weshare.status == 0" ng-click="vm.buyProducts()">我要报名</a>
                <a class="btm_item item-buy middle-item" ng-if="vm.supportGroupBuy()&&vm.weshare.status == 0" ng-click="vm.showGroupShareTipDialog=true;vm.showLayer=true;" style="margin-right: 7%;">我要拼团</a>
                <a class="btm_item item-cut-off large-item" ng-if="(vm.weshare.status == 2||vm.weshare.status == 1 || vm.weshare.status == -1)">报名已截止</a>
                <a class="btm_item small-item" href="/weshares/user_share_info">
                    <p class="iconfont" style="height: 20px;"><i class="iconfont icon-user"></i></p>
                    <b>我的</b>
                </a>
            </footer>
            <footer class="channel_bottom" ng-if="vm.isShareManager()">
                <a class="btm_item item-opt small-item" href="/share_opt/index.html">
                    <i ng-if="vm.showUnReadMark" style="background:#f00;border-radius:50%;width:10px;height:10px;top:0px;left:60%;position:absolute; display: block;"></i>
                    <p class="iconfont" style="height: 20px;"><i class="iconfont icon-search"></i></p>
                    <b>发现</b>
                </a>
                <a class="btm_item item-buy middle-item" ng-if="vm.weshare.status == 0" ng-click="vm.buyProducts()" style="margin-left: 0px;">我要报名</a>
                <a class="btm_item item-stop middle-item" ng-if="vm.weshare.status == 0" ng-click='vm.stopShare();'>截止报名</a>
                <a class="btm_item item-cut-off middle-item" ng-if="vm.isShareManager()&&(vm.weshare.status == 2||vm.weshare.status == 1 ||  vm.weshare.status == -1)"
                   style="margin-left: 0px;">报名已截止</a>
                <a class="btm_item item-stop middle-item" ng-if="vm.isShareManager()&&(vm.weshare.status == 2||vm.weshare.status == 1 ||  vm.weshare.status == -1)" ng-class="{'processing': vm.cloneShareProcessing}"
                   ng-click="vm.cloneShare()">重新开团</a>
                <a class="btm_item small-item" href="/weshares/user_share_info" ng-if="vm.weshare.status == 2||vm.weshare.status == 1 || vm.weshare.status == -1">
                    <p class="iconfont" style="height: 20px;"><i class="iconfont icon-user"></i></p>
                    <b>我的</b>
                </a>
                <a class="btm_item small-item" ng-if="vm.weshare.status == 0" ng-click='vm.notifyFans();'>
                    <p class="iconfont" style="height: 20px;"><i class="iconfont icon-bell"></i></p>
                    <b>团购提醒</b>
                </a>
            </footer>
        </div>

        <div class="hide" ng-class="{'show-b': true}">
            <!--分享管理层-->
            <div class="share-control" ng-if="vm.showShareControl">
                <a ng-if="vm.isCreator()||vm.isManage" ng-click="vm.toShareOrderList()" class="control-order">订单管理</a>
                <a ng-if="vm.isCreator()||vm.canEditShare" ng-click="vm.toUpdate()" class="control-order">修改分享</a>
                <a ng-click="vm.showShareControl=false;vm.showLayer=false;" class="control-detele">取消</a>
            </div>

            <!--提示用户分享可以抢到红包-->
            <div class="new-red-packet-dialog" ng-if="vm.showNotifyGetPacketDialog">
                <img class="bg-color" src="{{::vm.staticFilePath}}/static/weshares/images/r-close.png" ng-click="vm.showNotifyGetPacketDialog=false;vm.showLayer=false;">
                <ul class="text-money">
                    <li class="how-money">抢到{{::vm.getPacketNum}}</li>
                    <li class="src-money">购买[{{::vm.weshare.creator.nickname}}]的分享时可使用</li>
                    <li class="how-take" ng-click="vm.showNotifyGetPacketDialog=false;vm.showLayer=false;">去使用</li>
                </ul>
                <img class="red-packet-dialog-bg" src="{{::vm.staticFilePath}}/static/weshares/images/hongbao.png">
            </div>

            <!--提示分享层-->
            <div class="share-dialog" ng-if="vm.showShareDialog">
                <div style="width: 90%; margin: 0 auto; font-size: 1.3em;">点击右上角“…”，分享给好友或朋友圈。</div>
            </div>
            <!--支付成功没有红包已经关注-->
            <div class="share-dialog" ng-show="vm.showNotifyShareDialog">
                <div style="width: 90%; margin: 0 auto; font-size: 1.3em;">亲，订单已成功，点击… 分享给您的朋友，感谢您将美味传递下去。</div>
            </div>
            <!--评价层-->
            <div class="commenting-dialog" ng-if="vm.showCommentingDialog">
                <div class="clearfix title">
                    <label>爱心评价</label>
                    <a ng-click="vm.closeCommentDialog();" class="closebtn fr"></a>
                </div>
                <div class="clearfix" style="padding: 0 10px;margin-bottom: 30px;">
                    <div class="form-group" ng-class="{'has-error': vm.usernameHasError}">
                        <textarea id="commentContentDom" class='form-control' placeholder="{{vm.commentTipInfo}}"
                                  ng-model='vm.submitTempCommentData.comment_content' ng-change=''></textarea>

                        <p class='tips'>请输入评价信息</p>
                    </div>
                </div>
                <div class="clearfix starttuan_btn">
                    <a ng-click='vm.submitComment()' style="background-color: #ffa200; width: 100%;">评价</a>
                </div>
            </div>

            <!--关注取消层-->
            <div class="layer-toast" ng-if="vm.showUnSubscribeLayer">关注已取消，不再收到TA的消息</div>

            <!--推荐弹出层-->
            <div class="recommend-dialog" ng-if="vm.showRecommendDialog">
                <div class="clearfix title">
                    <label>推荐给我的粉丝</label>
                    <a ng-click="vm.closeRecommendDialog();" class="closebtn fr"></a>
                </div>
                <div class="clearfix" style="padding: 0 10px;">
                    <div class="form-group" ng-class="{'has-error': vm.recommendContentHasError}">
                        <textarea id="recommendContentDom" class='form-control'
                                  ng-model='vm.submitRecommendData.recommend_content'
                                  ng-change='vm.validRecommendContent()'></textarea>

                        <p class='tips'>请输入推荐信息</p>
                    </div>
                </div>
                <div class="clearfix recommend-btn">
                    <a ng-click='vm.submitRecommend()' style="background-color: #ffa200; width: 100%;">推荐</a>
                </div>
            </div>

            <!--通知粉丝层-->
            <div class="notify-dialog" ng-if="vm.showNotifyView">
                <div class="clearfix title" style="padding: 0 10px 10px;">
                    <label style="font-size: 18px;">参团提醒</label>
                    <a ng-click="vm.showLayer=false;vm.showNotifyView=false;" class="closebtn fr"></a>
                </div>
                <div class="clearfix" style="padding: 0 10px;">
                    <div class="form-group">
                        <div class="form-control radio-group">
                            <div>
                                <input type="radio" class="radio" ng-model="vm.sendNotifyType" value="0"
                                       ng-change='vm.resetNotifyContent()'/>
                                <label>通知未买粉丝</label>
                            </div>
                            <div>
                                <input type="radio" class="radio" ng-model="vm.sendNotifyType" value="1"
                                       ng-change='vm.resetNotifyContent()'/>
                                <label>通知已买粉丝</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="padding: 0 10px;margin-bottom: 10px;">
                    <div class="form-group" ng-class="{'has-error': vm.notifyMsgHasError}">
                        <textarea id="msgContentDom" style="height: 100px;" class='form-control'
                                  ng-model='vm.notify.content' ng-change='vm.validNotifyMsgContent();'></textarea>

                        <p class='tips'>请输入信息内容</p>
                    </div>
                </div>
                <div class="clearfix notify_btn">
                    <a ng-click='vm.sendNotifyShareMsg();' style="background-color: #ffa200; width: 100%;">群发通知</a>
                </div>
            </div>
            <div class="background-layer" ng-show="vm.showLayer"
                 ng-click="vm.showShareControl=false;vm.showTipSubSharerDialog=false;vm.showRecommendDialog=false;vm.showLayer=false;vm.showNotifyView=false;vm.showCommentListDialog=false;vm.closeCommentDialog();vm.showBuyingDialog=false;vm.showShareDialog=false;vm.showNotifyShareDialog=false;vm.showNotifyShareOfferDialog=false;vm.showNotifyGetPacketDialog=false;"></div>
        </div>
    </div>

    <div ng-if="vm.showBalanceView">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/balance.html?v0.7.5'"></ng-include>
    </div>

    <div ng-if="vm.chooseOfflineStoreView">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/offline-store.html?v0.7.5'"></ng-include>
    </div>

    <div ng-if="vm.showOfflineStoreDetailView">
        <ng-include
                src="vm.staticFilePath + '/static/weshares/templates/offline-store-detail.html?v0.7.5'"></ng-include>
    </div>

    <div ng-if="vm.showEditConsigneeView">
        <!--编辑地址-->
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/edit-consignee.html?v0.7.5'"></ng-include>
    </div>
    {{/literal}}
</div>

<?php
    $this->assign('title',$page_title);
$this->Html->css(array(
$STATIC_HOST.'/static/weshares/css/weshare-view.min.css?v2.5.12'
), null, array('inline' => false));

$this->Html->script(array(
$STATIC_HOST.'/static/weshares/js/weshare-view.min.js?v2.5.19'
), array('block' => 'scripts'))
?>
