{{$this->Html->css(array(
'jquery.fileupload.css',
))}}
{{$this->Html->script(array(
'vendor/jquery.ui.widget.js',
'//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js',
'//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js',
'jquery.iframe-transport.js',
'jquery.fileupload.js',
'jquery.fileupload-process.js',
'jquery.fileupload-image.js',
'jquery.fileupload-validate.js',
'jquery.validate.min.js',
));
}}
<style>
    .steps {
        height: 46px;
        border-bottom: 2px solid #e6e6e6;
        position: relative;
    }

    ol {
        display: block;
        list-style-type: decimal;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    .steps ol li {
        display: inline;
        float: left;
        width: 170px;
        padding-left: 70px;
        height: 46px;
        line-height: 46px;
        font-size: 16px;
        font-weight: bold;
        color: #999;
        font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
    }
    .steps ol li.active {
        color: #3e3e3e;
        border-bottom: 2px solid #ff4700;
    }
    .steps ol li i {
        display: inline-block;
        zoom: 1;
        margin-right: 5px;
        width: 24px;
        height: 24px;
        text-align: center;
        font-style: normal;
        line-height: 24px;
        font-size: 14px;
        font-weight: bold;
        color: #999;

    }
    .steps-3 ol li{
        width: 260px;
        padding-left: 60px;
    }
    .steps ol li.active i {
        color: #ff4700;
    }
    .form-item {
        padding: 10px 0 10px 370px;
        line-height: 36px;
        zoom: 1;
    }
    .form-item .form-label {
        display: inline;
        float: left;
        margin-left: -200px;
        width: 200px;
        height: 37px;
        line-height: 37px;
        text-align: right;
    }
    .form-item .form-control{
        width: 230px;
        display: inline;
    }
    .help-inline {
        margin-top: 5px;
        margin-bottom: 10px;
        color: #b94a48;
    }


    /*base */
    .shipping-address {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 220px;
    }
    .shipping-address .list {
        width: 1004px;
    }
    .shipping-address .addr {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 237px;
        height: 106px;
        margin: 0 14px 14px 0;
        color: #666;
        cursor: pointer;
    }

    .shipping-address .addr .inner {
        position: relative;
        padding: 11px 15px;

        background: url('/img/openstores/T1huibian.png') no-repeat;
        overflow: hidden;
    }
    .shipping-address .addr-cur .inner {
        background-image: url('/img/openstores/T1huabian.png');
    }
    .shipping-address .addr .addr-hd {
        width: 100%;
        border-bottom: 1px solid #f2f2f2;
        padding: 0 0 40px ;
        margin-bottom: 5px;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<div class="steps steps-3">
    <ol>
        <li><i>1</i><span class="tsl" data-phase-id="r_p_createAccount">创建店铺</span></li>
        <li class="active"><i>2</i><span class="tsl" data-phase-id="r_p_fillUserInfo">认证店铺</span></li>
        <li><i>3</i><span class="tsl" data-phase-id="r_p_regSuc">完成</span></li>
    </ol>
</div>

<div id="J_addresses" class="shipping-address addrMuch">
    <div class="list">
        <a href="/openstores/base">
            <div  class="addr  addr-def address-option-binded" tabindex="1">
                <div class="inner">
                    <div class="addr-hd">
                        <span class="prov">个人认证</span>
                    </div>
                    <div class="addr-bd">
                        <span class="dist">如果您属于个人经营，请使用个人身份进行认证</span>
                    </div>
                </div>
            </div>
        </a>
        <div  class="addr addr-cur addr-def address-option-binded" tabindex="1">
            <div class="inner">
                <div class="addr-hd">
                    <span class="prov">企业认证</span>
                </div>
                <div class="addr-bd">
                    <span class="dist">适合企业进行认证，提供营业执照和食品流通许可证</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="CompanyBox ">
    <div class="form-item">
        <span class="form-label">营业执照： </span>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传营业执照图片</span>
            <input id="fileupload" type="file" name="files" multiple>
        </span>
        <div id="files_1" class="files clearfix"></div>
        <p id="shareTips" class="bg_danger hide"></p>
        {{if $business_licence_show}}
        <div>
            <span>已上传(再次上传提交将替换):</span>
            <div>
                <img src= {{$this->Html->assetUrl($business_licence);}} width="300">
            </div>
        </div>
        {{/if}}
        <div>
            <span>示例:</span>
            <div>
                <img src= {{$this->Html->assetUrl("/img/openstores/cert_license.png");}}>
            </div>
        </div>
    </div>
    <div class="form-item">
        <span class="form-label">食品流通许可证： </span>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传食品流通许可证</span>
            <input  type="file" name="files" multiple>
        </span>
        <div id="files_2" class="files clearfix"></div>
        {{if $food_licence_show}}
        <div>
            <span>已上传(再次上传提交将替换):</span>
            <div>
                <img src= {{$this->Html->assetUrl($food_licence);}} width="300">
            </div>
        </div>
        {{/if}}
        <div>
            <span>示例:</span>
            <div>
                <img src= {{$this->Html->assetUrl("/img/openstores/food_license.jpg");}}>
            </div>
        </div>
    </div>
    <div class="form-item">
        <span class="form-label">食品生产许可证： </span>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传食品生产许可证</span>
            <input  type="file" name="files" multiple>
        </span>
        <div id="files_5" class="files clearfix"></div>
        {{if $food_product_licence_show}}
        <div>
            <span>已上传(再次上传提交将替换):</span>
            <div>
                <img src= {{$this->Html->assetUrl($food_product_licence);}} width="300">
            </div>
        </div>
        {{/if}}
        <div>
            <span>示例:</span>
            <div>
                <img src= {{$this->Html->assetUrl("/img/openstores/food_product_license.jpg");}} width="260">
            </div>
        </div>
    </div>
    <div class="form-item">
        <span class="form-label">食品卫生许可证： </span>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传食品卫生许可证</span>
            <input  type="file" name="files" multiple>
        </span>

        <div id="files_6" class="files clearfix"></div>
        <div>若商家所在地区以上两证已合并为一个证件，只需提供《食品生产许可证》</div>
        {{if $food_health_licence_show}}
        <div>
            <span>已上传(再次上传提交将替换):</span>
            <div>
                <img src= {{$this->Html->assetUrl($food_health_licence);}} width="300">
            </div>
        </div>
        {{/if}}
        <div>
            <span>示例:</span>
            <div>
                <img src= {{$this->Html->assetUrl("/img/openstores/food_health_license.jpg");}}>
            </div>
        </div>
    </div>
    <div class="form-item">
        <span class="form-label">法人身份证： </span>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传法人身份证图（正面）</span>
            <input  type="file" name="files" multiple>
        </span>
        <div id="files_3" class="files clearfix"></div>
        {{if $id_front_show}}
        <div>
            <span>已上传(再次上传提交将替换):</span>
            <div>
                <img src= {{$this->Html->assetUrl($id_front);}} width="300">
            </div>
        </div>
        {{/if}}
        <div>
            <span>示例:</span>
            <span>身份证必须和营业执照“法定代表人姓名”一致</span>
            <div>
                <img src={{$this->Html->assetUrl("/img/openstores/cert_identity_front.png");}}>
                <img src={{$this->Html->assetUrl("/img/openstores/cert_license_side.png");}}>
            </div>
        </div>
    </div>
    <div class="form-item">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传法人身份证图（反面）</span>
            <input  type="file" name="files" multiple>
        </span>
        <div id="files_4" class="files clearfix"></div>
        {{if $id_back_show}}
        <div>
            <span>已上传(再次上传提交将替换):</span>
            <div>
                <img src= {{$this->Html->assetUrl($id_back);}} width="300">
            </div>
        </div>
        {{/if}}
        <div>
            <span>示例:</span>
            <div>
                <img src={{$this->Html->assetUrl("/img/openstores/cert_identity_back.png");}}>
            </div>
        </div>
    </div>
    <form action="/openstores/company" method="post" id="CompanyForm">
        <div class="form-item">
            <span class="form-label">店铺名称： </span>
            <input class="form-control" name="data[Openstore][store_name]" id="store_name" type="text" value="{{$store_name}}" placeholder="用户直接看到的店铺名字">
        </div>
        <div>
            <input type="hidden" name="data[Openstore][business_licence]" id="pic_files_1" value="{{$business_licence}}">
        </div>
        <div>
            <input type="hidden" name="data[Openstore][food_licence]" id="pic_files_2" value="{{$food_licence}}">
        </div>
        <div>
            <input type="hidden" name="data[Openstore][id_front]" id="pic_files_3" value="{{$id_front}}">
        </div>
        <div >
            <input type="hidden" name="data[Openstore][id_back]" id="pic_files_4" value="{{$id_back}}">
        </div>
        <div>
            <input type="hidden" name="data[Openstore][food_product_licence]" id="pic_files_5" value="{{$food_product_licence}}">
        </div>
        <div>
            <input type="hidden" name="data[Openstore][food_health_licence]" id="pic_files_6" value="{{$food_health_licence}}">
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-body ">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <h4>提醒：</h4>
                        <p>你的信息未全，但仍可继续提交</p>
                        <p>
                            <button type="submit" class="btn btn-danger">继续提交</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">回去补全</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-item form-item-short">
            <button  class="btn btn-warning" type="submit" id="btnStoreCreate">提交认证</button>
        </div>

    </form>
</div>

<script>
    $("#CompanyForm").validate({
        //规则制定根据字段的id属性
        rules: {
            store_name: 'required',
            pic_files_1:'required',
            //pic_files_2:'required',
            pic_files_3:'required',
            pic_files_4:'required'
            //pic_files_5:'required',
            //pic_files_6:'required'
        },
        messages: {
            store_name: {required: "请输入店铺名称"},
            pic_files_1:{required: "您的营业执照未上传成功，请检查"},
            //pic_files_2:{required: "您的食品流通许可证未上传成功，请检查"},
            //pic_files_5:{required: "您的食品生产许可证未上传成功，请检查"},
            //pic_files_6:{required: "您的食品卫生许可证未上传成功，请检查"},
            pic_files_3:{required: "您的法人身份证图（正面）未上传成功，请检查"},
            pic_files_4:{required: "您的法人身份证图（反面）未上传成功，请检查"}
        },
        ignore: "",
        errorPlacement: function(error, element) {
            error.appendTo(element.parent());
        },
        errorClass: "help-inline",
        highlight : function(element) {
            $(element).closest('.form-item').addClass('has-error');
        },
        /* 验证通过时的处理 */
        success : function(label) {
            label.closest('.form-item').removeClass('has-error');
            label.remove();
        }
    });
    $('#btnStoreCreate').bind('click', function() {
        var t1 = $("#pic_files_2");
        var t2 = $("#pic_files_5");
        var t3 = $("#pic_files_6");
        if(!$('#CompanyForm').valid()){
            return false;
        }
        if ($.trim(t1.val())=='' || $.trim(t2.val())=='' || $.trim(t3.val())=='') {
            $('#myModal').modal();
            event.preventDefault()
        }

    });

</script>
<script>
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = '/upload/upload',
                uploadButton = $('<button/>')
                        .addClass('btn btn-primary')
                        .prop('disabled', true)
                        .text('Processing...')
                        .on('click', function () {
                            var $this = $(this),
                                    data = $this.data();
                            $this
                                    .off('click')
                                    .text('正在上传')
                                    .on('click', function () {
                                        $this.remove();
                                        data.abort();
                                    });
                            data.submit().always(function () {
                                $this.remove();
                            });
                        });
        var picture_id = "";
        $("input[name='files']").fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 5000000, // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function (e, data) {
            picture_id = $(this).parent().next().attr('id');
            data.context = $('<div/>').css({'width': '120px', 'float':'left'}).appendTo('#'+picture_id);
            $.each(data.files, function (index, file) {
                var node = $('<p/>');
                if (!index) {
                    node.append(uploadButton.clone(true).data(data));
                }
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
            if (file.preview) {
                node.prepend('<br>')
                        .prepend(file.preview);
            }
            if (file.error) {
                node
                        .append('<br>')
                        .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                        .text('{{__("Upload")}}')
                        .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );
        }).on('fileuploaddone', function (e, data) {
            $.each(data.result.files, function (index, file) {
                if (file.url) {
                    var link = $('<a>')
                            .attr('target', '_blank')
                            .prop('href', file.url);
                    $(data.context.children()[index])
                            .wrap(link);

                    var pictures = $('#pic_' + picture_id);
                    pictures.val(file.url);

                } else if (file.error) {
                    var error = $('<span class="text-danger"/>').text(file.error);
                    $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                }
            });
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('{{__("File upload failed.");}}');
                $(data.context.children()[index])
                        .append('<br>')
                        .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>
