<style>
    .steps {
        height: 46px;
        border-bottom: 2px solid #e6e6e6;
        position: relative;
    }

    ol {
        display: block;
        list-style-type: decimal;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    .steps ol li {
        display: inline;
        float: left;
        width: 170px;
        padding-left: 70px;
        height: 46px;
        line-height: 46px;
        font-size: 16px;
        font-weight: bold;
        color: #999;
        font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
    }
    .steps ol li.active {
        color: #3e3e3e;
        border-bottom: 2px solid #ff4700;
    }
    .steps ol li i {
        display: inline-block;
        zoom: 1;
        margin-right: 5px;
        width: 24px;
        height: 24px;
        text-align: center;
        font-style: normal;
        line-height: 24px;
        font-size: 14px;
        font-weight: bold;
        color: #999;

    }
    .steps-3 ol li{
        width: 260px;
        padding-left: 60px;
    }
    .steps ol li.active i {
        color: #ff4700;
    }
</style>
<div class="steps steps-3">
    <ol>
        <li><i>1</i><span class="tsl" data-phase-id="r_p_createAccount">创建店铺</span></li>
        <li ><i>2</i><span class="tsl" data-phase-id="r_p_fillUserInfo">认证店铺</span></li>
        <li class="active"><i>3</i><span class="tsl" data-phase-id="r_p_regSuc">完成</span></li>
    </ol>
</div>
{{if $wait}}
<span style="line-height:50px">您的店铺正在审核中。</span>
{{elseif $not_pass}}
<span style="line-height:50px">很抱歉，您的店铺审核未通过。原因：{{$reason}}</span>
<a {{if $person_apply}}href="/openstores/base"{{else}} href="/openstores/company"{{/if}}>去修改</a>
{{else}}
<span style="line-height:50px">错误，请返回</span>
{{/if}}