<div class="classlist_v2" style="z-index:1">
    <ul class="clearfix">
        <li><a href="/orders/mine" class="back"></a></li>
        <li class="line"></li>
        <li><strong>订单详情</strong></li>
    </ul>
</div>

{{if $display_status}}
{{template Elements/paid_msg}}
{{/if}}
<div class="order_detail_state clearfix">
    <span class="fl"><strong>订单状态: <s id="order_status_tag">{{if $order['Order']['status']==0}}等待付款
        {{elseif $order['Order']['status']==1}}已支付
        {{elseif $order['Order']['status']==2}}已发货
        {{elseif $order['Order']['status']==3}}已收货
        {{elseif $order['Order']['status']==4}}已退款
        {{elseif $order['Order']['status']==14}}退款中
        {{elseif $order['Order']['status']==9}}已完成
        {{elseif $order['Order']['status']==10}}已取消
        {{elseif $order['Order']['status']==11}}已确认有效
        {{elseif $order['Order']['status']==12}}已投诉
        {{/if}}</s></strong></span>
    <span class="fr">订单号: {{$order['Order']['id']}}</span>
</div>
<div class="order_detail_address">
    <span>收货信息</span>
    <p>{{$order['Order']['consignee_name']}}  {{$order['Order']['consignee_mobilephone']}}</p>
    <s>{{$order['Order']['consignee_area']}} {{$order['Order']['consignee_address']}}</s>
</div>


<div class="myorder">
    <dl class="clearfix" style="margin-bottom: 0;">
        <dd class="fl"><a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brand['Brand']['created'])).'/'.$brand['Brand']['slug'].'.html')}}"><img src="{{small_thumb_link($brand['Brand']['coverimg'])}}"></a></dd>
        <dd class="fl"><a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brand['Brand']['created'])).'/'.$brand['Brand']['slug'].'.html')}}">{{$brand['Brand']['name']}}</a></dd>
        <dd class="fr"><a href="{{$this->Html->url('/brands/'.date('Ymd',strtotime($brand['Brand']['created'])).'/'.$brand['Brand']['slug'].'.html')}}"><img src="{{$this->Html->assetUrl('/img/mobile/more.png')}}"></a></dd>
    </dl>
    {{if $order['Order']['type'] == ORDER_TYPE_TUAN || $order['Order']['type'] == ORDER_TYPE_TUAN_SEC}}
        <?php $cart = $Carts[0]; $p = $products[$cart['Cart']['product_id']];
            $tuan_buy_id = $order['Order']['member_id'];
         ?>
        <div class="cart" style="padding-top: 0;">
            <ul class="clearfix">
                <li class="fl"><a href="#X" style="display: block;"><img src="{{small_thumb_link($cart['Cart']['coverimg'])}}" border="0" /></a></li>
                <li style="overflow: hidden; display: block; padding-left: 10px;">
                    <a href="/orders/detail/{{$order['Order']['id']}}">
                        <p>{{$cart['Cart']['name']}}</p>
                        <s>单价:￥{{$this->Number->precision($cart['Cart']['price'], 2)}} x {{$cart['Cart']['num']}}&nbsp;&nbsp;&nbsp;{{if $order['Order']['try_id']}}{{get_spec_name_try($order['Order']['try_id'])}}{{else}}{{get_spec_name_by_pid_and_sid($cart['Cart']['product_id'],$cart['Cart']['specId'])}}{{/if}}</s>
                        <s><span>{{if $order['Order']['ship_mark']}}{{get_ship_mark_name($order['Order']['ship_mark'])}}{{/if}}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{if !empty($cart['Cart']['send_date'])}}<span class="redcolor">预计{{date('n月d日', strtotime($cart['Cart']['send_date']))}}({{day_of_week($cart['Cart']['send_date'])}})到货</span>{{/if}}</s>
                    </a>
                </li>
            </ul>
        </div>
    {{elseif !empty($Carts)}}
        {{loop $Carts $cart}}
            <?php $p = $products[$cart['Cart']['product_id']]; ?>
            <div class="cart" style="padding-top: 0;">
                <ul class="clearfix">
                    <li class="fl"><a href="#X" style="display: block;"><img src="{{small_thumb_link($cart['Cart']['coverimg'])}}" border="0" /></a></li>
                    <li style="overflow: hidden; display: block; padding-left: 10px;">
                        <a href="/orders/detail/{{$order['Order']['id']}}">
                            <p>{{$cart['Cart']['name']}}</p>
                            <s>单价:￥{{$this->Number->precision($cart['Cart']['price'], 2)}} x {{$cart['Cart']['num']}}&nbsp;&nbsp;&nbsp;{{if $order['Order']['try_id']}}{{get_spec_name_try($order['Order']['try_id'])}}{{else}}{{get_spec_name_by_pid_and_sid($cart['Cart']['product_id'],$cart['Cart']['specId'])}}{{/if}}</s>
                            <s><span>{{if $order['Order']['ship_mark']}}{{get_ship_mark_name($order['Order']['ship_mark'])}}{{/if}}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{if !empty($cart['Cart']['send_date'])}}<span class="redcolor">预计{{date('n月d日', strtotime($cart['Cart']['send_date']))}}({{day_of_week($cart['Cart']['send_date'])}})到货</span>{{/if}}</s>
                            {{if !empty($cart['Cart']['send_date'])}}{{if $consignment_date_not_available}}<s><span class="redcolor">(商品排期已过,请您重新下单)</span></s>{{/if}}{{/if}}
                            {{if in_array($cart['Cart']['product_id'], $expired_pids)}}<s><span class="redcolor">(该商品已下架)</span></s>{{/if}}
                            {{if $order['Order']['try_id']>0}}
                            {{if $has_sold_out}}
                                <s><span class="redcolor">(商品已经售完)</span></s>
                            {{elseif $has_reach_limit}}
                                <s><span class="redcolor">(商品已经超限)</span></s>
                            {{/if}}
                            {{/if}}
                        </a>
                    </li>
                </ul>
            </div>
        {{/loop}}
    {{else}}
    <span>订单中没有商品</span>
    {{/if}}
    <div class="order_detail_price">
        {{if !empty($order['Order']['remark'])}}
        <div class="clearfix">
            <span class="fl">备注：</span>
            <span class="fr">{{$order['Order']['remark']}}</span>
        </div>
        {{/if}}
        <div class="clearfix">
            <span class="fl">运费：</span>
            <span class="fr">￥{{$this->Number->precision($order['Order']['ship_fee'], 2)}}</span>
        </div>
        <div class="clearfix">
            <span class="fl">优惠券：</span>
            <span class="fr">-￥{{$this->Number->precision(($order['Order']['coupon_total']+$order['Order']['global_coupon_total'])/100, 2)}}</span>
        </div>
        <div class="clearfix">
            <span class="fl">积分：</span>
            <span class="fr">-￥{{$this->Number->precision($order['Order']['applied_score']/100, 2)}}</span>
        </div>
        <div class="clearfix">
            <span class="fl">实付款(含运费)：</span>
            <span class="fr"><strong>￥{{$this->Number->precision($order['Order']['total_all_price'], 2)}}</strong></span>
        </div>
    </div>
</div>

<div class="order_detail_address">
    {{if $order['Order']['status']==2 || $order['Order']['status']==3}}
    <ul class="clearfix order_detail_btn">
        {{if $order['Order']['ship_type']&&$shipdetail}}
        <li><a href="/orders/ship_detail/{{$order['Order']['id']}}" class="mr5">查看物流</a></li>
        <li><a href="tel:{{SERVICE_LINE_PHONE}}" class="ml5">客服热线</a></li>
        {{else}}
        <li style="width: 100%"><a href="tel:{{SERVICE_LINE_PHONE}}" class="ml5">客服热线</a></li>
        {{/if}}
    </ul>
    {{else}}
    <ul class="clearfix order_detail_btn">
        <li style="width: 100%;"><a href="tel:{{SERVICE_LINE_PHONE}}" class="ml5">客服热线</a></li>
    </ul>
    {{/if}}
</div>
<div class="order_detail_time">
    <span>下单时间：{{$order['Order']['created']}}</span>
    <br/>
    {{if $order['Order']['pay_time']}}
    <span>支付时间：{{$order['Order']['pay_time']}}</span>
    {{/if}}
</div>

<div class="order_detail_operate">
    <ul class="clearfix">
        <li class="fl">实付款:<span>￥{{$this->Number->precision($order['Order']['total_all_price'], 2)}}</span></li>
        {{if $order['Order']['status']== ORDER_STATUS_PAID}}
        <li class="fr">
            {{if $toShare}}
                <a href="/users/my_offers" class="order_paybtn fl">领取红包</a>
            {{/if}}
            <a href="#X" class="order_paybtn fl" id="remind-deliver"  value="{{$order['Order']['id']}}">提醒发货</a>
        </li>
        {{elseif $order['Order']['status']== ORDER_STATUS_SHIPPED}}
        <li class="fr" id="order_shipped_panel">
            {{if $toShare}}
                <a href="/users/my_offers" class="order_paybtn fl">领取红包</a>
            {{/if}}
            <a href="#X" class="order_paybtn fl" id="btn_confirm_receive"  value="{{$order['Order']['id']}}">确认收货</a>
        </li>
        {{elseif $order['Order']['status']== ORDER_STATUS_WAITING_PAY}}
        <li class="fr">
            <a href="#X" id="cancel_order" class="order_deletebtn fl">取消订单</a>
            {{if $show_pay}}
                <a href="#X" id="pay_order" class="order_paybtn fl">去支付</a>
            {{/if}}
        </li>
        {{elseif $order['Order']['status']== ORDER_STATUS_CANCEL}}
        <li class="fr">
            <a href="#X" id="delete_order" class="order_deletebtn fl">删除订单</a>
        </li>
        {{elseif $order['Order']['status']== ORDER_STATUS_RECEIVED}}
        <li class="fr">
            {{if $toShare}}
                <a href="/users/my_offers" class="order_paybtn fl">领取红包</a>
            {{/if}}
            {{if $order['Order']['is_comment']==0}}
                <a href="/comments/add_comment/{{$order['Order']['id']}}" class="order_paybtn fl"  value="{{$order['Order']['id']}}">评论赢积分</a>
            {{else}}
                <a href="/comments/add_comment/{{$order['Order']['id']}}" class="order_paybtn fl"  value="{{$order['Order']['id']}}">查看评论</a>
            {{/if}}
        </li>
        {{/if}}
    </ul>
</div>
{{if $need_attentions}}
<div class="modal fade" id="myModal" role="dialog">
    <div class="comment_tanchubg_layer radius10">
        <div>关注<span>[朋友说]</span>后, 可以查看订单状态!</div>
        <ul class="clearfix">
            <li class="fl"><a class="comment_bingbtn radius10" data-dismiss="modal" href="javascript:void(0)">稍后关注</a></li>
            <li class="fr"><a class="comment_nobingbtn radius10" id="subscribe">关注</a></li>
        </ul>
    </div>
</div>
{{/if}}
{{if $order['Order']['status']==0}}
<div class="tipslayer" id="pay_tip_layer" style="display: none;">
    <a href="#X" class="tipslayer_close" id="close_pay_tip_layer"></a>
    <div class="conorderprice">￥{{$this->Number->precision($order['Order']['total_all_price'], 2)}}</div>
    <div class="conorder_btn clearfix">
        <div class="fl" style="width: 47%">
            <a href="/wxPay/jsApiPay/{{$order['Order']['id']}}.html?showwxpaytitle=1" class="fl weixin">微信支付</a>
        </div>
        <div class="fr" style="width: 47%">
            <a href="/ali_pay/{{$isMobile?'wap_to_alipay':'goto_to_alipay'}}/{{$order['Order']['id']}}" class="fr alipay">支付宝</a>
        </div>
    </div>
</div>
<div class="tipslayer_bg" id="pay_tipslayer_bg" style="display: none;"></div>
{{/if}}
<span id="orderId" style="display: none">{{$order['Order']['id']}}</span>
<script>
    $(document).ready(function(){
        var order_id = "{{$order['Order']['id']}}";
        var order_try_id = "{{$order['Order']['try_id']}}";
        var $myModal = $('#myModal');
        var $cancel_order = $('#cancel_order');
        var $pay_order = $('#pay_order');
        var $receiveBtn = $('#btn_confirm_receive');
        var $order_status_tag = $('#order_status_tag');
        var $delete_order = $('#delete_order');
        var $pay_tip_layer = $('#pay_tip_layer');
        var $pay_tipslayer_bg = $('#pay_tipslayer_bg');
        var $close_pay_tip_layer = $('#close_pay_tip_layer');
        if($myModal.size()>=1){
            $('#subscribe').bind('click', function(){
                var order_id = $('#orderId').text();
                $.get("/weixin/save_subscribe_info?orderId="+order_id, function(data) {
                    window.location.href = wx_follow_url;
                });
            });
            $myModal.modal('show');
        }
        var $followSubscribe = $('#follow_subscribe');
        if($followSubscribe.size()>=1){
            $followSubscribe.bind('click', function(){
                $.get("/weixin/save_subscribe_info?type=follow", function(data) {
                    window.location.href = wx_follow_url;
                });
            });
        }

        function bind_delete_click(){
            $delete_order.on('click',function(){
                bootbox.confirm('您要删除该订单吗？', function (result) {
                    if (result) {
                        orders_remove_3g(order_id, function(){
                            window.location.href = '/orders/mine';
                        });
                    }
                });
            });
        }
        bind_delete_click();

        $cancel_order.on('click',function(){
            var me = $(this);
            bootbox.confirm('您要取消该订单吗？', function (result) {
                if (result) {
                    orders_undo_3g(order_id, function(data){
                        if (data.ok && order_try_id) {
                            $order_status_tag.text('已取消');
                            me.parent('li.fr').html('<a href="#X" id="delete_order" class="order_deletebtn fl">删除订单</a>');
                            $delete_order = $('#delete_order');
                            bind_delete_click();
                        } else {
                            window.location.href = '/orders/detail/' + order_id + '.html';
                        }
                    });
                }
            });
        });

        $close_pay_tip_layer.on('click',function(){
            $pay_tipslayer_bg.hide();
            $pay_tip_layer.hide();
        });

        $pay_order.on('click',function(){
            //
            $pay_tipslayer_bg.show();
            $pay_tip_layer.show();
        });

        $receiveBtn.click(
            function () {
                var me = $(this);
                bootbox.confirm('您要确认收货吗？', function (result) {
                    if (result) {
                        orders_receive_3g_detail(order_id, order_try_id, function(data){
                            if (data.ok && order_try_id) {
                                $order_status_tag.text('已收货');
                                me.parent('li.fr').html('<a href="/comments/add_comment/"'+order_id+' class="order_paybtn fl"  value="'+order_id+'">评论赢积分</a>');
                            } else {
                                window.location.href = '/orders/detail/' + order_id + '.html';
                            }
                        });
                    }
                });
            }
        );

        function mobileTip(msg,fadeInTime,fadeOutTime,callBack){
            this.$tipInfoPanel = $('<div class="comment_tip_layer radius10" style="width:60%; left:50%; top:30%; margin-left:-30%; display: none;"></div>');
            $('body').append(this.$tipInfoPanel);
            fadeInTime = fadeInTime?fadeInTime:1000;
            fadeOutTime = fadeOutTime?fadeOutTime:3000;
            callBack = callBack?callBack:function(){};
            this.$tipInfoPanel.text(msg).fadeIn(fadeInTime).fadeOut(fadeOutTime,callBack);
        }

        $('#remind-deliver').click(function(){
            $.ajax({
                type:'post',
                success:function(data){
                    if(data==1|| data==3){
                        $('#remind-deliver').text('已提醒商家').prop('disabled','disabled');
                        mobileTip('商家已收到您的提醒啦');
                    }else if(data==2){
                        mobileTip('您已经提醒过啦，请15分钟后再提醒');
                    }else {
                        mobileTip('提醒发货失败，请稍后再试');
                    }
                },
                data:{},
                url:'/orders/remind_deliver/'+order_id,
                dataType:'json'
            })
        });

    })
</script>
