<div  class="container">
	<div class="orderinfo voffset3">

        {{if $action == 'pay' || $order['Order']['status']==0 }}
        <div class="panel panel-warning">
            <div class="panel-heading">请您从如下两种方式任选一种付款</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><strong>支付宝</strong>：<strong>yxg@ilegong.com</strong>, 收款人：北京爱乐供科技有限公司；</li>
                    <li><strong>微信转账</strong>：<strong>荣浩</strong> (如果他还不是您的好友，请加微信号 Michael-haohao)(<small>微信支付对公版正在腾讯审核中。荣浩是我们的CEO，请放心支付</small>)</li>
                </ul>
            </div>
        </div>
        {{/if}}

        <div>
         <p class="col-xs-12"> 订单状态：<span class="order_status_text">
                    {{if $order['Order']['status']==0}}等待付款
                    {{elseif $order['Order']['status']==1}}已支付
                    {{elseif $order['Order']['status']==2}}已发货
                    {{elseif $order['Order']['status']==3}}已收货
                    {{elseif $order['Order']['status']==4}}已退款
                    {{elseif $order['Order']['status']==9}}已完成
                    {{elseif $order['Order']['status']==10}}已取消
                    {{elseif $order['Order']['status']==11}}已确认有效
                    {{elseif $order['Order']['status']==12}}已投诉
                    {{/if}}</span>
         </p>
        <span class="col-xs-12">下单时间：{{$order['Order']['created']}}</span>
        <br>
        <span class="col-xs-12">订单号:{{$order['Order']['id']}}</span>
        <div class="clearfix"></div>
        </div>

        <div class="voffset3" id="ship_info">
        <span class="col-xs-6"><strong>收货人：{{$order['Order']['consignee_name']}}</strong></span>
        <span class="col-xs-6 text-right"><strong>{{$order['Order']['consignee_mobilephone']}}</strong></span>
        <span class="col-xs-10">收货地址：{{$order['Order']['consignee_address']}}</span>
        <div class="clearfix"></div>
        </div>
        <hr/>

        {{if $order['Order']['ship_type']}}
        <p><strong>物流信息</strong></p>
        <span class="col-xs-4">快递公司: {{$ship_type[$order['Order']['ship_type']]}}</span>
        <span class="col-xs-8 text-right">快递单号：{{$order['Order']['ship_code']}}</span>
        <div class="clearfix"></div>
        <hr/>
        {{/if}}

        {{if !empty($Carts)}}
        {{loop $Carts $cart}}
        <?php $p = $products[$cart['Cart']['product_id']]; ?>
        <div class="clearfix orderitem_item"><a href="{{'/products/'.date('Ymd',strtotime($p['Product']['created'])).'/'.$p['Product']['slug'].'.html'}}">
            {{$this->Html->image($cart['Cart']['coverimg'], array(
            'class' => 'col-xs-3',
            'style' => 'max-height:60px'
            ));}}
            </a>
            <p class="col-xs-6"><a href="{{'/products/'.date('Ymd',strtotime($p['Product']['created'])).'/'.$p['Product']['slug'].'.html'}}">{{$cart['Cart']['name']}}</a></p>
            <div class="col-xs-3 pull-right">
                <p style="margin-bottom: 0;" class="pull-right">￥{{$this->Number->precision($cart['Cart']['price'], 2)}}</p>
                <br/>
                <small style="margin-bottom: 0" class="pull-right">×{{$cart['Cart']['num']}}</small>
            </div>
        </div>
        {{/loop}}
        {{else}}
            <span>订单中没有商品</span>
        {{/if}}
        <hr>
        <p class="col-xs-12 text-right">
        商品总价：￥{{$this->Number->precision($order['Order']['total_price'], 2)}}<br/>
        运费：￥{{$this->Number->precision($order['Order']['ship_fee'], 2)}}<br/>
        实付(含运费)：￥{{$this->Number->precision($order['Order']['ship_fee'] + $order['Order']['total_price'], 2)}}
        </p>

	</div>
</div>