<div id="edit_consignee" class="o_write">
<h2>收货人信息&nbsp;</h2>
<form action="{{$this->Html->url('/orders/info_consignee')}}" class="form-horizontal"  onsubmit="return ajaxeSubmitForm(this);" method="post">
	<div class="middle">
		<div id="addressListPanel"><div class="cydz"><b>常用地址</b></div>
			<table  class="table table-bordered"><tbody>
				{{loop $consignees  $consignee}}
				<tr class="consignee_row {{if $consignee['OrderConsignee']['status']}}danger{{/if}}" id="consignee_{{$consignee['OrderConsignee']['id']}}">
				<td style="width:40px;"><input type="radio"  {{if $consignee['OrderConsignee']['status']}}checked="checked"{{/if}} onclick="chose_Consignee({{$consignee['OrderConsignee']['id']}})" name="data[OrderConsignee][id]" value="{{$consignee['OrderConsignee']['id']}}" id="addr_{{$consignee['OrderConsignee']['id']}}"></td>
				<td><label for="addr_{{$consignee['OrderConsignee']['id']}}"><strong>{{$consignee['OrderConsignee']['name']}}</strong>&nbsp;({{$consignee['OrderConsignee']['mobilephone']}})<br/>{{$consignee['OrderConsignee']['address']}}</label>
					<br/>
					<a onclick="SetDefaultAddress(this,'{{$consignee['OrderConsignee']['id']}}');" class="remark" href="#none"><label style="cursor:pointer;" for="addr_{{$consignee['OrderConsignee']['id']}}">[设为默认]</label></a>&nbsp;&nbsp;
					<a onclick="editConsignee(this,'{{$consignee['OrderConsignee']['id']}}');" class="remark" href="#none">[编辑]</a>&nbsp;&nbsp;
					<a onclick="DelAddress(this,'{{$consignee['OrderConsignee']['id']}}');" class="remark" href="#none">[删除]</a>
				</td>
				</tr>
				{{/loop}}
				<tr>
					<td style="width:40px;"><input type="radio" {{if !$total_consignee}}checked="checked"{{else}} onclick="use_NewConsignee()"{{/if}} value="" id="consignee_radio_new" name="data[OrderConsignee][id]" class="hookbox"></td>
					<td><label for="consignee_radio_new">使用新地址 </label><span style="display:none" class="status error" id="addNumLimitNote">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 当前地址数量已达上限，若要继续添加新地址，请先删除部分收货地址。</span></td>
				</tr>
			</tbody></table>
		</div>
		
		<div id="consignee_addr" class="clearfix" {{if $total_consignee}}style="display:none;"{{/if}}>
			<div class="form-group">
			    <label for="consignee_name" class="col-xs-3 control-label">收货人</label>
			    <div class="col-xs-9">
			      <input type="text" class="form-control" placeholder="请输入收货人姓名" id="consignee_name" name="data[OrderConsignee][name]" value="{{$this->Session->read('OrderConsignee.name')}}">
			    </div>
			</div>
			<div class="form-group">
			    <label for="consignee_address" class="col-xs-3 control-label">地　　址</label>
			    <div class="col-xs-9">
			    	<select id="address-chose" class="form-control">
			    		<option value="中关村银科,第三极">中关村银科,第三极(免运费)</option>
			    		<option value="知春路西格玛大厦">知春路西格玛大厦(免运费)</option>
			    		<option value="五道口搜狐网络大厦">五道口搜狐网络大厦(免运费)</option>
			    		<option value="电科院">电科院(免运费)</option>
			    		<option value="">其他(将产生邮寄费用)</option>
			    	</select><br/>
			      <input type="text" style="display:none;" placeholder="请输入地址" class="form-control" id="consignee_address" name="data[OrderConsignee][address]" value="{{$this->Session->read('OrderConsignee.address')}}" >
			    </div>
			</div>
			<div class="form-group">
			    <label for="consignee_mobilephone" class="col-xs-3 control-label">手　　机</label>
			    <div class="col-xs-9">
			      <input type="text" class="form-control" placeholder="请输入手机号" id="consignee_mobilephone" name="data[OrderConsignee][mobilephone]" value="{{$this->Session->read('OrderConsignee.mobilephone')}}" >
			    </div>
			</div>
			
		</div>
		<div class="footer">
			<input type="hidden" name="data[OrderConsignee][edit_type]" id="edit_type" value="{{if $total_consignee}}select{{else}}new{{/if}}">
			<input type="submit" id="save_consignee_sbt" value="保存收货人信息" class="btn btn-primary">
		</div>
	</div>
</form>
</div>
<script>
$('#save_consignee_sbt').click(function(){
	var val = $("input[name='data[OrderConsignee][id]']:radio").val();
	alert(val);
	if(val==""){
		if($('#consignee_name').val()==""){
			$('#consignee_name').focus();
			alert("请输入收获人姓名");
			e.preventDefault();
			return false;
		}
		if($('#consignee_address').val()==""){
			$('#consignee_address').focus();
			alert("请输入收获地址");
			e.preventDefault();
			return false;
		}
		if($('#consignee_mobilephone').val()==""){
			$('#consignee_mobilephone').focus();
			alert("请输入联系电话");
			e.preventDefault();
			return false;
		}
	}
})

	$('#address-chose').change(function(){
		$('#consignee_address').hide().val(this.value);
		if(this.value==""){
			$('#consignee_address').show();
		}
	})
</script>