{{$this->Html->script(array(
            'front_orders.js',
        ));
}}
<div class="o_write">
<h2>收货人信息&nbsp;<a onclick="close_consignee(this)" href="javascript:void(0)" id="lbtnConsigneeWrite">[关闭]</a>
</h2>
<form action="{{$this->Html->url('/orders/info_consignee')}}" onsubmit="return ajaxeSubmitForm(this);" method="post">
	<div class="middle">
		<div id="addressListPanel"><div class="cydz"><b>常用地址</b></div>
			<table  class="table table-bordered"><tbody>
				{{loop $consignees  $consignee}}
				<tr class="consignee_row {{if $consignee['OrderConsignee']['status']}}danger{{/if}}" id="consignee_{{$consignee['OrderConsignee']['id']}}">
				<td style="width:40px;"><input type="radio"  {{if $consignee['OrderConsignee']['status']}}checked="checked"{{/if}} onclick="chose_Consignee({{$consignee['OrderConsignee']['id']}})" name="data[OrderConsignee][id]" value="{{$consignee['OrderConsignee']['id']}}" id="addr_{{$consignee['OrderConsignee']['id']}}"></td>
				<td><label for="addr_{{$consignee['OrderConsignee']['id']}}"><strong>{{$consignee['OrderConsignee']['name']}}</strong>&nbsp;{{$consignee['OrderConsignee']['area']}}&nbsp;{{$consignee['OrderConsignee']['address']}}</label></td>
				<td style="width:220px">
					<a onclick="editConsignee(this,'{{$consignee['OrderConsignee']['id']}}');" class="remark" href="#none">[编辑]</a>
					<a onclick="SetDefaultAddress(this,'{{$consignee['OrderConsignee']['id']}}');" class="remark" href="#none"><label style="cursor:pointer;" for="addr_{{$consignee['OrderConsignee']['id']}}">[设为默认]</label></a>
					<a onclick="DelAddress(this,'{{$consignee['OrderConsignee']['id']}}');" class="remark" href="#none">[删除]</a>
				</td>
				</tr>
				{{/loop}}
				<tr>
					<td style="width:40px;"><input type="radio" id="consignee_radio_new" name="data[OrderConsignee][id]" class="hookbox" onclick="use_NewConsignee()"></td>
					<td><label for="consignee_radio_new">使用新地址 </label><span style="display:none" class="status error" id="addNumLimitNote">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 当前地址数量已达上限，若要继续添加新地址，请先删除部分收货地址。</span></td>
				</tr>
			</tbody></table>
		</div>
		
		<div id="consignee_addr" {{if count($consignees)}}style="display:none;"{{/if}}>
			<table class="table table-bordered">
			<tbody><tr>
			    <td width="125" valign="middle" align="right"><font color="red">*</font>收货人姓名：</td>
			    <td valign="middle" align="left">
			        <input type="text" onblur="check_addressName()" name="data[OrderConsignee][name]" value="{{$this->Session->read('OrderConsignee.name')}}" maxlength="20" class="txt" id="consignee_name">&nbsp;
			    </td>
			</tr>
			<tr>
			    <td valign="middle" align="right"><font color="red">*</font>省　　份：</td>
			    <td valign="middle" align="left">
			    	<input type="text" onblur="check_address()" name="data[OrderConsignee][area]"  value="{{$this->Session->read('OrderConsignee.area')}}" style="margin-left:2px;width:327px" maxlength="50" class="txt" id="consignee_area">&nbsp;
			    	
			    </td>
			</tr>
			<tr>
			    <td valign="middle" align="right"><font color="red">*</font>地　　址：</td>
			    <td valign="middle" align="left">
			        <input type="text" onblur="check_address()" name="data[OrderConsignee][address]"  value="{{$this->Session->read('OrderConsignee.address')}}" style="margin-left:2px;width:327px" maxlength="50" class="txt" id="consignee_address">&nbsp;
			    </td>
			</tr>
			<tr>
			    <td valign="middle" align="right"><font color="red">*</font>手机号码：</td>
			    <td valign="middle" align="left">
			        <input type="text" onblur="check_mobile();"  name="data[OrderConsignee][mobilephone]"  value="{{$this->Session->read('OrderConsignee.mobilephone')}}" class="txt" id="consignee_mobilephone"> &nbsp;或者 固定电话： <input type="text"  name="data[OrderConsignee][telephone]"  onblur="check_telephone()" value="{{$this->Session->read('OrderConsignee.telephone')}}" class="txt" id="consignee_telephone">&nbsp;<font color="#000000">用于接收发货通知短信及送货前确认</font>
			    </td>
			</tr>
			<tr>
			    <td valign="middle" align="right">电子邮件：</td>
			    <td valign="middle" align="left">
			        <input type="text" onblur="check_email()"  name="data[OrderConsignee][email]"  value="{{$this->Session->read('OrderConsignee.email')}}" class="txt" id="consignee_email"> &nbsp;<font color="#000000">用来接收订单提醒邮件，便于您及时了解订单状态</font>
			    </td>
			</tr>
			<tr>
			    <td valign="middle" align="right">邮政编码：</td>
			    <td valign="middle" align="left">
			         <input type="text" onblur="check_postcode()"  name="data[OrderConsignee][postcode]"  value="{{$this->Session->read('OrderConsignee.postcode')}}" style="width:77px" class="txt" id="consignee_postcode">&nbsp;<font color="#000000" style="margin-left:53px">有助于快速确定送货地址</font>
			     </td>
			</tr>
			</tbody></table>
		</div>
	</div>
	<div class="footer">
		<input type="hidden" name="data[OrderConsignee][edit_type]" id="edit_type" value="{{if count($consignees)}}select{{else}}new{{/if}}">
	    <input type="submit" value="保存收货人信息" class="btn btn-primary">
	</div>
</form>
</div>