<style>
td {padding:5px 10px;}
</style>
<div  class="container">
	<div class="orderinfo voffset3">

        {{if $action == 'pay'}}
        <div class="panel panel-warning">
            <div class="panel-heading">请您任选如下两种方式付款</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><strong>支付宝</strong>：<strong>yxg@ilegong.com</strong>, 收款人：北京爱乐供科技有限公司；</li>
                    <li><strong>微信转账</strong>：<strong>荣浩</strong> (如果他还不是您的好友，请加微信号 Michael-haohao)</li>
                </ul>
            </div>
        </div>
        {{/if}}

		<div id="part_consignee">
			{{if $has_chosen_consignee}}
				{{template orders/order_consignee}}
			{{else}}
				{{template orders/edit_consignee}}
			{{/if}}
		</div>

		<div id="part_payTypeAndShipType"><!-- template orders/info_shiptype--></div>
		
		<div id="part_invoice"><!-- template orders/order_invoice--></div>
		<!-- 	
		<div id="part_remark">
			<div class="o_show">
			 <h2>订单备注&nbsp;{{if !$order_id}}<a onclick="showForm_remark(this)" href="javascript:void(0)">[修改]</a>{{/if}}</h2>
			 <div class="middle">
			            <table style="width:100%">
			                <tbody><tr>
			                    <td id="order_remark_show" style="text-align:left;padding-left:20px;">
			                    {{if $this->Session->read('Order.remark')}}{{$this->Session->read('Order.remark')}}
			                    {{else}}暂无备注{{/if}}</td>			                    
			                </tr>
			            </tbody></table>
			</div>
			   <div class="footer"></div>
			</div>
			<div class="o_write" style="display:none;">
			    <h2>订单备注 <a onclick="close_remark()" href="javascript:void(0)">[关闭]</a> <span class="f12 fw100">声明：备注中有关收货人信息、支付方式、配送方式、发票信息等购买要求一律以上面的选择为准，备注无效。</span></h2>
			    <div class="middle">
			        <input type="text" maxlength="200" value="" class="txt" style="width:300px;" id="order_remark">   &nbsp;&nbsp;&nbsp;
			    </div>
			    <div class="footer">
			        <input type="button" onclick="saveOrder_remark($('#order_remark').val())" value="保存订单备注" class="btn btn-default">
			    </div>
			</div>
		</div> -->
		<hr/>
		<div class="o_show">
		<h2>商品清单</h2>
		
		<div class="p-list">
			<table  class="table table-bordered">
			<tr><th width="50%">商品名称</th><th>购买价格</th><th>商品数量</th><th>合计</th></tr>
			<tbody>
			{{loop $Carts $cart}}
			<tr><td>{{$cart['Cart']['name']}}</td>
			<td>{{$this->Number->precision($cart['Cart']['price'], 2)}}</td>
			<td>{{$cart['Cart']['num']}}</td>
			<td>{{$this->Number->precision($cart['Cart']['price']*$cart['Cart']['num'], 2)}}</td>
			</tr>
			{{/loop}}
			</tbody>
			</table>
		</div>
        <p class="pull-right">运费：{{$this->Number->precision($shipFee, 2)}}</p>
        </div>

            <div class="clearfix"></div>

		<!-- template orders/info_wave  -->
		{{if !$order_id}}	
		<div class="pull-right"><a class="btn btn-primary" onclick="return checkAddress();" href="{{$this->Html->url('/orders/balance')}}">提交订单</a></div>
		{{/if}}	
	</div>
</div>
<script>
function checkAddress(){
	if($('input[name="data[OrderConsignee][id]"]:radio').size() > 0)
	{
		if($('input[name="data[OrderConsignee][id]"]:checked').val()==""){
			alert("请先点击“保存收货人信息”");
			return false;
		}
	}
	return true;
}
</script>