<style>
td {padding:5px 10px;}
</style>
<div  class="container">
	<div class="orderinfo voffset3">
        {{if $specialShipPromotionId}}
        <h2>收货人信息</h2>
        {{if !$limit_ship}}<a id="link_use_promotion" href="{{$this->Html->url('/orders/info?ship_promotion=0')}}">[不使用特惠]</a>{{/if}}
        <ul>
            <li>收货人：<span>{{$this->Session->read('OrderConsignee.name')}}</span></li>
            <li>地址：<span>{{$this->Session->read('OrderConsignee.address')}}</span></li>
            <li>手机号码：<span>{{$this->Session->read('OrderConsignee.mobilephone')}}</span></li>
        </ul>
        {{elseif $specialShipPromotion && !$limit_ship}}
        您购买的商品中有可以运送到特定地址的优惠。 <button id="specialShipPromotion_btn" class="btn-small btn-warning">使用优惠</button>
        {{/if}}

        {{if $specialShipPromotion }}

        {{if (!$specialShipPromotionId)}}<h2>收货人信息</h2>{{/if}}

        <div id="specialShipPromotion" style="{{if !$limit_ship || $specialShipPromotionId }}display: none{{/if}}">
            <form method="post" action="{{$this->Html->url(array('action' => 'info', '?' => array('action' => 'savePromo')))}}">
            <ul id="ul_special_promotion" class="list-group">
                {{loop $specialShipPromotion $key $item}}
                    <li item-id="{{$item['id']}}" class="list-group-item {{$specialShipPromotionId == $item['id']? 'active':''}}">
                        <span class="text-price-small pull-right">{{$this->Number->precision($item['price'], 2)}}</span>
                        <small>{{$item['time']}}派送到{{$item['address']}}</small></li>
                {{/loop}}
            </ul>
                <input type="text" class="form-control" placeholder="收货人姓名" id="p_consignee_name" name="consignee_name" value="{{$this->Session->read('OrderConsignee.name')}}">
                <input type="text" class="form-control" placeholder="手机号" id="p_consignee_mobile" name="consignee_mobilephone" value="{{$this->Session->read('OrderConsignee.mobilephone')}}" >
                <input type="hidden" id="special_ship_promotion" name="ship_promotion" value="{{$specialShipPromotionId}}">

            <button id="specialShipPromotion_submit" type="submit" class="btn btn-warning">保存</button>
            </form>
        </div>
        {{/if}}

        {{if !$limit_ship}}
		<div id="part_consignee" style="display:{{$specialShipPromotionId ? 'none':''}}">
			{{if $has_chosen_consignee}}
				{{template orders/order_consignee}}
			{{else}}
				{{template orders/edit_consignee}}
			{{/if}}
		</div>
        {{/if}}

		<div id="part_payTypeAndShipType"><!-- template orders/info_shiptype--></div>
		
		<div id="part_invoice"><!-- template orders/order_invoice--></div>
		<!-- 	
		<div id="part_remark">
			<div class="o_show">
			 <h2>订单备注&nbsp;{{if !$order_id}}<a onclick="showForm_remark(this)" href="javascript:void(0)">[修改]</a>{{/if}}</h2>
			 <div class="middle">
			            <table style="width:100%">
			                <tbody><tr>
			                    <td id="order_remark_show" style="text-align:left;padding-left:20px;">
			                    {{if $this->Session->read('Order.remark')}}{{$this->Session->read('Order.remark')}}
			                    {{else}}暂无备注{{/if}}</td>			                    
			                </tr>
			            </tbody></table>
			</div>
			   <div class="footer"></div>
			</div>
			<div class="o_write" style="display:none;">
			    <h2>订单备注 <a onclick="close_remark()" href="javascript:void(0)">[关闭]</a> <span class="f12 fw100">声明：备注中有关收货人信息、支付方式、配送方式、发票信息等购买要求一律以上面的选择为准，备注无效。</span></h2>
			    <div class="middle">
			        <input type="text" maxlength="200" value="" class="txt" style="width:300px;" id="order_remark">   &nbsp;&nbsp;&nbsp;
			    </div>
			    <div class="footer">
			        <input type="button" onclick="saveOrder_remark($('#order_remark').val())" value="保存订单备注" class="btn btn-default">
			    </div>
			</div>
		</div> -->
		<hr/>
		<div class="o_show">
		<h2>商品清单</h2>
		
		<div class="p-list">
			<table  class="table table-bordered">
			<tr><th width="50%">商品名称</th><th>购买价格</th><th>商品数量</th><th>合计</th></tr>
			<tbody>
			{{loop $Carts $cart}}
			<tr><td>{{$cart['Cart']['name']}}</td>
			<td>{{$this->Number->precision($cart['Cart']['price'], 2)}}</td>
			<td>{{$cart['Cart']['num']}}</td>
			<td>{{$this->Number->precision($cart['Cart']['price']*$cart['Cart']['num'], 2)}}</td>
			</tr>
			{{/loop}}
			</tbody>
			</table>
		</div>
        <p class="pull-right">运费：{{$this->Number->precision($shipFee, 2)}}</p>
        </div>

            <div class="clearfix"></div>
		<!-- template orders/info_wave  -->
		{{if !$order_id}}	
		<div class="pull-right"><a class="btn btn-primary" onclick="return checkAddress();" href="{{$this->Html->url('/orders/balance/'.($specialShipPromotionId?'?ship_promotion='.$specialShipPromotionId:''))}}">提交订单</a></div>
		{{/if}}	
	</div>
</div>
<script>

    $(document).ready(function () {
        var $specialShipPromotion = $('#specialShipPromotion');
        var $btnSubmit = $('#specialShipPromotion_submit');
        var $linkUsePromotion = $('#link_use_promotion');
        var lists = $specialShipPromotion.find('li');
        lists.click(function (e) {
            lists.filter('.active').removeClass('active');
            var $this = $(this);
            $this.toggleClass('active');
        });

        $btnSubmit.click(function (e) {
            var activeLi = $specialShipPromotion.find('li.active');
            if (activeLi.length == 1) {
                var $itemId = activeLi.attr('item-id');
                $('#special_ship_promotion').val($itemId);
            } else {
                utils.alert('请选择特惠信息运送的时间地点');
                e.preventDefault();
                return false;
            }

            if ($('#p_consignee_name').val() == '') {
                utils.alert('请输入收货人姓名');
                e.preventDefault();
                return false;
            }

            if ($('#p_consignee_mobile').val() == '') {
                utils.alert('请输入收货人手机号码');
                e.preventDefault();
                return false;
            }
        });

        $('#specialShipPromotion_btn').click(function () {
            $specialShipPromotion.toggle();
            if ($specialShipPromotion.is(":visible")) {
                $('#part_consignee').hide();
                $(this).text("不使用特惠");
            } else {
                $('#part_consignee').show();
                $(this).text("使用特惠");
            }
        });
    });

    function checkAddress(){
        if ($('input[name="data[OrderConsignee][ship_promotion]"]').val() == "") {
            if ($('input[name="data[OrderConsignee][id]"]:radio').size() > 0) {
                if ($('input[name="data[OrderConsignee][id]"]:checked').val() == "") {
                    alert("请先点击“保存收货人信息”");
                    return false;
                }
            }
        }
        return true;
    }
</script>