<div class="weshare">
    <div class='share-info' ng-show="!vm.showShippmentInfo">
        <h1>分享描述</h1>

        <div class="input-wrapper mb15" ng-class="{'has-error': vm.weshareTitleHasError}"><input placeholder="给分享起个响亮的名字" ng-model='vm.weshare.title' ng-change='vm.validateTitle()' ng-blur='vm.validateTitle()'/><p ng-show="vm.weshareTitleHasError">{{vm.titleErrorMsg}}</p></div>
        <div class="clearfix" ng-repeat="product in vm.weshare.products">
            <div class="input-wrapper fl mb15" style="width: 50%; margin-right: 10px;" ng-class="{'has-error': product.nameHasError}">
                <input placeholder="填写描述和规格" ng-model="product.name" ng-change='vm.validateProductName(product)' ng-blur='vm.validateProductName(product)'/>
                <p ng-show="product.nameHasError">{{product.nameErrorMsg}}</p>
            </div>

            <div class="input-wrapper fl mb15" ng-class="{'has-error': product.priceHasError}" style="width: 25%; margin-right: 10px;">
                <input placeholder="填写价格" ng-model="product.price" ng-change='vm.validateProductPrice(product)' ng-blur='vm.validateProductPrice(product)'/>
                <p ng-show="product.priceHasError">{{product.priceErrorMsg}}</p>
            </div>
            <a class="fr" ng-class="{'delete-btn': !$last,'add-btn': $last}"
               ng-click="vm.toggleProduct(product, $last)"></a>
        </div>
        <div class="input-wrapper">
            <textarea rows="" cols="" placeholder="描述下分享的详细内容，让大家更好的了解。" ng-model="vm.weshare.description"></textarea>
        </div>
        <ul class="clearfix images">
            <li class='image' ng-repeat="image in vm.weshare.images">
                <a class='delete-badge' ng-click='vm.deleteImage(image)'></a>
                <img ng-src="{{image.url}}"/>
            </li>
        </ul>
        <a class="upload-btn" ng-click="vm.chooseAndUploadImage()">点击上传图片</a>
        <a class="next-btn" ng-click="vm.nextStep()">下一步，设置取货信息</a>
    </div>

    <div class="shippment-info" ng-show='vm.showShippmentInfo'>
        <h1>设置取货信息</h1>

        <div class="input-wrapper">
            <input placeholder="填写取货时间信息" ng-model="vm.weshare.send_info"/>
        </div>
        <div class="clearfix" ng-repeat="address in vm.weshare.addresses">
            <div class="input-wrapper fl" style="width: 80%; margin-right: 10px;">
                <input placeholder="填写取货地点，联系人信息" ng-model="address.address"/>
            </div>
            <a class="fr" ng-class="{'delete-btn': !$last,'add-btn': $last}"
               ng-click="vm.toggleAddress(address, $last)"></a>
        </div>
        <a class="next-btn" ng-click="vm.submit()">oh，搞定了！</a>
        <a class="back-btn" ng-click="vm.showShippmentInfo=false">返回修改</a>
    </div>

    <ul>
        <li ng-repeat="message in vm.messages">
            <span>{{message.name}}: </span>
            <span>{{message.detail}}</span>
        </li>
    </ul>
</div>