<div style="background-color: #f1f1f1;">
    <div class="nav-bg">
        <a href="#" class="nav-back fl">
            <img src="/static/weshares/images/back.png"/>
            <label>返回</label>
        </a>
        <h1 class="fl">选择地址</h1>
        <a href="#" class="nav-home fr">
            <img src="/static/weshares/images/home.png"/>
        </a>
    </div>
    <div class="select-address">
        <a href="#" class="cur">
            <ul class="clearfix">
                <li class="fl">
                  <span>Alice</span>
                    &nbsp;&nbsp;
                  <span>13777777777</span>
                  <br/>
                  <label>北京市通州区北苑街道办事处</label>
                </li>
                <li><img src="/static/weshares/images/copyreader.png" /></li>
            </ul>
        </a>
        <a href="#">
            <ul class="clearfix">
                <li class="fl">
                  <span>Alice</span>
                  &nbsp;&nbsp;
                  <span>13777777777</span>
                  <br/>
                  <label>北京市通州区北苑街道办事处</label>
                </li>
                <li><img src="/static/weshares/images/copyreader.png" /></li>
            </ul>
        </a>
    </div>
    <div class="add-address-bg"><a href="#">新增地址</a></div>
</div>
