<div style="background-color: #f1f1f1;">
<div class="nav-bg">
    <a href="#" class="nav-back fl">
        <img src="/static/weshares/images/back.png"/>
        <label>返回</label>
    </a>
    <h1 class="fl">编辑地址</h1>
    <a href="#" class="nav-home fr">
        <img src="/static/weshares/images/home.png"/>
    </a>
</div>
<div class="copyreader-address">
    <ul class="clearfix">
        <li class="fl comment">收货人</li>
        <li class="fl content"><input type="text" placeholder="请输入收货人姓名" /></li>
    </ul>
    <ul class="clearfix">
        <li class="fl comment">联系方式</li>
        <li class="fl content"><input type="text" placeholder="请输入收货人手机号" /></li>
    </ul>
    <a href="#">
        <ul class="clearfix">
            <li class="fl comment">所在地区</li>
            <li class="fl content"><input type="text" placeholder="请选择送货区域" disabled /></li>
            <li><img src="/static/weshares/images/next-icon.png" /></li>
        </ul>
    </a>
    <ul class="clearfix">
        <li class="fl comment">详细地址</li>
        <li class="fl content"><input type="text" placeholder="请输入详细地址" /></li>
    </ul>
</div>
<a href="#" class="saveBtn">保存</a>
</div>
