<div style="background-color: #f1f1f1;">
  <div class="nav-bg">
    <a href="#" class="nav-back fl back" ng-click="vm.showShareDetail()">
      <img src="/static/weshares/images/back.png"/>
      <label>返回</label>
    </a>
    <h1 class="fl">设置配送信息</h1>
    <a href="#" class="nav-home fr back"  ng-click="vm.showShareDetail()">
      <img src="/static/weshares/images/home.png"/>
    </a>
  </div>

  <ul class="clearfix logistics-nav">
    <li ng-if="vm.weshareSettings.kuai_di.status==1" style="width: {{vm.tabBarItemWidth}}%;" ng-class="{'cur': vm.showKuaiDiTab}" ng-click="vm.showKuaiDiTabPage()">快递</li>
    <li ng-if="vm.weshareSettings.self_ziti.status==1" style="width: {{vm.tabBarItemWidth}}%;" ng-class="{'cur': vm.showSelfZitiTab}" ng-click="vm.showSelfZitiTabPage()">自提</li>
    <li ng-if="vm.weshareSettings.pys_ziti.status==1" style="width: {{vm.tabBarItemWidth}}%;" ng-class="{'cur': vm.showPysZitiTab}" ng-click="vm.showPysZitiTabPage()">好邻居自提</li>
    <li ng-if="vm.weshareSettings.pin_tuan.status==1" style="width: {{vm.tabBarItemWidth}}%;" ng-class="{'cur': vm.showPinTuanTab}" ng-click="vm.showPinTuanTabPage()">拼团</li>
  </ul>

  <div class="expressage">

    <!-- 这个块只在快递标签页里面出现 -->
    <ul class="clearfix" ng-if="vm.showKuaiDiTab" ng-click="vm.showEditKuaiDiAddressPage()">
      <li class="fl">
        <a href="#" class="defaultText">填写收货信息</a>
        <a href="#" class="address">
          <span>Alice</span><span>13333333333</span>
          <br/><span>北京市通州区广通小区3-2-3002</span>
        </a>
      </li>
      <li class="fr">
        <a href="#" class="next-icon clearfix">
          <label style="display: none;">修改</label>
          <img src="/static/weshares/images/next-icon.png" />
        </a>
      </li>
    </ul>

    <!-- 这个块在自提标签页里面出现 -->
    <ul class="clearfix" ng-if="vm.showSelfZitiTab" ng-click="vm.showEditSelfZitiAddressPage()">
      <li class="fl">
        <a href="#" class="defaultText">选择自提地址</a>
        <a href="#" class="address">
          <span>Alice</span><span>13333333333</span>
          <br/><span>北京市通州区广通小区3-2-3002</span>
        </a>
      </li>
      <li class="fr">
        <a href="#" class="next-icon clearfix">
          <label style="display: none;">修改</label>
          <img src="/static/weshares/images/next-icon.png" />
        </a>
      </li>
    </ul>

    <!-- 这个块只在地址设置/编辑地址里面出现 -->
    <ul class="clearfix" ng-if="vm.showSelfZitiTab">
      <li class="fl comment">收货人</li>
      <li class="fl content"><input type="text" placeholder="请输入收货人姓名" /></li>
    </ul>
    <ul class="clearfix" ng-if="vm.showSelfZitiTab">
      <li class="fl comment">联系方式</li>
      <li class="fl content"><input type="text" placeholder="请输入收货人手机号" /></li>
    </ul>
    <ul class="clearfix" ng-if="vm.showSelfZitiTab">
      <li class="fl comment">详细地址</li>
      <li class="fl content"><input type="text" placeholder="小区-楼号-门牌(必要时送货上门)" /></li>
    </ul>
    <ul class="clearfix">
      <li class="fl comment">备注</li>
      <li class="fl content"><input type="text" placeholder="告诉团长你的特殊需求" /></li>
    </ul>
  </div>

  <!-- 这个元素在各个tab里面都会出现 -->
  <div class="selection-product">
    <h1>选择的产品</h1>
    <div class="product" ng-repeat="product in vm.weshare.products">
      <div>
        {{::product.name}}
        <span ng-if="!vm.checkProductNum(product)">
          (<span style="color: red;">抢光了</span>)
        </span>
      </div>
      <div class="clearfix">
        <div class="product-price fl" ng-bind="::product.price/100 | currency:'￥'"></div>
        <dl class="clearfix fr" ng-if="vm.checkProductNum(product)">
          <dd class="fr add-subtract" ng-click="vm.increaseProductNum(product)"><i class="fa fa-plus"></i></dd>
          <dd class="fr amount" ng-bind="product.num||0"></dd>
          <dd class="fr add-subtract" ng-click="vm.decreaseProductNum(product)"><i class="fa fa-minus"></i></dd>
        </dl>
        <dl class="clearfix fr" ng-if="!vm.checkProductNum(product)">
          <dd class="fr add-subtract disable"><i class="fa fa-plus"></i></dd>
          <dd class="fr amount" ng-bind="product.num||0"></dd>
          <dd class="fr add-subtract disable"><i class="fa fa-minus"></i></dd>
        </dl>
      </div>
    </div>
  </div>

  <!-- 这个元素在各个tab里面都会出现 -->
  <div class="money-detail">
    <dl class="clearfix">
      <dt class="fl">应付总额：</dt>
      <dt class="fr" ng-bind="vm.orderTotalPrice | currency:'￥'"></dt>
    </dl>
    <ul class="clearfix">
      <li class="fl">产品总额：</li>
      <li class="fr" ng-bind="vm.orderTotalPrice | currency:'￥'"></li>
    </ul>
    <ul class="clearfix">
      <li class="fl">快递费：</li>
      <li class="fr" ng-bind="vm.shipFee/100"></li>
    </ul>
  </div>

  <!-- 这个元素在各个tab里面都会出现 -->
  <ul class="payment-bg clearfix">
    <li class="fl">应付<span ng-bind="vm.orderTotalPrice | currency:'￥'"></span></li>
    <li class="fr"><a href="#" class="zfbPay" ng-click='vm.submitOrder(1);'>支付宝支付</a></li>
    <li class="fr"><a href="#" class="weixinPay" ng-click='vm.submitOrder(0);'>微信支付</a></li>
  </ul>
</div>
