<div style="background-color: #f1f1f1;">
    <div class="nav-bg">
        <a href="#" class="nav-back fl back" ng-click="vm.showShareDetail()">
            <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/back.png"/>
            <label>返回</label>
        </a>
        <h1 class="fl">设置配送信息</h1>
    </div>
    <!--收货信息-->
    <div ng-controller="WesharesConsigneeCtrl as wcc">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/consignee.html'"></ng-include>
    </div>
    <!-- 这个元素在各个tab里面都会出现 -->
    <div class="selection-product">
        <h1>选择的产品</h1>

        <div class="product" ng-repeat="product in vm.weshare.products | filter : vm.filterProductByNum">
            <ul class="clearfix">
                <li class="fl">
                    <div class="product-name">
                        <span ng-bind="$index+1"></span>：<span ng-bind="product.name"></span>
                    </div>

                    <div class="product-price" ng-bind="product.price/100 | currency:'￥'">
                    </div>
                </li>
            </ul>

            <dl class="clearfix" ng-if="!vm.checkProductNum(product)||product.store==0">
                <dd class="fr sold-out">已抢光</dd>
            </dl>
            <dl class="clearfix" ng-if="vm.checkProductNum(product) && product.store != 0">
                <dd class="fr add-subtract" ng-click="vm.increaseProductNum(product)"><i class="fa fa-plus"></i></dd>
                <dd class="fr amount" ng-bind="product.num||0">0</dd>
                <dd class="fr add-subtract" ng-click="vm.decreaseProductNum(product)"><i class="fa fa-minus"></i></dd>
                <dd class="fr limit-score" ng-if="vm.checkProductNum(product)&&product.store>0">仅剩<span
                        ng-bind="vm.getProductLeftNum(product)"></span>份
                </dd>
            </dl>
        </div>
    </div>
    <!-- 这个元素在各个tab里面都会出现 -->
    <div class="money-detail">
        <dl class="clearfix">
            <dt class="fl">应付总额：</dt>
            <dt class="fr" ng-bind="vm.orderTotalPrice | currency:'￥'"></dt>
        </dl>
        <ul class="clearfix">
            <li class="fl">产品总额：</li>
            <li class="fr" ng-bind="vm.orderTotalPrice | currency:'￥'"></li>
        </ul>
        <ul class="clearfix" ng-if="vm.shipFee>0">
            <li class="fl">快递费：</li>
            <li class="fr" ng-bind="vm.shipFee/100 | currency:'￥'"></li>
        </ul>
        <ul class="clearfix"  ng-if="vm.myCoupons">
            <li class="fl">红包优惠：</li>
            <li class="fr" ng-bind="vm.userCouponReduce/100 | currency:'￥'"></li>
        </ul>
        <ul class="clearfix" ng-if="vm.rebateFee>0">
            <li class="fl">团长优惠：</li>
            <li class="fr" ng-bind="vm.rebateFee | currency:'￥'"></li>
        </ul>
    </div>
    <!-- 这个元素在各个tab里面都会出现 -->
    <ul class="payment-bg clearfix">
        <li class="fl">应付<span ng-bind="vm.orderTotalPrice | currency:'￥'"></span></li>
        <li class="fr"><a class="zfbPay" ng-click='vm.submitOrder(1);'>支付宝支付</a></li>
        <li class="fr"><a class="weixinPay" ng-click='vm.submitOrder(0);'>微信支付</a></li>
    </ul>
</div>


