<div>
    <div class="menu-top refer-back-bg">
        设置配送信息
        <a href="#" ng-click="vm.showShareDetail()">
            <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/back.png"/>
            <label>返回</label>
        </a>
    </div>
    <!--收货信息-->
    <div class="has-menu-top extra-margin" ng-controller="WesharesConsigneeCtrl as wcc">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/consignee.html?v0.7.0'"></ng-include>
    </div>
    <!-- 这个元素在各个tab里面都会出现 -->
    <div class="selection-product">
        <h1>选择的产品</h1>

        <div class="product" ng-repeat="product in vm.weshare.products | filter : vm.filterProductByNum">
            <ul class="clearfix">
                <li class="fl">
                    <div class="product-name">
                        <span ng-bind="$index+1"></span>：<span ng-bind="product.name"></span>
                    </div>

                    <div class="product-price" ng-bind="product.price/100 | currency:'￥'">
                    </div>
                </li>
            </ul>

            <dl class="clearfix" ng-if="!vm.checkProductNum(product)">
                <dd class="fr sold-out">已抢光</dd>
            </dl>
            <dl class="clearfix" ng-if="vm.checkProductNum(product)">
                <dd class="fr add-subtract" ng-click="vm.increaseProductNum(product)"><i class="iconfont icon-jiahao"></i></dd>
                <dd class="fr amount" ng-bind="product.num||0">0</dd>
                <dd class="fr add-subtract" ng-click="vm.decreaseProductNum(product)"><i class="iconfont icon-minus"></i></dd>
                <dd class="fr limit-score" ng-if="vm.checkProductNum(product)&&product.store>0">仅剩<span
                        ng-bind="vm.getProductLeftNum(product)"></span>份
                </dd>
            </dl>
        </div>
    </div>

    <!-- 这个元素在各个tab里面都会出现 -->
    <!--<div class="promotion" ng-if="vm.weshare.id==4507">-->
        <!--<dl class="clearfix">-->
            <!--<dd class="promotion-title">优惠码：</dd>-->
            <!--<dd><div><input type="text" placeholder="请输入优惠码" ng-model="vm.useCouponCode" ng-disabled="vm.myCoupons" /></div></dd>-->
            <!--<dd><a href="javascript:;" ng-click='vm.useCoupons();'>确定</a></dd>-->
        <!--</dl>-->
    <!--</div>-->
    <div class="balance-detail-panel">

        <ul class="rebate-balance clearfix" ng-show="vm.showUseScore">
            <li class="fl">
                <label>可用<span ng-bind="vm.canUseScoreTotal"></span>积分抵<span ng-bind="vm.canUseScoreTotal/100"></span>元</label>
            </li>
            <li class="fr"><input type="checkbox" id="checkbox_score" class="chk_toggle" ng-model="vm.useScore" ng-true-value="1" ng-false-value="0" ng-change="vm.calOrderTotalPrice()"/><label for="checkbox_score"></label></li>
        </ul>

        <ul class="rebate-balance clearfix" ng-show="vm.rebateTotal > 0">
            <li class="fl">
                <label>账户余额可用<span ng-bind="vm.canUseRebateTotal/100"></span>元</label>
            </li>
            <li class="fr"><input type="checkbox" id="checkbox_rebate" class="chk_toggle" ng-model="vm.useRebate" ng-true-value="1" ng-false-value="0" ng-change="vm.calOrderTotalPrice()"/><label for="checkbox_rebate"></label></li>
        </ul>
        <div class="money-detail">
            <ul class="clearfix">
                <li class="fl">产品总额：</li>
                <li class="fr" ng-bind="vm.productTotalPrice | currency:'￥'"></li>
            </ul>
            <ul class="clearfix" ng-if="vm.shipFee>0">
                <li class="fl">快递费：</li>
                <li class="fr" ng-bind="vm.shipFee/100 | currency:'￥'"></li>
            </ul>
            <ul class="clearfix" ng-if="vm.myCoupons&&vm.myCoupons.length > 0">
                <li class="fl">红包优惠：</li>
                <li class="fr" ng-bind="vm.userCouponReduce/100 | currency:'￥'"></li>
            </ul>
            <dl class="clearfix">
                <dt class="fl">应付总额：</dt>
                <dt class="fr" ng-bind="vm.orderPayTotalPrice | currency:'￥'"></dt>
            </dl>
        </div>
    </div>


    <!-- 这个元素在各个tab里面都会出现 -->
    <ul class="payment-bg clearfix">
        <li class="fl">应付<span ng-bind="vm.orderPayTotalPrice | currency:'￥'"></span></li>
        <li class="fr"><a class="zfbPay" ng-click='vm.submitOrder(1);'>支付宝支付</a></li>
        <li class="fr" ng-show="vm.inWeixin"><a class="weixinPay" ng-click='vm.submitOrder(0);'>微信支付</a></li>
    </ul>
</div>


