<div class="weshare-add">
    <div class='share-info' ng-show="!vm.showShippmentInfo">
        <h1 class='margin-bottom-12'>分享描述</h1>

        <div class="form-group" ng-class="{'has-error': vm.weshareTitleHasError}">
            <input class='form-control' placeholder="分享的的标题" ng-model='vm.weshare.title' ng-change='vm.validateTitle()' ng-blur='vm.validateTitle()'/>
            <p class='tips'>请输入标题, 不超过50个字</p>
        </div>
        <div class="clearfix" ng-repeat="product in vm.weshare.products">
            <div class="form-group fl" style="width: 100%; margin-right: 10px;" ng-class="{'has-error': product.nameHasError}">
                <input class='form-control' placeholder="产品名称/规格" ng-model="product.name" ng-change='vm.validateProductName(product)' ng-blur='vm.validateProductName(product)'/>
                <p class='tips'>请输入描述, 不超过20个字</p>
            </div>
            <div class="form-group fl" ng-class="{'has-error': product.priceHasError}" style="width: 40%; margin-right: 10px;">
                <input class='form-control' placeholder="价格/元" ng-model="product.price" ng-change='vm.validateProductPrice(product)' ng-blur='vm.validateProductPrice(product)'/>
                <p class='tips'>请输入数字</p>
            </div>
            <div class="form-group fl" ng-class="{'has-error': product.storeHasError}" style="width: 40%; margin-right: 10px;">
                <input class='form-control' placeholder="库存/件,默认不限制" ng-model="product.store" ng-change='vm.validateProductStore(product)' ng-blur='vm.validateProductStore(product)'/>
                <p class='tips'>请输入数字</p>
            </div>
            <a class="fr btn" ng-class="{'delete-btn': !$last,'add-btn': $last}"
               ng-click="vm.toggleProduct(product, $last)"></a>
        </div>
        <div class="form-group">
            <textarea class='form-control' rows="3" cols="" placeholder="描述下分享的详细内容，让大家更好的了解。" ng-model="vm.weshare.description" style="display: block;"></textarea>
        </div>
        <ul class="clearfix images">
            <li class='image' ng-repeat="image in vm.weshare.images">
                <a class='delete-badge' ng-click='vm.deleteImage(image)'></a>
                <img ng-src="{{image}}"/>
            </li>
        </ul>
        <a class="btn upload-btn" ng-click="vm.chooseAndUploadImage()">点击上传图片</a>
        <a class="btn next-btn" ng-click="vm.nextStep()">下一步，设置取货信息</a>
    </div>

    <div class="shippment-info" ng-show='vm.showShippmentInfo'>
        <h1 class='margin-bottom-12'>设置取货信息</h1>

        <div class="form-group">
            <input class='form-control' placeholder="到货/发货时间" ng-model="vm.weshare.send_info"/>
        </div>
        <div class="clearfix">
            <div class="form-group fl">
                <input type="checkbox" ng-model="vm.self_ziti_data.status" ng-true-value="1" ng-false-value="-1" ng-checked="vm.self_ziti_data.status==1" ng-change='vm.validateAddress()'>
            </div>
            &nbsp;&nbsp;&nbsp;自己的自提点
        </div>
        <div class="form-group" ng-class="{'has-error': vm.addressError}">
            <div class="clearfix" ng-repeat="address in vm.weshare.addresses">
                <div class="form-group fl" style="width: 80%; margin-right: 10px;">
                    <input class='form-control' placeholder="取货地点，联系人，联系电话" ng-model="address.address" ng-blur='vm.validateAddress()'/>
                </div>
                <a class="fr btn" ng-class="{'delete-btn': !$last,'add-btn': $last}"
                   ng-click="vm.toggleAddress(address, $last)"></a>
            </div>
            <p class='tips'>请输入取货地址</p>
        </div>
        <div class="clearfix">
            <div class="form-group fl">
                <input type="checkbox" ng-model="vm.kuai_di_data.status" ng-true-value="1" ng-false-value="-1" ng-checked="vm.kuai_di_data.status==1">
            </div>
            &nbsp;&nbsp;&nbsp;快递
            <div class="form-group fr" ng-class="{'has-error': vm.shipFeeHasError}" style="width: 60%; margin-right: 80px;" ng-show="vm.kuai_di_data.status==1">
                <input class='form-control' placeholder="快递费/元 (默认为0)" ng-model="vm.kuaidi_show_ship_fee" ng-change='vm.validateShipFee()' ng-blur='vm.validateShipFee()'/>
                <p class='tips'>请输入数字</p>
            </div>
        </div>
        <div class="clearfix" ng-class="{'checkbox-disable' : vm.sharerShipType==0}">
            <div class="form-group fl">
                <input type="checkbox"  ng-disabled="vm.sharerShipType==0" ng-model="vm.pys_ziti_data.status" ng-true-value="1" ng-false-value="-1" ng-checked="vm.pys_ziti_data.status==1">
            </div>
            &nbsp;&nbsp;&nbsp;好邻居自提(分享达人开放)
        </div>

        <a class="btn next-btn" ng-click="vm.saveWeshare()">oh，搞定了！</a>
        <a class="btn back-btn" ng-click="vm.showShippmentInfo=false">返回修改</a>
    </div>
</div>
<div style="text-align: center; margin-bottom: 0;">
    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MjY5ODAyOA==&mid=209712305&idx=1&sn=ddb8431d97100d7e6305c2bc46d9ae75#rd"><img src="/img/logo_footer.jpg" border="0" style="width: 4.625em;height: 1.583em;"/></a><br/>朋友说—朋友间最真挚的分享
</div>