<div class="weshare-add" ng-if="vm.showEditShareView">
    <!--
    <div class='share-info' ng-show="vm.showEditShareInfo">
        <h1 class='margin-bottom-12'>分享描述</h1>
        <h1>分享名称<span>（好名字更容易吸引人）</span></h1>
        <div class="form-group" ng-class="{'has-error': vm.weshareTitleHasError}">
            <input class='form-control' placeholder="分享的的标题" ng-model='vm.weshare.title' ng-change='vm.validateTitle()' ng-blur='vm.validateTitle()'/>
            <p class='tips'>请输入标题, 不超过50个字</p>
        </div>
        <div class="clearfix product-spec-group" ng-repeat="product in vm.weshare.products | filter:{deleted : 0}" style="margin-bottom:9pt;">
            <div class="form-group fl" style="width: 100%;margin-bottom: -1px;" ng-class="{'has-error': product.nameHasError}">
                <input class='form-control' placeholder="产品名称/规格" ng-model="product.name" ng-change='vm.validateProductName(product)' ng-blur='vm.validateProductName(product)'/>
                <p class='tips'>请输入描述, 不超过40个字</p>
            </div>
            <div class="fl form-group form-group-inline" style="margin-bottom: -1px;" ng-class="{'has-error': product.priceHasError}">
                <div class="clearfix">
                    <input string-to-number type="number" step="0.01" style="width: 90%;" class='form-control fl' placeholder="价格/元" ng-model="product.price" ng-change='vm.validateProductPrice(product)' ng-blur='vm.validateProductPrice(product)'/>
                    <div class="fl" style="line-height: 44px;padding-left: 5px;">元</div>
                </div>
                <p class='tips'>请输入数字</p>
            </div>
            <div class="fl form-group form-group-inline" style="margin-bottom: -1px;" ng-class="{'has-warning': product.weightHasWarning}">
                <div class="clearfix">
                    <input type="text" style="width: 90%;" class='form-control fl' placeholder="重量/kg" ng-change='vm.alertProductWeight(product)' ng-model="product.weight"/>
                    <div class="fl" style="line-height: 44px;padding-left: 5px;">kg</div>
                </div>
                <p class='tips'>确定这里输对了? 比如搞错单位(我们是KG)?</p>
            </div>
            <div class="form-group form-group-inline" ng-class="{'has-error': product.storeHasError}" style="margin-bottom: -1px;">
                <div class="clearfix">
                    <input string-to-number type="number" style="width: 90%;" class='form-control fl' placeholder="库存,默认(0)不限制,(-1)为售罄" ng-model="product.store" ng-change='vm.validateProductStore(product)' ng-blur='vm.validateProductStore(product)'/>
                    <div class="fl" style="line-height: 44px;padding-left: 5px;">件</div>
                </div>
                <p class='tips'>请输入数字</p>
            </div>

            <div ng-if="!$last">
                <a class="fr btn delete-btn del-new-product-not-tag"
                   ng-click="vm.toggleProduct(product, false)"></a>
            </div>
            <div ng-if="$last">
                <a class="fr btn add-btn add-new-product-not-tag"
                   ng-click="vm.toggleProduct(product, true)"></a>
                <a ng-if="$index!=0" class="fr btn delete-btn del-new-product-not-tag"
                   ng-click="vm.toggleProduct(product, false)"></a>
            </div>
        </div>
        <div class="form-group">
            <textarea class='form-control' rows="3" cols="" placeholder="请描述下您推荐该分享的原因！" ng-model="vm.weshare.description" style="display: block;"></textarea>
        </div>
        <ul class="clearfix images">
            <li class='image' ng-repeat="image in vm.weshare.images">
                <a class='delete-badge' ng-click='vm.deleteImage(image)'></a>
                <img ng-src="{{image}}"/>
            </li>
        </ul>
        <a class="btn upload-btn" ng-click="vm.chooseAndUploadImage()">点击上传图片</a>
        <a class="btn next-btn" ng-click="vm.nextStep()">下一步，设置取货信息</a>
    </div>
    -->
    <div class="share-bg" ng-show="vm.showEditShareInfo">
        <h1>分享名称<span>（好名字更容易吸引人）</span></h1>
        <div class="share-name"><input type="text" ng-model='vm.weshare.title' ng-change='vm.validateTitle()' ng-blur='vm.validateTitle()' placeholder="请输入分享名称"></div>
    </div>
    <div class="share-bg" ng-show="vm.showEditShareInfo">
        <h1>推荐原因</h1>
        <div class="share-area">
            <textarea placeholder="请描述推荐该分享的原因（例如：曾尝试过日本、韩国的各种海苔，都太油太咸，不适合宝宝吃，这个有机海苔入口即化、有机加工，健康又营养）"></textarea>
        </div>
    </div>
    <div class="share-bg" ng-show="vm.showEditShareInfo">
        <h1>产品信息</h1>
        <div class="share-product" ng-repeat="product in vm.weshare.products | filter:{deleted : 0}">
            <div class="share-product-name clearfix">
                <label>名称</label>
                <input type="text" placeholder="请输入产品名称/规格" ng-model="product.name" ng-change='vm.validateProductName(product)' ng-blur='vm.validateProductName(product)'>
            </div>
            <div class="share-product-masg clearfix">
                <label>重量(kg)</label>
                <input class="reminder" string-to-number type="number" placeholder="请输入每件重量(非必填)" value="请输入每件重量(非必填)" ng-change='vm.alertProductWeight(product)' ng-model="product.weight" >
            </div>
            <div class="share-product-masg clearfix">
                <label>价格(元)</label>
                <input string-to-number type="number" step="0.01" placeholder="请输入产品价格"  ng-model="product.price" ng-change='vm.validateProductPrice(product)' ng-blur='vm.validateProductPrice(product)'>
            </div>
            <div class="share-product-masg clearfix">
                <label>库存(件)</label>
                <input string-to-number type="number" placeholder="请输入库存" ng-model="product.store" ng-change='vm.validateProductStore(product)' ng-blur='vm.validateProductStore(product)'>
            </div>
            <a href="javascript:;" ng-show="vm.weshare.products.length > 1" ng-click="vm.toggleProduct(product, false)">删除</a>
        </div>
        <a href="javascript:;" class="share-product-addBtn clearfix" ng-click="vm.toggleProduct(product, true)">
            <s><img src="{{vm.staticFilePath}}/static/weshares/images/share-addicon.png?v0.3.1"></s>
            <label>添加产品</label>
        </a>
    </div>
    <div class="share-pirture" ng-show="vm.showEditShareInfo">
        <h1>产品图片</h1>
        <ul class="clearfix">
            <li ng-repeat="image in vm.weshare.images">
                <div>
                    <img ng-src="{{image}}"/>
                    <a class="delete-img" ng-click='vm.deleteImage(image)'>—</a>
                    <div ng-if="$first">
                        <a href="javascript:;" class="first-img first-img-setting">
                            <label>已为首图</label>
                            <s></s>
                        </a>
                    </div>
                    <div ng-if="!$first">
                        <a href="javascript:;" class="first-img">
                            <label>设为首图</label>
                            <s></s>
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="add-pirture" ng-click="vm.chooseAndUploadImage()"><img src="{{vm.staticFilePath}}/static/weshares/images/add-pircture-btn.png" /></div>
            </li>
        </ul>
    </div>
    <a class="nextstepBtn" ng-show="vm.showEditShareInfo" ng-click="vm.nextStep()">下一步，设置配送信息</a>
    <div class="shippment-info" ng-show='vm.showShippmentInfo'>
        <div class="refer-back-bg">
            设置配送信息
            <a ng-click="vm.backStep();">
                <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/back.png"/>
                <label>返回</label>
            </a>
        </div>
        <div class="ziti">
            <dl class="clearfix">
                <dd><input type="checkbox" ng-checked="vm.self_ziti_data.status==1" ng-click="vm.toggleBoxZitiChecked()"/></dd>
                <dd>自己的自提点</dd>
            </dl>
            <div class="freightmore">
                <div class="sendouttime"><input type="text" placeholder="到货/发货时间" ng-model="vm.weshare.send_info" ng-change='vm.validateSendInfo()' ng-blur='vm.validateSendInfo()'/></div>
                <div ng-show="vm.self_ziti_data.status==1">
                    <ul class="clearfix" ng-repeat="address in vm.weshare.addresses | filter:{deleted : 0}" style="margin-bottom: 15px;">
                        <li class="fl sendoutsite">
                            <input type="text" placeholder="取货地点" ng-model="address.address" ng-blur='vm.validateAddress()'/>
                        </li>
                        <li class="fl sendoutsite">
                            <input type="text" placeholder="联系人" ng-model="address.name" ng-blur='vm.validateAddress()'/>
                        </li>
                        <li class="fr" ng-if="!$first">
                            <a ng-click="vm.deleteAddress(address)" class="delete">删除</a>
                        </li>
                        <li class="fl sendoutsite">
                            <input placeholder="联系电话" ng-model="address.phone" ng-blur='vm.validateAddress()'/>
                        </li>
                        <li class="fr">
                            <a ng-click="vm.addAddress()">添加</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="expressage">
            <dl class="clearfix">
                <dd><input type="checkbox" ng-checked="vm.kuai_di_data.status==1" ng-click="vm.toggleBoxKuidiChecked()"/></dd>
                <dd>快递</dd>
            </dl>
            <dl class="clearfix" ng-show="vm.kuai_di_data.status==1" style="padding: 0px;">
                <dd><input type="radio" ng-model="vm.deliveryTemplateType" name="deliveryTemplateType" ng-value="0"/></dd>
                <dd>按件数计邮费</dd>
                <dd>&nbsp;&nbsp;&nbsp;</dd>
                <dd><input type="radio" ng-model="vm.deliveryTemplateType" name="deliveryTemplateType" ng-value="1"/></dd>
                <dd>按重量计邮费</dd>
            </dl>
            <div class="freightmore" ng-show="vm.kuai_di_data.status==1">
                <div class="freight">
                    <h1>默认［除指定地区外］</h1>
                    <div class="clearfix freightrate">
                        <div class="pt10 clearfix">
                            <label>默认运费</label>
                            <s><input type="text" placeholder="1" ng-model="vm.defaultDeliveryTemplate.start_units"/></s>
                            <label>{{vm.getUnitTypeText()}}内，</label>
                            <s><input type="text" placeholder="0" ng-model="vm.defaultDeliveryTemplate.start_fee"/></s>
                            <label>元</label>
                        </div>
                        <div class="pt10 clearfix">
                            <label>每增加</label>
                            <s><input type="text" placeholder="1" ng-model="vm.defaultDeliveryTemplate.add_units"/></s>
                            <label>{{vm.getUnitTypeText()}}，增加运费</label>
                            <s><input type="text" placeholder="0" ng-model="vm.defaultDeliveryTemplate.add_fee"/></s>
                            <label>元</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix" ng-repeat="deliveryTemplateItem in vm.deliveryTemplates">
                    <div class="freight fl">
                        <h1 class="clearfix" ng-click="vm.showChooseCityView(deliveryTemplateItem);">
                            <div class="fl" ng-bind="vm.showDeliveryTemplateProvinceNames(deliveryTemplateItem)"></div>
                            <a class="more_city"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/more_city.png" /></a>
                        </h1>
                        <div class="clearfix freightrate">
                            <div class="pt10 clearfix">
                                <label>指定</label>
                                <s><input type="text" ng-model="deliveryTemplateItem.start_units"/></s>
                                <label>{{vm.getUnitTypeText()}}内，</label>
                                <s><input type="text" ng-model="deliveryTemplateItem.start_fee"/></s>
                                <label>元</label>
                            </div>
                            <div class="pt10 clearfix">
                                <label>每增加</label>
                                <s><input type="text" ng-model="deliveryTemplateItem.add_units"/></s>
                                <label>{{vm.getUnitTypeText()}}，增加运费</label>
                                <s><input type="text" ng-model="deliveryTemplateItem.add_fee"/></s>
                                <label>元</label>
                            </div>
                        </div>
                    </div>
                    <div class="fr"><a ng-click="vm.removeDeliveryTemplate(deliveryTemplateItem)" class="deletebtn">删除</a></div>
                </div>
                <a ng-click="vm.addDeliveryTemplate()" class="add_freight">添加指定地区运费</a>
            </div>
        </div>
        <dl class="clearfix haolinju">
            <dd class="fl"><input disabled type="checkbox" /></dd>
            <dd class="fl">好邻居</dd>
            <dd class="fr" style="line-height: 20px;">使用前请先联系微信<br/><span>[yangxiaoguang]</span>沟通物流</dd>
        </dl>
        <div class="ziti" style="margin: 0;">
            <dl class="clearfix">
                <dd><input type="checkbox" ng-model="vm.proxy_rebate_percent.status" ng-true-value="1" ng-false-value="0" ng-checked="vm.proxy_rebate_percent.status==1"/></dd>
                <dd>设置团长的佣金比例(推广好办法)</dd>
            </dl>
            <div class="freightmore" ng-show="vm.proxy_rebate_percent.status==1">
                <div style="width: 60%;">
                    <input style="padding: 10px;" class="sendouttime" type="text" placeholder="团长佣金比例" ng-model="vm.proxy_rebate_percent.percent" ng-change='vm.validateRebatePercent()' ng-blur='vm.validateRebatePercent()'/>
                    <label style="font-size: 20px; color: #29AC0E;">%</label>
                </div>
            </div>
        </div>
        <a class="submitbtn" ng-click="vm.saveWeshare()">Oh，搞定了！</a>
    </div>

    <div class="dialog-delorder" ng-show="vm.showProductTipInfo">
        <div class="dialog-bar">温馨提示<a ng-click="vm.showProductTipInfo=false;vm.showLayer=false;" class="dialog-close" title="关闭"></a></div>
        <div class="dialog-content">
            <p>
                如果产品需要称重，价格不能提前确定，那么勾选后可以让用户预付设置的价格，发货后再填入实际金额，系统自动退款或发消息给用户付尾款。
            </p>
        </div>
    </div>
    <div class="dialog-delorder" ng-show="vm.showPinTuanTipInfo">
        <div class="dialog-bar">温馨提示<a ng-click="vm.showPinTuanTipInfo=false;vm.showLayer=false;" class="dialog-close" title="关闭"></a></div>
        <div class="dialog-content">
            <p>
                当其他小区有用户但是物流成本高时，可以选择让用户拼团，满一定人数再送货。
            </p>
        </div>
    </div>
    <!--用户发起分享的时候判断是否是团长或者是否是更新分享数据,不是上面的情况提示信息-->
    <div class="dialog-delorder" ng-if="vm.showCreateShareTipInfo">
        <div class="dialog-bar">温馨提示<a ng-click="vm.showCreateShareTipInfo=false;vm.showLayer=false;" class="dialog-close" title="关闭"></a></div>
        <div class="dialog-content">
            <div style="padding: 10px">
                <strong>欢迎来朋友说使用微分享分享您家的特产，您可以：</strong>
                <ul>
                    <li>
                        1、将微分享作为一个IT工具，就像微店那样，统计订单、收款和维护粉丝，是的，我们是收费的，佣金是交易金额的5%，
                        如果您的产品得到很多用户的认可，我们会做全站推荐；
                    </li>
                    <li>
                        2、加入我们的分享社区，这是最有趣的，我们有很多热心分享的妈妈团长，您可以加入我们，一起参加线下活动，一起
                        互相发现推荐好吃的特产，但前提是您有一颗乐于分享的心，您的产品非常优秀，如果是这样，
                        赶快联系我们微信：191837170。
                    </li>
                    <li>
                        <a href="http://mp.weixin.qq.com/s?__biz=MjM5MjY5ODAyOA==&mid=400858287&idx=1&sn=5f0049e7a0d2f9387cbb1ef9188ee079&scene=1">朋友说团长加入指南</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="http://mp.weixin.qq.com/s?__biz=MjM5MjY5ODAyOA==&mid=400854243&idx=1&sn=cce48490ef7ac0ee9f697eba6216aecf&scene=1">朋友说商家入驻指南</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="background-layer" ng-show="vm.showLayer" ng-click="vm.showCreateShareTipInfo=false;vm.showPinTuanTipInfo=false;vm.showProductTipInfo=false;vm.showLayer=false;;"></div>
</div>
<div style="background-color: #f9f9f9;margin-bottom: 50px;" ng-if="vm.isShowChooseCity">
    <div class="refer-back-bg">
        选择地区
        <a ng-click="vm.hideChooseCityView();">
            <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/back.png"/>
            <label>返回</label>
        </a>
        <a ng-click="vm.deliveryTemplateChooseCity()" style="right: 15px; left: auto; width: 2em; color: #49bc6e;">
            <label>完成</label>
        </a>
    </div>
    <div class="citylist" ng-repeat="area in vm.areaData">
        <ul class="clearfix">
            <li class="fl"><a class="show_city" ng-click="area.showChild=!area.showChild"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/show_city.png" /></a></li>
            <li class="fl" ng-bind="area.name" ng-click="area.showChild=!area.showChild"></li>
            <li class="fr"><input type="checkbox" ng-model="vm.areaCheckStatus[area.id]" ng-change="vm.toggleAreaProvinceCheckStatus(area.id)" ng-true-value="true" ng-false-value="false"/></li>
        </ul>
        <div ng-show="area.showChild">
            <ul class="clearfix" ng-repeat="(provinceId, provinceName) in vm.provinceData[area.id]">
                <li class="fl gray pl28" ng-bind="provinceName"></li>
                <li class="fr"><input type="checkbox" ng-model="vm.provinceCheckStatus[provinceId]" ng-change="vm.setAreaCheckStatus(area.id)" ng-true-value="true" ng-false-value="false"/></li>
            </ul>
        </div>
    </div>
</div>
<footer class="channel_bottom" id="share-bottom-nav">
    <a class="btm_item" href="/" style="width: 25%;">
        <p class="iconfont" style="height: 18px;"><i class="fa fa-home"></i></p>
        <b>首页</b>
    </a>
    <a class="btm_item" href="/share_opt/index.html" style="width: 25%; position: relative;">
        <i style="background:#f00;border-radius:50%;width:10px;height:10px;top:-5px;right:35%;position:absolute; display: none;" id="mark-has-unread"></i>
        <p class="iconfont" style="height: 18px;"><i class="fa fa-search"></i></p>
        <b>发现</b>
    </a>
    <a class="btm_item" href="/weshares/add" style="width: 25%;">
        <p class="iconfont-active" style="height: 18px;"><i class="fa fa-share-square-o"></i></p>
        <b class="active">我要分享</b>
    </a>
    <a class="btm_item" href="/weshares/user_share_info/" style="width: 25%;">
        <p class="iconfont" style="height: 18px;"><i class="fa fa-user"></i></p>
        <b>我的</b>
    </a>
</footer>
