<div class="weshare-add" ng-if="vm.showEditShareView">
    <div class='share-info' ng-show="!vm.showShippmentInfo">
        <h1 class='margin-bottom-12'>分享描述</h1>

        <div class="form-group" ng-class="{'has-error': vm.weshareTitleHasError}">
            <input class='form-control' placeholder="分享的的标题" ng-model='vm.weshare.title' ng-change='vm.validateTitle()' ng-blur='vm.validateTitle()'/>
            <p class='tips'>请输入标题, 不超过50个字</p>
        </div>
        <div class="clearfix product-spec-group" ng-repeat="product in vm.weshare.products | filter:{deleted : 0}">
            <div class="form-group fl" style="width: 100%; margin-right: 10px;" ng-class="{'has-error': product.nameHasError}">
                <input class='form-control' placeholder="产品名称/规格" ng-model="product.name" ng-change='vm.validateProductName(product)' ng-blur='vm.validateProductName(product)'/>
                <p class='tips'>请输入描述, 不超过20个字</p>
            </div>
            <div class="form-group fl form-group-inline" ng-class="{'has-error': product.priceHasError}">
                <input class='form-control' placeholder="价格/元" ng-model="product.price" ng-change='vm.validateProductPrice(product)' ng-blur='vm.validateProductPrice(product)'/>
                <p class='tips'>请输入数字</p>
            </div>
            <div class="form-group fl" style="margin-top: 2%;">
                <input type="checkbox" ng-model="product.tbd" ng-true-value="1" ng-false-value="0" ng-checked="product.tbd==1">
                &nbsp;&nbsp;价格待定
                &nbsp;&nbsp;
            </div>
            <img src="/static/weshares/images/faq.png" width="20px" height="20px" style="margin-top: 3%;" ng-click="vm.showProductTipInfo=true;vm.showLayer=true;">
            <div class="form-group form-group-inline" ng-class="{'has-error': product.storeHasError}">
                <input class='form-control' placeholder="库存/件,默认不限制" ng-model="product.store" ng-change='vm.validateProductStore(product)' ng-blur='vm.validateProductStore(product)'/>
                <p class='tips'>请输入数字</p>
            </div>
            <div class="form-group fl form-group-inline" ng-show="vm.weshare.tags.length>0" ng-if="vm.checkUserCanSetTag()">
                <select class="form-control" ng-model="product.tag_id" ng-options="tag.id as tag.name for tag in vm.weshare.tags">
                    <option value="">默认分组</option>
                </select>
            </div>
            <div class="form-group fl set-product-tag-group" ng-if="vm.checkUserCanSetTag()">
                <a class="set-product-tag" ng-click="vm.editTagView()">设置分组</a>
            </div>
            <a class="fr btn add-new-product-not-tag"
               ng-class="{'delete-btn': !$last,'add-btn': $last}"
               ng-click="vm.toggleProduct(product, $last)" ng-if="!vm.checkUserCanSetTag()"></a>
            <a class="fr btn add-new-product-tag"
               ng-class="{'delete-btn': !$last,'add-btn': $last}"
               ng-click="vm.toggleProduct(product, $last)" ng-if="vm.checkUserCanSetTag()"></a>
        </div>
        <div class="form-group">
            <textarea class='form-control' rows="3" cols="" placeholder="描述下分享的详细内容，让大家更好的了解。" ng-model="vm.weshare.description" style="display: block;"></textarea>
        </div>
        <ul class="clearfix images">
            <li class='image' ng-repeat="image in vm.weshare.images">
                <a class='delete-badge' ng-click='vm.deleteImage(image)'></a>
                <img ng-src="{{image}}"/>
            </li>
        </ul>
        <a class="btn upload-btn" ng-click="vm.chooseAndUploadImage()">点击上传图片</a>
        <a class="btn next-btn" ng-click="vm.nextStep()">下一步，设置取货信息</a>
    </div>

    <div class="shippment-info" ng-show='vm.showShippmentInfo'>
        <h1 class='margin-bottom-12'>设置取货信息</h1>

        <div class="form-group" ng-class="{'has-error': vm.weshareSendInfoHasError}">
            <input class='form-control' placeholder="到货/发货时间" ng-model="vm.weshare.send_info" ng-change='vm.validateSendInfo()' ng-blur='vm.validateSendInfo()'/>
            <p class='tips'>请输入发货时间, 不超过50个字</p>
        </div>
        <div class="clearfix">
            <div class="form-group fl">
                <input type="checkbox" ng-model="vm.self_ziti_data.status" ng-true-value="1" ng-false-value="-1" ng-checked="vm.self_ziti_data.status==1" ng-change='vm.validateAddress()'>
            </div>
            &nbsp;&nbsp;&nbsp;自己的自提点
        </div>
        <div class="form-group" ng-class="{'has-error': vm.addressError}">
            <div class="clearfix" ng-repeat="address in vm.weshare.addresses | filter:{deleted : 0}">
                <div class="form-group fl" style="width: 80%; margin-right: 10px;">
                    <input class='form-control' placeholder="取货地点，联系人，联系电话" ng-model="address.address" ng-blur='vm.validateAddress()'/>
                </div>
                <a class="fr btn" ng-class="{'delete-btn': !$last,'add-btn': $last}"
                   ng-click="vm.toggleAddress(address, $last)"></a>
            </div>
            <p class='tips'>请输入取货地址</p>
        </div>
        <div class="clearfix">
            <div class="form-group fl">
                <input type="checkbox" ng-model="vm.kuai_di_data.status" ng-true-value="1" ng-false-value="-1" ng-checked="vm.kuai_di_data.status==1">
            </div>
            &nbsp;&nbsp;&nbsp;快递
            <div class="form-group fr" ng-class="{'has-error': vm.shipFeeHasError}" style="width: 50%; margin-right: 80px;" ng-show="vm.kuai_di_data.status==1">
                <input class='form-control' placeholder="快递费/元 (默认为0)" ng-model="vm.kuaidi_show_ship_fee" ng-change='vm.validateShipFee()' ng-blur='vm.validateShipFee()'/>
                <p class='tips'>请输入数字</p>
            </div>
        </div>
        <div class="clearfix" ng-class="{'checkbox-disable' : vm.canUseOfflineAddress != 1}">
            <div class="form-group fl">
                <input ng-disabled="vm.canUseOfflineAddress != 1" type="checkbox" ng-model="vm.pin_tuan_data.status" ng-true-value="1" ng-false-value="-1" ng-checked="vm.pin_tuan_data.status==1">
            </div>
            &nbsp;&nbsp;&nbsp;邻里拼团 <span ng-if="vm.canUseOfflineAddress != 1">(朋友说团长开放)</span>
            <div class="form-group fr" ng-class="{'has-error': vm.pinTuanHasError}" style="width: 45%; margin-right: 80px;" ng-show="vm.pin_tuan_data.status==1">
                <input class='form-control' placeholder="拼团人数" ng-model="vm.pin_tuan_data.limit" ng-change='vm.validatePinTuan()' ng-blur='vm.validatePinTuan()'/>
                <p class='tips'>请输入数字</p>
            </div>
        </div>
        <img src="/static/weshares/images/faq.png" width="20px" height="20px" class="fr" style="margin-right: 5%;margin-top: -12%;" ng-click="vm.showPinTuanTipInfo=true;vm.showLayer=true;" ng-show="vm.pin_tuan_data.status==1"/>
        <div class="clearfix" ng-class="{'checkbox-disable' : vm.sharerShipType==0}">
            <div class="form-group fl">
                <input type="checkbox"  ng-disabled="vm.sharerShipType==0" ng-model="vm.pys_ziti_data.status" ng-true-value="1" ng-false-value="-1" ng-checked="vm.pys_ziti_data.status==1">
            </div>
            &nbsp;&nbsp;&nbsp;好邻居自提 <span ng-if="vm.sharerShipType==0">&nbsp;&nbsp;(分享达人开放)</span>
        </div>
        <hr/>
        <div class="clearfix">
            <div class="form-group fl">
                <input type="checkbox" ng-model="vm.proxy_rebate_percent.status" ng-true-value="1" ng-false-value="0" ng-checked="vm.proxy_rebate_percent.status==1">
            </div>
            &nbsp;&nbsp;&nbsp;设置团长的佣金比例(推广好办法)
        </div>
        <div class="form-group">
            <div class="clearfix">
                <div class="form-group fl" style="width: 50%; margin-right: 10px;" ng-class="{'has-error': vm.rebatePercentHasError}">
                    <input class='form-control' ng-model="vm.proxy_rebate_percent.percent" placeholder="团长佣金比例" style="width: 80%; margin-right: 10px; text-align: right;" ng-change='vm.validateRebatePercent()' ng-blur='vm.validateRebatePercent()'/> <span class="fr" style="margin-top: 10px; font-size: 20px; color: #29AC0E;">%</span>
                    <p class='tips'>请输入数字</p>
                </div>
            </div>
            <p>
                设置后团长推荐产生的订单将付给团长佣金
            </p>
        </div>
        <a class="btn next-btn" ng-click="vm.saveWeshare()">oh，搞定了！</a>
        <a class="btn back-btn" ng-click="vm.showShippmentInfo=false">返回修改</a>
    </div>
    <div class="dialog-delorder" ng-show="vm.showProductTipInfo">
        <div class="dialog-bar">温馨提示<a ng-click="vm.showProductTipInfo=false;vm.showLayer=false;" class="dialog-close" title="关闭"></a></div>
        <div class="dialog-content">
            <p>
                如果产品需要称重，价格不能提前确定，那么勾选后可以让用户预付设置的价格，发货后再填入实际金额，系统自动退款或发消息给用户付尾款。
            </p>
        </div>
    </div>
    <div class="dialog-delorder" ng-show="vm.showPinTuanTipInfo">
        <div class="dialog-bar">温馨提示<a ng-click="vm.showPinTuanTipInfo=false;vm.showLayer=false;" class="dialog-close" title="关闭"></a></div>
        <div class="dialog-content">
            <p>
                当其他小区有用户但是物流成本高时，可以选择让用户拼团，满一定人数再送货。
            </p>
        </div>
    </div>
    <div class="background-layer" ng-show="vm.showLayer" ng-click="vm.showPinTuanTipInfo=false;vm.showProductTipInfo=false;vm.showLayer=false;;"></div>
</div>
<div style="background-color:#f5f5f5;margin-bottom: 20px;" ng-if="vm.showEditTagView">
    <div class="classlist">
        <a ng-click="vm.hideEditTagView()" class="back"></a>
        分组
    </div>
    <div class="weshare-add" style="margin-top: 50px;">
        <div class="shippment-info">
            <div class="clearfix">
                通过分组可以方便的管理多个商品
            </div>
            <div class="form-group">
                <div class="clearfix" ng-repeat="tag in vm.weshare.tags | filter:{deleted:0}">
                    <div class="form-group fl" style="width: 80%; margin-right: 10px;" ng-class="{'has-error': tag.nameHasError}">
                        <input class='form-control' placeholder="分组名称" ng-model="tag.name"
                               ng-blur='vm.validateTagName(tag)' ng-change='vm.validateTagName(tag)'/>
                    </div>
                    <a class="fr btn" ng-class="{'delete-btn': !$last,'add-btn': $last}"
                       ng-click="vm.toggleTag(tag, $last)"></a>
                </div>
                <p class='tips'>请输入分组名称</p>
            </div>
            <a class="btn next-btn" ng-click="vm.saveTag()">确定</a>
            <a class="btn back-btn" ng-click="vm.showEditTagView=false;vm.showEditShareView=true">取消</a>
        </div>
    </div>
</div>
<div style="text-align: center; margin-bottom: 0;">
    <a href="/"><img src="/img/logo_footer.jpg" border="0" style="width: 4.625em;height: 1.583em;"/></a><br/>朋友说—朋友间最真挚的分享
</div>