<div ng-controller="WesharesEditConsigneeCtrl as wecc">
    <!--操作视图-->
    <div style="background-color: #f1f1f1;">
        <!--选择快递地址-->
        <div ng-if="wecc.selectConsignees">
            <div class="nav-bg">
                <a ng-click="wecc.toBalanceView();" class="nav-back fl">
                    <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/back.png"/>
                    <label>返回</label>
                </a>
                <h1 class="fl">选择地址</h1>
            </div>
            <div class="select-address">
                <a href="#" class="cur">
                    <ul class="clearfix">
                        <li class="fl">
                            <span>Alice</span>
                            &nbsp;&nbsp;
                            <span>13777777777</span>
                            <br/>
                            <label>北京市通州区北苑街道办事处</label>
                        </li>
                        <li><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/copyreader.png"/></li>
                    </ul>
                </a>
                <a href="#">
                    <ul class="clearfix">
                        <li class="fl">
                            <span>Alice</span>
                            &nbsp;&nbsp;
                            <span>13777777777</span>
                            <br/>
                            <label>北京市通州区北苑街道办事处</label>
                        </li>
                        <li><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/copyreader.png"/></li>
                    </ul>
                </a>
            </div>
            <div class="add-address-bg"><a href="#">新增地址</a></div>
        </div>
        <!--编辑快递地址-->
        <div ng-if="wecc.editConsignee">
            <div class="nav-bg">
                <a href="#" class="nav-back fl">
                    <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/back.png"/>
                    <label>返回</label>
                </a>

                <h1 class="fl">编辑地址</h1>
                <a href="#" class="nav-home fr">
                    <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/home.png"/>
                </a>
            </div>
            <div class="copyreader-address">
                <ul class="clearfix">
                    <li class="fl comment">收货人</li>
                    <li class="fl content"><input type="text" placeholder="请输入收货人姓名"/></li>
                </ul>
                <ul class="clearfix">
                    <li class="fl comment">联系方式</li>
                    <li class="fl content"><input type="text" placeholder="请输入收货人手机号"/></li>
                </ul>
                <a href="#">
                    <ul class="clearfix">
                        <li class="fl comment">所在地区</li>
                        <li class="fl content"><input type="text" placeholder="请选择送货区域" disabled/></li>
                        <li><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/next-icon.png"/></li>
                    </ul>
                </a>
                <ul class="clearfix">
                    <li class="fl comment">详细地址</li>
                    <li class="fl content"><input type="text" placeholder="请输入详细地址"/></li>
                </ul>
            </div>
            <a href="#" class="saveBtn">保存</a>
        </div>
    </div>
</div>