<div class="other-share">
    <ul class="clearfix">
        <li ng-class="{'other-share_focus':vm.focus == 'share'}" ng-click="vm.focus = 'share';">TA分享的</li>
        <li ng-class="{'other-share_focus':vm.focus == 'attend'}" ng-click="vm.focus = 'attend';">TA报名的</li>
    </ul>
    <div class="share-good" style="display: none" ng-class="{'show-b':vm.focus == 'share'}" infinite-scroll='vm.shareNextPage()'
         infinite-scroll-disabled='vm.sharesOver||vm.loading'
         infinite-scroll-distance='0' ng-repeat="share in vm.shares.list">
            <a href="javascript:;" ng-click="vm.goToShare(share.id)">
                <div style="position: relative;text-align: center;">
                    <img class="product-image" lazy-src="{{share.default_image}}"
                         fallback-src="{{vm.staticFilePath}}/static/img/default_product_banner.png">
                </div>
                <div class="share-content">
                    <h1 class="share-title" ng-bind="share.title"></h1>
                    <p>{{vm.username}}说" <span ng-bind="share.description">我基本上很少吃芒果，但是这个贵妃芒 是真的征服了我，并不因为她 娇羞的“容貌” </span>"</p>
                </div>
            </a>
            <dl class="clearfix share-data">
                <dd class="clearfix" style="padding-right: 60px;max-height: 420px;">
                    <img ng-repeat="buyer in share.summary.orders_and_creators" lazy-src="{{buyer.avatar}}"
                         fallback-src="this.src='{{vm.staticFilePath}}/avatar/s/default.jpg'"/>
                    <label>已<span>{{share.summary.order_count}}</span>个人报名</label>
                </dd>
                <dd class="browse">浏览{{share.summary.view_count}}</dd>
            </dl>
    </div>
    <div style="display: none;" ng-class="{'show-b':vm.focus == 'attend'}" infinite-scroll='vm.attendNextPage()'
         infinite-scroll-disabled='vm.attendOver||vm.loading'
         infinite-scroll-distance='0'>
        <div class="mine_order" ng-repeat="attend in vm.attends.list">
            <a class="clearfix share-goodlist" ng-click="vm.goToShare(attend.id);">
                <div class="fl"><img lazy-src="{{attend.default_image}}" fallback-src="this.src='{{vm.staticFilePath}}/static/img/default_product_banner.png'"/></div>
                <h1>{{attend.title}}</h1>
                <em>进行中</em>
                <label><span>{{attend.created}}</span></label>
            </a>
        </div>
    </div>
</div>