<div class="outer-listings-container row-space-2">
    <div class="listings-container">
        <div class="row">
            <div class="col-sm-12 row-space-2 col-md-6">
                <div class="listing">
                    <div class="panel-image listing-img">
                        <a href="#" target="_self" class="media-photo media-cover">
                            <div class="listing-img-container media-cover text-center">
                                <img itemprop="image" data-current="0"
                                     src="https://z0.muscache.com/ac/pictures/96753041/6f7adb46_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70"
                                     class="img-responsive-height" alt="中式风格，西式厨房，干净，舒服，交通方便，房东说英语，法语。"
                                     data-urls="[&quot;https://z0.muscache.com/ac/pictures/96753041/6f7adb46_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://z0.muscache.com/ac/pictures/90725342/736997a8_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;, &quot;https://z0.muscache.com/ac/pictures/90725394/fa15c824_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70&quot;]">
                            </div>
                        </a>
                        <div class="target-prev target-control block-link">
                            <i class="icon icon-chevron-left icon-size-2 icon-white"></i>
                        </div>
                        <a href="#" target="_self"
                           class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                            <div>
                                <sup class="h6 text-contrast">￥</sup>
                                <span class="h3 text-contrast price-amount">621</span>
                                <sup class="h6 text-contrast"></sup>
                            </div>
                        </a>
                        <div class="target-next target-control block-link">
                            <i class="icon icon-chevron-right icon-size-2 icon-white"></i>
                        </div>
                    </div>
                    <div class="panel-body panel-card-section">
                        <div class="media">
                            <a href="#"
                               class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
                                <div class="media-photo media-round">
                                    <img src="https://z1.muscache.com/ac/users/37455503/profile_pic/1437732921/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70"
                                         alt="">
                                </div>
                            </a>
                            <a href="#" target="_self" class="text-normal">
                                <h3 title="中式风格，西式厨房，干净，舒服，交通方便，房东说英语，法语。" itemprop="name"
                                    class="h5 listing-name text-truncate row-space-top-1">
                                    中式风格，西式厨房，干净，舒服，交通方便，房东说英语，法语。
                                </h3>
                            </a>
                            <div itemprop="description" class="text-muted listing-location text-truncate">
                                <a href="#" class="text-normal link-reset">
                                    整套房子/公寓
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>