<ul class="share-header clearfix">
    <li class="fl">
        <a href="/weshares/user_share_info/{{share.Proxy.id}}">
            <img itemprop="image" class="avatar radius50"
                 lazy-src="{{vm.staticFilePath + '/' + share.Proxy.avatar}}"
                 fallback-src="{{vm.staticFilePath + '/avatar/s/default.jpg'}}">
        </a>
    </li>
    <li class="level" ng-bind="'L'+0"></li>
    <li class="fl">
        <a class="nickname" href="/weshares/user_share_info/{{share.Proxy.id}}" ng-bind="share.Proxy.nickname"></a>
        <dl class="label-container clearfix">
            <dd class="fl label" ng-bind="share.Proxy.label"></dd>
        </dl>
    </li>
    <li class="fr subscribe">
        <div class="sub-no" ng-show="true">关注TA
        </div>
        <div class="sub-yes" ng-show="false">
            <a href="#X" class="clearfix">
                <span class="fl">已关注</span>
                <label class="fl">
                    <i></i>
                    <em></em>
                </label>
            </a>
            <a class="unfollow">取消关注</a>
        </div>
    </li>
</ul>

<a class="image-container" href="/weshares/view/{{share.Weshare.id}}">
    <img class="image" lazy-src="vm.getShareImage(share)"
         fallback-src="{{vm.staticFilePath}}/static/img/default_product_banner.png">
</a>
<a class="share-content" href="/weshares/view/{{share.Weshare.id}}">
    <h1 class="share-title" ng-bind="share.Weshare.title"></h1>

    <p class="share-description"><span ng-bind-html="share.Weshare.description | unsafe"></span></p>
</a>

<dl class="share-summary clearfix ">
    <dd class="order-count clearfix">
        <img class="avatar radius50" ng-repeat="buyer in share.summary.orders_and_creators | limitTo: 4"
             lazy-src="{{buyer.avatar}}"
             fallback-src="this.src='{{vm.staticFilePath}}/avatar/s/default.jpg'"/>
        <label class="fl">已<span>{{share.summary.order_count}}</span>个人报名</label>
    </dd>
    <dd class="view-count">浏览{{share.summary.view_count}}</dd>
</dl>