<div ng-if="vm.showShareDetailView" ng-include="'http://51daifan-assets.stor.sinaapp.com/static/weshares/templates/weshare-view.html?v0.1.9'"></div>
<div ng-if="vm.showBalanceView" ng-include="'http://51daifan-assets.stor.sinaapp.com/static/weshares/templates/balance.html?v0.1.9'"></div>
<div ng-if="vm.chooseOfflineStoreView" ng-include="'http://51daifan-assets.stor.sinaapp.com/static/weshares/templates/offline-store.html?v0.1.9'"></div>
<div ng-if="vm.showOfflineStoreDetailView" ng-include="'http://51daifan-assets.stor.sinaapp.com/static/weshares/templates/offline-store-detail.html?v0.1.9'"></div>
<div ng-if="vm.showStartGroupShareView" ng-include="'http://51daifan-assets.stor.sinaapp.com/static/weshares/templates/share-group-buy.html?v0.1.9'"></div>