<div ng-if="vm.showShareDetailView">
    <div ng-class="{'has-channel-bottom': vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6}">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-detail.html?v0.6.7'"></ng-include>
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-orders.html?v0.6.4'"></ng-include>
    </div>
    <div ng-if="vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-view-default-nav.html?v0.6.4'"></ng-include>
    </div>

    <!--支付成功提示层-->
    <div style=" margin-left: -32.5%; margin-top: -85px; display: none;" class="pay-success">
        <h1>报名成功</h1>
        <ul class="clearfix">
            <li class="fl"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png" /></li>
            <li class="sharer-name" style="overflow: hidden;">关注小宝妈<br/>即时知道TA的分享</li>
        </ul>
        <dl class="clearfix">
            <dt><a href="#X">取消</a></dt>
            <dt><a class="attention" href="#X">关注</a></dt>
        </dl>
    </div>

    <!--分享管理层-->
    <div class="share-control" style="display: none;">
        <a href="#X" class="control-order">订单管理</a>
        <a href="#X" class="control-order">修改分享</a>
        <a href="#X" class="control-detele">取消</a>
    </div>

    <div class="toast" style="display: none;">关注已取消，不再收到TA的消息</div>
    <div class="layer-bg" style="display: none;"></div>
</div>
<div ng-if="vm.showBalanceView">
    <ng-include src="vm.staticFilePath + '/static/weshares/templates/balance.html?v0.6.7'"></ng-include>
</div>
<div ng-if="vm.chooseOfflineStoreView">
    <ng-include src="vm.staticFilePath + '/static/weshares/templates/offline-store.html?v0.6.7'"></ng-include>
</div>
<div ng-if="vm.showOfflineStoreDetailView">
    <ng-include src="vm.staticFilePath + '/static/weshares/templates/offline-store-detail.html?v0.6.7'"></ng-include>
</div>
<div ng-if="vm.showEditConsigneeView">
    <!--编辑地址-->
    <ng-include src="vm.staticFilePath + '/static/weshares/templates/edit-consignee.html?v0.6.7'"></ng-include>
</div>