<div class="weshare_view">
    <ul class="clearfix">
        <li><img src="images/head.png" /></li>
        <li>
            <label>小宝妈</label>
            <s>已有10人参团  &nbsp;|&nbsp;  07-07 13:00</s>
        </li>
    </ul>
    <div class="weshare_view_introduce">
        <b></b>
        <div class="weshare_view_state">进行中</div>
        <h1>农家散养鸡蛋开始团购喽</h1>
        <s>取货时间：本周六7月9日上午11点<br/>取货地点：育新小区门口超市，广通小区</s>
        <p>在江西都昌县，有一个叫太阳村的地方，全名叫太阳村鄱阳湖儿童救助中心（以下简称太阳村），成立于2007年，是一家民间爱心福利机构。在这里，因各种原因无人照顾的孩子共有173人</p>
        <a href="#X">更多</a>
        <dl class="clearfix">
            <dt><a href="#X"><img src="images/good.jpg" /></a></dt>
            <dt><a href="#X"><img src="images/good.jpg" /></a></dt>
            <dt><a href="#X"><img src="images/good.jpg" /></a></dt>
            <dt><a href="#X"><img src="images/good.jpg" /></a></dt>
        </dl>
        <div class="weshare_view_detail">
            <dl class="clearfix">
                <dd class="fl">完全散养鸡一只</dd>
                <dd class="fr">团20份</dd>
                <dd class="fr" style="color: #29AC0E;">¥80.00</dd>
            </dl>
            <dl class="clearfix">
                <dd class="fl">完全散养鸡一只</dd>
                <dd class="fr">团20份</dd>
                <dd class="fr" style="color: #29AC0E;">¥80.00</dd>
            </dl>
        </div>
    </div>
    <div class="weshare_view_order">
        <ul class="clearfix">
            <li><img src="images/head.png" /></li>
            <li></li>
        </ul>
    </div>
</div>