<div class="weshare-view">
    <div ng-if="vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-view-default-header.html?v0.6.4'"></ng-include>
    </div>
    <div ng-if="vm.weshare.type==1">
        <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-view-group-header.html?v0.6.4'"></ng-include>
    </div>
    <div class="introduction margin-bottom-12">
        <b></b>
        <a ng-if="vm.weshare.type==1" class="statistics-btn group-share-mark">邻里拼团</a>
        <div class="status" ng-bind="vm.statusMap[vm.weshare.status]"></div>
        <h1 class='title margin-bottom-12' ng-bind="vm.weshare.title"></h1>
        <div ng-if="vm.weshare.refer_share_id==3814 || vm.weshare.id==3814">
            <iframe frameborder="0" width="100%" src="http://v.qq.com/iframe/player.html?vid=t01719wisq4&tiny=0&auto=0" allowfullscreen></iframe>
        </div>
        <div ng-if="vm.weshare.refer_share_id==3822 || vm.weshare.id==3822">
            <iframe frameborder="0" width="100%" src="http://v.qq.com/iframe/player.html?vid=f0194qcpnvt&tiny=0&auto=0" allowfullscreen></iframe>
        </div>
        <p read-more more-text="展开..." less-text="收起" limit="100" class="margin-bottom-12"  ng-hide='_.isEmpty(vm.weshare.description)' content="{{vm.weshare.description | unsafe}}"></p>
        <dl class="clearfix images margin-bottom-12">
            <dt ng-repeat="image in vm.weshare.images"><a ng-click="vm.viewImage(image)"><img lazy-src="{{image | thumb: 's'}}" alt="{{vm.weshare.title}}" fallback-src="{{image}}"/></a></dt>
        </dl>
        <div class="product-group" ng-class="{'has-error':vm.productsHasError}">
            <div class="products form-group" ng-repeat="product in vm.weshare.products">
                <dl class="clearfix product form-control">
                    <dd class="fl" ng-if="!vm.checkProductNum(product)||product.store==0" style="width: 50%;">
                        {{::product.name}}
                        <span ng-if="!vm.checkProductNum(product)">&nbsp;&nbsp;(<span style="color: red;">抢光了</span>)</span>
                    </dd>
                    <dd class="fl" ng-if="vm.checkProductNum(product)&&product.store>0" style="">
                        {{::product.name}}
                        &nbsp;&nbsp;(仅剩<span style="color: red;" ng-bind="vm.getProductLeftNum(product)"></span>份)
                    </dd>

                    <dd class="fr" ng-if="vm.checkProductNum(product)">
                        <a class='btn decrease-btn' ng-click="vm.decpreaseProductNum(product)"></a>
                        <span class='num' ng-bind="product.num||0"></span>
                        <a class='btn increase-btn' ng-click="vm.increaseProductNum(product)"></a>
                    </dd>
                    <dd class="fr" ng-if="!vm.checkProductNum(product)">
                        <span class='num' style="margin-left: 60px;">&nbsp;</span>
                    </dd>

                    <dd class="fr" style="color: #29AC0E;" ng-bind="::product.price/100 | currency:'￥'"></dd>
                </dl>
            </div>
            <p class='tips'>请输入商品数量</p>
        </div>
        <div class='send-info text-center margin-bottom-12' ng-hide='_.isEmpty(vm.weshare.send_info)'>取货时间: <span ng-bind='vm.weshare.send_info'></span></div>
    </div>

    <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-view-orders.html?v0.6.4'"></ng-include>

    <div style="text-align: center;">
        <a href="/"><img ng-src="{{::vm.staticFilePath}}/static/img/logo_footer.jpg" border="0" style="width: 4.625em;height: 1.583em;"/></a><br/>朋友说—朋友间最真挚的分享
    </div>
</div>

<div ng-if="vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6">
    <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-view-default-nav.html?v0.6.4'"></ng-include>
</div>
<div ng-if="vm.weshare.type==1">
    <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-view-group-nav.html?v0.6.4'"></ng-include>
</div>

<div class="share-dialog" ng-show="vm.showShareDialog">
    <div style="width: 90%; margin: 0 auto; font-size: 1.3em;">点击右上角“…”，分享给好友或朋友圈。</div>
</div>
<!--paid done no red packet-->
<div class="share-dialog" ng-show="vm.showNotifyShareDialog">
    <div style="width: 90%; margin: 0 auto; font-size: 1.3em;">亲，订单已成功，点击…  分享给您的朋友，感谢您将美味传递下去。</div>
</div>

<div ng-show="vm.showNotifyGetPacketDialog" class="red-packet-dialog">
    <div class="content">
        <div class="nav">
            <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/close.png" class="close-btn" ng-click="vm.showNotifyGetPacketDialog=false;vm.showLayer=false;">
        </div>
        <div class="head">
            <img ng-src="{{vm.weshare.creator.image||vm.staticFilePath + '/static/weshares/images/share_icon.jpg'}}"/>
        </div>
        <div class="desc">
            <h3>{{vm.weshare.creator.nickname}}送你爱心礼包</h3>
            <h1>{{vm.getPacketNum}}</h1>
        </div>
    </div>
</div>

<div ng-show="vm.showNotifyShareOfferDialog" class="red-packet-dialog">
    <div class="content">
        <div class="nav">
            <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/close.png" class="close-btn" ng-click="vm.showNotifyShareOfferDialog=false;vm.showLayer=false;">
        </div>
        <div class="head">
            <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/share_icon.jpg"/>
        </div>
        <div class="desc">
            <h3>{{vm.weshare.creator.nickname}}送你爱心礼包</h3>
            <p>亲，订单已成功，点击…  分享给您的朋友，感谢您将美味传递下去。</p>
        </div>
    </div>
</div>
<!--评价层-->
<div class="commenting-dialog" ng-show="vm.showCommentingDialog">
    <div class="clearfix title">
        <label>爱心评价</label>
        <a ng-click="vm.closeCommentDialog();" class="closebtn fr"></a>
    </div>
    <div class="clearfix" style="padding: 0 10px;margin-bottom: 30px;">
        <div class="form-group" ng-class="{'has-error': vm.usernameHasError}">
            <textarea id="commentContentDom" class='form-control' placeholder="{{vm.commentTipInfo}}" ng-model='vm.submitTempCommentData.comment_content' ng-change=''></textarea>
            <p class='tips'>请输入评价信息</p>
        </div>
    </div>
    <div class="clearfix starttuan_btn">
        <a ng-click='vm.submitComment()' style="background-color: #ffa200; width: 100%;">评价</a>
    </div>
</div>
<!--通知粉丝层-->
<div class="notify-dialog" ng-show="vm.showNotifyView">
    <div class="clearfix title" style="padding: 0 10px 10px;">
        <label style="font-size: 18px;">参团提醒</label>
        <a ng-click="vm.showLayer=false;vm.showNotifyView=false;" class="closebtn fr"></a>
    </div>
    <div class="clearfix" style="padding: 0 10px;">
        <div class="form-group">
            <div class="form-control radio-group">
                <div>
                    <input type="radio" class="radio" ng-model="vm.sendNotifyType" value="0" ng-change='vm.resetNotifyContent()'/>
                    <label>通知未买粉丝</label>
                </div>
                <div>
                    <input type="radio" class="radio" ng-model="vm.sendNotifyType" value="1" ng-change='vm.resetNotifyContent()'/>
                    <label>通知已买粉丝</label>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" style="padding: 0 10px;margin-bottom: 10px;">
        <div class="form-group" ng-class="{'has-error': vm.notifyMsgHasError}">
            <textarea id="msgContentDom" style="height: 100px;" class='form-control' ng-model='vm.notify.content' ng-change='vm.validNotifyMsgContent();'></textarea>
            <p class='tips'>请输入信息内容</p>
        </div>
    </div>
    <div class="clearfix notify_btn">
        <a ng-click='vm.sendNotifyShareMsg();' style="background-color: #ffa200; width: 100%;">群发通知</a>
    </div>
</div>
<!--推荐弹出层-->
<div class="recommend-dialog" ng-show="vm.showRecommendDialog">
    <div class="clearfix title">
        <label>推荐给我的粉丝</label>
        <a ng-click="vm.closeRecommendDialog();" class="closebtn fr"></a>
    </div>
    <div class="clearfix" style="padding: 0 10px;">
        <div class="form-group" ng-class="{'has-error': vm.recommendContentHasError}">
            <textarea id="recommendContentDom" class='form-control' ng-model='vm.submitRecommendData.recommend_content' ng-change='vm.validRecommendContent()'></textarea>
            <p class='tips'>请输入推荐信息</p>
        </div>
    </div>
    <div class="clearfix recommend-btn">
        <a ng-click='vm.submitRecommend()' style="background-color: #ffa200; width: 100%;">推荐</a>
    </div>
</div>
<!--显示所有评论列表层-->
<div class="comment_list-dialog" ng-show="vm.showCommentListDialogView">
    <div class="nav">
        <img ng-src="{{::vm.staticFilePath}}/static/weshares/images/close.png" class="close-btn" ng-click="vm.showCommentListDialogView=false;vm.showLayer=false;">
    </div>
    <div id="box_title"><span ng-bind="vm.getOrderCommentLength()"></span>爱心评价</div>
    <div class="comment_list_box">
        <div id="con">
            <div class="bottomcover" style="z-index:2;"></div>
            <ul>
                <li ng-repeat="orderComment in vm.sharerAllComments">
                    <div class="div_left"><img ng-src="{{vm.sharerAllCommntesUser[orderComment.user_id]['image']}}"></div>
                    <div class="div_right">
                        <span ng-bind="orderComment.username"></span>：<p ng-bind="orderComment.body" style="word-break: break-all;display: inline;"></p>
                        <div class="twit_item_time" ng-bind="vm.getFormatDate(orderComment.created)"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="group-share-tip-dialog" ng-show="vm.showGroupShareTipDialog">
    <div class="clearfix title">
        <label>邻里拼团</label>
        <a ng-click="vm.showLayer=false;vm.showGroupShareTipDialog=false;" class="closebtn fr"></a>
    </div>
    <ul id="progressbar">
        <li class="active">支付开团</li>
        <li class="active">等待邻里<br>参团支付</li>
        <li class="active">达到人数<br>组团成功</li>
        <li class="active">货到您家<br>邻里自提</li>
    </ul>
    <div class="clearfix" style="padding: 0 10px;">
        <div class="form-group">
            <p>
                生鲜娇贵，物流成本高，如果离分享妈妈的家远，可以和邻居们一起拼团，大家都经济。
            </p>
            <p>
                爱心分享您的家作为自提点，方便大家，同时我们每单付您5元略表心意。
            </p>
        </div>
    </div>
    <div class="clearfix recommend-btn" ng-if="vm.weshare.type==0">
        <a ng-click='vm.startGroupShare();' style="background-color: #ffa200; width: 100%;">我要开团</a>
    </div>
    <div class="clearfix recommend-btn" ng-if="vm.weshare.type==1">
        <a ng-click='vm.toShareDetailView(vm.weshare.refer_share_id);' style="background-color: #ffa200; width: 100%;">我要开团</a>
    </div>
</div>
<div class="background-layer" ng-show="vm.showLayer" ng-click="vm.showGroupShareTipDialog=false;vm.showRecommendDialog=false;vm.showLayer=false;vm.showNotifyView=false;vm.showCommentListDialog=false;vm.closeCommentDialog();vm.showBuyingDialog=false;vm.showShareDialog=false;vm.showNotifyShareDialog=false;vm.showNotifyShareOfferDialog=false;vm.showNotifyGetPacketDialog=false;"></div>