<ul class="clearfix header margin-bottom-12">
    <li>
        <img lazy-src="{{vm.weshare.creator.image||'/img/default_user_icon.jpg'}}" ng-click="vm.toUserShareInfo(vm.weshare.creator.id)"/>
        <br>
        <s class="sharer-mark">
            <span ng-if="vm.weshare.creator.is_proxy==1" class="grouper-mark">团长</span>
            <img ng-if="vm.userShareSummery.follower_count>=50" src="/static/weshares/images/v.png" class="v-icon-img"/>
            <img ng-if="vm.supportPysZiti>0" src="/static/weshares/images/hlj.jpeg" class="hlj-icon-img"/>
        </s>
    </li>
    <li class="share-info-item-li">
        <div class="sharer-nickname-display-inline">
            <label ng-click="vm.toUserShareInfo(vm.weshare.creator.id)" ng-bind="::vm.weshare.creator.nickname"></label>
            <a ng-if="!vm.userSubStatus" class="statistics-btn sub-sharer-btn" ng-click="vm.subSharer();" ng-bind="vm.subShareTipTxt">+关注</a>
        </div>
        <s><span ng-bind="::vm.ordersDetail.summery.all_buy_user_count"
                 class="stress-span"></span>&nbsp;报名
            &nbsp;&nbsp;<span ng-click="vm.showCommentListDialog()"
                              ng-if="vm.getOrderCommentLength()>=1&&vm.userSubStatus"><span
                    class="stress-span" ng-bind="::vm.getOrderCommentLength()">0</span>&nbsp;爱心评价</span>
            &nbsp;&nbsp;<span
                    ng-if="vm.getOrderCommentLength()<1&&vm.userSubStatus"><span class="stress-span"
                                                                                 ng-bind="::vm.userShareSummery.follower_count">0</span>&nbsp;粉丝</span>&nbsp;&nbsp;<span
                    ng-if="(vm.currentUser.is_proxy==1||vm.isCreator())&&vm.weshare.proxy_rebate_percent.percent>0">佣金&nbsp;<span
                    ng-bind="::vm.weshare.proxy_rebate_percent.percent+'%'" class="stress-span"></span></span></s>
    </li>
    <ul class="clearfix ul-wrap-btn">
        <li class="header-btn-wrap" ng-if="vm.isCreator()||vm.isManage"><a
                class="statistics-btn order-manage-btn"
                ng-click="vm.toShareOrderList()">订单管理</a>
        </li>
        <li class="header-btn-wrap" ng-if="vm.isCreator()"><a
                class="statistics-btn edit-share-btn"
                ng-click="vm.toUpdate()">修改</a>
        </li>
        <li class="header-btn-wrap" ng-if="!vm.isCreator()&&vm.isProxy()&&vm.weshare.status == 0"><a
                class="statistics-btn tip-share-btn"
                ng-click="vm.showRecommendDialog=true;vm.showLayer=true;">我要推荐</a>
        </li>
        <li class="header-btn-wrap" ng-if="!vm.isCreator()"><a
                class="statistics-btn tip-share-btn"
                ng-click="vm.createMyShare()">我也要分享</a>
        </li>
    </ul>
    <div class="recommend" ng-if="vm.recommendData.length > 0">
        <div class="share-list">
            <div ng-repeat="recommend in vm.recommendData" class="user-avatar" data-uid="recommend.id"><a ng-click="vm.toUserShareInfo(recommend.id)"><img
                    lazy-src="{{recommend.image}}" alt="{{recommend.nickname}}"></a></div>
        </div>
        <span class="share-list-etc">推荐</span>
    </div>
</ul>