<div class="weshare-view">
    <ul class="clearfix header margin-bottom-12">
        <li><img ng-src="{{vm.weshare.creator.image||'/img/default_user_icon.jpg'}}" ng-click="vm.toUserShareInfo(vm.weshare.creator.id)"/></li>
        <li>
            <label ng-click="vm.toUserShareInfo(vm.weshare.creator.id)" ng-bind="vm.weshare.creator.nickname"></label>
            <s ng-if="vm.getOrderCommentLength()<15"><b style="color: #ffa200" ng-bind="vm.userShareSummery.share_count">0</b>&nbsp; <small>分享</small>&nbsp;&nbsp;&nbsp;<b style="color: #ffa200" ng-bind="vm.userShareSummery.follower_count">0</b>&nbsp;<small>粉丝</small></s>
            <s ng-if="vm.getOrderCommentLength()>=15"><b style="color: #ffa200" ng-bind="vm.getOrderCommentLength()">0</b>&nbsp; <small>爱心评价</small><a style="margin-top: 0px;width: 65px;line-height: 0;margin-left: 10px;display: inline;" class="statistics-btn" ng-click="vm.showCommentListDialog()">点击查看</a></s>
            <s>已有<span ng-bind="vm.ordersDetail.summery.all_buy_user_count"></span>人报名</s>
        </li>
        <li ng-if="vm.userShareSummery.follower_count>=50" style="margin-left: 5px;"><label style="font-size: 13px;color: #ffa200; height: 20px;padding-left: 0;">分享达人</label></li>
        <li ng-if="vm.supportPysZiti>0" style="margin-left: 5px;"><img src="/static/weshares/images/hlj.jpeg" style="width: 20px;height: 20px;"/></li>
        <li ng-if="vm.supportPysZiti>0" style="margin-left: 5px;"><label style="font-size: 13px;color: #ffa200;height: 20px;padding-left: 0;">好邻居支持</label></li>
        <ul class="clearfix header margin-bottom-12" style="display: inline-flex;margin-left: 5px;float: right;">
            <li style="margin-right: 5px; float: right;" ng-if="vm.isCreator()"><a style="margin-top: 0px;width: 65px;"
                                                                                   class="statistics-btn"
                                                                                   ng-click="vm.toShareOrderList()">订单管理</a>
            </li>
            <li style="margin-right: 5px; float: right;" ng-if="vm.isCreator()"><a style="margin-top: 0px;width: 65px;"
                                                                                   class="statistics-btn"
                                                                                   ng-click="vm.toUpdate()">修改</a></li>
            <li style="margin-right: 5px; float: right;" ng-if="!vm.isCreator()"><a style="margin-top: 0px;width: 75px;"
                                                                                    class="statistics-btn"
                                                                                    ng-click="vm.createMyShare()">我也要分享</a>
            </li>
        </ul>
    </ul>
    <div class="introduction margin-bottom-12">
        <b></b>
        <div class="status" ng-bind="vm.statusMap[vm.weshare.status]"></div>
        <h1 class='title margin-bottom-12' ng-bind="vm.weshare.title"></h1>
        <p class="margin-bottom-12" ng-hide='_.isEmpty(vm.weshare.description)' ng-bind='vm.weshare.description'></p>
        <!--<a href="#X">更多</a>-->
        <dl class="clearfix images margin-bottom-12">
            <dt ng-repeat="image in vm.weshare.images"><a ng-click="vm.viewImage(image)"><img ng-src="{{image}}"/></a></dt>
        </dl>
        <div class="products form-group" ng-class="{'has-error':vm.productsHasError}">
            <dl class="clearfix product form-control" ng-repeat="product in vm.weshare.products">
                <dd class="fl" ng-if="!vm.checkProductNum(product)||product.store==0">{{product.name}}<span ng-if="!vm.checkProductNum(product)">&nbsp;&nbsp;(<span style="color: red;">抢光了</span>)</span></dd>
                <dd class="fl" ng-if="vm.checkProductNum(product)&&product.store>0">{{product.name}}&nbsp;&nbsp;(仅剩<span style="color: red;" ng-bind="vm.getProductLeftNum(product)"></span>份)</dd>
                <dd class="fr" ng-if="vm.checkProductNum(product)">
                    <a class='btn decrease-btn' ng-click="vm.decreaseProductNum(product)"></a>
                    <span class='num' ng-bind="product.num||0"></span>
                    <a class='btn increase-btn' ng-click="vm.increaseProductNum(product)"></a>
                </dd>
                <dd class="fr" ng-if="!vm.checkProductNum(product)">
                    <span class='num' style="margin-left: 60px;">&nbsp;</span>
                </dd>
                <dd class="fr" style="color: #29AC0E;" ng-bind="product.price/100 | currency:'￥'"></dd>
            </dl>
            <p class='tips'>请输入商品数量</p>
        </div>
        <div class='send-info text-center margin-bottom-12' ng-hide='_.isEmpty(vm.weshare.send_info)'>取货时间: <span ng-bind='vm.weshare.send_info'></span></div>
    </div>
    <div class="orders">
        <ul class="order clearfix margin-bottom-12" ng-class="{'my-order': vm.isOwner(order)}" ng-repeat="order in vm.ordersDetail.orders">
            <li class='buyer-image'><img ng-click="vm.toUserShareInfo(order.creator)" ng-src="{{vm.ordersDetail.users[order.creator]['image']||'/img/default_user_icon.jpg'}}"/></li>
            <li class="detail" ng-if='order.status!=9'>
                <b></b>
                <p><strong class='buyer-name' ng-bind="vm.ordersDetail.users[order.creator]['nickname']"></strong> 已经报名
                    <span ng-if="order.status==9" class="done-status"><i class="fa fa-heart fa-2x"></i></span>
                    <strong ng-if="order.status==21" class="paid-status">待发货</strong>
                    <strong ng-if="order.status==2" class="shipped-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                    <strong ng-if="order.status==3" class="received-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                    <strong ng-if="order.status==1" class="paid-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                </p>
                <span class='display-name' ng-hide="_.isEmpty(vm.getOrderDisplayName(order.id))" ng-bind="vm.getOrderDisplayName(order.id)"></span>
                <div style="display: inline-flex;width: 100%;">
                    <div><span class='created-at' ng-bind="order.created"></span></div>
                    <div style="float: right;margin-left: 35%;" ng-if="order.status==3&&vm.isOwner(order)" ng-click="vm.showCommentDialog(order)"><div class="commenting-o"><i class="fa fa-commenting-o fa-lg"></i></div></div>
                </div>
                <div class="send-info" ng-if="vm.isOwner(order)">
                    <span>姓名:</span>
                    <span ng-bind="order.consignee_name"></span>
                    <br>
                    <span>手机:</span>
                    <span ng-bind="order.consignee_mobilephone"></span>
                    <br>
                    <span>地址:</span>
                    <span ng-bind="order.consignee_address"></span>
                    <br/>
                    <a class="btn confirm-btn" ng-click="vm.confirmReceived(order)" ng-show="order.status==2"><span ng-if="order.ship_mark=='pys_zi_ti' || order.ship_mark=='self_zi_ti'">已收货</span><span ng-if="order.ship_mark=='kuai_di'">已签收</span></a>
                    <a class="btn order-confirmed-btn" ng-show="order.status==3"><span ng-if="order.ship_mark=='pys_zi_ti' || order.ship_mark=='self_zi_ti'">已收货</span><span ng-if="order.ship_mark=='kuai_di'">已签收</span></a>
                </div>
                <span ng-if='vm.isShowShipCode(order);' class="display-name" style="background: darkgray;" ng-bind="vm.getShipCode(order);"></span>
            </li>
            <li class="detail" ng-if='order.status==9'>
                <b></b>
                <p><strong class='buyer-name' ng-bind="vm.ordersDetail.users[order.creator]['nickname']"></strong>
                    <span class="done-status"><i class="fa fa-heart fa-2x"></i></span>
                </p>
                <span class='display-name' ng-hide="_.isEmpty(vm.getOrderComment(order.id).body)" ng-bind="vm.getOrderComment(order.id).body"></span>
                <div style="display: inline-flex;width: 97%;">
                    <div style="display: inline-flex;width: 100%;"><span class="small-order-info" ng-bind="vm.getOrderDisplayName(order.id)"></span><span class='created-at' ng-bind="order.created"></span></div>
                    <div style="float: right;" ng-if="order.status==9" ng-click="vm.showCommentDialog(order,vm.getOrderComment(order.id))"><div class="commenting-o"><i class="fa fa-commenting-o fa-lg"></i></div></div>
                </div>
                <div class="send-info" ng-if="vm.showReplies(vm.getOrderComment(order.id).id)">
                    <div ng-repeat="reply in vm.getReplyComments(vm.getOrderComment(order.id).id)" ng-click="vm.showCommentDialog(order,reply)" style="margin-bottom: 8px;">
                        <span ng-bind="reply.username" style="font-size: 16px;color:#6EAFD5;"></span>
                        <span ng-bind="reply.body" style="word-break: break-all;"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div style="text-align: center;">
        <a href="http://mp.weixin.qq.com/s?__biz=MjM5MjY5ODAyOA==&mid=209712305&idx=1&sn=ddb8431d97100d7e6305c2bc46d9ae75#rd"><img src="/img/logo_footer.jpg" border="0" style="width: 4.625em;height: 1.583em;"/></a><br/>朋友说—朋友间最真挚的分享
    </div>
</div>

<a ng-if="vm.weshare.status == 2||vm.weshare.status == 1" class="btn stop-btn">报名已截止</a>

<div ng-if="vm.weshare.status==0" class="clearfix starttuan_btn">
    <a ng-if="vm.isCreator()" ng-click="vm.stopShare()" style="background-color: #ffa200;">截止报名</a>
    <a ng-if="!vm.isCreator()" ng-click="vm.buyProducts()" style="background-color: #ffa200;">我要报名</a>
    <a ng-click="vm.showShareDialog=true;vm.showLayer=true;" style="background-color: #29ac0e;">分享给好友一起报名</a>
</div>

<div class="share-dialog" ng-show="vm.showShareDialog">
    <div style="width: 90%; margin: 0 auto; font-size: 1.3em;">点击右上角“…”，分享给好友或朋友圈。</div>
</div>
<!--paid done no red packet-->
<div class="share-dialog" ng-show="vm.showNotifyShareDialog">
    <div style="width: 90%; margin: 0 auto; font-size: 1.3em;">点击右上角“…”，告诉{{vm.weshare.creator.nickname}}我团好了。</div>
</div>
<div class="redpacket" ng-show="vm.showNotifyGetPacketDialog">
    <div class="first-box" ng-click="vm.showNotifyGetPacketDialog=false;vm.showLayer=false;">
        <img class="body" src="/static/weshares/images/redpacket/fools_1.png">
        <img class="user-headimg" ng-src="{{vm.weshare.creator.image||'/static/weshares/images/redpacket/hbss_icon.jpg'}}">
        <div class="hot-click">
            <div style="color:#FFFFFF;font-size:20pt; margin-top: 40%;vertical-align: middle;text-align: center;line-height: 20px;" ng-bind="vm.getPacketNum"></div>
        </div>
        <div class="nickname" ng-bind="vm.weshare.creator.nickname"></div>
        <div class="tips">报名时直接抵现金</div>
    </div>
</div>
<!--paid done has red packet-->
<img src="/static/weshares/images/shareto.png" style="top:0;right: 20px;position: fixed;z-index: 9999;" ng-show="vm.showNotifyShareOfferDialog"/>
<div ng-show="vm.showNotifyShareOfferDialog" style="border: white;position: fixed;top: 58px;left: 8%; z-index: 999;padding: 10px 10px 10px;width: 80%;border-radius: 15px;">
    <div style="background: #ff9426; border-radius: 5px 5px 0px 0px;">
        <div style="display: inline-block; margin-left: 10px;margin-bottom: 10px;margin-top: 10px;">
            <img style="width: 40px;height: 40px;" ng-src="/static/weshares/images/redpacket/hbicon.png"/>
            <div style="color: #FFFFFF;margin-left:10px;display: inline-block;">
                <div style="font-size: small; margin-bottom: 10px;">
                    恭喜发财，大吉大利！
                </div>
                <div style="font-size: small;">
                    分享领取红包
                </div>
            </div>
        </div>
    </div>
    <div style="background: #FFFFFF;color: darkgray;font-size: smaller;border-radius:0px 0px 5px 5px;">
        &nbsp;&nbsp;&nbsp;{{vm.weshare.creator.nickname}}的红包
    </div>
</div>
<div class="background-layer" ng-show="vm.showLayer" ng-click="vm.showLayer=false;vm.showBuyingDialog=false;vm.showShareDialog=false;vm.showNotifyShareDialog=false;vm.showNotifyShareOfferDialog=false;vm.showNotifyGetPacketDialog=false;"></div>
<script type="text/ng-template" id="commentDialog">
    <div class="ngdialog-message">
        <h3 style="text-align: center;">填写评论</h3>
        <textarea style='width: 100%;height: 70px;font-size: medium;margin-top: 10px;' ng-model="vm.commentData.comment_content" placeholder="{{vm.commentTipInfo}}"></textarea>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="vm.submitComment()">提交</button>
    </div>
</script>
<script type="text/ng-template" id="commentListDialog">
    <div class="comment_list_box">
        <div id="box_title"><span ng-bind="vm.getOrderCommentLength()"></span>爱心评价</div>
        <div id="con">
            <div class="bottomcover" style="z-index:2;"></div>
            <ul>
                <li ng-repeat="orderComment in vm.orderComments">
                    <div class="div_left"><img ng-src="{{vm.ordersDetail.users[orderComment.user_id]['image']}}"></div>
                    <div class="div_right">
                        <span ng-bind="orderComment.username"></span>：<p ng-bind="orderComment.body" style="word-break: break-all;display: inline;"></p>
                        <div class="twit_item_time" ng-bind="orderComment.created"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>