<div class="orders">
    <!--user order or child share data-->
    <ul class="order clearfix margin-bottom-12" ng-class="{'my-order': vm.isOwner(order)}" ng-repeat="order in vm.ordersDetail.orders">
        <!--default order-->
        <li class='buyer-image'>
            <img ng-click="vm.toUserShareInfo(order.creator)" lazy-src="{{vm.ordersDetail.users[order.creator]['image']|| vm.staticFilePath + '/avatar/s/default.jpg'}}"/>
            <p ng-if="vm.ordersDetail.level_data[order.creator]" ng-bind="::vm.ordersDetail.level_data[order.creator]['level_name']" style="color: #49bc6e;font-size: 11px;"></p>
        </li>
        <li class="detail" ng-if='order.status!=9'>
            <b></b>
            <p><strong class='buyer-name' ng-bind="vm.ordersDetail.users[order.creator]['nickname']"></strong> 已经报名
                <span ng-if="order.status==9" class="done-status"><i class="fa fa-heart fa-lg"></i></span>
                <strong ng-if="order.status==21" class="paid-status">待发货</strong>
                <strong ng-if="order.status==14" class="refunding-status">退款中</strong>
                <strong ng-if="order.status==4" class="refund-status">已退款</strong>
                <strong ng-if="order.status==2" class="shipped-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                <strong ng-if="order.status==3" class="received-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                <strong ng-if="order.status==1" class="paid-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
            </p>
            <span class='display-name' ng-hide="_.isEmpty(vm.getOrderDisplayName(order.id))" ng-bind="::vm.getOrderDisplayName(order.id)"></span>
            <div style="display: inline-flex;width: 100%;" ng-if="vm.isCurrentUserRecommend(order)&&(order.cate_id > 0&&((order.status!=3)||(order.status==3&&!vm.isOwner(order)&&!vm.isCreator())))">
                <div style="display: inline;width: 100%;"><span style="width: 30%;" class='created-at' ng-bind="::vm.getFormatDate(order.created)"></span><span ng-click="vm.toRecommendUserInfo(order)" style="margin-top: -30px;line-height: 20px;margin-left: 10px;background-color: #29AC0E;padding: 3px;float: right;display: block;width: auto;" class="statistics-btn" ng-bind="::vm.getRecommendInfo(order)"></span></div>
            </div>
            <div style="display: inline-flex;width: 100%;" ng-if="!vm.isCurrentUserRecommend(order)||!(order.cate_id > 0&&((order.status!=3)||(order.status==3&&!vm.isOwner(order)&&!vm.isCreator())))">
                <div style="width: 29%;"><span style="width: 100%;" class='created-at' ng-bind="::vm.getFormatDate(order.created)"></span></div>
                <div style="float: right;margin-left: 49%; width: 30%;"
                     ng-if="order.status==3&&vm.isOwner(order)" ng-click="vm.showCommentDialog(order)">
                    <div class="commenting-o"><i class="fa fa-commenting-o fa-lg"></i></div>
                </div>
                <div style="float: right;margin-left: 37%; width: 30%;"
                     ng-if="order.status==3&&vm.isCreator()&&!order.notify"
                     ng-click="vm.notifyUserToComment(order)">
                    <div class="commenting-o"><a
                            style="margin-top: 0px;width: 65px;line-height: 0;margin-left: 10px;display: inline;"
                            class="statistics-btn">求评价</a></div>
                </div>
            </div>
            <div class="send-info" ng-if="vm.isOwner(order)">
                <span>姓名:</span>
                <span ng-bind="::order.consignee_name"></span>
                <br>
                <span>手机:</span>
                <span ng-bind="::order.consignee_mobilephone"></span>
                <br>
                <span>地址:</span>
                <span ng-bind="::order.consignee_address"></span>
                <br/>
                <a class="btn confirm-btn" ng-click="vm.confirmReceived(order)" ng-show="order.status==2"><span ng-if="order.ship_mark=='pys_ziti' || order.ship_mark=='self_ziti' || order.ship_mark=='pin_tuan'">点此收货</span><span ng-if="order.ship_mark=='kuai_di'">点此签收</span></a>
                <a class="btn order-confirmed-btn" ng-show="order.status==3"><span ng-if="order.ship_mark=='pys_ziti' || order.ship_mark=='self_ziti' || order.ship_mark=='pin_tuan'">已收货</span><span ng-if="order.ship_mark=='kuai_di'">已签收</span></a>
            </div>
            <span ng-if='vm.isShowShipCode(order);' class="display-name" style="background: darkgray;" ng-bind="::vm.getShipCode(order);"></span>
        </li>
        <li class="detail" ng-if='order.status==9'>
            <b></b>
            <p><strong class='buyer-name' ng-bind="::vm.ordersDetail.users[order.creator]['nickname']"></strong>
                <span class="done-status"><i class="fa fa-heart fa-lg"></i></span>
            </p>
            <span class='display-name' ng-hide="_.isEmpty(vm.getOrderComment(order.id).body)" ng-bind="::vm.getOrderComment(order.id).body"></span>
            <div style="display: inline-flex;width: 97%;">
                <div style="display: inline-flex;width: 100%;"><span class="small-order-info" ng-bind="::vm.getOrderDisplayName(order.id)"></span></div>
                <div style="float: right;" ng-if="order.status==9" ng-click="vm.showCommentDialog(order,vm.getOrderComment(order.id))"><div class="commenting-o"><i class="fa fa-commenting-o fa-lg"></i></div></div>
            </div>
            <div class="send-info" ng-if="vm.showReplies(vm.getOrderComment(order.id).id)">
                <div ng-repeat="reply in vm.getReplyComments(vm.getOrderComment(order.id).id)" style="margin-bottom: 8px;" ng-click="vm.showCommentDialog(order,reply)">
                    <div ng-if="reply.is_reply==0" style="display: inline-table;">
                        <a ng-bind="::reply.username" style="color:#6EAFD5;" ng-click="vm.toUserShareInfo(reply.user_id)"></a><span>:&nbsp;</span>
                    </div>
                    <div ng-if="reply.is_reply==1" style="display: inline-table;">
                        <a ng-bind="::reply.username" style="color:#6EAFD5;" ng-click="vm.toUserShareInfo(reply.user_id)"></a><span>回复</span><a ng-bind="::reply.reply_username" style="color:#6EAFD5;" ng-click="vm.toUserShareInfo(reply.reply_user_id)"></a><span>:&nbsp;</span>
                    </div>
                    <span ng-bind="::reply.body" style="word-break: break-all;" ng-click="vm.showCommentDialog(order,reply)"></span>
                </div>
            </div>
        </li>
    </ul>

    <!--page orders-->
    <div infinite-scroll='vm.shareOrder.nextPage()' infinite-scroll-disabled='vm.shareOrder.noMore||vm.shareOrder.busy' infinite-scroll-distance='1'>
        <ul class="order clearfix margin-bottom-12" ng-class="{'my-order': vm.isOwner(order)}" ng-repeat="order in vm.shareOrder.orders">
            <!--default order-->
            <li class='buyer-image'>
                <img ng-click="vm.toUserShareInfo(order.creator)" lazy-src="{{vm.shareOrder.users[order.creator]['image']|| vm.staticFilePath + '/avatar/s/default.jpg'}}"/>
                <p ng-if="vm.shareOrder.levelData[order.creator]" ng-bind="::vm.shareOrder.levelData[order.creator]['level_name']" style="color: #49bc6e;font-size: 11px;"></p>
            </li>
            <li class="detail" ng-if='order.status!=9'>
                <b></b>
                <p><strong class='buyer-name' ng-bind="vm.shareOrder.users[order.creator]['nickname']"></strong> 已经报名
                    <span ng-if="order.status==9" class="done-status"><i class="fa fa-heart fa-lg"></i></span>
                    <strong ng-if="order.status==21" class="paid-status">待发货</strong>
                    <strong ng-if="order.status==14" class="refunding-status">退款中</strong>
                    <strong ng-if="order.status==4" class="refund-status">已退款</strong>
                    <strong ng-if="order.status==2" class="shipped-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                    <strong ng-if="order.status==3" class="received-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                    <strong ng-if="order.status==1" class="paid-status" ng-bind="vm.getStatusName(order.status, order.ship_mark)"></strong>
                </p>
                <span class='display-name' ng-hide="_.isEmpty(vm.getOrderDisplayName(order.id))" ng-bind="::vm.getOrderDisplayName(order.id)"></span>
                <div style="display: inline-flex;width: 100%;" ng-if="vm.isCurrentUserRecommend(order)&&(order.cate_id > 0&&((order.status!=3)||(order.status==3&&!vm.isOwner(order)&&!vm.isCreator())))">
                    <div style="display: inline;width: 100%;"><span style="width: 30%;" class='created-at' ng-bind="::vm.getFormatDate(order.created)"></span><span ng-click="vm.toRecommendUserInfo(order)" style="margin-top: -30px;line-height: 20px;margin-left: 10px;background-color: #29AC0E;padding: 3px;float: right;display: block;width: auto;" class="statistics-btn" ng-bind="::vm.getRecommendInfo(order)"></span></div>
                </div>
                <div style="display: inline-flex;width: 100%;" ng-if="!vm.isCurrentUserRecommend(order)||!(order.cate_id > 0&&((order.status!=3)||(order.status==3&&!vm.isOwner(order)&&!vm.isCreator())))">
                    <div style="width: 29%;"><span style="width: 100%;" class='created-at' ng-bind="::vm.getFormatDate(order.created)"></span></div>
                    <div style="float: right;margin-left: 49%; width: 30%;"
                         ng-if="order.status==3&&vm.isOwner(order)" ng-click="vm.showCommentDialog(order)">
                        <div class="commenting-o"><i class="fa fa-commenting-o fa-lg"></i></div>
                    </div>
                    <div style="float: right;margin-left: 37%; width: 30%;"
                         ng-if="order.status==3&&vm.isCreator()&&!order.notify"
                         ng-click="vm.notifyUserToComment(order)">
                        <div class="commenting-o"><a
                                style="margin-top: 0px;width: 65px;line-height: 0;margin-left: 10px;display: inline;"
                                class="statistics-btn">求评价</a></div>
                    </div>
                </div>
            </li>
            <li class="detail" ng-if='order.status==9'>
                <b></b>
                <p><strong class='buyer-name' ng-bind="::vm.shareOrder.users[order.creator]['nickname']"></strong>
                    <span class="done-status"><i class="fa fa-heart fa-lg"></i></span>
                </p>
                <span class='display-name' ng-hide="_.isEmpty(vm.getOrderComment(order.id).body)" ng-bind="::vm.getOrderComment(order.id).body"></span>
                <div style="display: inline-flex;width: 97%;">
                    <div style="display: inline-flex;width: 100%;"><span class="small-order-info" ng-bind="::vm.getOrderDisplayName(order.id)"></span><span class='created-at' ng-bind="::vm.getFormatDate(order.created)"></span></div>
                    <div style="float: right;" ng-if="order.status==9" ng-click="vm.showCommentDialog(order,vm.getOrderComment(order.id))"><div class="commenting-o"><i class="fa fa-commenting-o fa-lg"></i></div></div>
                </div>
                <div class="send-info" ng-if="vm.showReplies(vm.getOrderComment(order.id).id)">
                    <div ng-repeat="reply in vm.getReplyComments(vm.getOrderComment(order.id).id)" style="margin-bottom: 8px;" ng-click="vm.showCommentDialog(order,reply)">
                        <div ng-if="reply.is_reply==0" style="display: inline-table;">
                            <a ng-bind="::reply.username" style="color:#6EAFD5;" ng-click="vm.toUserShareInfo(reply.user_id)"></a><span>:&nbsp;</span>
                        </div>
                        <div ng-if="reply.is_reply==1" style="display: inline-table;">
                            <a ng-bind="::reply.username" style="color:#6EAFD5;" ng-click="vm.toUserShareInfo(reply.user_id)"></a><span>回复</span><a ng-bind="::reply.reply_username" style="color:#6EAFD5;" ng-click="vm.toUserShareInfo(reply.reply_user_id)"></a><span>:&nbsp;</span>
                        </div>
                        <span ng-bind="::reply.body" style="word-break: break-all;" ng-click="vm.showCommentDialog(order,reply)"></span>
                    </div>
                </div>
            </li>
        </ul>
        <div style="text-align: center;color: #ffa200;margin-bottom: 10px;" ng-show='vm.shareOrder.busy'>加载中...</div>
    </div>
</div>
