<a href="/weshares/add?from=share_view" class="share-banner"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/share-banner-new.gif" /></a>
<ul class="sharer clearfix">
    <li class="fl detail-head">
        <img lazy-src="{{vm.weshare.creator.image|| vm.staticFilePath + '/avatar/s/default.jpg'}}" fallback-src="{{::vm.staticFilePath}}/static/img/default_avatar.png" ng-click="vm.toUserShareInfo(vm.weshare.creator.id)"/>
    </li>
    <li class="sharer-label" ng-bind='"L"+vm.weshare.creator.level.data_value'>L0</li>
    <li class="fl">
        <div class="nickname" ng-bind="::vm.weshare.creator.nickname"></div>
        <div style=" margin-left:10px;">
            <label class="sharer-level"></label>
            <label class="sharer-fans">粉丝<span ng-bind="::vm.userShareSummery.follower_count">0</span></label>
        </div>
    </li>
    <li class="fr ta"><a ng-if="vm.currentUser" class="faq-sharer-btn" ng-click="vm.redirectFaq()" ng-bind="::vm.faqTipText">私信TA</a></li>
    <li class="fr ta">
        <a ng-if="!vm.userSubStatus" ng-click="vm.subSharer();">+关注</a>
        <a ng-if="vm.userSubStatus" ng-click="vm.unSubSharer();">取消关注</a>
    </li>

</ul>
<div class="product-image" ng-if="vm.weshare.images.length > 0">
    <img ng-src="{{vm.weshare.images[0]}}" >
</div>
<div class="sharedetail">
    <h1 class='title margin-bottom-12' ng-bind="vm.weshare.title"></h1>
    <p><span>报名(<span ng-bind="::vm.totalBuyCount">0</span>)</span> &nbsp &nbsp <span>浏览(<span class="stress-span">写死</span>)</span></p>
    <div>
        <div ng-if="vm.weshare.refer_share_id==3814 || vm.weshare.id==3814">
            <iframe frameborder="0" width="100%" src="http://v.qq.com/iframe/player.html?vid=t01719wisq4&tiny=0&auto=0" allowfullscreen></iframe>
        </div>
        <div ng-if="vm.weshare.refer_share_id==3822 || vm.weshare.id==3822">
            <iframe frameborder="0" width="100%" src="http://v.qq.com/iframe/player.html?vid=f0194qcpnvt&tiny=0&auto=0" allowfullscreen></iframe>
        </div>
        <div class="clearfix cp-name"v>
            <p read-more more-text="展开..." less-text="收起" limit="100" class="margin-bottom-12"  ng-hide='_.isEmpty(vm.weshare.description)' content="{{vm.weshare.description | unsafe}}"></p>
        </div>
    </div>
</div>
<ul class="take-time clearfix ">
    <li>
        取货时间：<span ng-bind='vm.weshare.send_info'></span>
    </li>
</ul>
<ul class="clearfix recommend-sharer" ng-if="vm.recommendData.length > 0">
    <li class="fl" ng-repeat="recommend in vm.recommendData" data-uid="recommend.id">
        <a ng-click="vm.toUserShareInfo(recommend.id)">
            <img lazy-src="{{recommend.image}}" alt="{{recommend.nickname}}">
        </a>
    </li>
    <li class="tz-recommend fl"><span ng-bind="vm.recommendData.length">0</span>位团长推荐</li>
</ul>
<ul class="clearfix introduce">
    <li class="me-introduce fl"><span class="introduce">我要推荐</span></li>
    <li class="introduce-money fl">推荐佣金5%</li>
</ul>

<p class="product-title">产品列表</p>
<div class="product">
    <ul class="clearfix">
        <li class="fl">
            <div class="product-name">1：盐冻厄瓜多尔白虾1kg</div>
            <div class="product-price">¥165</div>
        </li>
    </ul>
    <dl class="clearfix">
        <dd class="fr add-subtract"></dd>
        <dd class="fr amount">1</dd>
        <dd class="fr add-subtract"></dd>
    </dl>
</div>
<div class="product">
    <ul class="clearfix">
        <li class="fl">
            <div class="product-name">2：盐冻厄瓜多尔白虾1kg</div>
            <div class="product-price">¥165</div>
        </li>
    </ul>
    <dl class="clearfix">
        <dd class="fr add-subtract"></dd>
        <dd class="fr amount">1</dd>
        <dd class="fr add-subtract"></dd>
    </dl>
</div>
<p class="product-title">报名列表</p>
<ul class="clearfix apply">
    <li><a href="#X" class="focus-apply line-right">报名(10)</a></li>
    <li><a href="#X">评价(5)</a></li>
</ul>

<div class="apply-list clearfix">
    <div style=" position: relative;">
        <div class="apply-details self-details">
            <ul class="clearfix">
                <li class="self fl">我</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">待发货</li>
            </ul>
            <ul class="clearfix self-massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle-self triangle-white-self"></div>
            <div class="triangle-self triangle-orange-self"></div>
        </div>
        <div class="apply-head self-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>
    <div style=" position: relative;">
        <div class="apply-details self-details">
            <ul class="clearfix">
                <li class="self fl">我</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">待收货</li>
            </ul>
            <ul class="clearfix self-massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pass fl"><a class="status-btn">确认收货啦</a></li>
                <li class="pass fl"><a class="status-btn">看货到哪了</a></li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle-self triangle-white-self"></div>
            <div class="triangle-self triangle-orange-self"></div>
        </div>
        <div class="apply-head self-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>
    <div style=" position: relative;">
        <div class="apply-details self-details">
            <ul class="clearfix">
                <li class="self fl">我</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">待评价</li>
            </ul>
            <ul class="clearfix self-massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pass fl"><a class="status-btn">小主说两句评价呗</a></li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle-self triangle-white-self"></div>
            <div class="triangle-self triangle-orange-self"></div>
        </div>
        <div class="apply-head self-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>
    <div style=" position: relative;">
        <div class="apply-details self-details">
            <ul class="clearfix">
                <li class="self fl">我</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">已评价</li>
            </ul>
            <ul class="clearfix self-massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pass fl"><a class="status-btn">小主还可追评一次</a></li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle-self triangle-white-self"></div>
            <div class="triangle-self triangle-orange-self"></div>
        </div>
        <div class="apply-head self-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>
    <div style=" position: relative;">
        <div class="apply-details">
            <ul class="clearfix">
                <li class="self fl">航三续航死滴航死滴</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">待发货</li>
            </ul>
            <ul class="clearfix massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle triangle-white"></div>
            <div class="triangle triangle-gray"></div>
        </div>
        <div class="apply-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>
    <div style=" position: relative;">
        <div class="apply-details">
            <ul class="clearfix">
                <li class="self fl">航三续航死滴航死滴</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">待收货</li>
            </ul>
            <ul class="clearfix massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pass fl"><a class="status-btn">确认收货啦</a></li>
                <li class="pass fl"><a class="status-btn">看货到哪了</a></li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle triangle-white"></div>
            <div class="triangle triangle-gray"></div>
        </div>
        <div class="apply-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>

    <div style=" position: relative;">
        <div class="apply-details">
            <ul class="clearfix">
                <li class="self fl">航三续航死滴航死滴</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">待评价</li>
            </ul>
            <ul class="clearfix massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pass fl"><a class="status-btn">小主说两句评价呗</a></li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle triangle-white"></div>
            <div class="triangle triangle-gray"></div>
        </div>
        <div class="apply-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>
    <div style=" position: relative;">
        <div class="apply-details">
            <ul class="clearfix">
                <li class="self fl">Alice</li>
                <li class="description fl">已经报名</li>
                <li class="status fr">已评价</li>
            </ul>
            <ul class="clearfix massage">
                <li>Alice&nbsp  13777777777</li>
                <li>北京市朝阳区住邦2000&nbsp 3号楼2001</li>
            </ul>
            <ul class="clearfix">
                <li class="product-much">盐冻厄瓜多尔白虾1kgX1</li>
            </ul>
            <ul class="clearfix">
                <li class="pass fl"><a class="status-btn">小主还可追评一次</a></li>
            </ul>
            <ul class="clearfix">
                <li class="pay-time ">01-21&nbsp  09:35</li>
            </ul>
            <div class="triangle triangle-white"></div>
            <div class="triangle triangle-gray"></div>
        </div>
        <div class="apply-head"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png"></div>
    </div>
</div>

<!--支付成功提示层-->
<div style=" margin-left: -32.5%; margin-top: -85px; display: none;" class="pay-success">
    <h1>报名成功</h1>
    <ul class="clearfix">
        <li class="fl"><img ng-src="{{::vm.staticFilePath}}/static/weshares/images/img.png" /></li>
        <li class="sharer-name" style="overflow: hidden;">关注小宝妈<br/>即时知道TA的分享</li>
    </ul>
    <dl class="clearfix">
        <dt><a href="#X">取消</a></dt>
        <dt><a class="attention" href="#X">关注</a></dt>
    </dl>
</div>

<!--分享管理层-->
<div class="share-control" style="display: none;">
    <a href="#X" class="control-order">订单管理</a>
    <a href="#X" class="control-order">修改分享</a>
    <a href="#X" class="control-detele">取消</a>
</div>


/*toast提醒*/
<div class="toast" style="display: none;">关注已取消，不再收到TA的消息</div>

<div class="layer-bg" style="display: none;"></div>

<div ng-if="vm.weshare.type==0||vm.weshare.type==4||vm.weshare.type==6">
    <ng-include src="vm.staticFilePath + '/static/weshares/templates/weshare-view-default-nav.html?v0.6.4'"></ng-include>
</div>
