<footer class="channel_bottom">
    <a class="btm_item" href="/share_opt/index.html">
        <i ng-if="vm.showUnReadMark" style="background:#f00;border-radius:50%;width:15px;height:15px;top:2px;left:12%;position:absolute; display: block;"></i>
        <p class="iconfont" style="height: 16px;"><i class="fa fa-users"></i></p>
        <b>朋友说</b>
    </a>
    <a class="new" ng-if="!vm.isCreator()&&!vm.supportGroupBuy()&&vm.weshare.status == 0" ng-click="vm.buyProducts()">我要报名</a>
    <a class="new" ng-if="!vm.isCreator()&&vm.supportGroupBuy()&&vm.weshare.status == 0" ng-click="vm.buyProducts()" style="width: 28%;">我要报名</a>
    <a class="new" ng-if="!vm.isCreator()&&vm.supportGroupBuy()&&vm.weshare.status == 0" ng-click="vm.showGroupShareTipDialog=true;vm.showLayer=true;" style="width: 28%;margin-right: 7%;">我要拼团</a>
    <a class="new" ng-if="vm.isCreator()&&vm.weshare.status == 0&&vm.notifyType() == 1" ng-click='vm.notifyFans();'
       style="width: 28%;">团购提醒</a>
    <a class="new" ng-if="vm.isCreator()&&vm.weshare.status == 0&&vm.notifyType() == 0" ng-click='vm.sendNewShareMsg();'
       style="width: 28%;">建团提醒</a>
    <a class="new" ng-if="vm.isCreator()&&vm.weshare.status == 0" ng-click='vm.stopShare();'
       style="width: 28%; margin-right: 7%;">截止报名</a>
    <a class="new" ng-if="!vm.isCreator()&&(vm.weshare.status == 2||vm.weshare.status == 1)"
       style="background-color:#9EB1BD;">报名已截止</a>
    <a class="new" ng-if="vm.isCreator()&&(vm.weshare.status == 2||vm.weshare.status == 1)"
       style="background-color:#9EB1BD;width: 28%;">报名已截止</a>
    <a class="new" ng-if="vm.isCreator()&&(vm.weshare.status == 2||vm.weshare.status == 1)"
       style="width: 28%; margin-right: 7%;" ng-click="vm.cloneShare()">重新开团</a>
    <a class="btm_item" href="/weshares/user_share_info">
        <p class="iconfont" style="height: 16px;"><i class="fa fa-user"></i></p>
        <b>我的</b>
    </a>
</footer>