<ul class="clearfix header margin-bottom-12">
    <li>
        <img lazy-src="{{vm.weshare.creator.image||'/img/default_user_icon.jpg'}}" ng-click="vm.toUserShareInfo(vm.weshare.creator.id)"/>
        <br>
        <s style="display: inline-flex;">
            <span ng-if="vm.weshare.creator.is_proxy==1" style="color: white; font-size: 13px; font-weight: 700; padding: 2px; margin-top: 6px; background-color: #29AC0E; text-align: center; ">团长</span>
            <img ng-if="vm.userShareSummery.follower_count>=50" src="/static/weshares/images/v.png" style="width: 20px;height: 20px;position: absolute;top: 44px;left: 41px;"/>
            <img ng-if="vm.supportPysZiti>0" src="/static/weshares/images/hlj.jpeg" style="width: 25px;height: 25px;"/>
        </s>
    </li>
    <li>
        <div style="display: -webkit-inline-box">
            <label ng-click="vm.toUserShareInfo(vm.weshare.creator.id)" ng-bind="::vm.weshare.creator.nickname"></label>
            <a ng-if="!vm.userSubStatus" style="margin-left: 5px;margin-top: 3px;width: 50px;line-height: 20px;background-color: #F2651A;" class="statistics-btn" ng-click="vm.subSharer();" ng-bind="vm.subShareTipTxt">+关注</a>
        </div>
        <s>目标<span style="color: #ffa200;" ng-bind="::vm.weshareSettings.self_ziti.limit"></span>人&nbsp;&nbsp;<span ng-bind="::vm.ordersDetail.summery.all_buy_user_count" style="color: #ffa200;"></span>&nbsp;报名 &nbsp;&nbsp;<span ng-click="vm.showCommentListDialog()" ng-if="vm.getOrderCommentLength()>=1&&vm.userSubStatus"><span style="color: #ffa200" ng-bind="::vm.getOrderCommentLength()">0</span>&nbsp;爱心评价</span>&nbsp;&nbsp;<span ng-if="vm.getOrderCommentLength()<1&&vm.userSubStatus"><span style="color: #ffa200" ng-bind="::vm.userShareSummery.follower_count">0</span>&nbsp;粉丝</span>&nbsp;&nbsp;</s>
    </li>
    <ul class="clearfix">
        <li style="margin-right: 5px; float: right;"><a style="margin-top: 3px;width: 75px;" class="statistics-btn" ng-click="vm.showGroupShareTipDialog=true;vm.showLayer=true;">我也要拼团</a></li>
        <li style="margin-right: 5px; float: right;"><a style="margin-top: 3px;width: 65px;" class="statistics-btn">邻里拼</a></li>
    </ul>
</ul>